{% extends 'AppBundle:Components/Page:page-service.html.twig' %}

{% trans_default_domain "assisted-digital" %}

{% block htmlTitle %}Administration - Users{% endblock %}
{% block pageTitle %}Sign in as deputy {% endblock %}

{% block validationSummary %}
{% endblock %}


{% block pageBody %}

     {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.email,'email', { 'labelClass': 'required' }) }}
    {{ form_input(form.password,'password', { 'labelClass': 'required' } ) }}

    {{ form_submit(form.login,'signin', {'buttonClass': 'behat-link-login'}) }}

    {{ form_end(form) }}

   <p>
    <a href="{{ path('ad_homepage') }}">Go back to Assisted Digital homepage</a>
   </p>
{% endblock %}
