{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-prof-deputy-costs-estimate" %}
{% trans_default_domain translationDomain %}
{% set page = 'managementCost' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <p class="heading-small push-half--bottom  text">
        {{ (page ~ '.pageSectionDescription') | trans(transOptions) }}
    </p>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div>
        {{ form_input(form.profDeputyManagementCostAmount, 'amount', {
            'inputPrefix' : '£',
            'inputClass' : 'form-control-1-4 js-format-currency',
            'labelText' : (page ~ '.form.profDeputyCostsEstimateManagementCost.label') | trans,
            'labelRaw': true
        }) }}
    </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
