{% extends 'AppBundle:Layouts:application.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-prof-deputy-costs-estimate" %}
{% set transOptions = {
'%client%': report.client.firstname | e,
'%nextStartDate%': report.nextStartDate | date("j F Y"),
'%nextEndDate%': report.nextEndDate | date("j F Y")
} %}
{% trans_default_domain translationDomain %}
{% set page = 'startPage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text behat-region-start-page">
        <p>{{ (page ~ '.pageSectionDescription1') | trans(transOptions) }}</p>
        <p>{{ (page ~ '.pageSectionDescription2') | trans(transOptions) }}</p>
    </div>

    <a href="{{ path('prof_deputy_costs_estimate_how_charged', { 'reportId': report.id}) }}" class="button button-start behat-link-start">{{ (page ~ '.startButton') | trans }}</a>

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
    'report': report,
    'sectionId': 'profDeputyCostsEstimates',
    } %}
{% endblock %}
