{% block sort_code_widget %}
    <div class="sort_code_widget">
            {{ form_errors(form) }}
            {{form_widget(form.sort_code_part_1)}}-{{form_widget(form.sort_code_part_2)}}-{{form_widget(form.sort_code_part_3)}}
    </div>
{% endblock %}

{% block account_number_widget %}
    <div class="account_number_widget">
            {{form_widget(form.part_1)}}
            {{form_widget(form.part_2)}}
            {{form_widget(form.part_3)}}
            {{form_widget(form.part_4)}}
    </div>
{% endblock %}