{% block change_password_widget %}
    <fieldset>
        <legend class="form-label">Change your password</legend>
        <div class="form-change-password">
            <div class="form-group">
                {{ form_label(form.current_password,'Current Password') }}
                {{ form_widget(form.current_password) }}
            </div>
            <div class="form-group">
                {{ form_label(form.new_password.first, 'New password') }}
                {{ form_widget(form.new_password.first) }}
            </div>
            <div class="form-group">
                {{ form_label(form.new_password.second, 'Confirm new password') }}
                {{ form_widget(form.new_password.second) }}
            </div>
        </div>
    </fieldset>
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="errors">
        {%- for error in errors -%}
            <li class="error-message">{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}
