{% set translationDomain = "overview" %}
{% trans_default_domain translationDomain %}

{% include 'AppBundle:Components/PageHeader:_report-header.html.twig' %}

{% if reportStatus.isReadyToSubmit and report.isDue %}
    <div id="header-report-submit" class="hero">
        <h2 class="heading">{{ 'reportIsReady' | trans() }}</h2>
        <div class="message"><a class="button-grey submit-link" href="{{ path('report_review', {'reportId': report.id}) }}">{{ 'signAndSubmit' | trans() }}</a></div>
    </div>
{% else %}

<p class="flash flash-news">
    {% for account in report.accounts %}
        {% if not account.accountNumber or (account.requiresBankNameAndSortCode and not account.sortCode) %}
            - We moved your existing asset "{{ account.bank }} {{ account.accountTypeText }}" 
            into a bank account. Please <a href="">click here</a> add add the missing information<br/>
        {% endif %}
        {#{% if account.isJointAccount is null %}
            - {{ account.bank }} {{ account.accountTypeText }}: please specify if it's a joint account. <a href="">Click here</a> to add it <br/>
        {% endif %}#}
    {% endfor %}
</p>
    
{% endif %}
