<div id="{{ subSection }}-sub-section" class="sub-section">
    <h3 class="heading">
        {% if disableedit is defined and disableedit == true %}
            {{ (subSection ~ '.subSectionTitle') | trans({}, translationDomain) }}
        {%  else  %}
            <a href="{{ path(subSection, {reportId: report.id}) }}">{{ (subSection ~ '.subSectionTitle') | trans({}, translationDomain) }}</a>
        {%  endif %}
    </h3>
    <span class="status {{ state }}">{{ status }}</span>

    {% if disableedit is defined and disableedit == true %}
        <span id="edit-{{ subSection }}" class="edit-link disabled">{{ (subSection ~ '.edit') | trans({}, translationDomain) }}</span>
    {% else %}
        <a id="edit-{{ subSection }}" class="edit-link" href="{{ path(subSection, {reportId: report.id}) }}" >
            {{ (subSection ~ '.edit') | trans({}, translationDomain) }}
        </a>
    {% endif %}
    {%  if description is defined and description %}
        <p class="sub-section-description">{{ (subSection ~ '.subSectionDescription') | trans({'%client%':client.fullname}, translationDomain ) }}</p>
    {%  endif %}
    
</div>
