<div id="{{ subSection }}-sub-section" class="sub-section">
    <h3 class="heading">{{ (subSection ~ '.subSectionTitle') | trans({}, translationDomain) }}</h3>
    <a id="help-{{ subSection }}" class="help-link summary">
        <span class="open-text">{{ 'close' | trans({}, translationDomain) }}</span>
        <span class="closed-text">{{ 'help' | trans({}, translationDomain) }}</span>
    </a>
    <a id="edit-{{ subSection }}" class="edit-link" href="{{ path(subSection, {reportId: report.id}) }}" >
        {{ (subSection ~ '.edit') | trans({}, translationDomain) }}
    </a>
    <div id="{{ subSection }}-guidance" class="guidance content">
        {% include 'AppBundle:Components/Page:_sub-section-description.html.twig' with {
            transDomain: translationDomain,
            subSectionDescription: subSection ~ '.subSectionDescription'
        } %}
        {%  if list is defined and list %}
            {% include 'AppBundle:Components/Page:_page-section-list.html.twig' with {
                transDomain: translationDomain,
                pageSectionList: subSection ~ '.subSectionList'
            } %}
        {%  endif %}
        {%  if info is defined and info %}
            {% include 'AppBundle:Components/Page:_sub-section-description.html.twig' with {
                transDomain: translationDomain,
                subSectionDescription: subSection ~ '.subSectionInfo'
            } %}
        {% endif %}
        {%  if warning is defined and warning %}
            {% include 'AppBundle:Components/Page:_page-section-warning.html.twig' with {
            transDomain: translationDomain,
            pageSectionWarning: subSection ~ '.subSectionWarning'
            } %}
        {% endif %}
    </div>
    
    {%  if data is defined %}
        <h1>{{  data | length }}</h1>
    {% endif %}
</div>
    
