{% if disableedit is defined and disableedit == true %}
    {% set allowEdit = false %}
{% else %}
    {% set allowEdit = true %}
{% endif %}

<div id="{{ subSection }}-sub-section" class="sub-section">
    {% if allowEdit == true %}
        <a id="edit-{{ subSection }}" href="{{ path(subSection, {reportId: report.id}) }}" aria-label="{{ (subSection ~ '.edit') | trans({}, translationDomain) }}">
    {% endif %}
    
    <h3 class="heading">{{ (subSection ~ '.subSectionTitle') | trans({}, translationDomain) }}</h3>
    <span class="status {{ state }}">{{ status }}</span>

    <span  class="edit-link {% if allowEdit == false %}disabled{% endif %}" href="{{ path(subSection, {reportId: report.id}) }}" >
        {{ (subSection ~ '.edit') | trans({}, translationDomain) }}
    </span>

    {%  if description is defined and description %}
        <p class="sub-section-description">{{ (subSection ~ '.subSectionDescription') | trans({'%client%':client.firstname}, translationDomain ) }}</p>
    {%  endif %}


    {% if allowEdit == true %}
        </a>
    {% endif %}
</div>
