{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

<div class="report-list-separator"></div>

{{ form_start(form, {attr: {novalidate: 'novalidate', class: 'behat-region-no-assets-selected' } }) }}

    <p class="page-section-description ">{{ 'no_assets.description'| trans({'%client%': report.client.firstname}, translationDomain) }}</p>
    {{ form_checkbox(form.noAssetToAdd,'no_assets', {
        'labelClass': 'required',
        'labelText': 'no_assets.label' | trans({'%client%': report.client.firstname}, translationDomain)
    }) }}

    {{ form_submit(form.saveNoAsset,'save') }}

{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function() {
        new GOVUK.SelectionButtons(":checkbox");
    });
</script>
