{# Layout to extend for decisions subpages (decisioon CRUD + mental capacity so far) #}
{% extends 'AppBundle:Layouts:report_left_nav.html.twig' %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans({}, translationDomain) }}{% endblock %}
{% block bodyClasses %}{{ parent() }} js-report-assets-input{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans({'%client%': report.client.firstname}, translationDomain) }}{% endblock %}

{% block backLinktop %}{% endblock %}

{% block leftcontent %}
    {% set route = app.request.attributes.get('_route') %}
    <nav id="account-sub-nav">
        <a href="{{ path('assets', {'reportId': report.id}) }}" class="{{ ('asset' in route) ? 'active':'' }} behat-link-assets-tab">{{ 'navLink' | trans({}, 'report-assets') }}</a>
        <a href="{{ path('debts', {'reportId': report.id}) }}" class="{{ ('debts' in route) ? 'active':'' }} behat-link-debts-tab">{{ 'navLink' | trans({}, 'report-debts') }}</a>
    </nav>
{% endblock %}
