{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans(transOptions) }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}

    <p class="page-section-description">{{ 'page.pageSectionDescription' | trans({'%client%': report.client.firstname}, translationDomain) }}</p>

    {% include 'AppBundle:Components/ButtonBar:_add_button_bar.html.twig' with {
    'report': report,
    'section': 'assets',
    'transDomain': translationDomain,
    'data': report.assets
    } %}

    {% if assets is not empty %}
        <ul class="behat-region-list-assets report-list report-list--assets overview-sections">
            {% for assetTitle, assets in report.assetsGroupedByTitle %}
                <li class="report-list__item">
                <h2 class="heading">{{ assetTitle }}</h2>
                {% for asset in assets %}
                    {% include 'AppBundle:Report/Asset:list-items/_' ~ asset.listTemplateName ~ '.html.twig' with {
                    'asset': asset,
                    } %}
                {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ render(controller('AppBundle:Report/Asset:_noAssets', { 'reportId': report.id, 'request': app.request })) }}
    {% endif %}

    {% include 'AppBundle:Components:nextprevious.html.twig' with {
    'previousLink': path("balance" , {'reportId': report.id }),
    'previousLabel': 'Balance accounts',
    'nextLink': path("debts" , {'reportId': report.id }),
    'nextLabel': 'Debts'
    } %}

{% endblock %}
