<!--Component: button-bar-add-start-->

{% if data is defined and data is not empty %}
    {% set label = 'form.controls.addButton.moreLabel' %}
{% else %}
    {% set label = 'form.controls.addButton.label' %}
{% endif %}

<div class="form-group button-bar button-bar-add button-bar-add-{{ section }}" id="button-bar-add-{{ section}}">
    <a class="button-secondary" href="/report/{{ report.id }}/{{ section }}/add">
        {{ label | default('Add')|trans({}, transDomain) }}
    </a>
</div>
<!--Component: button-bar-add-end-->
