{% trans_default_domain translationDomain %}

{% if showDelete is not defined %}
    {% if form.vars.value.id %}
        {% set showDelete = true %}
    {% else %}
        {% set showDelete = false %}
    {% endif %}
{% endif %}

{% if showCancel is not defined %}
    {% set showCancel = true %}
{% endif %}

{% if deleteLink is not defined %}
    {# default value is deprecated. Always specify one when using this template  #}
    {% set deleteLink = path('delete_' ~ section , {'reportId': report.id, 'id': form.vars.value.id })%}
{% endif %}

{% if  listLink is not defined%}
    {# default value is deprecated. Always specify one when using this template #}
    {% set listLink = path(section ~ 's', {'reportId': report.id})%}
{% endif %}


<div id="save-{{ section }}" class="save-section">
    
    <div class="save-bar button-bar">
        {{ form_submit(form.save,'save', { 'buttonClass': '' }) }}
        
        {% if nextSection is defined %}
            <span class="next-section">Next section: <b>{{ nextSection | trans }}</b></span>
        {% endif %}

        {% if showCancel == true %}
            {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
                transDomain: translationDomain,
                linkButtonLabel: 'cancel.label',
                linkClass: 'button-link behat-link-cancel-edit',
                linkHref: app.request.headers.get('referer')
            } %}
        {% endif %}

        {% if showDelete == true %}
            {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
            transDomain: translationDomain,
            linkButtonLabel: 'delete.label',
            linkClass: 'delete-button button-warning behat-link-delete',
            linkId: 'delete-button',
            linkHref: deleteLink
            } %}
        {% endif %}
    </div>

    {% if showDelete == true %}
        <div class="confirm-bar button-bar hidden">
            <p class="delete-confirm-message">{{ 'delete.message' | trans() }}</p>
            {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
                transDomain: translationDomain,
                linkButtonLabel: 'delete.label',
                linkClass: 'button-warning behat-link-delete-confirm',
                linkId: 'delete-confirm-button',
                linkHref: deleteLink
            } %}
            
            {% if showCancel == true %}
                {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
                    transDomain: translationDomain,
                    linkButtonLabel: 'cancel.label',
                    linkClass: 'button-link cancel-link',
                    linkHref: listLink
                } %}
            {% endif %}
        </div>
        <script>
            $(document).ready(function() {

                var saveSection = $('#save-{{ section }}'),
                    okBar =  saveSection.find('.save-bar'),
                    confirmBar = saveSection.find('.confirm-bar'),
                    deleteElement = okBar.find('.delete-button'),
                    cancelConfirmElement = confirmBar.find('.cancel-link');

                confirmBar.addClass('hidden');

                deleteElement.on('click', function(event) {
                    event.preventDefault();
                    okBar.addClass('hidden');
                    confirmBar.removeClass('hidden');
                });
                cancelConfirmElement.on('click', function(event) {
                    event.preventDefault();
                    confirmBar.addClass('hidden');
                    okBar.removeClass('hidden');
                });

            });
        </script>
    {% endif %}
    
</div>
