{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin-documents-download" %}
{% set transOptions = {} %}

{% set downloadRoute = 'admin_documents_download' %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageTitle' | trans }}{% endblock %}
{% block supportTitleBottom %}{{ 'page.supportTitle' | trans }}{% endblock %}

{% block pageTitleClass %}heading-large{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    <p>{{ 'page.description'| trans  }}</p>
    <a href={{ path(downloadRoute, {'reportSubmissionIds': reportSubmissionIds}) }}>Click here to download Documents</a>
{% endblock %}
