    {{form_start(form, {attr: {novalidate: 'novalidate', class: 'page-body' }}) }}

        <h1 class="form-title heading-medium-large ">
             Client details
         </h1>
   
    {{form_input(form.firstname, 'firstname')}}
    {{form_input(form.lastname, 'lastname')}}
    {{form_input(form.caseNumber, 'caseNumber')}}
    {{form_known_date(form.courtDate, 'courtDate')}}
  
    {# @nick form_input works for this field. just need the translation in place. I'll just wrap with html for now #}
    <div class="form-group {% if not form.allowedCourtOrderTypes.vars.valid %}field-with-errors behat-region-form-errors{% endif %}">
    {{form_errors(form.allowedCourtOrderTypes)}}
    {{form_label(form.allowedCourtOrderTypes)}}
    {{form_widget(form.allowedCourtOrderTypes)}} <br/>
    </div>
    
    {{form_input(form.allowedCourtOrderTypes, 'address')}}
    {{form_input(form.address, 'address')}}
    {{form_input(form.address2, 'address2')}}
    {{form_input(form.county, 'county')}}
    {{form_input(form.postcode, 'postcode')}}
    {{form_select(form.country, 'country')}}
    {{form_input(form.phone, 'phone')}}
    {{form_submit(form.save,'save')}}
    {{form_end(form) }}
