    {{form_start(form, {attr: {novalidate: 'novalidate', class: 'page-body' }}) }}

        <h1 class="form-title heading-medium-large ">
             Client details
         </h1>
   
    {{form_input(form.firstname, 'firstname')}}
    {{form_input(form.lastname, 'lastname')}}
    {{form_input(form.caseNumber, 'caseNumber')}}
    {{form_known_date(form.courtDate, 'courtDate')}}
    
    {{ form_checkbox_group(form.allowedCourtOrderTypes, 'allowedCourtOrderTypes', {
       'fieldSetClass' : 'fieldSetClass',
       'legendClass' : 'legendClass',
       'items': [
           {'labelClass': 'labelClass1', 'elementClass': 'elementClass1' },
           {'labelClass': 'labelClass2', 'elementClass': 'elementClass2' }
        ]
       })
    }}
    
    {{form_input(form.allowedCourtOrderTypes, 'address')}}
    {{form_input(form.address, 'address')}}
    {{form_input(form.address2, 'address2')}}
    {{form_input(form.county, 'county')}}
    {{form_input(form.postcode, 'postcode')}}
    {{form_select(form.country, 'country')}}
    {{form_input(form.phone, 'phone')}}
    {{form_submit(form.save,'save')}}
    {{form_cancel({ 'href': '#' })}}
    {{form_end(form) }}
