{% block validationSummary %}
    {{ form_errors_list(formClientNewReport) }}
{% endblock %}


{% if (action == 'new-report') %}
    {% set hideForm = false %}
    {% set formClass = 'in-page-form form--client-add-report' %}
{% else %}
    {% set hideForm = true %}
    {% set formClass = 'form--client-add-report' %}
{% endif %}


{{ form_start(formClientNewReport, {attr: {novalidate: 'novalidate', class: formClass } }) }}

{% if hideForm %}
    {# Then we need to show the Add Button Link #}
    {% set  params = app.request.attributes.get('_route_params') %}
    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' with {
    buttonBarClass: 'add-bar js-add-report-button-bar'
    } %}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
    transDomain: translationDomain,
    linkButtonLabel: 'form.newReportForm.controls.createNewReportLink.label',
    linkClass: 'button-secondary behat-link-create-new-report',
    linkHref: path('client_home', {'action': 'new-report' })~'#new-report'
    } %}

    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}
{% endif %}

<div id="new-report" {% if hideForm %} class="visuallyhidden" {% endif %}>

    {% include 'AppBundle:Components/Page:_sub-section-title.html.twig' with {
    transDomain: translationDomain,
    subSectionTitle: 'form.newReportForm.subSectionTitle'
    } %}

    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
    transDomain: translationDomain,
    pageSectionDescription: 'form.newReportForm.subSectionDescription'
    } %}

    {{ form_known_date(formClientNewReport.startDate, 'form.newReportForm.controls.startDate') }}


    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
    transDomain: translationDomain,
    pageSectionDescription: 'form.newReportForm.subSectionDescription-2'
    } %}
    {{ form_known_date(formClientNewReport.endDate, 'form.newReportForm.controls.endDate') }}


    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(formClientNewReport.save,'form.newReportForm.controls.save', { 'buttonClass':'disabled' }) }}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
    transDomain: translationDomain,
    linkButtonLabel: 'form.newReportForm.controls.cancel.label',
    linkClass: 'button-link',
    linkHref: path('client_home', {'action': 'show' })
    } %}

    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

</div>

{{ form_end(formClientNewReport) }}