{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "registration" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'addClient.pageTitle' | trans }} {% endblock %}
{% block pageTitle %}{{ 'addClient.h1Title' | trans }}{% endblock %}

{% block progressBar %}
     {{ progress_bar_registration(app.user, 'client_details') }}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% if client_validated %}
        <p class="flush--bottom">
            <strong class="bold">Name: </strong>
            {{ client.fullName }}
        </p>

        <p class="push--bottom">
            <strong class="bold">Case number: </strong>
            {{ client.caseNumber }}
        </p>
    {% endif %}

    <h2 class="heading-medium flush--top">{{ 'addClient.formHeading' | trans }}</h2>

    {{ form_input(form.firstname, 'firstname', {
        'formGroupClass': (client_validated) ? 'visually-hidden' : ''
    }) }}
    {{ form_input(form.lastname, 'lastname', {
        'formGroupClass': (client_validated) ? 'visually-hidden' : ''
    }) }}

    {{ form_input(form.address, 'address') }}
    {{ form_input(form.address2, 'address2') }}
    {{ form_input(form.county, 'county') }}

    {% if form.postcode is defined %}
        {% if client.postcode is empty or not client_validated %}
            {{ form_input(form.postcode, 'postcode', {'inputClass': 'form-control-1-4' }) }}
        {% else %}
            {{ form_input(form.postcode, 'postcode', {'formGroupClass':'visually-hidden'}) }}

            <p class="push--bottom">
            <strong class="bold">{{ 'postcode.label' | trans({}, translationDomain) }}: </strong>
                {{ client.postcode }}
            </p>
        {% endif %}
    {% endif %}

    {{ form_select(form.country, 'country') }}
    {{ form_input(form.phone, 'phone') }}

    {{ form_input(form.caseNumber, 'caseNumber', {
        'labelRaw': true,
        'formGroupClass': (client_validated) ? 'visually-hidden' : ''
    }) }}
    {{ form_known_date(form.courtDate, 'courtDate') }}

    {{ form_submit(form.save,'saveAndContinue') }}

    {{ form_end(form) }}

{% endblock %}
