{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "registration" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'verifyClient.pageTitle' | trans }} {% endblock %}
{% block pageTitle %}{{ 'verifyClient.h1Title' | trans }}{% endblock %}

{% block progressBar %}
     {{ progress_bar_registration(app.user, 'client_details', client) }}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <h2 class="heading-medium flush--top">{{ 'verifyClient.formHeading' | trans }}</h2>

    {{ form_input(form.lastname, 'lastname') }}
    {{ form_input(form.caseNumber, 'caseNumber', { 'labelRaw': true }) }}
    {{ form_submit(form.save,'saveAndContinue') }}
    {{ form_end(form) }}

{% endblock %}