<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">Deputies</h2>
    </div>
    <div class="govuk-grid-column-one-half text--right">
        <a href="{{ path('add_co_deputy', {'clientId': client.id}) }}" class="govuk-link behat-link-invite-codeputy-button">
            <strong>
                <span class="icon icon-plus"></span>
                {{ ('codeputy.inviteAnotherDeputy') | trans({}, 'report') }}
            </strong>
        </a>
    </div>
</div>

<table class="govuk-table behat-region-codeputies">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                Name or email
            </th>
            <th scope="col" class="govuk-table__header">
                Status
            </th>
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
            </th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">
        {% for deputy in coDeputies %}
            <tr class="govuk-table__row">
                {# accounting for deputies created manually by case managers without codeputy flag set#}
                {% if deputy.LastLoggedIn is not null %}
                    <td class="govuk-table__cell">
                        {{ deputy.firstname }} {{ deputy.lastname }}
                    </td>
                    <td class="govuk-table__cell">
                        Registered
                    </td>
                    <td></td>
                {% else %}
                    <td class="govuk-table__cell">
                        {{ deputy.email }}
                    </td>
                    <td class="govuk-table__cell">
                        Awaiting registration
                    </td>
                    <td class="govuk-table__cell text--right">
                        <a href="{{ path('codep_resend_activation', {'email': deputy.email}) }}" class="behat-link-resend-invite govuk-link">
                            Edit/Resend invite
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
