{% trans_default_domain translationDomain %}
{% set hideEditLink = hideEditLink | default(false) %}

<div id="contact-details-container">
    <p class="govuk-body">{{ 'page.contactDetailsIntro' | trans }}</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{ 'person' | trans({}, 'common') }}</th>
                <th scope="col" class="govuk-table__header">{{ 'address' | trans({}, 'common') }}</th>
                {% if not hideEditLink %}
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for type, detail in contactDetails %}
                <tr class="govuk-table__row behat-region-{{ type }}-contact">
                    <th scope="row" class="govuk-table__header">
                        {{ detail.name }}
                    </th>
                    <td class="govuk-table__cell">
                        {% for part in detail.address %}
                            {{ part }}<br>
                        {% endfor %}
                        <strong>Phone:</strong> {{ detail.phone.main }}<br>
                        {% if detail.phone.alternative is defined %}
                            <strong>Alternative phone:</strong> {{ detail.phone.alternative }}<br>
                        {% endif %}
                        <strong>Email:</strong> {{ detail.email }}<br>
                    </td>
                    {% if not hideEditLink %}
                        <td class="govuk-table__cell">
                            {% if detail.editUrl %}
                                <a href="{{ detail.editUrl }}" class="govuk-link behat-link-edit-{{ type }}-contact">{{ 'edit' | trans({}, 'common') }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="govuk-button-group">
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
           href="{{ path("report_review" , {'reportId': report.id }) }}">
            {{ 'goBack' | trans({},'common') }}
        </a>

        <a class="govuk-button" data-module="govuk-button"
           href="{{ path("report_declaration" , {'reportId': report.id }) }}">
            {{ 'review.continueToReportDeclarationButton' | trans({}, 'report-display') }}
        </a>
    </div>
</div>
