{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% if report.submitted == false %}

    <div class="govuk-button-group">
        {% if preview %}
            <a class="govuk-button" data-module="govuk-button"
               href="{{ path("report_overview" , {'reportId': report.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% else %}
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
               href="{{ path("report_overview" , {'reportId': report.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>

            <a class="govuk-button" data-module="govuk-button"
               href="{{ path("report_confirm_details" , {'reportId': report.id }) }}">
                {{ 'review.continueToConfirmDetailsButton' | trans() }}
            </a>
        {% endif %}
    </div>
{% else %}
    <div class="govuk-button-group">
        <a class="button" href="{{ backLink }}">
            {% if isLayDeputy %}
                {{ 'backToYourReports' | trans({}, 'common') }}
            {% else %}
                {{ 'backToClientProfile' | trans({}, 'common') }}
            {% endif %}
        </a>
    </div>
{% endif %}
