{# @param report App\Entity\Report #}
{# @param client App\Entity\Client #}
{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': client.firstname | striptags } %}
{% set sectionId = sectionId | default(null) %}
{% set sectionNeedsAttention = report.isSectionFlaggedForAttention(sectionId) %}

{% if linkToSubSection is not defined %}
    {% set linkToSubSection = path(subSection, {reportId: report.id}) %}
{% endif %}

<div href="{{ linkToSubSection }}" class="opg-overview-section {{ sectionNeedsAttention ? ('behat-region-section-' ~ sectionId ~ '-needs-attention opg-overview-section--error') : '' }}">
    <div class="opg-overview-section__header">
        <h3 class="govuk-heading-m opg-overview-section__label">
            <a href="{{ linkToSubSection }}" class="opg-overview-section__label-link">
                {{ (subSection ~ '.subSectionTitle') | trans }}
            </a>
        </h3>

        {%  if description | default(false) %}
            <div class="opg-overview-section__description">
                {% if descriptionLeft | default(false)  %}
                    {{ descriptionLeft }}{{ report.client.firstname | striptags }}{{ descriptionRight }}
                {% else %}
                    {{ (subSection ~ '.subSectionDescription') | trans(transOptions) }}
                {% endif %}
            </div>
        {%  endif %}
        {%  if descriptionLink | default(false) %}
            <div class="opg-overview-section__description">
                <a href="{{ linkToSubSection }}#cantFindTheProblem">{{ (subSection ~ '.subSectionDescription.' ~ descriptionLinkAction ~ 'Explanation') | trans(transOptions) }}</a>
            </div>
        {% endif %}
    </div>

    {% if sectionNeedsAttention %}
        <span class="opg-overview-section__status govuk-tag {{ 'needs-attention' | status_to_tag_css }} behat-region-{{ subSection }}-state-{{ state.state }}">
            {{ 'labels.needs-attention' |  trans }}
        </span>
    {% else %}
        <span class="opg-overview-section__status govuk-tag {{ state.state | status_to_tag_css }} behat-region-{{ subSection }}-state-{{ state.state }}">
            {% if state.state == 'done' or customiseAllLabels | default(false) %}
                {{ (subSection ~ '.label.' ~ state.state) | trans({'%count%': state.nOfRecords}) }}
            {% elseif state.state == 'low-assets-done' %}
                {{ (subSection ~ '.label.' ~ state.state) | trans }}
            {% else %}
                {{ ('labels.' ~ state.state) | trans }}
            {% endif %}
        </span>
    {% endif %}

    <a href="{{ linkToSubSection }}" class="opg-overview-section__link behat-link-edit-{{ subSection }}" id="edit-{{ subSection }}">
        {% if subSection == 'balance' %}
            {{ 'view' | trans({}, 'common') | capitalize }} <span class="govuk-visually-hidden">{{ (subSection ~ '.subSectionTitle') | trans }}</span>
        {% else %}
            {% if state.state == 'not-started' %}
                {{ 'start' | trans({}, 'common') | capitalize }} <span class="govuk-visually-hidden">{{ (subSection ~ '.subSectionTitle') | trans }}</span>
            {% else %}
                {{ 'edit' | trans({}, 'common') | capitalize }} <span class="govuk-visually-hidden">{{ (subSection ~ '.subSectionTitle') | trans }}</span>
            {% endif %}
        {% endif %}
    </a>

</div>
