{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-declaration" %}
{% set standardsLink = app.user.getStandardsLink %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    <div id="declaration-container">
        <div class="text">
            <p class="govuk-body">{{ 'page.declarationTerms01' | trans }}</p>
            <p class="govuk-body">{{ 'page.declarationTerms02' | trans }}</p>
            {% if app.user.isLayDeputy %}
                <p class="govuk-body">{{ 'page.declarationTerms03.lay' | trans }}</p>
            {% else %}
                <p class="govuk-body">{{ 'page.declarationTerms03.nonLay.intro' | trans }}</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ 'page.declarationTerms03.nonLay.option1' | trans }}</li>
                    <li>{{ 'page.declarationTerms03.nonLay.option2' | trans }}</li>
                </ul>
            {% endif %}

            <p class="govuk-body">
                {{ 'page.declarationTerms04.pre' | trans }}
                <a href= '{{ standardsLink }}' class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'page.declarationTerms04.link' | trans }}</a>
                {{ 'page.declarationTerms04.post' | trans }}
            </p>

        </div>

        {{ form_start(form, {attr: {novalidate: 'novalidate', 'data-single-submit-form': 'true'}}) }}

        {{ form_checkbox(form.agree, 'agree', { 'labelClass': 'required' }) }}

        {% set conditional_details %}
            {{ form_input(form.agreedBehalfDeputyExplanation, 'agreedBehalfDeputyExplanation' ) }}
        {% endset %}

        <div
            class="govuk-form-group push-half--bottom {% if not form.agreedBehalfDeputy.vars.valid %}govuk-form-group--error{% endif %}">
            {{ form_checkbox_group(form.agreedBehalfDeputy, 'agreedBehalfDeputy', {
                'useFormGroup': false,
                'fieldSetClass' : 'radio-agreed-behalf-deputy',
                'legendClass' : 'govuk-fieldset__legend--s',
                'items': [
                    {},
                    {},
                    {'conditional': conditional_details},
                    {},
                ]
            }) }}
        </div>

        <div class="push--top">
            {{ macros.notification('important', 'unableToEditAfterSubmission' | trans) }}
        </div>

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
           href="{{ path("report_confirm_details" , {'reportId': report.id }) }}">
            {{ 'goBack' | trans({},'common') }}
        </a>

        <div class="custom-submit">
            {{ form_submit(form.save,'save') }}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
