{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-declaration" %}
{% set standardsLink = app.user.getStandardsLink %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li>
                {% if app.user.isDeputyOrg() %}
                    <a href="{{ path('org_dashboard') }}">{{ 'dashboard' | trans({}, 'common' ) }}</a>
                {% else %}
                    <a href="{{ path('homepage') }}">{{ 'yourReports' | trans({'deputyFirstname': app.user.firstname, 'deputyLastname': app.user.lastname}, 'common' ) }}</a>
                {% endif %}
            </li>
            <li>
                <a href="{{ path('report_overview', {'reportId': report.id}) }}"
                   class="behat-link-breadcrumbs-report-overview" data-action="report.overview">
                    {% if app.user.isDeputyOrg() %}
                        {{ 'clientProfile' | trans({}, 'common' ) }}
                    {% else %}
                        {{ 'deputyReportOverview' | trans({'startYear': report.startDate | date('Y'),'endYear': report.endDate | date('Y')}, 'common' ) }}
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ path('report_review', {'reportId': report.id}) }}"
                   class="behat-link-breadcrumbs-report-review">
                    {{ 'reviewReport' | trans({}, 'common' ) }}
                </a>
            </li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}

    {% include '@App/Report/Report/_contact_details.html.twig' with {
        'contactDetails': contactDetails,
        'transDomain': translationDomain
    } %}

    <div id="declaration-container">
        <h2 class="govuk-heading-s">{{ 'page.declarationSectionHeader' | trans }}</h2>
        <div class="text">
            <p class="govuk-body">{{ 'page.declarationTerms01' | trans }}</p>
            <p class="govuk-body">{{ 'page.declarationTerms02' | trans }}</p>
            {% if app.user.isLayDeputy %}
                <p class="govuk-body">{{ 'page.declarationTerms03.lay' | trans }}</p>
            {% else %}
                <p class="govuk-body">{{ 'page.declarationTerms03.nonLay.intro' | trans }}</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ 'page.declarationTerms03.nonLay.option1' | trans }}</li>
                    <li>{{ 'page.declarationTerms03.nonLay.option2' | trans }}</li>
                </ul>
            {% endif %}

            <p class="govuk-body">
                {{ 'page.declarationTerms04.pre' | trans }}
                <a href= '{{ standardsLink }}' class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'page.declarationTerms04.link' | trans }}</a>
                {{ 'page.declarationTerms04.post' | trans }}
            </p>

        </div>

        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

        {{ form_checkbox(form.agree, 'agree', { 'labelClass': 'required' }) }}

        {% set conditional_details %}
            {{ form_input(form.agreedBehalfDeputyExplanation, 'agreedBehalfDeputyExplanation' ) }}
        {% endset %}

        <div
            class="govuk-form-group push-half--bottom {% if not form.agreedBehalfDeputy.vars.valid %}govuk-form-group--error{% endif %}">
            {{ form_checkbox_group(form.agreedBehalfDeputy, 'agreedBehalfDeputy', {
                'useFormGroup': false,
                'fieldSetClass' : 'radio-agreed-behalf-deputy',
                'legendClass' : 'govuk-label--s',
                'items': [
                    {},
                    {},
                    {'conditional': conditional_details},
                    {},
                ]
            }) }}
        </div>

        <div class="push--top">
            {{ macros.notification('important', 'unableToEditAfterSubmission' | trans) }}
        </div>

        <div class="custom-submit">
            {{ form_submit(form.save,'save') }}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
