{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname | striptags
} %}
{% set reportStatus = report.status %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}

{% block supportTitleTop %}{{ report.client.fullname }}{% endblock %}
{% block pageTitle %}{{ report.period }} {{ 'reportOverviewTitle' | trans() }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsArray([
        { href: url('deputyship_details_clients'), text: 'Client details' },
        { href: url('lay_home', {clientId: client.id}), text: client.firstname ~ '\'s reports' }
    ]) }}

{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row push--bottom">
        <div class="govuk-grid-column-two-thirds">
            {{ macros.reportDetails(report) }}
        </div>
    </div>

    {% include '@App/Report/Report/_header.html.twig' %}

    {% if not report.isDue or report.isDue and not reportStatus.isReadyToSubmit %}
        <div class="push--top">
            {{ macros.notification('info', 'guidanceNotice' | trans(transOptions)) }}
        </div>
    {% endif %}

    <ul id="overview-sections" class="push--bottom">

        <li>
            <h2 class="govuk-heading-m opg-overview-section__divider">{{ 'heading.decisionsContacts' | trans() }}</h2>
            {% if report.hasSection('decisions') %}
                {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'decisions',
                    sectionId: 'decisions',
                    report: report,
                    description: true,
                    state: reportStatus.decisionsState,
                    list: true
                } %}
            {% endif %}
            {% if report.hasSection('contacts') %}
                {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'contacts',
                    sectionId: 'contacts',
                    report: report,
                    description: true,
                    list: true,
                    info: true,
                    state: reportStatus.contactsState,
                } %}
            {% endif %}
        </li>

        <li>
            <h2 class="govuk-heading-m opg-overview-section__divider">{{ 'heading.healthAndWelfare' | trans(transOptions) }}</h2>
            {% if report.hasSection('visitsCare') %}
                {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'visits_care',
                    sectionId: 'visitsCare',
                    report: report,
                    info: true,
                    description: true,
                    state: reportStatus.visitsCareState
                } %}
            {% endif %}
            {% if report.hasSection('lifestyle') %}
                {% include '@App/Report/Report/_subsection.html.twig' with {
                transDomain: translationDomain,
                subSection: 'lifestyle',
                sectionId: 'lifestyle',
                report: report,
                info: true,
                description: true,
                state: reportStatus.lifestyleState
                } %}
            {% endif %}
        </li>
        {% if report.hasSection('deputyExpenses') or report.hasSection('bankAccounts') %}
            <li>
                <h2 class="govuk-heading-m opg-overview-section__divider">{{ 'heading.propFinance' | trans(transOptions) }}</h2>
                {% if report.hasSection('clientBenefitsCheck') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'client_benefits_check',
                        sectionId: 'clientBenefitsCheck',
                        report: report,
                        state: reportStatus.clientBenefitsCheckState,
                        linkToSubSection: path('client_benefits_check', {'reportId': report.id, 'reportOrNdr': 'report'}),
                        description: true
                    } %}
                {% endif %}

                {% if report.hasSection('bankAccounts') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'bank_accounts',
                    sectionId: 'bankAccounts',
                    report: report,
                    state: reportStatus.bankAccountsState,
                    description: true
                    } %}
                {% endif %}

                {% if report.hasSection('deputyExpenses') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'deputy_expenses',
                        sectionId: 'deputyExpenses',
                        report: report,
                        state: reportStatus.expensesState,
                        linkToSubSection: path('deputy_expenses', {'reportId': report.id}),
                        description: true
                    } %}
                {% endif %}

                {% if report.hasSection('gifts') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'gifts',
                    sectionId: 'gifts',
                    report: report,
                    state: reportStatus.giftsState,
                    linkToSubSection: path('gifts', {'reportId': report.id}),
                    description: true
                    } %}
                {% endif %}

                {% if report.hasSection('moneyTransfers') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'money_transfers',
                        sectionId: 'moneyTransfers',
                        report: report,
                        state: reportStatus.moneyTransferState,
                        description: true
                    } %}
                    {% endif %}
                {% if report.hasSection('moneyIn') and report.hasSection('moneyOut') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_in',
                    sectionId: 'moneyIn',
                    report: report,
                    state: reportStatus.moneyInState,
                    description: true
                    } %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_out',
                    sectionId: 'moneyOut',
                    report: report,
                    state: reportStatus.moneyOutState,
                    description: true
                    } %}
                {% endif %}
                {% if report.hasSection('moneyInShort') and report.hasSection('moneyOutShort') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_in_short',
                    sectionId: 'moneyInShort',
                    report: report,
                    state: reportStatus.MoneyInShortState,
                    description: true
                    } %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_out_short',
                    sectionId: 'moneyOutShort',
                    report: report,
                    state: reportStatus.MoneyOutShortState,
                    description: true
                    } %}
                {% endif %}
                {# balance status values:
                    - incomplete: when bank accounts or money section are incomplete
                    - not-matching: when bank accounts and money section are complete but balance is incorrect (not matching or explanation missing)
                    - explained: when we have an explanation (effectively done but allows us to distinguish users that explain and then proceed to balance
                    #}
                {% if report.hasSection('balance')%}
                    <!-- [DEBUG INFO: status {{ reportStatus.balanceState['state'] }}, due: {{ report.isDue() ? 't':'f' }}] -->

                    {# calculate description text based on scenario (https://opgtransform.atlassian.net/wiki/spaces/DEPDS/pages/152502291) #}
                    {% set labelIndex = 'default' %}
                    {% if report.isDue() and reportStatus.balanceState['state'] == 'not-matching' %}
                        {% set descLink = true %}
                        {% set linkAction = 'add' %}
                    {% elseif report.isDue() and reportStatus.balanceState['state'] == 'explained' %}
                        {% set descLink = true %}
                        {% set linkAction = 'edit' %}
                    {% else %}
                        {% set linkAction = '' %}
                    {% endif %}

                    {% include '@App/Report/Report/_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'balance',
                        sectionId: 'balance',
                        report: report,
                        state: reportStatus.balanceState,
                        description: true,
                        descriptionLeft: ('balance.subSectionDescription.' ~ labelIndex ~ '.beforeMarkupText') | trans(transOptions),
                        descriptionRight: ('balance.subSectionDescription.' ~ labelIndex ~ '.afterMarkupText') | trans(transOptions),
                        customiseAllLabels: true,
                        descriptionLink: descLink | default(false),
                        descriptionLinkAction: linkAction
                    } %}
                {% endif %}

                {% if report.hasSection('assets') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'assets',
                        sectionId: 'assets',
                        report: report,
                        state: reportStatus.assetsState,
                        list: true,
                        description: true
                    } %}
                {% endif %}
                {% if report.hasSection('debts') %}
                    {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'debts',
                    sectionId: 'debts',
                    report: report,
                    state: reportStatus.debtsState,
                    list: true,
                    description: true
                    } %}
                {% endif %}
            </li>
        {% endif %}


        <li>
            <h2 class="govuk-heading-m opg-overview-section__divider">{{ 'heading.other' | trans() }}</h2>
            {% if report.hasSection('actions') %}
                {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'actions',
                    sectionId: 'actions',
                    report: report,
                    description: true,
                    state: reportStatus.actionsState,
                    list: true
                } %}
            {% endif %}
            {% if report.hasSection('otherInfo') %}
                {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'other_info',
                    sectionId: 'otherInfo',
                    linkToSubSection: path('other_info', {reportId: report.id}),
                    report: report,
                    info: true,
                    description: true,
                    state: reportStatus.otherInfoState,
                } %}
            {% endif %}

        <li>
            <h2 class="govuk-heading-m opg-overview-section__divider">{{ 'heading.caseDocuments' | trans() }}</h2>
            {% if report.hasSection('documents') %}
                {% include '@App/Report/Report/_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'documents',
                    sectionId: 'documents',
                    report: report,
                    description: true,
                    state: reportStatus.documentsState,
                    list: true
                } %}
            {% endif %}
        </li>
    </ul>

    {% if not report.isDue %}
        <div class="push--top">
            {% set endDate = report.getEndDate() | date("j F Y")  %}
            {% set transOptions = {'%date%': endDate} %}

            {{ macros.notification('info', 'previewNoticeNotDue' | trans(transOptions)) }}
        </div>
    {% endif %}
    <div class="js-only">
        {% if report.isUnsubmitted %}
            <form class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" name="confirmReview" type="checkbox" data-module="opg-button-toggler">
                            <label class="govuk-label govuk-checkboxes__label" for="confirmReview">
                                {{ 'confirmSectionsReviewed' | trans() }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </form>
        {% endif %}
        <a id="{{ report.status.isReadyToSubmit ? 'edit-report-review' : 'edit-report-preview' }}"
           class="govuk-button behat-link-edit-report-review" href="{{ path('report_review', {'reportId': report.id}) }}"
           aria-disabled="{{ report.isUnsubmitted ? 'true' : 'false' }}"
           data-module="govuk-button">{{ 'options.previewReport' | trans() }}
        </a>
    </div>

    {# Fallback for JS disabled browsers #}
    <div class="js-hidden">
        <a id="{{ report.status.isReadyToSubmit ? 'edit-report-review' : 'edit-report-preview' }}"
           class="push--top"
           href="{{ path('report_review', {'reportId': report.id}) }}"
        >
            <button class="govuk-button">
                {{ 'options.previewReport' | trans() }}
            </button>
        </a>
    </div>



{% endblock %}
