{% extends '@App/Layouts/application.html.twig' %}

{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% set isLayDeputy = not user.isDeputyOrg %}

{% if report.submitted == false %}
    {% if not report.isDue or report.isDue and not reportStatus.isReadyToSubmit %}
        {% set preview = true %}
        {% set page = 'preview' %}
    {% else %}
        {% set preview = false %}
        {% set page = 'review' %}
    {% endif %}
{% else %}
    {% set preview = false %}
    {% set page = 'submitted' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block supportTitleTop %}{{ ('supportTitleTop') | trans({'startYear': report.startDate | date('Y'),'endYear': report.endDate | date('Y') }) }}{% endblock %}
 {% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="{{ 'stylesheets/formatted-report.css' | assetUrl }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block pageContent %}

    <div class="push--bottom">
        {% if report.submitted == false %}
            <p class="govuk-body">{{ (page ~ '.para1') | trans() }}</p>
            <p class="govuk-body">{{ (page ~ '.para2') | trans() }}</p>
        {% endif %}

        {% include '@App/Report/Report/_review_buttons.html.twig' %}

    </div>
    <div>
        <span class="opg-text--secondary">{{ 'pdfDraftSentence' | trans() }}</span>
        {% include '@App/Report/Report/_pdf_download_link.html.twig' %}
    </div>


    <div class="push--bottom">
        <div class="opg-border--secondary">
            {% include '@App/Report/Formatted/formatted_body.html.twig' %}
        </div>
    </div>

    <div class="govuk-!-padding-bottom-4">
        {% include '@App/Report/Report/_pdf_download_link.html.twig' %}
    </div>

    {% include '@App/Report/Report/_review_buttons.html.twig' %}


{% endblock %}
