{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-submitted" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname | striptags,
    '%reportName%' : report.getPeriod()
} %}
{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageHeader %}
{% endblock %}

{% set gaCategory = 'page.htmlTitle' | trans %}
{% set gaAction = 'Click: Button: Send feedback' %}
{% set gaLabel = 'Clicked send feedback button on ' ~ app.request.requesturi %}

{% block pageContent %}

    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            {{ 'page.successBannerTitle' | trans }}
        </h1>
        <div class="govuk-panel__body">
            {{ 'page.successBannerBody' | trans }}
        </div>
    </div>

    <div class="text push--top">
        <p class="govuk-body">{{ 'page.weHaveSentEmail' | trans }}</p>
        <p class="govuk-body">{{ 'page.yourNextReport' | trans }}</p>
    </div>

    {% if homePathName == 'lay_home' %}
        <a href="{{ path(homePathName, {'clientId' : report.client.id}) }}" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary govuk-!-margin-bottom-7 behat-link-return-to-reports-page" data-module="govuk-button">
            {{ 'page.yourReportsButton' | trans }}
        </a>
    {% else %}
        <a href="{{ path( homePathName ) }}" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary govuk-!-margin-bottom-7 behat-link-return-to-reports-page" data-module="govuk-button">
            {{ 'page.yourReportsButton' | trans }}
        </a>
    {% endif %}


    {% if report.hasSection('profDeputyCosts') %}
        <ul class="govuk-list govuk-list--bullet push--top">
            <li>{{ ('page.professionalDeputyListItems.item1') | trans(transOptions) }}</li>
            <li>{{ ('page.professionalDeputyListItems.item2') | trans(transOptions) }}</li>
            <li>{{ ('page.professionalDeputyListItems.item3') | trans }}</li>
        </ul>
    {% endif %}

    {# feedback form #}
    <h2 class="govuk-heading-m">{{ 'page.feedback.title' | trans }}</h2>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'push--bottom' } }) }}

        {{ form_checkbox_group(form.satisfactionLevel, 'form.satisfactionLevel', {
            'legendClass' : 'text govuk-fieldset__legend--s',
            'legend': ['satisfactionLevel']
        }) }}

        {{ form_input(form.comments, 'form.comments', {
            'labelClass' : 'govuk-label--s'
        }) }}

        <p class="govuk-body">{{ 'page.feedback.limit' | trans }}</p>
        <p class="govuk-body">{{ 'page.feedback.disclaimer' | trans }}</p>

        {{ form_submit_ga(
            form.save,
            'form.send',
            gaCategory,
            gaAction,
            gaLabel,
        ) }}

    {{ form_end(form) }}
    {# end feedback form #}

{% endblock %}
