{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "ndr-assets" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | e } %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(ndr) }}{% endblock %}

{% block pageContent %}

    <div class="grid-row">
        <div class="column-two-thirds">
            {# Introduction text #}
            <div class="text">
                <p>{{ 'summaryPage.weAskAbout' | trans(transOptions) }}</p>
            </div>

            {# Check answers text #}
            <h2 class="heading-small">{{ 'weHaveListed' | trans(transOptions, 'common') }}</h2>
            <p class="text">{{ 'checkCorrect' | trans(transOptions, 'common') }}</p>
        </div>
        <div class="column-third">
            {{ macros.relatedSections(ndr, 'assets') }}
        </div>
    </div>

    {# Items list #}
    {% include 'AppBundle:Ndr/Asset:_list.html.twig' %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(ndr, 'assets') }}

{% endblock %}
