{% extends '@App/Layouts/application.html.twig'%}
{% set translationDomain = "password-forgotten" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    <p class="govuk-body">{{ 'subtitle' | trans }}</p>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'push--bottom' }}) }}

    {{ form_input(form.email,'form.email') }}
    {{ form_submit(form.submit,'form.submit', {'buttonClass': 'behat-link-login'}) }}

    {{ form_end(form) }}

    <a class="behat-link-return-to-sign-in" href="{{ path('login') }}">{{ 'returnToSignIn' | trans }}</a>

    <hr class="govuk-section-break govuk-section-break--m">

{% endblock %}
