{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain "register" %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p class="govuk-body">{{ 'intro' | trans }}</p>
        <p class="govuk-body">{{ 'ifyoualready' | trans }} <a href="{{ path('login') }}">{{ 'signin' | trans }}</a>.</p>
    </div>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ 'moreThanOne' | trans }}</span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">{{ 'moreThanOneDescription1' | trans }}<br/><br/>{{ 'moreThanOneDescription2' | trans }}</p>
        </div>
    </details>

    {% set formClass = 'registration-form' %}

    {% set gaCategory = 'pageTitle' | trans %}
    {% set gaAction = 'Click: Button: Sign Up' %}
    {% set gaLabel = 'Clicked sign up button on ' ~ app.request.requesturi %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: formClass } }) }}

        {{ form_input(form.firstname,'firstname') }}
        {{ form_input(form.lastname,'lastname') }}
        {{ form_input(form.email.first,'email.first') }}
        {{ form_input(form.email.second,'email.second') }}
        {{ form_input(form.postcode,'postcode', {}) }}
        {{ form_input(form.clientFirstname,'clientFirstname') }}
        {{ form_input(form.clientLastname,'clientLastname') }}
        {{ form_input(form.caseNumber,'caseNumber') }}

        {{ form_submit_ga(
            form.save,
            'save',
            gaCategory,
            gaAction,
            gaLabel,
            null,
            {})
        }}

    {{ form_end(form) }}

{% endblock %}
