{% if form.vars.value.id %}
    {% set subSectionTitleText = 'page.subSectionTitleEdit' %}
{% else %}
    {% set subSectionTitleText = 'page.subSectionTitleAdd' %}
{% endif %}

{{ form_start(form, {attr: {novalidate: 'novalidate', class: '', id: 'decision-form' }}) }}

    <h3 class="heading-medium">{{ subSectionTitleText | trans({}, translationDomain) }}</h3>

    {{ form_errors_list(form) }}

    {{ form_input(form.description,'description', { 'labelClass': 'required', 'inputClass': 'expanding' }) }}

    {{ form_checkbox_group(form.clientInvolvedBoolean, 'clientInvolvedBoolean', {
        'fieldSetClass' : 'inline',
        'legendClass' : 'form-label',
        'legendText' : 'clientInvolvedBoolean.legend' | trans({'%client%': report.client.firstname}, translationDomain),
        'hintText' : 'clientInvolvedBoolean.hint' | trans({'%client%': report.client.firstname}, translationDomain),
        'items': [
            {'labelClass': 'block-label', 'elementClass': '' },
            {'labelClass': 'block-label', 'elementClass': '' }]
    }) }}

    {{ form_input(form.clientInvolvedDetails,'clientInvolvedDetails', { 
        'labelClass': 'required', 
        'inputClass': 'expanding',
        'hintText': 'clientInvolvedDetails.hint'| trans({'%client%': report.client.firstname}, translationDomain)
    }) }}
    
        
    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
        transDomain: translationDomain,
        section: 'decision'
    } %}

{{ form_end(form) }}
