{#
Component parameters
--------------------

showListData (true/false)
showEditForm (true/false)
showDeleteConfirm (true/false)
showEditLink (true/false)
form
#}

{% if (showListData) %}

    {% set translationDomain = "report-decisions" %}
    {% trans_default_domain translationDomain %}
    {% if (showEditLink is not defined) %}
    {%     set showEditLink = true %}
    {% endif %}

    <ul class="behat-region-list-decisions report-list report-list--decisions">
        {% for decision in decisions %}
            <li class="report-list__item" id="edit-{{ decision.id }}">

                {% if (decision.id == app.request.get('id')) and (showEditForm) %}

                    {% include 'AppBundle:Decision:_decision_edit_form.html.twig' with {
                    'translationDomain': translationDomain,
                    'showDeleteConfirm': showDeleteConfirm,
                    'form': form
                    } %}

                {% else %}
                    <div class="report-list__item-header"><h3>&nbsp;</h3>
                        {% if (showEditLink == true) %}
                            <a href="{{ url('decisions', {'reportId': report.id, 'action': 'edit', 'id': decision.id }) ~ "#edit-" ~ decision.id }}"
                               class="js-report-list__item-edit-link report-list__item-edit-link behat-link-decision-n{{loop.index}}">{{ 'listing.edit-link'| trans }}</a>
                       {% endif %}
                    </div>
                    <dl class="report-list__item-fields">
                        <div class="report-list__item-fields-row">
                            <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'listing.description' | trans }}</dt>
                            <dd class="report-list__item-fields-description report-list__item-fields-description--block">{{ decision.description }}</dd>
                        </div>

                        <div class="report-list__item-fields-row">
                            <dt class="report-list__item-fields-term">{{ 'listing.date' | trans }}</dt>
                            <dd class="report-list__item-fields-description">{{ decision.decisionDate | date("d F Y") }}</dd>
                        </div>

                        <div class="report-list__item-fields-row">
                            <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'listing.clientInvolvement' | trans }}</dt>
                            <dd class="report-list__item-fields-description report-list__item-fields-description--block">
                                <p>{{ decision.clientInvolvedBoolean ? 'Yes' : 'No' }}
                                    : {{ decision.clientInvolvedDetails | nl2br }}</p></dd>
                        </div>
                    </dl>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endif %}
