{% embed 'AppBundle:Components/Page:page-report.html.twig' %}
    
    {% set translationDomain = "report-decisions" %}
    {% trans_default_domain translationDomain %}
    
    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-decisions-input{% endblock %}
    {% block title %}{{ 'page.htmlTitle' | trans }}{% endblock %}

    {% block pageBody %}
        {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
            transDomain: translationDomain,
            pageSectionTitle: 'page.pageSectionTitle'
        } %}

        {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
            transDomain: translationDomain,
            pageSectionDescription: 'page.pageSectionDescription'
        } %}

        {% if report.decisions %}
            {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
                transDomain: translationDomain,
                pageSectionDescription: 'page.pageSectionEditInfo'
            } %}
        {% endif %}
        
        {% include 'AppBundle:Components/ButtonBar:_add_button_bar.html.twig' with {
            'report': report,
            'section': 'decisions',
            'transDomain': translationDomain,
            'data': report.decisions
        } %}

        {% if decisions is not empty %}
            <ul class="behat-region-list-decisions report-list report-list--decisions">
                {% for decision in decisions %}
                    <li class="report-list__item" id="edit-{{ decision.id }}">
                        <div class="report-list__item-header">
                            <h3>&nbsp;</h3>
                            <a href="{{ url('edit_decision', {'reportId': report.id, 'id': decision.id }) }}"
                                   class="js-report-list__item-edit-link report-list__item-edit-link behat-link-decision-{{decision.description | behat_namify}}">{{ 'listing.edit-link'| trans }}</a>
                        </div>
                        <dl class="report-list__item-fields">
                            <div class="report-list__item-fields-row">
                                <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'listing.description' | trans }}</dt>
                                <dd class="report-list__item-fields-description report-list__item-fields-description--block">{{ decision.description }}</dd>
                            </div>
    
                            <div class="report-list__item-fields-row">
                                <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'listing.clientInvolvement' | trans }}</dt>
                                <dd class="report-list__item-fields-description report-list__item-fields-description--block">
                                    <p>{{ decision.clientInvolvedBoolean ? 'Yes' : 'No' }}
                                        : {{ decision.clientInvolvedDetails | nl2br }}</p></dd>
                            </div>
                        </dl>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% if report.reasonForNoDecisions is not empty %}
                {% include 'AppBundle:Decision:_none_reason.html.twig' with {'report': report} %}
            {% else %}
                {{ render(controller('AppBundle:Decision:_noneReasonForm', { 'reportId': report.id, 'request': app.request })) }}
            {% endif %}
        {% endif %}
        
        {% include 'AppBundle:Decision:_continue.html.twig' with {'report': report} %}
        
    {% endblock %}

{% endembed %}
