{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% trans_default_domain "feedback" %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}

{% block pageNavigation %}
    <nav class="back-bar">
        <a id="overview-button" href="{{ path('homepage') }}" class="link-return">Back to deputy report</a>
        {% include 'AppBundle:Components:_helpline.html.twig' %}
    </nav>
{% endblock %}

{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageHeader %}
    {{ parent() }}
{% endblock %}

{% block validationSummary %}

{% endblock %}


{% block pageBody %}

    {% set formClass = 'in-page-form feedback-form' %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: formClass } }) }}
        {{ form_input(form.difficulty, 'difficulty') }}
        {{ form_input(form.ideas, 'ideas') }}
        {{ form_checkbox_group(form.satisfactionLevel, 'satisfactionLevel', {

            'fieldSetClass' : 'vertical',
            'legendClass' : 'form-label',
            'legend': 'satisfactionLevel',
            'items': [
                {'labelClass': 'block-label' },
                {'labelClass': 'block-label' },
                {'labelClass': 'block-label' },
                {'labelClass': 'block-label' },
                {'labelClass': 'block-label' },
            ]
        }) }}

        {{ form_checkbox_group(form.help, 'help', {

            'fieldSetClass' : 'vertical',
            'legendClass' : 'form-label',
            'legend': 'help',
            'items': [
                {'labelClass': 'block-label' },
                {'labelClass': 'block-label' },
                {'labelClass': 'block-label' },
                {'labelClass': 'block-label' },
            ]
        }) }}

        {{ form_checkbox_group(form.emailYesNo, 'emailYesNo', {
            'fieldSetClass' : 'vertical email-yes-no',
            'legendClass' : 'form-label',
            'items': [
            {'labelClass': 'block-label' },
            {'labelClass': 'block-label' }
            ]
        }) }}

        {{ form_input(form.email, 'email') }}

        {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
            {{ form_submit(form.save,'send') }}
        {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}


    {{ form_end(form) }}

    <script type="text/javascript">
        $(document).ready(function() {

            new GOVUK.SelectionButtons('.form-group__checkbox-group :radio');
            new opg.RadioHide({
                radio:'.email-yes-no input[type=radio]',
                content: '#form-group-feedback_email',
                hideOnYes: false
            });
        });
    </script>

{% endblock %}
