{% extends 'AppBundle:Layouts:application_new.html.twig' %}
{% set translationDomain = "home" %}
    {% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}


{% block pageContent %}

    <div class="text">

        <p class="lede">Use this online service to fill in your deputy report and send it to the Office of the Public Guardian (OPG)</p>

        <p>You can save the report and then come back to add more information as often as you like.</p>

        <p>Once you've submitted your report, you can save it to your computer.</p>

        <p>For the moment, only property and financial affairs deputies can use this service.</p>
        
    </div>

    <div class="grid-row push--top">
        <div class="column-half">
            <h2 class="heading-medium flush--top">{{ 'iwanttocreate' | trans }}</h2>
        </div>
        <div class="column-half">
            <a id="creat-account-button" class="button" href="{{ path('register') }}">{{ 'createaccount' | trans }}</a>
            <div id="what-you-need" class="accordian help-item push--ends">
                <h3 class="summary">{{ 'whatyouneed' |trans }}</h3>
                <ul class="content list list-bullet">
                    <li>{{ 'whatyouneedListItem1' | trans }}</li>
                    <li>{{ 'whatyouneedListItem2' | trans }}</li>
                    <li>{{ 'whatyouneedListItem3' | trans }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid-row push-half--top">
        <div class="column-half">
            <h2 class="heading-medium flush--top">{{ 'ialready' |trans }}</h2>
            <p>{{ 'signtoaccess' | trans }}</p>
        </div>
        <div class="column-half">
            <a href="{{ path('login') }}" class="button">{{ 'signin' |trans }}</a>
        </div>
    </div>

    <div class="text">
        
        <h2 class="heading-medium">Helpful to know</h2>

        <p>It's OPG's responsibility to look after the client's best interests (the client is the person whose affairs you are looking after). Your deputy reports help us supervise your deputyship.</p>

        <p>You can also use your report to raise concerns and ask for support.</p>

        <p>We first ask you to complete a new deputy report, which records the client's circumstances at the time of your court order.</p>

        <p>You can then use this service to record your deputy decisions as you go along, for a report you send OPG at the end of every year of your deputyship.</p>


        <h2 class="heading-medium">You'll need to provide details of:</h2>

        <ul class="list list-bullet">
            <li>how the client is cared for</li>
            <li>purchases you've made on the client's behalf</li>
            <li>financial records relating to the client (for example bank statements)</li>
            <li>the client's assets and debts</li>
            <li>any big decisions you have made or are planning to make for the client</li>
            <li>friends, family and professionals you've contacted on behalf of the client</li>
        </ul>


        <h2 class="heading-medium">Does the client have more than one deputy?</h2>

        <p>You'll only need to submit one deputy report for each reporting period. This applies if you make decisions together (usually called 'jointly') or separately and together (usually called 'jointly and severally').</p>


        <h2 class="heading-medium">What happens after I submit my report?</h2>

        <p>We'll review the report, and may still need to contact you for more information – by phone, email, in writing or by arranging a visit.</p>

        <h2 class="heading-medium">Health and welfare deputies </h2>

        <p>We are currently building a digital service for health and welfare deputies. In the meantime, please download and print your annual report form <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/537795/OPG104A-Filling-in-your-deputy-report-form-health-and-welfare-decisions.pdf">here</a>.</p>


        <h2 class="heading-medium">Deputy fees remission or exemption</h2>

        <p>You pay OPG's fees for supervising your deputyship from the client's funds.</p>

        <p>Clients with a lower income may qualify for a <a href="https://www.gov.uk/government/publications/deputy-fees-remission-or-exemption" target="_blank">remission or exemption</a>.</p>
    </div>




    <script type="text/javascript">
        $(document).ready(function() {
            $('.accordian').each(function(index,item) {
                opg.accordian({
                    target:item,
                    open: false
                });
            });
        });
    </script>

{% endblock %}
