{% extends 'AppBundle:Layouts:application_new.html.twig' %}
{% set translationDomain = "home" %}
    {% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}


{% block pageContent %}

    <p class="text">{{ 'intro' | trans }}</p>

    <div class="grid-row push--top">
        <div class="column-half">
            <h2 class="heading-medium flush--top">{{ 'iwanttocreate' | trans }}</h2>
        </div>
        <div class="column-half">
            <a id="creat-account-button" class="button" href="{{ path('register') }}">{{ 'createaccount' | trans }}</a>
            <div id="what-you-need" class="accordian help-item push--ends">
                <h3 class="summary">{{ 'whatyouneed' |trans }}</h3>
                <ul class="content list list-bullet">
                    <li>{{ 'whatyouneedListItem1' | trans }}</li>
                    <li>{{ 'whatyouneedListItem2' | trans }}</li>
                    <li>{{ 'whatyouneedListItem3' | trans }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid-row push-half--top">
        <div class="column-half">
            <h2 class="heading-medium flush--top">{{ 'ialready' |trans }}</h2>
            <p>{{ 'signtoaccess' | trans }}</p>
        </div>
        <div class="column-half">
            <a href="{{ path('login') }}" class="button">{{ 'signin' |trans }}</a>
        </div>
    </div>

    <h2 class="heading-medium">{{ 'makesure' | trans }}</h2>
    <ul class="list list-bullet">
        <li>{{ 'makeListItem1' | trans }}</li>
        <li>{{ 'makeListItem2' | trans }}</li>
        <li>{{ 'makeListItem3' | trans }}</li>
    </ul>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.accordian').each(function(index,item) {
                opg.accordian({
                    target:item,
                    open: false
                });
            });
        });
    </script>

{% endblock %}
