{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set translationDomain = "home" %}
    {% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block bodyClasses %}home{% endblock %}
{% block pageContent %}
    <header class="page-header">
        <h1 class="heading-xlarge">{{ 'Complete the deputy report' | trans }}</h1>

    </header>

    <div id="page-body">
        <p class="page-section-description">{{ 'intro' | trans }}</p>

        <div id="create-section" class="split-section">
            <div>
                <h2>{{ 'iwanttocreate' | trans }}</h2>
            </div>
            <div id="creat-link-section">
                <a id="creat-account-button" class="button" href="{{ path('register') }}">{{ 'createaccount' | trans }}</a>
                <div id="what-you-need" class="accordian help-item">
                    <h3 class="summary">{{ 'whatyouneed' |trans }}</h3>
                    {% include 'AppBundle:Components/Page:_page-section-list.html.twig' with {
                        transDomain: translationDomain,
                        className: 'content list-bullet',
                        pageSectionList: 'whatyouneedlist'
                    } %}
                </div>
            </div>
        </div>

        <div id="sign-in-section" class="split-section">
            <div>
                <h2>{{ 'ialready' |trans }}</h2>
                <p>{{ 'signtoaccess' | trans }}</p>
            </div>
            <div>
                <a href="{{ path('login') }}" class="button">{{ 'signin' |trans }}</a>
            </div>
        </div>

        <h2>{{ 'makesure' | trans }}</h2>
        {% include 'AppBundle:Components/Page:_page-section-list.html.twig' with {
            transDomain: translationDomain,
            pageSectionList: 'makelist'
        } %}

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.accordian').each(function(index,item) {
                opg.accordian({
                    target:item,
                    open: false
                });
            });
        });
    </script>

{% endblock %}
