{% extends 'AppBundle:Layouts:application_new.html.twig'%}
{% trans_default_domain "signin" %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}

{% block pageTitle %}
    {% if isAdmin %}
        {{ 'admin.pageTitle' | trans }}
    {% else %}
        {{ 'pageTitle' | trans }}
    {% endif %}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'push--bottom'}}) }}

    {{ form_input(form.email,'email', { 'labelClass': 'required' }) }}
    {{ form_input(form.password,'password', { 'labelClass': 'required' } ) }}
    {{ form_submit(form.login,'signin', {'buttonClass': 'behat-link-login'}) }}

    {{ form_end(form) }}

    <a class="behat-link-forgotten-password" href="{{ path('password_forgotten') }}">{{ 'forgottenPassword' | trans }}</a>

{% endblock %}
