{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% trans_default_domain "login" %}

{% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page js-sign-in-page{% endblock %}

{% block title %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageHeader %}
    {{ parent() }}
{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}


{% block pageBody %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.email,'email', { 'labelClass': 'required' }) }}
    {{ form_input(form.password,'password', { 'labelClass': 'required' } ) }}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.login,'login', {'buttonClass': 'behat-link-login'}) }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}
    
    <a href="{{ path('password_forgotten') }}" class="behat-link-forgotten-password">{{ 'forgottenPassword' | trans }}</a>

{% endblock %}
