{# displayed when a non-404 exception is thrown.
Available variables: status_code, status_text, exception, logger,currentContent #}

{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "error" %}

{% block htmlTitle %} {{ message }} {% endblock %}

{% set isExceptionPage = true %}

{% block content %}
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="{{ feedbackUrl }}">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <h1 class="heading-large">{{ message }}</h1>

    <p>{{ description }}</p>


    {# `if app.user` could be used to detect if the user is logged or not
     #  However, it's not possible to know what the error is about and what pages works or not,
     #  Easier and safer to give the user the link to the homepage, that will decide what to do
     #   (redirect to reports/overview/registratino step, depending on the content)
    #}
    <a class="home-link" href="{{path('homepage')}}">{{ 'generic.backToHomePage' | trans }}</a>


{% endblock %}
