{% extends '@App/Layouts/application.html.twig' %}
{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "registration" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'addClient.htmlTitle' | trans }} {% endblock %}
{% block pageTitle %}
    {% if client_validated %}
        {{ 'addClient.pageTitleWithClient' | trans({'%client%': client.firstName }) }}
    {% else %}
        {{ 'addClient.pageTitle' | trans }}
    {% endif %}
{% endblock %}

{% block progressBar %}
     {{ progress_bar_registration(app.user, 'client_details') }}
{% endblock %}

{% block helpline %}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}
    {% set gaCategory = 'addClient.pageTitle' | trans %}
    {% set gaAction = 'Click: Button: Save Client Details' %}
    {% set gaLabel = 'Clicked save client details button on ' ~ app.request.requesturi %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {% if client_validated %}

            <h3 class="govuk-heading-m">{{ 'form.editYourDetails.detailsEntered' | trans({}, 'settings') }}</h3>

            {{ form_widget(form.firstname, {'type': 'hidden'}) }}
            {{ form_widget(form.lastname, {'type': 'hidden'}) }}
            {{ form_widget(form.caseNumber, {'type': 'hidden'}) }}

            <p class="flush--bottom">
                <strong class="govuk-!-font-weight-bold">{{ 'name' | trans({}, 'common' ) }}: </strong>
                {{ client.fullName }}
            </p>

            <p class="push--bottom">
                <strong class="govuk-!-font-weight-bold">{{ 'caseNumber' | trans({}, 'common' ) }}: </strong>
                {{ client.caseNumber }}
            </p>

        {% else %}
            {{ form_input(form.firstname, 'firstname') }}
            {{ form_input(form.lastname, 'lastname') }}
        {% endif %}

        {% if client_validated %}
            <h3 class="govuk-heading-m">{{ 'form.editYourDetails.furtherDetailsNeeded' | trans({}, 'settings') }}</h3>
        {% endif %}
        {{ macros.addressFields(form, translationDomain) }}
        {{ form_input(form.phone, 'phone') }}

        {% if not client_validated %}
            {{ form_input(form.caseNumber, 'caseNumber') }}
        {% endif %}

        {{ form_known_date(form.courtDate, 'courtDate') }}

        {{ form_submit_ga(
            form.save,
            'saveAndContinue',
            gaCategory,
            gaAction,
            gaLabel)
        }}

    {{ form_end(form) }}

{% endblock %}
