{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "client" %}
{% trans_default_domain translationDomain %}
{% set page = 'showClient' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans({'%client%': client.firstname}) }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans({'%client%': client.firstname}) }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsArray([
        { href: url('deputyship_details_clients'), text: 'Your clients' }
    ]) }}
{% endblock %}

{% block pageContent %}
    <table class="text">
        <tbody>
            <tr>
                <th scope="row" class="govuk-!-font-weight-bold">{{ (page ~ '.clientTable.header.caseNumber') | trans }}</th>
                <td class="behat-region-case-number">{{ client.getCaseNumber }}</td>
            </tr>
            <tr valign="top">
                <th scope="row" class="govuk-!-font-weight-bold">{{ (page ~ '.clientTable.header.address') | trans({'%client%': client.firstname}) }}</th>
                <td>
                    {% if client.address is not empty %}
                        <div itemprop="streetAddress">{{ client.address }}</div>
                    {% endif %}
                    {% if client.address2 is not empty %}
                        <div itemprop="addressLocality">{{ client.address2 }}</div>
                    {% endif %}
                    {% if client.address3 is not empty %}
                        <div itemprop="addressRegion">{{ client.address3 }}</div>
                    {% endif %}
                    {% if client.address4 is not empty %}
                        <div itemprop="addressRegion">{{ client.address4 }}</div>
                    {% endif %}
                    {% if client.address5 is not empty %}
                        <div itemprop="addressRegion">{{ client.address5 }}</div>
                    {% endif %}
                    {% if client.postcode is not empty %}
                        <div itemprop="postalCode" class="behat-region-client-address-postcode">{{ client.postcode }}</div>
                    {% endif %}
                    {% if client.country is not empty %}
                        <div itemprop="addressCountry">{{ client.country | country_name }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="govuk-!-font-weight-bold">{{ (page ~ '.clientTable.header.courtDate') | trans }}</th>
                <td>{{ client.courtDate | date("d/m/Y") }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_edit', {'clientId' : client.id}) }}#edit-client" class="govuk-button push--top behat-link-client-edit">
       {{ (page ~ '.editClient') | trans({'%client%': client.firstname}, translationDomain) }}
   </a>

{% endblock %}
