{% set translationDomain = "report-bank-accounts" %}
{% trans_default_domain translationDomain %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">List of accounts</h2>
    </div>
    <div class="govuk-grid-column-one-half text--right">
        <strong>
            <a href="{{ path('bank_accounts_step' , {'reportId': report.id, 'step': 1}) }}" class="behat-link-add">
                <span class="icon icon-plus"></span>
                Add account
            </a>
        </strong>
    </div>
</div>

<table class="govuk-table behat-region-list-accounts">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                Account
            </th>
            <th class="govuk-table__header govuk-table__header--numeric">
                Balance on {{ report.startDate | date("j F Y") }}
            </th>
            <th class="govuk-table__header govuk-table__header--numeric">
                Balance on {{ report.endDate | date("j F Y") }}
            </th>
            <th class="govuk-table__header">
                <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for account in report.bankAccounts %}
        <tr class="govuk-table__row behat-region-account-{{ account.accountNumber | behat_namify }}">
            <th scope="row" class="govuk-table__header">
                {% if account.requiresBankName %}
                    <p class="govuk-!-font-size-18">{{ account.bank }}</p>
                {% endif %}

                <p class="govuk-!-margin-0 govuk-!-font-size-16">{{ account.accountTypeText }}</p>
                    {% if account.requiresSortCode %}
                        <p class="govuk-!-margin-0 govuk-!-font-size-16">Sort code: {{ account.sortCode }}</p>
                    {% endif %}
                <p class="govuk-!-margin-0 govuk-!-font-size-16">Account number: ****{{ account.accountNumber }}</p>
                <p class="govuk-!-margin-0 govuk-!-font-size-16">Joint account: {{ account.isJointAccount | capitalize }}</p>
                <p class="govuk-!-margin-0 govuk-!-font-size-16">Closed: {{ account.isClosed ? 'Yes' : 'No' }}</p>
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                £{{ account.openingBalance | money_format }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
            {% if account.closingBalance == null %}
                <div class="error-message">
                    {{ 'summaryPage.balanceRequired' | trans({ '%date%': report.endDate | date("j F Y") }) }}
                </div>
                <a class="govuk-link" href="{{ path('bank_accounts_step' , {'reportId': report.id, 'step': 3, 'accountId': account.id}) }}">
                    {{ 'summaryPage.addBalance' | trans }}
                </a>
            {% else %}
                £{{ account.closingBalance | money_format }}
            {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                <a class="behat-link-edit govuk-link"
                   href="{{ path('bank_accounts_step' , {'reportId': report.id, 'step': 1, 'accountId': account.id}) }}">{{ 'edit' | trans({}, 'common' ) }}</a>
                <a class="behat-link-delete govuk-link govuk-!-margin-left-1"
                   href="{{ path('bank_account_delete' , {'reportId': report.id, 'accountId': account.id}) }}">{{ 'remove' | trans({}, 'common' ) }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
