{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-bank-accounts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname | striptags,
    '%moneyInPath%': path('money_in', {reportId: report.id})
} %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageTitle' | trans(transOptions) }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p class="govuk-body">{{ 'startPage.pageSectionDescription1' | trans(transOptions) }}</p>
        <p class="govuk-body">{{ 'startPage.pageSectionDescription2' | trans(transOptions) }}</p>
        {% if report.hasSection('moneyIn') %}
            <p class="govuk-body">
                {{ 'startPage.pageSectionDescription3.beforeMarkupText' | trans(transOptions) }}
                <a href="{{ path('money_in', {reportId: report.id}) }}">
                    {{ 'startPage.pageSectionDescription3.link' | trans(transOptions) }}
                </a>
                {{ 'startPage.pageSectionDescription3.afterMarkupText' | trans(transOptions) }}
            </p>
        {% endif %}

        {% if not app.user.isDeputyOrg() %}
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">{{ 'startPage.hiddenText01.summary' | trans(transOptions) }}</span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">
                        {{ 'startPage.hiddenText01.content.para01.beforeMarkupText' |trans(transOptions) }}
                        <a href="{{ 'startPage.hiddenText01.content.para01.link' |trans(transOptions) }}">
                            {{ 'startPage.hiddenText01.content.para01.linkText' |trans(transOptions) }}
                        </a>
                        {{ 'startPage.hiddenText01.content.para01.afterMarkupText' |trans(transOptions) }}
                    </p>
                </div>
            </details>
        {% endif %}
    </div>

    {{ macros.startSectionButton(path('bank_accounts_step', { 'reportId': report.id, 'step': 1 }), 'startPage.startButton' | trans) }}

    {# Pagination #}
    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'bankAccounts',
    } %}

{% endblock %}
