{% trans_default_domain translationDomain %}


<ul id="contact-list" class="behat-region-list-contacts report-list report-list--contacts">
    {% for contact in contacts %}
        <li itemscope itemtype="http://schema.org/Person" class="report-list__item" id="edit-{{ contact.id }}">
            <div class="report-list__item-header"><h3 itemprop="name">{{ contact.contactName }}</h3>
                <a href="{{ url('edit_contact', { 'reportId': report.id, 'id': contact.id }) }}#pageBody"
                   class="js-report-list__item-edit-link report-list__item-edit-link behat-link-contact-n{{loop.index}}">{{ 'view_contact.edit'| trans }}</a>
            </div>
            <dl class="report-list__item-fields">
                <div class="report-list__item-fields-row">
                    <dt class="report-list__item-fields-term">{{ 'view_contact.relationship' | trans({'%client%':client.firstname}, translationDomain) }}</dt>
                    <dd class="report-list__item-fields-description">{{ contact.relationship }}</dd>
                </div>
                <div class="report-list__item-fields-row">
                    <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'view_contact.reason' | trans }}</dt>
                    <dd class="report-list__item-fields-description report-list__item-fields-description--block">{{ contact.explanation }}</dd>
                </div>
                <div class="report-list__item-fields-row">
                    <dt class="report-list__item-fields-term">{{ 'view_contact.address' | trans }}</dt>
                    <dd class="report-list__item-fields-description" itemprop="address" itemscope
                        itemtype="http://schema.org/PostalAddress">
                        {% if contact.address is not empty %}
                            <div itemprop="streetAddress">{{ contact.address }}</div>
                        {% endif %}
                        {% if contact.address2 is not empty %}
                            <div itemprop="addressLocality">{{ contact.address2 }}</div>
                        {% endif %}
                        {% if contact.county is not empty %}
                            <div itemprop="addressRegion">{{ contact.county }}</div>
                        {% endif %}
                        {% if contact.postcode is not empty %}
                            <div itemprop="postalCode">{{ contact.postcode }}</div>
                        {% endif %}
                        {% if contact.country is not empty %}
                            <div itemprop="addressCountry">{{ contact.country | country_name }}</div>
                        {% endif %}
                    </dd>
                </div>
            </dl>

        </li>
    {% endfor %}
</ul>
