{% if contacts | length > 0 or odr.reasonForNoContacts != "" %}
    <div class="section" id="contacts-section">
        <h2 class="section-heading">People you consulted</h2>
                        
        {% if contacts | length == 0 %}
            <div class="box contact-item no-contact" id="no-contact">
                <dl class="labelvalue">
                    <dt class="label">Check this box if you did not consult anyone and use the box below to tell us why.</dt>
                    <dd class="value checkbox">X</dd>
                    <dd class="value textarea">{{ odr.reasonForNoContacts }}</dd>
                </dl>
            </div>
        {% else %}
            <div class="box">
                <ul class="box-list">
                    {% for contact in contacts %}
                        <li class="box-list-item">
                            <dl class="labelvalue half-width first">
                                <dt class="label">Full name</dt>
                                <dd class="value">{{ contact.contactName }}</dd>
             
                                <dt class="label">Address</dt>
                                <dd class="value textarea">
                                    {% if contact.address or contact.postcode %}
                                    {{ contact.address }}<br/>
                                    {{ contact.address2 }}<br/>
                                    {{ contact.county }}<br/>
                                    {{ contact.postcode }}<br/>
                                    {{ contact.country | country_name }}
                                    {% else %}
                                      -
                                    {% endif %}
                                </dd>
                            </dl>
                            <dl class="labelvalue half-width">
                                <dt class="label">Relationship to client</dt>
                                <dd class="value">{{ contact.relationship }}</dd>
        
                                <dt class="label">Why did you consult them?</dt>
                                <dd class="value textarea">{{ contact.explanation }}</dd>
                            </dl>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endif %}
