{% if odr.getStateBenefitsPresent()
or odr.getOneOffPresent()
or odr.getReceiveStatePension()
or odr.getReceiveOtherIncome()
or odr.getExpectCompensationDamages() %}
    <div class="section" id="income-benefits-section">
        <h2 class="section-heading">Income and Finance</h2>

        <h3>State benefits</h3>

        <div class="box">
            <table class="checkboxes labelvalue">
                {% for st in odr.stateBenefits %}
                    <tr>
                        <td class="clean-cell">
                            <span class="checkbox value">
                                {{ st.present ? 'X' : '&nbsp;' }}
                            </span>
                        </td>
                        <td class="label soft-half--bottom">{{ ('form.stateBenefits.entries.' ~ st.typeId ~ '.label') | trans({}, 'odr-income-benefits') }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% for st in odr.stateBenefits %}
                {% if st.hasMoreDetails and st.moreDetails %}
                    <div class="labelvalue">
                        <div class="label question flush--top">More details on other benefits:</div>
                        <div class="value">{{ st.moreDetails | nl2br }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="dont-break">

            <h3 class="label question bold">Pensions and other income</h3>

            <div class="box">
                <h3 class="label question bold">Does the client receive a state pension?</h3>
                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if odr.receiveStatePension == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="value checkbox">{% if odr.receiveStatePension == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>
            </div>

            <div class="box">
                <h3 class="label question bold">Does the client receive any other regular income?</h3>
                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if odr.receiveOtherIncome == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="value checkbox">{% if odr.receiveOtherIncome == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>
                {% if odr.receiveOtherIncome == 'yes' %}
                    <div class="labelvalue">
                        <div class="label question">More details:</div>
                        <div class="value">{{ odr.receiveOtherIncomeDetails | nl2br }}</div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="dont-break">

            <h3>Damages</h3>

            <div class="box">
                <h3 class="label question bold">Are you expecting any compensation awards or damages to be paid to the client?</h3>
                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if odr.expectCompensationDamages == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="value checkbox">{% if odr.expectCompensationDamages == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>
                {% if odr.expectCompensationDamages == 'yes' %}
                    <div class="labelvalue">
                        <div class="label question">More details:</div>
                        <div class="value">{{ odr.expectCompensationDamagesDetails | nl2br }}</div>
                    </div>
                {% endif %}
            </div>
        </div>

        <h3>One off</h3>

        <div class="box">
            <table class="checkboxes labelvalue">
                {% for st in odr.oneOff %}
                    <tr>
                        <td class="clean-cell">
                            <span class="checkbox value">
                                {{ st.present ? 'X' : '&nbsp;' }}
                            </span>
                        </td>
                        <td class="label soft-half--bottom">{{ ('form.oneOff.entries.' ~ st.typeId ~ '.label') | trans({}, 'odr-income-benefits') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}




