{% set page = 'checklistPage' %}

<div id="wrapper">
    <div class="formatted-report">

        <div id="report-header">Office of the Public Guardian</div>
        <h1>Lodging checklist</h1>

        <p class="push--bottom">
            <strong>{{ 'client' | trans({}, 'common' ) }}:</strong> {{ report.client.fullName }}<br/>
            <strong>{{ 'caseNumber' | trans({}, 'common' ) }}:</strong> {{ report.client.caseNumber }}<br/>
            <strong>{{ 'reportingPeriod' | trans({}, 'common' ) }}:</strong> {{ report.startDate | date("j F Y") }} - {{ report.endDate | date("j F Y") }}<br/>
        </p>

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.info') | trans({}, 'admin-checklist') }}</h2>

            <h3 class="label question bold">{{ (page ~ '.form.reportingPeriodAccurate.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.reportingPeriodAccurate == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.reportingPeriodAccurate == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>

            {# DDPB-2293 question not relevant for PA #}
            {% if not report.hasSection('paDeputyExpenses') %}

                <h3 class="label question bold">{{ (page ~ '.form.contactDetailsUptoDate.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.contactDetailsUptoDate == true %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="label question bold">{{ (page ~ '.form.deputyFullNameAccurateInSirius.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.deputyFullNameAccurateInSirius == true %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>

            {% endif %}

        </div>

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.decisions') | trans({}, 'admin-checklist') }}</h2>

            <h3 class="label question bold">{{ (page ~ '.form.decisionsSatisfactory.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.decisionsSatisfactory == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.decisionsSatisfactory == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.contacts') | trans({}, 'admin-checklist') }}</h2>

            <h3 class="label question bold">{{ (page ~ '.form.consultationsSatisfactory.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.consultationsSatisfactory == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.consultationsSatisfactory == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.visitsAndCare') | trans({}, 'admin-checklist') }}</h2>

            <h3 class="label question bold">{{ (page ~ '.form.careArrangements.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.careArrangements == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.careArrangements == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if report.hasSection('lifestyle') %}
            <div class="section">
                <h2 class="section-heading">{{ (page ~ '.heading.lodging.healthAndLifestyle') | trans({}, 'admin-checklist') }}</h2>

                <h3 class="label question bold">{{ (page ~ '.form.satisfiedWithHealthAndLifestyle.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.satisfiedWithHealthAndLifestyle == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.satisfiedWithHealthAndLifestyle == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}


        {% if report.hasSection('assets') or report.hasSection('debts') %}
            <div class="section">
                <h2 class="section-heading">{{ (page ~ '.heading.lodging.assetsAndDebts') | trans({}, 'admin-checklist') }}</h2>

                <h3 class="label question bold">{{ (page ~ '.form.assetsDeclaredAndManaged.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.assetsDeclaredAndManaged == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.assetsDeclaredAndManaged == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.assetsDeclaredAndManaged == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="label question bold">{{ (page ~ '.form.debtsManaged.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.debtsManaged == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.debtsManaged == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.debtsManaged == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if report.hasSection('clientBenefitsCheck') %}
            <div class="section">
                <h2 class="section-heading">{{ (page ~ '.heading.lodging.clientBenefitsCheck') | trans({}, 'admin-checklist') }}</h2>

                <h3 class="label question bold">{{ (page ~ '.form.clientBenefitsChecked.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.clientBenefitsChecked == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.clientBenefitsChecked == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.clientBenefitsChecked == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if report.hasSection('moneyInShort') or report.hasSection('moneyOutShort') or report.hasSection('gifts') or report.hasSection('deputyExpenses') or report.hasSection('paDeputyExpenses') %}
            <div class="section">
                <h2 class="section-heading">{{ (page ~ '.heading.lodging.money') | trans({}, 'admin-checklist') }}</h2>

                <h3 class="label question bold">{{ (page ~ '.form.openClosingBalancesMatch.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.openClosingBalancesMatch == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.openClosingBalancesMatch == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.openClosingBalancesMatch == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>

                {% if report.hasSection('paDeputyExpenses') or report.hasSection('profDeputyCosts') %}
                    {% set nonLayAppend = 'NonLay' %}
                {% else %}
                    {% set nonLayAppend = '' %}
                {% endif %}

                {% if report.hasSection('balance') %}
                <h3 class="label question bold">{{ (page ~ '.form.accountsBalance' ~ nonLayAppend ~ '.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.accountsBalance == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.accountsBalance == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.accountsBalance == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}

                <h3 class="label question bold">{{ (page ~ '.form.moneyMovementsAcceptable.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.moneyMovementsAcceptable == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.moneyMovementsAcceptable == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.moneyMovementsAcceptable == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if report.hasSection('bankAccounts') %}
            <div class="section">
            {% if report.hasSection('paDeputyExpenses') %}
                <h2 class="section-heading">{{ (page ~ '.heading.lodging.paFeeExpenses') | trans({}, 'admin-checklist') }}</h2>

                <h3 class="label question bold">{{ (page ~ '.form.deputyChargeAllowedByCourt.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.deputyChargeAllowedByCourt == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.deputyChargeAllowedByCourt == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                    </tbody>
                </table>

                <h3 class="label question bold">{{ (page ~ '.form.satisfiedWithPaExpenses.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.satisfiedWithPaExpenses == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.satisfiedWithPaExpenses == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.satisfiedWithPaExpenses == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <h2 class="section-heading">{{ (page ~ '.heading.lodging.bonds') | trans({}, 'admin-checklist') }}</h2>

                <h3 class="label question bold">{{ (page ~ '.form.bondAdequate.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.bondAdequate == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.bondAdequate == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.bondAdequate == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="label question bold">{{ (page ~ '.form.bondOrderMatchSirius.label') | trans({}, 'admin-checklist') }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tbody>
                        <tr>
                            <td class="checkbox value"{% if lodgingChecklist.bondOrderMatchSirius == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.bondOrderMatchSirius == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if lodgingChecklist.bondOrderMatchSirius == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            </div>
        {% endif %}

        {% if report.hasSection('profDeputyCosts') %}
        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.profDeputyCosts') | trans({}, 'admin-checklist') }}</h2>

            <h3 class="label question bold">{{ (page ~ '.form.paymentsMatchCostCertificate.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.paymentsMatchCostCertificate == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.paymentsMatchCostCertificate == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.paymentsMatchCostCertificate == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="label question bold">{{ (page ~ '.form.profCostsReasonableAndProportionate.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.profCostsReasonableAndProportionate == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.profCostsReasonableAndProportionate == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.profCostsReasonableAndProportionate == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="label question bold">{{ (page ~ '.form.hasDeputyOverchargedFromPreviousEstimates.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.hasDeputyOverchargedFromPreviousEstimates == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.hasDeputyOverchargedFromPreviousEstimates == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.hasDeputyOverchargedFromPreviousEstimates == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if report.hasSection('profDeputyCostsEstimate') %}
        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.profDeputyCostsEstimate') | trans({}, 'admin-checklist') }}</h2>

            <h3 class="label question bold">{{ (page ~ '.form.nextBillingEstimatesSatisfactory.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.nextBillingEstimatesSatisfactory == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.nextBillingEstimatesSatisfactory == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>

            {% if report.profDeputyManagementCostAmount is not null %}
                <h3 class="label question bold">
                    {{ (page ~ '.form.totalEstimatedCosts.label') | trans({}, 'admin-checklist') }}:
                    £{{ report.profDeputyManagementCostAmount | money_format }}
                </h3>
            {% endif %}
        </div>
        {% endif %}

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.nextPeriod') | trans({}, 'admin-checklist') }}</h2>

            {% if report.hasSection('lifestyle') %}
                <h3 class="label question bold">{{ (page ~ '.form.futureSignificantChanges.label') | trans({}, 'admin-checklist') }}</h3>
            {%  else %}
                <h3 class="label question bold">{{ (page ~ '.form.futureSignificantDecisions.label') | trans({}, 'admin-checklist') }}</h3>
            {% endif %}

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.futureSignificantDecisions == 'yes' %} aria-label=”Selected”>X{% else %}> {% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.futureSignificantDecisions == 'no' %} aria-label=”Selected”>X{% else %}> {% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="label question bold">{{ (page ~ '.form.hasDeputyRaisedConcerns.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.hasDeputyRaisedConcerns == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.hasDeputyRaisedConcerns == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.declaration') | trans({}, 'admin-checklist') }}</h2>

            <h3 class="label question bold">{{ (page ~ '.form.caseWorkerSatisified.label') | trans({}, 'admin-checklist') }}</h3>

            <table class="checkboxes labelvalue inline">
                <tbody>
                    <tr>
                        <td class="checkbox value"{% if lodgingChecklist.caseWorkerSatisified == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="checkbox value"{% if lodgingChecklist.caseWorkerSatisified == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.summary') | trans({}, 'admin-checklist') }}</h2>

            <div class="labelvalue push-half--top">
                <h3 class="label question bold">{{ (page ~ '.form.lodgingSummary.label') | trans({}, 'admin-checklist') }}</h3>
                <div class="value">{{ lodgingChecklist.lodgingSummary | nl2br }}</div>
            </div>

            <div class="labelvalue push-half--top">
                <h3 class="label question bold">{{ (page ~ '.form.finalDecision.legend') | trans({}, 'admin-checklist') }}</h3>
                <table class="checkboxes labelvalue">
                    <tr>
                        <td class="clean-cell">
                            <span class="checkbox value"
                                {% if lodgingChecklist.finalDecision == 'for-review' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                            </span>
                        </td>
                        <td class="label soft-half--bottom">{{ (page ~ '.form.finalDecision.options.forReview') | trans({}, 'admin-checklist') }}</td>
                    </tr>
                    <tr>
                        <td class="clean-cell">
                            <span class="checkbox value"
                                {% if lodgingChecklist.finalDecision == 'incomplete' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                            </span>
                        </td>
                        <td class="label soft-half--bottom">{{ (page ~ '.form.finalDecision.options.incomplete') | trans({}, 'admin-checklist') }}</td>
                    </tr>
                    <tr>
                        <td class="clean-cell">
                            <span class="checkbox value"
                                {% if lodgingChecklist.finalDecision == 'further-casework-required' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                            </span>
                        </td>
                        <td class="label soft-half--bottom">{{ (page ~ '.form.finalDecision.options.furtherCaseworkRequired') | trans({}, 'admin-checklist') }}</td>
                    </tr>
                    <tr>
                        <td class="clean-cell">
                            <span class="checkbox value"
                                {% if lodgingChecklist.finalDecision == 'satisfied' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                            </span>
                        </td>
                        <td class="label soft-half--bottom">{{ (page ~ '.form.finalDecision.options.satisfied') | trans({}, 'admin-checklist') }}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="section">
            <h2 class="section-heading">{{ (page ~ '.heading.lodging.furtherInfo') | trans({}, 'admin-checklist') }}</h2>

            <table class="flush--top">
                <thead>
                    <tr>
                        <th class="text--left">Information provided</th>
                        <th class="text--left">Saved by</th>
                        <th class="text--left">Date saved</th>
                    </tr>
                </thead>
                <tbody>
                {% if lodgingChecklist.checklistInformation is not empty %}
                    {% set counter = 1 %}
                    {% for info in lodgingChecklist.checklistInformation %}
                        <tr>
                            <td class="value">{{ info.information | nl2br }}</td>
                            <td class="value align--top">{{ info.createdBy.fullname }}, {{ info.createdBy.roleFullName }}</td>
                            <td class="value no-wrap align--top">{{ info.createdOn | date("j F Y") }}</td>
                        </tr>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="value width-two-thirds">No information received.</td>
                        <td class="value width-sixth"></td>
                        <td class="value width-sixth"></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

         <p class="govuk-body">
            <strong>{{ 'caseManager' | trans({}, 'common' ) }}:</strong> {{ lodgingChecklist.submittedBy.fullName}} {% if lodgingChecklist.submittedBy.roleFullName != 'Admin' %}({{ lodgingChecklist.submittedBy.roleFullName }}){% endif %}<br/>
            <strong>{{ 'submissionDate' | trans({}, 'common' ) }}:</strong> {{ lodgingChecklist.submittedOn | date("j F Y") }}<br/>
        </p>

        {% if reviewChecklist is not null %}
            {% set answers = reviewChecklist.answers %}
            <div class="break-before">
                <div id="report-header">Office of the Public Guardian</div>
                <h1>{{ (page ~ '.heading.fullReview.title') | trans({}, 'admin-checklist') }}</h1>

                <p class="push--bottom left width-half">
                    <strong>{{ 'client' | trans({}, 'common' ) }}:</strong> {{ report.client.fullName }}<br/>
                    <strong>{{ 'caseNumber' | trans({}, 'common' ) }}:</strong> {{ report.client.caseNumber }}<br/>
                    <strong>{{ 'reportingPeriod' | trans({}, 'common' ) }}:</strong> {{ report.startDate | date("j F Y") }} - {{ report.endDate | date("j F Y") }}<br/>
                </p>

                <p class="push--bottom right half-width">
                    <strong>{{ (page ~ '.heading.fullReview.dateFirstSubmitted') | trans({}, 'admin-checklist') }}:</strong> {{ reviewChecklist.submittedOn | date("j F Y") }}<br/>
                    <strong>{{ (page ~ '.heading.fullReview.dateLastModified') | trans({}, 'admin-checklist') }}:</strong> {{ reviewChecklist.lastModifiedOn | date("j F Y") }}<br/>
                    <strong>{{ (page ~ '.heading.fullReview.reviewedBy') | trans({}, 'admin-checklist') }}:</strong> {{ reviewChecklist.submittedBy.fullName }}<br/>
                </p>

                <div class="section">
                    <h2 class="section-heading">{{ (page ~ '.heading.fullReview.bankStatements') | trans({}, 'admin-checklist') }}</h2>
                    <h3 class="label question bold">{{ (page ~ '.form.fullBankStatementsExist.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.fullBankStatementsExist == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.fullBankStatementsExist == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.fullBankStatementsExist == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section">
                    <h2 class="section-heading">{{ (page ~ '.heading.fullReview.lodgingConcerns') | trans({}, 'admin-checklist') }}</h2>
                    <h3 class="label question bold">{{ (page ~ '.form.anyLodgingConcerns.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.anyLodgingConcerns == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.anyLodgingConcerns == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.anyLodgingConcerns == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h2 class="section-heading">{{ (page ~ '.heading.fullReview.spendingAndDebt') | trans({}, 'admin-checklist') }}</h2>
                    <h3 class="label question bold">{{ (page ~ '.form.spendingAcceptable.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.spendingAcceptable == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.spendingAcceptable == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.spendingAcceptable == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="label question bold">{{ (page ~ '.form.expensesReasonable.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.expensesReasonable == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.expensesReasonable == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.expensesReasonable == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="label question bold">{{ (page ~ '.form.giftingReasonable.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.giftingReasonable == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.giftingReasonable == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.giftingReasonable == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="label question bold">{{ (page ~ '.form.debtManageable.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.debtManageable == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.debtManageable == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.debtManageable == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="label question bold">{{ (page ~ '.form.anySpendingConcerns.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.anySpendingConcerns == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.anySpendingConcerns == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.anySpendingConcerns == 'na' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'notApplicable' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section">
                    <h2 class="section-heading">{{ (page ~ '.heading.fullReview.referral') | trans({}, 'admin-checklist') }}</h2>
                    <h3 class="label question bold">{{ (page ~ '.form.needReferral.label') | trans({}, 'admin-checklist') }}</h3>
                    <table class="checkboxes labelvalue inline">
                        <tbody>
                        <tr>
                            <td class="checkbox value"{% if answers.needReferral == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                            <td class="checkbox value"{% if answers.needReferral == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                            <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section">
                    <div class="labelvalue push-half--top">
                        <h2 class="section-heading">{{ (page ~ '.heading.fullReview.finalDecision') | trans({}, 'admin-checklist') }}</h2>
                        <table class="checkboxes labelvalue">
                            <tr>
                                <td class="clean-cell">
                                <span class="checkbox value"
                                    {% if reviewChecklist.decision == 'satisfied' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                                </span>
                                </td>
                                <td class="label soft-half--bottom">{{ (page ~ '.form.finalDecision.fullReviewOptions.satisfied') | trans({}, 'admin-checklist') }}</td>
                            </tr>
                            <tr>
                                <td class="clean-cell">
                                <span class="checkbox value"
                                    {% if reviewChecklist.decision == 'further-casework-required' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                                </span>
                                </td>
                                <td class="label soft-half--bottom">{{ (page ~ '.form.finalDecision.fullReviewOptions.furtherCaseworkRequired') | trans({}, 'admin-checklist') }}</td>
                            </tr>
                            <tr>
                                <td class="clean-cell">
                                <span class="checkbox value"
                                    {% if reviewChecklist.decision == 'escalate' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                                </span>
                                </td>
                                <td class="label soft-half--bottom">{{ (page ~ '.form.finalDecision.fullReviewOptions.escalate') | trans({}, 'admin-checklist') }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="labelvalue push-half--top">
                        <div class="value">{{ answers.decisionExplanation | nl2br }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
