{% set translationDomain = "overview" %}
{% trans_default_domain translationDomain %}

<div id="report-period-due border-top">
    <div id="report-period" class="labelvalue">
        <div class="label">{{ 'reportingPeriod' | trans() }}:</div>
        <div class="value">{{ report.startDate | date(" d F Y") }} to {{ report.endDate | date(" d F Y") }}</div>
    </div>
    <div id="report-due" class="labelvalue">
        <div class="label">{{ 'dueDate' | trans() }}:</div>
        <div class="value">{{ report.dueDate | date(" d F Y") }}</div>
    </div>
</div>
