{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}: {{ 'nav.moneyIn' | trans({}, "report-accounts") }}{% endblock %}
    {% block info %}<span id="save-status"></span>{% endblock %}
    {% block leftcontent %}
        {% include 'AppBundle:BankAccount:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        <h3 class="heading-medium-large">{{ 'moneyIn.pageSectionTitle' | trans({'%client%': report.client.firstname}, translationDomain) }}</h3>
        <p class="page-section-description">{{ 'moneyIn.pageSectionDescription' | trans({'%client%': report.client.firstname, '%startDate%': report.startDate | date("j F Y"), '%endDate%': report.endDate | date("j F Y")}) | raw }}</p>
        {% include 'AppBundle:BankAccount:transactions.html.twig' with {
        transDomain: translationDomain,
        transactionsGrouped: report.groupByCategory(report.transactionsIn),
        transactionsTotal: report.getMoneyInTotal,
        formTransactions: form.transactionsIn
        } %}

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("transfers" , {'reportId': report.id }),
        'previousLabel': 'Money transfers',
        'nextLink': path("accounts_moneyout" , {'reportId': report.id }),
        'nextLabel': 'Money out'
        } %}
    {% endblock %}

{% endembed %}
