{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'addPage.moneyOut.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addPage.moneyOut.pageTitle' | trans }}{% endblock %}


{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addPage.moneyOut.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <p class="govuk-heading-s">{{ 'addPage.moneyOut.pageSectionDescription1' | trans(transOptions) }}</p>
    <p class="govuk-body">{{ 'addPage.moneyOut.pageSectionDescription2' | trans(transOptions) }}</p>
    <p class="govuk-body">{{ 'addPage.moneyOut.pageSectionDescription3' | trans(transOptions) }}</p>

    {% include '@App/Report/MoneyOutShort/_form.html.twig' with {
    'translationDomain': translationDomain,
    'form': form
    } %}

{% endblock %}
