{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ ('categoryPage.moneyOut.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ 'form.categoriesOut.label' | trans(transOptions) }}{% endblock %}
{% block supportTitleTop %}{{ ('categoryPage.moneyOut.supportTitle') | trans }}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <p class="govuk-hint">
        {{ 'form.categoriesOut.hint' | trans(transOptions) }}
    </p>

    {% include '@App/Report/MoneyOutShort/_checkboxes_list.html.twig' with {
    'elements': form.moneyShortCategoriesOut,
    } %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
