{% if ndr.getStateBenefitsPresent()
or ndr.getOneOffPresent()
or ndr.getReceiveStatePension()
or ndr.getReceiveOtherIncome()
or ndr.getExpectCompensationDamages() %}
    <div class="section" id="income-benefits-section">

        <div class="dont-break">
            <h2 class="section-heading">Income and Finance</h2>

            <h3>State benefits</h3>

            <div class="box">
                <table class="checkboxes labelvalue">
                    {% for st in ndr.stateBenefits %}
                        <tr>
                            <td class="clean-cell">
                                <span class="checkbox value">
                                    {{ st.present ? 'X' : '&nbsp;' }}
                                </span>
                            </td>
                            <td class="label soft-half--bottom">{{ ('form.stateBenefits.entries.' ~ st.typeId ~ '.label') | trans({}, 'ndr-income-benefits') }}</td>
                        </tr>
                    {% endfor %}
                </table>

                {% for st in ndr.stateBenefits %}
                    {% if st.hasMoreDetails and st.moreDetails %}
                        <div class="labelvalue">
                            <div class="label question flush--top">More details on other benefits:</div>
                            <div class="value">{{ st.moreDetails | nl2br }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="dont-break">

            <h3>Pensions and other income</h3>

            <div class="box">
                <h3 class="label question bold">Does the client receive a state pension?</h3>
                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if ndr.receiveStatePension == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="value checkbox">{% if ndr.receiveStatePension == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </table>
            </div>

            <div class="box">
                <h3 class="label question bold">Does the client receive any other regular income?</h3>
                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if ndr.receiveOtherIncome == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="value checkbox">{% if ndr.receiveOtherIncome == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </table>
                {% if ndr.receiveOtherIncome == 'yes' %}
                    <div class="labelvalue">
                        <div class="label question">More details:</div>
                        <div class="value">{{ ndr.receiveOtherIncomeDetails | nl2br }}</div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="dont-break">

            <h3>Damages</h3>

            <div class="box">
                <h3 class="label question bold">Are you expecting any compensation awards or damages to be paid to the client?</h3>
                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if ndr.expectCompensationDamages == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="value checkbox">{% if ndr.expectCompensationDamages == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </table>
                {% if ndr.expectCompensationDamages == 'yes' %}
                    <div class="labelvalue">
                        <div class="label question">More details:</div>
                        <div class="value">{{ ndr.expectCompensationDamagesDetails | nl2br }}</div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="dont-break">

            <h3>One off</h3>

            <div class="box">
                <table class="checkboxes labelvalue">
                    {% for st in ndr.oneOff %}
                        <tr>
                            <td class="clean-cell">
                                <span class="checkbox value">
                                    {{ st.present ? 'X' : '&nbsp;' }}
                                </span>
                            </td>
                            <td class="label soft-half--bottom">{{ ('form.oneOff.entries.' ~ st.typeId ~ '.label') | trans({}, 'ndr-income-benefits') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endif %}




