{% extends 'AppBundle:Layouts:application.html.twig' %}



{% block htmlTitle %}Digideps Styleguide{% endblock %}

{% block pageContent %}
    <link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

    {% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
    breadCrumb: breadCrumb
    } %}

    <div class="grid-row">
        <header id="page-header" class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Digideps Elements</span>
                Hero
            </h1>
        </header>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-small heading-contents">Contents:</h2>
            <ul class="list list-contents">
                <li>
                    <a href="#submit">Hero with link</a>
                </li>
                <li>
                    <a href="#good">Split 2</a>
                </li>
                <li>
                    <a href="#bad">Split 3 orange</a>
                </li>
                <li>
                    <a href="#incomplete">Plain yellow</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="grid-row" id="submit">
        <div class="column-two-thirds">
            <h3 class="heading-large">Hero with link</h3>
            <p>The hero banner used on the overview page for digideps </p>
        </div>
    </div>
    <div class="example">
        <div id="header-report-submit" class="hero">
            <h2 class="heading">Report is ready to submit</h2>
            <div class="message">Your final step: <a class="button submit-link" href="#">Sign and submit</a></div>
        </div>
    </div>

    <div class="grid-row" id="good">
        <div class="column-two-thirds">
            <h3 class="heading-large">Split 2</h3>
            <p>The banner used in accounts to show your accounts balance</p>
        </div>
    </div>
    <div class="example">
        <div class="hero">
            <h2 class="heading">{{ 'balance.good.accountsBalanced' | trans({},'report-accounts') }}</h2>
            <div class="message">{{ 'balance.good.accountsBalancedMessage' | trans({},'report-accounts') }}</div>
        </div>

        <div class="hero split-two">
            <div class="hero-column">
                <div class="message">
                    {{ 'balance.balanceAfterReported' | trans({},'report-accounts') }}:
                </div>
                <div class="total">
                    £{{ 100 | money_format }}
                </div>
            </div>
            <div class="hero-column">
                <div class="message">
                    {{ 'balance.actualBalance' | trans({},'report-accounts') }}:
                </div>
                <div class="total">
                    £{{ 200 | money_format }}
                </div>
            </div>
        </div>
    </div>


    <div class="grid-row" id="bad">
        <div class="column-two-thirds">
            <h3 class="heading-large">Split 3 orange</h3>
            <p>The banner used in accounts to show your accounts dont balance</p>
        </div>
    </div>
    <div class="example">
        <div class="hero orange compact">
            <h2 class="heading">{{ 'balance.bad.accountsBalanced' | trans({},'report-accounts') }}</h2>
            <div class="message">{{ 'balance.bad.accountsBalancedMessage' | trans({},'report-accounts') }}</div>
        </div>

        <div class="hero split-three orange compact">
            <div class="hero-column">
                <div class="message">{{ 'balance.bad.totalAfterMoneyInOut' | trans({},'report-accounts') }}:</div>
                <div class="total">
                    £{{ 100 | money_format }}
                </div>
            </div>
            <div class="hero-column">
                <div class="message">
                    {{ 'balance.bad.totalFromAccounts' | trans({},'report-accounts') }}:
                </div>
                <div class="total">
                    £{{ 200 | money_format }}
                </div>
            </div>
            <div class="hero-column">
                <div class="message">
                    <b>{{ 'balance.bad.unaccounted' | trans({},'report-accounts') }}:</b>
                </div>
                <div class="total">
                    £{{ 100 | abs | money_format }}
                </div>
            </div>
        </div>
    </div>


    <div class="grid-row" id="incomplete">
        <div class="column-two-thirds">
            <h3 class="heading-large">Plain yellow</h3>
            <p>The banner used in accounts to show your accounts section is incomplete</p>
        </div>
    </div>
    <div class="example">
        <div class="hero yellow compact">
            <h2 class="heading">{{ 'balance.incomplete.alertBox' |  trans({},'report-accounts') }}</h2>
        </div>
    </div>




    <script src="/prism/prism.js"></script>
{% endblock %}
