{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Digideps style guide{% endblock %}
{% block pageTitle %}Digideps style guide{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="lede text">This guide shows extensions to the standard GDS elements collection for the MOJ Digideps webservice.</p>

    <div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_form') }}">Form elements</a></h2>
            <p>Account number.</p>
        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_alerts') }}">Alerts</a></h2>
            <p>Notice, success, error, information, loader, important and default alerts.</p>
        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_navigation') }}">Navigation</a></h2>
            <p>Header and footer next/previous navigation.</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_buttons') }}">Buttons</a></h2>
            <p>Primary, secondary and warning buttons.</p>
        </div>
        <div class="column-third">
            {# <h2 class="heading-medium"><a href="{{ path('elements_alerts') }}">Alerts</a></h2> #}
        </div>
        <div class="column-third">
   {#          <h2 class="heading-medium"><a href="{{ path('elements_navigation') }}">Navigation</a></h2> #}
        </div>
    </div>

{% endblock %}
