{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Digideps Style Guide{% endblock %}
{% block pageTitle %}Digideps Style Guide{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="lede text">This guide shows extensions to the standard GDS elements collection for the MOJ Digideps webservice.</p>

    <div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_headings') }}">Headings</a></h2>

        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_navigation') }}">Navigation</a></h2>
        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_layout') }}">layout</a></h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_hero') }}">Hero elements</a></h2>
        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_form') }}">Form elements</a></h2>
            <p>Extra field types and form elements</p>
        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_colour') }}">Colour</a></h2>
            <p>Additional Digideps colours</p>
        </div>
    </div>

{% endblock %}
