{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% set translationDomain = "report-visits-care" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans }}{% endblock %}

{% set breadcrumbs = true %}

{% block pageContent %}

    <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="link-back">Back</a>

    <p class="text">
        {{ 'startPage.pageSectionDescription' | trans({'%client%': report.client.firstname}, translationDomain) }}
    </p>

    <a href="{{ path('visits_care_step', { 'reportId': report.id, 'step': 1 }) }}" class="button button-start">{{ 'startPage.startButton' | trans }}</a>

{% endblock %}
