{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-visits-care" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'stepPage.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}

    <a href="{{ backLink }}" class="link-back push--bottom">{{ 'stepPage.backLink' | trans }}</a>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% if step == 1 %}
        <div class="form-section push--bottom">

            {{ form_checkbox_group(form.doYouLiveWithClient, 'form.doYouLiveWithClient', {
                'fieldSetClass' : 'inline do-you-live-radio',
                'legendClass' : 'heading-medium',
                'legendText' : 'form.doYouLiveWithClient.label' | trans({'%client%': report.client.firstname}, translationDomain),
                'items': [
                    {'labelClass': 'block-label' },
                    {'labelClass': 'block-label' }
                ],
                'formGroupClass': 'flush--bottom'
            }) }}
            <div id="visit-questions">
                <div class="panel panel-border-narrow">
                    {{ form_input(form.howOftenDoYouContactClient, 'form.howOftenDoYouContactClient', {
                        'labelClass': 'text required',
                        'labelParameters': { '%client%': report.client.firstname },
                        'inputClass': 'expanding'
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if step == 2 %}
        <div class="form-section push--bottom">

            {{ form_checkbox_group(form.doesClientReceivePaidCare, 'form.doesClientReceivePaidCare', {
                'fieldSetClass' : 'inline does-client-receive-care',
                'legendClass' : 'heading-medium',
                'legendText' : 'form.doesClientReceivePaidCare.label' | trans({'%client%': report.client.firstname}, translationDomain),
                'items': [
                    {'labelClass': 'block-label'},
                    {'labelClass': 'block-label'}
                ],
                'formGroupClass': 'flush--bottom'
            }) }}

            <div id="care-questions">
                <div class="panel panel-border-narrow">
                    {{ form_checkbox_group(form.howIsCareFunded, 'form.howIsCareFunded', {
                        'legendClass' : 'form-label-bold',
                        'items': [
                        {'labelClass': 'block-label'},
                        {'labelClass': 'block-label'},
                        {'labelClass': 'block-label'}
                        ]
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if step == 3 %}
        <div class="form-section push--bottom">
            <h3 class="heading-medium flush--top">Who is doing the caring?</h3>
            {{ form_input(form.whoIsDoingTheCaring,'form.whoIsDoingTheCaring', {
                'labelClass': 'visuallyhidden',
                'inputClass': 'expanding',
                'formGroupClass': 'flush--bottom'
            }) }}
        </div>
    {% endif %}

    {% if step == 4 %}
        <div class="form-section push--bottom">
            {{ form_checkbox_group(form.doesClientHaveACarePlan, 'form.doesClientHaveACarePlan', {
                'fieldSetClass' : 'inline care-plan',
                'legendClass' : 'heading-medium',
                'legendText' : 'form.doesClientHaveACarePlan.label' | trans({'%client%': report.client.firstname}, translationDomain),
                'items': [
                    {'labelClass': 'block-label'},
                    {'labelClass': 'block-label'}
                ],
                'formGroupClass': 'flush--bottom'
            }) }}

            <div id="care-plan-questions">
                <div class="panel panel-border-narrow">
                    {# legendClass is-not-working #}
                    {{ form_known_date(form.whenWasCarePlanLastReviewed, 'form.whenWasCarePlanLastReviewed', {
                        'legendClass' : 'form-label-bold',
                        'showDay': 'false'
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.save,'form.save') }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}

    <script type="text/javascript">
        $(document).ready(function () {
            new GOVUK.SelectionButtons('.form-group__checkbox-group :radio');
            new opg.RadioHide({
                radio: '.do-you-live-radio input[type=radio]',
                content: '#visit-questions',
                hideOnYes: true
            });
            new opg.RadioHide({
                radio: '.does-client-receive-care input[type=radio]',
                content: '#care-questions',
                hideOnYes: false
            });
            new opg.RadioHide({
                radio: '.care-plan input[type=radio]',
                content: '#care-plan-questions',
                hideOnYes: false
            });
        });
    </script>

{% endblock %}

