{% embed 'AppBundle:Components/Page:page-report.html.twig' %}

    {% set translationDomain = "report-visits-care" %}
    {% trans_default_domain translationDomain %}

    {% block bodyClasses %}safeguarding-page{% endblock %}
    {% block pageTitle %}{{ 'stepPage.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'stepPage.pageSectionTitle' | trans }}{% endblock %}


    {% block pageBody %}

        <a href="{{ backLink }}">{{ 'stepPage.backLink' | trans }}</a>

        {% block validationSummary %}
            {{ form_errors_list(form) }}
        {% endblock %}

        {% include 'AppBundle:Components/Page:_page-section-action.html.twig' with {
        transDomain: translationDomain
        } %}

        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {% if step == 1 %}
            <div class="form-section">

                {{ form_checkbox_group(form.doYouLiveWithClient, 'form.doYouLiveWithClient', {
                    'fieldSetClass' : 'inline do-you-live-radio',
                    'legendClass' : 'form-label',
                    'legendText' : 'form.doYouLiveWithClient.label' | trans({'%client%': report.client.firstname}, translationDomain),
                    'items': [
                    {'labelClass': 'block-label', 'elementClass': '' },
                    {'labelClass': 'block-label', 'elementClass': '' }
                    ]
                }) }}
                <div id="visit-questions">
                    {{ form_input(form.howOftenDoYouContactClient, 'form.howOftenDoYouContactClient', {
                        'labelClass': 'required',
                        'labelParameters': { '%client%': report.client.firstname },
                        'inputClass': 'expanding'
                    }) }}
                </div>
            </div>
        {% endif %}

        {% if step == 2 %}
            <div class="form-section">

                {{ form_checkbox_group(form.doesClientReceivePaidCare, 'form.doesClientReceivePaidCare', {
                    'fieldSetClass' : 'inline does-client-receive-care',
                    'legendClass' : 'form-label',
                    'legendText' : 'form.doesClientReceivePaidCare.label' | trans({'%client%': report.client.firstname}, translationDomain),
                    'items': [
                    {'labelClass': 'block-label', 'elementClass': '' },
                    {'labelClass': 'block-label', 'elementClass': '' }
                    ]
                }) }}

                <div id="care-questions">
                    {{ form_checkbox_group(form.howIsCareFunded, 'form.howIsCareFunded', {
                        'fieldSetClass' : 'stacked',
                        'legendClass' : 'form-label',
                        'items': [
                        {'labelClass': 'block-label', 'elementClass': '' },
                        {'labelClass': 'block-label', 'elementClass': '' },
                        {'labelClass': 'block-label', 'elementClass': '' }
                        ]
                    }) }}
                </div>
            </div>
        {% endif %}

        {% if step == 3 %}
            <div class="form-section">
                {{ form_input(form.whoIsDoingTheCaring,'form.whoIsDoingTheCaring', { 'labelClass': 'required', 'inputClass': 'expanding' }) }}
            </div>
        {% endif %}

        {% if step == 4 %}
            <div class="form-section">
                {{ form_checkbox_group(form.doesClientHaveACarePlan, 'form.doesClientHaveACarePlan', {
                    'fieldSetClass' : 'inline care-plan',
                    'legendClass' : 'form-label',
                    'legendText' : 'form.doesClientHaveACarePlan.label' | trans({'%client%': report.client.firstname}, translationDomain),
                    'items': [
                    {'labelClass': 'block-label', 'elementClass': '' },
                    {'labelClass': 'block-label', 'elementClass': '' }
                    ]
                }) }}

                <div id="care-plan-questions">
                    {{ form_known_date(form.whenWasCarePlanLastReviewed, 'form.whenWasCarePlanLastReviewed', {
                        'showDay': 'false'
                    }) }}
                </div>
            </div>
        {% endif %}

        {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
        {{ form_submit(form.save,'form.save') }}
        {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

        {{ form_end(form) }}

        <script type="text/javascript">
            $(document).ready(function () {
                new GOVUK.SelectionButtons('.form-group__checkbox-group :radio');
                new opg.RadioHide({
                    radio: '.do-you-live-radio input[type=radio]',
                    content: '#visit-questions',
                    hideOnYes: true
                });
                new opg.RadioHide({
                    radio: '.does-client-receive-care input[type=radio]',
                    content: '#care-questions',
                    hideOnYes: false
                });
                new opg.RadioHide({
                    radio: '.care-plan input[type=radio]',
                    content: '#care-plan-questions',
                    hideOnYes: false
                });
            });
        </script>

    {% endblock %}

    {% block pageBodyFooterNav %}

    {% endblock %}

{% endembed %}
