{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-visits-care" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageSectionTitle' | trans }}{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'summaryPage.supportTitle' | trans }}</span>
{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}

    <p class="text text-secondary">
        {{ 'summaryPage.pageSectionDescription' | trans(transOptions) }}
    </p>

    {# @biggs https://www.gov.uk/service-manual/user-centred-design/resources/patterns  #}
    <table class="check-your-answers push--bottom">
        <tbody>
        <tr class="{{ (stepEdited == 1) ? 'edited' : '' }}">
            <td>
                {{ 'form.doYouLiveWithClient.label' | trans(transOptions) }}
            </td>
            <td>
                {{ report.visitsCare.doYouLiveWithClient | capitalize }}
            </td>
            <td class="change-answer">
                <a href="{{ path('visits_care_step', {'reportId': report.id, 'step': 1, 'from': 'summary'}) }}">Edit</a>
            </td>
        </tr>
        {% if report.visitsCare.doYouLiveWithClient == 'no' %}
        <tr class="{{ stepEdited == 1 ? 'edited' : '' }}">
            <td>{{ 'form.howOftenDoYouContactClient.label' | trans(transOptions) }}</td>
            <td>{{ report.visitsCare.howOftenDoYouContactClient | nl2br }}</td>
            <td class="change-answer">
                <a href="{{ path('visits_care_step', {'reportId': report.id, 'step': 1, 'from': 'summary'}) }}">Edit</a>
            </td>
        </tr>
        {% endif %}
        </tbody>

        {# step 2 #}
        <tbody>
        <tr class="{{ (stepEdited == 2) ? 'edited' : '' }}">
            <td>
                {{ 'form.doesClientReceivePaidCare.label' | trans(transOptions) }}
            </td>
            <td>
                {{ report.visitsCare.doesClientReceivePaidCare | capitalize }}
            </td>
            <td class="change-answer">
                <a href="{{ path('visits_care_step', {'reportId': report.id, 'step':2, 'from': 'summary'}) }}">Edit</a>
            </td>
        </tr>
        {% if report.visitsCare.doesClientReceivePaidCare == 'yes' %}
            <tr class="{{ (stepEdited == 2) ? 'edited' : '' }}">
                <td>
                    {{ 'form.howIsCareFunded.label' | trans(transOptions) }}
                </td>
                <td>
                    {{ ('form.choices.' ~ report.visitsCare.howIsCareFunded) | trans(transOptions) }}
                </td>
                <td class="change-answer">
                    <a href="{{ path('visits_care_step', {'reportId': report.id, 'step':2, 'from': 'summary'}) }}">Edit</a>
                </td>
            </tr>
        {% endif %}
        </tbody>

        {# step 3 #}
        <tbody>
        <tr class="{{ (stepEdited == 3) ? 'edited' : '' }}">
            <td>
                {{ 'form.whoIsDoingTheCaring.label' | trans(transOptions) }}
            </td>
            <td>
                {{ report.visitsCare.whoIsDoingTheCaring  }}
            </td>
            <td class="change-answer">
                <a href="{{ path('visits_care_step', {'reportId': report.id, 'step':3, 'from': 'summary'}) }}">Edit</a>
            </td>
        </tr>
        </tbody>

        {# step 4 #}
        <tbody>
        <tr class="{{ (stepEdited == 4) ? 'edited' : '' }}">
            <td>
                {{ 'form.doesClientHaveACarePlan.label' | trans(transOptions) }}
            </td>
            <td>
                {{ report.visitsCare.doesClientHaveACarePlan | capitalize}}
            </td>
            <td class="change-answer">
                <a href="{{ path('visits_care_step', {'reportId': report.id, 'step':4, 'from': 'summary'}) }}">Edit</a>
            </td>
        </tr>
        {% if report.visitsCare.doesClientHaveACarePlan == 'yes' %}
            <tr class="{{ (stepEdited == 4) ? 'edited' : '' }}">
                <td>
                    {{ 'form.whenWasCarePlanLastReviewed.label' | trans(transOptions) }}
                </td>
                <td>
                    {{ report.visitsCare.whenWasCarePlanLastReviewed | date('M Y') }}
                </td>
                <td class="change-answer">
                    <a href="{{ path('visits_care_step', {'reportId': report.id, 'step':4, 'from': 'summary'}) }}">Edit</a>
                </td>
            </tr>
        {% endif %}
        </tbody>

    </table>

    <a href="{{ path('report_overview', {'reportId': report.id}) }}">Return to Report Overview</a>

    <div id="body-footer-nav">
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("contacts" , {'reportId': report.id }),
        'previousLabel': 'Contacts',
        'nextLink': path("accounts" , {'reportId': report.id }),
        'nextLabel': 'Accounts'
        } %}
    </div>

{% endblock %}



