{% from '@App/Admin/Client/Report/macros.html.twig' import checklist_radios %}
{% from '@App/Macros/macros.html.twig' import details %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="assetsAndDebts">{{ (page ~ '.heading.lodging.assetsAndDebts') | trans }}</h3>

{{ checklist_radios(form.assetsDeclaredAndManaged) }}

{{ details({
    summaryText: (page ~ '.revealTitle.assetsSummary') | trans,
    html: include('@App/Report/Asset/_list.html.twig', { hideEditLink: true })
}) }}

{{ checklist_radios(form.debtsManaged) }}

{{ include('@App/Admin/Client/Report/partials/_debts-summary.html.twig') }}
