{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-client-benefits-check" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% if showActions is not defined %}
    {% set showActions = false %}
{% endif %}

<div class="govuk-grid-row" id="benefits-check">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l"> {{ 'summaryPage.table.benefitsCheck.title' | trans(transOptions, translationDomain) }}</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ 'summaryPage.table.benefitsCheck.column1Title' | trans(transOptions, translationDomain) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ 'summaryPage.table.benefitsCheck.column2Title' | trans(transOptions, translationDomain) }}
                </dd>
                {% if showActions %}
                    <dd class="govuk-summary-list__value">
                        {#                        No title for actions column#}
                    </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row ">
                <dt class="govuk-summary-list__key">
                    {{ 'stepPage.pageTitle.1.mainTitle' | trans(transOptions, translationDomain) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if report.clientBenefitsCheck.whenLastCheckedEntitlement == constant('App\\Entity\\Report\\ClientBenefitsCheck::WHEN_CHECKED_I_HAVE_CHECKED') %}
                        {{ report.clientBenefitsCheck.dateLastCheckedEntitlement | date('F Y') }}
                    {% elseif report.clientBenefitsCheck.whenLastCheckedEntitlement == constant('App\\Entity\\Report\\ClientBenefitsCheck::WHEN_CHECKED_IVE_NEVER_CHECKED') %}
                        <p class="govuk-body">{{ ('form.whenLastChecked.choices.' ~ report.clientBenefitsCheck.whenLastCheckedEntitlement) | trans(transOptions, translationDomain) }}</p>
                        <p class="govuk-body">{{ report.clientBenefitsCheck.neverCheckedExplanation }}</p>
                    {% else %}
                        {{ ('form.whenLastChecked.choices.' ~ report.clientBenefitsCheck.whenLastCheckedEntitlement) | trans(transOptions, translationDomain) }}
                    {% endif %}
                </dd>
                {% if showActions %}
                    <dd class="govuk-summary-list__value govuk-!-text-align-right">
                        <span>
                            <a
                                href="{{ path('client_benefits_check_step', { 'reportId': report.id, 'step': 1, 'reportOrNdr': reportOrNdr }) }}?from=summary"
                                class="govuk-link"
                            >
                                {{ 'edit' | trans({}, 'common' ) }} <span class="govuk-visually-hidden">response to the question '{{ "stepPage.pageTitle.1.mainTitle" | trans(transOptions, translationDomain) }}'</span>
                            </a>
                        </span>
                    </dd>
                {% endif %}
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row" id="do-others-receive-income">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l"> {{ 'summaryPage.table.doOthersReceiveIncome.title' | trans(transOptions, translationDomain) }}</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ 'summaryPage.table.doOthersReceiveIncome.column1Title' | trans(transOptions, translationDomain) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ 'summaryPage.table.doOthersReceiveIncome.column2Title' | trans(transOptions, translationDomain) }}
                </dd>
                {% if showActions %}
                    <dd class="govuk-summary-list__value">
                        {#                        No title for actions column#}
                    </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row ">
                <dt class="govuk-summary-list__key">
                    {{ 'stepPage.pageTitle.2.mainTitle' | trans(transOptions, translationDomain) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if report.clientBenefitsCheck.doOthersReceiveIncomeOnClientsBehalf == constant('App\\Entity\\Report\\ClientBenefitsCheck::OTHER_INCOME_DONT_KNOW') %}
                        <p class="govuk-body">{{ ('form.incomeOnClientsBehalf.choices.' ~ report.clientBenefitsCheck.doOthersReceiveIncomeOnClientsBehalf) | trans(transOptions, translationDomain) }}</p>
                        <p class="govuk-body">{{ report.clientBenefitsCheck.dontKnowIncomeExplanation }}</p>
                    {% else %}
                        {{ ('form.incomeOnClientsBehalf.choices.' ~ report.clientBenefitsCheck.doOthersReceiveIncomeOnClientsBehalf) | trans(transOptions, translationDomain) }}
                    {% endif %}
                </dd>
                {% if showActions %}
                    <dd class="govuk-summary-list__value govuk-!-text-align-right">
                        <span>
                            <a
                                href="{{ path('client_benefits_check_step', { 'reportId': report.id, 'step': 2, 'reportOrNdr': reportOrNdr }) }}?from=summary"
                                class="govuk-link"
                            >
                                {{ 'edit' | trans({}, 'common' ) }} <span class="govuk-visually-hidden">response to the question '{{ "stepPage.pageTitle.2.mainTitle" | trans(transOptions, translationDomain) }}'</span>
                            </a>
                        </span>
                    </dd>
                {% endif %}
            </div>
        </dl>
    </div>
</div>

{% if report.clientBenefitsCheck.typesOfIncomeReceivedOnClientsBehalf | length > 0 %}
    <div class="govuk-grid-row" id="income-received">
        <div class="govuk-grid-column-full">
            <div class="moj-page-header-actions">
                <div class="moj-page-header-actions__title">
                    <h2 class="govuk-heading-l"> {{ 'summaryPage.table.incomeOtherPeopleReceive.title' | trans(transOptions, translationDomain) }}</h2>
                </div>
                {% if showActions %}
                    <div class="moj-page-header-actions__actions">
                        <div class="moj-button-menu">
                            <div class="moj-button-menu__wrapper">
                                <a
                                    href="{{ path('client_benefits_check_step', { 'reportId': report.id, 'step': 3, 'reportOrNdr': reportOrNdr }) }}?from=summary"
                                    role="button"
                                    class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button"
                                >
                                    {{ ('summaryPage.addIncomeButtonText') | trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ 'summaryPage.table.incomeOtherPeopleReceive.column1Title' | trans(transOptions, translationDomain) }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ 'summaryPage.table.incomeOtherPeopleReceive.column2Title' | trans(transOptions, translationDomain) }}
                    </dd>
                    {% if showActions %}
                        <dd class="govuk-summary-list__value">
    {#                        No title for actions column#}
                        </dd>
                    {% endif %}
                </div>

                {% for income in report.clientBenefitsCheck.typesOfIncomeReceivedOnClientsBehalf %}
                    <div class="govuk-summary-list__row ">
                        <dt class="govuk-summary-list__key">
                            {{ income.incomeType }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if income.amount is null %}
                                {{ 'form.incomeOnClientsBehalf.choices.dontKnow' | trans(transOptions, translationDomain) }}
                            {% else %}
                                {{ income.amount | format_currency('GBP') }}
                            {% endif %}
                        </dd>
                        {% if showActions %}
                            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                                <span>
                                    <a
                                        href="{{ path('client_benefits_check_step', { 'reportId': report.id, 'step': 3, 'reportOrNdr': reportOrNdr }) }}"
                                        class="govuk-link"
                                    >
                                        {{ 'edit' | trans({}, 'common' ) }} <span class="govuk-visually-hidden">income type with description '{{ income.incomeType }}'</span>
                                    </a>
                                </span>
                                    <span>
                                    <a
                                        href="{{ path('client_benefits_check_remove_income_type', { 'reportId': report.id, 'incomeTypeId': income.id, 'reportOrNdr': reportOrNdr }) }}"
                                        class="govuk-link"
                                    >
                                        {{ 'remove' | trans({}, 'common' ) }} <span class="govuk-visually-hidden">income type with description '{{ income.incomeType }}'</span>
                                    </a>
                                </span>
                            </dd>
                        {% endif %}
                    </div>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endif %}
