{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "ndr-income-benefits" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageTitle' | trans }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(ndr) }}{% endblock %}

{% block pageContent %}

	<div class="text">
	    <p class="govuk-body">
	        {{ 'startPage.pageSectionDescription' | trans(transOptions, translationDomain) }}
	    </p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ 'startPage.hiddenText01.summary' | trans(transOptions, translationDomain) }}</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    {{ 'startPage.hiddenText01.content.para01.beforeMarkupText' |trans(transOptions, translationDomain) }}
                    <a href="{{ 'startPage.hiddenText01.content.para01.link' |trans(transOptions, translationDomain) }}">
                        {{ 'startPage.hiddenText01.content.para01.linkText' |trans(transOptions, translationDomain) }}
                    </a>
                    {{ 'startPage.hiddenText01.content.para01.afterMarkupText' |trans(transOptions, translationDomain) }}
                </p>
            </div>
        </details>
	</div>

    {{ macros.startSectionButton(path('ndr_income_benefits_step', { 'ndrId': ndr.id, 'step': 1 }), 'startPage.startButton' | trans ) }}

    {# Pagination #}
    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': ndr,
        'sectionId': 'incomeBenefits',
    } %}

{% endblock %}
