<div id="form-group-{{ element.vars.id }}" class="form-group form-group__checkbox{% if not element.vars.valid %} form-group-error{% endif %}{% if formGroupClass is defined %} {{ formGroupClass }}{% endif %}">

    {% if (hintText is defined) and (hintText is not empty) %}
        <p class="form-hint">{{ hintText }}</p>
    {% endif %}
    {{ form_errors(element) }}

    {% set class = element.vars.attr.class | default('') ~ '' ~ inputClass | default('') %}

    {% set labelClass = 'block-label ' ~ (labelClass is defined ?  labelClass : '') %}
    {% set elementClass = elementClass is defined ?  elementClass : '' %}

    <div class="multiple-choice" {% if labelDataTarget  %} data-target="{{ labelDataTarget }}" {% endif %}>
        {% if element.vars.valid %}
            {{ form_widget(element, {'attr': {'class': class }}) }}
        {% else %}
            {{ form_widget(element, {'attr': {'class': class, 'aria-invalid':'true' }}) }}
        {% endif %}
        <label class="{{ labelClass }}" for="{{ element.vars.id }}">
            {{ labelText }}
        </label>
    </div>

</div>
