<div id="form-group-{{ element.vars.id }}" class="form-group form-group__checkbox-group {% if not element.vars.valid %}error{% endif %} {% if formGroupClass is defined %} {{formGroupClass}}{% endif %}">

    <fieldset class="{{ fieldSetClass }}">
        <legend class="{{ legendClass }}">{{ legendText }}</legend>
        <p class="form-hint text">{{ hintText }}</p>
        {{  form_errors(element) }}
        {% for key,choiceElement in element %}

            {% set labelClasss = items[key].labelClass is defined ?  items[key].labelClass : '' %}
            {% set elementClass = items[key].elementClass is defined ?  items[key].elementClass : '' %}
            {% set description = items[key].description is defined ?  items[key].description : null %}
            {% set disabled = items[key].disabled is defined and items[key].disabled %}
            {% set labelDataTarget = items[key].dataTarget is defined ? items[key].dataTarget : null %}

            {% if description is not null %}
                <p class="form-hint description">{{ description | raw }}</p>
            {% endif %}

            <label class="{{ labelClasss }}" for="{{ choiceElement.vars.id }}"
              {% if labelDataTarget %} data-target="{{ labelDataTarget }}" {% endif %}
            >
                {% set attr = {'class': elementClass } %}
                {% if disabled %}
                    {% set attr = attr | merge({'disabled': 'disabled'}) %}
                {% endif %}
                {{ form_widget(choiceElement, {'attr': attr}) }}
                {{ choiceElement.vars.label | trans({}, translationDomain)}}
            </label>
        {% endfor %}
    </fieldset>
</div>
