{% if useFormGroup %}
    <div id="form-group-{{ element.vars.id }}" class="form-group form-group__checkbox-group {% if not element.vars.valid %}form-group-error{% endif %} {% if formGroupClass is defined %} {{formGroupClass}}{% endif %}">
{% endif %}

    <fieldset class="{{ fieldSetClass }}">
        <legend class="{{ legendClass }} text push-half--bottom">
            {{ legendText }}
            {% if hintText is not null %}
                <span class="form-hint text">{{ hintText }}</span>
            {% endif %}
            {{  form_errors(element) }}
        </legend>
        {% for key,choiceElement in element %}

            {% set labelClass = items[key].labelClass is defined ?  items[key].labelClass : '' %}
            {% set elementClass = items[key].elementClass is defined ?  items[key].elementClass : '' %}
            {% set description = items[key].description is defined ?  items[key].description : null %}
            {% set disabled = items[key].disabled is defined and items[key].disabled %}
            {% set labelDataTarget = items[key].dataTarget is defined ? items[key].dataTarget : null %}

            {% if description is not null %}
                <p class="form-hint description">{{ description | raw }}</p>
            {% endif %}

            <div class="multiple-choice" {% if labelDataTarget %} data-target="{{ labelDataTarget }}"{% endif %}>
                {% set attr = {'class': elementClass } %}
                {% if disabled %}
                    {% set attr = attr | merge({'disabled': 'disabled'}) %}
                {% endif %}
                {{ form_widget(choiceElement, {'attr': attr}) }}
                <label class="{{ labelClass }}" for="{{ choiceElement.vars.id }}">
                    {{ choiceElement.vars.label | trans({}, translationDomain)}}
                </label>
            </div>

        {% endfor %}
    </fieldset>

{% if useFormGroup %}
    </div>
{% endif %}
