<div class="form-group form-group__checkbox{% if not element.vars.valid %} field-with-errors behat-region-form-errors{% endif %}{% if formGroupClass is defined %} {{ formGroupClass }}{% endif %}">

    {% if (hintText is defined) and (hintText is not empty) %}
        <p class="form-hint">{{ hintText }}</p>
    {% endif %}
    {{ form_errors(element) }}
    
    {% set class = element.vars.attr.class | default('') ~ '' ~ inputClass | default('') %}

    {% set labelClasss = 'block-label ' ~ (labelClass is defined ?  labelClass : '') %}
    {% set elementClass = elementClass is defined ?  elementClass : '' %}

    <label class="{{ labelClasss }}" for="{{ element.vars.id }}">
        {% if element.vars.valid %}
            {{ form_widget(element, {'attr': {'class': class }}) }}
        {% else %}
            {{ form_widget(element, {'attr': {'class': class, 'aria-invalid':'true' }}) }}
        {% endif %}
        {{ labelText }}
    </label>

</div>
