<div id="form-group-{{ element.vars.id }}" class="form-group{% if not element.vars.valid %} form-group-error{% endif %}{% if formGroupClass is defined %} {{formGroupClass}}{% endif %}">

    {% if labelRaw is defined and labelRaw %}
      <label class="form-label {% if element.vars.required %} required {% endif %} text" for="{{ element.vars.id }}">
        {{ labelText | raw }}
        {% if (hintText is defined) and (hintText is not empty) %}
            <span class="form-hint text">
              {{ hintText }}
            </span>
            {% if hintListArray is defined %}
                <ul class="form-hint list-bullet">
                    {% for hintList in hintListArray %}
                        <li>{{ hintList }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
      </label>
    {% else %}
      {{ form_label(element, labelText, {'label_attr': {'class': 'form-label text ' ~ labelClass | default('') }}) }}
    {% endif %}

    {{ form_errors(element) }}

    {% set class = element.vars.attr.class | default('') ~ ' form-control ' ~ inputClass | default('') %}

    {% if (preInputText is defined) and (preInputText is not empty) %}
        <span class="pre-input-text">{{ preInputText }}</span>
    {% endif %}

    {% if inputPrefix is defined and inputPrefix is not empty %}
        <span class="input-group-prefix">{{ inputPrefix }}</span>
    {% endif %}

    {% if element.vars.valid %}
        {{ form_widget(element, { 'attr': {'class': class } }) }}
    {% else %}
        {{ form_widget(element, { 'attr': {'class': class ~ ' form-control-error', 'aria-invalid':'true' } }) }}
    {% endif %}

</div>
