<div class="form-group {% if not element.vars.valid %}field-with-errors behat-region-form-errors{% endif %}">
    <fieldset>
        <legend class="form-label">{{ legendText }}</legend>
        {% if not element.vars.valid %}
            <ul>
                <li>{{ form_errors(element) }}</li>
            </ul>
        {% endif %}
        <div class="form-date">

            <p class="form-hint">{{ hintText }}</p>

            <div class="form-group form-group-day">
                {{ form_label(element.day,'Day', {'label_attr': {'for': 'dob-day', 'class': 'visuallyhidden' } }) }}
                {{ form_widget(element.day, { 'attr': {'class': 'form-control', 'pattern': '[0-9]', 'maxlength': 2, 'value': element.day.vars.value | pad_day_month }}) }}
            </div>

            <div class="form-group form-group-month">
                {{ form_label(element.month,'Month', {'label_attr': {'for': 'dob-month', 'class': 'visuallyhidden' } }) }}
                {{ form_widget(element.month, { 'attr': {'class': 'form-control', 'pattern': '[0-9]', 'maxlength': 2, 'value': element.month.vars.value | pad_day_month}}) }}
            </div>

            <div class="form-group form-group-year">
                {{ form_label(element.year,'Year', {'label_attr': {'for': 'dob-year', 'class': 'visuallyhidden' } }) }}
                {{ form_widget(element.year, { 'attr': {'class': 'form-control', 'pattern': '[0-9]', 'maxlength': 4}}) }}
            </div>
        </div>

    </fieldset>
</div>
