<div id="form-group-{{ element.vars.id }}" class="form-group form-date {% if not element.vars.valid %}error{% endif %}">
    <fieldset>
        <legend class="form-label {% if legendClass is defined %} {{legendClass}}{% endif %}">
            {% if legendTextJS %}
                <span class="legend-none-js">
                    {% if legendTextRaw is defined %}
                        {{ legendText | raw }}
                    {% else %}
                        {{ legendText }}
                    {% endif %}
                </span>
                <span class="legend-js">{{ legendTextJS }}</span>
            {% else %}
                {% if legendTextRaw is defined %}
                    {{ legendText | raw }}
                {% else %}
                    {{ legendText }}
                {% endif %}
          {% endif %}
        </legend>
        <p class="form-hint">{{ hintText }}</p>
        {{ form_errors(element) }}
        {# day: show element or hidden field depending on "showDay" setting #}
        {% if showDay == 'true' %}
            <div class="form-group form-group-day">
                {{ form_label(element.day,'Day', {'label_attr': {'for': 'dob-day', 'class': 'visuallyhidden' } }) }}
                {{ form_widget(element.day, { 'type':'number','attr': {'class': 'form-control', 'pattern': '[0-9]', 'maxlength': 2, 'value': element.day.vars.value | pad_day_month }}) }}
            </div>
        {% else %}
            {{ form_widget(element.day, { 'type':'hidden' }) }}
        {% endif %}

        <div class="form-group form-group-month">
            {{ form_label(element.month,'Month', {'label_attr': {'for': 'dob-month', 'class': 'visuallyhidden' } }) }}
            {{ form_widget(element.month, { 'type':'number', 'attr': {'class': 'form-control', 'pattern': '[0-9]', 'maxlength': 2, 'value': element.month.vars.value | pad_day_month}}) }}
        </div>

        <div class="form-group form-group-year">
            {{ form_label(element.year,'Year', {'label_attr': {'for': 'dob-year', 'class': 'visuallyhidden' } }) }}
            {{ form_widget(element.year, { 'type':'number','attr': {'class': 'form-control', 'pattern': '[0-9]', 'maxlength': 4}}) }}
        </div>
    </fieldset>
</div>
