<div id="form-group-{{ element.vars.id }}" class="form-group {% if not element.vars.valid %}error{% endif %}">

    {{ form_label(element, labelText, {'label_attr': {'class': 'form-label ' ~ labelClass | default('') }}) }}

    {% if (hintText is defined) and (hintText is not empty) %}
        <p class="form-hint">{{ hintText }}</p>
    {% endif %}
    {{ form_errors(element) }}
    {{ form_widget(element, { 'attr': {'class': element.vars.attr.class | default('') ~ ' form-control ' ~ inputClass | default('') } }) }}

</div>
