<div class="form-group {% if not element.vars.valid %}field-with-errors behat-region-form-errors{% endif %}">
    <fieldset>
        <legend class="form-label">{{ legendText }}</legend>
        {% if not element.vars.valid %}
            <ul class="errors">
                <li>{{ form_errors(element) }}</li>
            </ul>
        {% endif %}
        <div class="form-sort-code">
            <div class="form-group">
                {{ form_label(element.sort_code_part_1,'Sort Code part 1', {'label_attr': {'for': 'account_sortCode_sort_code_part_1', 'class': 'visuallyhidden' } }) }}
                {{ form_widget(element.sort_code_part_1, { 'attr': {'class': 'sort-code-part form-control'} }) }}
            </div>
            <div class="separator">-</div>
            <div class="form-group">
                {{ form_label(element.sort_code_part_2,'Sort Code part 2', {'label_attr': {'for': 'account_sortCode_sort_code_part_2', 'class': 'visuallyhidden' } }) }}
                {{ form_widget(element.sort_code_part_2, { 'attr': {'class': 'sort-code-part form-control'} }) }}
            </div>
            <div class="separator">-</div>
            <div class="form-group">
                {{ form_label(element.sort_code_part_3,'Sort Code part 2', {'label_attr': {'for': 'account_sortCode_sort_code_part_3', 'class': 'visuallyhidden' } }) }}
                {{ form_widget(element.sort_code_part_3, { 'attr': {'class': 'sort-code-part form-control'} }) }}
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript" src="{{ asset('javascripts/components/sortcode.js') }}"></script>