{% set translationDomain = "client-profile" %}
{% trans_default_domain translationDomain %}
{% set page = "clientDetails" %}

<div class="govuk-accordion__section">

    <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
            <button class="govuk-accordion__section-button">
                {{ (page ~ '.heading') | trans }}
            </button>
        </h3>
    </div>

    <div class="govuk-accordion__section-content">

        <p class="right">
            <a href="{{ path('org_client_edit', {'clientId': client.id}) }}" class="btn behat-link-client-edit">{{ (page ~ '.editClient') | trans }}</a>
            <a href="{{ path('org_client_archive', {'clientId': client.id}) }}" class="btn behat-link-client-archive push-half--left">{{ (page ~ '.archiveClient') | trans }}</a>
        </p>

        <div class="grid-row behat-region-client-profile-details">
            <div class="column-one-half">
                <dl>
                    <dt>
                        <strong class="bold">{{ (page ~ '.name') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ client.fullname | title }}
                    </dd>

                    <dt>
                        <strong class="bold">{{ (page ~ '.dateOfBirth') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ (client.dateOfBirth) ? client.dateOfBirth | date(" j F Y") ~ ' (aged ' ~ client.getAge() ~ ')' : '-' }}
                    </dd>

                    <dt>
                        <strong class="bold">{{ (page ~ '.phone') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ (client.phone) ? client.phone : '-' }}
                    </dd>

                </dl>
            </div>

            <div class="column-one-half">
                <dl>
                    <dt>
                        <strong class="bold">{{ (page ~ '.email') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom dont-break-out">
                        {{ (client.email) ? client.email : '-' }}
                    </dd>

                    <dt>
                        <strong class="bold">{{ (page ~ '.address') | trans }}</strong>
                    </dt>
                    <dd>
                        {{ (client.addressNotEmptyParts) ? client.addressNotEmptyParts | join('<br/>') | raw : '-' }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>

</div>
