{#
TODO should be used in _nextprevious.html.twig as logic seems duplicated.
Can't do that now as HTML seems different and not up to me to decide
#}
{% set translationDomain = "report-common" %}
{% if position is not defined %}
    {% set position = "bottom" %}
{% endif %}
<nav class="pagination {{ position }}" role="navigation" aria-label="Pagination">
    <ul class="group">
        {% if previousLink is defined %}
            <li class="previous">
                <a title="Navigate to previous" rel="prev" href="{{ previousLink }}" class="{{ prevAdditionalClass | default('') }}">
                    <span class="pagination-label">{{ previousLabel }}</span>
                </a>
            </li>
        {% endif %}
        {% if nextLink is defined %}
            <li class="next">
                <a title="Navigate to next" rel="next" href="{{ nextLink }}"  class="{{ nextAdditionalClass | default('') }}">
                    <span class="pagination-label">{{ nextLabel }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
