{# generic paginator component. See example at http://rural-payments-styleguide.herokuapp.com/pagination/  #}
{# Example of usage
    include 'AppBundle:Components:paginator.html.twig' with {
    currentOffset: filters.offset,
    recordsPerPage: filters.limit,
    totalRecords: counts[filters.status ?: 'total'],
    routeName: 'org_dashboard',
    routeParams: {
        'status': filters.status,
        'q': filters.q
    },
    messages: {
        singlePage: '{0} Showing 0 clients|{1} Showing 1 client|]1,Inf[ Showing %count% clients',
        multiPage: 'Showing %from% &ndash; %to% of %total% clients'
    }

#}

{% set nbPages = (totalRecords / recordsPerPage) +1 %}
{% set nearbyPagesLimit = 10 %}
{% set currentPage = (currentOffset / recordsPerPage) +1 %}

<div class="pager">
    {% if totalRecords <= recordsPerPage %}
        <p class="pager-summary">
            {{ messages.singlePage | transchoice(totalRecords) | raw }}
        </p>
    {% else %}

        {# prev #}
        {% if currentOffset > 0 %}
            <a class="pager-prev" href="{{ path(routeName, routeParams | merge({
                'offset': (currentOffset - recordsPerPage)
            })) }}">{{ 'previous' | trans({}, 'common' ) }}</a>
        {% endif %}

        <ul class="pager-items">

            {% for i in 1..nbPages %}
                {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                    <li class="disabled">...</li>
                {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                    <li class="disabled">...</li>
                {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                {% elseif currentPage == loop.index %}
                    <li>{{ currentPage }}</li>
                {% else %}
                    {% set offset = (loop.index * recordsPerPage) - recordsPerPage %}
                    <li {% if currentPage == loop.index  %} class="active"{% endif %}>
                        <a  href="{{ path(routeName, routeParams | merge({'offset': offset })) }}"
                            class="behat-link-paginator-page-{{ loop.index }}">{{ loop.index }}</a>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>

        {# next #}
        {% if (currentOffset + recordsPerPage) < totalRecords %}
            <a class="pager-next" href="{{ path(routeName, routeParams | merge({
                'offset': currentOffset + recordsPerPage
            })) }}">{{ 'next' | trans({}, 'common' ) }}</a>
        {% endif %}

        {# summary #}
        {% set firstRecordDisplayed = currentOffset + 1 %}
        {% set lastRecordDisplayed = (currentOffset + recordsPerPage) > totalRecords ? totalRecords : (currentOffset + recordsPerPage) %}
        <p class="pager-summary">
            {{ messages.multiPage | trans({'%from%': firstRecordDisplayed, '%to%': lastRecordDisplayed, '%total%': totalRecords}) | raw }}
        </p>
    {% endif %}
</div>
