{% trans_default_domain "registration" %}

{% set gaCategory = 'createReport.pageTitle' | trans %}
{% set gaAction = 'Click: Button: Save Report Dates' %}
{% set gaLabel = 'Clicked save report date button on ' ~ app.request.requesturi %}

{{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-form' }}) }}

    <h2 class="govuk-heading-m">{{ 'form.newReportForm.addStartDate' | trans }}</h2>

    <p class="govuk-body">{{ 'form.newReportForm.startDateDescription' | trans }}</p>

    {{ form_known_date(form.startDate, 'startDate') }}

    <h2 class="govuk-heading-m">{{ 'form.newReportForm.addEndDate' | trans }}</h2>

    <p class="govuk-body">{{ 'form.newReportForm.endDateDescription' | trans }}</p>

    {{ form_known_date(form.endDate, 'endDate') }}

    {{ form_submit_ga(
         form.save,
         'saveAndContinue',
         gaCategory,
         gaAction,
         gaLabel
       )
    }}

{{ form_end(form) }}
