<nav class="moj-header__navigation" aria-label="Account navigation">
    <ul class="moj-header__navigation-list">
        {% if isLoggedIn %}
            <li class="moj-header__navigation-item">
                {{ fullname }}
            </li>
            <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="{{ path('account_settings') }}">
                    {{ yourDetails }}
                </a>
            </li>
            <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="{{ path('app_logout') }}">
                    {{ signOut }}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
