{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "ndr-debts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | e } %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(ndr) }}
{% endblock %}

{% block pageContent %}

    <p class="text">
        {{ 'startPage.pageSectionDescription' | trans(transOptions) }}
    </p>

    <a href="{{ path('ndr_debts_exist', { 'ndrId': ndr.id}) }}" class="button button-start behat-link-start">{{ 'startPage.startButton' | trans }}</a>

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': ndr,
        'sectionId': 'debts',
    } %}

{% endblock %}
