{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "ndr-assets" %}
{% trans_default_domain translationDomain %}

{# "client own assets" question #}
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{ 'question' | trans({}, 'common') }}
    </dt>
    <dd class="govuk-summary-list__key">
      {{ 'answer' | trans({}, 'common') }}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row behat-region-has-assets">
    <dt class="govuk-summary-list__value">
        {{ 'existPage.form.noAssetToAdd.label' | trans(transOptions)  }}
    </dt>
    <dd class="govuk-summary-list__value">
        {{ ndr.noAssetToAdd ? 'Yes' : 'No' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link behat-link-edit" href="{{ url('ndr_assets_exist', { 'ndrId': ndr.id, 'from': 'summary' }) }}">
        {{ 'edit' | trans({}, 'common') }}
      </a>
    </dd>
  </div>
</dl>
{# display title if assets are present #}
{% if ndr.assets %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">{{ 'summaryPage.subtitle.assets' | trans }}</h2>
        </div>
        <div class="govuk-grid-column-one-half text--right">
            <strong>
                <a href="{{ path('ndr_assets_type', { 'ndrId': ndr.id}) }}" class="govuk-link behat-link-add">
                    <span class="icon icon-plus"></span>
                    {{ 'summaryPage.addButton' | trans }}
                </a>
            </strong>
        </div>
    </div>
{% endif %}

{# display assets in groups #}
{% for groupId, assetsInGroup in ndr.assetsGroupedByTitle %}
    {% if (groupId | lower) == 'property' %}
        {% include 'AppBundle:Ndr/Asset/Property:_list_item.html.twig' %}
    {% else %}
        {% include 'AppBundle:Ndr/Asset/Other:_list_item.html.twig'%}
    {% endif %}
{% endfor %}

{# Total #}
{% if ndr.assets %}
    <div class="govuk-heading-m text--right behat-region-asset-total">
        {{ 'summaryPage.totalValue' | trans({ '%value%': (ndr.assetsTotalValue | money_format) }) }}
    </div>
{% endif %}
