{#<li>
    <h3 class="heading heading-small">Add a transfer</h3>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: '' } }) }}

    <div >
        <div class="column-one-half">
            {{ form_select(form.accountFromId, 'form.accountFrom') }}
        </div>
        <div class="column-one-half" >
            {{ form_select(form.accountToId, 'form.accountTo') }}
        </div>
    </div>
    <div  >
        <div class="column-one-half" >

            {{ form_input(form.amount, 'form.amount', {
                    'inputPrefix' : '£',
                    'inputClass' : 'form-control__number transaction-value',
                }) }}

        </div>
        <div class="column-one-half"></div>
    </div>

    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
    transDomain: translationDomain,
    section: 'transfer',
    showDelete: false,
    showCancel: false
    } %}

    {{ form_end(form) }}

    {% if report.moneyTransfers is empty %}
        <div id="no-transfers">
            {{ render(controller('AppBundle:Transfers:_noTransfersPartial', { 'reportId': report.id, 'request': app.request })) }}
        </div>
    {% endif %}

</li>#}


<li class="transfer"  >
   <div class="grid-row card-select-row"  >
      <div class="column-one-half"  >
         <div class="form-label"  >From:</div>
         <ul class="card-list"  >
            <li class="card-item expandable"  ><a class="card add"  >Select account</a></li>
         </ul>
      </div>
      <div class="column-one-half"  >
         <div class="form-label"  >To:</div>
         <ul class="card-list"  >
            <li class="card-item expandable"  ><a class="card add"  >Select account</a></li>
         </ul>
      </div>
   </div>
   <div class="grid-row"  >
      <div class="column-one-half"  >
         <div class="form-group"  ><label class="form-label" for="balance"  >Amount:</label><span class="input-group-prefix"  >£</span><input id="balance" name="account[balance]" class="form-control form-control__number"   type="text"></div>
      </div>
      <div class="column-one-half"  ></div>
   </div>
</li>
