{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-transfers" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-contacts-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}
    {% block info %}<span id="save-status"></span>{% endblock %}
    
    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        <p class="page-section-description}}">
            {{ 'page.pageSectionDescription'|trans({'%client%': report.client.firstname}, translationDomain ) }}
        </p>

        <ul id="transfers" class="card-list behat-region-transfers"    >
            {# transfers #}
            {% for transfer in report.moneyTransfers %}
                {% include 'AppBundle:Transfers:row.html.twig'%}
            {% endfor %}

            {# add one #}
            {% include 'AppBundle:Transfers:add-one.html.twig'%}
            {#            {% include 'AppBundle:Transfers:add-one-no-js.html.twig'%}#}

            {# noTransfers checkbox option #}
            {% if report.moneyTransfers is empty %}
                <div id="no-transfers">
                    {{ render(controller('AppBundle:Transfers:_noTransfersPartial', { 
                        'reportId': report.id, 
                        'request': app.request 
                    })) }}
                </div>
            {% endif %}
        </ul>

        <ul class="card-lists" style="display: none" id="account-cards-selection-ul">
            {% include 'AppBundle:Transfers:cards-select.html.twig' with { 
                'accounts': report.accounts,
                'additionalClass': 'not-expandable'
             }%}
        </ul>

        <script>
            // SAVE callback
            function saveTransfer(form){
                var idElement = form.find('input[name=id]');
                var isNewRecord = idElement.val() == 0;
                var fromVal = parseInt(form.find('input.account:nth(0)').val());
                var toVal = parseInt(form.find('input.account:nth(1)').val());
                var amountVal = parseFloat(form.find('input[name=amount]').val());
                var statusElement = $('#save-status');
                
                if (fromVal > 0 && toVal > 0 && amountVal > 0) {
                    statusElement.text('Saving...');
                    $.ajax({
                        type: (isNewRecord ? "POST" : "PUT"),
                        url: "{{ path('transfers_save_json', {'reportId': report.id}) }}",
                        data: form.serialize(),
                        dataType: "json",
                        success: function(data) {
                            statusElement.text('Saved');
                            // save ID into the input field for future editing before page reloading
                            if (isNewRecord) {
                                idElement.val(data.transferId);
                            }
                        },
                        error: function() {
                           statusElement.text('Not saved');
                        }
                    });
                }
            }
            // attach events
            $(document).ready(function () {
                var cardSelectionHtml = $('#account-cards-selection-ul').html();
                $('#transfers')
                        // expand selection showing all the accounts
                        .on('click', '.card-item.expandable', function (e) {
                            e.stopPropagation();
                            $(this).parent('.card-list').html(cardSelectionHtml);
                            console.log('chose account');
                        })
                        // after selecting one account. remove all the others and toggle the *not-)expandable classes
                        .on('click', '.card-item.not-expandable', function (e) {
                            console.log('account selected');
                            var cardId = $(this).data('id');
                            $(this).parent('ul.card-list').find('li').each(function(){
                                var el = $(this);
                                if (el.data('id') != cardId) {
                                    el.remove();
                                }
                                el.removeClass('not-expandable').addClass('expandable');
                            });
                            saveTransfer( $(this).parents('form'));
                        }).on('change', 'input.balance', function(){
                            saveTransfer( $(this).parents('form'));
                        });
            });
        </script>

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("accounts" , {'reportId': report.id }),
        'previousLabel': 'Bank accounts',
        'nextLink': path("accounts_moneyin" , {'reportId': report.id }),
        'nextLabel': 'Money in'
        } %}
    {% endblock %}
{% endembed %}
