{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-transfers" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-contacts-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        <p class="page-section-description}}">
            {{ 'page.pageSectionDescription'|trans({'%client%': report.client.firstname}, translationDomain ) }}
        </p>

        {% if report.contacts %}
            {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
            transDomain: translationDomain,
            pageSectionDescription: 'page.pageSectionEditInfo'
            } %}
        {% endif %}

        <div id="transfers-container"/>Loading...</div>
        <script>
            $(document).ready(function () {
                new GOVUK.StickyHeader('#page-section-title-wrapper');
            });

            var opg = opg || {};
            opg.accounts = {{ report.accounts | serialize | raw }};

        </script>
        <script src="{{ 'javascripts/transfers.js' | assetUrl }}"></script>

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("accounts_balance" , {'reportId': report.id }),
        'previousLabel': 'Balance accounts',
        'nextLink': path("assets" , {'reportId': report.id }),
        'nextLabel': 'Assets'
        } %}
    {% endblock %}
{% endembed %}
