{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-transfers" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-contacts-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        <p class="page-section-description}}">
            {{ 'page.pageSectionDescription'|trans({'%client%': report.client.firstname}, translationDomain ) }}
        </p>

        <ul id="transfers" class="card-list behat-region-transfers"    >
            {# transfers #}
            {% for transfer in report.moneyTransfers %}
                {% include 'AppBundle:Transfers:row.html.twig'%}
            {% endfor %}

            {# add one #}
            {% include 'AppBundle:Transfers:add-one.html.twig'%}
            {#            {% include 'AppBundle:Transfers:add-one-no-js.html.twig'%}#}

            {# noTransfers checkbox option #}
            {% if report.moneyTransfers is empty %}
                <div id="no-transfers">
                    {{ render(controller('AppBundle:Transfers:_noTransfersPartial', { 
                        'reportId': report.id, 
                        'request': app.request 
                    })) }}
                </div>
            {% endif %}
        </ul>

        <div style="display: none" id="account-cards-selection-ul">
            {% include 'AppBundle:Transfers:cards-select.html.twig' with { 
                'accounts': report.accounts,
                'additionalClass': 'not-expandable'
             }%}
        </div>

        <script>
            $(document).ready(function () {
                var accountSelectionUl = $('#account-cards-selection-ul');
                $('#transfers')
                        // replace li elements
                        .on('click', '.card-item.expandable', function () {
                            var ulParent = $(this).parent('.card-list');
                            ulParent.find('li').remove();
                            accountSelectionUl.find('li').each(function(i, e) {
                                var li = $(e).clone();
                                ulParent.append(li);
                            });
                        })
                        .on('click', '.card-item.notexpandable', function () {
                            var cardId = $(this).data('id');
                            $(this).parent('ul.card-list').find('li').each(function(){
                                var el = $(this);
                                if (el.data('id') != cardId) {
                                    el.remove();
                                }
                                el.removeClass('notexpandable').addClass('expandable');
                            });
                        });
            });
        </script>

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("accounts" , {'reportId': report.id }),
        'previousLabel': 'Bank accounts',
        'nextLink': path("accounts_moneyin" , {'reportId': report.id }),
        'nextLabel': 'Money in'
        } %}
    {% endblock %}
{% endembed %}
