<ul id="transfers" class="card-list behat-region-transfers"    >
    {% for transfer in report.moneyTransfers %}
        <li class="transfer">
            <div class="grid-row card-select-row behat-region-transfer-n-{{ loop.index }}">

                <div class="column-one-half">
                    <div class="form-label">From:</div>
                    {% include 'AppBundle:Transfers:transfers_no_js_card.html.twig' with {
                            'account': transfer.accountFrom
                       }%}
                </div>

                <div class="column-one-half">
                    <div class="form-label">To:</div>
                    {% include 'AppBundle:Transfers:transfers_no_js_card.html.twig' with {
                            'account': transfer.accountTo
                       }%}
                </div>


            </div>

            <div class="grid-row">
                <div class="column-one-half">
                    <div class="form-group"><label class="form-label" for="balance">Amount:</label>
                        <span class="input-group-prefix">£</span>
                        <input id="balance" name="account[balance]" class="form-control form-control__number" 
                               value=" {{ transfer.amount }}"   disabled="disabled"
                               type="text"></div>
                </div>
                <div class="column-one-half">
                    <a href="{{ path('transfers_delete', {'reportId': report.id, 'transferId': transfer.id} )}}" id="delete-button" 
                       class="delete-button button-warning behat-link-delete-confirm">Delete</a>
                </div>
            </div>
        </li>
    {% endfor%}
    <li>
        <h3 class="heading heading-small">Add a trasfer</h3>


        {{ form_start(form, {attr: {novalidate: 'novalidate', class: '' } }) }}

        <div >
            <div class="column-one-half">
                {{ form_select(form.accountFromId, 'form.accountFrom') }}
            </div>
            <div class="column-one-half" >
                {{ form_select(form.accountToId, 'form.accountTo') }}
            </div>
        </div>
        <div  >
            <div class="column-one-half" >

                {{ form_input(form.amount, 'form.amount', {
                    'inputPrefix' : '£',
                    'inputClass' : 'form-control__number transaction-value',
                }) }}

            </div>
            <div class="column-one-half"></div>
        </div>

        {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
    transDomain: translationDomain,
    section: 'transfer',
    showDelete: false,
    showCancel: false
    } %}

        {{ form_end(form) }}

        {% if report.moneyTransfers is empty %}
            <div id="no-transfers">
                {{ render(controller('AppBundle:Transfers:_noTransfersPartial', { 'reportId': report.id, 'request': app.request })) }}
            </div>
        {% endif %}

    </li>
</ul>

