{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Deputy reports dashboard{% endblock %}
{% block pageTitle %}Deputy reports dashboard{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block pageContent %}

    <form action="#" method="GET" class="search-form push--ends">
        <fieldset>
            <legend class="visuallyhidden">Search</legend>
            <label for="search" class="search-label">Search by client name or court order number</label>
            <input type="text" id="search" name="q" value="{{ filters.q }}"
                   class="js-search-focus search-input form-control">
            <input class="button flush--bottom push-half--right" type="submit" value="Search">
            {% if filters.q %}
                <a href="{{ path('pa_dashboard', {'status': filters.status}) }}">Clear search</a>
            {% endif %}
        </fieldset>

    </form>

    <div class="tabs push--ends">
        <div class="tabs-nav">
            <ul class="tabs-list" role="tablist">
                <li class="tab-item clients {{ not filters.status ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('pa_dashboard', {'status': '', 'q': filters.q}) }}" role="tab" tabindex="0" aria-selected="true">
                        <span class="data-item bold-large">{{ counts.total }}</span>
                        <span class="data-item bold-xsmall">Clients</span>
                    </a>
                </li>
                <li class="tab-item unstarted {{ filters.status =='notStarted' ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('pa_dashboard', {'status': 'notStarted', 'q': filters.q}) }}" role="tab" tabindex="0">
                        <span class="data-item bold-large">{{ counts.notStarted }}</span>
                        <span class="data-item bold-xsmall">Not started</span>
                    </a>
                </li>
                <li class="tab-item progress {{ filters.status =='notFinished' ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('pa_dashboard', {'status': 'notFinished', 'q': filters.q}) }}" role="tab" tabindex="0">
                        <span class="data-item bold-large">{{ counts.notFinished }}</span>
                        <span class="data-item bold-xsmall">In progress</span>
                    </a>
                </li>
                <li class="tab-item ready {{ filters.status =='readyToSubmit' ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('pa_dashboard', {'status': 'readyToSubmit', 'q': filters.q}) }}" role="tab" tabindex="0">
                        <span class="data-item bold-large">{{ counts.readyToSubmit }}</span>
                        <span class="data-item bold-xsmall">Ready to submit</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table class="push--bottom">
        <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Court order no.</th>
                <th scope="col">Report due date</th>
                <th scope="col" class="numeric">Report status</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>
                    <a href="#">
                        {{ report.client.lastName|title }}, {{ report.client.firstName|title }}
                    </a>
                </td>
                <td>
                    {{ report.client.caseNumber|upper }}
                </td>
                <td>
                    <span>{{ report.dueDate | date("j M Y") }}</span><br>
                    {% if report.dueDateDiffDays < 0 %}
                        <span class="font-xsmall bold text-red">Overdue by {{ report.dueDateDiffDays|abs }} days</span>
                    {% elseif report.dueDateDiffDays == 0 %}
                        <span class="font-xsmall bold">Due today</span>
                    {% else %}
                        <span class="font-xsmall">Due in {{ report.dueDateDiffDays }} days</span>
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if report.status.status == 'notStarted' %}
                        <span class="status status-large not-started">Not Started</span>
                    {% elseif report.status.status == 'notFinished' %}
                        <span class="status status-large incomplete">In Progress</span>
                    {% elseif report.status.status == 'readyToSubmit' %}
                        <span class="status status-large done">Ready To Submit</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if filters.q and reports |length == 0 %}
        <p>Sorry, no results were found for "<strong class="bold">{{ filters.q }}</strong>"</p>
        <hr>
    {% endif %}

    {% include 'AppBundle:Components:paginator.html.twig' with {
        currentOffset: filters.offset,
        recordsPerPage: filters.limit,
        totalRecords: counts[filters.status ?: 'total'],
        routeName: 'pa_dashboard',
        routeParams: {
            'status': filters.status,
            'q': filters.q
        },
        messages: {
            singlePage: '{0} Showing 0 clients|{1} Showing 1 client|]1,Inf[ Showing %count% clients',
            multiPage: 'Showing %from% &ndash; %to% of %total% clients'
        }
    } %}

{% endblock %}
