{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Deputy reports dashboard{% endblock %}
{% block pageTitle %}Deputy reports dashboard{% endblock %}

{% block pageContent %}

	<div class="tabs push-half--bottom">
		<div class="tabs-nav">
	        <ul class="tabs-list" role="tablist">
				<li class="tab-item clients {{ not filters.status ? 'active' : ''  }}" role="presentation">
					<a href="#" role="tab" tabindex="0" aria-selected="true">
						<span class="data-item bold-large">{{ counts.total }}</span>
						<span class="data-item bold-xsmall">Clients</span>
					</a>
				</li>
				<li class="tab-item unstarted {{ filters.status =='notStarted' ? 'active' : '' }}" role="presentation">
					<a href="?status=notStarted" role="tab" tabindex="0">
						<span class="data-item bold-large">{{ counts.notStarted }}</span>
						<span class="data-item bold-xsmall">Not started</span></a>
				</li>
				<li class="tab-item progress {{ filters.status =='notFinished' ? 'active' : '' }}" role="presentation">
					<a href="?status=notFinished" role="tab" tabindex="0">
						<span class="data-item bold-large">{{ counts.notFinished }}</span>
						<span class="data-item bold-xsmall">In progress</span></a>
				</li>
				<li class="tab-item ready {{ filters.status =='readyToSubmit' ? 'active' : '' }}" role="presentation">
					<a href="?status=readyToSubmit" role="tab" tabindex="0">
						<span class="data-item bold-large">{{ counts.readyToSubmit }}</span>
						<span class="data-item bold-xsmall">Ready to submit</span></a>
				</li>
	        </ul>
	     </div>
	</div>

	<table class="push--bottom">
		<thead>
			<tr>
				<th scope="col">Client</th>
				<th scope="col">Court order no.</th>
				<th scope="col">Report due date</th>
				<th scope="col" class="numeric">Report status</th>
			</tr>
		</thead>
		<tbody>
	    {% for report in reports %}
			<tr>
				<td>
					<a href="#">
				        {{ report.client.lastName|title }}, {{ report.client.firstName|title }}
					</a>
				</td>
				<td>
					{{ report.client.caseNumber|upper }}
				</td>
				<td>
					<span>{{ report.dueDate | date("j M Y") }}</span><br>
					{% if report.dueDateDiffDays < 0 %}
						<span class="font-xsmall bold text-red">Overdue by {{ report.dueDateDiffDays|abs }} days</span>
					{% elseif report.dueDateDiffDays == 0 %}
						<span class="font-xsmall bold">Due today</span>
					{% else %}
						<span class="font-xsmall">Due in {{ report.dueDateDiffDays }} days</span>
					{% endif %}
				</td>
				<td class="numeric">
					{% if report.status.status == 'notStarted' %}
				        <span class="status status-large not-started">Not Started</span>
				    {% elseif report.status.status == 'notFinished' %}
				        <span class="status status-large incomplete">In Progress</span>
				    {% elseif report.status.status == 'readyToSubmit' %}
				        <span class="status status-large done">Ready To Submit</span>
				    {% endif %}
				</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

	{# http://rural-payments-styleguide.herokuapp.com/pagination/ #}
	<div class="pager">
		<div class="pager-controls">
			<a class="pager-prev" href="#">Prev</a>
			<ul class="pager-items">
				<li>1</li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
			<a class="pager-next" href="#">Next</a>
		</div>
		<div class="pager-summary">Showing 1 &ndash; 50 of 146 clients</div>
	</div>

{% endblock %}
