{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Deputy reports dashboard{% endblock %}
{% block pageTitle %}Deputy reports dashboard{% endblock %}

{% block pageContent %}

	<div class="tabs push-half--bottom">
		<div class="tabs-nav">
	        <ul class="tabs-list" role="tablist">
				<li class="tab-item clients {{ not filters.status ? 'active' : ''  }}" role="presentation">
					<a href="#" role="tab" tabindex="0" aria-selected="true">
						<span class="data-item bold-large">{{ counts.total }}</span>
						<span class="data-item bold-xsmall">Clients</span>
					</a>
				</li>
				<li class="tab-item unstarted {{ filters.status =='notStarted' ? 'active' : '' }}" role="presentation">
					<a href="?status=notStarted" role="tab" tabindex="0">
						<span class="data-item bold-large">{{ counts.notStarted }}</span>
						<span class="data-item bold-xsmall">Not started</span></a>
				</li>
				<li class="tab-item progress {{ filters.status =='notFinished' ? 'active' : '' }}" role="presentation">
					<a href="?status=notFinished" role="tab" tabindex="0">
						<span class="data-item bold-large">{{ counts.notFinished }}</span>
						<span class="data-item bold-xsmall">In progress</span></a>
				</li>
				<li class="tab-item ready {{ filters.status =='readyToSubmit' ? 'active' : '' }}" role="presentation">
					<a href="?status=readyToSubmit" role="tab" tabindex="0">
						<span class="data-item bold-large">{{ counts.readyToSubmit }}</span>
						<span class="data-item bold-xsmall">Ready to submit</span></a>
				</li>
	        </ul>
	     </div>
	</div>

	<table>
		<thead>
			<tr>
				<th scope="col">Client</th>
				<th scope="col">Court order no.</th>
				<th scope="col">Report due date</th>
				<th scope="col">Report status</th>
			</tr>
		</thead>
		<tbody>
	    {% for report in reports %}
			<tr>
				<td>
					<a href="#">
				        {{ report.client.lastName }}, {{ report.client.firstName }}
					</a>
				</td>
				<td>
					{{ report.client.caseNumber }}
				</td>
				<td>
					<span>{{ report.dueDate | date("j M Y") }}</span><br>
					<span class="font-xsmall">Due in {{ report.dueDateDiffDays }} days</span>
				</td>
				<td>
					<span class="status status-large done">
						{{ report.status.status }}
					</span>
				</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

{% endblock %}
