{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% block htmlTitle %}Team{% endblock %}
{% block pageTitle %}Team{% endblock %}

{% block breadcrumbs %}
    [breadcrumbs]
    {#{{ macros.breadcrumbsSettings('home') }}#}
{% endblock %}

{% block pageContent %}

    <table>


        {% for user in teamMembers %}
            {% set isActiveUser = (user.id == app.user.id)  %}
            <tr class="behat-region-team-user-{{ user.email | behat_namify }}">
                <td>
                    {{ user.firstname }} |
                    {{ user.lastname }} |
                    {{ user.roleName }} |
                    {{ user.email }} |
                    active: {{ user.active ?'yes':'no' }} |
                    is named deputy ? {{ user.roleName == 'ROLE_PA' ? 'yes':'no' }}
                </td>
                <td>
                    {% if isActiveUser %}
                        <a href="{{  path('user_edit') }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
