{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-visits-care" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans }}{% endblock %}
{% block pageHeader %}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% if step == 1 %}
        <div class="govuk-form-group {% if not form.doYouLiveWithClient.vars.valid %}govuk-form-group--error{% endif %}">
            {{ form_checkbox_group(form.doYouLiveWithClient, 'form.doYouLiveWithClient', {
                'useFormGroup': false,
                'legendText' : 'form.doYouLiveWithClient.label' | trans(transOptions, translationDomain),
                legend: {
                    isPageHeading: true,
                    caption: 'stepPage.supportTitle' | trans
                },
                'items': [
                    {},
                    {'dataTarget': 'how-often-contact-client-wrapper' }
                ]
            }) }}

            <div id="how-often-contact-client-wrapper" class="opg-indented-block js-hidden">
                {{ form_input(form.howOftenDoYouContactClient, 'form.howOftenDoYouContactClient', {
                    'labelParameters': transOptions,
                    'hintListParameters': transOptions,
                    'hasHintList': true
                }) }}
            </div>
        </div>
    {% endif %}

    {% if step == 2 %}
        <div class="govuk-form-group {% if not form.doesClientReceivePaidCare.vars.valid %}govuk-form-group--error{% endif %}">
            {{ form_checkbox_group(form.doesClientReceivePaidCare, 'form.doesClientReceivePaidCare', {
                'useFormGroup': false,
                'legendText' : 'form.doesClientReceivePaidCare.label' | trans(transOptions, translationDomain),
                legend: {
                    isPageHeading: true,
                    caption: 'stepPage.supportTitle' | trans
                },
                'items': [
                    {'dataTarget': 'how-care-funded-wrapper' },
                    {}
                ]
            }) }}

            <div id="how-care-funded-wrapper" class="opg-indented-block js-hidden">
                {{ form_checkbox_group(form.howIsCareFunded, 'form.howIsCareFunded', {
                    'legendClass' : 'govuk-label--s'
                }) }}
            </div>
        </div>
    {% endif %}

    {% if step == 3 %}
        {{ form_input(form.whoIsDoingTheCaring,'form.whoIsDoingTheCaring', {
            label: {
                isPageHeading: true,
                caption: 'stepPage.supportTitle' | trans
            },
        }) }}
    {% endif %}

    {% if step == 4 %}
        <div class="govuk-form-group {% if not form.doesClientHaveACarePlan.vars.valid %}govuk-form-group--error{% endif %}">
            {{ form_checkbox_group(form.doesClientHaveACarePlan, 'form.doesClientHaveACarePlan', {
                'useFormGroup': false,
                'legendText' : 'form.doesClientHaveACarePlan.label' | trans(transOptions, translationDomain),
                legend: {
                    isPageHeading: true,
                    caption: 'stepPage.supportTitle' | trans
                },
                'hintText': 'form.doesClientHaveACarePlan.hint' | trans(transOptions, translationDomain),
                'items': [
                    {'dataTarget': 'when-care-plan-last-reviewed-wrapper'},
                    {}
                ]
            }) }}

            <div id="when-care-plan-last-reviewed-wrapper" class="opg-indented-block  js-hidden">
                {# legendClass is-not-working #}
                {{ form_known_date(form.whenWasCarePlanLastReviewed, 'form.whenWasCarePlanLastReviewed', {
                    'legendClass' : 'govuk-label--s',
                    'showDay': 'false'
                }) }}
            </div>
        </div>
    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {% if skipLink %}
        <a href="{{ skipLink }}" class="govuk-link button-link behat-link-step-skip">{{ 'skipLink' | trans({}, 'common') }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}
