
 {% for asset in assets %}
     <h3>Property {{ loop.index }}</h3>

     {# address #}
     <div class="box">
         <dl class="labelvalue">
            <dt class="label">Address</dt>
            <dd class="value">
                {{ asset.address}}<br/>
                {{ asset.address2}}<br/>
                {{ asset.county}} </dd>
        </dl>
        <dl class="labelvalue">
            <dt class="label">Postcode</dt>
            <dd class="value">{{ asset.postcode}} </dd>
        </dl>
     </div>
        
    {# proerty details #}
    <div class="box">
        <div class="half-width first">
            <dl class="labelvalue">
                <dt class="label">  Who lives at the property?</dt>
                <dd class="value textarea"> {{ asset.occupants | nl2br }}</dd>
            </dl>
            
            
            <dl class="labelvalue">
                <dt class="label">Is the property fully or part-owned by the client?</dt>
                <table class="yesno small">
                    <tbody><tr>
                        <td class="checkbox" >{% if asset.owned =='fully' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Fully owned</td>
                        <td class="checkbox">{% if asset.owned =='partly' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Part-owned</td>
                    </tr>
                </tbody></table>
            </dl>
            
            {% if asset.ownedPercentage %}
                <dl class="labelvalue">
                    <dt class="label">If part-owned, what is the client's share of the property?</dt>
                    <dd class="value inline"> {{ asset.ownedPercentage }} %</dd>
                </dl>
            {% endif %}
            
            <dl class="labelvalue">
                <dt class="label">Is the property subject to an equity release scheme?</dt>
                <table class="yesno small">
                    <tbody><tr>
                        <td class="checkbox" >{% if asset.isSubjectToEquityRelease =='yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox">{% if asset.isSubjectToEquityRelease =='no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </tbody></table>
            </dl>
            
        </div>
        
        <div class="half-width">
            <dl class="labelvalue">
                <dt class="label">Estimated value of the property?</dt>
                <dd class="value inline">&pound;{{ asset.value | money_format }} </dd>
            </dl>
            
            <dl class="labelvalue">
                <dt class="label">Is there and outstanding mortgage?</dt>
                <table class="yesno small">
                    <tbody><tr>
                        <td class="checkbox" >{% if asset.hasMortgage =='yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox">{% if asset.hasMortgage =='no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </tbody></table>
            </dl>
            
            {% if asset.mortgageOutstandingAmount %}
                <dl class="labelvalue">
                    <dt class="label">If yes, how much is there left to pay?</dt>
                    <dd class="value inline">&pound;{{ asset.mortgageOutstandingAmount | money_format }} </dd>
                </dl> 
            {% endif %}
            
             <dl class="labelvalue">
                <dt class="label">Is there a charge on the property?</br>
                For example, Local Authority to recover care fees</dt>
                <table class="yesno small">
                    <tbody><tr>
                        <td class="checkbox" >{% if asset.hasCharges =='yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox">{% if asset.hasCharges =='no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </tbody></table>
            </dl> 
                    
            <dl class="labelvalue">
                <dt class="label">Is the property rented out?</dt>
                <table class="yesno small">
                    <tbody><tr>
                        <td class="checkbox" >{% if asset.isRentedOut =='yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox">{% if asset.isRentedOut =='no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </tbody></table>  
            </dl> 
            
            {% if asset.rentAgreementEndDate %}
                <dl class="labelvalue">
                    <dt class="label">If yes, when does the rental agreement end?</dt>
                    <dd class="value inline"> 
                            {{ asset.rentAgreementEndDate | date("m/Y") }} 
                    </dd>
                </dl> 
            {% endif %}
            
            {% if asset.rentIncomeMonth %}
                <dl class="labelvalue">
                    <dt class="label">Rental income (per month)</dt>
                    <dd class="value inline">
                        &pound;{{ asset.rentIncomeMonth }}
                    </dd>
                </dl>
            {% endif %}
                    
        </div>
    </div>
            
            
{% endfor %}
