{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-prof-deputy-costs-estimate" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% set hideEditLink = hideEditLink | default(false) %}

{% if not hideEditLink %}
    <p class="govuk-body"><strong>{{ (page ~ '.weveListedYourAnswers') | trans }}</strong></p>

    <p class="govuk-body">{{ (page ~ '.checkTheyreCorrect') | trans }}</p>

    {{ macros.notification('info2Part', (
            {
                'textbeforemarkup': (page ~ '.informationMessage.beforeMarkupText') | trans(transOptions),
                'textaftermarkup': (page ~ '.informationMessage.afterMarkupText') | trans(transOptions)
            }
        )) }}
{% endif %}

<dl class="govuk-summary-list">
    {{ macros.summaryListHeaderQA(hideEditLink) }}

    {# How did you charge   for your costs? #}
    <div class="govuk-summary-list__row behat-region-how-charged">
        <dt class="govuk-summary-list__key">
            {{ 'howCharged.form.profDeputyCostsEstimateHowCharged.label' | trans }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ ('howCharged.form.options.' ~  report.profDeputyCostsEstimateHowCharged) | trans }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a
                    href="{{ path('prof_deputy_costs_estimate_how_charged', {'reportId': report.id, 'from': 'summary'}) }}"
                    class="behat-link-edit govuk-link behat-link-edit-how-charged">
                    {{ 'edit' | trans({}, 'common' ) }}
                </a>
            </dd>
        {% endif %}
    </div>

    {# Breakdown of estimated costs #}
    {% if submittedEstimateCosts is not null %}
        {# General Management Cost #}
        <div class="govuk-summary-list__row behat-region-management-cost">
            <dt class="govuk-summary-list__key">
                {{ 'breakdown.form.profDeputyCostsEstimateManagementCost.sectionDescription' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                £{{ (report.profDeputyManagementCostAmount) | money_format }}
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a
                        href="{{ path('prof_deputy_costs_estimate_breakdown', {'reportId': report.id, 'from': 'summary'}) }}"
                        class="behat-link-edit govuk-link behat-link-edit-breakdown-management-cost">
                        {{ 'edit' | trans({}, 'common' ) }}
                    </a>
                </dd>
            {% endif %}
        </div>
        {% if report.profDeputyCostsEstimateHasMoreInfo is not empty %}
            {# More information #}
            <div class="govuk-summary-list__row behat-region-more-info">
                <dt class="govuk-summary-list__key">
                    {{ 'moreInfo.form.profDeputyCostsEstimateHasMoreInfo.label' | trans }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if 'yes' == report.profDeputyCostsEstimateHasMoreInfo %}
                        {{ report.profDeputyCostsEstimateMoreInfoDetails | trans }}
                    {% else %}
                        {{ 'summaryPage.noMoreInfo' | trans }}
                    {% endif %}
                </dd>
                {% if not hideEditLink  %}
                    <dd class="govuk-summary-list__actions">
                        <a
                            href="{{ path('prof_deputy_costs_estimate_more_info', {'reportId': report.id, 'from': 'summary'}) }}"
                            class="behat-link-edit govuk-link behat-link-edit-more-info">
                            {{ 'edit' | trans({}, 'common' ) }}
                        </a>
                    </dd>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</dl>

{% if submittedEstimateCosts is not null %}
<h2 class="govuk-heading-m">{{ 'summaryPage.breakdownHeading' | trans }}</h2>

<dl class="govuk-summary-list columns-2 push--bottom">
    {% for estimateCostTypeId in report.getProfDeputyEstimateCostTypeIds %}
        {% set costRow = submittedEstimateCosts[estimateCostTypeId.typeId] %}
        <div class="govuk-summary-list__row behat-region-breakdown-{{ estimateCostTypeId.typeId | lower }}">
            <dt class="govuk-summary-list__key">
                {{ ('breakdown.form.entries.' ~ estimateCostTypeId.typeId ~ '.label') | trans }}
            </dt>
            <dd class="govuk-summary-list__value">
                {% if costRow['amount'] is null %}
                    £{{ 0 | money_format }}
                {% else %}
                    £{{ costRow['amount'] | money_format }}
                {% endif %}
            </dd>
            {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a
                    class="govuk-link behat-link-edit behat-link-edit-breakdown-{{ estimateCostTypeId.typeId | lower }}"
                    href="{{ path('prof_deputy_costs_estimate_breakdown', {'reportId': report.id, 'from': 'summary'}) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
            {% endif %}
        </div>
    {% endfor %}
</dl>
{% endif %}
