{{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}

    {{ form_input(form.explanation, 'form.explanation', {
        'formGroupClass': 'explanation',
    }) }}
    {{ form_input(form.amount, 'form.amount', {
        'inputPrefix' : '£',
        'inputClass' : 'form-control-1-4 js-more-info js-format-currency',
        'formGroupClass': ' form-group-value'
    }) }}

    {% if not app.user.isDeputyOrg() and report.type == 102 %}
        {% if report.bankAccounts is empty %}
            <div class="alert-info panel panel-border-narrow">
                <span class="icon icon-information"></span>
                <div class="behat-alert-message alert-message"><p>{{ 'form.bankAccount.noAccountsAdded' | trans({}, 'report-deputy-expenses') }}
                    </p>
                </div>
            </div>
        {% else %}

        {{ form_select(form.bankAccountId, 'form.bankAccount') }}

        {% endif %}
    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

{{ form_end(form) }}
