{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "deputy-expenses" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'addAnotherPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addAnotherPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addAnotherPage.supportTitle' | trans }}</span>
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_checkbox_group(form.addAnother, 'addAnotherPage.form.addAnother', {
        'fieldSetClass' : 'inline',
        'legendClass' : 'form-label-bold'
    }) }}

    {{ macros.addAnotherSaveButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
