{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-deputy-expenses" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'startPage.pageSectionDescription1' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription2' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription3' | trans({
        	'%startDate%': report.startDate | date("j F Y"),
        	'%endDate%': report.endDate | date("j F Y")
        	},translationDomain) }}
        </p>
    </div>

    <a href="{{ path('deputy_expenses_exist', { 'reportId': report.id}) }}" class="button button-start behat-link-start">{{ 'startPage.startButton' | trans }}</a>

{% endblock %}
