{% extends '@App/Layouts/application.html.twig' %}

{% set translationDomain = "accessibility" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block linkBack %}
    {% if backlink %}
        <a href="{{ backlink }}" class="link-back behat-link-step-back">{{ 'back' | trans({}, 'common' ) }}</a>
    {% endif %}
{% endblock %}

{% block pageContent %}
    <p class="govuk-body">{{ 'intro.para01.beforeMarkupText' | trans }}
        <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian" class="govuk-link">
            Office of the Public Guardian
        </a>.
        {{ 'intro.para01.afterMarkupText' | trans }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'intro.bullets.changeColours' | trans }}</p></li>
        <li>{{ 'intro.bullets.zoom' | trans }}</p> </li>
        <li>{{ 'intro.bullets.navigateKeyboard' | trans }}</p> </li>
        <li>{{ 'intro.bullets.navigateSpeech' | trans }}</p></li>
        <li>{{ 'intro.bullets.screenReader' | trans }}</p></li>
    </ul>

    <p class="govuk-body">{{ 'intro.para02' | trans  }}</p>
    <p class="govuk-body">
        <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">
            AbilityNet
        </a>
        {{ 'intro.para03' | trans  }}
    </p>

    <h2 class="govuk-heading-l">{{ 'cannotAccess.heading' | trans }}</h2>
    <p class="govuk-body">
        {{ 'cannotAccess.para01.part1' | trans  }}
        <a href="{{ 'cannotAccess.para01.link1' | trans  }}" class="govuk-link">
            {{ 'cannotAccess.para01.linkText1' | trans  }}
        </a>.
        {{ 'cannotAccess.para01.part2' | trans  }}
        <a href="{{ 'cannotAccess.para01.link2' | trans  }}">
            {{ 'cannotAccess.para01.linkText2' | trans  }}
        </a>
        {{ 'cannotAccess.para01.part3' | trans  }}
    </p>

    <h2 class="govuk-heading-l">{{ 'reportProblems.heading' | trans }}</h2>
    <p class="govuk-body">{{ 'reportProblems.para01' | trans }}</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'reportProblems.bullets.email.beforeMarkupText' | trans }}
            <a href="{{ 'reportProblems.bullets.email.link' | trans }}">
                {{ 'reportProblems.bullets.email.linkText' | trans }}
            </a>
        </li>
        <li>{{ 'reportProblems.bullets.phone' | trans }}</li>
        <li>{{ 'reportProblems.bullets.textPhone' | trans }}</li>
    </ul>

    <p class="govuk-body">{{ 'reportProblems.para02' | trans }}</p>

    <h2 class="govuk-heading-l">{{ 'enforcementProcedure.heading' | trans }}</h2>
    <p class="govuk-body">
        {{ 'enforcementProcedure.para01' | trans }}
        <a href="{{ 'enforcementProcedure.link' | trans }}" class="govuk-link">
            {{ 'enforcementProcedure.linkText' | trans }}
        </a>.
    </p>

    <h2 class="govuk-heading-l">{{ 'technicalInfo.heading' | trans }}</h2>
    <p class="govuk-body">{{ 'technicalInfo.para01' | trans }}</p>

    <p class="govuk-body">
        {{ 'technicalInfo.para02.beforeMarkupText' | trans }}
        <a href="{{ 'technicalInfo.para02.link' | trans }}" class="govuk-link">
            {{ 'technicalInfo.para02.linkText' | trans }}
        </a>
        {{ 'technicalInfo.para02.afterMarkupText' | trans }}
    </p>

    <p class="govuk-body">{{ 'technicalInfo.para03' | trans }}</p>

    <h2 class="govuk-heading-l">{{ 'burden.heading' | trans }}</h2>
    <p class="govuk-body">{{ 'burden.para01' | trans }}</p>

    <p class="govuk-body">{{ 'burden.para02' | trans }}</p>

    <h2 class="govuk-heading-l">{{ 'outsideScope.heading' | trans }}</h2>
    <p class="govuk-body">{{ 'outsideScope.para01' | trans }}</p>
    <p class="govuk-body">{{ 'outsideScope.para02' | trans }}</p>
    <p class="govuk-body">{{ 'outsideScope.para03' | trans }}</p>

    <h2 class="govuk-heading-l">{{ 'howTested.heading' | trans }}</h2>
    <p class="govuk-body">{{ 'howTested.para01' | trans }}</p>

    {{ '\n'|nl2br }}

    <p class="govuk-body">{{ 'lastUpdatedDate' | trans }}</p>
{% endblock %}
