{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain 'report' %}

{% set supportEmail = 'layDeputySupportEmail' | trans({}, 'common' ) %}

{% block pageHeader %}{% endblock %}

{% block pageContent %}

    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            {{ 'accountSetupInProgress.thankYou' | trans }}
        </h1>
        <div class="govuk-panel__body">
            {{ 'accountSetupInProgress.explanation' | trans }}<br>
            {{ 'accountSetupInProgress.instruction' | trans }}
        </div>
    </div>

    <p class="govuk-body">
        {{ 'accountSetupInProgress.contactsIntro' | trans }}<br>
        {{ 'emailTitle' | trans({}, 'common' ) }}: <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a><br>
        {{ 'helplineTitle' | trans({}, 'common' ) }}: {{ 'helplineGeneral' | trans({}, 'common' ) }}<br>
        {{ 'openingHoursText' | trans({}, 'common' ) }}<br>
        {{ 'accountSetupInProgress.relayUk' | trans }}: {{ 'accountSetupInProgress.relayUkNumber' | trans }}
    </p>

{% endblock %}
