{% extends '@App/Layouts/application.html.twig' %}

{% set translationDomain = "report" %}
{% trans_default_domain translationDomain %}

{% set page = 'chooseAClient' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block clientDetails %}{% endblock clientDetails %}

{% block pageContent %}

    <h3 class="govuk-heading-m">
        {{ 'chooseAClient.title'| trans }}
    </h3>
    {% for client in clients %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    {{ client.fullName }}
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="{{ path( "lay_home", {'clientId' : client.id}) }}">Manage</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ 'chooseAClient.courtOrderNumber'| trans }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ client.caseNumber }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ 'chooseAClient.reportType'| trans }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% set reportType = ('-4' == client.activeReport.get104TransSuffix) ? 'Property and financial, and health and welfare' : ('104' in client.activeReport.type) ? 'Health and welfare' : 'Property and financial'  %}
                            {{ reportType }}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    {% endfor %}

    <noscript>
        {{ hidden_ga_event('Javascript Disabled') }}
    </noscript>

{% endblock %}
