{% extends '@App/Layouts/application.html.twig' %}

{% set translationDomain = "cookies" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">{{ 'intro.para01' | trans }}</p>
            <p class="govuk-body">{{ 'intro.para02' | trans }}</p>

            <h2 class="govuk-heading-l">{{ 'essential.title' | trans }}</h2>

            <p class="govuk-body">{{ 'essential.description' | trans }}</p>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">{{ 'essential.table.headers.0' | trans }}</th>
                        <th scope="col" class="govuk-table__header">{{ 'essential.table.headers.1' | trans }}</th>
                        <th scope="col" class="govuk-table__header">{{ 'essential.table.headers.2' | trans }}</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ 'essential.table.rows.0.name' | trans }}</td>
                        <td class="govuk-table__cell">{{ 'essential.table.rows.0.purpose' | trans }}</td>
                        <td class="govuk-table__cell">{{ 'essential.table.rows.0.expires' | trans }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ 'essential.table.rows.1.name' | trans }}</td>
                        <td class="govuk-table__cell">{{ 'essential.table.rows.1.purpose' | trans }}</td>
                        <td class="govuk-table__cell">{{ 'essential.table.rows.1.expires' | trans }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
