{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% trans_default_domain "signin" %}
{% if not isAdmin %}
    {% set page = 'signIn' %}
{% else %}
    {% set page = 'signInAdmin' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}

    {% if app.session.get('login-context') == 'password-create' %}
        {{ (page ~ '.pageTitleNewPassword') | trans }}
    {% elseif app.session.get('login-context') == 'password-update' %}
        {{ (page ~ '.pageTitleUpdatedPassword') | trans }}
    {% elseif app.session.get('login-context') == 'email-update' %}
        {{ (page ~ '.pageTitleUpdatedEmail') | trans }}
    {% else %}
        {{ (page ~ '.pageTitle') | trans }}
    {% endif %}
{% endblock %}

{% block pageContent %}

    {% if app.session.get('login-context') != 'email-update' %}
        {{ macros.notification('infoLink', {
            'textbeforemarkup': 'Get help paying deputy fees. Check whether you\'re eligible to ',
            'link': 'https://www.gov.uk/government/publications/deputy-fees-remission-or-exemption',
            'linktext': 'pay a reduced or no fee',
            'textaftermarkup': ''})
        }}
    {% endif %}

    {% if error is defined and error %}
        {{ macros.notification('info', error) }}
    {% endif %}

    {% if serviceNotificationContent is defined and serviceNotificationContent %}
        <div class="behat-region-service-notification">
            {{ macros.notification('info', serviceNotificationContent | nl2br) }}
        </div>
    {% endif %}

    {% if app.session.get('login-context') == 'email-update' %}
        <div class="moj-banner">
            {{ macros.icon('information', 'moj-banner__icon') }}
            <div class="moj-banner__message">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Do you also need to change your email on any deputyship records?</h3>
                <span class="moj-banner__assistive">information</span>
                <p class="govuk-body govuk-!-margin-bottom-2">If you have a new email address and you're a deputy or contact on any deputyships, you'll need to ask us to update
                    your contact details on the deputyship records.</p>
                <p class="govuk-body">Send an email to: <a href="mailto:opg.pro@publicguardian.gov.uk">opg.pro@publicguardian.gov.uk</a></p>
            </div>
        </div>
    {% endif %}

    {# Content gets injected here when manually signing out (login-from-logout) #}
    {% block loginHeader %}
    {% endblock %}

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {{ form_input(form.email,'signInForm.email') }}
    {{ form_input(form.password,'signInForm.password', {'dataModule': 'moj-password-reveal' }) }}

    {{ form_submit(form.login,'signInForm.signin', {'buttonClass': 'behat-link-login', 'attr': {'data-prevent-double-click':'true'}}) }}

    {{ form_end(form) }}

    <a class="behat-link-forgotten-password" href="{{ path('password_forgotten') }}">{{ 'forgottenPassword' | trans }}</a>

    <hr class="govuk-section-break govuk-section-break--m">

{% endblock %}
