{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% trans_default_domain "signin" %}
{% if not isAdmin %}
    {% set page = 'signIn' %}
{% else %}
    {% set page = 'signInAdmin' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}

    {% if app.session.get('login-context') == 'password-create' %}
        {{ (page ~ '.pageTitleNewPassword') | trans }}
    {% elseif app.session.get('login-context') == 'password-update' %}
        {{ (page ~ '.pageTitleUpdatedPassword') | trans }}
    {% elseif app.session.get('login-context') == 'email-update' %}
        {{ (page ~ '.pageTitleUpdatedEmail') | trans }}
    {% else %}
        {{ (page ~ '.pageTitle') | trans }}
    {% endif %}
{% endblock %}

{% block pageContent %}
    {% set now = "now"|date("U") %}
    {% set hour = now|date("H", "UTC") %}
    {% set weekday = now|date("N", "UTC") %} {# Monday = 1 #}

    {% if hour == 4 or hour == 3 and weekday == 1 %}
        {{ macros.notification('info', 'maintenance.sentence' | trans) }}
    {% endif %}

    {% if error is defined and error %}
        {{ macros.notification('info', error) }}
    {% endif %}

    {% if serviceNotificationContent is defined and serviceNotificationContent %}
        <div class="behat-region-service-notification">
            {{ macros.notification('info', serviceNotificationContent | nl2br) }}
        </div>
    {% endif %}

    <a class="behat-link-forgotten-password" href="/connect/microsoft">Login with O365</a>

    <hr class="govuk-section-break govuk-section-break--m">

{% endblock %}
