{% set translationDomain = "report-contacts" %}
{% trans_default_domain translationDomain %}


{% if (contacts is not empty) and (action == 'list') %}
    {% set hideForm = true %}
    {% set formClass = '' %}
{% else %}
    {% set hideForm = false %}
    {% set formClass = 'report-form' %}
{% endif %}

{{ form_start(form, {attr: {novalidate: 'novalidate', class: formClass } }) }}

{% if hideForm %}
    {# Then we need to show the Add Button Link #}
    {% set  params = app.request.attributes.get('_route_params') %}
    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' with {
    buttonBarClass: 'add-bar js-add-contact-button-bar'
    } %}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
    transDomain: translationDomain,
    linkButtonLabel: 'contact_form.addContactButton.label',
    linkClass: 'button-secondary',
    linkHref: path('contacts', {'reportId': params['reportId'], 'action': 'add' })
    } %}

    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}
{% endif %}

<div {% if hideForm %} class="visuallyhidden" {% endif %}>

    {% include 'AppBundle:Components/Page:_sub-section-title.html.twig' with {
    transDomain: translationDomain,
    subSectionTitle: 'contact_form.subSectionTitle'
    } %}

    {{ form_input(form.contactName, 'contactName') }}
    {{ form_input(form.relationship, 'relationship') }}
    {{ form_input(form.explanation, 'explanation') }}
    {{ form_input(form.address, 'address') }}
    {{ form_input(form.address2, 'address2') }}
    {{ form_input(form.county, 'county') }}
    {{ form_input(form.postcode, 'postcode', {'inputClass': 'form-control__postcode' }) }}
    {{ form_select(form.country, 'country') }}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.save,'save') }}
    {% if hideForm or (action == 'add') %}

        {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: 'cancel.label',
        linkClass: 'button-link',
        linkHref: path('contacts', {'reportId': report.id})
        } %}

    {% endif %}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

</div>

{{ form_end(form) }}
