{% set translationDomain = "report-edit-dates" %}
{% trans_default_domain translationDomain %}


{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}

{{ form_start(form, {attr: {novalidate: 'novalidate', class: ''  }}) }}

    <h3 class="heading-medium">{{ 'form.subSectionTitle'| trans({}, translationDomain) }}</h3>

    {{ form_known_date(form.startDate, 'form.controls.startDate') }}

    {{ form_known_date(form.endDate, 'form.controls.endDate') }}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}

    {{ form_submit(form.save,'form.controls.save') }}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: 'form.controls.cancel.label',
        linkClass: 'button-link',
        linkHref: path('reports')
    } %}

    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

{{ form_end(form) }}
