{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

<ul class="behat-region-list-assets report-list report-list--assets">
    {% for asset in assets %}
        <li class="report-list__item">
            <div class="report-list__item-header"><h3>{{ asset.title }}</h3>
                <a href="#"
                   class="js-report-list__item-edit-link report-list__item-edit-link">{{ 'listing.editLink'| trans }}</a>
            </div>
            <dl class="report-list__item-fields">
                <div class="report-list__item-fields-row">
                    <dt class="report-list__item-fields-term">{{ 'listing.value' | trans }}</dt>
                    <dd class="report-list__item-fields-description">{{ 'listing.currencySymbol' | trans }}{{ asset.value | number_format(2, '.', ',') }}</dd>
                </div>
                <div class="report-list__item-fields-row">
                    <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'listing.description' | trans }}</dt>
                    <dd class="report-list__item-fields-description report-list__item-fields-description--block">{{ asset.description }}</dd>
                </div>
                {% if asset.valuationDate is not null %}
                <div class="report-list__item-fields-row">
                    <dt class="report-list__item-fields-term">{{ 'listing.date' | trans }}</dt>
                    <dd class="report-list__item-fields-description">{{ asset.valuationDate | date("d F Y") }}</dd>
                </div>
                {% endif %}
            </dl>
        </li>
    {% endfor %}
</ul>
