{% trans_default_domain translationDomain %}

<ul class="item-list reports">
    {% for report in reports %}
        {% set linkToReportOverviewPage = path('report_overview', { 'reportId': report.id }) %}
        {% set linkToDownloadReport = path('report_overview', { 'reportId': report.id }) %}
        {% set linkEditReportingPeriod = path('report_edit', {'reportId': report.id}) %}
        <li class="item">

            <div class="grid-row">

                <div class="column-one-half">
                    <h3 class="title">
                        {% if report.submitted %}
                            {{ report.getPeriod() }}{{ 'reportDataList.nameSuffix' | trans }}
                        {% else %}
                            <a href="{{ linkToReportOverviewPage }}#account-header"
                               id="report-{{ report.startDate | date("Y") }}"
                               class="behat-link-report-{{ report.getPeriod | behat_namify }}">
                                {{ report.getPeriod() }}{{ 'reportDataList.nameSuffix' | trans }}
                            </a>
                        {% endif %}
                    </h3>

                    <dl class="item-data">
                        {% if report.submitted %}
                            {% set submitDate = ( report.getSubmitDate() is null ? 'reportDataList.submitDateNotSet'|trans : report.getSubmitDate() | date(" d F Y") ) %}
                            <dt class="item-label">{{ 'reportDataList.status' | trans }}</dt>
                            <dd class="item-value behat-region-report-{{ report.getPeriod() | behat_namify }}-submitted-on">{{ 'reportDataList.submitted' | trans( { '%date%': submitDate } ) }}</dd>
                        {% elseif report.isDue() %}
                            <dt class="item-label">{{ 'reportDataList.status' | trans }}</dt>
                            <dd class="item-value">{{ 'reportDataList.isDue' | trans }}</dd>
                        {% else %}
                            <dt class="item-label">{{ 'reportDataList.status' | trans }}</dt>
                            <dd class="item-value">{{ 'reportDataList.inProgress' | trans }}</dd>
                        {% endif %}
                        {% if not report.submitted %}
                            <dt class="item-label">{{ 'reportDataList.dueDate' | trans }}</dt>
                            <dd class="item-value">{{ report.dueDate | date(" d F Y") }}</dd>
                        {% endif %}
                    </dl>
                </div>

                <div class="column-one-half text--right">
                    {% if report.submitted %}
                        <a href="{{ path('report_review', {'reportId': report.id}) }}" class="behat-link-download-{{ report.getPeriod() | behat_namify }}-report">
                            {{ 'reportDataList.downloadThisReportLink' | trans() }}
                        </a>
                    {% else %}
                        <a href="{{ linkToReportOverviewPage }}" class="button push-half--bottom behat-link-report-open behat-link-report-{{ report.getPeriod() | behat_namify }}-open">{{ 'reportDataList.open' | trans }}</a><br>
                        <a href="{{ linkEditReportingPeriod }}"
                           class="behat-link-report-{{ report.getPeriod() | behat_namify }}-edit">{{ 'reportDataList.edit'| trans }}</a>
                    {% endif %}
                </div>

            </div>

        </li>
    {% endfor %}
</ul>
