{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

{# set default label and link (report overview / client profile) #}
{% set overviewPageConfig = {
    'section': app.user.isDeputyOrg ? 'clientProfile' : 'reportOverview',
    'link': report.type == 'ndr'
    ? path('ndr_overview', {'ndrId': report.id})
    : path('report_overview', {'reportId': report.id}),
} %}

{# get link from twig extension (that uses ReportSectionLinkService). Default to overview page if it's the first/last #}
{% set prevConfig = section_link_params(report, sectionId, -1) | default(overviewPageConfig) %}
{% set nextConfig = section_link_params(report, sectionId, 1) | default(overviewPageConfig)%}

<nav class="pagination" role="navigation" aria-label="Pagination">
  <ul class="group">
    <li class="previous">
        <a title="Navigate to previous part" rel="prev" href="{{ prevConfig.link }}">
            <span class="pagination-label">{{ 'prevNextLinks.previous' | trans({}, translationDomain) }}</span>
            <span class="pagination-part-title">{{ ('prevNextLinks.sections.' ~ prevConfig.section) | trans }}</span>
        </a>
    </li>
    <li class="next">
        <a title="Navigate to next part" rel="next" href="{{ nextConfig.link }}">
            <span class="pagination-label">{{ 'prevNextLinks.next' | trans({}, translationDomain) }}</span>
            <span class="pagination-part-title">{{ ('prevNextLinks.sections.' ~ nextConfig.section) | trans }}</span>
        </a>
    </li>
  </ul>
</nav>

