{{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-form' }}) }}

    <h2 class="page-section-title">Add the reporting period</h2>

    <p>In the first year, your reporting period starts on the date your court order is issued. For all subsequent reports use the anniversary of that date.</p>

    {{ form_known_date(form.startDate, 'startDate') }}


    <p>The reporting period is usually for a 12-month period. Set the end date now for a 12-month period. If OPG need you to send a report before this, we will let you know.</p>

    {{ form_known_date(form.endDate, 'endDate') }}

    {{ form_submit(form.save,'saveAndContinue') }}

{{ form_end(form) }}
