{% set translationDomain = "report-declaration" %}
{% trans_default_domain translationDomain %}
{% if report.submitDate != "" %}
<div class="box">

    {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
        transDomain: "report-declaration",
        pageSectionTitle: 'page.pageSectionTitle'
    } %}

    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
        transDomain: "report-declaration",
        pageSectionDescription: 'page.pageSectionDescription',
        transOptions: {'%separator%': '<br/><br/>'}
    } %}

    <div class="item">
        <dl class="labelvalue">
            <dt class="label">{{ 'declaration' | trans() }}</dt>
            <dd class="value" id="declarationString">
                {{ ('agreedBehalfDeputy.' ~ report.agreedBehalfDeputy) | trans() }}
            </dd>
            {% if (report.agreedBehalfDeputy == 'more_deputies_not_behalf') %}
                <dt class="label">{{ 'agreedBehalfDeputyExplanation' | trans() }}</dt>
                <dd class="value">{{ report.agreedBehalfDeputyExplanation | nl2br }}</dd>
            {% endif %}
            <dt class="label">{{ 'declarationTime' | trans() }}</dt>
            <dd class="value">{{report.submitDate | date("H:i") }}&nbsp;&nbsp;&nbsp;{{report.submitDate | date("d/m/Y") }}</dd>
            <dt class="label">{{ 'deputyName' | trans() }}</dt>
            <dd class="value" id="statusDeputyName">{{ deputy.fullname }}</dd>
        </dl>
    </div>
</div>
{% endif %}
