{% embed 'AppBundle:Components/Page:page-report.html.twig' %}
    {% set translationDomain = "report-further-information" %}
    {% trans_default_domain translationDomain %}


    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} report-declaration js-report-assets-input{% endblock %}

    {% block pageNavigation %}
        {# no navigation bar for declaration #}
    {% endblock %}

    {% block pageBody %}

        {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
        transDomain: translationDomain,
        pageSectionTitle: 'page.pageSectionTitle'
        } %}
        
        {% if action == 'edit' %}
          
          {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
          transDomain: translationDomain,
          pageSectionDescription: 'page.pageSectionDescription'
          } %}
          
          {% block validationSummary %}
              {{ form_errors_list(form) }}
          {% endblock %}

          {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

          {{ form_input(form.furtherInformation, 'form.furtherInformation', { 'labelClass': 'required' }) }}

          {{ form_submit(form.saveAndContinue, 'form.saveAndContinue') }}

          {{ form_end(form) }}

        {% endif %}
        
        {% if action == 'view' %}
          <p class="page-section-description behat-region-additional-info">{{ report.furtherInformation | nl2br | default('pages.additionalInformation.noneAdded' | trans({}, 'report-overview')) }}</p>
          <div>
            <a class="behat-link-edit-information" href="{{ path('report_add_further_info', {'reportId': report.id, 'action': 'edit'}) }}">{{ 'page.editLink' | trans }}</a>
          </div>
          <a class="button behat-link-next" href="{{ path('report_declaration', {'reportId': report.id}) }}">{{ 'page.nextButton' | trans }}</a>
        {% endif %}

    {% endblock %}

{% endembed %}
