{% extends 'AppBundle:Components/Page:page-report.html.twig' %}
{% trans_default_domain "report-overview" %}

{% block pageTitle %}{{ 'overview.pageTitle' | trans }} {% endblock %}
{% block title %}{% trans %}overview.pageTitle{% endtrans %}{% endblock %}


{% block pageBody %}
    <h1>Overview Page</h1>
    
    <a href="{{ path('list_decisions', {'reportId' : report.id}) }}">List decision</a><br/>
    <a href="{{ path('contacts', {'reportId' : report.id}) }}">Contacts</a>
    <hr/>
    {{ dump(report) }}
    <hr/>
    {{ dump(client) }}
{% endblock %}
