{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{# Set page to summary page to allow correct translations to be pulled in#}
{% set page = 'summaryPage' %}

    {# Have you charged in line with interim billing under Practice Direction 19B  #}
    {% if not report.hasProfDeputyCostsHowChargedFixedOnly %}
    <div class="govuk-summary-list__row behat-region-has-interim">
        <dt class="govuk-summary-list__key">
            {% if report.profDeputyCostsHasInterim is null %}<span class="error">{% endif %}
                {{ 'interimExists.form.profDeputyCostsHasInterim.label' | trans(transOptions) }}
                {% if report.profDeputyCostsHasInterim is null %}</span>{% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
            {% if report.profDeputyCostsHasInterim is null %}
                <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
            {% else %}
                {{ report.profDeputyCostsHasInterim | capitalize }}
            {% endif %}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ path('prof_deputy_costs_inline_interim_19b_exists', {'reportId': report.id, 'from': 'summary'}) }}">{{ 'edit' | trans({}, 'common' ) }}</a>
            </dd>
        {% endif %}
    </div>


    {% for ic in report.profDeputyInterimCosts %}
        <div class="govuk-summary-list__row behat-region-interim-cost-{{ loop.index }}">
            <dt class="govuk-summary-list__key">
                Costs for interim {{ loop.index }}
            </dt>
            <dd class="govuk-summary-list__value">
                £{{ ic.amount | money_format }}, paid {{  ic.date | date('j F Y') }}
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link behat-link-edit" href="{{ path('prof_deputy_costs_inline_interim_19b', {'reportId': report.id, 'from': 'summary'}) }}">{{ 'edit' | trans({}, 'common' ) }}</a>
                </dd>
            {% endif %}
        </div>
    {% endfor %}

    {% endif %}
    {# Fixed cost #}
    {% if report.hasProfDeputyCostsHowChargedFixedOnly or report.profDeputyCostsHasInterim == 'no'  %}
        <div class="govuk-summary-list__row behat-region-fixed-cost-amount">
            <dt class="govuk-summary-list__key">
                {{ (page ~ '.questionLabel.paidThisPeriod') | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                {% if report.profDeputyFixedCost is null %}
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                {% else %}
                    £{{ report.profDeputyFixedCost | money_format }}
                {% endif %}
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a class="behat-link-edit govuk-link" href="{{ path('prof_deputy_costs_received', {'reportId': report.id, 'from': 'summary'}) }}">{{ 'edit' | trans({}, 'common' ) }}</a>
                </dd>
            {% endif %}
        </div>
    {% endif %}

    {% if not report.hasProfDeputyCostsHowChargedFixedOnly %}
        {# SCCO assessment #}
        <div class="govuk-summary-list__row behat-region-scco-assessment-amount">
            <dt class="govuk-summary-list__key">
                {{ 'amountToScco.form.profDeputyCostsAmountToScco.label' | trans }}
            </dt>
            <dd class="govuk-summary-list__value">
                {% if report.profDeputyCostsAmountToScco is null %}
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                {% else %}
                    £{{ report.profDeputyCostsAmountToScco | money_format }}
                {% endif %}
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a class="behat-link-edit govuk-link" href="{{ path('prof_deputy_costs_amount_scco', {'reportId': report.id, 'from': 'summary'}) }}">{{ 'edit' | trans({}, 'common' ) }}</a>
                </dd>
            {% endif %}
        </div>
    {% endif %}
