{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}
{% set page = 'summaryPage' %}

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        {{ (page ~ '.item') |  trans }}
    </dt>
    <dd class="govuk-summary-list__key">
        {{ (page ~ '.amount') |  trans }}
    </dd>
    {% if not hideEditLink %}
        <dd class="govuk-summary-list__actions">
            <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
        </dd>
    {% endif %}
</div>

{% for otherCostTypeId in report.getProfDeputyOtherCostTypeIds %}
    {% set costRow = submittedOtherCosts[otherCostTypeId.typeId] %}
    <div class="govuk-summary-list__row behat-region-breakdown-{{ otherCostTypeId.typeId | lower }}">
        <dt class="govuk-summary-list__key">
            {{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.label') | trans }}
        </dt>
        <dd class="govuk-summary-list__value">
            {% if costRow['amount'] is null %}
                -
            {% else %}
                £{{ costRow['amount'] | money_format }}
            {% endif %}
        </dd>
        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ path('prof_deputy_costs_breakdown', {'reportId': report.id, 'from': 'summary'}) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>
    {# more details ("other" only) #}
    {% if costRow.hasMoreDetails and costRow.moreDetails %}
        <div class="govuk-summary-list__row behat-region-breakdown-{{ otherCostTypeId.typeId | lower }}-details">
            <dt class="govuk-summary-list__key">
                {{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.moreInformationLabelSummary') | trans }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{  costRow.moreDetails | nl2br }}
            </dd>
            {% if not hideEditLink %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link behat-link-edit" href="{{ path('prof_deputy_costs_breakdown', {'reportId': report.id, 'from': 'summary'}) }}">
                        {{ 'edit' | trans({}, 'common') }}
                    </a>
                </dd>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
