{% extends '@App/Layouts/application.html.twig' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-prof-deputy-costs" %}
{% trans_default_domain translationDomain %}
{% set page = 'breakdown' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageSectionDescription') | trans(transOptions) }}{% endblock %}
{% block supportTitleTop %}{{ (page ~ '.supportTitle') | trans }}{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <p class="govuk-heading-s push-half--bottom  text">
        {{ (page ~ '.pageSectionDescription') | trans(transOptions) }}
    </p>
    <span class="form-hint text push-half--bottom">{{ (page ~ '.pageHint') | trans() }}</span>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

        {% for profDeputyOtherCost in form.profDeputyOtherCosts %}
            {% set toggleRequired = profDeputyOtherCost.moreDetails is defined %}
            {% set transKey = page ~ '.form.entries.' ~ profDeputyOtherCost.profDeputyOtherCostTypeId.vars.value %}

            <div
                {% if toggleRequired %}
                    class="js-toggle-required"
                    data-optional-label-suffix="{{ ' ' ~ ('optional' | trans({}, 'common')) }}"
                    data-optional-message="{{ (transKey ~ '.isOptional') | trans }}"
                    data-required-message="{{ (transKey ~ '.isRequired') | trans }}"
                {% endif %}
            >

                {{ form_row(profDeputyOtherCost.profDeputyOtherCostTypeId) }}

                {{ form_input(profDeputyOtherCost.amount, 'amount', {
                    'inputPrefix' : '£',
                    'inputClass' : 'govuk-!-width-one-quarter js-format-currency js-toggle-required-trigger',
                    'labelText': (transKey ~ '.label') | trans
                }) }}

                {% if toggleRequired %}
                    {{ form_input(profDeputyOtherCost.moreDetails, 'moreDetails', {
                        'labelText': (transKey ~ '.moreInformation') | trans,
                        'formGroupClass': 'js-toggle-required-target'
                    }) }}
                {% endif %}
            </div>
        {% endfor %}

        {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
