{% from '@App/Macros/macros.html.twig' import icon %}

{% trans_default_domain "admin-checklist" %}

<ul class="govuk-list">
    <li>
        <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="#anchor-{{ checklistDomain }}-checklist">
            {{- icon('arrow-up', 'govuk-!-margin-right-2') | spaceless -}}
            {{ (page ~ '.backToTop') | trans }}: {{ (page ~ '.heading.' ~ checklistDomain ~ '.title') | trans }}
        </a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="#">
            {{- icon('arrow-up', 'govuk-!-margin-right-2') | spaceless -}}
            {{ (page ~ '.backToTop') | trans }}
        </a>
    </li>
</ul>
