{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "pa-team" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'addPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addPage.h1Title' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">User accounts</span>
{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.firstname,'form.firstname') }}

    {{ form_input(form.lastname,'form.lastname') }}

    {{ form_input(form.email,'form.email') }}

    {{ form_input(form.jobTitle, 'form.jobTitle') }}

    {{ form_input(form.phoneMain,'form.phoneMain') }}

    {% if form.roleName is defined and form.roleName != null %}
        {{ form_checkbox_group(form.roleName, 'form.roleName', {
            'fieldSetClass' : 'inline',
        }) }}
    {%  endif %}
    {{ form_submit(form.save,'form.save', {'buttonClass': 'behat-link-save'}) }}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: 'Cancel',
        linkClass: 'button-link',
        linkHref: path('pa_team')
    } %}

    {{ form_end(form) }}

{% endblock %}
