{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% block htmlTitle %}User accounts{% endblock %}
{% block pageTitle %}User accounts{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    [breadcrumbs]
    {#{{ macros.breadcrumbsSettings('home') }}#}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    {# Introduction text #}
    <p class="text">Add, edit and remove user accounts for you and your team members</p>

    <div class="grid-row push--top">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of user accounts</h2>
        </div>
        <div class="column-half text--right">
            <a href="{{ path('add_team_member') }}"
               class="bold-small move-quarter--up action-link behat-link-add">
                <span class="icon icon-plus"></span>
                Add user account
            </a>
        </div>
    </div>

    <table class="check-your-answers">
        <thead>
            <tr>
                <th>Name and job</th>
                <th>Contact information</th>
                <th>
                    <span class="visuallyhidden">Actions</span>
                </th>
            </tr>
        </thead>

        <tbody>
        {% for user in teamMembers %}
            {% set allowedToEdit = app.user.roleName == 'ROLE_PA' or app.user.roleName == 'ROLE_PA_ADMIN' or app.user.id == user.id %}
            <tr class="behat-region-team-user-{{ user.email | behat_namify }}">
                <td valign="top" class="width-third">
                    <strong class="bold">{{ user.firstname }} {{ user.lastname }}</strong><br>
                    {% if user.roleName == 'ROLE_PA' %}
                        <span class="status status-label admin">Administrator</span><br>
                    {% endif %}
                    Named deputy<br>
                    {{ user.paTeamName }} Team
                    <span class="visuallyhidden">
                        active: {{ user.active ?'yes':'no' }} |
                    </span>
                </td>
                <td>
                    <p class="flush--top">
                        <strong class="bold">Phone</strong><br>
                        349534958439857
                    </p>
                    <p class="flush--bottom">
                        <strong class="bold">Email</strong><br>
                        {{ user.email }}
                    </p>
                </td>
                <td class="change-answer">
                    {% if allowedToEdit %}
                        <a class="" href="{{  path('edit_team_member', {'id': user.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
