{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "pa-team" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'listPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'listPage.pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsSettings('settings-team') }}
{% endblock %}

{% block pageContent %}
    {# Introduction text #}
    <p class="text">
        {% if (app.user.roleName == 'ROLE_PA' or app.user.roleName == 'ROLE_PA_ADMIN') %}
            {{ 'listPage.introParaAdmin' | trans }}
        {% else %}
            {{ 'listPage.introPara' | trans }}
        {% endif %}
    </p>

    <div class="grid-row push--top">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">{{ 'listPage.tableHeading' | trans }}</h2>
        </div>
        <div class="column-half text--right">
            {% if is_granted('add-user') %}
                <a href="{{ path('add_team_member') }}"
               class="bold-small move-quarter--up action-link behat-link-add">
                <span class="icon icon-plus"></span>
                {{ 'listPage.addUser' | trans }}
            </a>
            {% endif %}
        </div>
    </div>

    <table class="check-your-answers">
        <thead>
            <tr>
                <th>{{ 'listPage.nameAndJob' | trans }}</th>
                <th>{{ 'listPage.contactInfo' | trans }}</th>
                <th>
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            </tr>
        </thead>

        <tbody>
        {% for user in teamMembers %}
            <tr class="behat-region-team-user-{{ user.email | behat_namify }}">
                <td valign="top" class="width-third">
                    <p class="flush--ends">
                        <strong class="bold">{{ user.firstname }} {{ user.lastname }}</strong>
                    </p>
                    {% if (user.roleName == 'ROLE_PA' or user.roleName == 'ROLE_PA_ADMIN') %}
                        <span class="status status-label admin">{{ 'listPage.roleAdmin' | trans }}</span><br>
                    {% endif %}
                    {% if user.jobTitle != '' %}
                        <p class="flush--top">{{ user.jobTitle }}</p>
                    {% endif %}
                </td>
                <td>
                    <p class="flush--ends">
                        <strong class="bold">{{ 'email' | trans({}, 'common') }}</strong><br>
                        {{ user.email }}
                    </p>
                    {% if user.phoneMain != '' %}
                    <p class="flush--bottom push-half--top">
                        <strong class="bold">{{ 'phone' | trans({}, 'common' ) }}</strong><br>
                        {{ user.phoneMain }}
                    </p>
                    {% endif %}
                </td>
                <td class="change-answer">
                    {% if user.id != app.user.id and is_granted('edit-user', user) %}
                        <a class="behat-link-edit" href="{{  path('edit_team_member', {'id': user.id}) }}">{{ 'edit' | trans({}, 'common' ) }}</a><br>
                    {% endif %}
                    {% if is_granted('delete-user', user) %}
                        <a class="behat-link-delete" href="{{  path('delete_team_member', {'id': user.id}) }}">{{ 'remove' | trans({}, 'common' ) }}</a><br>
                    {% endif %}
                    {% if is_granted('edit-user', user) and not user.active %}
                        <a class="behat-link-send-activation-email" href="{{ path('team_send_activation_link', {'id': user.id}) }}">{{ 'listPage.resendActivation' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
