{% extends 'moj_template.html.twig' %}

{% trans_default_domain "layout" %}

{% block topOfPage %}{% endblock %}

{% block stylesheets %}
    <!--[if gt IE 8]><!-->
    <link href="/css/application.css" media="screen" rel="stylesheet" type="text/css"/><!--<![endif]-->
    <!--[if IE 6]>
    <link href="/css/application-ie6.css" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 7]>
    <link href="/css/application-ie7.css" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 8]>
    <link href="/css/application-ie8.css" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
{% endblock %}

{% block head %}{% endblock %}

{% block pageTitle %}Digideps Page Title{% endblock %}



{% block bodyClasses %}{% endblock %}

{% block cookieMessage %}{% endblock %}



{% block headerClass %}{% endblock %}

{% block insideHeader %}{% endblock %}

{% block proposition_content %}
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
        <a href="/" id="proposition-name">{% block proposition_title %}Digital Deputyships{% endblock %}</a>
        <ul id="proposition-links">
            {% if app.user %}
                
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_homepage') }}">{% trans %}adminArea{% endtrans %}</a></li>
                {% endif %}
                 <li><a href="{{ path('user_details') }}" class="behat-link-user-details">{% trans %}userDetails{% endtrans %}</a></li>
                <li><a href="{{path('logout')}}" class="behat-link-logout">{% trans %}logout{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block afterHeader %}
    {# To style #}
    {% if error is defined %}
        <div style="color: #ddd;background-color: #ff0000;"
             class="behat-region-header-errors">{{ error|trans }}</div>
    {% endif %}

    {# To style #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice"  style="color: white;background-color: green;">
            {{ flashMessage }}
        </div>
    {% endfor %}

{% endblock %}



{% block beforeContent %}{% endblock %}

{% block content %}
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="container {% block contentClass %}{% endblock %}">
        {% block pageContent %}
        {% endblock %}
    </div>
{% endblock %}



{% block footerTop %}{% endblock %}

{% block footerSupportLinks %}{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ asset('javascripts/vendor/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/application.js') }}"></script>
{% endblock %}

{% block bodyEnd %}{% endblock %}

