{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'statsPage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <h1 class="heading-medium">{{ (page ~ '.heading') | trans }}</h1>

    <div class="text">
        <p>{{ (page ~ '.limitedTo100') | trans }}</p>
        <p>
            {{ (page ~ '.downloadCSV') | trans({'%csvFile%': path('admin_stats_csv', {'regenerate': 0 })}) | raw }}
        </p>
    </div>

    <h1 class="heading-medium">{{ (page ~ '.reportsHeading') | trans }}</h1>

    <div class="text">
        <p>{{ (page ~ '.reportSubmissionsPara') | trans }}</p>


        {{ form_start(form, {attr: {class: 'search', novalidate: 'novalidate' }}) }}

        <div class="form-group form-groups-inline flush--bottom">
            <h2 class="heading-medium">{{ (page ~ '.form.fromDate.header') | trans }}</h2>
            {{ form_known_date(form.fromDate, 'statsPage.form.fromDate', {
                'hintText': 'statsPage.form.fromDate.hint'
            }) }}
        </div>
        <div class="form-group form-groups-inline flush--bottom">
            <h2 class="heading-medium">{{ (page ~ '.form.toDate.header') | trans }}</h2>
            {{ form_known_date(form.toDate, 'statsPage.form.toDate', {
                'hintText': 'statsPage.form.toDate.hint'
            }) }}
        </div>

        <div class="form-group">
            {{ form_submit(form.submitAndDownload, (page ~ '.form.submitAndDownload'), {
                'buttonClass': 'behat-link-submit-and-download'
            }) }}
            <a href="{{ path('admin_stats') }}" class="button-link">{{ 'homeForm.clear' | trans }}</a>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
