{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}

{% set page = 'checklistPage' %}

<div class="opg-related-items">
    <span class="govuk-caption-m">{{ (page ~ '.jumpTo') | trans }}:</span>
    <h3 class="govuk-heading-s">{{ (page ~ '.heading.' ~ checklistDomain ~ '.title') | trans }}</h3>
    <ul class="govuk-list">
        {% block links %}{% endblock %}
    </ul>
</div>

<ul class="govuk-list">
    <li>
        <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="#anchor-{{ checklistDomain }}-checklist">
            {{- macros.icon('arrow-up', 'govuk-!-margin-right-2') | spaceless -}}
            {{ (page ~ '.backToTop') | trans }}: {{ (page ~ '.heading.' ~ checklistDomain ~ '.title') | trans }}
        </a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="#">
            {{- macros.icon('arrow-up', 'govuk-!-margin-right-2') | spaceless -}}
            {{ (page ~ '.backToTop') | trans }}
        </a>
    </li>
</ul>
