{% extends '@App/Layouts/application.html.twig' %}

{% set translationDomain = "org-dashboard" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}


{% block pageContent %}

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ 'overdueHelpTextHeader' | trans }}</span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">{{ 'overdueHelpTextParagraph1' | trans }}</p>
            <p class="govuk-body">{{ 'overdueHelpTextParagraph2' | trans }}</p>
        </div>
    </details>

    <form action="{{ path('org_dashboard') }}" method="GET">
        <div class="govuk-form-group govuk-!-margin-bottom-2">
            <label for="search" class="govuk-label">{{ 'searchBy' | trans }}</label>
            <input type="text" id="search" name="q" value="{{ filters.q }}" class="govuk-input">
        </div>

        <div class="govuk-form-group">
            <input id="search_submit" class="govuk-button govuk-!-margin-bottom-0 behat-link-search" type="submit" value="Search">
        </div>

        {% if filters.q %}
            <a href="{{ path('org_dashboard', {'status': filters.status}) }}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" role="button" data-module="govuk-button">
                {{ 'clearSearch' | trans({}, 'common') }}
            </a>
        {% endif %}
    </form>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list" role="tablist">
            <li class="govuk-tabs__list-item {{ not filters.status ? 'govuk-tabs__list-item--selected' : '' }}">
                <a class="govuk-tabs__tab" href="{{ path('org_dashboard', {'status': '', 'q': filters.q}) }}" role="tab" tabindex="0">
                    {{ 'tabClients' | trans }}
                </a>
                <span class="govuk-tag">{{ counts.total }}</span>
            </li>
            <li class="govuk-tabs__list-item {{ filters.status =='notStarted' ? 'govuk-tabs__list-item--selected' : '' }}">
                <a class="govuk-tabs__tab behat-link-tab-unstarted" href="{{ path('org_dashboard', {'status': 'notStarted', 'q': filters.q}) }}" role="tab" tabindex="0">
                    {{ 'notStarted' | trans({}, 'common') }}
                </a>
                <span class="govuk-tag opg-tag--not-started">{{ counts.notStarted }}</span>
            </li>
            <li class="govuk-tabs__list-item {{ filters.status =='notFinished' ? 'govuk-tabs__list-item--selected' : '' }}">
                <a class="govuk-tabs__tab behat-link-tab-in-progress" href="{{ path('org_dashboard', {'status': 'notFinished', 'q': filters.q}) }}" role="tab" tabindex="0">
                    {{ 'inProgress' | trans({}, 'common') }}
                </a>
                <span class="govuk-tag opg-tag--notice">{{ counts.notFinished }}</span>
            </li>
            <li class="govuk-tabs__list-item {{ filters.status =='readyToSubmit' ? 'govuk-tabs__list-item--selected' : '' }}">
                <a class="govuk-tabs__tab behat-link-tab-ready" href="{{ path('org_dashboard', {'status': 'readyToSubmit', 'q': filters.q}) }}" role="tab" tabindex="0">
                    {{ 'readyToSubmit' | trans({}, 'common') }}
                </a>
                <span class="govuk-tag opg-tag--success">{{ counts.readyToSubmit }}</span>
            </li>
        </ul>
    </div>

    <table class="push--bottom">
        <thead>
            <tr>
                <th scope="col">{{ 'client' | trans({}, 'common') }}</th>
                {% if app.user.organisations | length > 1 %}
                    <th scope="col">{{ 'organisation' | trans({}, 'common') }}</th>
                {% endif %}
                <th scope="col">{{ 'courtOrderNo' | trans({}, 'common') }}</th>
                <th scope="col">{{ 'reportDueDate' | trans({}, 'common') }}</th>
                <th scope="col" class="numeric">{{ 'reportStatus' | trans({}, 'common') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            {% set transOptions = {
                '%overdueDays%': report.dueDateDiffDays|abs,
                '%dueDays%': report.dueDateDiffDays
            } %}
            {# condition for setting an appendum for reports that are identified as changes needed #}
            {% set clientRegionAppend = "" %}
            {% if report.status.status == 'readyToSubmit' and report.unSubmitDate is not empty and report.submitted == false %}
                {% set clientRegionAppend = "-changes-needed" %}
            {% endif %}

            {% set linkToReportOverviewPage = path('report_overview', { 'reportId': report.id }) %}

            <tr class="behat-region-client behat-region-client-{{ report.client.caseNumber | upper }}{{ clientRegionAppend }}">
                <td>
                    <a href="{{ linkToReportOverviewPage }}" class="behat-link-pa-report-open behat-link-pa-report-{{ report.getPeriod() | behat_namify }}-open">{{ report.client.lastName | title | striptags }}, {{ report.client.firstName | title | striptags }}</a>
                </td>
                {% if app.user.organisations | length > 1 %}
                    <td>
                        {{ report.client.organisation.name }}
                    </td>
                {% endif %}
                <td>
                    {{ report.client.caseNumber|upper }}
                </td>
                <td>
                    {% if report.dueDate is not null %}
                        <span>{{ report.dueDate | date("j M Y") }}</span><br>
                        {% if report.dueDateDiffDays < 0 %}
                            <span class="govuk-body-s govuk-!-font-weight-bold text-red">{{ 'overdue' | trans(transOptions) }}</span>
                        {% elseif report.dueDateDiffDays == 0 %}
                            <span class="govuk-body-s govuk-!-font-weight-bold">{{ 'dueToday' | trans }}</span>
                        {% elseif report.dueDateDiffDays <= 30 %}
                            <span class="govuk-body-s">{{ 'dueIn' | trans(transOptions) }}</span>
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if report.status.status == 'notStarted' %}
                        <span class="govuk-tag opg-tag--not-started">{{ 'notStarted' | trans({}, 'common') }}</span>
                    {% elseif report.status.status == 'notFinished' %}
                        <span class="govuk-tag opg-tag--notice">{{ 'notFinished' | trans({}, 'common') }}</span>
                    {% elseif report.status.status == 'readyToSubmit' %}
                        {% if report.unSubmitDate is not empty and report.submitted == false %}
                            <span class="govuk-tag opg-tag--warning">{{ 'changesNeeded' | trans({}, 'common') }}</span>
                        {% else  %}
                            <span class="govuk-tag opg-tag--success">{{ 'readyToSubmit' | trans({}, 'common') }}</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if reports |length == 0 %}
        <p class="govuk-body">{{ 'sorryNoResultsFor' | trans({}, 'common') }}</p>
        <hr>
    {% endif %}

    {% include '@App/Components/paginator.html.twig' with {
        currentOffset: filters.offset,
        recordsPerPage: filters.limit,
        totalRecords: counts[filters.status ?: 'total'],
        routeName: 'org_dashboard',
        routeParams: {
            'status': filters.status,
            'q': filters.q
        },
        messages: {
            singlePage: {
                singular: 'Showing 1 client',
                plural: 'Showing %count% clients'
            },
            multiPage: 'Showing %from% - %to% of %total% clients'
        }
    } %}

    <noscript>
        {{ hidden_ga_event('Javascript Disabled') }}
    </noscript>

{% endblock %}
