{% set translationDomain = "popup-timeout" %}
{% trans_default_domain translationDomain %}

<div id="timeoutPopup" class="opg-session-timeout" data-module="app-timeout-popup" data-session-expires="{{ session_expires_seconds|default(1500) }}" data-popup-expires="{{ session_popup_show_after|default(1200) }}" data-keep-alive="{{ path('session-keep-alive') }}">
	<div class="opg-session-timeout__dialog">
		<h1 class="govuk-heading-l">{{ 'component.title' | trans }}</h1>

		<p class="govuk-body">{{ 'component.firstLine' | trans({
        '%inactiveFor%': (session_popup_show_after / 60) | round(2, 'floor'),
        '%loggedOutIn%': ((session_expires_seconds - session_popup_show_after) / 60) | round(2, 'floor')
        }) }}</p>

		<p class="govuk-body">{{ 'component.secondLine' | trans }}</p>

		<form name="session-timeout-form" action="/logout">
			<button type="button" name="continue" class="govuk-button" data-js="ok-button" data-module="govuk-button">{{ 'ok' | trans({}, 'common' ) }}</button>
			<button type="submit" name="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">{{ 'signOut' | trans({}, 'common' ) }}</button>
		</form>
	</div>
</div>
