{% if (showEditLink is not defined) %}
{%     set showEditLink = true %}
{% endif %}

<div class="{% if hideComponent %}visuallyhidden{% endif %} account-header">

    <h2 class="account-name">{{ account.bank }}</h2>

    {% if not formEditShow and showEditLink == true %}
        <a href="{{ path('account', {'action': 'edit', 'reportId': report.id, 'accountId': account.id }) }}" class="behat-link-edit-account-details edit-account-details">
          {{ 'page.header.accountEditLink.label' |trans({}, transDomain)|raw }}
        </a>
    {% endif %}

    <div class="account-details">
        <dl class="account-detail account-number">
            <dt class="label">{{ 'page.header.accounNumber.label' |trans({}, transDomain)|raw }}</dt>
            <dd class="value">****{{ account.accountNumber }}</dd>
        </dl>
        <dl class="account-detail account-sort">
            <dt class="label">{{ 'page.header.sortCode.label' |trans({}, transDomain)|raw }}</dt>
            <dd class="value">{{ account.sortCode | split('', 2) | join('-') }}</dd>
        </dl>
    </div>

    <dl class="account-balance opening-balance">
        <dt class="label">{{ 'page.header.openingBalance.label' |trans({}, transDomain)|raw }}</dt>
        <dd class="date">{{ account.openingDate | date("d/m/Y") }}</td>
        <dd class="value">£{{ account.openingBalance | number_format(2, '.', ',') }}</td>
    </dl>

    {% if report.isDue() and account.closingBalance is not null %}
        <dl class="account-balance closing-balance">
            <dt class="label">{{ 'page.header.closingBalanceDate.label' |trans({}, transDomain)|raw }}</dt>
            <dd class="date  behat-region-account-closing-balance-date">{{ account.closingDate | date("d/m/Y") }}</td>
            <dd class="value behat-region-account-closing-balance">£{{ account.closingBalance | number_format(2, '.', ',') }}</td>
        </dl>
    {% endif %}
    
    {% if account.openingDateExplanation %}
        {% include 'AppBundle:Components/Page:_sub-section.html.twig' with {
            transDomain: transDomain,
            title: 'page.header.pleaseTellUsWhy.openingDatesMismatch',
            description: account.openingDateExplanation,
            wrapperClass: 'behat-region-opening-balance-explanation'
        } %}
    {% endif %}
    {% if account.closingDateExplanation %}
        {% include 'AppBundle:Components/Page:_sub-section.html.twig' with {
            transDomain: transDomain,
            title: 'page.header.pleaseTellUsWhy.closingDatesMismatch',
            description: account.closingDateExplanation,
            wrapperClass: 'behat-region-closing-date-explanation'
        } %}
    {% endif %}
    {% if account.closingBalanceExplanation %}
        {% include 'AppBundle:Components/Page:_sub-section.html.twig' with {
            transDomain: transDomain,
            title: 'page.header.pleaseTellUsWhy.closingBalancesMismatch',
            description: account.closingBalanceExplanation,
            wrapperClass: 'behat-region-closing-balance-explanation'
        } %}
    {% endif %}
    
</div>
