{% set reportBoldStartDateTransReplacements = { 
        '{{ reportStartDate }}': report.StartDate | date('m/d/Y'),
        '{{ boldStart }}': '<strong class="bold">',
        '{{ boldEnd }}': '</strong>'
}%}



{% include 'AppBundle:Components/Page:_sub-section-description.html.twig' with {
      transDomain: translationDomain,
      subSectionDescription: 'form.openingBalance.subSectionDescription',
      transOptions: reportBoldStartDateTransReplacements
    } %}

{# yes/no radio button asking if opening date is the same. Not used for non-JS version, so initially hidden #}
<div id="account_opening_date_same_wrapper">
  {# % include 'AppBundle:Components/Page:_sub-section-description.html.twig' with {
      transDomain: translationDomain,
      subSectionDescription: 'Is the start date of your reporting period and the opening balance date the same ?',
    } % #}

    {{ form_checkbox_group(form.openingDateSame, 'form.openingBalance.controls.openingDateSame', {
            'fieldSetClass' : 'horizontal',
            'legendClass' : 'form-label',
            'labelClass' : 'block-label-horizontal',
            'items': [
              {'labelClass': 'block-label', 'elementClass': '', 'description': "form.openingBalance.controls.openingDateSame.labelYes" | trans({}, translationDomain) },
              {'labelClass': 'block-label', 'elementClass': '', 'description': "form.openingBalance.controls.openingDateSame.labelNo" | trans({}, translationDomain) }
          ]
      }) }}
</div>

<div id="account_opening_date_not_same">

  {{ form_known_date(form.openingDate, 'form.openingBalance.controls.openingDate', {
        'legendParameters': reportBoldStartDateTransReplacements,
        'legendRaw': true
    }) }}

  {{ form_input(form.openingDateExplanation, 'form.openingBalance.controls.openingDateExplanation', { 
      'labelClass': 'required',
      'inputClass': 'expanding',
      'labelParameters': reportBoldStartDateTransReplacements,
      'labelRaw': true
    }) }}

</div>

{{ form_input(form.openingBalance, 'form.openingBalance.controls.openingBalance', {
    'inputPrefix' : 'form.openingBalance.controls.openingBalancePrefix.label',
    'inputClass' : 'form-control__number'
    } ) }}

<script type="text/javascript">

    $(document).ready(function () {
        new opg.RadioHide({
                radio:'#account_opening_date_same_wrapper input[type=radio]',
                content: '#account_opening_date_not_same',
                hideOnYes: true
            });
    })
</script>