{% set reportBoldStartDateTransReplacements = { 
        '{{ reportStartDate }}': report.StartDate | date('m/d/Y'),
        '{{ boldStart }}': '<strong class="bold">',
        '{{ boldEnd }}': '</strong>'
}%}

{% include 'AppBundle:Components/Page:_sub-section-description.html.twig' with {
      transDomain: translationDomain,
      subSectionDescription: 'form.openingBalance.subSectionDescription',
      transOptions: reportBoldStartDateTransReplacements
    } %}

{# yes/no radio button asking if opening date is the same. Not used for non-JS version, so initially hidden #}
<div id="account_opening_date_same_wrapper" class="visuallyhidden">
  {# % include 'AppBundle:Components/Page:_sub-section-description.html.twig' with {
      transDomain: translationDomain,
      subSectionDescription: 'Is the start date of your reporting period and the opening balance date the same ?',
    } % #}

    {{ form_checkbox_group(form.openingDateSame, 'form.openingBalance.controls.openingDateSame', {
            'fieldSetClass' : 'horizontal',
            'legendClass' : 'form-label',
            'labelClass' : 'block-label-horizontal',
            'items': [
              {'labelClass': 'block-label', 'elementClass': '', 'description': "form.openingBalance.controls.openingDateSame.labelYes" | trans({}, translationDomain) },
              {'labelClass': 'block-label', 'elementClass': '', 'description': "form.openingBalance.controls.openingDateSame.labelNo" | trans({}, translationDomain) }
          ]
      }) }}
</div>

<div id="account_opening_date_not_same">

  {{ form_known_date(form.openingDate, 'form.openingBalance.controls.openingDate', {
        'legendParameters': reportBoldStartDateTransReplacements,
        'legendRaw': true
    }) }}
    {# used to hold the text that will be replaced as a legend of the element above when JS is enabled #}
    <span id="openingDateLegendJs" class="visuallyhidden">{{ 'form.openingBalance.controls.openingDate.legendJs' | trans({}, translationDomain) }}</span>

  {{ form_input(form.openingDateExplanation, 'form.openingBalance.controls.openingDateExplanation', { 
      'labelClass': 'required',
      'inputClass': 'expanding',
      'labelParameters': reportBoldStartDateTransReplacements,
      'labelRaw': true
    }) }}

</div>

{{ form_input(form.openingBalance, 'form.openingBalance.controls.openingBalance', {
    'inputPrefix' : 'form.openingBalance.controls.openingBalancePrefix.label',
    'inputClass' : 'form-control__number'
    } ) }}

<script type="text/javascript">
  $().ready(function () {
    var openingDateNotSameBlock = $('#account_opening_date_not_same');

    // initiate JS version (hide opening date, hide explanation fields and replace legend for opening date)
    openingDateNotSameBlock.addClass('visuallyhidden');
    $('#account_openingDate_day').parents('fieldset').find('legend').html(
      $('#openingDateLegendJs').html()
    );
    
    // show the checkbox, run and attach "switch" logic
    $('#account_opening_date_same_wrapper')
        .removeClass('visuallyhidden')
        .change(function () {
          if ("yes" === $('input[name="account[openingDateSame]"]:checked').val()) {
            openingDateNotSameBlock.addClass('visuallyhidden');
          } else {
            openingDateNotSameBlock.removeClass('visuallyhidden');
          }
        })
        .trigger('change');

    {% if addMode %}
       $('#account_openingDateSame_0').trigger('click');
    {% endif %}
        
  });
</script>