{% set translationDomain = "report-accounts" %}
{% trans_default_domain translationDomain %}

{% if report.totalsOffset < 0 %}
    {% set moreless = "more" %}
{% else %}
    {% set moreless = "less" %}
{% endif %}

<h3 class="heading-medium-large">{{ 'balance.bad.pageSectionTitle' | trans }}</h3>
<p class="page-section-description">{{ 'balance.bad.pageSectionDescription' | trans({'%client%': client.firstname, '%more%': moreless, '%totalOffset%':  report.totalsOffset | abs | number_format(2, '.', ',') }) }}</p>

<div class="hero orange compact">
    <h2 class="heading">{{ 'balance.bad.accountsBalanced' | trans }}</h2>
    <div class="message">{{ 'balance.bad.accountsBalancedMessage' | trans }}</div>
</div>

<div class="hero split-three orange compact">
    <div class="hero-column">
        <div class="message">{{ 'balance.bad.totalAfterMoneyInOut' | trans }}:</div>
        <div class="total">
            {{ 'currencySymbol' |trans }}{{ report.calculatedBalance | number_format(2, '.', ',') }}
        </div>
    </div>
    <div class="hero-column">
        <div class="message">
            {{ 'balance.bad.totalFromAccounts' | trans }}:
        </div>
        <div class="total">
            {{ 'currencySymbol' | trans }}{{ report.accountsClosingBalanceTotal | number_format(2, '.', ',') }}
        </div>
    </div>
    <div class="hero-column">
        <div class="message">
            <b>{{ 'balance.bad.unaccounted' | trans }}:</b>
        </div>
        <div class="total">
            {{ 'currencySymbol' | trans }}{{ report.totalsOffset | abs | number_format(2, '.', ',') }}
        </div>
    </div>
</div>

<h3 class="heading-medium">{{ 'balance.bad.checkYourAccounts' | trans }}</h3>
<p class="page-section-description ">{{ 'balance.bad.goBack' | trans({'%client%': client.firstname, '%accountsLink%': path('accounts', {'reportId': report.id}), '%moneyInLink%': path('accounts_moneyin' , {'reportId': report.id}) , '%moneyOutLink%': path('accounts_moneyout' , {'reportId': report.id}) }) | raw }}</p>

<h3 class="heading-medium">{{ 'balance.bad.cantFind' | trans }}</h3>
{{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.balanceMismatchExplanation, 'balance.bad.formtitle', {
        'labelText': 'balance.bad.formtitle.label' | trans( {'%difference%': report.totalsOffset  | abs | number_format(2, '.', ',')}),
        'inputClass': 'expanding'
    }) }}
    
    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
    transDomain: translationDomain,
    section: 'accounts',
    showDelete: false,
    showCancel: false,
    nextSection: 'balance.nextSection'
    } %}

{{ form_end(form) }}

