{# form to edit closing balance only #}
{% set translationDomain = "report-account-balance" %}
{% trans_default_domain translationDomain %}


<div id="closing-balance" class="behat-region-account-closing-balance-form account-closing-balance-form {% if hideForm %}visuallyhidden{% endif %}">
    {{ form_start(closingBalanceForm, {attr: {novalidate: 'novalidate' }}) }}

    {% include 'AppBundle:Components/Page:_sub-section-title.html.twig' with {
    transDomain: translationDomain,
    subSectionTitle: 'form.closing.subSectionTitle',
    iconClass: 'icon icon__notification'
    } %}

    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
    transDomain: translationDomain,
    pageSectionDescription: 'form.closing.subSectionDescription'
    } %}

    {{ form_widget(closingBalanceForm.id) }}
    
    {# Closing date + explanation box #}
    {{ form_known_date(closingBalanceForm.closingDate, 'form.closing.controls.closingDate') }}
    {# account.closingBalance is null or account.isClosingBalanceMatchingTransactionSum #}
    {% if closingBalanceFormDateExplanationShow %}
       {{ form_input(closingBalanceForm.closingDateExplanation, 'form.closing.controls.closingDateExplanation', { 'labelClass': 'required' }) }}
    {% else %}
      {% do closingBalanceForm.closingDateExplanation.setRendered() %}
    {% endif %}
   
    {# Closing balance + explanation box #}
    {{ form_input(closingBalanceForm.closingBalance, 'form.closing.controls.closingBalance', {
      'inputPrefix' : 'form.closing.currencySymbol',
      'inputClass' : 'form-control__number'
    } ) }}
    {#  account.closingBalance is null or account.isClosingBalanceMatchingTransactionSum #}
    {% if closingBalanceFormBalanceExplanationShow %}
      {{ form_input(closingBalanceForm.closingBalanceExplanation, 'form.closing.controls.closingBalanceExplanation', { 'labelClass': 'required' }) }}
    {% else %}
      {% do closingBalanceForm.closingBalanceExplanation.setRendered() %}
    {% endif %}

    
    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(closingBalanceForm.save, 'save', {
    'labelText': ( 'form.closing.controls.save.label') | trans,
    'buttonClass': 'behat-link-save'
    }) }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(closingBalanceForm) }}
</div>
