{% set translationDomain = "report-account-balance" %}
{% trans_default_domain translationDomain %}


<div id="closing-balance" class="behat-region-account-closing-balance-form account-closing-balance-form">

    {% include 'AppBundle:Components/Page:_sub-section-title.html.twig' with {
    transDomain: translationDomain,
    subSectionTitle: 'form.closing.subSectionTitle',
    iconClass: 'icon icon__notification'
    } %}

    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
    transDomain: translationDomain,
    pageSectionDescription: 'form.closing.subSectionDescription'
    } %}

    {{ form_start(formBalance, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_known_date(formBalance.closingDate, 'form.closing.controls.closingDate') }}

    {{ form_widget(formBalance.id) }}

    {{ form_input(formBalance.closingBalance, 'form.closing.controls.closingBalance', {
    'inputPrefix' : 'form.closing.currencySymbol',
    'inputClass' : 'form-control__number'
    } ) }}


    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(formBalance.save, 'save', {
    'labelText': ( 'form.closing.controls.save.label') | trans,
    'buttonClass': 'behat-link-save'
    }) }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(formBalance) }}

</div>
