{% set translationDomain = "report-account-balance" %}
{% trans_default_domain translationDomain %}

<div id="closing-balance" class="behat-region-account-closing-balance-form">
  
  {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
    transDomain: translationDomain,
    pageSectionTitle: 'header'
  } %}
  
  {{ form_start(formBalance, {attr: {novalidate: 'novalidate' }}) }}
  
    {{ form_known_date(formBalance.closingDate, 'closingDate') }}
    
    {{ form_widget(formBalance.id) }}

    {{ form_input(formBalance.closingBalance, 'closingBalance', {
        'inputPrefix' : '£',
        'inputClass' : 'form-control__number'
    } ) }}

    
    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(formBalance.save, 'save', {
              'labelText': ( 'save.label') | trans,
              'buttonClass': 'behat-link-save'
              }) }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}
</div>