{% trans_default_domain "report-account" %}

<div style="background-color: lightgrey; margin: 20px">
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <h1 class="form-title heading-medium-large">
        {{ legend }}
    </h1>
    {% for t in elements %}
      {{ form_input(t.amount,'firstname', { 
        'labelText': ('form.moneyIn.elements.' ~ t.id.vars.value ~ '.label') | trans
      }) }}
    {% endfor %}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
      {{ form_submit(form.save,'submit', {'buttonClass': 'behat-link-save'}) }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}

</div>