{% set translationDomain = "report-account" %}
{% trans_default_domain translationDomain %}


{% extends 'AppBundle:Components/Page:page-report.html.twig' %}

{% block pageTitle %}{{ 'page.htmlTitle' | trans({'%accountName%': account.bank}) }} {% endblock %}
{% block contentClass %}{{ parent() }} js-report-accounts-input{% endblock %}
{% block title %}{{ 'page.htmlTitle' | trans }}{% endblock %}

{% block pageNavigation %}
    {% include 'AppBundle:Components/Navigation:_report-nav.html.twig' with { 'report': report, tab: 'tab-accounts'} %}
{% endblock %}

{% block pageBody %}
    
    <div style="background-color: #C9D0D0; margin: 20px">
        {{ account.bank  }}<br/>
        Opening balance {{ account.openingDate | date }} £{{ account.openingBalance }}<br/>
        Account no. ****{{ account.accountNumber }}<br/>
        Sort code {{ account.sortCode }}<br/>
    </div>
    
    
    <div style="border-left: grey 3px solid; margin: 20px">
        {{ 'page.description' | trans }}
    </div>
   
    {% block validationSummary %}
        {{ form_errors_list(form) }}
    {% endblock %}
    
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}
    
      {{ form_row(form.id) }}

      {% include 'AppBundle:Account:_accountTransaction.html.twig' with {
          legend: 'moneyIn.legend' | trans,
          elements: form.moneyIn,
          keySection: 'moneyIn'
      }  %}
      

      {% include 'AppBundle:Account:_accountTransaction.html.twig' with {
          legend: 'moneyOut.legend' | trans,
          elements: form.moneyOut,
          keySection: 'moneyOut'
      }  %}

      {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
        {{ form_submit(form.save, 'save', {'buttonClass': 'behat-link-save'}) }}
      {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}
    
    {{ form_end(form) }}
    
{% endblock %}
