{% embed 'AppBundle:Components/Page:page-report.html.twig' with {
activeTab: "tab-accounts"
} %}
    {% set translationDomain = "report-account" %}
    {% trans_default_domain translationDomain %}

    {% set accordionLinks = accordionLinks({
    clickedPanel: actionParam,
    bothOpenHref: "money-both",
    allClosedHref: "list",
    firstPanelHref: "money-in",
    secondPanelHref: "money-out",
    onlyOneATime: true
    }) %}

    {% set breadCrumb = [
    {
    'label': 'Accounts' | trans,
    'href': path('accounts', {reportId: report.id}),
    },
    {
    'label': account.bank
    }
    ] %}

    {% set tabClasses = [] %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans({'%accountName%': account.bank}) }} {% endblock %}
    {% block contentClass %}{{ parent() }} report-money-input js-report-money-input{% endblock %}

    {% block pageBody %}

        {% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
        breadCrumb: breadCrumb
        } %}

        {% include 'AppBundle:Account:_account-header.html.twig' with {
        transDomain: translationDomain,
        hideComponent: (showEditForm)
        } %}

        {% block validationSummary %}
            {{ form_errors_list(form) }}
            {{ form_errors_list(formBalance) }}
            {{ form_errors_list(formEdit) }}
        {% endblock %}

        {% if report.isDue and account.closingBalance is null %}
            {% include 'AppBundle:Account:_closing_balance_form.html.twig' with {
            formBalance: formBalance,
            hideForm: (showEditForm)
            } %}
        {% endif %}

        {% include 'AppBundle:Account:_account_form_edit.html.twig' with {
        form: formEdit,
        formClass: 'report-form',
        hideForm: (not showEditForm)
        } %}

        {% include 'AppBundle:Components/Page:_page-section-warning.html.twig' with {
        transDomain: translationDomain,
        pageSectionWarning: 'page.pageSectionWarning'
        } %}


        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {{ form_row(form.id) }}

        <div class="account-transactions account-transactions__header">
            <dl class="account-transactions__total-balance">
                <dt class="account-transactions__total-balance-label">{{ 'page.totalBalance' | trans }}</dt>
                <dd class="account-transactions__total-balance-total">
                    {{ 'page.currencySymbol' | trans }}{{ account.moneyTotal | number_format(2, '.', ',') }}</dd>
            </dl>
        </div>

        <div class="account-transactions account-transactions__accordion">

            {% include 'AppBundle:Account:_accountTransaction.html.twig' with {
            legend: 'moneyIn.legend' | trans,
            openPanel: accordionLinks.first.open or not form.moneyIn.vars.valid,
            href: 'moneyIn',
            link: path('account', {action: accordionLinks.first.href, reportId: report.id, accountId: account.id}),
            elements: form.moneyIn,
            section: 'moneyIn',
            transactionTotal: account.moneyInTotal,
            submitButton: form.saveMoneyIn
            } %}


            {% include 'AppBundle:Account:_accountTransaction.html.twig' with {
            openPanel: accordionLinks.second.open or not form.moneyOut.vars.valid,
            href: 'moneyOut',
            link: path('account', {action: accordionLinks.second.href, reportId: report.id, accountId: account.id}),
            elements: form.moneyOut,
            section: 'moneyOut',
            transactionTotal: account.moneyOutTotal,
            submitButton: form.saveMoneyOut
            } %}

        </div>

        <div class="account-transactions account-transactions__footer">
            <ul class="account-transactions__total-balance">
                <li class="account-transactions__total-balance-label">{{ 'page.totalBalance' | trans }}</li>
                <li class="account-transactions__total-balance-total behat-region-money-totals">
                    {{ 'page.currencySymbol' | trans }}{{ account.moneyTotal | number_format(2, '.', ',') }}</li>
            </ul>
        </div>

        {{ form_end(form) }}

    {% endblock %}

{% endembed %}
