{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
        transDomain: translationDomain,
        pageSectionTitle: 'balance.pageSectionTitle'
        } %}

        {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
        transDomain: translationDomain,
        pageSectionDescription: 'balance.pageSectionDescription'
        } %}

        <div class="hero">
            <h2 class="heading">{{ 'balance.accountsBalanced' | trans }}</h2>
            <div class="message">{{ 'balance.accountsBalancedMessage' | trans }}</div>
        </div>

        <div class="hero-split">
            <div class="hero-column">
                <div class="message">
                    {{ 'balance.balanceAfterReported' | trans }}:
                </div>
                <div class="total">
                    {{ 'currencySymbol' |trans }}
                    {{ report.calculatedBalance | number_format(2, '.', ',') }}
                </div>
            </div>
            <div class="hero-column">
                <div class="message">
                    {{ 'balance.actualBalance' | trans }}:
                </div>
                <div class="total">
                    {{ 'currencySymbol' | trans }}
                    {{ report.accountsClosingBalanceTotal | number_format(2, '.', ',') }}
                </div>
            </div>
        </div>

        <table class="money-table">
            <tr class="solid-row">
                <td class="title">{{ 'balance.totalBankStart' | trans }}:</td>
                <td class="value">{{ 'currencySymbol' | trans }}
                    {{ report.accountsOpeningBalanceTotal | number_format(2, '.', ',') }}</td>
            </tr>
            <tr class="solid-row">
                <td class="title">{{ 'balance.totalInDuringPeriod' | trans }}:</td>
                <td class="value">+{{ 'currencySymbol' | trans }}
                    {{ report.moneyInTotal  | number_format(2, '.', ',') }}</td>
            </tr>
            <tr class="split-row">
                <td class="title right">{{ 'balance.totalFromAllIn' | trans }}:</td>
                <td class="value">{{ 'currencySymbol' | trans }}
                    {{ (report.accountsOpeningBalanceTotal + report.moneyInTotal)  | number_format(2, '.', ',') }}
                </td>
            </tr>

            <tr class="spacer"><td colspan="2"></td></tr>

            <tr class="solid-row">
                <td class="title">{{ 'balance.totalOutInPeriod' | trans }}:</td>
                <td class="value">-{{ 'currencySymbol' | trans }} £{{ report.moneyOutTotal  | number_format(2, '.', ',') }}</td>
            </tr>

            <tr class="spacer borderless"><td colspan="2"></td></tr>
            <tr class="spacer borderless"><td colspan="2"></td></tr>

            <tr class="split-row highlighted-row">
                <td class="title">{{ 'balance.finalBalance' | trans }}:</td>
                <td class="value">{{ 'currencySymbol' | trans }}
                    {{ report.calculatedBalance | number_format(2, '.', ',') }}</td>
            </tr>

        </table>

    {% endblock %}

{% endembed %}
