{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}: {{ 'nav.bankAccounts' | trans({}, "report-accounts") }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        <h3 class="heading-medium-large">{{ 'banks.pageSectionTitle' | trans({'%client%': report.client.firstname}, translationDomain) }}</h3>
        <p class="page-section-description">
          {{ 'banks.pageSectionDescription' | trans({
            '%client%': report.client.firstname,
            '%moneyInLink%': path('accounts_moneyin' , {'reportId': report.id}) ,
            '%moneyOutLink%': path('accounts_moneyout' , {'reportId': report.id}),
            '%balanceLink%': path('accounts_balance' , {'reportId': report.id}),
          }, translationDomain) | raw }}</p>

        <section class="help-item">
          <h3 class="summary heading-medium">{{ 'banks.before' | trans }}</h3>
          <p class="content page-section-description">{{ 'banks.beforeDescription' | trans }}</p>
        </section>

        {% embed 'AppBundle:Components/Listing:_card_list.html.twig' %}
            {% block list %}

                {% if report.accounts is not empty %}
                    {% for account in report.accounts %}
                        {% include 'AppBundle:Account:bank-list-item.html.twig' with {
                            account: account,
                            report: report
                        }%}
                    {% endfor %}
                {% else %}
                    <div>
                        <span class="icon icon__notification_yellow_small"></span>
                        <span class="page-section-description left-margin">
                            {{ 'banks.accountMissingWarning' | trans({}, translationDomain)}}
                        </span>
                    </div>
                {% endif %}
                <li class="card-item">
                    <a href="{{ path('add_edit_account' , {'reportId': report.id}) }}" class="card add" id="add-account">Add account</a>
                    <div class="meta-data"></div>
                </li>
            {% endblock %}

        {% endembed %}

        {% if report.accounts is not empty %}

            <dl class="labelvalue right-inline transaction big-value">
                <dt class="label">{{ 'banks.totalBalance' | trans }}:</dt>

                {% if report.accountsClosingBalanceTotal == null %}
                    <dd class="value unknown">
                         {{ 'banks.balanceUnknown' | trans({}, translationDomain) }}
                    </dd>
                {% else %}
                   <dd class="value">
                     £
                     {{ report.accountsClosingBalanceTotal | money_format }}
                   </dd>
                {% endif %}

                </dd>
            </dl>

            {% if report.accountsClosingBalanceTotal == null %}
             <dl>
                <div class="balance-warning page-section-warning">
                    <span class="icon icon__notification_yellow_small"></span>
                    <span class="page-section-description left-margin big">{{ 'banks.balanceMissingWarningBottom' | trans({
                        '%date%': report.endDate | date("j M Y"),
                        '%client%': report.client.firstname
                    }, translationDomain) }}</span>
                </div>
             </dl>
            {% endif %}

          {% endif %}


          <script type="text/javascript">
              $(document).ready(function() {
                  $('.help-item').each(function(index,item) {
                      opg.accordian({
                          target:item,
                          open: false
                      });
                  });
              });
          </script>


    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("safeguarding" , {'reportId': report.id }),
        'previousLabel': 'Visits and care',
        'nextLink': path("transfers" , {'reportId': report.id }),
        'nextLabel': 'Money transfers'
        } %}
    {% endblock %}


{% endembed %}
