{% set translationDomain = "report-accounts" %}
{% trans_default_domain translationDomain %}

{% embed "AppBundle:Components/Listing:_card_item.html.twig" %}
    {% block card %}
        <div class="account card-title">
              {{ account.bank }}  {{ account.accountTypeText }}
        </div>
        <dl class="labelvalue">
            <dt class="label">{{ 'banks.accountNumber' | trans({}, translationDomain) }}:</dt>
            <dd class="value">****{{ account.accountNumber }}</dd>
           {% if account.requiresBankNameAndSortCode %}
                <dt class="label">{{ 'banks.sortCode' | trans({}, translationDomain) }}:</dt>
                <dd class="value">{{ account.sortCode }}</dd>
            {% endif %}
        </dl>
    {% endblock %}
    {% block meta %}
        <dl class="labelvalue">
            <dt class="label">{{ 'banks.balanceOn' | trans({}, translationDomain) }} {{ report.startDate | date("j M Y") }}:</dt>
            <dd class="value">£{{ account.openingBalance == null ? '—,-' : (account.openingBalance | money_format) }}
            </dd>
            <dt class="label">{{ 'banks.balanceOn' | trans({}, translationDomain) }} {{ report.endDate | date("j M Y") }}:</dt>
            {% if account.closingBalance == null %}
              <dd class="value unknown">
                  {{ 'banks.balanceUnknown' | trans({}, translationDomain) }}
              </dd>
            {% else %}
              <dd class="value">
                £{{ account.closingBalance | money_format }}
              </dd>
            {% endif %}
            
        </dl>
        <a class="edit-link behat-link-account-{{ account.accountNumber }}" href="{{ path('edit_account' , {'reportId': report.id, 'id': account.id}) }}">Edit this account</a>
        
        {% if account.closingBalance == null %}
        <div class="warning">
            <span class="icon icon__notification_yellow_small"></span>
            <p>{{ 'banks.balanceMissingWarning' | trans({
                '%date%': report.endDate | date("j M Y")
            }, translationDomain)}}</p>
        </div>
        {% endif %}
       
    {% endblock %}
{% endembed %}
