<nav id="account-sub-nav">
    <a href="{{ path('accounts' , {'reportId': report.id}) }}" {% if subsection == 'banks' %}class="active"{% endif %}>{{ 'nav.bankAccounts' | trans({}, "report-accounts") }}</a>
    <a href="{{ path('accounts_moneyin' , {'reportId': report.id}) }}" {% if subsection == 'moneyin' %}class="active"{% endif %}>{{ 'nav.moneyIn' | trans({}, "report-accounts") }}</a>
    <a href="{{ path('accounts_moneyout' , {'reportId': report.id}) }}" {% if subsection == 'moneyout' %}class="active"{% endif %}>{{ 'nav.moneyOut' | trans({}, "report-accounts") }}</a>
    <a href="{{ path('accounts_balance' , {'reportId': report.id}) }}" {% if subsection == 'balance' %}class="active"{% endif %}>{{ 'nav.balanceAccounts' | trans({}, "report-accounts") }}</a>
</nav>
