{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}
{% from 'AppBundle:Macros:macros.html.twig' import details %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="assetsAndDebts">{{ (page ~ '.heading.assetsAndDebts') | trans }}</h3>

{{ checklist_radios(form.assetsDeclaredAndManaged) }}

{% set contents %}
    {% include 'AppBundle:Report/Asset:_list.html.twig' with {
        hideEditLink: true
    } %}
{% endset %}

{{ details({
    summaryText: (page ~ '.revealTitle.assetsSummary') | trans,
    text: contents,
}) }}

{{ checklist_radios(form.debtsManaged) }}

{% set contents %}
    {% include 'AppBundle:Report/Debt:_answers.html.twig' with {
        hideEditLink: true
    } %}
{% endset %}

{{ details({
    summaryText: (page ~ '.revealTitle.debtsSummary') | trans,
    text: contents,
}) }}
