{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="assetsAndDebts">{{ (page ~ '.heading.assetsAndDebts') | trans }}</h3>

<div class="form-section push--bottom">
    <div class="form-group-outer">
        {{ checklist_radios(form.assetsDeclaredAndManaged) }}
    </div>

    <details class="push--bottom">
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.assetsSummary') | trans }}</span>
        </summary>
        <div class="opg-indented-block">
            <div>
                {# Questions and answers table #}
                {% include 'AppBundle:Report/Asset:_list.html.twig' with {
                    hideEditLink: true
                } %}
            </div>
        </div>
    </details>
</div>

<div class="form-section">
    <div class="form-group-outer border-top soft--top">
        {{ checklist_radios(form.debtsManaged) }}
    </div>

    <details class="push--bottom">
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.debtsSummary') | trans }}</span>
        </summary>
        <div class="opg-indented-block">
            <div>
                {# Questions and answers table #}
                {% include 'AppBundle:Report/Debt:_answers.html.twig' with {
                    hideEditLink: true
                } %}
            </div>
        </div>
    </details>
</div>
