{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}

{% set page = 'checklistPage' %}

<p class="govuk-body-s behat-region-last-saved-by">
    {{ 'lastSaved' | trans({}, 'common') }}:
    {{ (checklist.lastModifiedOn) ? (checklist.lastModifiedOn | date("j F Y H:i")) : 'Not saved yet' }}
    <br>
    {% if (checklist.lastModifiedBy is defined) and (checklist.lastModifiedBy is not empty) %}
        {{ checklist.lastModifiedBy.fullName}}, {{ checklist.lastModifiedBy.roleFullName }}
    {% endif %}
</p>

{% if checklist.submittedOn %}
    <p class="govuk-body-s behat-region-last-submitted-by">
        {{ 'lastSubmitted' | trans({}, 'common') }}:
        {{ checklist.submittedOn | date("j F Y H:i") }}
        <br>
        {{ checklist.submittedBy.fullName}}, {{ checklist.submittedBy.roleFullName }}
    </p>
{% endif %}

<div class="opg-related-items">
    <span class="govuk-caption-m">{{ (page ~ '.jumpTo') | trans }}:</span>
    <h3 class="govuk-heading-s">{{ (page ~ '.heading.lodging.title') | trans }}</h3>
    <ul class="govuk-list">
        <li><a href="#deputyAndClientInfo" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.info') | trans }}</a></li>
        <li><a href="#decisionsMade" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.decisions') | trans }}</a></li>
        <li><a href="#peopleConsulted" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.contacts') | trans }}</a></li>
        <li><a href="#visitsAndCare" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.visitsAndCare') | trans }}</a></li>
        {% if form.satisfiedWithHealthAndLifestyle is defined %}
            <li><a href="#lifestyle" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.healthAndLifestyle') | trans }}</a></li>
        {% endif %}
        {% if form.assetsDeclaredAndManaged is defined %}
            <li><a href="#assetsAndDebts" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.assetsAndDebts') | trans }}</a></li>
        {% endif %}
        {% if form.openClosingBalancesMatch is defined %}
            <li><a href="#moneyInOut" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.money') | trans }}</a></li>
        {% endif %}
        {% if form.satisfiedWithPaExpenses is defined %}
            <li><a href="#paFeesExpenses" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.paFeeExpenses') | trans }}</a></li>
        {% endif %}
        {% if form.bondAdequate is defined %}
            <li><a href="#bonds" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.bonds') | trans }}</a></li>
        {% endif %}
        {% if form.paymentsMatchCostCertificate is defined %}
            <li><a href="#profDeputyCosts" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.profDeputyCosts') | trans }}</a></li>
        {% endif %}
        {% if form.nextBillingEstimatesSatisfactory is defined %}
            <li><a href="#profDeputyCostsEstimate" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.profDeputyCostsEstimate') | trans }}</a></li>
        {% endif %}
        <li><a href="#nextReportingPeriod" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.nextPeriod') | trans }}</a></li>
        <li><a href="#declaration" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.declaration') | trans }}</a></li>
        <li><a href="#anchor-lodging-summary" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.summary') | trans }}</a></li>
        <li><a href="#anchor-further-information" class="govuk-link govuk-!-font-size-16">{{ (page ~ '.heading.lodging.furtherInfo') | trans }}</a></li>
    </ul>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<ul class="govuk-list">
    <li>
        <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="#anchor-lodging-checklist">
            {{- macros.icon('arrow-up', 'govuk-!-margin-right-2') | spaceless -}}
            {{ (page ~ '.backToTop') | trans }}: {{ (page ~ '.heading.lodging.title') | trans }}
        </a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="#">
            {{- macros.icon('arrow-up', 'govuk-!-margin-right-2') | spaceless -}}
            {{ (page ~ '.backToTop') | trans }}
        </a>
    </li>
</ul>
