{% import 'AppBundle:Macros:macros.html.twig' as macros %}
{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="moneyInOut">{{ (page ~ '.heading.money') | trans }}</h3>

{{ checklist_radios(form.openClosingBalancesMatch) }}

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.accountsBalances') | trans }}</span>
    </summary>

    <div class="govuk-details__text">
        <div class="grid-row">
            <div class="column-one-half">

                {% if report.previousReportData['financial-summary']['accounts'] is defined %}

                    <h3 class="heading-medium">
                        {{ (page ~ '.closingBalancesPrevReport') | trans }}
                        {% if report.previousReportData['report-summary']['type'] == 'ndr' %}
                            ({{ report.previousReportData['report-summary']['type'] | upper }})
                        {% endif %}
                    </h3>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'bankAccount' | trans({}, 'common') }}</th>
                                <th class="numeric">{{ 'amount' | trans({}, 'common') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for previousAccount in report.previousReportData['financial-summary']['accounts'] %}
                                <tr>
                                    <td>{{ previousAccount.nameOneLine }}</td>
                                    <td class="numeric-small">£{{ previousAccount.closingBalance | money_format }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="no-border">
                                <td class="bold">{{ 'totalAmount' | trans({}, 'common') }}</td>
                                <td class="numeric-small">
                                    <span class="bold behat-region-checklist-closing-balance-previous-report">£{{ report.previousReportData['financial-summary']['closing-balance-total'] | money_format }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                {% else %}

                    <h3 class="heading-medium behat-region-checklist-no-previous-reports">{{ (page ~ '.closingBalancesPrevReportMissing') | trans }}</h3>

                {% endif %}
            </div>

            <div class="column-one-half">

                <h3 class="heading-medium">{{ (page ~ '.openingBalances') | trans }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>{{ 'bankAccount' | trans({}, 'common') }}</th>
                            <th class="numeric">{{ 'amount' | trans({}, 'common') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in report.bankAccounts %}
                            <tr>
                                <td>{{ account.getNameOneLine() }}</td>
                                <td class="numeric-small">£{{ account.openingBalance | money_format }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="no-border">
                            <td class="bold">{{ 'totalAmount' | trans({}, 'common') }}</td>
                            <td class="numeric-small">
                                <span class="bold behat-region-checklist-accounts-opening-total">£{{ report.accountsOpeningBalanceTotal | money_format }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if report.previousReportData['financial-summary']['accounts'] is defined %}

            <h3 class="heading-medium">
                {{ (page ~ '.balanceDifference') | trans }}: £{{ (report.accountsOpeningBalanceTotal - report.previousReportData['financial-summary']['closing-balance-total']) | money_format }}
            </h3>

        {% endif %}


        <div class="grid-row">
            <div class="column-one-half">
                <p class="text-white">Ignore this content. Only here to affect layout.</p>
            </div>

            <div class="column-one-half">

                <h3 class="heading-medium">{{ (page ~ '.closingBalances') | trans }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>{{ 'bankAccount' | trans({}, 'common') }}</th>
                            <th class="numeric">{{ 'amount' | trans({}, 'common') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in report.bankAccounts %}
                            <tr>
                                <td>{{ account.getNameOneLine() }}</td>
                                <td class="numeric-small">£{{ account.closingBalance | money_format }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="no-border">
                            <td class="bold">{{ 'totalAmount' | trans({}, 'common') }}</td>
                            <td class="numeric-small">
                                <span class="bold behat-region-checklist-accounts-closing-total">£{{ report.accountsClosingBalanceTotal | money_format }}</span>
                            </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</details>

{% if report.hasSection('paDeputyExpenses') or report.hasSection('profDeputyCosts')%}
    {% set nonLayAppend = 'NonLay' %}
{% else %}
    {% set nonLayAppend = '' %}
{% endif %}

<hr />

{# Don't show question for professional reports with short money sections #}
{% if report.type not in ['103-5', '103-4-5'] %}
    {{ checklist_radios(form.accountsBalance) }}

    {# Don't show Account Balance Summary for 103 #}
    {% if report.type not in ['103', '103-4', '103-6', '103-4-6'] %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.accountsBalanceSummary') | trans }}</span>
            </summary>
            <div class="govuk-details__text">
                {# Balance table #}
                {% include 'AppBundle:Report/Balance:_balance_table.html.twig' with {
                    hideEditLink: true
                } %}

                {# Difference table #}
                {% include 'AppBundle:Report/Balance:_difference_table.html.twig' with {
                    hideEditLink: true
                } %}

                {% if not report.totalsMatch %}
                    <h3 class="heading-medium">{{ 'form.explanation.label' | trans({}, 'report-balance') }}</h3>
                    <dl class="govuk-summary-list columns-2 push--bottom">
                        {{ macros.summaryListHeaderQA(true) }}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {{ 'cantFind.reasonNotBalancing' | trans({}, 'report-balance') }}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ report.balanceMismatchExplanation | nl2br }}
                            </dd>
                        </div>
                    </dl>
                {% endif %}
            </div>
        </details>
    {% endif %}

    <hr />
{% endif %}

{{ checklist_radios(form.moneyMovementsAcceptable) }}

{# Don't show money transfers for 103 #}
{% if report.type not in ['103', '103-4', '103-6', '103-4-6'] %}
    {% if report.enoughBankAccountForTransfers %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.moneyTransfersSummary') | trans }}</span>
            </summary>
            <div class="opg-indented-block">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/MoneyTransfer:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>
    {% else %}
        <p class="text">
            {{ (page ~ '.noTransferToShow') | trans }}
        </p>
    {% endif %}
{% endif %}

<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.moneyInSummary') | trans }}</span>
    </summary>
    <div class="govuk-details__text">
        {# Questions and answers table #}
        {% if report.hasSection('moneyIn') %}
            {% include 'AppBundle:Report/MoneyIn:_list.html.twig' with {
                hideEditLink: true
            } %}
        {% elseif report.hasSection('moneyInShort') %}
            {% include 'AppBundle:Report/MoneyInShort:_answers.html.twig' with {
                hideEditLink: true
            } %}
        {% endif %}
    </div>
</details>

<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.moneyOutSummary') | trans }}</span>
    </summary>
    <div class="govuk-details__text">
        {# Questions and answers table #}
        {% if report.hasSection('moneyOut') %}
            {% include 'AppBundle:Report/MoneyOut:_list.html.twig' with {
                hideEditLink: true
            } %}
        {% elseif report.hasSection('moneyOutShort') %}
            {% include 'AppBundle:Report/MoneyOutShort:_answers.html.twig' with {
                hideEditLink: true
            } %}
        {% endif %}
    </div>
</details>

{% if report.hasSection('gifts') %}
    <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.giftsSummary') | trans }}</span>
        </summary>
        <div class="govuk-details__text">
            {# Questions and answers table #}
            {% include 'AppBundle:Report/Gift:_list.html.twig' with {
                hideEditLink: true
            } %}
        </div>
    </details>
{% endif %}

{% if report.hasSection('deputyExpenses') %}
    <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.deputyExpensesSummary') | trans }}</span>
        </summary>
        <div class="govuk-details__text">
            {# Questions and answers table #}
            {% include 'AppBundle:Report/DeputyExpense:_list.html.twig' with {
                hideEditLink: true
            } %}
        </div>
    </details>
{% endif %}

<a href="#moneyInOut" class="behat-link-back-to-money-in-out">{{ (page ~ '.backToQuestion') | trans }}</a>


