{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="nextReportingPeriod">{{ (page ~ '.heading.nextPeriod') | trans }}</h3>

{{ form_checkbox_group(form.futureSignificantDecisions, (
    report.hasSection('lifestyle') ? page ~ '.form.futureSignificantChanges':
        page ~ '.form.futureSignificantDecisions'
    ), {
    'fieldSetClass' : 'inline',
    'formGroupClass': 'push-half--bottom'
}) }}

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.deputysResponses') | trans }}</span>
    </summary>
    <div class="govuk-details__text">
        <div>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ ('form.doYouExpectFinancialDecisions.label' ~ append104) | trans(transOptions, 'report-actions') }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ report.action.doYouExpectFinancialDecisions | capitalize }}
                    </dd>
                </div>
                {% if report.action.doYouExpectFinancialDecisions == 'yes' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ ('form.doYouExpectFinancialDecisionsDetails.label' ~ append104) | trans(transOptions, 'report-actions') }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ report.action.doYouExpectFinancialDecisionsDetails | nl2br }}
                        </dd>
                    </div>
                {% endif %}
            </dl>
        </div>
    </div>
</details>

<hr />

{{ form_checkbox_group(form.hasDeputyRaisedConcerns, (page ~ '.form.hasDeputyRaisedConcerns'), {
    'fieldSetClass' : 'inline',
    'formGroupClass': 'push-half--bottom'
}) }}

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.deputysResponses') | trans }}</span>
    </summary>
    <div class="govuk-details__text">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ 'form.doYouHaveConcerns.label' | trans(transOptions, 'report-actions') }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.action.doYouHaveConcerns | capitalize }}
                </dd>
            </div>
            {% if report.action.doYouHaveConcerns == 'yes' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ 'form.doYouHaveConcernsDetails.label' | trans(transOptions, 'report-actions') }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ report.action.doYouHaveConcernsDetails | nl2br }}
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ 'form.actionMoreInfo.label' | trans(transOptions, 'report-more-info') }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.actionMoreInfo | capitalize }}
                </dd>
            </div>
            {% if report.actionMoreInfo == 'yes' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ 'form.actionMoreInfoDetails.label' | trans(transOptions, 'report-more-info') }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ report.actionMoreInfoDetails | nl2br }}
                    </dd>
                </div>
            {% endif %}
        </dl>
    </div>
</details>
