{% import 'AppBundle:Macros:macros.html.twig' as macros %}
{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="nextReportingPeriod">{{ (page ~ '.heading.nextPeriod') | trans }}</h3>

{% set name = report.hasSection('lifestyle') ? 'futureSignificantChanges' : 'futureSignificantDecisions' %}
{{ checklist_radios(form.futureSignificantDecisions, { name: name }) }}

{% set contents %}
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ ('form.doYouExpectFinancialDecisions.label' ~ append104) | trans(transOptions, 'report-actions') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.action.doYouExpectFinancialDecisions | capitalize }}
            </dd>
        </div>
        {% if report.action.doYouExpectFinancialDecisions == 'yes' %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ ('form.doYouExpectFinancialDecisionsDetails.label' ~ append104) | trans(transOptions, 'report-actions') }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.action.doYouExpectFinancialDecisionsDetails | nl2br }}
                </dd>
            </div>
        {% endif %}
    </dl>
{% endset %}

{{ macros.details({
    summaryText: (page ~ '.revealTitle.deputysResponses') | trans,
    text: contents,
}) }}


{{ checklist_radios(form.hasDeputyRaisedConcerns) }}

{% set contents %}
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ 'form.doYouHaveConcerns.label' | trans(transOptions, 'report-actions') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.action.doYouHaveConcerns | capitalize }}
            </dd>
        </div>
        {% if report.action.doYouHaveConcerns == 'yes' %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ 'form.doYouHaveConcernsDetails.label' | trans(transOptions, 'report-actions') }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.action.doYouHaveConcernsDetails | nl2br }}
                </dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ 'form.actionMoreInfo.label' | trans(transOptions, 'report-more-info') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.actionMoreInfo | capitalize }}
            </dd>
        </div>
        {% if report.actionMoreInfo == 'yes' %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ 'form.actionMoreInfoDetails.label' | trans(transOptions, 'report-more-info') }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.actionMoreInfoDetails | nl2br }}
                </dd>
            </div>
        {% endif %}
    </dl>
{% endset %}

{{ macros.details({
    summaryText: (page ~ '.revealTitle.deputysResponses') | trans,
    text: contents,
}) }}
