{% import 'AppBundle:Macros:macros.html.twig' as macros %}
{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}
{% set hideEditLink = true %}
{% set actualOtherCosts = report.generateActualSubmittedOtherCosts %}

<h3 class="govuk-heading-m" id="profDeputyCosts">{{ (page ~ '.heading.profDeputyCosts') | trans }}</h3>

<div class="form-section push--bottom">
    <div class="form-group-outer">
        {{ checklist_radios(form.paymentsMatchCostCertificate) }}
    </div>

    <details>
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.profDeputyCosts') | trans }}</span>
        </summary>
        <div class="opg-indented-block">
            <dl class="govuk-summary-list">
                {{ macros.summaryListHeaderQA(hideEditLink) }}

                {% include 'AppBundle:Report/ProfDeputyCosts:_payments_received_answers.html.twig' with {
                    'report': report,
                    'transDomain': "report-prof-deputy-costs",
                    'hideEditLink' : hideEditLink
                } %}
            </dl>
        </div>
    </details>

</div>

<div class="form-section push--bottom">
    <div class="form-group-outer">
        {{ checklist_radios(form.profCostsReasonableAndProportionate) }}
    </div>

    <details>
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.profDeputyCosts') | trans }}</span>
        </summary>
        <div class="opg-indented-block">
            <dl class="govuk-summary-list">
                {{ macros.summaryListHeaderQA(hideEditLink) }}

                {% include 'AppBundle:Report/ProfDeputyCosts:_how_charged_answers.html.twig' with {
                    'report': report,
                    'transDomain': 'report-prof-deputy-costs',
                    'hideEditLink' : true
                } %}

                {% include 'AppBundle:Report/ProfDeputyCosts:_all_cost_total_answers.html.twig' with {
                    'report': report,
                    'submittedOtherCosts': actualOtherCosts,
                    'transDomain': "report-prof-deputy-costs",
                    'hideEditLink' : true
                } %}
            </dl>

            <dl class="govuk-summary-list">
                {% include 'AppBundle:Report/ProfDeputyCosts:_breakdown_costs_answers.html.twig' with {
                    'report': report,
                    'submittedOtherCosts': actualOtherCosts,
                    'transDomain': "report-prof-deputy-costs",
                    'hideEditLink' : true
                } %}
            </dl>

            <dl class="govuk-summary-list">
                {% include 'AppBundle:Report/ProfDeputyCosts:_total_taken_from_client_answers.html.twig' with {
                    'report': report,
                    'submittedOtherCosts': actualOtherCosts,
                    'transDomain': "report-prof-deputy-costs",
                    'hideEditLink' : true
                } %}

                {% include 'AppBundle:Report/ProfDeputyCosts:_total_final_answers.html.twig' with {
                    'report': report,
                    'submittedOtherCosts': actualOtherCosts,
                    'transDomain': "report-prof-deputy-costs",
                    'hideEditLink' : true
                } %}
            </dl>
        </div>
    </details>

</div>

<div class="form-section push--bottom">
    <div class="form-group-outer">
        {{ checklist_radios(form.hasDeputyOverchargedFromPreviousEstimates) }}
    </div>

    <details>
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.profDeputyCosts') | trans }}</span>
        </summary>
        <div class="opg-indented-block">
            <dl class="govuk-summary-list">
                {{ macros.summaryListHeaderQA(hideEditLink) }}

                {% include 'AppBundle:Report/ProfDeputyCosts:_scco_more_details_answer.html.twig' with {
                    'report': report,
                    'submittedOtherCosts': actualOtherCosts,
                    'transDomain': "report-prof-deputy-costs",
                    'hideEditLink' : true
                } %}
            </dl>
        </div>
    </details>

</div>
