{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-more-info" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}
    <p class="text">
        {{ 'startPage.pageSectionDescription1' | trans(transOptions) }}
    </p>

    <p class="text">
        {{ 'startPage.pageSectionDescription2' | trans(transOptions) }}
    </p>

    <p class="text">
        {{ 'startPage.pageSectionDescription3' | trans(transOptions) }}
    </p>

    <p class="text">
        {{ 'startPage.pageSectionDescription4' | trans({
            '%linkStart%': '<a href="https://www.gov.uk/government/publications/deputy-guidance-how-to-carry-out-your-duties" target="_blank">',
            '%linkEnd%': '</a>'
        }) | raw }}
    </p>

    <a href="{{ path('other_info_step', { 'reportId': report.id, 'step': 1 }) }}" class="button button-start behat-link-start">{{ 'startPage.startButton' | trans }}</a>

{% endblock %}
