{% set translationDomain = "odr-homepage" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': client.firstname} %}

<h2 class="heading-large">New deputy report</h2>

{% set statusClass = (odrStatus.status == 'notStarted') ? 'not-started' : 'incomplete' %}

<div class="card soft-half push-double--bottom">
    <span class="status status-corner {{ statusClass }}">{{ ('odr.' ~ odrStatus.status ~ '.status') | trans }}</span>
    <h3 class="heading-medium flush--top">{{ client.firstname }} {{ client.lastname }}</h3>
    <div class="card-body soft-half--top">
	    <p class="text flush--bottom">{{ ('odr.' ~ odrStatus.status ~ '.instructions') | trans(transOptions) }}</p>
    </div>
    <div class="card-actions">
	    <a href="{{ path('odr_overview', {'odrId': odr.id}) }}" class="button right behat-link-odr-start">{{ ('odr.' ~ odrStatus.status ~ '.buttonLabel') | trans }}</a>
    </div>
</div>