{% set translationDomain = "odr-homepage" %}
{% trans_default_domain translationDomain %}

<h2 class="heading-large">Current deputy report</h2>

{% if odr.submitted %}
    {#
    # CLICKABLE REPORT
    #}
    {% set status = reportActive ? 'notFinished' : 'notStarted' %}
    {% set statusClass = reportActive ? 'incomplete' : 'not-started' %}
    <div class="card soft-half">
        <span class="status status-corner {{ statusClass }}">{# {{ reportStatus.status }} #}{{ (status) | trans({}, 'common') }}</span>
        {% if reportActive %}
            <h3 class="heading-medium flush--ends">
                <a href="{{ path('report_overview', {'reportId': reportActive.id}) }}">
                    {{ reportActive.getPeriod() }} report
                </a>
            </h3>
        {% else %}
            <h3 class="heading-medium flush--ends">{{ client.firstname }} {{ client.lastname }}</h3>
        {% endif %}
        <div class="card-body">
            {% if reportActive %}
                <p>
                    <strong class="bold">Due date: </strong>
                    {{ reportActive.dueDate | date(" d F Y") }}
                </p>
                <a href="{{ path('lay_home', {'reportId': reportActive.id, 'type': reportActive.type}) }}">{{ 'report.editReportingPeriod' | trans }}</a>
            {% endif %}
        </div>
        {% set link = reportActive ?
        path('report_overview', {'reportId': reportActive.id})
        : path('report_create', {'clientId': client.id, 'action': 'create'}) %}
        {% set buttonText = reportActive ? 'continue' : 'startNow' %}
        <div class="card-actions">
            <a href="{{ link }}" class="button behat-link-report-start" >{{ buttonText | trans({}, 'common') }}</a>
        </div>

    </div>
{% else %}
    {#
     # REPORT NOT ACTIVE
     #}
    <div class="card disabled soft-half">
        <span class="status status-corner not-available">{{ 'notAvailable' | trans({}, 'common') }}</span>
        <h3 class="heading-medium flush--top">{{ client.firstname }} {{ client.lastname }}</h3>
        <div class="card-body soft-half--top">
            <p class="text flush--bottom">{{ 'report.notAvailableInfo' | trans }}</p>
        </div>
    </div>
{% endif %}






