{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set translationDomain = "report-display" %}
{% set isLayDeputy = not app.user.isDeputyPa %}

{% trans_default_domain translationDomain %}

{% block htmlTitle %}Review new deputy report{% endblock %}
{% block pageTitle %}Review new deputy report{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {% if odr.submitted == true %}
        <a id="overview-button" href="{{ path('homepage') }}" class="link-back">Your reports</a>
    {% else %}
        <div class="breadcrumbs hard--bottom">
            <ol class="group">
                <li><a href="{{ path('homepage') }}">{{ 'yourReports' | trans({}, 'common' ) }}</a></li>
                <li><a href="{{ path("odr_overview" , {'odrId': odr.id }) }}">{{ 'deputyReportOverview' | trans({}, 'common' ) }}</a></li>
            </ol>
        </div>
    {% endif %}
{% endblock %}

{% block pageContent %}

    <div id="page-body">
        <p>
            {{ 'incomplete.introPara' | trans() }}
        </p>
    </div>

    <div id="page-body">
        <a class="pdflink" href="{{ path('odr_pdf', {'odrId': odr.id}) }}">Download as PDF</a>
    </div>

{% endif %}
    <div id="page-body">
        {% include 'AppBundle:Odr/Formatted:formatted.html.twig' %}
    </div>

    <div id="body-footer-nav">

        {% if odr.submitted == false %}
            {% if not odrStatus.isReadyToSubmit or not odr.isDue %}

                <div class="push--top">
                    {{ macros.notification('info', 'incomplete.youCanContinue' | trans) }}
                </div>

            {% endif %}
        {% endif %}

        <div id="page-body">
            <div class="column-one-half">
                <a class="button left behat-link-declaration-page" href="{{ path("odr_declaration" , {'odrId': odr.id }) }}">{{ 'button.continue.label' | trans() }}</a>
            </div>
            <a class="" href="{{ path("odr_overview" , {'odrId': odr.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
            <a class="pdflink" href="{{ path('odr_pdf', {'odrId': odr.id}) }}">Download as PDF</a>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            var ga = new opg.Ga({'timeout': 250});
            ga.trackDownloadableLink($('.pdflink'));
        });
    </script>
{% endblock %}
