{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% set isLayDeputy = not app.user.isDeputyPa %}

{% if not odrStatus.isReadyToSubmit %}
    {% set preview = true %}
    {% set page = 'ndr-preview' %}
{% else %}
    {% set preview = false %}
    {% set page = 'ndr-review' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {% if odr.submitted == true %}
        <a id="overview-button" href="{{ path('homepage') }}" class="link-back">Your reports</a>
    {% else %}
        <div class="breadcrumbs hard--bottom">
            <ol class="group">
                <li><a href="{{ path('homepage') }}">{{ 'yourReports' | trans({}, 'common' ) }}</a></li>
                <li><a href="{{ path("odr_overview" , {'odrId': odr.id }) }}">{{ 'deputyReportOverview' | trans({}, 'common' ) }}</a></li>
            </ol>
        </div>
    {% endif %}
{% endblock %}

{% block pageContent %}

    <div class="push--bottom">
        <p class="text">{{ (page ~ '.introPara') | trans() }}</p>
        {% if preview %}
            <a class="" href="{{ path("odr_overview" , {'odrId': odr.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% endif %}
    </div>

    <div class="push--bottom">
        {% include 'AppBundle:Odr/Formatted:formatted.html.twig' %}
    </div>

    {% if odr.submitted == false %}
        {% if preview %}
            <a class="" href="{{ path("odr_overview" , {'odrId': odr.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% else %}
            <a class="button behat-link-odr-declaration-page" href="{{ path("odr_declaration" , {'odrId': odr.id }) }}">{{ 'submitReport' | trans() }}</a>
            <a class="button-link" href="{{ path("odr_overview" , {'odrId': odr.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% endif %}
    {% endif %}

    <br>
    <a class="pdflink push-half--top" href="{{ path('odr_pdf', {'odrId': odr.id}) }}">{{ 'downloadAsPdf' | trans() }}</a>

    <script>
        $(document).ready(function() {
            var ga = new opg.Ga({'timeout': 250});
            ga.trackDownloadableLink($('.pdflink'));
        });
    </script>
{% endblock %}
