{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "odr-submitted" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans(clientTrans) }}{% endblock %}

{% set clientTrans = {'%client%': odr.client.firstname} %}

{% block pageContent %}

    <div id="header-report-submit" class="hero">
        <h2 class="heading">
            <span class="icon icon-tick-white"></span>
            {{ 'reportSubmitted' | trans }}
        </h2>
    </div>

    <p class="">{{ 'weHaveSentEmail' | trans }}</p>

    <!-- what happens next -->
    <h3 class="heading-medium">{{ 'whatHappensNext.title' | trans }}</h3>
    <div class="text">
        <p>{{ 'whatHappensNext.body1' | trans }}</p>
        <p>{{ 'whatHappensNext.body2' | trans }}</p>
    </div>
    <p>
        <a href="{{ path('odr_index') }}" class="button behat-link-return-homepage">{{ 'whatHappensNext.returnButton' | trans }}</a>
    </p>

    <!-- Give us feedback -->
    <h3 class="heading-medium">{{ 'giveUsFeedback.title' | trans }}</h3>
    <div class="text">
        <p>{{ 'giveUsFeedback.body1' | trans }}</p>
        <p>{{ 'giveUsFeedback.body2' | trans({
                '%linkStart%': '<a href="' ~ feedbackUrl ~ '" target="_blank">',
                '%linkEnd%': '</a>'
            }) | raw }}</p>
    </div>

{% endblock %}
