{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "settings" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ (app.user.isDeputyPa() ? 'htmlTitle.pa-settings-page' : 'htmlTitle.settings-page') | trans }}{% endblock %}
{% block pageTitle %}{{ (app.user.isDeputyPa() ? 'h1Title.pa-settings-page'   : 'h1Title.settings-page')   | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsSettings('settings') }}
{% endblock %}

{% block pageContent %}

    {% if 'ROLE_LAY_DEPUTY' == app.user.roleName %}
        {% set transOptions = {'%client%': client.firstname} %}
        <a href="{{ path('client_show') }}" class="behat-link-client-show">
            <h2 class="heading-small">{{ 'settings-page.links.client.title' | trans(transOptions) }}</h2>
        </a>
        <p class="text text-info">{{ 'settings-page.links.client.description' | trans(transOptions) }}</p>
    {% elseif app.user.isDeputyPa() %}
        {% set transOptions = {} %}
        <a href="{{ path('pa_team') }}" class="behat-link-user-accounts">
            <h2 class="heading-small">{{ 'settings-page.links.team.title' | trans }}</h2>
        </a>
        <p class="text text-info">
            {% if app.user.isNamedDeputy() or app.user.isPaAdministrator() %}
                {{ 'settings-page.links.team.admin-description' | trans }}
            {% else %}
                {{ 'settings-page.links.team.description' | trans }}
            {% endif %}
        </p>
    {% endif %}

    <a href="{{ path(app.user.isDeputyPa() ? 'pa_profile_show' : 'user_show') }}" class="behat-link-profile-show">
        <h2 class="heading-small">{{ 'settings-page.links.profile.title' | trans }}</h2>
    </a>
    <p class="text text-info">{{ (app.user.isDeputyPa() ? 'settings-page.links.profile.pa-description' : 'settings-page.links.profile.description') | trans }}</p>

    <a href="{{ path(app.user.isDeputyPa() ? 'pa_profile_password_edit' : 'user_password_edit') }}" class="behat-link-password-edit">
        <h2 class="heading-small">{{ 'settings-page.links.password.title' | trans }}</h2>
    </a>
    <p class="text text-info">{{ 'settings-page.links.password.description' | trans }}</p>

{% endblock %}