{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "odr-debts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': odr.client.firstname} %}

{% block htmlTitle %}{{ 'editPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'editPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'editPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <h3 class="heading-small push-half--bottom">
        {{ 'editPage.pageSectionDescription' | trans({'%client%': odr.client.firstname}, translationDomain) }}
        <span class="form-hint text push-half--bottom">{{ 'editPage.pageHint' | trans({'%client%': odr.client.firstname}, translationDomain) }}</span>
    </h3>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="form-section push--bottom">
        {% for debt in form.debts %}
            <div class="{{ debt.moreDetails is defined ? ' expand-more-details ' : '' }}">
                {{ form_row(debt.debtTypeId) }}
                {{ form_input(debt.amount, 'amount', {
                    'inputPrefix' : '£',
                    'inputClass' : 'form-control__number js-more-info js-format-currency',
                    'labelText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.label') | trans,
                    'hintText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.hint') | trans({'%client%': odr.client.firstname}),
                    'labelRaw': true
                }) }}

                {% if debt.moreDetails is defined %}
                    <div class="form-group flush--bottom">
                        <div class="panel panel-border-narrow flush--bottom hidden">
                            {{ form_input(debt.moreDetails, 'moreDetails', {
                                'labelText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.moreInformations') | trans,
                                'inputClass': ' transaction-more-details',
                                'hintText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.moreInfoHint') | trans({'%client%': odr.client.firstname}),
                                'labelRaw': true
                            }) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

    <script type="text/javascript">
        $(document).ready(function () {
            new GOVUK.ExpandingMoreDetails('.expand-more-details');
        });
    </script>

{% endblock %}