{% set translationDomain = "ndr-bank-accounts" %}
{% trans_default_domain translationDomain %}

<div class="govuk-grid-row push--top">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">List of accounts</h2>
    </div>
    <div class="govuk-grid-column-one-half text--right">
        <strong>
            <a href="{{ path('ndr_bank_accounts_step' , {'ndrId': ndr.id, 'step': 1}) }}"
                class="behat-link-add">
                <span class="icon icon-plus"></span>
                Add account
            </a>
        </strong>
    </div>
</div>

<dl class="govuk-summary-list behat-region-list-accounts">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Account
        </dt>
        <dd class="govuk-summary-list__key">
            Balance on {{ ndr.client.courtDate | date("j F Y") }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
    </div>

    {% for account in ndr.bankAccounts %}
    <div class="govuk-summary-list__row behat-region-account-{{ account.accountNumber | behat_namify }}">
        <dt class="govuk-summary-list__key">
            {% if account.requiresBankName %}
                <p class="govuk-!-margin-bottom-1 govuk-!-font-size-18">{{ account.bank }}</p>
            {% endif %}
            <p class="govuk-!-margin-0 govuk-!-font-size-16">{{ account.accountTypeText }}</p>
                {% if account.requiresSortCode %}
                    <p class="govuk-!-margin-0 govuk-!-font-size-16">Sort code: {{ account.sortCode }}</p>
                {% endif %}
            <p class="govuk-!-margin-0 govuk-!-font-size-16">Account number: ****{{ account.accountNumber }}</p>
                {# property added later, so it could be null. remove the "if" from 2018 #}
                {% if account.isJointAccount != '' %}
                    <p class="govuk-!-margin-0 govuk-!-font-size-16">Joint account: {{ account.isJointAccount | capitalize }}</p>
                {% endif %}

        </dt>
        <dd class="govuk-summary-list__value">
            £{{ account.balanceOnCourtOrderDate | money_format }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link behat-link-edit" href="{{ path('ndr_bank_accounts_step' , {'ndrId': ndr.id, 'step': 1, 'accountId': account.id}) }}">
            {{ 'edit' | trans({}, 'common' ) }}<span class="govuk-visually-hidden"> account</span>
            </a>
            &nbsp;
            <a class="govuk-link behat-link-delete" href="{{ path('ndr_bank_account_delete' , {'ndrId': ndr.id, 'accountId': account.id}) }}">
            {{ 'remove' | trans({}, 'common' ) }}<span class="govuk-visually-hidden"> account</span>
            </a>
        </dd>
    </div>
    {% endfor %}
</dl>
