{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "ndr-bank-accounts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ ('stepPage.pageTitle.' ~ (account.id ? 'edit' : 'add')) | trans(transOptions) }}{% endblock %}


{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'stepPage.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {id: 'account-form', novalidate: 'novalidate' } }) }}

    {% if step == 1 %}
        <p class="govuk-body">
            {{ 'stepPage.pageSectionDescription.step1' | trans(transOptions) }}
        </p>

        {{ form_checkbox_group(form.accountType, 'form.accountType', {
            'legendClass' : 'govuk-fieldset__legend--s'
        }) }}
    {% endif %}

    {% if step == 2 %}

        {% if account.requiresBankName %}
            {{ form_input(form.bank, 'form.bank') }}
        {% else %}
            {% do form.bank.setRendered %}
        {% endif %}

        {{ form_input(form.accountNumber, 'form.accountNumber', {
            'inputClass' : 'govuk-input--width-4',
            'hasPreInput': true
        }) }}

        {% if account.requiresSortCode %}
            {{ form_sort_code(form.sortCode, 'form.sortCode') }}
        {% else %}
            {% do form.sortCode.setRendered %}
        {% endif %}

        {{ form_checkbox_group(form.isJointAccount, 'form.isJointAccount', {
            'fieldSetClass' : 'inline',
            'legendText' : 'form.isJointAccount.label' | trans({}, translationDomain),
            'legendClass' : 'form-label'
        }) }}
    {% endif %}

    {% if step == 3 %}
        {{ form_input(form.balanceOnCourtOrderDate, '', {
            'labelText': 'form.balanceOnCourtOrderDate.label' | trans({'%cotDate%': ndr.client.courtDate | date("j F Y")}, translationDomain),
            'inputPrefix' : '£',
            'inputClass' : 'govuk-!-width-one-quarter js-format-currency'
        } ) }}
    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
