{% set translationDomain = "report-lifestyle" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

<table class="check-your-answers columns-2 push--bottom">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>
                <span class="visuallyhidden">Actions</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {# step 1 #}
        <tr class="behat-region-live-with-client">
            {% if report.lifestyle.careAppointments is null %}
                <td>
                    <span class="error">
                        {{ 'form.careAppointments.label' | trans(transOptions) }}
                    </span>
                </td>
                <td>
                    <span class="error-message">Please answer this question</span>
                </td>
            {% else %}
                <td>
                    {{ 'form.careAppointments.label' | trans(transOptions) }}
                </td>
                <td>
                    {{ report.lifestyle.careAppointments | nl2br }}
                </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ path('lifestyle_step', {'reportId': report.id, 'step': 1, 'from': 'summary'}) }}" class="behat-link-live-with-client-edit action-link">Edit</a>
            </td>
        </tr>

        {#step 2#}
        <tr class="behat-region-does-client-receive-paid-care">
            {% if report.lifestyle.doesClientUndertakeSocialActivities is null %}
                <td>
                    <span class="error">
                        {{ 'form.doesClientUndertakeSocialActivities.label' | trans(transOptions) }}
                    </span>
                </td>
                <td>
                    <span class="error-message">Please answer this question</span>
                </td>
            {% else %}
                <td>
                    {{ 'form.doesClientUndertakeSocialActivities.label' | trans(transOptions) }}
                </td>
                <td>
                    {{ report.lifestyle.doesClientUndertakeSocialActivities | capitalize }}
                </td>
            {% endif %}
            <td class="change-answer">
                <a href="{{ path('lifestyle_step', {'reportId': report.id, 'step':2, 'from': 'summary'}) }}" class="action-link">Edit</a>
            </td>
        </tr>
        {% if report.lifestyle.doesClientUndertakeSocialActivities and (report.lifestyle.activityDetailsYes or report.lifestyle.activityDetailsNo) %}
            <tr class="behat-region-how-is-care-funded">

                {% if report.lifestyle.doesClientUndertakeSocialActivities == 'yes' %}
                    <td>
                        {{ 'form.activityDetailsYes.label' | trans(transOptions) }}
                    </td>
                    <td>
                        {{ report.lifestyle.activityDetailsYes | nl2br }}
                    </td>
                {% else %}
                    <td>
                        {{ 'form.activityDetailsNo.label' | trans(transOptions) }}
                    </td>
                    <td>
                        {{ report.lifestyle.activityDetailsNo | nl2br }}
                    </td>
                {% endif %}
                <td class="change-answer">
                    <a href="{{ path('lifestyle_step', {'reportId': report.id, 'step':2, 'from': 'summary'}) }}" class="action-link">Edit</a>
                </td>
            </tr>
        {% endif %}
    </tbody>

</table>