{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "odr-assets" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': odr.client.firstname} %}

{% block htmlTitle %}{{ 'existPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'existPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'existsPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <div class="form-section push--bottom">
        {{ form_checkbox_group(form.noAssetToAdd, 'existPage.form.noAssetToAdd', {
            'fieldSetClass' : 'inline',
            'labelParameters': { '%client%': odr.client.firstname },
            'legendClass' : 'form-label-bold text',
            'legendText' : 'existPage.form.noAssetToAdd.label' | trans(transOptions, translationDomain),
            'formGroupClass': 'flush--bottom'
        }) }}
    </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
