{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin-organisations" %}
{% if editView %}
    {% set page = 'editPage' %}
{% else %}
    {% set page = 'addPage' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block supportTitleTop %}
    <span class="govuk-caption-xl">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.name, 'form.name', {
        'labelClass': 'govuk-label--m'
    }) }}

    <div class="govuk-form-group {% if not form.emailIdentifierType.vars.valid %}govuk-form-group--error{% endif %}">
        {% set emailIdentifierDomain %}
            {{ form_input(form.emailDomain, 'form.emailDomain') }}
        {% endset %}

        {% set emailIdentifierAddress %}
            {{ form_input(form.emailAddress, 'form.emailAddress') }}
        {% endset %}

        {{ form_checkbox_group(form.emailIdentifierType, 'form.emailIdentifierType', {
            useFormGroup: false,
            legendClass: 'govuk-label--m',
            items: [
                { conditional: emailIdentifierDomain },
                { conditional: emailIdentifierAddress, description: ('form.emailIdentifierType.domainHint' | trans) },
            ]
        }) }}
    </div>

    {{ form_checkbox_group(form.isActivated, 'form.isActivated', {
        'legendClass': 'govuk-label--m'
    }) }}

    {{ form_submit(form.save, 'form.save') }}

    {{ form_end(form) }}

{% endblock %}
