{% set translationDomain = "report-accounts" %}
{% trans_default_domain translationDomain %}

<div class="hero yellow">
    <h2 class="heading heading-medium">{{ 'balance.incomplete.alertBox' | trans }}</h2>
</div>

<p class="page-section-description">{{ 'balance.incomplete.pageSectionDescription' | trans | nl2br }}</p>


{% if not report.hasAccounts %}
    <div class="descriptive-list-item">
        <a href="{{ path('accounts', {'reportId': report.id}) }}">
            <h3 class="heading heading-medium">{{ 'balance.incomplete.noAccounts.title' | trans }}</h3>
        <span class="edit-link" href="{{ path('accounts', {'reportId': report.id}) }}" style="float: right">
            {{ 'balance.incomplete.noAccounts.addLink' | trans }}
        </span>
            <p class="description">
                {{ 'balance.incomplete.noAccounts.description' | trans({'%client%': report.client.firstname}) }}
            </p>
        </a>
    </div>
{% elseif report.getAccountsWithNoClosingBalance %}
    <div>
        <h3 class="heading heading-medium">{{ 'balance.incomplete.noAccounts.title' | trans }}</h3>
        <ul class="card-list">
            {% for account in report.getAccountsWithNoClosingBalance %}
                {% include 'AppBundle:BankAccount:bank-list-item-incomplete.html.twig' with {
                account: account,
                report: report
                } %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if not report.hasMoneyIn %}
    <div class="descriptive-list-item">
        <a href="{{ path('accounts_moneyin', {'reportId': report.id}) }}">
            <h3 class="heading heading-medium">{{ 'balance.incomplete.moneyIn.title' | trans }}</h3>
        <span class="edit-link" href="{{ path('accounts_moneyin', {'reportId': report.id}) }}" style="float: right">
            {{ 'balance.incomplete.moneyIn.addLink' | trans }}
        </span>
            <p class="description">
                {{ 'balance.incomplete.moneyIn.description' | trans({'%client%': report.client.firstname}) }}
            </p>
        </a>
    </div>
{% endif %}

{% if not report.hasMoneyOut %}
    <div class="descriptive-list-item">
        <a href="{{ path('accounts_moneyout', {'reportId': report.id}) }}">
            <h3 class="heading heading-medium">{{ 'balance.incomplete.moneyOut.title' | trans }}</h3>
        <span class="edit-link" href="{{ path('accounts_moneyout', {'reportId': report.id}) }}" style="float: right">
            {{ 'balance.incomplete.moneyOut.addLink' | trans }}
        </span>
            <p class="description">
                {{ 'balance.incomplete.moneyOut.description' | trans({
                    '%client%': report.client.firstname
                }) }}
            </p>
        </a>
    </div>
{% endif %}
