{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-bank-accounts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'addAnotherPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addAnotherPage.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <div class="form-section">
        {{ form_checkbox_group(form.addAnother, 'addAnotherPage.form.addAnother', {
            'fieldSetClass' : 'inline',
            'legendClass' : 'form-label',
            'items': [
            {'labelClass': 'block-label', 'elementClass': '' },
            {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
    </div>

    {{ form_submit(form.save,'addAnotherPage.form.save') }}

    {{ form_end(form) }}

{% endblock %}
