{% embed 'AppBundle:Components/Page:page-report.html.twig'%}

    {% set translationDomain = "report-bank-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block bodyClasses %}safeguarding-page{% endblock %}
    {% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
    {% block pageTitle %}{{ 'summaryPage.pageSectionTitle' | trans }}{% endblock %}

    {% block pageBody %}
        {#<h3 class="heading-medium">{{ 'banks.pageSectionTitle' | trans({'%client%': report.client.firstname}, translationDomain) }}</h3>#}
        <p class="page-section-description">
          {{ 'summaryPage.pageSectionDescription' | trans() }}</p>

        {% embed 'AppBundle:Components/Listing:_card_list.html.twig' %}
            {% block list %}

                {% if report.accounts is not empty %}
                    {% for account in report.accounts %}
                        {% include 'AppBundle:Report/BankAccount:bank-list-item.html.twig' with {
                            account: account,
                            report: report
                        }%}
                    {% endfor %}
                {% else %}
                    <div>
                        <span class="icon icon__notification_yellow_small"></span>
                        <span class="page-section-description left-margin">
                            {{ 'banks.accountMissingWarning' | trans({}, translationDomain)}}
                        </span>
                    </div>
                {% endif %}
                <li class="card-item">
                    <a href="{{ path('bank_account_step' , {'reportId': report.id, 'step': 1}) }}" class="card add" id="add-account">Add account</a>
                    <div class="meta-data"></div>
                </li>
            {% endblock %}

        {% endembed %}

        {% if report.accounts is not empty %}

            <dl class="labelvalue right-inline transaction big-value">
                <dt class="label">{{ 'banks.totalBalance' | trans }}:</dt>

                {% if report.accountsClosingBalanceTotal == null %}
                    <dd class="value unknown">
                         {{ 'banks.balanceUnknown' | trans({}, translationDomain) }}
                    </dd>
                {% else %}
                   <dd class="value">
                     £
                     {{ report.accountsClosingBalanceTotal | money_format }}
                   </dd>
                {% endif %}

                </dd>
            </dl>

            {% if report.accountsClosingBalanceTotal == null %}
             <dl>
                <div class="balance-warning page-section-warning">
                    <span class="icon icon__notification_yellow_small"></span>
                    <span class="page-section-description left-margin big">{{ 'banks.balanceMissingWarningBottom' | trans({
                        '%date%': report.endDate | date("j M Y"),
                        '%client%': report.client.firstname
                    }, translationDomain) }}</span>
                </div>
             </dl>
            {% endif %}

          {% endif %}


          <script type="text/javascript">
              $(document).ready(function() {
                  $('.help-item').each(function(index,item) {
                      opg.accordian({
                          target:item,
                          open: false
                      });
                  });
              });
          </script>


    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("visits_care" , {'reportId': report.id }),
        'previousLabel': 'Visits and care',
        'nextLink': path("transfers" , {'reportId': report.id }),
        'nextLabel': 'Money transfers'
        } %}
    {% endblock %}


{% endembed %}
