{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-bank-accounts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'startPage.pageSectionDescription1' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription2' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription3' | trans(transOptions) }}</p>

        {% if not app.user.isDeputyPa() %}
            <details class="push--bottom">
                <summary>
                    <span class="summary">{{ 'startPage.hiddenText01.summary' | trans(transOptions) }}</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>{{ 'startPage.hiddenText01.content.para01' |trans(transOptions)|raw }}</p>
                </div>
            </details>
        {% endif %}
    </div>

    <a href="{{ path('bank_accounts_step', { 'reportId': report.id, 'step': 1 }) }}" class="button button-start behat-link-start">{{ 'startPage.startButton' | trans }}</a>

{% endblock %}
