{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-bank-accounts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'stepPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}
{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'stepPage.backLink' | trans) }}
{% endblock %}

{% block pageContent %}

    {% block validationSummary %}
        {{ form_errors_list(form) }}
    {% endblock %}

    {% if step == 1 %}
        <p>
            {{ 'stepPage.pageSectionDescription.step1' | trans(transOptions) }}
        </p>
    {% endif %}

    {% include 'AppBundle:Report/BankAccount:_form.html.twig' %}

{% endblock %}
