{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-bank-accounts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}

<p class="text-secondary">
    {{ 'summaryPage.pageSectionDescription' | trans(transOptions) }}
</p>

{# http://hzaiwi.axshare.com/#g=1&p=accounts_-_check_answers_-_summary #}

<a href="{{ path('bank_account_step' , {'reportId': report.id, 'step': 1}) }}"
   class="" id="add-account">Add account</a>

<ul id="bank-account-list" class="card-list behat-region-list-accounts">
    {% for account in report.accounts %}
    <li>
        <hr/>
        <ul>
            <li>
                {{ account.bank }} ({{ account.accountTypeText }})
            </li>
            <li>
                {{ 'summaryPage.item.accountNumber' | trans({}, translationDomain) }}:
                ****{{ account.accountNumber }}</li>
            {% if account.requiresBankNameAndSortCode %}
                <li>
                    {{ 'summaryPage.item.sortCode' | trans({}, translationDomain) }}:
                    {{ account.sortCode }}
                </li>
            {% endif %}
            <li>
                {{ 'summaryPage.item.balanceOn' | trans({}, translationDomain) }}
                {{ report.startDate | date("j M Y") }}
                :
                £{{ account.openingBalance == null ? '—,-' : (account.openingBalance | money_format) }}
            </li>
            <li>
                {{ 'summaryPage.item.balanceOn' | trans({}, translationDomain) }} {{ report.endDate | date("j M Y") }}
                :

                {% if account.closingBalance == null %}
                    {{ 'summaryPage.item.balanceUnknown' | trans({}, translationDomain) }}
                {% else %}
                    £{{ account.closingBalance | money_format }}
                {% endif %}
            </li>
            <li>
                <a class="edit-link behat-link-account-{{ account.accountNumber }}"
                   href="{{ path('bank_account_step' , {'reportId': report.id, 'step': 1, 'accountId': account.id}) }}">
                    Edit
                </a>
                <a class="edit-link behat-link-account-{{ account.accountNumber }}"
                   href="{{ path('bank_account_delete' , {'reportId': report.id, 'accountId': account.id}) }}">
                    Delete
                </a>
            </li>
            </li>
            {% endfor %}
        </ul>


        <script type="text/javascript">
            $(document).ready(function () {
                $('.help-item').each(function (index, item) {
                    opg.accordian({
                        target: item,
                        open: false
                    });
                });
            });
        </script>

        <a href="{{ path('report_overview', {'reportId': report.id}) }}">Return to Report Overview</a>
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("contacts" , {'reportId': report.id }),
        'previousLabel': 'Contacts',
        'nextLink': path("bank_accounts" , {'reportId': report.id }),
        'nextLabel': 'Accounts'
        } %}

        {% endblock %}

