{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "settings" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle.change-password' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle.change-password' | trans }}{% endblock %}
{% block clientDetails %}{% endblock clientDetails %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsSettings("settings-profile-password-edit") }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: '' } }) }}

    {{ form_input(form.current_password,'form.changeYourPassword.controls.currentPassword') }}
    {{ form_input(form.password.first,'form.changeYourPassword.controls.newPassword', {
        'hasHintList': true
    }) }}
    {{ form_input(form.password.second,'form.changeYourPassword.controls.confirmNewPassword') }}

    <div class="custom-submit">
    {{ form_submit(form.save,'form.changeYourPassword.controls.save', {'buttonClass': 'govuk-button behat-link-save'}) }}
    </div>
    {% include '@App/Components/Link/_link-button.html.twig' with {
    transDomain: translationDomain,
    linkButtonLabel: 'form.editYourDetails.controls.cancel.label',
    linkHref: path(app.user.isDeputyOrg() ? 'org_settings' : 'account_settings')
    } %}

    {{ form_end(form) }}

{% endblock %}
