{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "settings" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle.deputy-edit' | trans({}, 'user-account') }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle.deputy-edit' | trans({}, 'user-account') }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsArray([
        { href: url('deputyship_details_clients'), text: 'Your reports' },
        { href: url('account_settings'), text: 'Deputyship details' }
    ]) }}
{% endblock %}

{% block pageContent %}
    <div class="behat-region-profile">

        <table class="text">
            <tbody>
                <tr>
                    <th scope="row" class="govuk-!-font-weight-bold">{{ 'profile-page.fullName' | trans }}</th>
                    <td class="behat-region-profile-name">{{ user.getFullname }}</td>
                </tr>
                {% if app.user.isDeputyOrg() %}
                <tr>
                    <th scope="row" class="govuk-!-font-weight-bold">{{ 'profile-page.jobTitle' | trans }}</th>
                    <td class="behat-region-profile-job">{{ user.getJobTitle}}</td>
                </tr>
                {% endif %}
                <tr valign="top">
                    <th scope="row" class="govuk-!-font-weight-bold">{{ 'profile-page.address' | trans }}</th>
                    <td class="behat-region-profile-address">
                        {% if user.address1 is not empty %}
                            <div itemprop="streetAddress">{{ user.address1 }}</div>
                        {% endif %}
                        {% if user.address2 is not empty %}
                            <div itemprop="addressLocality">{{ user.address2 }}</div>
                        {% endif %}
                        {% if user.address3 is not empty %}
                            <div itemprop="addressRegion">{{ user.address3 }}</div>
                        {% endif %}
                        {% if user.addressPostcode is not empty %}
                            <div itemprop="postalCode">{{ user.addressPostcode }}</div>
                        {% endif %}
                        {% if user.addressCountry is not empty %}
                            <div itemprop="addressCountry">{{ user.addressCountry | country_name }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="govuk-!-font-weight-bold">{{ 'profile-page.mainPhoneNumber' | trans }}</th>
                    <td class="behat-region-profile-phone">{{ user.phoneMain }}</td>
                </tr>
                <tr>
                    <th scope="row" class="govuk-!-font-weight-bold">{{ 'profile-page.alternativePhoneNumber' | trans }}</th>
                    <td>{{ user.phoneAlternative }}</td>
                </tr>
                <tr>
                    <th scope="row" class="govuk-!-font-weight-bold">{{ 'profile-page.emailAddress' | trans }}</th>
                    <td class="behat-region-profile-email">{{ user.email }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <a href="{{ path(app.user.isDeputyOrg() ? 'org_profile_edit' : 'user_edit') }}" class="govuk-button push--top behat-link-profile-edit">{{ 'profile-page.editButton'| trans }}</a>

{% endblock %}
