{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'addUser' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <h2 class="heading-medium">{{ 'addUserForm.heading' | trans }}</h2>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.email,'addUserForm.email') }}
    {{ form_input(form.firstname,'addUserForm.firstname') }}
    {{ form_input(form.lastname,'addUserForm.lastname') }}
    {{ form_select(form.roleName,'addUserForm.roleName') }}
    {{ form_checkbox(form.odrEnabled, 'addUserForm.odrEnabled') }}

    {{ form_submit(form.save,'addUserForm.submit', {'buttonClass': 'behat-link-save'}) }}

    <a href="{{ path('admin_homepage') }}" class="button-link">{{ 'cancel' | trans({}, 'common') }}</a>

    {{ form_end(form) }}

{% endblock %}
