{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'statsPage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <h1 class="heading-medium">{{ (page ~ '.heading') | trans }}</h1>

    <p class="text" id="loading">{{ (page ~ '.pleaseWait') | trans }}</p>
    <p class="text" id="done">
        {{ (page ~ '.dataGenerated') | trans({'%csvFile%': path('admin_stats_csv', {'timestamp': timestamp}) }) | raw }}
    </p>

    <script>
        $(document).ready(function () {
            // wait 10s to ensure the file has been generated
            setTimeout(function(){
                $('#loading').addClass('hidden');
                $('#done').removeClass('hidden');
            }, 10000);
        });
    </script>

{% endblock %}
