{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "ndr-bank-accounts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | e } %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageTitle' | trans(transOptions) }}{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(ndr) }}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {# Introduction text #}
            <p>{{ 'summaryPage.weAskAbout' | trans(transOptions) }}</p>

            {# Check answers text #}
            <p><strong>{{ 'weHaveListed' | trans(transOptions, 'common') }}</strong></p>
            <p>{{ 'checkCorrect' | trans(transOptions, 'common') }}</p>
        </div>
        <div class="govuk-grid-column-one-third">
            {{ macros.relatedSections(ndr, 'bankAccounts') }}
        </div>
    </div>

    {# Items list #}
    {% include "AppBundle:Ndr/BankAccount:_list.html.twig" %}

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': ndr,
        'sectionId': 'bankAccounts',
    } %}

{% endblock %}
