<div class="row list-table">
    <h2>History of report submission ({{ 1 + reports | length }})</h2>
    <table>
        <thead>
        <tr>
            <th>Report type</th>
            <th>Reporting period</th>
            <th>Submission date</th>
            <th>&nbsp;</th>
            <th class="action">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td><a href="{{ path('report_review', {reportId: report.id}) }}" class="report">Property and Finance</a></td>
                <td>{{ report.startDate | date("j M Y")  }} - {{ report.endDate | date("j M Y")  }}</td>
                <td>{{ report.submitDate | date("j M Y")  }}</td>
                <td><a href="{{ path('report_pdf', {reportId: report.id}) }}">Download</a></td>
                <td class="action"><a href="{{ path('report_review', {reportId: report.id}) }}" class="button-grey">View</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{{ path('odr_review', {odrId: odr.id}) }}" class="report">Opening Deputyship Report</a></td>
            <td>Start of deputyship</td>
            <td>{{ odr.submitDate | date("j M Y") }}</td>
            <td><a href="{{ path('odr_pdf', {odrId: odr.id}) }}">Download</a></td>
            <td class="action"><a href="{{ path('odr_review', {odrId: odr.id}) }}" class="button-grey">View</a></td>
        </tr>
        </tbody>
    </table>
</div>