<div class="row">
    <h2 class="title2">Property and finance</h2>

    {% if enabled %}
        <div class="box">
            {% if reportActive %}
                <span class="status not-finished">NOT FINISHED</span>
                <h3>{{ client.firstname }} {{ client.lastname }}</h3>
                {#<p class="date">21st December 2015 - 22nd December 2016</p>#}
                <p class="detail">You only need to complete this report once</p>
                <a href="{{ path('report_overview', {'reportId': reportActive.id}) }}" class="button">
                    Continue
                </a>
            {% else %}
                <span class="status not-started">NOT STARTED</span>
                <h3>{{ client.firstname }} {{ client.lastname }}</h3>
                {#<p class="date">21st December 2015 - 22nd December 2016</p>#}
                <p class="detail">You only need to complete this report once</p>
                <a href="{{ path('report_create', {'clientId': client.id, 'action': 'create'}) }}" class="button">
                    Start  now
                </a>
            {% endif %}
        </div>

    {% else %}
        <div class="box inactive">
            <span class="status not-available">NOT AVAILABLE</span>
            <h3>{{ client.firstname }} {{ client.lastname }}</h3>
            <p class="detail">This report will become available once the Opening Deputyship Report is complete</p>
        </div>
    {% endif %}

</div>





