{% set translationDomain = "odr-overview" %}
{% trans_default_domain translationDomain %}

<div id="report-status" class="{{ odrStatus.status }}">
    
    <a class="button-grey heading heading-large" href="{{ path('odr_review', {odrId: odr.id}) }}">Review report</a>
    <div class="labelsvalues">
        <div class="labelvalue">
            <div class="label">Progress:</div>
            <div class="value">{{ odrStatus.remainingSections | length }} {{ 'sectionsRemaining' | trans() }}</div>
        </div>
        
        <div class="labelvalue">
            <div class="label">Status:</div>
            <div class="value">{{ ('status.' ~ odrStatus.status) | trans() }}</div>
        </div>
    </div>
    
</div>
