{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "odr-declaration" %}
{% trans_default_domain translationDomain %}

{% block pageTitle %}{{ 'page.htmlTitle' | trans }} {% endblock %}
{% block contentClass %}{{ parent() }} report-overview report-declaration js-report-assets-input{% endblock %}


{% block pageContent %}
    <div id="pagebody">
        <div id="pagebody-left-content">
            {% block validationSummary %}
                {{ form_errors_list(form) }}
            {% endblock %}

            <div id="page-section-title-container" class="page-section-title-container">
                <h1>{{ 'page.pageSectionTitle' | trans }}</h1>
            </div>

            {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
            transDomain: translationDomain,
            pageSectionDescription: 'page.pageSectionDescription',
            transOptions: {'%separator%': '<br/><br/>'}
            } %}


            {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

            {{ form_checkbox(form.agree, 'agree', { 'labelClass': 'required extra-top' }) }}

            {{ form_checkbox_group(form.agreedBehalfDeputy, 'agreedBehalfDeputy', {
                'fieldSetClass' : 'inline radio-agreed-behalf-deputy',
                'legendClass' : 'form-label',
                'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
                ]
            }) }}

            <div id="agreed-behalf-deputy-explanation-section">
                {{ form_input(form.agreedBehalfDeputyExplanation,'agreedBehalfDeputyExplanation', { 'labelClass': 'required', 'inputClass': 'expanding' }) }}
            </div>

            <nav id="bottom-button-bar">
                {{ form_submit(form.save,'save') }}
            </nav>

            {{ form_end(form) }}

            <script type="text/javascript">
                $(document).ready(function () {
                    new GOVUK.SelectionButtons(":checkbox");
                    new GOVUK.SelectionButtons('.form-group__checkbox-group :radio');
                    new opg.RadioHide({
                        radio: '.radio-agreed-behalf-deputy input[type=radio]',
                        content: '#agreed-behalf-deputy-explanation-section',
                        hideByDefault: true,
                        showWithValue: 'more_deputies_not_behalf'
                    });
                });
            </script>

            <p class="balance-warning page-section-warning">
                <span class="icon icon__notification"></span>
                <span class="page-section-description left-margin-big">{{ 'unableToEditAfterSubmission' | trans()  }}</span>
            </p>

        </div>
        <!-- end left-content -->

        <div id="pagebody-right-content">
            {% include 'AppBundle:Components:_helpline.html.twig' %}
        </div>

    </div>





{% endblock %}
