{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "odr-overview" %}
{% trans_default_domain translationDomain %}

{% block pageTitle %}{{ 'page.htmlTitle' | trans }} {% endblock %}
{% block contentClass %}page-report-content report-overview{% endblock %}

{% block pageContent %}
<div id="pagebody">
    <div id="pagebody-left-content">

        <header class="page-report-header">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">{{ 'heading.title' | trans }}</span>
                {{ client.fullname }}
            </h1>
        </header>

        {#{% if odrStatus.isReadyToSubmit and odr.isDue %}#}
            {#<div id="header-report-submit" class="hero">#}
                {#<h2 class="heading">{{ 'reportIsReady' | trans() }}</h2>#}
                {#<div class="message"><a class="button-grey submit-link" href="{{ path('report_review', {'reportId': report.id}) }}">{{ 'signAndSubmit' | trans() }}</a></div>#}
            {#</div>#}
        {#{% endif %}#}

        <div id="report-period-due">
            <div id="report-due" class="labelvalue">
                <div class="label">{{ 'dueDate' | trans() }}:</div>
                <div class="value">???</div>
            </div>
        </div>
        {% include 'AppBundle:Odr/Index:_sections.html.twig' with {
           odr: odr
        } %}
    </div>
    <div id="pagebody-right-content">
        {%include 'AppBundle:Components:_helpline.html.twig' %}
        {%include 'AppBundle:Odr/Index:_status.html.twig' with { odr: odr } %}
    </div>
</div>
{% endblock %}
