{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'uploadUsers' %}

{% set navSection = 'users' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block supportTitleTop %}{{ (page ~ '.supportTitle') | trans }}{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

{% if nOfChunks %}
<p class="govuk-body">
    {{ (page ~ '.uploading.beforeMarkupText') | trans }}<br>
    {{ (page ~ '.uploading.afterMarkupText') | trans }}
</p>

<progress id="uploadProgress" value="0" max="{{ nOfChunks + 1 }}" data-path-pre-registration-delete-ajax="{{ path('pre_registration_delete_ajax') }}" data-path-pre-registration-add-ajax="{{ path('pre_registration_add_ajax') }}" data-path-pre-registration-upload="{{ path('pre_registration_upload') }}" class="js-upload-progress">
{% else %}
<div class="data">
    <span class="data-item govuk-!-font-size-80 govuk-!-font-weight-bold">{{ currentRecords }}</span>
    <span class="data-item govuk-!-font-size-19 govuk-!-font-weight-bold">{{ (page ~ '.usersInTheDB') | trans }}</span>
</div>

<div class="govuk-grid-row">
    {% if fileUploadedInfo['date'] != null %}
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Process S3 file</h2>
        {% if processStatus == 'completed' %}
            <p class="govuk-!-margin-0 govuk-!-margin-bottom-2">Status: Last completed {{ processStatusDate|date('d/m/Y - H:i:s A') }}</span></p>
        {% else %}
            <p class="govuk-!-margin-0 govuk-!-margin-bottom-2">Status: {{ processStatus == 'processing' ? 'Currently processing' : '' }}</span></p>
        {% endif %}
        <p class="govuk-!-margin-0 govuk-!-margin-bottom-1">S3 Filename: {{ fileUploadedInfo['fileName'] }}</p>
        <div class="govuk-hint">Time uploaded: {{ fileUploadedInfo['date']|date('d/m/Y - H:i:s A') }}</div>
        {{ form_start(processForm) }}
        {{ form_submit(processForm.process, 'uploadPA.process') }}
        {{ form_end(processForm) }}
    </div>
    {% endif %}
</div>
{% endif %}

{% endblock %}
