{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-deputy-expenses" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

<dl class="govuk-summary-list columns-2 push-double--bottom">
    {{ macros.summaryListHeaderQA(hideEditLink) }}
    <div class="govuk-summary-list__row behat-region-paid-for-anything">
        <dt class="govuk-summary-list__key">
            {{ 'existPage.form.paidForAnything.label' | trans(transOptions)  }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ report.paidForAnything | capitalize }}
        </dd>
        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ path('deputy_expenses_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>
</dl>

{% if report.expenses | length > 0 %}
    <div class="grid-row">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of expenses</h2>
        </div>
        {% if not hideEditLink %}
            <div class="column-half text--right">
                <a href="{{ path('deputy_expenses_add', { 'reportId': report.id, 'from': 'summary'}) }}" class="bold-small move-quarter--up action-link behat-link-add">
                    <span class="icon icon-plus"></span>
                    {{ 'summaryPage.addButton' | trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}

{% if report.expenses | length > 0 %}
    <dl class="govuk-summary-list columns-3">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Description of expense
            </dt>
            {% if report.canLinkToBankAccounts %}
                <dd class="govuk-summary-list__key">
                    Bank account
                </dd>
            {% endif %}
            <dd class="govuk-summary-list__key text--right">
                Amount
            </dd>
            {% if not hideEditLink %}
                <dd class="govuk-summary-list__actions">
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </dd>
            {% endif %}
        </div>

        {% for expense in report.expenses %}
            <div class="govuk-summary-list__row behat-region-expense-{{ expense.explanation | behat_namify }}">
                <dt class="govuk-summary-list__key">
                    {{ expense.explanation }}
                </dt>
                {% if report.canLinkToBankAccounts %}
                    <dd class="govuk-summary-list__value">
                        {{ (expense.bankAccount) ? expense.bankAccount.nameOneLine : '-' }}
                    </dd>
                {% endif %}
                <dd class="govuk-summary-list__value numeric-small">
                        £{{ expense.amount | money_format }}
                </dd>
                {% if not hideEditLink %}
                    <dd class="govuk-summary-list__actions">
                        <a href="{{ path('deputy_expenses_edit', { 'reportId': report.id, 'expenseId': expense.id }) }}" class="behat-link-edit govuk-link">{{ 'edit' | trans({}, 'common') }}</a>
                        <a href="{{ path('deputy_expenses_delete', { 'reportId': report.id, 'expenseId': expense.id }) }}" class="push-half--left govuk-link behat-link-delete">{{ 'remove' | trans({}, 'common' ) }}</a>
                    </dd>
                {% endif %}
            </div>
        {% endfor %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <span class="bold-small">Total amount</span>
            </dt>
            {% if report.canLinkToBankAccounts %}
                <dd class="govuk-summary-list__value"></dd>
            {% endif %}
            <dd class="govuk-summary-list__value numeric-small">
                <span class="bold-small behat-region-expense-total">£{{ report.expensesTotal | money_format }}</span>
            </dd>
            {% if not hideEditLink %}
                <dd class="govuk-summary-list__actions"></dd>
            {% endif %}
        </div>
    </dl>
{% endif %}
