{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% set isLayDeputy = not user.isDeputyOrg %}

{% if report.submitted == false %}
    {% if not report.isDue or report.isDue and not reportStatus.isReadyToSubmit %}
        {% set preview = true %}
        {% set page = 'preview' %}
    {% else %}
        {% set preview = false %}
        {% set page = 'review' %}
    {% endif %}
{% else %}
    {% set preview = false %}
    {% set page = 'submitted' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block supportTitleTop %}{{ ('supportTitleTop') | trans({'startYear': report.startDate | date('Y'),'endYear': report.endDate | date('Y') }) }}{% endblock %}
 {% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="{{ 'stylesheets/formatted-report.css' | assetUrl }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumbs %}
    {% if report.submitted == true %}
        {% if isLayDeputy %}
            <a id="back-to-reports" href="{{ backLink }}"
               class="govuk-link link-back behat-link-back-to-reports">{{ 'back' | trans({}, 'common' ) }}</a>
        {% else %}
            <a id="back-to-client" href="{{ backLink }}"
               class="govuk-link link-back behat-link-return-to-client-profile">{{ 'page.returnToClientProfile' | trans({}, 'report-submitted') }}</a>
        {% endif %}
    {% else %}
        {{ macros.breadcrumbs(report) }}
    {% endif %}
{% endblock %}

{% block pageContent %}

    <div class="push--bottom">
        {% if report.submitted == false %}
        <p class="govuk-body">{{ (page ~ '.para1') | trans() }}</p>
        <p class="govuk-body">{{ (page ~ '.para2') | trans() }}</p>
        <div class="govuk-button-group">
            {% if preview %}
                <a class="govuk-button" data-module="govuk-button"
                   href="{{ path("report_overview" , {'reportId': report.id }) }}">
                    {{ 'incomplete.backToEditingReport' | trans() }}
                </a>
            {% else %}
                <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
                   href="{{ path("report_overview" , {'reportId': report.id }) }}">
                    {{ 'incomplete.backToEditingReport' | trans() }}
                </a>

                <a class="govuk-button" data-module="govuk-button"
                   href="{{ path("report_declaration" , {'reportId': report.id }) }}">
                    {{ 'review.continueToDeclarationButton' | trans({}, 'report-display') }}
                </a>
            {% endif %}
            {% else %}
                <a class="button" href="{{ backLink }}">
                    {% if isLayDeputy %}
                        {{ 'backToYourReports' | trans({}, 'common') }}
                    {% else %}
                        {{ 'backToClientProfile' | trans({}, 'common') }}
                    {% endif %}
                </a>
            {% endif %}
        </div>
        <div>
            <span class="opg-text--secondary">{{ 'pdfDraftSentence' | trans() }}</span>
            <a class="govuk-link button-link behat-link-download-pdf js-trackDownloadLink"
               href="{{ path('report_pdf', {'reportId': report.id}) }}">
                <i class="icon icon-pdf"></i>{{ 'downloadAsPdf' | trans() }}
            </a>
        </div>

    </div>

    <div class="push--bottom">
        <div class="opg-border--secondary">
            {% include '@App/Report/Formatted/formatted_body.html.twig' %}
        </div>
    </div>

    <div class="govuk-!-padding-bottom-4">
        <a class="govuk-link button-link behat-link-download-pdf js-trackDownloadLink"
           href="{{ path('report_pdf', {'reportId': report.id}) }}">
            <i class="icon icon-pdf"></i>{{ 'downloadAsPdf' | trans() }}
        </a>
    </div>

    {% if report.submitted == false %}
        <div class="govuk-button-group">
            {% if preview %}
                <a class="govuk-button" href="{{ path("report_overview" , {'reportId': report.id }) }}">
                    {{ 'incomplete.backToEditingReport' | trans() }}
                </a>
            {% else %}
                <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
                   href="{{ path("report_overview" , {'reportId': report.id }) }}">
                    {{ 'incomplete.backToEditingReport' | trans() }}
                </a>

                <a class="govuk-button" data-module="govuk-button"
                   href="{{ path("report_declaration" , {'reportId': report.id }) }}">
                    {{ 'review.continueToDeclarationButton' | trans({}, 'report-display') }}
                </a>
            {% endif %}
        </div>
    {% else %}
        <a class="button" href="{{ backLink }}">
            {% if isLayDeputy %}
                {{ 'backToYourReports' | trans({}, 'common') }}
            {% else %}
                {{ 'backToClientProfile' | trans({}, 'common') }}
            {% endif %}
        </a>
    {% endif %}


{% endblock %}
