{% import 'AppBundle:Macros:macros-review.html.twig' as macros %}

{% if report.actionMoreInfo %}
    <div class="section" id="action-section">
        <h2 class="section-heading">Any other information</h2>

<<<<<<< HEAD
        <div class="dont-break">
            <div class="box">
                <h3 class="label question bold">{{ title }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if report.actionMoreInfo == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="value checkbox">{% if report.actionMoreInfo == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </table>

                {% if report.actionMoreInfo == 'yes' %}
                    <div class="labelvalue">
                        <div class="label question flush--bottom">More details</div>
                        <div class="value">{{ report.actionMoreInfoDetails | nl2br }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
=======
        {{ macros.answerYesNo({
            question: title,
            answer: report.actionMoreInfo,
            moreDetails: report.actionMoreInfoDetails,
            showMoreDetailsWith: 'yes'
        }) }}
>>>>>>> 06458f8ff86df950b8694196f4e6b8d1fd9b73b6

    </div>
{% endif %}
