{% if report.wishToProvideDocumentation %}
    <div class="section" id="action-section">
        <h2 class="section-heading">Documents</h2>

        <div class="dont-break">
            <div class="box">
                <h3 class="label question bold">{{ title }}</h3>

                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if report.wishToProvideDocumentation == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                        <td class="value checkbox">{% if report.wishToProvideDocumentation == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    </tr>
                </table>

                {% if report.documentsExcludingReportPdf | length > 0 %}
                    <h3 class="label question bold push--top">Attached documents</h3>

                    <table class="table-within-box">
                        <thead>
                            <th class="text--left">Filename</th>
                            <th class="text--right">Date attached</th>
                        </thead>
                        <tbody class="behat-region-document-list">
                            {% for document in report.documentsExcludingReportPdf %}
                                <tr>
                                    <td class="text--left">{{ document.fileName }}</td>
                                    <td class="text--right">{{ document.createdOn | date("j F Y H:i") }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

    </div>
{% endif %}
