<div class="section" id="deputy-client-information-section">
    <h2>
        <span class="section-number">Section 1</span>
        Deputy and client information
    </h2>            
    <fieldset class="single-field-fieldset three-quarter-width" id="case-number">
        <div class="label left-label">Case number</div>
        <div class="value right-value" id="caseNumber">{{ client.getCaseNumber }}</div>
    </fieldset>
    <fieldset class="case-number-subsection three-quarter-width">
        <h3>Reporting period</h3>
        
        <div class="form-group form-group-vertical half-width" id="report-start-date">
            <div class="label">Start date</div>
            <div class="value">{{ report.startDate | date("d / m / Y") }}</div>
        </div>
        
        <div class="form-group form-group-vertical half-width" id="report-end-date">
            <div class="label">End date</div>
            <div class="value">{{ report.endDate | date("d / m / Y") }}</div>
        </div>
    </fieldset>
    <fieldset id="deputy-details-subsection" class="extended-down half-width">
        <h3>Deputy details</h3>
        
        <div class="form-group form-group-vertical">
            <div class="label">First names</div>
            <div class="value">{{deputy.firstname}}</div>
        </div>
        
        <div class="form-group form-group-vertical">
            <div class="label">Last name</div>
            <div class="value">{{deputy.lastname}}</div>
        </div>
        
        <div class="form-group form-group-vertical">
            <div class="label">Address</div>
            <div class="textarea address-value">
                {{ deputy.address1 }}<br/>
                {{ deputy.address2 }}<br/>
                {{ deputy.address3 }}<br/>
                {{ deputy.addressPostcode }}
            </div>
        </div>
        
        <div class="form-group form-group-vertical">
            <div class="label">Telephone number</div>
            <div class="value">{{deputy.phoneMain}}</div>
        </div>        
    </fieldset>        
    <fieldset class="client-details-subsection half-width right" id="client-details-subsection">
        <h3>Client details</h3>
        
        <div class="form-group form-group-vertical">
            <div class="label">First names</div>
            <div class="value">{{ client.firstname }}</div>
        </div>
        
        <div class="form-group form-group-vertical">
            <div class="label">Last name</div>
            <div class="value" id="ClientLastName">{{ client.lastname }}</div>
        </div>
        
        <div class="form-group form-group-vertical">
            <div class="label">Address</div>
            <div class="textarea address-value">
                {{ client.address }}<br/>
                {{ client.address2 }}<br/>
                {{ client.county }}<br/>
                {{ client.postcode }}
            </div>
        </div>
        
        <div class="form-group form-group-vertical">
            <div class="label">Telephone number</div>
            <div class="value">{{client.phone}}</div>
        </div>
    </fieldset>
    <fieldset class="full-width-extension">
        <div class="form-group form-group-vertical" id="deputy-email">
            <div class="label">Email (optional)</div>
            <div class="value">{{deputy.email}}</div>
        </div>
    </fieldset>
</div>