<div class="section" id="contacts-section">
    <h2>
        <span class="section-number">Section 3</span>
        People you consulted
    </h2>
                    
    {% if report.contacts | length == 0 %}
        <fieldset class="contact-item no-contact">
            <div class="form-group right-label">
                <div class="checkbox">X</div>
                <label>Check this box if you did not consult anyone and use the box below to tell us why.</label>
            </div>
            <div class="form-group form-group-vertical">
                <div class="textarea address-value">{{ report.reasonForNoContacts }}</div>
            </div>
        </fieldset>
    {% else %}
        <ul class="contacts-list">
            {% for contact in contacts %}
                <li class="contact-item">
                    <fieldset>
                        <div class="half-width">
                            <div class="form-group form-group-vertical">
                                <div class="label">Full name</div>
                                <div class="value">{{ contact.contactName }}</div>
                            </div>
                            <div class="form-group form-group-vertical">
                                <div class="label">Address</div>
                                <div class="textarea address-value">
                                    {{ contact.address }}<br/>
                                    {{ contact.address2 }}<br/>
                                    {{ contact.county }}<br/>
                                    {{ contact.postcode }}<br/>
                                    {{ contact.country | country_name }}
                                </div>
                            </div>
                        </div>
                        <div class="half-width">
                            <div class="form-group form-group-vertical">
                                <div class="label">Relationship to client</div>
                                <div class="value">{{ contact.relationship }}</div>
                            </div>
                            <div class="form-group form-group-vertical">
                                <div class="label">Why did you consult them?</div>
                                <div class="textarea">{{ contact.explanation }}</div>
                            </div>
                        </div>
                    </fieldset>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>