{% set translationDomain = "report-debts" %}
{% trans_default_domain translationDomain %}

<div class="section" id="debts-section">
    <h2 class="section-heading">Client's debts</h2>

    {% if report.hasDebts is null %}
        <div class="box">
            <div class="label question bold">Does the client have any debts?</div>
            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="value checkbox">X</td>
                    <td class="label">My client has no debts</td>
                </tr>
            </table>
        </div>
    {% else %}
        <div class="dont-break">
            <div class="box">
                {% if report.hasDebts == 'yes' %}
                    <table class="labelvalue ">
                        {% for d in debts %}
                            <tr class="{% if d.amount == 0 %}{{ d.amount }}disable{% endif %}">
                                <td class="label">{{ ('form.entries.' ~ d.debtTypeId ~ '.label') | trans }}</td>
                                <td class="value text--right width-fifth">&pound;{{ d.amount | money_format }}</td>
                            </tr>
                            {% if d.hasMoreDetails %}
                                <tr>
                                    <td colspan="2" class="hard noborder">
                                        <div class="labelvalue soft-half--top">
                                            <div class="label">More details about the other debts</div>
                                            <div class="value">{{ d.moreDetails | nl2br }}</div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endif %}
            </div>

            {% if report.hasDebts == 'yes' %}
                {# total value #}
                <div class="box total">
                    <div class="labelvalue inline">
                        <div class="label">Debts Total Value</div>
                        <div class="value" id="assetsTotal">&pound;{{ report.debtsTotalValue | money_format }}</div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>


