{% set translationDomain = "report-prof-deputy-costs-estimate" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
<pre>{{ dump(report) }}</pre>
<div class="section break-before" id="prof-deputy-costs-estimate-section">
    <h2 class="section-heading">{{ 'startPage.pageTitle'|trans }}</h2>
    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-how-charged>
            <h3 class="label question bold">{{ 'howCharged.form.profDeputyCostsEstimateHowCharged.label'|trans }}</h3>
            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="value">
                        {{ 'howCharged(report.profDeputyCostsEstimateHowCharged) '}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-breakdown>
            <h3 class="label question bold">{{ 'breakdown.pageSectionDescription'|trans }}</h3>
            <table class="labelvalue money">
            {% for otherCostTypeId in report.profDeputyEstimateCostTypeIds %}
                {%  set costRow = submittedEstimateCosts[estimateCostTypeId.typeId] %}
                <tr>
                    <td class="label">{{ ('breakdown.form.entries.' ~ estimateCostTypeId.typeId ~ '.label') | trans }}</td>
                    <td class="value total width-fifth">£{{ costRow['amount'] | money_format }}</td>
                </tr>
                {% if costRow.hasMoreDetails and costRow.moreDetails %}
                <tr>
                    <td class="label" data-prof-deputy-cost-estimtaes-breakdown-more-details>{{ ('breakdown.form.entries.' ~ estimateCostTypeId.typeId ~ '.moreInformationLabelSummary') | trans }}</td>
                    <td class="value total width-half">{{ costRow['moreDetails'] | nl2br }}</td>
                </tr>
                {% endif %}

            {% endfor %}
                <tr>
                    <td class="label" data-prof-deputy-cost-estimates-breakdown-total>{{ (page ~ '.totalEstimatedCosts') | trans(transOptions) }}</td>
                    <td class="value total width-half">£{{ report.profDeputyEstimateCostsTotal | money_format }}</td>
                </tr>            
            </table>
        </div>
    </div>

    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-estimate-has-more-info>
            <h3 class="label question bold">{{ 'moreInfo.form.profDeputyCostsEstimateHasMoreInfoSummary.yesno'|trans }}</h3>
            <table class="checkboxes labelvalue inline">
                <tr>                
                    <td class="value checkbox">{% if report.profDeputyCostsEstimateHasMoreInfo == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                    <td class="label">{{ 'yes' | trans({}, 'common') }}</td>
                    <td class="value checkbox">{% if report.profDeputyCostsEstimateHasMoreInfo == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                    <td class="label">{{ 'no' | trans({}, 'common') }}</td>
                </tr>
            </table>
            <div class="labelvalue push-half--top">
                <div class="value">{{ report.profDeputyCostsEstimateMoreInfoDetails | capitalize | trans }}</div>
            </div>            
        </div>
    </div>    
</div>
