{% set translationDomain = "report-declaration" %}
{% trans_default_domain translationDomain %}
{% if report.submitDate != "" %}
<div class="box">

    <h2 class="page-section-title heading-medium flush--top">
        {{ 'page.pageSectionTitle' | trans }}
    </h2>

    <p>{{ 'page.descriptionPara01' | trans }}</p>
    <p>{{ 'page.descriptionPara02' | trans }}</p>
    <p>{{ 'page.descriptionPara03' | trans }}</p>
    <p>{{ 'page.descriptionPara04' | trans }}</p>

    <div class="item">
        <dl class="labelvalue">
            <dt class="label">Declaration</dt>
            <dd class="value" id="declarationString">
                {{ ('agreedBehalfDeputy.' ~ report.agreedBehalfDeputy) | trans() }}
            </dd>
            {% if (report.agreedBehalfDeputy == 'more_deputies_not_behalf') %}
                <dt class="label">Reason</dt>
                <dd class="value">{{ report.agreedBehalfDeputyExplanation | nl2br }}</dd>
            {% endif %}
            <dt class="label">Declaration time</dt>
            <dd class="value">{{report.submitDate | date("H:i") }}&nbsp;&nbsp;&nbsp;{{report.submitDate | date("d/m/Y") }}</dd>
            <dt class="label">Deputy name</dt>
            <dd class="value" id="statusDeputyName">{{ deputy.fullname }}</dd>
        </dl>
    </div>
</div>
{% endif %}
