{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}
{% if report.hasSection('paDeputyExpenses') %}
    {% set accountsBalanceLabel = (page ~ '.form.accountsBalancePA') %}
{% else %}
    {% set accountsBalanceLabel = (page ~ '.form.accountsBalance') %}
{% endif %}
<h3 class="heading-medium underline">{{ (page ~ '.heading.money') | trans }}</h3>

<div class="form-section push--bottom">
    <div class="form-group-outer">
        {{ form_checkbox_group(form.openClosingBalancesMatch, (page ~ '.form.openClosingBalancesMatch'), {
            'fieldSetClass' : 'inline',
            'formGroupClass': 'push-half--bottom'
        }) }}
    </div>

    <details>
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.accountsBalances') | trans }}</span>
        </summary>

        <div class="panel panel-border-narrow">
            <div class="grid-row">
                <div class="column-one-half">

                    {% if report.previousReportData['financial-summary']['accounts'] is defined %}

                        <h3 class="heading-medium">
                            {{ (page ~ '.closingBalancesPrevReport') | trans }}
                            {% if report.previousReportData['report-summary']['type'] == 'ndr' %}
                                ({{ report.previousReportData['report-summary']['type'] | upper }})
                            {% endif %}
                        </h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>{{ 'bankAccount' | trans({}, 'common') }}</th>
                                    <th class="numeric">{{ 'amount' | trans({}, 'common') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for previousAccount in report.previousReportData['financial-summary']['accounts'] %}
                                    <tr>
                                        <td>{{ previousAccount.nameOneLine }}</td>
                                        <td class="numeric-small">£{{ previousAccount.closingBalance | money_format }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="no-border">
                                    <td class="bold">{{ 'totalAmount' | trans({}, 'common') }}</td>
                                    <td class="numeric-small">
                                        <span class="bold behat-region-checklist-closing-balance-previous-report">£{{ report.previousReportData['financial-summary']['closing-balance-total'] | money_format }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    {% else %}

                        <h3 class="heading-medium behat-region-checklist-no-previous-reports">{{ (page ~ '.closingBalancesPrevReportMissing') | trans }}</h3>

                    {% endif %}
                </div>

                <div class="column-one-half">

                    <h3 class="heading-medium">{{ (page ~ '.openingBalances') | trans }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'bankAccount' | trans({}, 'common') }}</th>
                                <th class="numeric">{{ 'amount' | trans({}, 'common') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in report.bankAccounts %}
                                <tr>
                                    <td>{{ account.getNameOneLine() }}</td>
                                    <td class="numeric-small">£{{ account.openingBalance | money_format }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="no-border">
                                <td class="bold">{{ 'totalAmount' | trans({}, 'common') }}</span></td>
                                <td class="numeric-small">
                                    <span class="bold behat-region-checklist-accounts-opening-total">£{{ report.accountsOpeningBalanceTotal | money_format }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {% if report.previousReportData['financial-summary']['accounts'] is defined %}

                <h3 class="heading-medium">
                    {{ (page ~ '.balanceDifference') | trans }}: £{{ (report.accountsOpeningBalanceTotal - report.previousReportData['financial-summary']['closing-balance-total']) | money_format }}
                </h3>

            {% endif %}

        </div>
    </details>
</div>

<div class="form-section push--bottom">
    <div class="form-group-outer border-top soft--top">
        {{ form_checkbox_group(form.accountsBalance, accountsBalanceLabel, {
            'fieldSetClass' : 'inline',
            'formGroupClass': 'push-half--bottom'
        }) }}
    </div>

    {# Don't show Account Balance Summary for 103 #}
    {% if report.type not in ['103', '103-4'] %}

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.accountsBalanceSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Balance table #}
                    {% include 'AppBundle:Report/Balance:_balance_table.html.twig' with {
                        hideEditLink: true
                    } %}

                    {# Difference table #}
                    {% include 'AppBundle:Report/Balance:_difference_table.html.twig' with {
                        hideEditLink: true
                    } %}

                    {% if not report.totalsMatch %}
                        <h3 class="heading-medium">{{ 'form.explanation.label' | trans({}, 'report-balance') }}</h3>
                        <table class="check-your-answers columns-2 push--bottom">
                            {{ macros.summaryTableHeaderQA(true) }}
                            <tbody>
                                <tr>
                                    <td>{{ 'cantFind.reasonNotBalancing' | trans({}, 'report-balance') }}</td>
                                    <td>{{ report.balanceMismatchExplanation | nl2br }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </details>
    {% endif %}
</div>

<div class="form-section">
    <div class="form-group-outer border-top soft--top">
        {{ form_checkbox_group(form.moneyMovementsAcceptable, (page ~ '.form.moneyMovementsAcceptable'), {
            'fieldSetClass' : 'inline',
            'formGroupClass': 'push-half--bottom'
        }) }}
    </div>

    {# Don't show money transfers for 103 #}
    {% if report.type not in ['103', '103-4'] %}
        <details>
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.moneyTransfersSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/MoneyTransfer:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>
    {% endif %}

    <details>
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.moneyInSummary') | trans }}</span>
        </summary>
        <div class="panel panel-border-narrow">
            <div>
                {# Questions and answers table #}
                {% if report.type in ['102', '102-4'] %}
                    {% include 'AppBundle:Report/MoneyIn:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                {% elseif report.type in ['103', '103-4'] %}
                    {% include 'AppBundle:Report/MoneyInShort:_answers.html.twig' with {
                        hideEditLink: true
                    } %}
                {% endif %}
            </div>
        </div>
    </details>

    <details class="push--bottom">
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.moneyOutSummary') | trans }}</span>
        </summary>
        <div class="panel panel-border-narrow">
            <div>
                {# Questions and answers table #}
                {% if report.type in ['102', '102-4'] %}
                    {% include 'AppBundle:Report/MoneyOut:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                {% elseif report.type in ['103', '103-4'] %}
                    {% include 'AppBundle:Report/MoneyOutShort:_answers.html.twig' with {
                        hideEditLink: true
                    } %}
                {% endif %}
            </div>
        </div>
    </details>

</div>
