{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-prof-current-fees" %}
{% trans_default_domain translationDomain %}
{% set page = 'summaryPage' %}

{# Page Titles #}
{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% set hasAssessedCostsFees = report.currentAssessedServiceFees | length > 0 %}
{% set hasFixedFees = report.currentFixedServiceFees | length > 0 %}

{% block pageContent %}

    {# Introduction text #}
    <div class="text">
        <p>{{ (page ~ '.pageSectionDescription') | trans }}</p>
    </div>

    {# Check answers text #}
    <h2 class="heading-small">{{ 'weHaveListed' | trans({}, 'common') }}</h2>
    <p class="text">{{ 'checkCorrect' | trans({}, 'common') }}</p>

    {# Return to overview/client profile link #}
    {{ macros.returnToOverview(report) }}

    {# only show the initial question if it's set to "no" #}
    {% if report.currentProfPaymentsReceived == 'no' %}
        <table class="check-your-answers columns-2 push-double--bottom">
            <thead>
            <tr>
                <th>{{ 'question' | trans({}, 'common') }}</th>
                <th>{{ 'answer' | trans({}, 'common') }}</th>
                <th>
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="behat-region-has-fees">
                <td>
                    {{ 'existPage.form.hasFees.label' | trans }}
                </td>
                <td>
                    {{ report.currentProfPaymentsReceived | trans({}, 'common') }}
                </td>
                <td class="change-answer">
                    <a href="{{ path('prof_current_fees_exist', { 'reportId': report.id }) }}"
                       class="behat-link-edit-exist">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    {# yes scenario: show fees and last question #}
    {% if report.currentProfPaymentsReceived == 'yes' %}
        <div class="grid-row push--top">
            <div class="column-half">
                <h2 class="heading-medium flush--ends">{{ (page ~ '.table.heading') | trans }}</h2>
            </div>
            <div class="column-half text--right">
                <a href="{{ path('current_service_fee_step', { 'reportId': report.id, 'step': 1, 'from':'summary' }) }}"
                   class="bold-small move-quarter--up action-link behat-link-add">
                    <span class="icon icon-plus"></span>
                    {{ 'summaryPage.addButton' | trans }}
                </a>
            </div>
        </div>


        {# fixed fees #}
        {% if hasFixedFees %}
            <h3 class="heading-small--table">{{ (page ~ '.table.subheading.fixed') | trans }}</h3>
            <table class="check-your-answers behat-region-fixed-fees">
                <thead>
                <tr>
                    <th>{{ 'summaryPage.table.service' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.charged' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.received' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.dateReceived' | trans }}</th>
                    <th>
                        <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for fixedServiceFee in report.currentFixedServiceFees %}
                    <tr class="behat-region-service-fee-{{ fixedServiceFee.serviceTypeId }}">
                        <td class="width-third">{{ ('addTypePage.form.serviceType.' ~ fixedServiceFee.serviceTypeId) | trans }}</td>
                        <td class="width-sixth numeric-small">£{{ fixedServiceFee.amountCharged | money_format }}</td>
                        <td class="width-sixth numeric-small">£{{ fixedServiceFee.amountReceived | money_format }}</td>
                        <td class="width-fifth numeric-small no-wrap">
                            {{ fixedServiceFee.paymentReceivedDate ? fixedServiceFee.paymentReceivedDate | date("j F Y")  : '-' }}
                        </td>
                        <td class="change-answer width-seventh">
                            <a href="{{ path('current_service_fee_step', { 'reportId': report.id, 'feeId': fixedServiceFee.id, 'step': '1'}) }}"
                               class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                            <a href="{{ path('prof_service_fee_delete', { 'reportId': report.id, 'feeId': fixedServiceFee.id, 'from': 'summary'}) }}"
                               class="behat-link-delete push-half--left action-link">{{ 'remove' | trans({}, 'common') }}</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="no-border">
                    <td>
                        <span class="bold-small">{{ (page ~ '.table.total') | trans }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small">£{{ report.feeTotals['totalFixedFeesCharged'] | number_format }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small">£{{ report.feeTotals['totalFixedFeesReceived'] | number_format }}</span>
                    </td>
                    <td colspan="2"></td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        {# assessed fees #}
        {% if hasAssessedCostsFees %}
            <h3 class="heading-small--table">{{ (page ~ '.table.subheading.assessed') | trans }}</h3>
            <table class="check-your-answers">
                <thead>
                <tr>
                    <th>{{ 'summaryPage.table.service' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.charged' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.received' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.dateReceived' | trans }}</th>
                    <th>
                        <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for assessedServiceFee in report.currentAssessedServiceFees %}
                    <tr class="behat-region-assessed-fee-{{ assessedServiceFee.serviceTypeId }}">
                        <td class="width-third ">{{ ('addTypePage.form.serviceType.' ~ assessedServiceFee.serviceTypeId) | trans }}</td>
                        <td class="width-sixth numeric-small">
                            £{{ assessedServiceFee.amountCharged | money_format }}</td>
                        <td class="width-sixth numeric-small">
                            £{{ assessedServiceFee.amountReceived | money_format }}</td>
                        <td class="width-fifth numeric-small">
                            {{ assessedServiceFee.paymentReceivedDate ? assessedServiceFee.paymentReceivedDate | date("j F Y")  : '-' }}
                        </td>
                        <td class="change-answer width-seventh">
                            <a href="{{ path('current_service_fee_step', { 'reportId': report.id, 'feeId': assessedServiceFee.id, 'step': '1'}) }}"
                               class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                            <a href="{{ path('prof_service_fee_delete', { 'reportId': report.id, 'feeId': assessedServiceFee.id, 'from': 'summary'}) }}"
                               class="behat-link-delete push-half--left action-link">{{ 'remove' | trans({}, 'common') }}</a>

                        </td>
                    </tr>
                {% endfor %}
                <tr class="no-border">
                    <td>
                        <span class="bold-small">{{ (page ~ '.table.total') | trans }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small">£{{ report.feeTotals['totalAssessedFeesCharged'] | number_format }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small">£{{ report.feeTotals['totalAssessedFeesReceived'] | number_format }}</span>
                    </td>
                    <td colspan="2"></td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        {# show totals if assessed and fixed are both present #}
        {% if hasAssessedCostsFees and hasFixedFees %}
            <table class="check-your-answers push--bottom push-half--top">
                <tbody>
                <tr class="no-border-bottom">
                    <td class="text--right width-third grandtotals-border--transparent">
                        <span class="heading-medium">{{ (page ~ '.table.grandtotal') | trans }}</span>
                    </td>
                    <td class="numeric-small width-sixth grandtotals-border">
                        <span class="heading-medium behat-region-grand-total-charged">£{{ (report.feeTotals['totalAssessedFeesCharged'] + report.feeTotals['totalFixedFeesCharged']) | number_format }}</span>
                    </td>
                    <td class="numeric-small width-sixth grandtotals-border">
                        <span class="heading-medium behat-region-grand-total-received">£{{ (report.feeTotals['totalAssessedFeesReceived'] + report.feeTotals['totalFixedFeesReceived']) | number_format }}</span>
                    </td>
                    <td class="width-fifth"></td>
                    <td class="width-seventh"></td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        {# fees estimate question + Scco explanation given #}
        <table class="check-your-answers columns-2 push-double--bottom push--top">
            <thead>
            <tr>
                <th>{{ 'question' | trans({}, 'common') }}</th>
                <th>{{ 'answer' | trans({}, 'common') }}</th>
                <th>
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% set answerGiven = report.previousProfFeesEstimateGiven is not null %}
            <tr class="behat-region-previous-estimates">
                <td>
                    {% if answerGiven %}
                        {{ 'estCostsPage.form.estimateCosts.legend' | trans }}
                    {% else %}
                        <span class="error">
                        {{ 'estCostsPage.form.estimateCosts.legend' | trans }}
                      </span>
                    {% endif %}
                </td>
                <td>
                    {% if answerGiven %}
                        {{ report.previousProfFeesEstimateGiven | trans({}, 'common') }}
                    {% else %}
                        <span class="error-message">Please answer this question</span>
                    {% endif %}

                </td>
                <td class="change-answer">
                    <a href="{{ path('previous_estimates', { 'reportId': report.id, 'from': 'summary' }) }}"
                       class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                </td>
            </tr>
            {% if report.previousProfFeesEstimateGiven == 'yes' %}
                <tr class="behat-region-scco-reason">
                    <td>
                        {{ 'estCostsPage.form.profFeesEstimateSccoReason.label' | trans }}
                    </td>
                    <td>
                        {{ report.profFeesEstimateSccoReason | nl2br }}
                    </td>
                    <td class="change-answer">
                        <a href="{{ path('previous_estimates', { 'reportId': report.id, 'from': 'summary' }) }}"
                           class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endif %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(report, 'profCurrentFees') }}

{% endblock %}



