{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-prof-current-fees" %}
{% trans_default_domain translationDomain %}
{% set page = 'summaryPage' %}

{# Page Titles #}
{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    {# Introduction text #}
    <div class="text">
        <p>{{ (page ~ '.pageSectionDescription') | trans }}</p>
    </div>

    {# Check answers text #}
    <h2 class="heading-small">{{ 'weHaveListed' | trans({}, 'common') }}</h2>
    <p class="text">{{ 'checkCorrect' | trans({}, 'common') }}</p>

    {# Return to overview/client profile link #}
    {{ macros.returnToOverview(report) }}

    <table class="check-your-answers columns-2 push-double--bottom">
        <thead>
            <tr>
                <th>{{ 'question' | trans({}, 'common') }}</th>
                <th>{{ 'answer' | trans({}, 'common') }}</th>
                <th>
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="behat-region-paid-for-anything">
                <td>
                    {{ 'existPage.form.hasFees.label' | trans  }}
                </td>
                <td>
                    {{ report.currentProfPaymentsReceived | trans({}, 'common') }}
                </td>
                <td class="change-answer">
                    <a href="{{ path('prof_current_fees_exist', { 'reportId': report.id }) }}" class="behat-link-edit-exist">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    {% if (assessedServiceFees|length) or (fixedServiceFees|length) %}

        <div class="grid-row push--top">
            <div class="column-half">
                <h2 class="heading-medium flush--ends">{{ (page ~ '.table.heading') | trans }}</h2>
            </div>
            <div class="column-half text--right">
                <a href="{{ path('current_service_fee_step', { 'reportId': report.id, 'step': 1 }) }}" class="bold-small move-quarter--up action-link behat-link-add">
                    <span class="icon icon-plus"></span>
                    {{ 'summaryPage.addButton' | trans }}
                </a>
            </div>
        </div>

    {% endif %}

    {% if fixedServiceFees|length %}

        <h3 class="heading-small--table">{{ (page ~ '.table.subheading.fixed') | trans }}</h3>

        <table class="check-your-answers behat-region-list-accounts">
            <thead>
                <tr>
                    <th>{{ 'summaryPage.table.service' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.charged' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.received' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.dateReceived' | trans }}</th>
                    <th>
                        <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                </tr>
            </thead>

            <tbody>

            {% for fixedServiceFee in fixedServiceFees %}
                <tr class="behat-region-transaction-">
                    <td class="width-third">{{ ('addTypePage.form.serviceType.' ~ fixedServiceFee.serviceTypeId) | trans }}</td>
                    <td class="width-sixth numeric-small">£{{ fixedServiceFee.amountCharged | money_format }}</td>
                    <td class="width-sixth numeric-small">£{{ fixedServiceFee.amountReceived | money_format }}</td>
                    <td class="width-fifth numeric-small no-wrap">{{ fixedServiceFee.paymentReceivedDate  | date("j F Y")}}</td>
                    <td class="change-answer width-seventh">
                        <a href="/report/{{ report.id }}/prof-service-fee/step/1/fee/{{ fixedServiceFee.id }}?from=summary" class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                        <a href="/report/{{ report.id }}/prof-service-fee/delete/fee/{{ fixedServiceFee.id }}?from=summary" class="behat-link-delete push-half--left action-link">{{ 'remove' | trans({}, 'common') }}</a>
                    </td>
                </tr>
            {% endfor %}

                <tr class="no-border">
                    <td>
                        <span class="bold-small">{{ (page ~ '.table.total') | trans }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small behat-region-household-bills-total">£{{ feeTotals['totalFixedFeesCharged'] | number_format }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small behat-region-household-bills-total">£{{ feeTotals['totalFixedFeesReceived'] | number_format }}</span>
                    </td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>

    {% endif %}

    {% if assessedServiceFees|length %}

        <h3 class="heading-small--table">{{ (page ~ '.table.subheading.assessed') | trans }}</h3>

        <table class="check-your-answers behat-region-list-accounts">
            <thead>
                <tr>
                    <th>{{ 'summaryPage.table.service' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.charged' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.received' | trans }}</th>
                    <th class="numeric">{{ 'summaryPage.table.dateReceived' | trans }}</th>
                    <th>
                        <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                </tr>
            </thead>

            <tbody>

            {% for assessedServiceFee in assessedServiceFees %}
                <tr>
                    <td class="width-third">{{ ('addTypePage.form.serviceType.' ~ assessedServiceFee.serviceTypeId) | trans }}</td>
                    <td class="width-sixth numeric-small">£{{ assessedServiceFee.amountCharged | money_format }}</td>
                    <td class="width-sixth numeric-small">£{{ assessedServiceFee.amountReceived | money_format }}</td>
                    <td class="width-fifth numeric-small">{{ assessedServiceFee.paymentReceivedDate  | date("j F Y")}}</td>
                    <td class="change-answer width-seventh">
                        <a href="/report/{{ report.id }}/prof-service-fee/step/1/fee/{{ assessedServiceFee.id }}" class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                        <a href="/report/{{ report.id }}/prof-service-fee/delete/fee/{{ assessedServiceFee.id }}?from=summary" class="behat-link-delete push-half--left action-link">{{ 'remove' | trans({}, 'common') }}</a>
                    </td>
                </tr>
            {% endfor %}

                <tr class="no-border">
                    <td>
                        <span class="bold-small">{{ (page ~ '.table.total') | trans }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small behat-region-household-bills-total">£{{ feeTotals['totalAssessedFeesCharged'] | number_format }}</span>
                    </td>
                    <td class="text--right">
                        <span class="bold-small behat-region-household-bills-total">£{{ feeTotals['totalAssessedFeesReceived'] | number_format }}</span>
                    </td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>

    {% endif %}

    {% if (assessedServiceFees|length) and (fixedServiceFees|length) %}

        <table class="check-your-answers push--bottom push-half--top">
            <tbody>
                <tr class="no-border-bottom">
                    <td class="text--right width-third grandtotals-border--transparent">
                        <span class="heading-medium">{{ (page ~ '.table.grandtotal') | trans }}</span>
                    </td>
                    <td class="numeric-small width-sixth grandtotals-border">
                        <span class="heading-medium">£{{ (feeTotals['totalAssessedFeesCharged'] + feeTotals['totalFixedFeesCharged']) | number_format }}</span>
                    </td>
                    <td class="numeric-small width-sixth grandtotals-border">
                        <span class="heading-medium">£{{ (feeTotals['totalAssessedFeesReceived'] + feeTotals['totalFixedFeesReceived']) | number_format }}</span>
                    </td>
                    <td class="width-fifth"></td>
                    <td class="width-seventh"></td>
                </tr>
            </tbody>
        </table>

    {% endif %}

    {% if report.previousProfFeesEstimateGiven is not  null %}

        <table class="check-your-answers columns-2 push-double--bottom push--top">
            <thead>
                <tr>
                    <th>{{ 'question' | trans({}, 'common') }}</th>
                    <th>{{ 'answer' | trans({}, 'common') }}</th>
                    <th>
                        <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="behat-region-paid-for-anything">
                    <td>
                        {{ 'estCostsPage.form.estimateCosts.legend' | trans }}
                    </td>
                    <td>
                        {{ report.previousProfFeesEstimateGiven | trans({}, 'common') }}
                    </td>
                    <td class="change-answer">
                        <a href="{{ path('previous_estimates', { 'reportId': report.id }) }}" class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                    </td>
                </tr>
                {% if report.profFeesEstimateSccoReason is not null %}
                    <tr class="behat-region-paid-for-anything">
                        <td>
                            {{ 'estCostsPage.form.profFeesEstimateSccoReason.label' | trans }}
                        </td>
                        <td>
                            {{ report.profFeesEstimateSccoReason }}
                        </td>
                        <td class="change-answer">
                            <a href="{{ path('previous_estimates', { 'reportId': report.id }) }}" class="behat-link-edit-fee action-link">{{ 'edit' | trans({}, 'common') }}</a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    {% endif %}

    {# Pagination #}
    {#{{ macros.reportSectionPrevNext(report, 'profCurrentFees') }}#}

    <nav class="pagination" role="navigation" aria-label="Pagination">
        <ul class="group">
            <li class="previous">
                <a title="Navigate to previous part" rel="prev" href="/report/{{ report.id }}/visits-care">
                    <span class="pagination-label">Previous section</span>
                    <span class="pagination-part-title">Visits and care</span>
                </a>
            </li>
            <li class="next">
                <a title="Navigate to next part" rel="next" href="/report/{{ report.id }}/gifts">
                    <span class="pagination-label">Next section</span>
                    <span class="pagination-part-title">Gifts</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}



