{% macro breadcrumbs(report) %}
    {% set isUserOdrEnabled = app.user.isOdrEnabled() %}
    {% set reportType = (report | class_name) == 'AppBundle\\Entity\\Odr\\Odr' ? 'odr' : 'report' %}

    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li>
                {# NDR users have a different homepage #}
                {% if isUserOdrEnabled %}
                    <a href="{{ path('odr_index') }}">Deputy Reports</a>
                {% else %}
                    <a href="{{ path('reports', {'cot': 2}) }}">Deputy Reports</a>
                {% endif %}
            </li>
            <li>
                {% if report == 'settings' %}
                    <a href="{{ path('account_settings') }}">Account settings</a>
                {% elseif reportType == 'report' %}
                    <a href="{{ path('report_overview', {'reportId': report.id}) }}"
                       class="behat-link-breadcrumbs-report-overview">Deputy report overview</a>
                {% elseif reportType == 'odr' %}
                    <a href="{{ path('odr_overview') }}" class="behat-link-breadcrumbs-odr-overview">New deputy
                        report overview</a>
                {% endif %}
            </li>
        </ol>
    </div>
{% endmacro %}

{% macro linkBack(report) %}
    <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="link-back behat-link-step-back">Back</a>
{% endmacro %}

{% macro linkBackStep(backLink,stepPage) %}
    <a href="{{ backLink }}" class="link-back behat-link-step-back">{{ stepPage }}</a>
{% endmacro %}

{% macro reportSectionPrevNext(report, currentSectionId) %}
    {% set config = [
    {'section':'reportOverview', 'link': path('report_overview', {'reportId': report.id})},
    {'section':'decisions', 'link': path('decisions', {'reportId': report.id})},
    {'section':'contacts', 'link': path('contacts', {'reportId': report.id})},
    {'section':'visitsCare','link': path('visits_care', {'reportId': report.id})},
    {'section':'bankAccounts','link': path('bank_accounts', {'reportId': report.id})},
    {'section':'moneyTransfers', 'link': path('money_transfers', {'reportId': report.id})},
    {'section':'moneyIn', 'link': path('money_in', {'reportId': report.id})},
    {'section':'moneyOut', 'link': path('money_out', {'reportId': report.id})},
    {'section':'assets', 'link': path('assets', {'reportId': report.id})},
    {'section':'debts', 'link': path('debts', {'reportId': report.id})},
    {'section':'actions', 'link': path('actions', {'reportId': report.id})},
    {'section':'reportOverview', 'link': path('report_overview', {'reportId': report.id})},
    ] %}

    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'section': currentSectionId,
        'config': config
    } %}
{% endmacro %}

{% macro odrSectionPrevNext(odr, currentSectionId) %}
    {# update with new sections when implemented #}
    {% set config = [
    {'section':'reportOverview', 'link': path('odr_overview')},
    {'section':'visitsCare','link': path('odr_visits_care', {'odrId': odr.id})},
    {'section':'bankAccounts','link': path('odr_bank_accounts', {'odrId': odr.id})},
    {'section':'assets','link': path('odr_assets', {'odrId': odr.id})},
    {'section':'actions', 'link': path('odr_actions', {'odrId': odr.id})},
    {'section':'other_info', 'link': path('odr_other_info', {'odrId': odr.id})},
    {'section':'reportOverview', 'link': path('odr_overview')},
    ] %}

    {# TODO move template out from here #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
    'section': currentSectionId,
    'config': config
    } %}
{% endmacro %}
