{% macro breadcrumbs(report) %}
    {% set isUserOdrEnabled = app.user.isOdrEnabled() %}
    {% set isPaUser = app.user.isDeputyPa() %}

    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            {% if not isPaUser %}
            <li>
                {# NDR users have a different homepage. Remove once NDR and non-NDR homepages are merged #}
                {% if isUserOdrEnabled %}
                    <a href="{{ path('odr_index') }}">Deputy reports</a>
                {% else %}
                    <a href="{{ path('reports', {'type': '102'}) }}">Deputy reports</a>
                {% endif %}
            </li>
            {% endif %}
            <li>
                {% if report.type == 'ndr' %}
                    <a href="{{ path('odr_overview', {'odrId': report.id}) }}" class="behat-link-breadcrumbs-odr-overview">
                        New deputy report overview</a>

                {% else %}
                    <a href="{{ path('report_overview', {'reportId': report.id}) }}"
                       class="behat-link-breadcrumbs-report-overview">
                        {% if isPaUser %}
                            Client profile
                        {% else %}
                            Deputy report overview
                        {% endif %}
                    </a>
                {% endif %}
            </li>
        </ol>
    </div>
{% endmacro %}

{% macro breadcrumbsSettings(section) %}
    <div class="breadcrumbs hard--bottom">
    <ol class="group">
        {% if app.user.isDeputyPa() %}
            <li>
                <a href="{{ path('pa_dashboard') }}">Dashboard</a>
            </li>
            {% if 'settings' in section and section != 'settings' %}
                <li>
                    <a href="{{ path('pa_settings') }}">Settings</a>
                </li>
            {% endif %}
            {% if 'team' in section and section != 'settings-team' %}
                <li>
                    <a href="{{ path('pa_team') }}">User accounts</a>
                </li>
            {% endif %}
            {% if section == 'settings-profile-edit' %}
                <li>
                    <a href="{{ path('pa_profile_show') }}">Your details</a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a href="{{ path('reports', {'type': '102'}) }}">Deputy reports</a>
            </li>
            {% if 'settings' in section and section != 'settings' %}
                <li>
                    <a href="{{ path('account_settings') }}">Deputyship details</a>
                </li>
            {% endif %}
            {% if section == 'settings-profile-edit' %}
                <li>
                    <a href="{{ path('user_show') }}">Your details</a>
                </li>
            {% endif %}
        {% endif %}
    </ol>
    </div>
{% endmacro %}

{% macro linkBack(report) %}
    <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="link-back behat-link-step-back">Back</a>
{% endmacro %}

{% macro linkBackStep(backLink,stepPage) %}
    {% if backLink %}
        <a href="{{ backLink }}" class="link-back behat-link-step-back">{{ stepPage }}</a>
    {% endif %}
{% endmacro %}

{% macro reportSectionPrevNext(report, currentSectionId) %}

    {% if report.type == 'ndr' %}
        {% set config = [
        {'section':'reportOverview', 'link': path('odr_overview', {'odrId': report.id})},
        {'section':'visitsCare','link': path('odr_visits_care', {'odrId': report.id})},
        {'section':'deputyExpenses','link': path('odr_deputy_expenses', {'odrId': report.id})},
        {'section':'incomeBenefits','link': path('odr_income_benefits', {'odrId': report.id})},
        {'section':'bankAccounts','link': path('odr_bank_accounts', {'odrId': report.id})},
        {'section':'assets','link': path('odr_assets', {'odrId': report.id})},
        {'section':'debts','link': path('odr_debts', {'odrId': report.id})},
        {'section':'actions', 'link': path('odr_actions', {'odrId': report.id})},
        {'section':'otherInfo', 'link': path('odr_other_info', {'odrId': report.id})},
        {'section':'reportOverview', 'transKey': reportOverviewTransKey, 'link': path('odr_overview', {'odrId': report.id})},
        ] %}
    {% else %}

        {# when all merged and stable, remove the section option and use the key #}
        {% set routeParams = {'reportId': report.id} %}

        {# all the possible section for all the reports (A-Z order) #}
        {% set allSectionsAvailable = {
            'actions': {'section':'actions', 'link': path('actions', routeParams)},
            'assets':  {'section':'assets', 'link': path('assets', routeParams)},
            'bankAccounts': {'section':'bankAccounts','link': path('bank_accounts', routeParams)},
            'contacts': {'section':'contacts', 'link': path('contacts', routeParams)},
            'debts': {'section':'debts', 'link': path('debts', routeParams)},
            'deputyExpenses': {'section': 'deputyExpenses','link': path('deputy_expenses', routeParams)},
            'decisions': {'section':'decisions', 'link': path('decisions', routeParams)},
            'documents': {'section':'documents', 'link': path('documents', routeParams)},
            'gifts': {'section':'gifts','link': path('gifts', routeParams)},
            'lifestyle': {'section':'lifestyle','link': path('lifestyle', routeParams)},
            'moneyTransfers': {'section':'moneyTransfers', 'link': path('money_transfers', routeParams)},
            'moneyIn': {'section':'moneyIn', 'link': path('money_in', routeParams)},
            'moneyOut': {'section':'moneyOut', 'link': path('money_out', routeParams)},
            'moneyInShort': {'section':'moneyInShort', 'link': path('money_in_short', routeParams)},
            'moneyOutShort': {'section':'moneyOutShort', 'link': path('money_out_short', routeParams)},
            'otherInfo': {'section':'otherInfo', 'link': path('other_info', routeParams)},
            'paDeputyExpenses': {'section': 'paFeeExpense','link': path('pa_fee_expense', routeParams)},
            'visitsCare': {'section':'visitsCare','link': path('visits_care', routeParams)},
        } %}

        {# Order for all the possible section in Lay and PA (*-6) reports #}
        {% set sectionIdOrder = ('-6' in report.type) ?
            [
                'decisions', 'contacts', 'visitsCare', 'lifestyle', 'paDeputyExpenses',
                'gifts', 'actions', 'otherInfo',
                'bankAccounts', 'moneyTransfers', 'moneyIn', 'moneyOut',
                'moneyInShort', 'moneyOutShort',
                'assets', 'debts', 'documents']
            : [
                'decisions', 'contacts', 'visitsCare', 'lifestyle', 'paDeputyExpenses', 'deputyExpenses', 'gifts',
                'actions', 'otherInfo',
                'bankAccounts', 'moneyTransfers',
                'moneyIn', 'moneyOut', 'moneyInShort', 'moneyOutShort',
                'assets', 'debts', 'documents'
            ]
        %}
        {# first and last link #}
        {% set mainPageLinkConfig = {'section':'reportOverview', 'transKey': (('-6' in report.type) ? 'clientProfile' : 'reportOverview'), 'link': path('report_overview', routeParams)} %}

        {# create config object using the order from `sectionIdOrder` #}
        {# checking if the section exists in the specific report type (API config) #}
        {# and copying  the config param from `allSectionsAvailable` #}
        {% set config = [mainPageLinkConfig] %}
        {% for sectionId in sectionIdOrder %}
            {% if report.hasSection(sectionId) %}
                {% set config = config | merge([allSectionsAvailable[sectionId]]) %}
            {% endif %}
        {% endfor %}
        {% set config = config | merge([mainPageLinkConfig]) %}

    {% endif %}

    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
    'section': currentSectionId,
    'config': config,
    } %}
{% endmacro %}

{% macro saveAndContinueButton(button) %}
    {{ form_submit(button, '', {
        'labelText': 'stepPage.saveAndContinue' | trans({}, 'common'),
        'buttonClass': 'behat-link-save-and-continue',
    }) }}
{% endmacro %}

{% macro addAnotherSaveButton(button) %}
    {{ form_submit(button, '', {
        'labelText': 'addAnotherPage.save' | trans({}, 'common'),
        'buttonClass': 'behat-link-save-and-continue',
    }) }}
{% endmacro %}

{% macro notification(alertType,message) %}
    {% if alertType is defined %}
        {% if alertType == 'notice' %}
            <div class="alert-notice panel panel-border-narrow">
                <span class="icon icon-notification"></span>
                <div class="alert-message"><p>{{ message | raw }}</p></div>
            </div>
        {% elseif alertType == 'success' %}
            <div class="alert-success panel panel-border-narrow">
                <span class="icon icon-tick"></span>
                <div class="alert-message"><p>{{ message | raw }}</p></div>
            </div>
        {% elseif alertType == 'error' %}
            <div class="alert-error panel panel-border-narrow">
                <span class="icon icon-cross"></span>
                <div class="alert-message"><p>{{ message | raw }}</p></div>
            </div>
        {% elseif alertType == 'info' %}
            <div class="alert-info panel panel-border-narrow">
                <span class="icon icon-information"></span>
                <div class="alert-message"><p>{{ message | raw }}</p></div>
            </div>
        {% elseif alertType == 'important' %}
            <div class="alert-important panel panel-border-narrow">
                <span class="icon icon-important-small"></span>
                <div class="alert-message"><p>{{ message | raw }}</p></div>
            </div>
        {% else %}
            <div class="alert panel panel-border-narrow">
                <div class="alert-message"><p>{{ message | raw }}</p></div>
            </div>
        {% endif %}
    {% else %}
        <div class="alert panel panel-border-narrow">
            <div class="alert-message">
                <p>{{ message | raw }}</p>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{# Return to overview / client profile link on the summary pages #}
{% macro returnToOverview(report) %}
    <p class="text--right flush--bottom">
        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="bold-small">
            {% if app.user.isDeputyPa() %}
                {{ 'summaryPage.pageContent.returnToClientProfile' | trans({}, 'common') }}
            {% else %}
                {{ 'summaryPage.pageContent.returnToReport' | trans({}, 'common') }}
            {% endif %}
        </a>
    </p>
{% endmacro %}
