{% macro breadcrumbs(report) %}
    {% set isUserOdrEnabled = app.user.isOdrEnabled() %}

    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li>
                {# NDR users have a different homepage. Remove once NDR and non-NDR homepages are merged #}
                {% if isUserOdrEnabled %}
                    <a href="{{ path('odr_index') }}">Deputy Reports</a>
                {% else %}
                    <a href="{{ path('reports', {'cot': 2}) }}">Deputy Reports</a>
                {% endif %}
            </li>
            <li>
                {% if report.type == 'ndr' %}
                    <a href="{{ path('odr_overview') }}" class="behat-link-breadcrumbs-odr-overview">
                        New deputy report overview</a>

                {% else %}
                    <a href="{{ path('report_overview', {'reportId': report.id}) }}"
                       class="behat-link-breadcrumbs-report-overview">
                        Deputy report overview</a>
                {% endif %}
            </li>
        </ol>
    </div>
{% endmacro %}

{% macro breadcrumbsSettings(section) %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li>
                <a href="{{ path('reports', {'cot': 2}) }}">Deputy Reports</a>
            </li>
            {% if section != 'home' %}
                <li>
                    <a href="{{ path('account_settings') }}">Your account</a>
                </li>
            {% endif %}
        </ol>
    </div>
{% endmacro %}

{% macro linkBack(report) %}
    <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="link-back behat-link-step-back">Back</a>
{% endmacro %}

{% macro linkBackStep(backLink,stepPage) %}
    {% if backLink %}
        <a href="{{ backLink }}" class="link-back behat-link-step-back">{{ stepPage }}</a>
    {% endif %}
{% endmacro %}

{% macro reportSectionPrevNext(report, currentSectionId) %}
    {% if report.type == constant('AppBundle\\Entity\\Report\\Report::TYPE_102') %}
        {% set config = [
        {'section':'reportOverview', 'link': path('report_overview', {'reportId': report.id})},
        {'section':'decisions', 'link': path('decisions', {'reportId': report.id})},
        {'section':'contacts', 'link': path('contacts', {'reportId': report.id})},
        {'section':'visitsCare','link': path('visits_care', {'reportId': report.id})},
        {'section':'deputyExpenses','link': path('deputy_expenses', {'reportId': report.id})},
        {'section':'gifts','link': path('gifts', {'reportId': report.id})},
        {'section':'bankAccounts','link': path('bank_accounts', {'reportId': report.id})},
        {'section':'moneyTransfers', 'link': path('money_transfers', {'reportId': report.id})},
        {'section':'moneyIn', 'link': path('money_in', {'reportId': report.id})},
        {'section':'moneyOut', 'link': path('money_out', {'reportId': report.id})},
        {'section':'assets', 'link': path('assets', {'reportId': report.id})},
        {'section':'debts', 'link': path('debts', {'reportId': report.id})},
        {'section':'actions', 'link': path('actions', {'reportId': report.id})},
        {'section':'otherInfo', 'link': path('other_info', {'reportId': report.id})},
        {'section':'reportOverview', 'link': path('report_overview', {'reportId': report.id})},
        ] %}
    {% elseif report.type == constant('AppBundle\\Entity\\Report\\Report::TYPE_103') %}
        {% set config = [
        {'section':'reportOverview', 'link': path('report_overview', {'reportId': report.id})},
        {'section':'decisions', 'link': path('decisions', {'reportId': report.id})},
        {'section':'contacts', 'link': path('contacts', {'reportId': report.id})},
        {'section':'visitsCare','link': path('visits_care', {'reportId': report.id})},
        {'section':'deputyExpenses','link': path('deputy_expenses', {'reportId': report.id})},
        {'section':'gifts','link': path('gifts', {'reportId': report.id})},
        {'section':'bankAccounts','link': path('bank_accounts', {'reportId': report.id})},
        {'section':'moneyInShort', 'link': path('money_in_short', {'reportId': report.id})},
        {'section':'assets', 'link': path('assets', {'reportId': report.id})},
        {'section':'debts', 'link': path('debts', {'reportId': report.id})},
        {'section':'actions', 'link': path('actions', {'reportId': report.id})},
        {'section':'otherInfo', 'link': path('other_info', {'reportId': report.id})},
        {'section':'reportOverview', 'link': path('report_overview', {'reportId': report.id})},
        ] %}
    {% elseif report.type == 'ndr' %}
        {% set config = [
        {'section':'reportOverview', 'link': path('odr_overview')},
        {'section':'visitsCare','link': path('odr_visits_care', {'odrId': report.id})},
        {'section':'deputyExpenses','link': path('odr_deputy_expenses', {'odrId': report.id})},
        {'section':'incomeBenefits','link': path('odr_income_benefits', {'odrId': report.id})},
        {'section':'bankAccounts','link': path('odr_bank_accounts', {'odrId': report.id})},
        {'section':'assets','link': path('odr_assets', {'odrId': report.id})},
        {'section':'debts','link': path('odr_debts', {'odrId': report.id})},
        {'section':'actions', 'link': path('odr_actions', {'odrId': report.id})},
        {'section':'otherInfo', 'link': path('odr_other_info', {'odrId': report.id})},
        {'section':'reportOverview', 'link': path('odr_overview')},
        ] %}
    {% endif %}

    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
    'section': currentSectionId,
    'config': config,
    } %}
{% endmacro %}

{% macro saveAndContinueButton(button) %}
    {{ form_submit(button, '', {
        'labelText': 'stepPage.saveAndContinue' | trans({}, 'common'),
        'buttonClass': 'behat-link-save-and-continue',
    }) }}
{% endmacro %}

{% macro addAnotherSaveButton(button) %}
    {{ form_submit(button, '', {
        'labelText': 'addAnotherPage.save' | trans({}, 'common'),
        'buttonClass': 'behat-link-save-and-continue',
    }) }}
{% endmacro %}