<li id="add-transfer-no-js">
    <h3 class="heading heading-small">Add a transfer</h3>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: '' } }) }}

    <div >
        <div class="column-one-half">
            {{ form_select(form.accountFromId, 'form.accountFrom') }}
        </div>
        <div class="column-one-half" >
            {{ form_select(form.accountToId, 'form.accountTo') }}
        </div>
    </div>
    <div  >
        <div class="column-one-half" >

            {{ form_input(form.amount, 'form.amount', {
                    'inputPrefix' : '£',
                    'inputClass' : 'form-control__number transaction-value',
                }) }}

        </div>
        <div class="column-one-half"></div>
    </div>

    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
    transDomain: translationDomain,
    section: 'transfer',
    showDelete: false,
    showCancel: false
    } %}

    {{ form_end(form) }}


</li>