<li class="card-item {{additionalClass is defined ? additionalClass : ''}}" data-id="{{ account.id}}">
    <input type="hidden" name="account[]" class="account" value="{{ account.id}}" />
    <div class="card" >
        <div class="account card-title"><span>{{ account.bank }} {{ account.accountTypeText }}</span>
            <span> </span>
            <span></span></div>
        <dl class="labelvalue">
            <dt class="label">Account number:</dt>
            <dd class="value"><span>****{{ account.accountNumber }}</span>
            </dd>
            {% if account.requiresBankNameAndSortCode %}
                <dt class="label">Sort code:</dt>
                <dd class="value">{{ account.sortCode }}</dd>
            {% else %}
                {# keep spacing #}
                <dt class="label">&nbsp;</dt>
                <dd class="value">&nbsp;</dd>
            {% endif %}
        </dl>
    </div>
</li>