{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-transfers" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-contacts-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}
    {% block info %}<span id="save-status"></span>{% endblock %}
    
    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        <p class="page-section-description">
            {{ 'page.pageSectionDescription'|trans({'%client%': report.client.firstname}, translationDomain ) }}
        </p>

        <ul id="transfers" class="card-list behat-region-transfers"    >
            {# transfers #}
            {% for transfer in report.moneyTransfers %}
                {% include 'AppBundle:MoneyTransfer:row.html.twig'%}
            {% endfor %}

            {# add one #}
            {% include 'AppBundle:MoneyTransfer:add-one.html.twig'%}
            {% include 'AppBundle:MoneyTransfer:add-one-no-js.html.twig'%}

            {# noTransfers checkbox option #}
            <div id="no-transfers" {% if report.moneyTransfers is not empty %}style="display: none"{% endif %}>
                {{ render(controller('AppBundle:MoneyTransfer:_noTransfersPartial', { 
                    'reportId': report.id, 
                    'request': app.request 
                })) }}
            </div>
            
        </ul>
        
        {# partial templates loaded via JS #}
        <div style="display: none">
            <ul class="card-lists"  id="account-cards-selection-ul">
                {% include 'AppBundle:MoneyTransfer:cards-select.html.twig' with { 
                    'accounts': report.accounts,
                    'additionalClass': 'not-expandable'
                 }%}
            </ul>

            <div id="transfers-add-one">
                {% include 'AppBundle:MoneyTransfer:add-one.html.twig'%}
            </div>
        </div>
        
        <script>
            // SAVE callback
            function saveTransfer(form){
                var idElement = form.find('input[name=id]');
                var isNewRecord = parseInt(idElement.val()) === 0;
                var fromVal = parseInt(form.find('input.account:nth(0)').val());
                var toVal = parseInt(form.find('input.account:nth(1)').val());
                var amountVal = parseFloat(form.find('input[name=amount]').val());
                var statusElement = $('#save-status');
                var formSelectionIsComplete = fromVal > 0 && toVal > 0 && amountVal > 0;
                
                if (!formSelectionIsComplete) {
                    return;
                }
                
                statusElement.text('Saving...');
                $.ajax({
                    type: (isNewRecord ? "POST" : "PUT"),
                    url: "{{ path('transfers_save_json', {'reportId': report.id}) }}",
                    data: form.serialize(),
                    dataType: "json",
                    success: function(data) {
                        statusElement.text('Saved');
                        // save ID into the input field for future editing before page reloading
                        if (isNewRecord) {
                            idElement.val(data.transferId);
                            // add new emtpy record for adding a new one
                            form.parents('li.transfer').after($('#transfers-add-one').html());
                    
                            //ADD INTO THE RIGHT PLACE !!!
                            // add DELETE button for this newly created row
                            form.find('.delete-button-container').html(
                                '<a class="button button-warning delete-button behat-link-delete-confirm" href="/report/{{ report.id }}/transfers/' + data.transferId + '">Delete</a>'                    
                            );
                            // remove noTransfers checkbox 
                            $('#report_no_transfers_noTransfersToAdd').attr('checked', false);
                            $('#no-transfers').hide();
                        }
                    },
                    error: function() {
                       statusElement.text('Not saved');
                    }
                });
            }
            // attach events
            $(document).ready(function () {
                $('#add-transfer-no-js,#report_no_transfers_saveNoTransfer').hide();
                $('.add-new-transfer-row').show();
                var statusElement = $('#save-status');
               
                
                $('#transfers')
                        // expand selection showing all the accounts
                        .on('click', '.card-item.expandable', function (e) {
                            e.stopPropagation();
                            $(this).parent('.card-list').html($('#account-cards-selection-ul').html());
                        })
                        // after selecting one account. remove all the others and toggle the not-expandable classes
                        .on('click', '.card-item.not-expandable', function (e) {
                            var cardId = $(this).data('id');
                            $(this).parent('ul.card-list').find('li').each(function(){
                                var el = $(this);
                                if (el.data('id') != cardId) {
                                    el.remove();
                                }
                                el.removeClass('not-expandable').addClass('expandable');
                            });
                            saveTransfer( $(this).parents('form'));
                        }).on('change', 'input.balance', function(){
                            saveTransfer( $(this).parents('form'));
                        }).on('click', '#report_no_transfers_noTransfersToAdd', function(){
                            
                            var form = $(this).parents('form');
                            $.ajax({
                                type: "POST",
                                url: "{{ path('transfers_no_transfers_json', {'reportId': report.id}) }}",
                                data: form.serialize(),
                                dataType: "json",
                                success: function() {
                                    statusElement.text('Saved');
                                },
                                error: function() {
                                   statusElement.text('Not saved');
                                }
                            });
                        }).on('click', '.delete-button', function(e){
                            e.preventDefault();
                            
                            var form = $(this).parents('form');
                            $.ajax({
                                type: "DELETE",
                                url: "{{ path('transfers_delete_json', {'reportId': report.id}) }}",
                                data: form.serialize(),
                                dataType: "json",
                                success: function() {
                                    var li = form.parents('li.transfer');
                                    li.remove();
                                    statusElement.text('Saved');
                                     //READD checkbox if needed
                                    if ($('#transfers li.transfer form input[name=id][value!=0]').length === 0) {
                                        $('#no-transfers').show();
                                    }
                                },
                                error: function() {
                                   statusElement.text('Not saved');
                                }
                            });
                        });
            });
        </script>

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("accounts" , {'reportId': report.id }),
        'previousLabel': 'Bank accounts',
        'nextLink': path("accounts_moneyin" , {'reportId': report.id }),
        'nextLabel': 'Money in'
        } %}
    {% endblock %}
{% endembed %}
