{% set translationDomain = "report-pa-fee-expense" %}
{% trans_default_domain translationDomain %}

{# @biggs: layout copied from debts #}

{% if report.hasFees == 'yes' %}

    {% set showDetailsColumn = false %}
    {% for fee in report.fees  %}
        {% if fee.moreDetails %}
            {% set showDetailsColumn = true %}
        {% endif %}
    {% endfor %}

    {# Items list heading #}
    <div class="grid-row behat-region-debts-list">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of deputy fees and expenses</h2>
        </div>
        <div class="column-half text--right">
            <a href="{{ path('pa_fee_expense_fee_edit', {'reportId': report.id, 'from': 'summary'}) }}" class="bold-small action-link behat-link-edit">Edit</a>
        </div>
    </div>

    {# Items list table #}
    {{ dump(showDetailsColumn) }}
    <table class="check-your-answers">
        <thead>
        <tr>
            <th>Description</th>
            {% if showDetailsColumn %}
                <th>Details</th>
            {% endif %}
            <th class="numeric">Amount</th>
        </tr>
        </thead>
        <tbody>

        {% for fee in report.fees %}
            <tr class="behat-region-debt-{{ fee.feeTypeId | behat_namify }}">
                <td>
                    {% set feeLabel = ('form.entries.' ~ fee.feeTypeId ~ '.label') | trans(transOptions) %}
                    {{ feeLabel }}
                </td>
                {% if showDetailsColumn %}
                    <td class="width-half">
                        {% if fee.moreDetails %}
                        {{ fee.moreDetails | nl2br }}
                    {% endif %}
                    </td>
                {% endif %}
                <td class="numeric-small">£{{ fee.amount | money_format }}</td>
            </tr>

        {% endfor %}
        <tr class="no-border">
            <td>
                <span class="bold-small">Total amount</span>
            </td>
            {% if showDetailsColumn %}
                <td></td>
            {% endif %}
            <td class="text--right">
                <span class="bold-small">£{{ report.feesTotalAmount | money_format }}</span>
            </td>
        </tr>
        </tbody>
    </table>

{% endif %}