{% set translationDomain = "report-pa-fee-expense" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

{% if report.hasFees == 'yes' %}

    {% set showDetailsColumn = false %}
    {% for fee in report.fees  %}
        {% if fee.moreDetails %}
            {% set showDetailsColumn = true %}
        {% endif %}
    {% endfor %}

    {# Items list heading #}
    <div class="grid-row behat-region-fees-list">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of deputy fees and expenses</h2>
        </div>
        {% if not hideEditLink %}
            <div class="column-half text--right">
                <a href="{{ path('pa_fee_expense_fee_edit', {'reportId': report.id, 'from': 'summary'}) }}" class="bold-small action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
            </div>
        {% endif %}
    </div>

    {# Items list table #}
    <dl class="govuk-summary-list push-double--bottom">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Categories of fees
            </dt>
            {% if showDetailsColumn %}
                <dd class="govuk-summary-list__key">
                    Details
                </dd>
            {% endif %}
            <dd class="govuk-summary-list__key">
                Amount
            </dd>
        </div>

        {% for fee in report.fees %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {% set feeLabel = ('form.entries.' ~ fee.feeTypeId ~ '.label') | trans(transOptions) %}
                {{ feeLabel }}
            </dt>
            {% if showDetailsColumn %}
                <dd class="govuk-summary-list__value">
                    {% if fee.moreDetails %}
                        {{ fee.moreDetails | nl2br }}
                    {% endif %}
                </dd>
            {% endif %}
            <dd class="govuk-summary-list__value numeric-small">
                £{{ fee.amount | money_format }}
            </dd>
        </div>
        {% endfor %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
                <span class="bold-small">Total amount</span>
            </dt>
            {% if showDetailsColumn %}
            <dd class="govuk-summary-list__value"></dd>
            {% endif %}
            <dd class="govuk-summary-list__value">
                <span class="bold-small">£{{ report.feesTotal | money_format }}</span>
            </dd>
        </div>
    </dl>
{% endif %}
