{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-pa-fee-expense" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

<dl class="govuk-summary-list">
    {{ macros.summaryListHeaderQA(false) }}
    <div class="govuk-summary-list__row behat-region-has-fees">
    {#
        Have you charged the client any fees or expensesfor your
        services during the reporting period?
    #}

        {% if report.hasFees is null %}
            <dt class="govuk-summary-list__key">
                <span class="error">
                    {{ 'feeExistPage.form.hasFees.label' | trans(transOptions) }}
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
            </dd>
        {% else %}
            <dt class="govuk-summary-list__key">
                {{ 'feeExistPage.form.hasFees.label' | trans(transOptions)  }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.hasFees | capitalize }}
            </dd>
        {% endif %}

        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ url('pa_fee_expense_fee_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>
    {% if report.reasonForNoFees %}
        <div class="govuk-summary-list__row behat-region-no-fees">
            <dt class="govuk-summary-list__key">
                Reason for not having charged the client any fees for your services during the reporting period
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.reasonForNoFees | nl2br }}
            </dd>
            {% if not hideEditLink %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link behat-link-edit" href="{{ path('pa_fee_expense_fee_exist', { 'reportId': report.id, 'from': 'summary'}) }}">
                        {{ 'edit' | trans({}, 'common') }}
                    </a>
                </dd>
            {% endif %}
        </div>
    {% endif %}
    {#
        Have you claimed any other expenses or fees outside
        of the practice direction?
    #}
    <div class="govuk-summary-list__row behat-region-paid-for-anything">
        {% if report.paidForAnything is null %}
            <dt class="govuk-summary-list__key">
                <span class="error">
                    {{ 'otherExistPage.form.paidForAnything.label' | trans(transOptions)  }}
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
            </dd>
        {% else %}
            <dt class="govuk-summary-list__key">
                {{ 'otherExistPage.form.paidForAnything.label' | trans(transOptions)  }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.paidForAnything | capitalize }}
            </dd>
        {% endif %}
        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ path('pa_fee_expense_other_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>
</dl>