{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-pa-fee-expense" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% block htmlTitle %}{{ 'editPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'editPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'editPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <h3 class="heading-small push--bottom">
        {{ 'editPage.pageSectionDescription' | trans(transOptions, translationDomain) }}
        {#<span class="form-hint text push-half--bottom">{{ 'editPage.pageHint' | trans(transOptions, translationDomain) }}</span>#}
    </h3>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {% for fee in form.fees %}
        {% set feeId = fee.feeTypeId.vars.value %}
        <div class="{{ fee.moreDetails is defined ? ' js-details-expander-' ~ feeId  : '' }} inputs-right-aligned">
            {{ form_row(fee.feeTypeId) }}
            {{ form_input(fee.amount, 'amount', {
                'inputPrefix' : '£',
                'inputClass' : 'form-control__number js-format-currency',
                'labelText': ('form.entries.' ~ feeId ~ '.label') | trans,
                'labelRaw': true
            }) }}

            {% if fee.moreDetails is defined %}
                <div class="hidden">
                    {{ form_input(fee.moreDetails, 'moreDetails', {
                        'labelText': ('form.entries.' ~ feeId ~ '.moreInformations') | trans,
                        'formGroupClass': 'panel panel-border-narrow hard--top',
                        'labelRaw': true
                    }) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

    <script>
        $(document).ready(function () {
            // Details expander
            new GOVUK.detailsExpander('.js-details-expander-travel-costs');
            new GOVUK.detailsExpander('.js-details-expander-specialist-service');
        });
    </script>

{% endblock %}