{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-pa-fee-expense" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    {# Introduction text #}
    <div class="text">
        <p>{{ 'summaryPage.pageSectionDescription' | trans(transOptions) }}</p>
    </div>

    {# Check answers text #}
    <h2 class="heading-small">{{ 'summaryPage.pageContent.weHaveListed' | trans(transOptions, 'common') }}</h2>
    <p class="text">{{ 'summaryPage.pageContent.checkCorrect' | trans(transOptions, 'common') }}</p>

    {# Return to overview link #}
    <p class="text--right flush--bottom">
        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="bold-small">
            {{ 'summaryPage.pageContent.returnToReport' | trans(transOptions, 'common') }}
        </a>
    </p>

    {% include 'AppBundle:Report/PaFeeExpense:_yn_questions.html.twig' with {
    'report': report,
    'transDomain': translationDomain
    } %}

    {% include 'AppBundle:Report/PaFeeExpense:_fee_list.html.twig' with {
    'report': report,
    'transDomain': translationDomain
    } %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(report, 'paFeeExpense') }}



{% endblock %}
