{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin-clients" %}
{% set page = 'clientDetails' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="{{ path('admin_client_search') }}">Clients</a></li>
        </ol>
    </div>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="flush--bottom">{{ 'client' | trans({}, 'common') }}: <span class="bold">{{ client.fullName }}</span></p>
    <p>{{ 'courtOrderNumber' | trans({}, 'common') }}: <span class="bold">{{ client.caseNumber }}</span></p>

    <h2 class="heading-medium flush--ends">{{ (page ~ '.reportsTitle') | trans }}</h2>

    {# client report list #}
    {% if client.reportsSubmittedAtLeastOnce | length == 0 %}
        <p>{{ (page ~ '.noResults') | trans }}</p>
    {% else %}
        <table class="check-your-answers">
            <thead>
            <tr>
                <th scope="col">{{ 'period' | trans({}, 'common') }}</th>
                <th scope="col">{{ 'dueDate' | trans({}, 'common') }}</th>
                <th scope="col">{{ 'submissionDate' | trans({}, 'common') }}</th>
                <th scope="col">{{ 'unsubmissionDate' | trans({}, 'common') }}</th>
                <th scope="col">{{ 'reportStatus' | trans({}, 'common') }}</th>
                <th scope="col">
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for report in client.reportsSubmittedAtLeastOnce %}
                {% set enableManageLink = report.submitted and report.type in ['102', '102-4', '103', '103-4'] %}
                {% set enableChecklistLink = report.type in [
                    '102', '102-4', '103', '103-4',
                    '102-6', '102-4-6', '103-6', '103-4-6'
                ]
                %}

                {# only show submitted and unsubmitted reports #}
                {% set behatRegionPrefix = 'behat-region-report-' ~ report.getPeriod() %}
                <tr class="{{ behatRegionPrefix }}">
                    <td>
                        {{ report.period | replace({'to': '-'}) }}
                    </td>
                    <td class="{{ behatRegionPrefix }}-due-date">
                        {{ report.dueDate | date("j F Y") }}
                    </td>
                    <td>
                        {# Display submit date regardless of being submitted or not.
                        # An unsubmitted report still has a submit date from a previous submission
                        #}
                        {% if report.submitDate %}
                            {{ report.submitDate | date("j F Y") }}
                        {% endif %}
                    </td>
                    <td>
                        {% if report.unSubmitDate %}
                            {{ report.unSubmitDate | date("j F Y") }}
                        {% endif %}
                    </td>
                    <td>
                        {% if report.unSubmitDate %}
                            {% set status = 'unsubmitted' %}
                        {% elseif report.submitted %}
                            {% set status = 'submitted' %}
                        {% else %}
                            {% set status = report.status.status %}
                        {% endif %}

                        <span class="status flush--ends {{ status }} {{ behatRegionPrefix }}-label">{{ (status) | trans({}, 'common') }}</span>
                    </td>
                    <td class="change-answer width-tenth">
                        {% if enableChecklistLink %}
                            <a href="{{ path('admin_report_checklist', {'id': report.id}) }}"
                               class="action-link behat-link-checklist">{{ 'checklist' | trans({}, 'common') }}</a>
                            <br />
                        {% endif %}
                        {% if enableManageLink %}
                            <a href="{{ path('admin_report_manage', {'id': report.id}) }}"
                               class="action-link behat-link-manage">{{ 'manage' | trans({}, 'common') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
