{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'clientSearch' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
{#     <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li>
                <a href="/client/search">Clients</a>
            </li>
            <li>
                Client details
            </li>
        </ol>
    </div> #}
{% endblock %}

{% block pageContent %}

    <p class="flush--bottom">{{ 'client' | trans({}, 'common') }}: <span class="bold">{{ client.fullName }}</span></p>
    <p>{{ 'courtOrderNumber' | trans({}, 'common') }}: <span class="bold">{{ client.caseNumber }}</span></p>

    <h2 class="heading-medium flush--ends">{{ 'reports' | trans({}, 'common') }}</h2>

    {# client report list #}
    <table class="check-your-answers">
        <thead>
        <tr>
            <th scope="col">Reporting period</th>
            <th scope="col">Date due</th>
            <th scope="col">Submission date</th>
            <th scope="col">Status</th>
            <th scope="col">
                <span class="visually-hidden">Actions</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% if client.ndr is empty and client.reports is empty %}
            <tr>
                <td colspan="4">{{ (page ~ '.deputyTable.noResults') | trans  }}</td>
            </tr>
        {% endif %}
        {% if client.ndr | length %}
            <tr>
                <td>

                </td>
                <td>
                    {{ client.ndr.dueDate | date("j F Y") }}
                </td>
                <td>
                    {% if client.ndr.submitDate %}
                        { client.ndr.submitDate | date("j F Y") }}
                    {% endif %}
                </td>
                <td>
                    <span class="status status-label status-admin flush--ends {{ client.ndr.getStatusService.status }}">{{ client.ndr.getStatusService.status }}</span>
                </td>
                <td class="change-answer width-tenth soft-half--left hard--right">
                    <a href="#" class="action-link">Manage</a>
                </td>
            </tr>
        {% endif %}
        {% if client.reports | length %}
            {% for report in client.reports %}

                <tr>
                    <td>
                        {{ report.getPeriod() }}
                    </td>
                    <td>
                        {{ report.dueDate | date("j F Y") }}
                    </td>
                    <td>
                        {% if report.submitDate %}
                            {{ report.submitDate | date("j F Y") }}
                        {% endif %}
                    </td>
                    <td>
                        <span class="status flush--ends {{ report.status.state }}">{{ report.status.state }}</span>
                    </td>
                    <td class="change-answer width-tenth soft-half--left hard--right">
                        <a href="#" class="action-link">Manage</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}
