<p class="govuk-body">Created PreRegistration {% if coDeputyLastName is defined %} entries {% else %} entry {% endif %}</p>

<p class="govuk-body">Use the details below during the registration process to create accounts.</p>

<ul>
    <li>Case number: <strong>{{ caseNumber }}</strong></li>
    <li>Client last name: <strong>{{ clientLastName }}</strong></li>
    <br/>
    <li>Deputy Last Name: <strong>{{ deputyLastName }}</strong></li>
    <li>Deputy Postal Code: <strong>{{ deputyPostCode }}</strong></li>
    {% if coDeputyLastName is defined %}
        <li>Co-Deputy Last Name: <strong>{{ coDeputyLastName }}</strong></li>
        <li>Co-Deputy Postal Code: <strong>{{ coDeputyPostCode }}</strong></li>
    {% endif %}
</ul>
