{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% set isLayDeputy = not app.user.isDeputyOrg %}

{% if ndr.submitted == false %}
    {% if not ndrStatus.isReadyToSubmit %}
        {% set preview = true %}
        {% set page = 'ndr-preview' %}
    {% else %}
        {% set preview = false %}
        {% set page = 'ndr-review' %}
    {% endif %}
{% else %}
    {% set preview = false %}
    {% set page = 'ndr-submitted' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {% if ndr.submitted == true %}
        <a id="overview-button" href="{{ path('homepage') }}" class="link-back">{{ 'yourReports' | trans({}, 'common' ) }}</a>
    {% else %}
        {{ macros.breadcrumbs(ndr) }}
    {% endif %}
{% endblock %}

{% block pageContent %}

    <div class="push--bottom">
        {% if ndr.submitted == false %}
            <p class="text">{{ (page ~ '.introPara') | trans() }}</p>
            {% if preview %}
                <a class="button" href="{{ path("ndr_overview" , {'ndrId': ndr.id }) }}">
                    {{ 'incomplete.backToEditingReport' | trans() }}
                </a>
                <a class="button-link js-trackDownloadLink" href="{{ path('ndr_pdf', {'ndrId': ndr.id}) }}">
                    <i class="icon icon-pdf"></i>{{ 'downloadAsPdf' | trans() }}
                </a>
            {% endif %}
        {% else %}
            <p class="text">{{ (page ~ '.introPara') | trans() }} {{ ndr.submitDate | date("j F Y") }}.</p>
            <a class="button" href="{{ path('homepage') }}">{{ 'backToYourReports' | trans({}, 'common') }}</a>
            <a class="button-link js-trackDownloadLink" href="{{ path('ndr_pdf', {'ndrId': ndr.id}) }}">
                <i class="icon icon-pdf"></i>{{ 'downloadAsPdf' | trans() }}
            </a>
        {% endif %}
    </div>

    <div class="push--bottom">
        {% include 'AppBundle:Ndr/Formatted:formatted.html.twig' %}
    </div>

    {% if ndr.submitted == false %}
        {% if preview %}
            <a class="button" href="{{ path("ndr_overview" , {'ndrId': ndr.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% else %}
            <a class="button behat-link-ndr-declaration-page" href="{{ path("ndr_declaration" , {'ndrId': ndr.id }) }}">{{ 'continue' | trans({}, 'common') }}</a>
            <a class="button-link" href="{{ path("ndr_overview" , {'ndrId': ndr.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% endif %}
    {% else %}
        <a class="button" href="{{ path('homepage') }}">{{ 'backToYourReports' | trans({}, 'common') }}</a>
    {% endif %}

    <a class="button-link js-trackDownloadLink" href="{{ path('ndr_pdf', {'ndrId': ndr.id}) }}">
        <i class="icon icon-pdf"></i>{{ 'downloadAsPdf' | trans() }}
    </a>

    <script>
        $(document).ready(function() {
            var ga = new opg.Ga({'timeout': 250});
            ga.trackDownloadableLink($('.js-trackDownloadLink'));
        });
    </script>
{% endblock %}
