{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "org-organisation" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'viewPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ organisation.name }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsArray([
        { href: path('org_dashboard'), text: 'breadcrumbs.dashboard' | trans },
        { href: path('org_settings'), text: 'breadcrumbs.settings' | trans },
        { text: organisation.name }
    ]) }}
{% endblock %}

{% block pageContent %}
    {% set filtersToPreserveInPagination = {
        'id': orgId
    } %}

    {{ form_start(form, {attr: {class: 'search', novalidate: 'novalidate' }}) }}

    <div class="govuk-grid-row">
        {{ form_input(form.q, 'Search', {
            'labelText': 'searchForm.labelText' | trans,
            'inputClass': 'govuk-!-width-full',
            'formGroupClass': 'govuk-grid-column-full'}) }}
    </div>

    <div class="govuk-form-group">
        {{ form_submit(form.search, '', {
            'labelText': 'Search'}) }}
        <a href="{{ path('org_organisation_view',{id:orgId}) }}" class="govuk-link button-link">{{ 'searchForm.clear' | trans }}</a>
    </div>

    {{ form_end(form) }}

    {% if not organisation.getIsDomainIdentifier %}
        <p class="govuk-body">{{ 'viewPage.introPublicDomain' | trans }}</p>
    {% else %}
        <p class="govuk-body">{{ 'viewPage.intro' | trans }}</p>
    {% endif %}

    <table class="govuk-table">
        <caption class="govuk-table__caption">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    {{ 'viewPage.tableHeading' | trans }}
                </div>
                {% if is_granted('can-add-user') %}
                <div class="govuk-grid-column-one-half text--right">
                    <a href="{{ path('org_organisation_add_member', { id: organisation.id }) }}" class="behat-link-add">
                        <strong>
                            <span class="opg-icon opg-icon--plus"></span>
                            {{ 'viewPage.addUser' | trans }}
                        </strong>
                    </a>
                </div>
                {% endif %}
            </div>
        </caption>

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{ 'viewPage.nameAndJob' | trans }}</th>
                <th scope="col" class="govuk-table__header">{{ 'viewPage.contactInfo' | trans }}</th>
                <th scope="col" class="govuk-table__header">
                    <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for user in users %}
            <tr class="govuk-table__row behat-region-team-user-{{ user.email | behat_namify }}">
                <td class="govuk-table__cell">
                    <strong>{{ user.firstname }} {{ user.lastname }}</strong>
                    {% if app.user.id == user.id %}
                        <br/>(Signed in)
                    {% endif %}
                    {% if user.jobTitle != '' %}
                        <br />{{ user.jobTitle }}
                    {% endif %}
                    {% if user.isOrgAdministrator or user.isOrgNamedDeputy %}
                        <br />
                        <span class="govuk-tag">{{ 'listPage.roleAdmin' | trans }}</span>
                    {% endif %}
                </td>
                <td class="govuk-table__cell">
                    <strong>{{ 'email' | trans({}, 'common') }}</strong><br>
                    {{ user.email }}
                    {% if user.phoneMain != '' %}
                        <br>
                        <strong>{{ 'phone' | trans({}, 'common' ) }}</strong><br>
                        {{ user.phoneMain }}
                    {% endif %}
                </td>
                <td class="govuk-table__cell text--right">
                    {% if user.id == app.user.id %}
                        <a class="behat-link-edit" href="{{  path('org_profile_edit') }}">{{ 'edit' | trans({}, 'common' ) }}</a><br>
                    {% elseif user.id != app.user.id and is_granted('edit-user', user) %}
                        <a class="behat-link-edit" href="{{  path('org_organisation_edit_member', {orgId: organisation.id, userId: user.id}) }}">{{ 'edit' | trans({}, 'common' ) }}</a><br>
                    {% endif %}
                    {% if user.id != app.user.id and is_granted('delete-user', user) %}
                        <a class="behat-link-delete" href="{{  path('org_organisation_delete_member', {orgId: organisation.id, userId: user.id}) }}">{{ 'remove' | trans({}, 'common' ) }}</a><br>
                    {% endif %}
                    {% if user.id != app.user.id and not user.active and is_granted('edit-user', user) %}
                        <a class="behat-link-send-activation-email" href="{{ path('org_organisation_send_activation_link', {orgId: organisation.id, userId: user.id}) }}">{{ 'listPage.resendActivation' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@App/Components/paginator.html.twig' with {
        currentOffset: filters.offset,
        recordsPerPage: filters.limit,
        totalRecords: count,
        routeName: 'org_organisation_view',
        routeParams: filtersToPreserveInPagination,
        messages: {
            singlePage: {
                singular: 'Showing 1 user',
                plural: 'Showing %count% users'
            },
            multiPage: 'Showing %from% - %to% of %total% users'
        }
    } %}

{% endblock %}
