{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <h1 class="form-title heading-medium">
        Add user
    </h1>


  {{ form_input(form.email,'email', { 'labelClass': 'form-label-bold required' }) }}

  {{ form_input(form.firstname,'firstname', { 'labelClass': 'form-label-bold required' }) }}

  {{ form_input(form.lastname,'lastname', { 'labelClass': 'form-label-bold required' }) }}


  {{ form_submit(form.save,'submit')}}

{# KNOWN DATE #}
{# {% include 'AppBundle:Components/Form:_known-date.html.twig' %} #}


{{ form_end(form) }}
