{{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

<h1 class="form-title heading-medium-large">
    Add a user
</h1>

{{ form_input(form.email,'email', { 'labelClass': 'required' }) }}
  {{ form_input(form.firstname,'firstname', { 'labelClass': 'required' }) }}
  {{ form_input(form.lastname,'lastname', { 'labelClass': 'required' }) }}
  {{ form_select(form.roleId,'roleId', { 'labelClass': 'required' }) }}

{% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
  {{ form_submit(form.save,'submit', {'buttonClass': 'behat-link-save'}) }}
{% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

{# KNOWN DATE #}
{# {% include 'AppBundle:Components/Form:_known-date.html.twig' %} #}

{{ form_end(form) }}
