<div class="behat-region-users user-list">

    <h1 class="form-title heading-medium-large">
        User list
    </h1>

  <table>
    <thead>
      <tr>
        <th scope="col">
            {% if (app.request.query.has('order_by')) and (app.request.query.get('order_by') == 'firstname') %}
                <a href="{{url('admin_homepage', { 'order_by': 'firstname', 'sort_order': newSortOrder })}}"> Firstname</a>

                {% if app.request.query.get('sort_order') == "ASC" %}
                         (a-z)
                {% else %}
                         (z-a)
                {% endif %}

            {% else %}
                <a href="{{url('admin_homepage', { 'order_by': 'firstname', 'sort_order': 'DESC' })}}" > Firstname</a>
            {% endif %}
        </th>

        <th scope="col">
           {% if (app.request.query.has('order_by')) and (app.request.query.get('order_by') == 'lastname') %}
                <a href="{{url('admin_homepage', { 'order_by': 'lastname', 'sort_order': newSortOrder })}}">Lastname</a>

                {% if app.request.query.get('sort_order') == "ASC" %}
                         (a-z)
                {% else %}
                         (z-a)
                {% endif %}

           {% else %}
                <a href="{{url('admin_homepage', { 'order_by': 'lastname', 'sort_order': 'ASC' })}}"  >Lastname</a>
           {% endif %}
        </th>
        <th scope="col">
               {% if (app.request.query.has('order_by')) and (app.request.query.get('order_by') == 'email') %}
                      <a href="{{url('admin_homepage', { 'order_by': 'email', 'sort_order': newSortOrder })}}">Email</a>

                      {% if app.request.query.get('sort_order') == "ASC" %}
                            (a-z)
                      {% else %}
                            (z-a)
                      {% endif %}

               {% else %}
                      <a href="{{url('admin_homepage', { 'order_by': 'email', 'sort_order': 'ASC' })}}" >Email</a>
               {% endif %}
        </th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
          <td>
              {#{% if (app.user.id  != user.id) and (app.user.roleId != user.roleId) %}
                    <a href='{{ path('admin_editUser', { id: user.id })}}'>{{ user.firstname }}</a>
              {% else %}
                  {{ user.firstname }}
              {% endif %}#}
              <a href='{{ path('admin_editUser', { id: user.id })}}' class="behat-link-user-{{ user.email }}" >{{ user.firstname }}</a>
          </td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>









