<div class="behat-region-users user-list">

    <h1 class="form-title heading-medium-large">
        User list
    </h1>

  <table>
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
          <td>
              {#{% if (app.user.id  != user.id) and (app.user.roleId != user.roleId) %}
                    <a href='{{ path('admin_editUser', { id: user.id })}}'>{{ user.firstname }}</a>
              {% else %}
                  {{ user.firstname }}
              {% endif %}#}
              <a href='{{ path('admin_editUser', { id: user.id })}}' class="behat-link-user-{{ user.email }}" >{{ user.firstname }}</a>
          </td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>









