<div class="behat-region-users user-list">

    <h1 class="form-title heading-medium-large" id="users-list-title">
        User list
    </h1>

  <table>
    <thead>
      <tr>
        <th scope="col">
            {% if (app.request.query.has('order_by')) and (app.request.query.get('order_by') == 'firstname') %}
                <a href="{{url('admin_homepage', { 'order_by': 'firstname', 'sort_order': newSortOrder })}}#users-list-title"> Firstname</a>

                {% if app.request.query.get('sort_order') == "ASC" %}
                         (a-z)
                {% else %}
                         (z-a)
                {% endif %}

            {% else %}
                <a href="{{url('admin_homepage', { 'order_by': 'firstname', 'sort_order': 'DESC' })}}#users-list-title" > Firstname</a>
            {% endif %}
        </th>

        <th scope="col">
           {% if (app.request.query.has('order_by')) and (app.request.query.get('order_by') == 'lastname') %}
                <a href="{{url('admin_homepage', { 'order_by': 'lastname', 'sort_order': newSortOrder })}}#users-list-title">Lastname</a>

                {% if app.request.query.get('sort_order') == "ASC" %}
                         (a-z)
                {% else %}
                         (z-a)
                {% endif %}

           {% else %}
                <a href="{{url('admin_homepage', { 'order_by': 'lastname', 'sort_order': 'ASC' })}}#users-list-title"  >Lastname</a>
           {% endif %}
        </th>
        <th scope="col">
               {% if (app.request.query.has('order_by')) and (app.request.query.get('order_by') == 'email') %}
                      <a href="{{url('admin_homepage', { 'order_by': 'email', 'sort_order': newSortOrder })}}#users-list-title">Email</a>

                      {% if app.request.query.get('sort_order') == "ASC" %}
                            (a-z)
                      {% else %}
                            (z-a)
                      {% endif %}

               {% else %}
                      <a href="{{url('admin_homepage', { 'order_by': 'email', 'sort_order': 'ASC' })}}#users-list-title" >Email</a>
               {% endif %}
        </th>
        <th scope="col">Role</th>
        <th scope="col">ODR Enabled</th>
        <th scope="col">
            {% if (app.request.query.has('order_by')) and (app.request.query.get('order_by') == 'registrationDate') %}
                      <a href="{{url('admin_homepage', { 'order_by': 'registrationDate', 'sort_order': newSortOrder })}}#users-list-title">Registration date</a>

                      {% if app.request.query.get('sort_order') == "ASC" %}
                            (a-z)
                      {% else %}
                            (z-a)
                      {% endif %}

               {% else %}
                      <a href="{{url('admin_homepage', { 'order_by': 'registrationDate', 'sort_order': 'ASC' })}}#users-list-title" >Registration date</a>
               {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>

    {# simple paginator #}
    <div style="float: right">
        {{ userCount }} users in total.
        {% if userCount > limit %}
            Go to page 
            {% set pages = range(0, userCount, limit) %}
            {% for currentOffset in pages %}
                {% if currentOffset == offset %}
                    {{ loop.index }}
                {% else %}
                    <a href="{{  path("admin_homepage", {
                        "offset": currentOffset,
                        'sort_order': app.request.query.get('sort_order'),
                        'order_by': app.request.query.get('order_by')}
                    ) }}#users-list-title">{{ loop.index }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% for user in users %}
      <tr>
          <td>
              <a href='{{ path('admin_editUser', { what: 'user_id', filter: user.id })}}' class="behat-link-user-{{ user.email }}" >{{ user.firstname }}</a>
          </td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }} {% if app.user.id == user.id %} (currenty logged){% endif %}</td>
        <td class="behat-region-{{ user.email | behat_namify }}-odr-enabled">{{ user.odrEnabled ? 'yes' : '-' }}</td>
        <td>{{ user.registrationDate ? user.registrationDate | date("d/m/Y") : 'n.a.' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>









