{{ form_start(form) }}
    <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        <div class="errors">{{ form_errors(form.email) }}</div>
    </div>
    
    <div>
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
        <div class="errors">{{ form_errors(form.firstname) }}</div>
    </div>

    <div>
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
        <div class="errors">{{ form_errors(form.lastname) }}</div>
    </div>

{{ form_end(form) }}