{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}

{% block htmlTitle %}Administration - Users{% endblock %}
{% block pageTitle %}Admin{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">User management</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <h2 class="heading-medium">Add a user</h2>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.email,'addUserForm.email') }}
    {{ form_input(form.firstname,'addUserForm.firstname') }}
    {{ form_input(form.lastname,'addUserForm.lastname') }}
    {{ form_select(form.roleName,'addUserForm.roleName') }}
    {{ form_checkbox(form.odrEnabled, 'addUserForm.odrEnabled') }}

    {{ form_submit(form.save,'addUserForm.submit', {'buttonClass': 'behat-link-save'}) }}

    <a href="{{ path('admin_homepage') }}" class="button-link">Cancel</a>

    {{ form_end(form) }}

{% endblock %}
