{% extends 'AppBundle:Components/Page:page-admin.html.twig' %}

 {% trans_default_domain "admin" %}

{% block pageTitle %}Administration - Users{% endblock %}
{% block contentClass %}{{ parent() }} admin-users{% endblock %}
{% block title %}Admin{% endblock %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}


{% block pageBody %}
    <h1 class="form-title heading-medium">
        Add a user
    </h1>
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.email,'addUserForm.email', { 'labelClass': 'required' }) }}
    {{ form_input(form.firstname,'addUserForm.firstname', { 'labelClass': 'required' }) }}
    {{ form_input(form.lastname,'addUserForm.lastname', { 'labelClass': 'required' }) }}
    {{ form_select(form.roleId,'addUserForm.roleId', { 'labelClass': 'required' }) }}
    {{ form_checkbox(form.odrEnabled, 'addUserForm.odrEnabled', { 'labelClass': 'required' }) }}

    {{ form_submit(form.save,'addUserForm.submit', {'buttonClass': 'behat-link-save'}) }}

    {% if action is defined %}
        {% if action == 'edit' %}
            {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
            transDomain: 'admin',
            linkButtonLabel: 'cancel.label',
            linkClass: 'button-link',
            linkHref: path('admin_homepage')
            } %}
            {# only admin are allowed to delete users (except themselves when logged) #}
            {% if is_granted('ROLE_ADMIN') and app.user.id != user.id %}
                {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
                transDomain: 'admin',
                linkButtonLabel: 'delete.label',
                linkClass: 'button-link',
                linkHref: path('admin_delete_confirm', { id: id })
                } %}
            {% endif %}
        {% endif %}
    {% endif %}

    {{ form_end(form) }}


{% endblock %}
