{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}

{% block htmlTitle %}Administration - Users{% endblock %}
{% block pageTitle %}Admin{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">User management</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {class: 'search', novalidate: 'novalidate' }}) }}

    <div class="grid-row">
        <div class="column-one-third">
            {{ form_input(form.q, 'Search', {
                'labelRaw': true,
                'labelText':'Search',
                'inputClass': 'form-control--full'}) }}
        </div>
        <div class="column-one-half">
            {{ form_select(form.role_name, '', {
                'labelText': 'Role',
                'inputClass': 'left'}) }}
            {{ form_checkbox(form.odr_enabled, '', {'labelText': 'NDR enabled'}) }}
        </div>
    </div>
    {{ form_submit(form.search, 'Search', {
        'labelText': 'Search'}) }}
    <a href="{{ path('admin_homepage') }}" class="button-link">Clear filters</a>
    {{ form_end(form) }}

    <hr>

    {# LIST #}

    <div class="behat-region-users user-list">

        <div class="grid-row">
            <div class="column-one-half">
                <h2 id="users-list-title" class="heading-medium flush--ends">User list</h2>
                {% if users | length  == filters.limit %}
                    <p class="text">Results limited to 100 users.<br>Use search to filter the wanted users.</p>
                {% else %}
                    <p>Found {{ users | length }} users</p>
                {% endif %}
            </div>
            <div class="column-one-half text--right">
                <a href="{{ path('admin_add_user') }}" class="bold-small move-quarter--up action-link behat-link-user-add-new">
                    <span class="icon icon-plus"></span>
                    Add a new user
                </a>
            </div>
        </div>

        {# user list #}
        <table class="user-table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">NDR
                    </th>
                    <th scope="col">Active</th>
                    <th scope="col" class="numeric">Registration date</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="behat-region-user-{{ user.email | behat_namify }}">
                    <td>
                        {% if user.roleName != 'ROLE_ADMIN' or is_granted('ROLE_ADMIN') %}
                            <a href='{{ path('admin_editUser', { what: 'user_id', filter: user.id }) }}'
                                class="behat-link-user-{{ user.email }} bold">{{ user.firstname }} {{ user.lastname }}</a><br>
                        {% endif %}
                        <div class="text-secondary">
                            {{ user.roleFullName }}
                            {% if user.adManaged %} Assisted{% endif %}
                            {% if app.user.id == user.id %} (currenty logged){% endif %}
                        </div>
                        {% if is_granted('ROLE_AD') and user.roleName == 'ROLE_LAY_DEPUTY' %}
                            <a href="{{ path('ad_view_user', { what: 'user_id', filter: user.id }) }}">View</a>
                        {% endif %}
                    </td>
                    <td>{{ user.adManaged ? '-' : user.email }}</td>
                    <td class="behat-region-{{ user.email | behat_namify }}-odr-enabled">
                        {{ user.odrEnabled ? 'Yes' : '-' }}
                    </td>
                    <td>
                        {% if user.active %}
                            Yes
                        {% else %}
                            No
                            <br/><a data-role="ajax-link" class="behat-link-send-activation-email"
                                    href="{{ path('admin_send_activation_link', {'email': user.email}) }}">
                            (Re)send activation email
                        </a>
                        {% endif %}

                    </td>
                    <td class="numeric">{{ user.registrationDate ? user.registrationDate | date("d/m/Y") : 'n.a.' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# simple JS script to transform data-role="ajax-link" links
    into loading the URL with AJAX and replace the response with the HTTP response #}
    <script>
        $(document).ready(function () {
            $('[data-role="ajax-link"]').click(function (e) {
                e.preventDefault();
                var link = $(this);
                $.get(link.attr('href'), function (data) {
                    link.replaceWith(data);
                }, "html");
            });
        });
    </script>

{% endblock %}
