{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}

{% block htmlTitle %}Administration - Upload PA users{% endblock %}
{% block pageTitle %}Admin{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">PA user management</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    {% if nOfChunks %}

        <p class="text">Uploading... please wait.<br/>
            Do not refresh this page</p>

        <progress id="uploadProgress" value="0" max="{{ nOfChunks }}"/>

        <script>
            $(window).load(function () {
                setTimeout(function () {
                    uploadProgress(0);
                }, 50);
            });

            function uploadProgress(currentChunk) {

                if (currentChunk == {{ nOfChunks + 1 }}) {
                    window.location.href = "{{ path('admin_pa_upload') }}";
                    return;
                }

                $.ajax({
                    url: "{{ path('pa_add_ajax') }}?chunk=" + currentChunk,
                    method: "POST",
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $('#uploadProgress').val(currentChunk);
                    }
                });

                // launch next
                setTimeout(function () {
                    uploadProgress(currentChunk + 1);
                }, 100);

            }

        </script>

    {% else %}

        <h2 class="heading-medium">Upload PA users along with clients and reports</h2>

        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {{ form_input(form.file, '', {
            'labelText': 'Select CSV file',
            'inputClass': 'no-border'
        }) }}

        {{ form_submit(form.upload, '', {'labelText': 'Upload PA users'}) }}

        {{ form_end(form) }}

    {% endif %}

{% endblock %}
