{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}

{% block htmlTitle %}Administration - Upload users{% endblock %}
{% block pageTitle %}Upload users{% endblock %}

{% block pageContent %}

    <p>
        Number of users in the database: {{currentRecords}}.
    </p>

    <p>
        Max upload size: {{ maxUploadSize }}.
    </p>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.file, '', {'labelText': 'Select CSV file exported from CASREC'}) }}

    {{ form_submit(form.upload, '', {'labelText': 'Upload'}) }}

    {{ form_end(form) }}

{% endblock %}
