{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}

{% block htmlTitle %}Administration - Upload users{% endblock %}
{% block pageTitle %}Admin{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">User management</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    {% if nOfChunks %}
        <p class="text">Uploading... please wait.<br/>
            Do not refresh this page</p>

        <img src="/images/spinner.gif"/>

        <script>
            // truncate
            $.ajax({
                url: "{{ path('casrec_truncate_ajax') }}",
                async: false,
                dataType: 'json'
            }).done(function (data) {
                console.log(data.before + " CASREC records currently in the system\n");
                console.log(data.after + " CASREC records currently in the system after truncating\n");
            });

            // add chunk
            for (var currentChunk = 0; currentChunk <{{ nOfChunks }}; currentChunk++) {
                $.ajax({
                    url: "{{ path('casrec_add_ajax') }}?chunk=" + currentChunk,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    console.log(" " + data.added + " added\n");
                });
            }
            console.log("done");
            window.location.href = "{{ path('casrec_upload') }}";

        </script>

    {% else %}

        <div class="data">
            <span class="data-item bold-xlarge">{{ currentRecords }}</span>
            <span class="data-item bold-small">users in the database</span>
        </div>


        <h2 class="heading-medium">Upload users</h2>


        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {{ form_input(form.file, '', {
            'labelRaw': true,
            'labelText': 'Select CSV file exported from CASREC',
            'hintText': 'Max upload size is ' ~ maxUploadSize,
            'inputClass': 'no-border'
        }) }}

        {{ form_submit(form.upload, '', {'labelText': 'Upload users'}) }}

        {{ form_end(form) }}
    {% endif %}
{% endblock %}
