{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'uploadPA' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}


    {% if nOfChunks %}

<p class="text">{{ (page ~ '.uploading') | trans | raw }}</p>

<progress id="uploadProgress" value="0" max="{{ nOfChunks + 1 }}">

    <script>
        $(document).ready(function () {
            // add chunk
            for (var currentChunk = 0; currentChunk <{{ nOfChunks }}; currentChunk++) {
                $.ajax({
                    url: "{{ path('pa_add_ajax') }}?chunk=" + currentChunk,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    $('#uploadProgress').val(currentChunk + 1);
                });
            }
            console.log("done");
            window.location.href = "{{ path('admin_pa_upload') }}";
        });
    </script>

    {% else %}

        <h2 class="heading-medium">{{ (page ~ '.heading') | trans }}</h2>

        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {{ form_input(form.file, '', {
            'labelText': 'Select CSV file',
            'inputClass': 'no-border'
        }) }}

        {{ form_submit(form.upload, '', {'labelText': 'Upload PA users'}) }}

        {{ form_end(form) }}

    {% endif %}

    {% endblock %}
