{% extends 'AppBundle:Components/Page:page-admin.html.twig' %}

{% trans_default_domain "admin" %}

{% block htmlTitle %}Administration - Upload users{% endblock %}
{% block pageTitle %}Upload users{% endblock %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block pageBody %}

    <p class="page-section-description ">
        Number of users in the database: {{currentRecords}}.
    </p>

    <p>
        Max upload size: {{ maxUploadSize }}.
    </p>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.file, 'csv_upload.form.file', { 'labelClass': 'required' }) }}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
        {{ form_submit(form.upload, 'csv_upload.form.upload') }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}



{% endblock %}
