{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "org-team" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': user.getFullname() } %}

{% block htmlTitle %}{{ 'removePage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'removePage.pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsSettings('settings-team-user') }}
{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'removePage.supportTitle' | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    {% set nOfteams = user.teamNames | length %}
    {% if nOfteams >= 2 %}
        {# @biggs custom content here #}
        <p class="text">{{ 'removePage.questionRevoke' | trans(transOptions) | raw }}</p>
    {% else %}
        <p class="text">{{ 'removePage.questionRemove' | trans(transOptions) | raw }}</p>
    {% endif %}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: 'removePage.confirmButton' | trans,
        linkClass: 'button push-half--right behat-link-confirm',
        linkHref: path('delete_team_member_confirm', { id: user.id })
    } %}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: 'cancel' | trans({}, 'common'),
        linkClass: 'opg-button--link behat-link-confirm-cancel',
        linkHref: path('org_team')
    } %}

{% endblock %}

