{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'deleteConfirm' %}

{% set navSection = 'users' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block supportTitleTop %}{{ (page ~ '.supportTitle') | trans }}{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="govuk-body">
        {{ (page ~ '.question.beforeMarkupText') | trans }}
        <strong class="bold">{{ user.getFullname() }}</strong>{{ (page ~ '.question.afterMarkupText') | trans }}
    </p>

    {% include '@App/Components/Link/_link-button.html.twig' with {
        transDomain: 'admin',
        linkButtonLabel: 'yes.label',
        linkClass: 'button-warning push-half--right',
        linkHref: path('admin_delete', { id: user.id })
    } %}

    {% include '@App/Components/Link/_link-button.html.twig' with {
        transDomain: 'admin',
        linkButtonLabel: 'no.label',
        linkClass: 'button-secondary',
        linkHref: path('admin_editUser', { filter: user.id })
    } %}

{% endblock %}
