{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'home' %}

{% set navSection = 'users' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block actions %}
    <a href="{{ path('admin_add_user') }}" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-right-2 govuk-!-margin-bottom-0" data-module="govuk-button">
        {{ (page ~ '.actions.addUser') | trans }}
    </a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('admin_upload') }}" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
        {{ (page ~ '.actions.upload') | trans }}
    </a>
    {% endif %}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {class: 'search', novalidate: 'novalidate' }}) }}

    <div class="govuk-grid-row">
        {{ form_input(form.q, 'Search', {
            'labelText':'Search',
            'inputClass': 'govuk-!-width-full',
            'formGroupClass': 'govuk-grid-column-one-quarter'}) }}

        {{ form_select(form.role_name, '', {
            'labelText': 'Role',
            'inputClass': 'govuk-!-width-full',
            'formGroupClass': 'govuk-grid-column-one-quarter'}) }}

        {{ form_checkbox(form.ndr_enabled, '', {
            'labelText': 'NDR enabled',
            'formGroupClass': 'govuk-grid-column-one-quarter govuk-!-margin-top-6'}) }}

        {{ form_checkbox(form.include_clients, '', {
            'labelText': 'Include clients',
            'formGroupClass': 'govuk-grid-column-one-quarter govuk-!-margin-top-6'}) }}
    </div>

    <div class="govuk-form-group">
        {{ form_submit(form.search, '', {
            'labelText': 'Search'}) }}
        <a href="{{ path('admin_homepage') }}" class="govuk-link button-link">{{ 'homeForm.clear' | trans }}</a>
    </div>

    {{ form_end(form) }}

    <hr>

    {# LIST #}

    <div class="behat-region-users user-list">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 id="users-list-title" class="govuk-heading-m flush--ends">{{ (page ~ '.userTable.heading') | trans }}</h2>
                {% if users | length  == filters.limit %}
                    <p class="govuk-body">
                        {{ (page ~ '.userTable.resultsLimited.part01') | trans }}<br>
                        {{ (page ~ '.userTable.resultsLimited.part02') | trans }}
                    </p>
                {% else %}
                    <p class="govuk-body">
                        {% if (users | length) == 1 %}Found 1 user{% else %}Found {{ users | length }} users{% endif %}
                    </p>
                {% endif %}
            </div>
        </div>

        {# user list #}
        <table class="table-govuk-body-s">
            <thead>
                <tr>
                    <th scope="col">{{ (page ~ '.userTable.header.name') | trans }}</th>
                    <th scope="col">{{ (page ~ '.userTable.header.email') | trans }}</th>
                    <th scope="col">{{ (page ~ '.userTable.header.ndr') | trans }}</th>
                    <th scope="col">{{ (page ~ '.userTable.header.active') | trans }}</th>
                    <th scope="col" class="numeric">{{ (page ~ '.userTable.header.regDate') | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set fullName = (user.isCoDeputy and user.firstname is empty and user.lastname is empty)
                ? (page ~ '.userTable.codepNameNotSet') | trans
                : user.firstname ~ ' ' ~ user.lastname
                %}
                <tr class="behat-region-user-{{ user.email | behat_namify }}">
                    <td>
                        {% if user.roleName != 'ROLE_ADMIN' or is_granted('ROLE_ADMIN') %}
                            <a href='{{ path('admin_user_view', { id: user.id }) }}'
                               class="behat-link-user-{{ user.email | behat_namify }} govuk-!-font-weight-bold">{{ fullName }}</a><br>
                        {% endif %}
                        <div class="govuk-caption-m">
                            {{ user.roleFullName }}
                            {% if user.adManaged %} {{ (page ~ '.userTable.assistedState') | trans }}{% endif %}
                            {% if app.user.id == user.id %} {{ (page ~ '.userTable.loggedInState') | trans }} {% endif %}
                        </div>
                        {% if is_granted('ROLE_AD') and user.roleName == 'ROLE_LAY_DEPUTY' %}
                            <a href="{{ path('ad_view_user', { what: 'user_id', filter: user.id }) }}" class="behat-link-view">{{ 'view' | trans({}, 'common') }}</a>
                        {% endif %}
                    </td>
                    <td>{{ user.adManaged ? '-' : user.email }}</td>
                    <td class="behat-region-{{ user.email | behat_namify }}-ndr-enabled">
                        {{ user.ndrEnabled ? 'Yes' : '-' }}
                    </td>
                    <td>
                        {% if user.active %}
                            {{ 'yes' | trans({}, 'common') }}
                        {% else %}
                            {{ 'no' | trans({}, 'common') }}
                            <br/>
                            <a class="js-return-html behat-link-send-activation-email"
                                    href="{{ path('admin_send_activation_link', {'email': user.email}) }}">
                                {{ (page ~ '.userTable.sendEmail') | trans }} <span class="govuk-visually-hidden"> to {{ fullName }}</span>
                            </a>
                        {% endif %}

                    </td>
                    <td class="numeric">{{ user.registrationDate ? user.registrationDate | date("d/m/Y") : 'n.a.' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
