<div class="grid-row">
    <div class="column-half">
        <h2 class="heading-large flush--top">Deputies</h2>
    </div>
    <div class="column-half text--right">
        <a href="{{ path('add_co_deputy', {'clientId': client.id}) }}" class="bold-small action-link right behat-link-invite-codeputy-button">
            <span class="icon icon-plus"></span>
            {{ ('codeputy.inviteAnotherDeputy') | trans({}, 'report') }}
        </a>
    </div>
</div>
<dl class="govuk-summary-list behat-region-codeputies">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name or email
        </dt>
        <dd class="govuk-summary-list__key">
            Status
        </dd>
        <dd class="govuk-summary-list__actions">
            <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
        </dd>
    </div>
    
    {% for deputy in coDeputies %}
        <div class="govuk-summary-list__row">
            {% if deputy.coDeputyClientConfirmed %}
                <dt class="govuk-summary-list__key">
                    {{ deputy.firstname }} {{ deputy.lastname }}
                </dt>
                <dd class="govuk-summary-list__value">
                    Registered
                </dd>
                <dd class="govuk-summary-list__actions"></dd>
            {% else %}
                <dt class="govuk-summary-list__key">
                    {{ deputy.email }}
                </dt>
                <dd class="govuk-summary-list__value">
                    Awaiting registration
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="{{ path('codep_resend_activation', {'email': deputy.email}) }}" class="behat-link-resend-invite govuk-link">
                        Edit/Resend invite
                    </a>
                </dd>
            {% endif %}
        </div>
    {%  endfor %}
</dl>