{% trans_default_domain translationDomain %}
{% set hideEditLink = hideEditLink | default(false) %}

<div id="contact-details-container">
    <h2 class="heading-small">{{ 'page.contactDetailsHeader' | trans }}</h2>
    <p>{{ 'page.contactDetailsIntro' | trans }}</p>

    <dl class="govuk-summary-list columns-2 push-double--bottom">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ 'person' | trans({}, 'common') }}
            </dt>
            <dd class="govuk-summary-list__key">
                {{ 'address' | trans({}, 'common') }}
            </dd>
            {% if not hideEditLink %}
                <dd class="govuk-summary-list__actions">
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </dd>
            {% endif %}
        </div>
        {% for detail in contactDetails %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    {{ detail.name }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for part in detail.address %}
                        <span>{{ part }}</span><br>
                    {% endfor %}
                    <span class="bold">Phone: </span><span>{{ detail.phone.main }}</span><br>
                    {% if detail.phone.alternative is defined %}
                        <span class="bold">Alternative phone: </span><span> {{ detail.phone.alternative }}</span><br>
                    {% endif %}
                    <span class="bold">Email:</span><span> {{ detail.email }}</span><br>
                </dd>
                {% if not hideEditLink %}
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link behat-link-edit" href="{{ detail.editUrl }}">
                            {{ 'edit' | trans({}, 'common') }}
                        </a>
                    </dd>
                {% endif %}
            </div>
        {% endfor %}
    </dl>
</div>
