{% trans_default_domain translationDomain %}
{% set hideEditLink = hideEditLink | default(false) %}

<div id="contact-details-container">
    <h2 class="govuk-heading-s">{{ 'page.contactDetailsHeader' | trans }}</h2>
    <p>{{ 'page.contactDetailsIntro' | trans }}</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{ 'person' | trans({}, 'common') }}</th>
                <th scope="col" class="govuk-table__header">{{ 'address' | trans({}, 'common') }}</th>
                {% if not hideEditLink %}
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for detail in contactDetails %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        {{ detail.name }}
                    </td>
                    <td class="govuk-table__cell">
                        {% for part in detail.address %}
                            {{ part }}<br>
                        {% endfor %}
                        <strong>Phone:</strong> {{ detail.phone.main }}<br>
                        {% if detail.phone.alternative is defined %}
                            <strong>Alternative phone:</strong> {{ detail.phone.alternative }}<br>
                        {% endif %}
                        <strong>Email:</strong> {{ detail.email }}<br>
                    </td>
                    {% if not hideEditLink %}
                        <td class="govuk-table__cell">
                            <a href="{{ detail.editUrl }}" class="govuk-link behat-link-edit">{{ 'edit' | trans({}, 'common') }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
