{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}

<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-0">
            <strong>{{ 'reportingPeriod' | trans() }}:</strong>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-0">
            {{ report.startDate | date("j F Y") }} to {{ report.endDate | date("j F Y") }}
        </dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key govuk-!-padding-0 {{ report.unSubmitDate ? 'orangeWarning' : '' }}">
            <strong>{{ 'dueDate' | trans() }}:</strong>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-0">
            {{ report.dueDate | date("j F Y") }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-0">
            <strong>{{ 'reportStatus' | trans() }}:</strong>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-0">
            {{ ('status.' ~ reportStatus.status) | trans() }}
        </dd>
    </div>
</dl>



{#<table class="no-border">#}
{#    <tbody>#}
{#    <tr>#}
{#        <td class="hard"></td>#}
{#        <td class="hard"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="{{ report.unSubmitDate ? 'orangeWarning' : '' }} hard"></td>#}
{#        <td class="hard"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="hard"></td>#}
{#        <td class="hard"></td>#}
{#    </tr>#}
{#    </tbody>#}
{#</table>#}
