{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-submitted" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname | e,
    '%reportName%' : report.getPeriod()
} %}
{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    {{ macros.notification('success', 'page.thankYouForsubmitting' | trans(transOptions)) }}

    <div class="text push--top">
        <p>{{ 'page.yourReportWillBeSent' | trans }}</p>
        <p>{{ 'page.weWillSendReminder' | trans }}</p>
    </div>

    <a href="{{ path('report_review', {'reportId': report.id}) }}" class="behat-link-download-report">
        {{ 'page.downloadLink' | trans(transOptions) }}
    </a>

    {% if report.hasSection('profDeputyCosts') %}
        <ul class="list list-bullet push--top">
            <li>{{ ('page.professionalDeputyListItems.item1') | trans(transOptions) }}</li>
            <li>{{ ('page.professionalDeputyListItems.item2') | trans(transOptions) }}</li>
            <li>{{ ('page.professionalDeputyListItems.item3') | trans }}</li>
        </ul>
    {% endif %}

    {# feedback form #}
    <h2 class="heading-medium">{{ 'page.feedback.title' | trans }}</h2>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'push--bottom' } }) }}

    {{ form_checkbox_group(form.satisfactionLevel, 'form.satisfactionLevel', {
        'legendClass' : 'text form-label-bold',
        'legend': 'satisfactionLevel'
    }) }}

    {{ form_input(form.comments, 'form.comments', {
        'labelClass' : 'form-label-bold'
    }) }}

    <p class="text">{{ 'page.feedback.limit' | trans }}</p>
    <p class="text">{{ 'page.feedback.disclaimer' | trans }}</p>

    {{ form_submit(form.save, 'form.send') }}

    {{ form_end(form) }}
    {# end feedback form #}

    {% if app.user.isDeputyOrg() %}
        <a href="{{path('org_dashboard')}}" class="behat-link-return-to-org-dashboard">{{ 'page.returnToDashboard' | trans }}</a>
    {% else %}
        <a href="{{ path('lay_home')}}" class="behat-link-return-to-reports-page">{{ 'page.returnToHomepage' | trans }}</a>
    {% endif %}

{% endblock %}
