{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin-clients" %}
{% set page = 'clientDetails' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}

{% block supportTitleTop %}{{ (page ~ '.supportTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ client.fullName }}{% endblock %}

{% block pageContent %}

<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'client' | trans({}, 'common') }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ client.fullName }}
        </dd>
    </div>
    {% if client.archivedAt %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'archivedOn' | trans({}, 'common') }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ client.archivedAt | date("j M Y") }}
        </dd>
    </div>
    {% endif %}

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'courtOrderNumber' | trans({}, 'common') }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ client.caseNumber }}
        </dd>
    </div>
    {% if client.deletedAt %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'dischargedOn' | trans({}, 'common') }}
        </dt>
        <dd class="govuk-summary-list__value behat-region-discharged-on">
            {{ client.deletedAt | date("j M Y") }}
        </dd>
    </div>
    {% endif %}

    {% if client.organisation is not empty %}
        <dt class="govuk-summary-list__key">
            {{ (page ~ '.organisation') | trans }}
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="{{ path('admin_organisation_view', {id: client.organisation.id}) }}">{{ client.organisation.name }}</a>

            {% if not client.organisation.isActivated %}
                {{ (page ~ '.organisationInactive') | trans }}
            {% endif %}
            <br>
        </dd>
    {% endif %}
</dl>

{% set allReports = client.reports|merge([client.ndr]) %}
{% set reportsByGroup = {
    incomplete: allReports | filter(r => not r.submitted),
    done: allReports | filter(r => r.submitted),
} %}

<h2 class="govuk-heading-l">
    {{ (page ~ '.reportsTitle') | trans }}
</h2>

{% for type, reports in reportsByGroup if (reports | length) > 0 %}
    <table class="govuk-table behat-region-report-group-{{ type }}">
        <caption class="govuk-table__caption">
            <span class="govuk-tag {{ type | status_to_tag_css }}">
                {{ type | trans({}, 'common') }}
            </span>
        </caption>

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{ 'period' | trans({}, 'common') }}</th>
                <th scope="col" class="govuk-table__header">{{ 'type' | trans({}, 'common') }}</th>
                <th scope="col" class="govuk-table__header">{{ 'dueDate' | trans({}, 'common') }}</th>
                {% if type == 'done' %}
                    <th scope="col" class="govuk-table__header">{{ 'submitted' | trans({}, 'common') }}</th>
                {% endif %}
                <th scope="col" class="govuk-table__header">
                    <span class="govuk-visually-hidden">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for report in reports %}
                {% if report.type == 'ndr' %}
                    {% set enableManageLink = false %}
                    {% set enableChecklistLink = false %}
                    {% set behatRegionPrefix = 'behat-region-report-ndr' %}
                {% else %}
                    {% set isProfReport = report.hasSection('profCurrentFees')  %}
                    {% set enableManageLink = report.submitted %}
                    {% set enableChecklistLink = report.submitted && not isProfReport %}
                    {% set behatRegionPrefix = 'behat-region-report-' ~ report.getPeriod() | replace({' ': '-'}) %}
                {% endif %}

                <tr class="govuk-table__row {{ behatRegionPrefix }}">
                    <td class="govuk-table__cell">
                        {% if report.type == 'ndr' %}
                            NDR
                        {% else %}
                            {{ report.period | replace({' to ': '–'}) }}
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {% if report.type == 'ndr' %}
                            NDR
                        {% else %}
                            OPG{{ report.type | upper }}
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell {{ behatRegionPrefix }}-due-date">
                        {{ report.dueDate | date("j F Y") }}
                    </td>
                    {% if type == 'done' %}
                        <td class="govuk-table__cell">
                            {{ report.submitDate | date("j F Y") }}
                        </td>
                    {% endif %}
                    <td class="govuk-table__cell text--right">
                        {% if enableChecklistLink %}
                            <a href="{{ path('admin_report_checklist', {'id': report.id}) }}"
                               class="behat-link-checklist">{{ 'checklist' | trans({}, 'common') }}</a>
                            <br />
                        {% endif %}
                        {% if enableManageLink %}
                            <a href="{{ path('admin_report_manage', {'id': report.id}) }}"
                               class="behat-link-manage">{{ 'manage' | trans({}, 'common') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
