{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}

{# Are there any remaining fees #}
<div class="govuk-summary-list__row behat-region-has-previous">
    <dt class="govuk-summary-list__key">
        {% if report.profDeputyCostsHasPrevious is null %}<span class="error">{% endif %}
            {{ 'previousReceivedExists.form.profDeputyCostsHasPrevious.label' | trans(transOptions) }}
            {% if report.profDeputyCostsHasPrevious is null %}</span>{% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
        {% if  report.profDeputyCostsHasPrevious is null %}
            <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
        {% else %}
            {{ report.profDeputyCostsHasPrevious | capitalize }}
        {% endif %}
    </dd>
    {% if not hideEditLink  %}
        <dd class="govuk-summary-list__actions">
            <a href="{{ path('prof_deputy_costs_previous_received_exists', {'reportId': report.id, 'from': 'summary'}) }}" class="govuk-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
        </dd>
    {% endif %}
</div>

{% for pc in report.profDeputyPreviousCosts %}
    <div class="govuk-summary-list__row behat-region-prev-cost-{{ loop.index }}">
        <dt class="govuk-summary-list__key">
            Received for {{ pc.startDate | date('d/m/Y') }} - {{ pc.endDate | date('d/m/Y') }}
            {#{{ 'previousReceivedExists.form.profDeputyCostsHasPrevious.label' | trans(transOptions) }}#}
        </dt>
        <dd class="govuk-summary-list__value">
            £{{ pc.amount | money_format }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ path('prof_deputy_costs_previous_received', {'reportId': report.id, 'previousReceivedId': pc.id, 'from': 'summary'}) }}">
                    {{ 'edit' | trans({}, 'common' ) }}
                </a>
                <a class="govuk-link govuk-!-margin-left-1 behat-link-delete" href="{{ path('prof_deputy_costs_previous_received_delete', {'reportId': report.id, 'previousReceivedId': pc.id}) }}">
                    {{ 'remove' | trans({}, 'common' ) }}
                </a>
            </dd>
        {% endif %}
    </div>
{% endfor %}

{# add another link #}
{% if report.profDeputyPreviousCosts | length and not hideEditLink %}
    <div class="govuk-summary-list__row behat-region-prev-costs">
        <div class="govuk-summary-list__key"></div>
        <div class="govuk-summary-list__value"></div>
        <div class="govuk-summary-list__actions">
            <a class="govuk-link behat-link-edit" href="{{ path('prof_deputy_costs_previous_received', {'reportId': report.id, 'from': 'summary'}) }}">Add another</a>
        </div>
    </div>
{% endif %}
