{% set translationDomain = "report-accounts" %}
{% trans_default_domain translationDomain %}

{% embed "AppBundle:Components/Listing:_card_item.html.twig" %}
    {% block card %}
        <div class="account card-title">Smile.co.uk</div>
        <dl class="labelvalue">
            <dt class="label">{{ 'banks.accountNumber' | trans({}, translationDomain) }}:</dt>
            <dd class="value">03137909</dd>
            <dt class="label">{{ 'banks.sortCode' | trans({}, translationDomain) }}:</dt>
            <dd class="value">12-34-45</dd>
        </dl>
    {% endblock %}
    {% block meta %}
        <dl class="labelvalue">
            <dt class="label">{{ 'banks.balanceOn' | trans({}, translationDomain) }} 1 Dec 2014:</dt>
            <dd class="value">{{ 'currencySymbol' | trans({}, translationDomain) }}10,000.00</dd>
            <dt class="label">{{ 'banks.balanceOn' | trans({}, translationDomain) }} 1 Dec 2015:</dt>
            <dd class="value">{{ 'currencySymbol' | trans({}, translationDomain) }}10,000.00</dd>
        </dl>
        <a class="edit-link" href="">Edit this account</a>
    {% endblock %}
{% endembed %}
