{% set translationDomain = "report-transactions" %}
    {% trans_default_domain translationDomain %}


<form class="expanding-transaction-table form-horizontal">
    <div class="sections">
        {% for category, transactions in transactionsGrouped %}
        <div class="section">
            <div class="summary">
                <div class="title">{{ category  | trans  }}</div>
                <div class="sub-total">£<span class="value">{{ transactions.amountTotal }}</span></div>
            </div>
            <div class="detail transactions">
                {% for transaction in transactions.entries %}
                <div class="form-group transaction">
                    <label class="form-label" for="transaction-1">
                       {{ transaction.id | trans }}
                    </label>
                    <span class="input-group-prefix">£</span>
                    <input type="text"
                           id="transaction-1"
                           class="form-control"
                           name="transactions[moneyIn][0][amount]" value="{{ transaction.amount }}"/>
                </div>
                {% endfor %}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-2">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-2"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-3">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-3"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="sub-total">#}
                    {#Total income/earnings: £<span class="value">0.00</span>#}
                {#</div>#}
            </div>
        </div>
        {% endfor %}
        {#<div class="section">#}
            {#<div class="summary">#}
                {#<div class="title">State benefit</div>#}
                {#<div class="sub-total">£<span class="value">0.00</span></div>#}
            {#</div>#}
            {#<div class="detail transactions">#}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-1">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-1"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-2">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-2"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-3">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-3"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="sub-total">#}
                    {#Total income/earnings: £<span class="value">0.00</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="section">#}
            {#<div class="summary">#}
                {#<div class="title">Pensions</div>#}
                {#<div class="sub-total">£<span class="value">0.00</span></div>#}
            {#</div>#}
            {#<div class="detail transactions">#}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-1">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-1"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-2">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-2"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="form-group transaction">#}
                    {#<label class="form-label" for="transaction-3">#}
                        {#Account Interest#}
                    {#</label>#}
                    {#<span class="input-group-prefix">£</span>#}
                    {#<input type="text"#}
                           {#id="transaction-3"#}
                           {#class="form-control"#}
                           {#name="transactions[moneyIn][0][amount]"/>#}
                {#</div>#}
                {#<div class="sub-total">#}
                    {#Total income/earnings: £<span class="value">0.00</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="grand-total">Total Money In: £<span class="value">{{ transactionsTotal }}</span></div>
    </div>

</form>

<script>
    $( document ).ready(function() {
        opg.expandingTransactionTable('.expanding-transaction-table');
    });
</script>
