{% set translationDomain = "report-transactions" %}
{% trans_default_domain translationDomain %}

{{ form_start(form, {attr: {novalidate: 'novalidate', class: 'expanding-transaction-table form-horizontal' }}) }}
    <div class="sections">
        {% for category, transactions in transactionsGrouped %}
        <div class="section">
            <div class="summary">
                <div class="title">{{ ('form.categories.' ~ category)  | trans  }}</div>
                <div class="sub-total">£<span class="value">{{ transactions.amountTotal }}</span></div>
            </div>
            <div class="detail transactions">
                {% for id, transaction in transactions.entries %}
                <div class="transaction">
                    {#access the element via ID, set from the model therefore matching#}
                    {{ form_row(formTransactions[id].id) }}
                    {{ form_row(formTransactions[id].type) }}

                    {{ form_input(formTransactions[id].amount, 'form.entries.' ~ transaction.id, {
                        'inputPrefix' : '£',
                        'inputClass' : 'form-control__number'
                    }) }}
                </div>
                {% endfor %}
                <div class="sub-total">
                    Total {{ ('form.categories.' ~ category)  | trans  }}: £<span class="value">{{ transactions.amountTotal }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="grand-total">Total Money In: £<span class="value">{{ transactionsTotal }}</span></div>
    </div>


{% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
{{ form_submit(form.save, 'save', {
    'labelText': ( 'form.save.label') | trans,
    'buttonClass': 'behat-link-save'
}) }}
{% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

{{ form_end(form) }}

<script>
    $( document ).ready(function() {
        new GOVUK.ExpandingTransactionTable('.expanding-transaction-table');
    });
</script>
