{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

<table class="check-your-answers columns-2 push-double--bottom">
    <thead>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>
            <span class="visuallyhidden">Actions</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="behat-region-benefits">
        <td>
            {{ 'form.categoriesIn.label' | trans(transOptions) }}
        </td>
        <td>
            {% set categories = report.recordsPresent(report.moneyShortCategoriesIn) %}
            {% if categories | length == 0%}
                None
            {% else %}
                {# display categories comma separated #}
                {% for c in categories %}
                    {{ ('form.categoriesEntries.' ~ c.typeId ~ '.label') | trans(transOptions) }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </td>
        <td class="change-answer">
            <a href="{{ path('money_in_short_category', { 'reportId': report.id, 'from': 'summary' }) }}" class="behat-link-edit">{{ 'summaryPage.edit'| trans }}</a>
        </td>
    </tr>

    </tbody>
</table>


<table class="check-your-answers columns-2 push-double--bottom">
    <thead>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>
            <span class="visuallyhidden">Actions</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="behat-region-records-exist">
        <td>
            {{ 'existPage.form.moneyTransactionsShortInExist.label' | trans(transOptions)  }}
        </td>
        <td>
            {{ report.moneyTransactionsShortInExist | capitalize }}
        </td>
        <td class="change-answer">
            <a href="{{ path('money_in_short_exist', { 'reportId': report.id, 'from': 'summary' }) }}" class="behat-link-edit">{{ 'summaryPage.edit'| trans }}</a>
        </td>
    </tr>
    </tbody>
</table>



{% if report.moneyTransactionsShortIn | length > 0 %}
    <div class="grid-row">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of expenses</h2>
        </div>
        <div class="column-half text--right">
            <a href="{{ path('money_in_short_add', { 'reportId': report.id, 'from': 'summary'}) }}" class="bold-small move-quarter--up action-link behat-link-add">
                <span class="icon icon-plus"></span>
                {{ 'summaryPage.addButton' | trans }}
            </a>
        </div>
    </div>
{% endif %}

{% if report.moneyTransactionsShortIn | length > 0 %}
    <table class="check-your-answers columns-3">
        <thead>
        <tr>
            <th>Description of expense</th>
            <th>Date</th>
            <th class="text--right">Amount</th>
            <th>
                <span class="visuallyhidden">Actions</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for tr in report.moneyTransactionsShortIn %}
            <tr class="behat-region-transaction-{{ tr.description | behat_namify }}">
                <td class="">
                    {{ tr.description }}<br/>
                </td>
                <td>
                    {{ tr.date ? tr.date | date("j F Y")  : '-'}}
                </td>
                <td class="numeric-small">
                    £{{ tr.amount | money_format }}
                </td>
                <td class="change-answer width-sixth soft-half--left hard--right">
                    <a href="{{ path('money_in_short_edit', { 'reportId': report.id, 'transactionId': tr.id }) }}#pageBody" class="behat-link-edit action-link">{{ 'summaryPage.edit'| trans }}</a>
                    <a href="{{ path('money_in_short_delete', { 'reportId': report.id, 'transactionId': tr.id }) }}" class="push-half--left action-link behat-link-delete">Remove</a>
                </td>
            </tr>
        {% endfor %}
        <tr class="no-border">
            <td></td>
            <td>
                <span class="bold-small">Total money in</span>
            </td>
            <td class="numeric-small">
                <span class="bold-small behat-region-transaction-total">£{{ report.totalValue(report.moneyTransactionsShortIn) | money_format }}</span>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

{% endif %}

