{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% block htmlTitle %}{{ 'addPage.moneyIn.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addPage.moneyIn.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addPage.moneyIn.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <p class="heading-small">{{ 'addPage.moneyIn.pageSectionDescription1' | trans(transOptions) }}</p>
    <p class="text">{{ 'addPage.moneyIn.pageSectionDescription2' | trans(transOptions) }}</p>
    <p class="text">{{ 'addPage.moneyIn.pageSectionDescription3' | trans(transOptions) }}</p>

    {% include 'AppBundle:Report/MoneyInShort:_form.html.twig' with {
    'translationDomain': translationDomain,
    'form': form
    } %}

{% endblock %}
