{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-money-transfer" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

{% macro accountDetails(account) %}
    {% if account.requiresBankName %}
        {{ account.bank }}<br/>
    {% endif %}
    <p class="govuk-!-font-size-16">
        {{ account.accountTypeText }}<br/>
        {% if account.requiresSortCode %}
            Sort code: {{ account.sortCode }}<br/>
        {% endif %}
        Account number: ****{{ account.accountNumber }}<br/>
        Joint account: {{ account.isJointAccount == 'no' ? 'No' : 'Yes' }}<br/>
    </p>
{% endmacro %}

<dl class="govuk-summary-list">
    {{ macros.summaryListHeaderQA(hideEditLink) }}
    <div class="govuk-summary-list__row behat-region-no-transfers-to-add">
        <dt class="govuk-summary-list__key">
            {{ 'existPage.form.noTransfersToAdd.label' | trans(transOptions)  }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ report.noTransfersToAdd is not null ? (report.noTransfersToAdd ? 'No' : 'Yes') : '-' }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ url('money_transfers_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                    {{ 'edit' | trans({}, 'common') }}
                    <span class="govuk-visually-hidden"> Question:{{ 'existPage.form.noTransfersToAdd.label' | trans(transOptions) }} Current answer:{{ report.noTransfersToAdd is not null ? (report.noTransfersToAdd ? 'No' : 'Yes') : '-'  }}</span>
                </a>
            </dd>
        {% endif %}
    </div>
</dl>

{% if report.moneyTransfers | length > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">List of money transfers</h2>
        </div>
    </div>
{% endif %}

{% if report.moneyTransfers | length > 0 %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    Transferred from
                </th>
                <th scope="col" class="govuk-table__header">
                    Transferred to
                </th>
                <th scope="col" class="govuk-table__header">
                    Description
                </th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                    Amount
                </th>
                {% if not hideEditLink %}
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                        <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                {% endif %}
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            {% for transfer in report.moneyTransfers|sort((a, b) => a.accountFrom.bank <=> b.accountFrom.bank) %}
                <tr class="govuk-table__row behat-region-transfer-{{ transfer.accountFrom.accountNumber }}-{{ transfer.accountTo.accountNumber }}-{{ transfer.amount | behat_namify }}">
                    <td class="govuk-table__cell">
                        {{ _self.accountDetails(transfer.accountFrom) }}
                    </td>
                    <td class="govuk-table__cell">
                        {{ _self.accountDetails(transfer.accountTo) }}
                    </td>
                    <td class="govuk-table__cell govuk-!-width-one-quarter">
                        {{ transfer.description | nl2br }}
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        £{{ transfer.amount | money_format }}
                    </td>
                    {% if not hideEditLink  %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a
                                href="{{ url('money_transfers_step', { 'reportId': report.id, 'transferId': transfer.id, 'step': 1 }) }}"
                                class="behat-link-edit govuk-link">
                                {{ 'edit' | trans({}, 'common') }}
                                <span class="govuk-visually-hidden">{{transfer.accountFrom.bank}}-{{transfer.accountTo.bank}} £{{transfer.amount | money_format}} {{transfer.description}}</span>
                            </a>
                            <a
                                href="{{ path('money_transfers_delete', { 'reportId': report.id, 'transferId': transfer.id }) }}"
                                class="behat-link-delete govuk-link govuk-!-margin-left-1">
                                {{ 'remove' | trans({}, 'common' ) }}
                                <span class="govuk-visually-hidden">{{transfer.accountFrom.bank}}-{{transfer.accountTo.bank}} £{{transfer.amount | money_format}} {{transfer.description}}</span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% if report.moneyTransfers | length > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-!-display-block text--right">
            {% if not hideEditLink  %}
            <div class="moj-button-menu">
                <div class="moj-button-menu__wrapper">
                <a href="{{ path('money_transfers_step', { 'reportId': report.id, 'step': 1}) }}" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
                        {{ 'summaryPage.addButton' | trans }}
                </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endif %}
