{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-money-transfer" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'existPage.htmlTitle' | trans }}{% endblock %}
{% block pageHeader %}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <div class="govuk-form-group {% if not form.noTransfersToAdd.vars.valid %}govuk-form-group--error{% endif %}">
        {{ form_checkbox_group(form.noTransfersToAdd, 'existPage.form.noTransfersToAdd', {
            'useFormGroup': false,
            'fieldSetClass' : 'govuk-radios--inline',
            'labelParameters': transOptions,
            legend: {
                isPageHeading: true,
                caption: 'existPage.supportTitle' | trans
            }
        }) }}
    </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
