{% from '@App/Admin/Client/Report/macros.html.twig' import checklist_radios, checklist_checkbox %}
{% from '@App/Macros/macros.html.twig' import details %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="deputyAndClientInfo">{{ (page ~ '.heading.lodging.info') | trans }}</h3>

{{ checklist_radios(form.reportingPeriodAccurate) }}

<div class="govuk-inset-text govuk-!-margin-top-2">
    <div class="behat-region-court-date">
        <strong>{{ 'courtOrderDate' | trans({}, 'common') }}:</strong>
        {% if report.client.courtDate is defined and report.client.courtDate is not null %}
            {{ report.client.courtDate | date("j M Y") }}
        {% else %}
            Not known
        {% endif %}
    </div>
    <div class="behat-region-submitted-date">
        <strong>{{ (page ~ '.submitted') | trans }}:</strong> {{ report.startDate | date("j M Y") }} - {{ report.endDate | date("j M Y") }}
    </div>
</div>

{{ checklist_checkbox(form.contactDetailsUptoDate) }}

{% set contents %}
    {# CLIENT DETAILS #}
    <h3 class="govuk-heading-m">Client details</h3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'firstNames' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-client-firstname">{{ report.client.firstName }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'lastName' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-client-lastname">{{ report.client.lastName }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'address' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-client-address">
                {% if report.client.address is not empty %}
                    {{ report.client.address }}<br/>
                {% endif %}
                {% if report.client.address2 is not empty %}
                    {{ report.client.address2 }}<br/>
                {% endif %}
                {% if report.client.address3 is not empty %}
                    {{ report.client.address3 }}<br/>
                {% endif %}
                {% if report.client.address4 is not empty %}
                    {{ report.client.address4 }}<br/>
                {% endif %}
                {% if report.client.address5 is not empty %}
                    {{ report.client.address5 }}<br/>
                {% endif %}
                {% if report.client.postcode is not empty %}
                    {{ report.client.postcode }}<br/>
                {% endif %}
                {% if report.client.country is not empty %}
                    {{ report.client.country | country_name }}
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'phone' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-client-phone">{{ report.client.phone }}</dd>
        </div>
    </dl>

    {# DEPUTY DETAILS #}
    {% set deputy = report.submittedBy.isDeputyOrg and report.client.getDeputy ? report.client.getDeputy : report.submittedBy %}
    <h3 class="govuk-heading-m">Deputy details</h3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'firstNames' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-deputy-firstname">{{ deputy.firstname }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'lastName' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-deputy-lastname">{{ deputy.lastname }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'address' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-deputy-address">
                {% if deputy.address1 is not empty %}
                    {{ deputy.address1 }}<br/>
                {% endif %}
                {% if deputy.address2 is not empty %}
                    {{ deputy.address2 }}<br/>
                {% endif %}
                {% if deputy.address3 is not empty %}
                    {{ deputy.address3 }}<br/>
                {% endif %}
                {% if deputy.addressPostcode is not empty %}
                    {{ deputy.addressPostcode }}<br/>
                {% endif %}
                {% if deputy.addressCountry is not empty %}
                    {{ deputy.addressCountry | country_name }}
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'phone' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-deputy-phone">{{ deputy.phoneMain }}</dd>
        </div>
        {% if (deputy.phoneAlternative is defined) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{{ 'alternativePhone' | trans({}, 'common') }}</dt>
                <dd class="govuk-summary-list__value">{{deputy.phoneAlternative}}</dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'email' | trans({}, 'common') }}</dt>
            <dd class="govuk-summary-list__value behat-region-checklist-deputy-email">{{ deputy.email }}</dd>
        </div>
    </dl>
{% endset %}

{{ details({
    summaryText: (page ~ '.revealTitle.contactDetails') | trans,
    text: contents,
}) }}

{% if form.deputyFullNameAccurateInSirius is defined %}
    {{ checklist_checkbox(form.deputyFullNameAccurateInSirius) }}

    <div class="govuk-inset-text govuk-!-margin-top-2">
        <strong>{{ (page ~ '.deputysFullName') | trans }}:</strong> {{ deputy.fullName }}
    </div>
{% endif %}
