{% trans_default_domain 'admin-checklist' %}

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-body-s">
            <th class="govuk-table__header" scope="col">{{ 'date' | trans({}, 'common') }}</th>
            <th class="govuk-table__header" scope="col">{{ 'savedBy' | trans({}, 'common') }}</th>
            <th class="govuk-table__header" scope="col">{{ (page ~ '.furtherInfo.infoProvided') | trans }}</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body behat-region-information">
        {% if information is not empty %}
            {% for info in information %}
                <tr class="govuk-table__row govuk-body-s">
                    <td class="govuk-table__cell">{{ info.createdOn | date("j F Y") }}</td>
                    <td class="govuk-table__cell">{{ info.createdBy.fullname }}, {{ info.createdBy.roleFullName }}</td>
                    <td class="govuk-table__cell">{{ info.information | nl2br }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="govuk-table__row govuk-body-s">
                <td colspan="3" class="govuk-table__cell">{{ (page ~ '.furtherInfo.noInfoReceived') | trans }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
