<div class="grid-row">
    <div class="column-half">
        <h2 class="heading-large flush--top">Deputies</h2>
    </div>
    <div class="column-half text--right">
        <a href="{{ path('add_co_deputy', {'clientId': client.id}) }}" class="bold-small action-link right behat-link-invite-codeputy-button">
            <span class="icon icon-plus"></span>
            {{ ('page.inviteAnotherDeputy') | trans({}, 'report') }}
        </a>
    </div>
</div>
<table class="check-your-answers behat-region-codeputies">
    <thead>
    <tr>
        <th>Name or email</th>
        <th>Status</th>
        <th>
            <span class="visually-hidden">Actions</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ app.user.firstname }} {{ app.user.lastname }}</td>
        <td>Registered</td>
        <td class="change-answer"></td>
    </tr>
    {% for deputy in coDeputies %}
        {%  if not deputy matches '/^\\d+$/' %}
            {% if deputy.active %}
                <tr>
                    <td>{{ deputy.firstname }} {{ deputy.lastname }}</td>
                    <td>Registered</td>
                    <td class="change-answer"></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ deputy.email }}</td>
                    <td>Awaiting registration</td>
                    <td class="change-answer">
                        <a href="">Resend invite</a>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {%  endfor %}
    </tbody>
</table>
