{% trans_default_domain translationDomain %}


<a class="behat-link-edit-information right-link" href="{{ path('report_add_further_info', {'reportId': report.id, 'action': 'edit'}) }}">{{ 'page.editLink' | trans }}</a>

<p class="page-section-description behat-region-additional-info">
    {{ report.furtherInformation | nl2br }}
</p>

<a class="button behat-link-next" href="{{ path('report_declaration', {'reportId': report.id}) }}">{{ 'page.nextButton' | trans }}</a>