{% trans_default_domain translationDomain %}

<p>{{ 'page.pageSectionDescription' | trans({'%client%': report.client.firstname}, translationDomain) }}</p>


{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}

{{ form_start(form, {attr: {novalidate: 'novalidate',class: 'single-texta-area' }}) }}

{{ form_input(form.furtherInformation, 'form.furtherInformation', { 'labelClass': 'visuallyhidden' }) }}

{{ form_submit(form.saveAndContinue, 'form.saveAndContinue') }}

{{ form_end(form) }}
