{% trans_default_domain translationDomain %}

<p class="text">{{ 'page.pageSectionDescription' | trans({'%client%': report.client.firstname}, translationDomain) }}</p>

{{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

{{ form_input(form.furtherInformation, 'form.furtherInformation', { 'labelClass': 'visuallyhidden' }) }}

{{ form_submit(form.saveAndContinue, 'form.saveAndContinue') }}

{{ form_end(form) }}
