{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

<h1 class="heading-xlarge flush--bottom behat-region-report-title">
    {{ report.period }} {{ 'report.header.report' | trans }}
</h1>
<h2 class="heading-large flush--top">{{ report.client.fullname }}</h2>

{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}

{% if reportStatus.isReadyToSubmit and report.isDue %}
    <div id="header-report-submit" class="hero">
        <h2 class="heading">{{ 'reportIsReady' | trans() }}</h2>
        <div class="message"><a class="button-grey submit-link behat-link-report-submit" href="{{ path('report_review', {'reportId': report.id}) }}">{{ 'signAndSubmit' | trans() }}</a></div>
    </div>    
{% endif %}
