{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{# TODO disableedit not needed anymore. Delete along with allowEdit #}
{% if disableedit is defined and disableedit == true %}
    {% set allowEdit = false %}
{% else %}
    {% set allowEdit = true %}
{% endif %}

{% if linkToSubSection is not defined %}
    {% set linkToSubSection = path(subSection, {reportId: report.id}) %}
{% endif %}

<div id="{{ subSection }}-sub-section" class="section-list-item">
    <h3 class="heading heading-medium">{{ (subSection ~ '.subSectionTitle') | trans }}</h3>
    <span class="status flush--bottom {{ state.state }} behat-region-{{ subSection }}-state-{{ state.state }}">
        {% if state.state == 'done' or customiseAllLabels | default(false) %}
            {{ (subSection ~ '.label.' ~ state.state) | transchoice(state.nOfRecords | default(0)) }}
        {% else %}
            {{ ('labels.' ~ state.state) | trans }}
        {% endif %}
    </span>

    {% if allowEdit == true %}
        <a class="edit-link behat-link-edit-{{ subSection }}" id="edit-{{ subSection }}" href="{{ linkToSubSection }}" aria-label="{{ (subSection ~ '.edit') | trans }}">
            {% if subSection == 'balance' %}
                {{ 'view' | trans({}, 'common') | capitalize }}
            {% else %}
                {% if state.state == 'not-started' %}
                    {{ 'start' | trans({}, 'common') | capitalize }}
                {% else %}
                    {{ 'edit' | trans({}, 'common') | capitalize }}
                {% endif %}
            {% endif %}
        </a>
    {% endif %}

    {%  if description | default(false) %}
        <p class="description text {%  if descriptionLink | default(false) %}flush--bottom{% endif %}
        ">
            {% if descriptionRaw | default(false)  %}
                {{ descriptionRaw | raw }}
            {% else %}
                {{ (subSection ~ '.subSectionDescription') | trans(transOptions) }}
            {% endif %}
        </p>
    {%  endif %}
    {%  if descriptionLink | default(false) %}
        <p class="description">
            <a href="{{ linkToSubSection }}#cantFindTheProblem">{{ (subSection ~ '.subSectionDescription.' ~ descriptionLinkAction ~ 'Explanation') | trans(transOptions) }}</a>
        </p>
    {% endif %}
</div>
