{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% trans_default_domain "registration" %}

{% block pageTitle %}{{ 'createReport.pageTitle' | trans }} {% endblock %}
{% block title %}{{ 'createReport.h1Title' | trans }}{% endblock %}

{% block pageNavigation %}
    {% if app.user.odrEnabled %}
        <nav id="back-bar">
            <a id="overview-button" href="{{ path('odr_index') }}">Return to Homepage</a>
            {% include 'AppBundle:Components:_helpline.html.twig' %}
        </nav>
    {% else %}
        {{ progress_bar_registration(app.user, 'create_report') }}
    {% endif %}
{% endblock %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}


{% block pageBody %}

    {% include 'AppBundle:Report:_report_form.html.twig' %}

{% endblock %}