{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-declaration" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'page.descriptionPara01' | trans }}</p>
        <p>{{ 'page.descriptionPara02' | trans }}</p>
        <p>{{ 'page.descriptionPara03' | trans }}</p>
        <p>{{ 'page.descriptionPara04' | trans }}</p>
    </div>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'push--bottom' }}) }}

    {{ form_checkbox(form.agree, 'agree', { 'labelClass': 'required extra-top' }) }}

        {{ form_checkbox_group(form.agreedBehalfDeputy, 'agreedBehalfDeputy', {
        'fieldSetClass' : 'radio-agreed-behalf-deputy',
        'legendClass' : 'form-label'
    }) }}

    <div id="agreed-behalf-deputy-explanation-section">
        {{ form_input(form.agreedBehalfDeputyExplanation,'agreedBehalfDeputyExplanation') }}
    </div>

    {{ form_submit(form.save,'save') }}

    {{ form_end(form) }}

    {{ macros.notification('notice', 'unableToEditAfterSubmission' | trans()) }}

    <script type="text/javascript">
        $(document).ready(function() {
            new opg.RadioHide({
                radio: '.radio-agreed-behalf-deputy input[type=radio]',
                content: '#agreed-behalf-deputy-explanation-section',
                hideByDefault: true,
                showWithValue: 'more_deputies_not_behalf'
            });
        });
    </script>


{% endblock %}
