{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report" %}
{% trans_default_domain translationDomain %}

 {% block htmlTitle %}
     {{ ('editPage.htmlTitle') | trans({'%client%': client.firstname}) }}
 {% endblock %}
{% block pageTitle %}
    {{ ('editPage.htmlTitle') | trans({'%client%': client.firstname}) }}
{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block pageContent %}

    {% block validationSummary %}
        {{ form_errors_list(form) }}
    {% endblock %}

    <h3 class="heading-medium">{{ 'editPage.title'| trans({'%period%': report.period}, translationDomain) }}</h3>
    <p>{{ 'editPage.pageSectionDescription' | trans }}</p>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: ''  }}) }}

    {{ form_known_date(form.startDate, 'editPage.form.startDate') }}

    {{ form_known_date(form.endDate, 'editPage.form.endDate') }}

    {{ form_submit(form.save,'editPage.form.save') }}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
    transDomain: translationDomain,
    linkButtonLabel: 'editPage.form.cancel.label',
    linkClass: 'button-link',
    linkHref: returnLink
    } %}

    {{ form_end(form) }}

    <hr class="item-list"/>
{% endblock %}
