{% embed 'AppBundle:Layouts:report_left_nav.html.twig' with {
    'hideReportNav': true
} %}
    {% set translationDomain = "report" %}
    {% trans_default_domain translationDomain %}
    {% block bodyClasses %}reports-page{% endblock %}
    {% block htmlTitle %}
        {{ ('page.' ~ filter ~ '.htmlTitle') | trans({'%client%': client.firstname}) }}
    {% endblock %}
    {% block contentClass %}{{ parent() }} reports-list{% endblock %}
    {% block pageTitle %}{{ ('page.' ~ filter ~ '.title') | trans({'%client%': client.firstname}) }}{% endblock %}

{% block backLinktop %}{% endblock %}

{% block leftcontent %}
    {% include 'AppBundle:Report:left-nav.html.twig'%}
{% endblock %}

{% block maincontent %}
    {% if reportId %}
         {% if newReportNotification %}
            <p class="flash">{{ newReportNotification }}</p>
        {% endif %}
        {% include 'AppBundle:Report:_edit-dates.html.twig' with {
                    'form' : editReportDatesForm
                } %}
        <hr class="item-list" />
    {% else %}
        <h3 class="heading-medium flush--top">{{ ('page.' ~ filter ~ '.pageSectionTitle') | trans({'%client%': client.firstname}) }}</h3>

    {% endif %}

    {% if not reportId and reports is not empty %}
        {% include 'AppBundle:Report:_list-reports.html.twig' with {
                'translationDomain': translationDomain,
                'reports': reports
                } %}
    {% endif %}
{% endblock %}
{% endembed %}

{#{% extends 'AppBundle:Components/Page:page-service.html.twig' %}#}
