{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname | e
} %}

{# TODO REPLACE those two using report.hasSection() #}
{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block breadcrumbs %}{{ macros.homepage }}{% endblock %}

{% block pageContent %}
    {% block pageHeader %}
        {% include 'AppBundle:Report/Report:_header.html.twig' %}
    {% endblock %}

    <div class="grid-row">
        <div class="column-one-half">
            <ul>
                <li>{{ 'reportingPeriod' | trans() }}:
                    <span class="bold-small">{{ report.startDate | date("j F Y") }} to {{ report.endDate | date("j F Y") }}</span>
                </li>
                {# @biggs to style #}
                <li class="{{ report.unSubmitDate ? 'orangeWarning' : '' }}">{{ 'dueDate' | trans() }}:
                    <span class="bold-small">{{ report.dueDate | date("j F Y") }}</span>
                </li>
                <li>Report status:
                    <span class="bold-small">{{ ('status.' ~ reportStatus.status) | trans() }}</span>
                </li>
            </ul>
        </div>
    </div>

    {% if not report.isDue or report.isDue and not reportStatus.isReadyToSubmit %}
        <div class="push--top">
            {{ macros.notification('info', 'guidanceNotice' | trans(transOptions)) }}
        </div>
    {% endif %}

    {% if report.unSubmitDate %}
        <div class="push--top">
            {{ macros.notification('important', 'incompleteNotice' | trans) }}
        </div>
    {% endif %}


    <ul id="overview-sections" class="push--bottom">

        <li id="planning-section" class="overview-section">
            <h2 class="heading">{{ 'heading.decisionsContacts' | trans() }}</h2>
            {% if report.hasSection('decisions') %}
                {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'decisions',
                    sectionId: 'decisions',
                    report: report,
                    description: true,
                    state: reportStatus.decisionsState,
                    list: true
                } %}
            {% endif %}
            {% if report.hasSection('contacts') %}
                {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'contacts',
                    sectionId: 'contacts',
                    report: report,
                    description: true,
                    list: true,
                    info: true,
                    state: reportStatus.contactsState,
                } %}
            {% endif %}
        </li>

        <li id="welfare-section" class="overview-section">
            <h2 class="heading">{{ 'heading.healthAndWelfare' | trans(transOptions) }}</h2>
            {% if report.hasSection('visitsCare') %}
                {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'visits_care',
                    sectionId: 'visitsCare',
                    report: report,
                    info: true,
                    description: true,
                    state: reportStatus.visitsCareState
                } %}
            {% endif %}
            {% if report.hasSection('lifestyle') %}
                {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                transDomain: translationDomain,
                subSection: 'lifestyle',
                sectionId: 'lifestyle',
                report: report,
                info: true,
                description: true,
                state: reportStatus.lifestyleState
                } %}
            {% endif %}
        </li>
        {% if report.hasSection('deputyExpenses') or report.hasSection('bankAccounts') %}
            <li id="finances-section" class="overview-section">
                <h2 class="heading">{{ 'heading.propFinance' | trans(transOptions) }}</h2>

                {% if report.hasSection('bankAccounts') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'bank_accounts',
                    sectionId: 'bankAccounts',
                    report: report,
                    state: reportStatus.bankAccountsState,
                    description: true
                    } %}
                {% endif %}

                {% if report.hasSection('deputyExpenses') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'deputy_expenses',
                        sectionId: 'deputyExpenses',
                        report: report,
                        state: reportStatus.expensesState,
                        linkToSubSection: path('deputy_expenses', {'reportId': report.id}),
                        description: true
                    } %}
                {% endif %}

                {% if report.hasSection('gifts') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'gifts',
                    sectionId: 'gifts',
                    report: report,
                    state: reportStatus.giftsState,
                    linkToSubSection: path('gifts', {'reportId': report.id}),
                    description: true
                    } %}
                {% endif %}

                {% if report.hasSection('moneyTransfers') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'money_transfers',
                        sectionId: 'moneyTransfers',
                        report: report,
                        state: reportStatus.moneyTransferState,
                        description: true
                    } %}
                    {% endif %}
                {% if report.hasSection('moneyIn') and report.hasSection('moneyOut') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_in',
                    sectionId: 'moneyIn',
                    report: report,
                    state: reportStatus.moneyInState,
                    description: true
                    } %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_out',
                    sectionId: 'moneyOut',
                    report: report,
                    state: reportStatus.moneyOutState,
                    description: true
                    } %}
                {% endif %}
                {% if report.hasSection('moneyInShort') and report.hasSection('moneyOutShort') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_in_short',
                    sectionId: 'moneyInShort',
                    report: report,
                    state: reportStatus.MoneyInShortState,
                    description: true
                    } %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'money_out_short',
                    sectionId: 'moneyOutShort',
                    report: report,
                    state: reportStatus.MoneyOutShortState,
                    description: true
                    } %}
                {% endif %}
                {# balance status values:
                    - incomplete: when bank accounts or money section are incomplete
                    - not-matching: when bank accounts and money section are complete but balance is incorrect (not matching or explanation missing)
                    - explained: when we have an explanation (effectively done but allows us to distinguish users that explain and then proceed to balance
                    #}
                {% if report.hasSection('balance')%}
                    <!-- [DEBUG INFO: status {{ reportStatus.balanceState['state'] }}, due: {{ report.isDue() ? 't':'f' }}] -->

                    {# calculate description text based on scenario (https://opgtransform.atlassian.net/wiki/spaces/DEPDS/pages/152502291) #}
                    {% set labelIndex = 'default' %}
                    {% if report.isDue() and reportStatus.balanceState['state'] == 'not-matching' %}
                        {% set descLink = true %}
                        {% set linkAction = 'add' %}
                    {% elseif report.isDue() and reportStatus.balanceState['state'] == 'explained' %}
                        {% set descLink = true %}
                        {% set linkAction = 'edit' %}
                    {% else %}
                        {% set linkAction = '' %}
                    {% endif %}

                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'balance',
                        sectionId: 'balance',
                        report: report,
                        state: reportStatus.balanceState,
                        description: true,
                        descriptionRaw: ('balance.subSectionDescription.' ~ labelIndex) | trans(transOptions),
                        customiseAllLabels: true,
                        descriptionLink: descLink | default(false),
                        descriptionLinkAction: linkAction
                    } %}
                {% endif %}

                {% if report.hasSection('assets') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                        transDomain: translationDomain,
                        subSection: 'assets',
                        sectionId: 'assets',
                        report: report,
                        state: reportStatus.assetsState,
                        list: true,
                        description: true
                    } %}
                {% endif %}
                {% if report.hasSection('debts') %}
                    {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'debts',
                    sectionId: 'debts',
                    report: report,
                    state: reportStatus.debtsState,
                    list: true,
                    description: true
                    } %}
                {% endif %}
            </li>
        {% endif %}


        <li id="report-submit-section" class="overview-section">
            <h2 class="heading">{{ 'heading.other' | trans() }}</h2>
            {% if report.hasSection('actions') %}
                {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'actions',
                    sectionId: 'actions',
                    report: report,
                    description: true,
                    state: reportStatus.actionsState,
                    list: true
                } %}
            {% endif %}
            {% if report.hasSection('otherInfo') %}
                {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'other_info',
                    sectionId: 'otherInfo',
                    linkToSubSection: path('other_info', {reportId: report.id}),
                    report: report,
                    info: true,
                    description: true,
                    state: reportStatus.otherInfoState,
                } %}
            {% endif %}

        <li id="report-submit-section" class="overview-section">
            <h2 class="heading">{{ 'heading.caseDocuments' | trans() }}</h2>
            {% if report.hasSection('documents') %}
                {% include 'AppBundle:Report/Report:_subsection.html.twig' with {
                    transDomain: translationDomain,
                    subSection: 'documents',
                    sectionId: 'documents',
                    report: report,
                    description: true,
                    state: reportStatus.documentsState,
                    list: true
                } %}
            {% endif %}
        </li>
    </ul>

    {% if not report.isDue %}

        <div class="push--top">
            {% set endDate = report.getEndDate() | date("j F Y")  %}
            {% set transOptions = {'%date%': endDate} %}

            {{ macros.notification('info', 'previewNoticeNotDue' | trans(transOptions)) }}
        </div>
        <a id="edit-report-preview" class="button" href="{{ path('report_review', {'reportId': report.id}) }}">{{ 'options.previewReport' | trans() }}</a>

    {% else %}
        {% if not reportStatus.isReadyToSubmit %}

            <div class="push--top">
                {{ macros.notification('info', 'previewNotice' | trans()) }}
            </div>
            <a id="edit-report-preview" class="button" href="{{ path('report_review', {'reportId': report.id}) }}">{{ 'options.previewReport' | trans() }}</a>

        {% else %}

            <a id="edit-report-review" class="button push--top behat-link-edit-report-review" href="{{ path('report_review', {'reportId': report.id}) }}">{{ 'continue' | trans({}, 'common') }}</a>

        {% endif %}

    {% endif %}



{% endblock %}
