{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set translationDomain = "report-display" %}
{% set isLayDeputy = not user.isDeputyPa %}
{% if not report.isDue or report.isDue and not reportStatus.isReadyToSubmit %}
    {% set preview = true %}
    {% set page = 'preview' %}
{% else %}
    {% set preview = false %}
    {% set page = 'review' %}
{% endif %}

{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {% if report.submitted == true %}
        {% if isLayDeputy %}
            <a id="back-to-reports" href="{{ backLink }}" class="link-back behat-link-back-to-reports">{{ 'back' | trans({}, 'common' ) }}</a>
        {% else %}
            <a id="back-to-client" href="{{ backLink }}" class="link-back behat-link-return-to-client-profile">{{ 'page.returnToClientProfile' | trans([], 'report-submitted') }}</a>
        {% endif %}
    {% else %}
        <div class="breadcrumbs hard--bottom">
            <ol class="group">
                <li><a href="{{ path('homepage') }}">{{ 'yourReports' | trans({}, 'common' ) }}</a></li>
                <li><a href="{{ path("report_overview" , {'reportId': report.id }) }}">{{ 'deputyReportOverview' | trans({}, 'common' ) }}</a></li>
            </ol>
        </div>
    {% endif %}
{% endblock %}

{% block pageContent %}

    <div class="push--bottom">
        <p class="text">{{ (page ~ '.introPara') | trans() }}</p>
        {% if preview %}
            <a class="link-back" href="{{ path("report_overview" , {'reportId': report.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% endif %}
    </div>

    <div class="push--bottom">
        {% include 'AppBundle:Report/Formatted:formatted.html.twig' %}
    </div>

    {% if report.submitted == false %}
        {% if preview %}
            <a class="" href="{{ path("report_overview" , {'reportId': report.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% else %}
            <a class="button left behat-link-declaration-page" href="{{ path("report_declaration" , {'reportId': report.id }) }}">
                {{ 'submitReport' | trans() }}
            </a>
            <a class="button-link" href="{{ path("report_overview" , {'reportId': report.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
        {% endif %}
    {% endif %}

    <br>
    <a class="pdflink push-half--top" href="{{ path('report_pdf', {'reportId': report.id}) }}">{{ 'downloadAsPdf' | trans() }}</a>

    <script>
        $(document).ready(function() {
            var ga = new opg.Ga({'timeout': 250});
            ga.trackDownloadableLink($('.pdflink'));
        });
    </script>
{% endblock %}
