{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {% if report.submitted == true %}
        {% if app.user.isDeputyPa() %}
            <a id="back-to-client" href="{{ backLink }}" class="link-back behat-link-return-to-client-profile">{{ 'page.returnToClientProfile' | trans([], 'report-submitted') }}</a>
        {% else %}
            <a id="back-to-client" href="{{ backLink }}" class="link-back behat-link-back-to-reports">{{ 'back' | trans({}, 'common' ) }}</a>
        {% endif %}
    {% else %}
        <div class="breadcrumbs hard--bottom">
            <ol class="group">
                <li><a href="{{ path('homepage') }}">{{ 'yourReports' | trans({}, 'common' ) }}</a></li>
                <li><a href="{{ path("report_overview" , {'reportId': report.id }) }}">{{ 'deputyReportOverview' | trans({}, 'common' ) }}</a></li>
            </ol>
        </div>
    {% endif %}
{% endblock %}

{% block pageContent %}

    {% if not user.isDeputyPa %}
        {% if report.submitted == false %}
            {% if reportStatus.isReadyToSubmit and report.isDue %}

            {% else  %}

            {% endif %}
        {% endif %}
        <div id="page-body">
            <p>
                {{ 'incomplete.introPara' | trans() }}
            </p>
        </div>
    {% else %}
        {% if report.submitted == false %}
            {% if reportStatus.isReadyToSubmit and report.isDue %}
                {% include 'AppBundle:Components:nextprevioussimple.html.twig' with {
                'previousLink': path("report_overview" , {'reportId': report.id }),
                'previousLabel': 'Edit this report',
                'nextLink': path("report_declaration" , {'reportId': report.id }),
                'nextLabel': 'Submit report',
                'position': 'top',
                'nextAdditionalClass': 'behat-link-declaration-page'
                } %}
            {% else  %}
                {% include 'AppBundle:Components:nextprevioussimple.html.twig' with {
                'previousLink': path("report_overview" , {'reportId': report.id }),
                'previousLabel': 'Edit this report',
                'position': 'top'
                } %}
            {% endif %}
        {% endif %}
        <div id="page-body">
            <a class="pdflink" href="{{ path('report_pdf', {'reportId': report.id}) }}">{{ 'downloadAsPdf' | trans() }}</a>
        </div>
    {% endif %}

    <div id="page-body">
        {% include 'AppBundle:Report/Formatted:formatted.html.twig' %}
    </div>

    <div id="body-footer-nav">
        {% if not user.isDeputyPa %}

            {# Lay deputies #}

            {% if report.submitted == false %}
                {% if reportStatus.isReadyToSubmit and report.isDue %}
                    {% set continueClass = "disabled" %}
                {% else  %}
                    {% set continueClass = "" %}

                    <div class="push--top">
                        {{ macros.notification('info', 'incomplete.youCanContinue' | trans) }}
                    </div>

                {% endif %}
            {% endif %}

            <div id="page-body">
                <div class="column-one-half">
                    <a class="button left {{ continueClass }}" href="{{ path("report_declaration" , {'reportId': report.id }) }}">{{ 'button.continue.label' | trans() }}</a>
                </div>
                <a class="" href="{{ path("report_overview" , {'reportId': report.id }) }}">
                    {{ 'incomplete.backToEditingReport' | trans() }}
                </a>
                <a class="pdflink" href="{{ path('report_pdf', {'reportId': report.id}) }}">{{ 'downloadAsPdf' | trans() }}</a>
            </div>

        {% else %}

            {# PA deputies #}

            {% if report.submitted == false %}
                {% if reportStatus.isReadyToSubmit and report.isDue %}
                    {% include 'AppBundle:Components:nextprevioussimple.html.twig' with {
                    'previousLink': path("report_overview" , {'reportId': report.id }),
                    'previousLabel': 'Edit this report',
                    'nextLink': path("report_declaration" , {'reportId': report.id }),
                    'nextLabel': 'Submit report',
                    'position': 'bottom'
                    } %}
                {% else  %}
                    {% include 'AppBundle:Components:nextprevioussimple.html.twig' with {
                    'previousLink': path("report_overview" , {'reportId': report.id }),
                    'previousLabel': 'Edit this report',
                    'position': 'bottom'
                    } %}
                {% endif %}
            {% endif %}
        {% endif %}

    </div>

    <script>
        $(document).ready(function() {
            var ga = new opg.Ga({'timeout': 250});
            ga.trackDownloadableLink($('.pdflink'));
        });
    </script>
{% endblock %}
