{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set translationDomain = "report-display" %}
{% set isLayDeputy = not user.isDeputyPa %}

{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {% if report.submitted == true %}
        {% if isLayDeputy %}
            <a id="back-to-reports" href="{{ backLink }}" class="link-back behat-link-back-to-reports">{{ 'back' | trans({}, 'common' ) }}</a>
        {% else %}
            <a href="{{path('pa_dashboard')}}" class="behat-link-pa-dashboard">Dashboard</a>
            <a id="back-to-client" href="{{ backLink }}" class="link-back behat-link-return-to-client-profile">{{ 'page.returnToClientProfile' | trans([], 'report-submitted') }}</a>
        {% endif %}
    {% else %}
        <div class="breadcrumbs hard--bottom">
            <ol class="group">
                <li><a href="{{ path('homepage') }}">{{ 'yourReports' | trans({}, 'common' ) }}</a></li>
                <li><a href="{{ path("report_overview" , {'reportId': report.id }) }}">{{ 'deputyReportOverview' | trans({}, 'common' ) }}</a></li>
            </ol>
        </div>
    {% endif %}
{% endblock %}

{% block pageContent %}

    <div id="page-body">
        <p>
            {{ 'incomplete.introPara' | trans() }}
        </p>
    </div>

    <div id="page-body">
        {% include 'AppBundle:Report/Formatted:formatted.html.twig' %}
    </div>

    <div id="body-footer-nav">

        {% if report.submitted == false %}
            {% if reportStatus.isReadyToSubmit and report.isDue %}

                <div class="column-one-half">
                    <a class="button left behat-link-declaration-page" href="{{ path("report_declaration" , {'reportId': report.id }) }}">{{ 'button.continue.label' | trans() }}</a>
                </div>

            {% else  %}

                <div class="push--top">
                    {{ macros.notification('info', 'incomplete.youCanContinue' | trans) }}
                </div>

            {% endif %}
        {% endif %}

        <div id="page-body">

            <a class="" href="{{ path("report_overview" , {'reportId': report.id }) }}">
                {{ 'incomplete.backToEditingReport' | trans() }}
            </a>
            <a class="pdflink" href="{{ path('report_pdf', {'reportId': report.id}) }}">{{ 'downloadAsPdf' | trans() }}</a>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            var ga = new opg.Ga({'timeout': 250});
            ga.trackDownloadableLink($('.pdflink'));
        });
    </script>
{% endblock %}
