{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "report-submitted" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'thanks.thankYouForsubmitting' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block pageContent %}

        <a href="{{ path('report_review', {'reportId': report.id}) }}" class="behat-link-download-report">
            {{ 'page.downloadLink' | trans({'%reportName%': report.getPeriod()}) }}
        </a><br>
        <a href="{{ path('reports', {'type': report.type})}}" class="behat-link-return-to-client-page">{{ 'page.returnToHomepage' | trans }}</a>

{% endblock %}
