{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "report-submitted" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

{% block pageContent %}

    {{ macros.notification('success', 'page.thankYouForsubmitting' | trans({'%reportName%': report.getPeriod()})) }}

    <div class="text push--top">
        <p>{{ 'page.yourReportWillBeSent' | trans }}</p>
        <p>{{ 'page.weWillSendReminder' | trans }}</p>
    </div>

    <a href="{{ path('report_review', {'reportId': report.id}) }}" class="behat-link-download-report">
        {{ 'page.downloadLink' | trans({'%reportName%': report.getPeriod()}) }}
    </a>

    {# feedback form #}
    <h2 class="heading-medium">{{ 'page.feedback.title' | trans }}</h2>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'push--bottom' } }) }}

    {{ form_checkbox_group(form.satisfactionLevel, 'satisfactionLevel', {
        'fieldSetClass' : 'vertical',
        'legendClass' : 'form-label-bold',
        'legend': 'satisfactionLevel'
    }) }}

    {{ form_submit(form.save,'send') }}

    {{ form_end(form) }}
    {# end feedback form #}

    <a href="{{ path('reports', {'type': '102' })}}" class="behat-link-return-to-reports-page">{{ 'page.returnToHomepage' | trans }}</a>

{% endblock %}
