{% embed 'AppBundle:Components/Page:page-report.html.twig' %}
    {% set translationDomain = "report-submitted" %}
    {% trans_default_domain translationDomain %}


    {% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} report-submission js-report-assets-input{% endblock %}
    {% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block pageNavigation %}
        {# no navigation bar for declaration #}
    {% endblock %}

    {% block pageBody %}

        <p class="flash">{{ 'page.thankYouForsubmitting' | trans({'%reportName%': report.getPeriod()}) }}</p>

        <p class="page-section-description">{{ 'page.yourReportWillBeSent' | trans }}</p>

        <p class="page-section-description">{{ 'page.weWillSendReminder' | trans }}</p>

        <div class="link">
            <a href="{{ path('report_review', {'reportId': report.id}) }}" class="behat-link-download-report">
                {{ 'page.downloadLink' | trans({'%reportName%': report.getPeriod()}) }}
            </a>
        </div>

        {# feedback form #}
        <p class="feedback">{{ 'page.feedback.title' | trans }}</p>

        {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'in-page-form feedback-form feedback-report-form' } }) }}

            {{ form_checkbox_group(form.satisfactionLevel, 'satisfactionLevel', {

                'fieldSetClass' : 'vertical',
                'legendClass' : 'form-label',
                'legend': 'satisfactionLevel',
                'items': [
                    {'labelClass': 'block-label' },
                    {'labelClass': 'block-label' },
                    {'labelClass': 'block-label' },
                    {'labelClass': 'block-label' },
                    {'labelClass': 'block-label' },
                ]
            }) }}

            {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
            {{ form_submit(form.save,'send') }}
            {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

        {{ form_end(form) }}
        {# end feedback form #}

        <div class="link">
            <a href="{{ path('reports', {'cot': constant('AppBundle\\Entity\\Report\\Report::PROPERTY_AND_AFFAIRS') })}}" class="behat-link-return-to-reports-page">{{ 'page.returnToHomepage' | trans }}</a>
        </div>
    {% endblock %}

{% endembed %}
