{% extends '@App/Layouts/application.html.twig' %}

{% set translationDomain = "feedback" %}
{% trans_default_domain translationDomain %}
{% set page = "collectionPage" %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">{{ (page ~ '.intro.para1') | trans }}</p>
            <p class="govuk-body">
                {{ (page ~ '.intro.para2.beforeMarkupText') | trans }}
                <a href="{{ (page ~ '.intro.para2.link') | trans }}">{{ (page ~ '.intro.para2.linkText') | trans }}</a>
                {{ (page ~ '.intro.para2.afterMarkupText') | trans }}
            </p>

            {{ form_start(form) }}

            {% set pageUrlField %}
                {{ form_input(form.page, 'form.page') }}
            {% endset %}

            {{ form_checkbox_group(form.specificPage, 'form.specificPage', {
                legendClass: 'govuk-fieldset__legend--m',
                items: [
                    {},
                    { conditional: pageUrlField },
                ]
            }) }}

            {{ form_input(form.comments, 'form.commentsGeneral', {
                labelClass: 'govuk-label--m',
                inputClass: 'govuk-!-width-full'
            }) }}

            <h3 class="govuk-heading-m">{{ (page ~ '.reply.title') | trans }}</h3>
            <p class="govuk-body">{{ (page ~ '.reply.explanation') | trans }}</p>

            {{ form_input(form.name, 'form.name') }}
            {{ form_input(form.email, 'form.email') }}
            {{ form_input(form.phone, 'form.phone') }}

            {{ form_label(form.current_address, 'form.current_address.label', {'label_attr': {'for': 'current_address',
                'class': 'govuk-label govuk-!-display-none', 'tabindex': '-1', 'aria-hidden': 'true' } }) }}
            {{ form_widget(form.current_address, {'attr': {'class': 'govuk-!-display-none', 'tabindex': '-1',
                'autocomplete': 'off', 'aria-hidden': 'true'}}) }}

            {{ form_checkbox_group(form.satisfactionLevel, 'form.satisfactionLevel', {
                legendClass: 'govuk-fieldset__legend--m'
            }) }}

            <div class="custom-submit">
                {{ form_submit(form.save, 'form.send') }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
