{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-contacts" %}
{% trans_default_domain translationDomain %}
{% set page = 'summaryPage' %}
{% set hideEditLink = hideEditLink | default(false) %}

<dl class="govuk-summary-list">
    {{ macros.summaryListHeaderQA(hideEditLink) }}
    <div class="govuk-summary-list__row behat-region-has-contacts">
        <dt class="govuk-summary-list__key">
            {{ 'existPage.form.hasContacts.label' | trans(transOptions)  }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ report.hasContacts | capitalize }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a href="{{ url('contacts_exist', { 'reportId': report.id, 'from': 'summary' }) }}" class="behat-link-edit govuk-link">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>
    {% if report.reasonForNoContacts %}
        <div class="govuk-summary-list__row behat-region-reason-no-contacts">
            <dt class="govuk-summary-list__key">
                Reason for no contacts
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.reasonForNoContacts | nl2br }}
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a href="{{ path('contacts_exist', { 'reportId': report.id, 'from': 'summary'}) }}" class="govuk-link behat-link-edit">
                        {{ 'edit' | trans({}, 'common') }}
                    </a>
                </dd>
            {% endif %}
        </div>
    {% endif %}
</dl>

{% if report.contacts | length > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">{{ (page ~ '.listOfContacts') | trans }}</h2>
        </div>
        <div class="govuk-grid-column-one-half text--right">
            {% if not hideEditLink  %}
                <a href="{{ path('contacts_add', { 'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-add">
                    <strong>
                        <span class="icon icon-plus"></span>
                        {{ (page ~ '.addButton') | trans }}
                    </strong>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if report.contacts | length > 0 %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    {{ (page ~ '.contact') | trans }}
                </th>
                <th scope="col" class="govuk-table__header">
                    {{ (page ~ '.relationship') | trans }}
                </th>
                <th scope="col" class="govuk-table__header">
                    {{ (page ~ '.reasonForContact') | trans }}
                </th>
                {% if not hideEditLink  %}
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for contact in report.contacts %}
            <tr class="govuk-table__row behat-region-contact-{{ contact.postcode | behat_namify }}">
                <td class="govuk-table__cell">
                    <p class="govuk-!-margin-0 govuk-!-font-size-18">{{ contact.contactName }}</p>
                    {% if contact.address %}
                        <p class="govuk-!-margin-0 govuk-!-font-size-16">{{ contact.address }}</p>
                    {% endif %}
                    {% if contact.address2 %}
                        <p class="govuk-!-margin-0 govuk-!-font-size-16">{{ contact.address2 }}</p>
                    {% endif %}
                    {% if contact.county %}
                        <p class="govuk-!-margin-0 govuk-!-font-size-16">{{ contact.county }}</p>
                    {% endif %}
                    {% if contact.postcode %}
                        <p class="govuk-!-margin-0 govuk-!-font-size-16">{{ contact.postcode }}</p>
                    {% endif %}
                    {% if contact.country %}
                        <p class="govuk-!-margin-0 govuk-!-font-size-16">{{ contact.country | country_name }}</p>
                    {% endif %}
                </td>
                <td class="govuk-table__cell">
                        {{ contact.relationship }}
                </td>
                <td class="govuk-table__cell">
                        {{ contact.explanation }}
                </td>
                {% if not hideEditLink  %}
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="{{ url('contacts_edit', { 'reportId': report.id, 'contactId': contact.id }) }}" class="behat-link-edit govuk-link">{{ 'edit' | trans({}, 'common') }}</a>
                        <a href="{{ path('contacts_delete', { 'reportId': report.id, 'contactId': contact.id }) }}" class="govuk-!-margin-left-1 govuk-link behat-link-delete">{{ 'remove' | trans({}, 'common' ) }}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
