{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-contacts" %}
{% trans_default_domain translationDomain %}
{% set page = 'existPage' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageHeader %}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        <div class="govuk-form-group {% if not form.hasContacts.vars.valid %}govuk-form-group--error{% endif %}">
            {% set append104 = report.get104TransSuffix %}
            {{ form_checkbox_group(form.hasContacts, (page ~ '.form.hasContacts'), {
                'useFormGroup': false,
                'labelParameters': transOptions,
                legend: {
                    isPageHeading: true,
                    caption: (page ~ '.supportTitle') | trans
                },
                'hintText': (page ~ '.form.hasContacts.hint' ~ append104) | trans(transOptions),
                'items': [
                    {},
                    {'dataTarget': 'reason-for-no-contact'}
                ],
                'formGroupClass': 'flush--bottom'
            }) }}

            <div id="reason-for-no-contact" class="opg-indented-block js-hidden">
                {{ form_input(form.reasonForNoContacts, (page ~ '.form.reasonForNoContacts'), {
                    'labelClass': 'required',
                    'labelParameters': transOptions
                }) }}
            </div>
        </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
