{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-contacts" %}
{% trans_default_domain translationDomain %}
{% set page = 'summaryPage' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{# Page Titles #}
{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {# Introduction text #}
            <p class="govuk-body">{{ (page ~ '.weAskAbout') | trans(transOptions) }}</p>

            {# Check answers text #}
            <p class="govuk-body"><strong>{{ 'weHaveListed' | trans(transOptions, 'common') }}</strong></p>
            <p class="govuk-body">{{ 'checkCorrect' | trans(transOptions, 'common') }}</p>
        </div>
        <div class="govuk-grid-column-one-third">
            {{ macros.relatedSections(report, 'contacts') }}
        </div>
    </div>

    {# Items list #}
    {% include '@App/Report/Contact/_list.html.twig' with {
    'report': report,
    'transDomain': translationDomain
    } %}

    {# Pagination #}
    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'contacts',
    } %}

{% endblock %}
