{% if tabDataProvider is defined %}
    <div class="js-tabs nav-tabs behat-region-tab">
        <ul class="tabs-nav">
            {% for tab in tabDataProvider %}
                <li class="{{ tab.class }} {% if tab.iconClass is defined %}{{ tab.iconClass }}{% endif %}">
                    <a id="{{ tab.tabId }}" href="{{ path(tab.href.path, tab.href.params) }}" class="tab-container">

                            {{ tab.label }}

                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
