{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}
{% set page = "clientDetails" %}

<details class="panel panel-admin hard">

    <summary class="panel-heading flush--bottom">
        <span class="summary heading-medium">{{ (page ~ '.heading') | trans }}</span>
    </summary>

    <div class="panel-body soft-half">
        <div class="grid-row behat-region-client-profile">
            <div class="column-one-half">
                <dl>
                    <dt>
                        <strong class="bold">{{ (page ~ '.name') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ client.fullname | title }}
                    </dd>

                    {% if client.dateOfBirth %}
                    <dt>
                        <strong class="bold">{{ (page ~ '.dateOfBirth') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ client.dateOfBirth | date(" d M Y") }} (aged {{ client.getAge() }})
                    </dd>
                    {% endif %}

                    <dt>
                        <strong class="bold">{{ (page ~ '.phone') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ client.phone }}
                    </dd>
                </dl>
            </div>

            <div class="column-one-half">
                <dl>
                    {% if client.email %}
                        <dt>
                            <strong class="bold">{{ (page ~ '.email') | trans }}</strong>
                        </dt>
                        <dd class="push--bottom dont-break-out">
                            {{ client.email }}
                        </dd>
                    {% endif %}

                    {% if client.addressNotEmptyParts %}
                    <dt>
                        <strong class="bold">{{ (page ~ '.address') | trans }}</strong>
                    </dt>
                    <dd>
                        {{ client.addressNotEmptyParts | join('<br/>') | raw }}
                    </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <p>
            <a href="#" class="btn">{{ (page ~ '.editClient') | trans }}</a>
        </p>
    </div>

</details>
