{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

<div class="panel panel-admin hard">
    <div class="panel-body soft-half">
        <details>
            <summary>Client details</summary>
            <div class="grid-row">
                <div class="column-one-quarter">
                    <dl>
                        <dt>
                            <strong class="bold">Name</strong>
                        </dt>
                        <dd>
                            {{ client.fullname | title }}
                        </dd>
                    </dl>
                </div>

                <div class="column-one-quarter">
                    <dl>
                        <dt>
                            <strong class="bold">Date of birth</strong>
                        </dt>
                        <dd>
                            {{ client.dateOfBirth | date(" d M Y") }} (aged {{ client.getAge() }})
                        </dd>
                    </dl>
                </div>

                <div class="column-one-quarter">
                    <dl>
                        <dt>
                            <strong class="bold">Phone</strong>
                        </dt>
                        <dd>
                            {{ client.phone }}
                        </dd>
                        <dt>
                            <strong class="bold">Email</strong>
                        </dt>
                        <dd>
                            {{ client.email }}
                        </dd>
                    </dl>
                </div>

                <div class="column-one-quarter">
                    <dl>
                        <dt>
                            <strong class="bold">Address</strong>
                        </dt>
                        <dd>
                            {{ client.address }}<br/>
                            {{ client.address2 }}<br/>
                            {{ client.county }}<br/>
                            {{ client.postcode }}
                        </dd>
                    </dl>
                </div>
            </div>
        </details>
    </div>
</div>
