{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}
{% set page = "notes" %}

<details class="panel panel-admin hard">

    <summary class="panel-heading flush--bottom">
        <span class="summary heading-medium">{{ (page ~ '.heading') | trans }}</span>
    </summary>

    <div class="panel-body soft-half behat-region-client-profile-notes">

        <a href="{{ path('add_note', {'reportId': report.id}) }}" class="bold-small action-link right">
            <span class="icon icon-plus"></span>
            {{ (page ~ '.addNote') | trans }}
        </a>

        {% if notes is not empty %}

            <table>
                <thead>
                    <th>{{ (page ~ '.note') | trans }}</th>
                    <th>{{ (page ~ '.category') | trans }}</th>
                    <th>{{ (page ~ '.addedBy') | trans }}</th>
                    <th>{{ (page ~ '.dateAdded') | trans }}</th>
                    <th></th>
                </thead>

                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.title }}</td>
                        <td>{{ note.category }}</td>
                        <td>{{ note.createdBy.firstname }} {{ note.createdBy.lastName }}</td>
                        <td>{{ note.createdOn | date(" d F Y") }}</td>
                        <td class="text--right hard--right">
                            <a href="{{ path('report_review', {'reportId': report.id}) }}">{{ (page ~ '.editNote') | trans }}</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}

            <p>{{ (page ~ '.noNotes') | trans }}</p>

        {% endif %}
    </div>

</details>
