{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}
{% set page = "notes" %}

<details class="panel panel-admin hard">

    <summary class="panel-heading flush--bottom">
        <span class="summary heading-medium">{{ (page ~ '.heading') | trans }}</span>
    </summary>

    <div class="panel-body soft-half behat-region-client-profile-notes">

        <a href="{{ path('add_note', {'reportId': report.id}) }}" class="bold-small action-link right">
            <span class="icon icon-plus"></span>
            {{ (page ~ '.addNote') | trans }}
        </a>

        {% if notes is not empty %}

            <table>
                <thead>
                    <th>{{ (page ~ '.note') | trans }}</th>
                    <th>{{ (page ~ '.category') | trans }}</th>
                    <th>{{ (page ~ '.addedBy') | trans }}</th>
                    <th>{{ (page ~ '.dateAdded') | trans }}</th>
                    <th></th>
                </thead>

                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>
                            {% if note.content %}
                                <details>
                                    <summary>
                                        <span class="summary">{{ note.title }}</span>
                                    </summary>
                                    <div class="panel panel-border-narrow">
                                        {{ note.content }}
                                    </div>
                                </details>
                            {% else %}
                                <p>{{ note.title }}</p>
                            {% endif %}
                        </td>
                        <td>{{ note.category }}</td>
                        <td class="width-eighth">{{ note.createdBy.firstname|first }}{{ note.createdBy.lastname|first }}</td>
                        <td class="width-sixth">{{ note.createdOn | date(" d M Y") }}</td>
                        <td class="width-eighth text--right hard--right">
                            <a href="{{ path('report_review', {'reportId': report.id}) }}">{{ (page ~ '.editNote') | trans }}</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}

            <p>{{ (page ~ '.noNotes') | trans }}</p>

        {% endif %}
    </div>

</details>
