<p>The contact details of the following client have been updated:</p>

<p><strong>Case number:</strong> {{ caseNumber }}</p>

<p><strong>Name:</strong> {{ response.fullName }}</p>

<p>
    <strong>Address line 1:</strong> {{ response.address }} <br />
    <strong>Address line 2:</strong> {{ response.address2 }} <br />
    <strong>Address line 3:</strong> {{ response.county }} <br />
    <strong>Postcode:</strong> {{ response.postcode }} <br />
    <strong>Country:</strong> {{ response.country }}
</p>

<p>
    <strong>Phone number:</strong> {{ response.phone }}
</p>

<p>Please update Casrec with this information</p>

<p>Sent from the Digideps service</p>
