
The deputy address has been updated for the following deputy:<br/>

<p>
{{ response.fullName }}
</p>
<p>
{{ response.address1 }} <br />
{{ response.address2 }} <br />
{{ response.address3 }} <br />
</p>
<p>{{ response.addressPostcode }} <br />
{{ response.addressCountry }}
</p>
