<p>The deputy address has been updated for the following deputy:</p>

<p><strong>Name:</strong> {{ response.fullName }}</p>

<p>
    <strong>Address line 1:</strong> {{ response.address1 }} <br />
    <strong>Address line 2:</strong> {{ response.address2 }} <br />
    <strong>Address line 3:</strong> {{ response.address3 }} <br />
    <strong>Postcode:</strong> {{ response.addressPostcode }} <br />
    <strong>Country:</strong> {{ response.addressCountry }}
</p>

<p>
    <strong>Phone number:</strong> {{ response.phoneMain }} <br />
    <strong>Alternative phone number:</strong> {{ response.phoneAlternative }}
</p>

<p>
    <strong>Email:</strong> {{ response.email }}
</p>

<p>Sent from the Digideps service</p>
