{% extends 'AppBundle:Email:_template.html.twig' %}

{% set translationDomain = "email-password-forgotten" %}
{% trans_default_domain translationDomain %}

{% block emailHTMLHeaderTitle %}{{ (recipientRole ~ '.HTMLHeaderTitle') | trans }}{% endblock %}

{% block content %}

    <h2 style="Margin: 0 0 20px 0; padding: 0; font-size: 27px; line-height: 35px; font-weight: bold; color: #0B0C0C;">{{ (recipientRole ~ '.heading') | trans  }}</h2>

    {% if (recipientRole ~ '.youToldUs') | trans  != (recipientRole ~ '.youToldUs') %}
        <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
            {{ (recipientRole ~ '.youToldUs') | trans  }}
        </p>
    {% endif %}

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        {{ (recipientRole ~ '.toResetYourPassword') | trans  }}<br>
        <a style="word-wrap: break-word;" href="{{ link }}">{{ link }}</a>
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">{{ (recipientRole ~ '.ifYouDontWantToSignin') | trans }}</p>

{% endblock %}


