{% embed 'AppBundle:Email:digideps-email-template.html.twig' with {
turnOnTableBorders: 0,
outputStyleForInLine: false,
outputHeaderStyles: true
} %}

    {% set translationDomain = "email-password-forgotten" %}
    {% trans_default_domain translationDomain %}


    {% block emailHTMLHeaderTitle %}{{ 'email.HTMLHeaderTitle' | trans }}{% endblock %}


    {% block emailHTMLHeader %}{{ parent() }}{% endblock %}


    {% block emailHTMLMessage %}
      <p>
        {{ 'email.toResetYourPassword' | trans }}
        </br>
        <a href="{{ link }}">{{ link }}</a>
      </p>

      <p>{{ 'email.ifYouDontWantToSignin' | trans }}</p>
      
    {% endblock %}

    {% block emailHTMLFooter %}{{ parent() }}{% endblock %}

{% endembed %}

