{% embed 'AppBundle:Email:digideps-email-template.html.twig' with {
turnOnTableBorders: 0,
outputStyleForInLine: false,
outputHeaderStyles: true
} %}

    {% set translationDomain = "email-report-submit-confirm" %}
    {% trans_default_domain translationDomain %}


    {% block emailHTMLHeaderTitle %}

    {% endblock %}


    {% block emailHTMLHeader %}{{ parent() }}{% endblock %}


    {% block emailHTMLMessage %}


      <p>Dear {{ deputyFirstName }}</p>
       <br>


    <p><strong>Thank you for submitting your annual deputy report</strong> for {{ submittedReport.startDate | date("d/m/Y") }} to {{ submittedReport.endDate | date("d/m/Y") }}.</p>

    <p>We’re in the process of reviewing your report, and will contact you when this has been done. </p>
     <br>

     <p><strong>Download a pdf of your report
            </strong>
        </p>

    <p>To view and download a copy of the report for your records,
            <a href="{{ homepageUrl }}">sign back into the deputy report service</a>. Go to the ‘Your client’ page, where you’ll find a link to a pdf of your report.
        <p>
        <br>

  <strong>What happens next</strong>

    <p>If you like, you can start working on your next annual deputy report (for {{ newReport.startDate | date("d/m/Y") }} to {{ newReport.endDate | date("d/m/Y") }}) right away. </p>

    <p>Sign in to <a href="{{ www.gov.uk/deputyreport }}">www.gov.uk/deputyreport</a> to keep track of your deputyship decisions and spending throughout the year.</p>


    </p>

<p>We’ll send you a reminder about your next report nearer the due date (the anniversary of your court order).</p>

        <br/>

        <p><strong>Need help?</p></strong>

<p>This is an automated email, so please don’t reply to this address.</p>

<p><strong>To contact us</strong>, email the Office of the Public Guardian at deputyshipservice@publicguardian.gsi.gov.uk, or call us on 0115 934 2700.</p>

<p><strong>Sent to you by the Office of the Public Guardian</strong>
<br> PO Box 16185
<br> Birmingham B2 2WH
<br> <a href="www.gov.uk/deputyreport">www.gov.uk/deputyreport</a></p>




    {% endblock %}

    {% block emailHTMLFooter %}{{ parent() }}{% endblock %}

{% endembed %}
