{% embed 'AppBundle:Email:digideps-email-template.html.twig' with {
turnOnTableBorders: 0,
outputStyleForInLine: false,
outputHeaderStyles: true
} %}

{% set translationDomain = "email-report-submit-confirm" %}
{% trans_default_domain translationDomain %}

{% block emailHTMLHeaderTitle %}

{% endblock %}

{% block emailHTMLHeader %}{{ parent() }}{% endblock %}

{% block emailHTMLMessage %}

    <p>Dear {{ deputyFirstName }}</p>
    <br/>

    <p>
        <strong>Thank you for submitting your annual deputy report</strong> for {{ submittedReport.startDate | date("d/m/Y") }} to {{ submittedReport.endDate | date("d/m/Y") }}.
    </p>

    <p>We’re in the process of reviewing your report, and will contact you when this has been done. </p>
    
     <p><strong>Download a pdf of your report</strong></p>

    <p>To view and download a copy of the report for your records, <a href="{{ homepageUrl }}">sign back into the deputy report service</a>. Go to the ‘Your reports' homepage, where you’ll find a link to download a pdf of your report.
    </p>
    

    <p><strong>What happens next</strong></p>

    <p>If you like, you can start working on your next annual deputy report (for {{ newReport.startDate | date("d/m/Y") }} to {{ newReport.endDate | date("d/m/Y") }}) right away. </p>

    <p>Sign in to <a href="{{ homepageUrl }}">complete-deputy-report.service.gov.uk</a> to keep track of your deputyship decisions and spending throughout the year.</p>

    <p>We’ll send you a reminder about your next report nearer the due date (your due date is the anniversary of your court order).</p>
    <br/>

{% endblock %}

{% block emailHTMLFooter %}{{ parent() }}{% endblock %}

{% endembed %}
