{% extends 'AppBundle:Email:_template.html.twig' %}

{% set translationDomain = "email-report-submission-confirm" %}
{% trans_default_domain translationDomain %}

{% set transOptions = {
    '%deputyFirstName%': deputyFirstName,
    '%startDate%': submittedReport.startDate | date("d/m/Y"),
    '%endDate%': submittedReport.endDate | date("d/m/Y"),
    '%homepageUrl%': homepageUrl
} %}

{% block emailHTMLHeaderTitle %}{{ ('default.htmlHeaderTitle') | trans }}{% endblock %}

{% block content %}

    <p style="Margin: 0 0 40px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        {{ ('default.dear') | trans(transOptions) }}
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        {{ (recipientRole ~ '.thanksForSubmitting') | trans(transOptions) | raw }}
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        {{ ('default.currentlyReviewing') | trans }}
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        {{ (recipientRole ~ '.reportAccess') | trans | raw  }}
    </p>

    {% if recipientRole == 'default' %}
        <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
            {{ ('default.downloadInstructions') | trans(transOptions) | raw }}
        </p>
    {% endif %}

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        <strong>{{ ('default.whatNext') | trans }}</strong>
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        {{ (recipientRole ~ '.startNextReport') | trans(transOptions) }}
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        {{ ('default.signInToKeepTrack') | trans(transOptions) | raw  }}
    </p>

    {% if recipientRole == 'default' %}
        <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
            {{ ('default.reportReminder') | trans(transOptions) | raw }}
        </p>
    {% endif %}

{% endblock %}
