<div style="max-width: 650px;font-size:1em;font-family: Arial, Helvetica, sans-serif">
    <table style="margin-top: 20px;width: 100%;" cellpadding="5" cellspacing="0">
        <tr style="background: #000000; color: #ffffff;">
            <td width="38px">&nbsp;</td>
            <td width="37px" align="left"><img style="height:30px;width:35px; margin-top:5px" src="{{ domain }}images/gov.uk_logotype_crown.png"></td>
            <td valign="bottom"><div style="font-size: 1.75em;">GOV&#173;.UK</div></td>
        </tr>
        <tr><td colspan="3"><div style="font-size:1px;">&nbsp;</div></td></tr>
        <tr>
            <td width="38px">&nbsp;</td>
            <td width="37px" align="left" style="border-left: 2px solid #000;"><img src="{{ domain }}images/crests/org_crest_18px.png"></td>
            <td valign="bottom"><div style="font-size: 1.2em;">Office of the Public Guardian</div></td>
        </tr>
    </table>

    <p>Thank you for registering for the Office of the Public Guardian’s deputy report service.</p>

    <p><strong>Please click on the link below to activate and start using your deputy report account.</strong></p>

    <p><a href="{{ link }}">
        {{ link }}
    </a></p>
    <br>

    <p>If the link doesn’t work, try copying it into your browser's address bar. </p>

    <p><strong>You must activate your account before you can start working on your deputy report.</strong></p>

    <p>The link we’ve given you expires after 48 hours, but don’t worry if you miss this deadline. You can return to the deputy report service at www.gov.uk/deputyreport  {{ link }} to register again and get a new link.</p>

    <p><strong>Need help?</p></strong>

<p>This is an automated email, so please don’t reply to this address.</p>

<p><strong>To contact us</strong>, email the Office of the Public Guardian at deputyshipservice@publicguardian.gsi.gov.uk, or call us on 0115 934 2700.</p>

<p><strong>Sent to you by the Office of the Public Guardian</strong>
<br> PO Box 16185
<br> Birmingham B2 2WH
<br> <a href="www.gov.uk/deputyreport">www.gov.uk/deputyreport</a></p>


</div>
