{% extends 'AppBundle:Email:_template.html.twig' %}

{% set translationDomain = "email-user-activate" %}

{% trans_default_domain translationDomain %}

{% block emailHTMLHeaderTitle %}Deputy report service - Activate account{% endblock %}

{% block content %}

    <h2 style="Margin: 0 0 20px 0; padding: 0; font-size: 27px; line-height: 35px; font-weight: bold; color: #0B0C0C;">{{ (recipientRole ~ '.para1') | trans  }}</h2>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">{{ (recipientRole ~ '.para2') | trans  }}</p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        <strong>{{ (recipientRole ~ '.para3') | trans  }}</strong>
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        <a style="word-wrap: break-word;" href="{{ link }}">{{ link }}</a>
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">{{ (recipientRole ~ '.para4') | trans  }}</p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
        <strong>{{ (recipientRole ~ '.para5') | trans  }}</strong>
    </p>

    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">{{ (recipientRole ~ '.para6') | trans({'%homepageUrl%': homepageUrl}) | raw  }}</p>

{% endblock %}
