{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}
{% set page = 'startPage' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(report, isMultiClientDeputy) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p class="govuk-body">{{ (page ~ '.pageSectionDescription') | trans(transOptions) }}</p>
    </div>

    {{ macros.startSectionButton(path('assets_exist', { 'reportId': report.id}), (page ~ '.startButton') | trans ) }}

    {# Pagination #}
    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'assets',
    } %}

{% endblock %}
