{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}
{% set page = 'typePage' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}


{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block pageContent %}

    <div class="text">
        <p class="govuk-body">{{ (page ~ '.pageSectionDescription1') | trans(transOptions) }}</p>
        <p class="govuk-body">{{ (page ~ '.pageSectionDescription2') | trans(transOptions) }}</p>
    </div>

    {{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}

    {{ form_checkbox_group(form.title, 'form.title', {
        'legendClass' : 'govuk-label--s',
        'legendText' : 'form.title.legend' | trans(transOptions)
    }) }}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
