{% extends 'AppBundle:Layouts:application.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "ndr-deputy-expenses" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | e } %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(ndr) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'startPage.pageSectionDescription1' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription2' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription3' | trans(transOptions) }}</p>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ 'startPage.hiddenText01.summary' |trans }}</span>
            </summary>
            <div class="opg-indented-block">
                <p>{{ 'startPage.hiddenText01.content.para01' |trans|raw }}</p>
            </div>
        </details>

    </div>

    <a href="{{ path('ndr_deputy_expenses_exist', { 'ndrId': ndr.id}) }}" class="button button-start behat-link-start">{{ 'startPage.startButton' | trans }}</a>

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': ndr,
        'sectionId': 'deputyExpenses',
    } %}

{% endblock %}
