{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Edit client details{% endblock %}
{% block pageTitle %}Edit client details{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">Client profile: {{ client.fullname }}</span>
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: '' } }) }}

    {{ form_input(form.firstname, 'form.firstname') }}
    {{ form_input(form.lastname, 'form.lastname') }}

    {{ form_known_date(form.dateOfBirth, 'form.dateOfBirth') }}

    <h2 class="heading-medium">Contact details</h2>
    {{ form_input(form.phone, 'form.phone') }}
    {{ form_input(form.email, 'form.email') }}

    {{ form_input(form.address, 'form.address') }}
    {{ form_input(form.address2, 'form.address2') }}
    {{ form_input(form.county, 'form.county') }}
    {{ form_input(form.postcode, 'form.postcode', {'inputClass': 'form-control__postcode' }) }}
    {{ form_widget(form.id) }}
    {#{{ form_select(form.country, 'country') }}#}

    {{ form_submit(form.save, 'form.save', {'buttonClass' : ''}) }}

    <a href="{{ backLink }}">Cancel</a>

    {{ form_end(form) }}

{% endblock %}
