{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "pa-client-archive" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">
        {{ 'supportTitle' | trans({'%fullName%': client.fullname | title }) }}
    </span>
{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(client.currentReport) }}
{% endblock %}

{% block pageContent %}

    <p class="text"><strong class="bold">{{ 'question' | trans }}</strong></p>
    <table class="text push--bottom">
        <tbody>
            <tr>
                <th scope="row"><strong class="bold">{{ 'name' | trans({}, 'common') }}:</strong></th>
                <td>{{ client.fullname }}</td>
            </tr>
            <tr>
                <th scope="row"><strong class="bold">{{ 'courtOrderNumber' | trans({}, 'common') }}:</strong></th>
                <td>{{ client.caseNumber }}</td>
            </tr>
        </tbody>
    </table>

    <div class="push--bottom">
        {{ macros.notification('important', 'warning' |trans) }}
    </div>

    <a href="#" class="button push-half--right behat-link-confirm">{{ 'linkButtonLabel' | trans }}</a>

    <a href="{{ backLink }}" class="button-link behat-link-confirm-cancel">{{ 'cancel' | trans({}, 'common') }}</a>

{% endblock %}
