{% set translationDomain = "report-balance" %}
{% trans_default_domain translationDomain %}

{% if report.totalsOffset < 0 %}
    {% set moreless = "more" %}
{% else %}
    {% set moreless = "less" %}
{% endif %}

<h3 class="heading-medium behat-region-balance-bad">{{ 'balance.bad.pageSectionTitle' | trans }}</h3>
<p>{{ 'balance.bad.pageSectionDescription' | trans({'%client%': report.client.firstname, '%more%': moreless, '%totalOffset%':  report.totalsOffset | abs | money_format }) }}</p>

<div class="hero orange compact">
    <h2 class="heading">{{ 'balance.bad.accountsBalanced' | trans }}</h2>
    <div class="message">{{ 'balance.bad.accountsBalancedMessage' | trans }}</div>
</div>

<div class="hero two-columns lightorange compact">
    <div class="left">
        <div class="title">{{ 'balance.bad.totalAfterMoneyInOut.title' | trans }}</div>
        <p class="description compact">{{ 'balance.bad.totalAfterMoneyInOut.subtitle' | trans }}</p>
    </div>
    <div class="right">
       £{{ report.calculatedBalance | money_format }}
    </div>
</div>


<div class="hero two-columns lightorange compact">
    <div class="left">
        <div class="title">{{ 'balance.bad.totalFromAccounts.title' | trans }}</div>
        <p class="description compact">{{ 'balance.bad.totalFromAccounts.subtitle' | trans({'%endDate%': report.endDate | date("j F Y")}) }}</p>
    </div>
    <div class="right">
       £{{ report.accountsClosingBalanceTotal | money_format }}
    </div>
</div>

<div class="hero two-columns orange compact white-text ">
    <div class="left">
        <div class="title text-medium">
        {{ 'balance.bad.missingAmount' | trans }}
        </div>
    </div>
    <div class="right text-big behat-region-unaccounted-for">
        £{{ report.totalsOffset | abs | money_format }}
    </div>
</div>

<h3 class="heading-medium">{{ 'balance.bad.checkYourAccounts' | trans }}</h3>
<p class="balance-warning page-section-warning">
    <span class="icon icon__notification"></span>
    <span class="left-margin-big">{{ 'balance.bad.goBack' | trans({
        '%client%': report.client.firstname,
        '%accountsLink%': path('bank_accounts_summary', {'reportId': report.id}),
        '%moneyInLink%': path('money_in_summary' , {'reportId': report.id}) ,
        '%moneyOutLink%': path('money_out_summary' , {'reportId': report.id}),
        '%paragraphBreak%': '<br/><br/>',
    }) | raw }}</span>
</p>

<h3 class="heading-medium">{{ 'balance.bad.cantFind' | trans }}</h3>
{{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.balanceMismatchExplanation, 'balance.bad.explanation', {
        'labelText': 'balance.bad.form.explanation.label' | trans( {'%difference%': report.totalsOffset  | abs | money_format})
    }) }}

    {{ macros.saveAndContinueButton(form.save) }}

{{ form_end(form) }}

