{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-balance" %}
{% trans_default_domain translationDomain %}
{% if
    reportStatus.giftsState['state'] != 'not-started' and
    reportStatus.expensesState['state'] != 'not-started' and
    reportStatus.bankAccountsState['state'] != 'not-started' and
    reportStatus.moneyInState['state'] != 'not-started' and
    reportStatus.moneyOutState['state'] != 'not-started'
%}
    {% set readyToBalance = true %}
{% else %}
    {% set readyToBalance = false %}
{% endif %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <!-- {% if report.isTotalsMatch %}
        {% include 'AppBundle:Report/Balance:_balance-good.html.twig' %}
    {% else %}
        {% include 'AppBundle:Report/Balance:_balance-bad.html.twig' %}
    {% endif %} -->

    {% if not readyToBalance %}
        <div class="alert-info panel panel-border-narrow">
            <span class="icon icon-information"></span>
            <div class="alert-message">
                <p class="">Once you've added a bank account and started the money in and out, deputy details and gifts sections, you'll be able to check your account balance here.</p>
            </div>
        </div>
    {% else %}
        {% if report.isTotalsMatch %}
            <div class="alert-success panel panel-border-narrow">
                <span class="icon icon-tick"></span>
                <div class="alert-message">
                    <p class="bold">Accounts balanced</p>
                </div>
            </div>
        {% else %}
            <div class="alert{% if report.isDue %}-error{% endif %} panel panel-border-narrow">
                {% if report.isDue %}
                    <span class="icon icon-cross"></span>
                {% endif %}
                <div class="alert-message">
                    {% if report.isDue %}
                        <p class="bold">Accounts not balanced</p>
                    {% endif %}
                    <div class="data">
                        <span class="data-item bold-xlarge">
                            £{{ (report.accountsClosingBalanceTotal - (report.accountsOpeningBalanceTotal + report.moneyInTotal - report.moneyOutTotal - report.expensesTotal - report.giftsTotalValue)) | money_format }}
                        </span>
                        <span class="data-item bold-xsmall">missing</span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <h3 class="heading-medium">Balance after incoming and outgoing payments</h3>

    <table>
        <thead>
            <tr>
                <th>Section</th>
                <th class="numeric">In</th>
                <th class="numeric">Out</th>
                <th class="numeric">Balance</th>
                <th>
                    <span class="visually-hidden">Action</span>
                </th>
            </tr>
        </thead>
        <tbody>

            <!-- SOME STARTED -->
            <tr>
                <td>
                    Accounts opening balance
                    {% if reportStatus.bankAccountsState['state'] != 'not-started' %}
                        ({{ report.startDate | date("j F Y") }})
                    {% endif %}
                </td>
                <td class="numeric" colspan="2"></td>
                <td class="numeric">
                    {% if reportStatus.bankAccountsState['state'] == 'not-started' %}
                        -
                    {% else %}
                        £{{ report.accountsOpeningBalanceTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">

                    <a href="{{ path('bank_accounts', {'reportId': report.id}) }}" class="bold">
                        {% if reportStatus.bankAccountsState['state'] == 'not-started' %}
                            {{ 'start' | trans({}, 'common') }}
                        {% else %}
                            {{ 'edit' | trans({}, 'common') }}
                        {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Money in</td>
                <td class="numeric">
                    {% if reportStatus.moneyInState['state'] == 'not-started' %}
                        -
                    {% else %}
                        £{{ report.moneyInTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric"></td>
                <td class="numeric">
                    {% if not readyToBalance %}
                        -
                    {% else %}
                        £{{ (report.accountsOpeningBalanceTotal + report.moneyInTotal) | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    <a href="{{ path('money_in', {'reportId': report.id}) }}" class="bold">
                        {% if reportStatus.moneyInState['state'] == 'not-started' %}
                            {{ 'start' | trans({}, 'common') }}
                        {% else %}
                            {{ 'edit' | trans({}, 'common') }}
                        {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Money out</td>
                <td class="numeric"></td>
                <td class="numeric">
                    {% if reportStatus.moneyOutState['state'] == 'not-started' %}
                        -
                    {% else %}
                        £{{ report.moneyOutTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if not readyToBalance %}
                        -
                    {% else %}
                        £{{ (report.accountsOpeningBalanceTotal + report.moneyInTotal - report.moneyOutTotal) | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    <a href="{{ path('money_out', {'reportId': report.id}) }}" class="bold">
                        {% if reportStatus.moneyOutState['state'] == 'not-started' %}
                            {{ 'start' | trans({}, 'common') }}
                        {% else %}
                            {{ 'edit' | trans({}, 'common') }}
                        {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Deputy expenses</td>
                <td class="numeric"></td>
                <td class="numeric">
                    {% if reportStatus.expensesState['state'] == 'not-started' %}
                        -
                    {% else %}
                        £{{ report.expensesTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if not readyToBalance %}
                        -
                    {% else %}
                        £{{ (report.accountsOpeningBalanceTotal + report.moneyInTotal - report.moneyOutTotal - report.expensesTotal) | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    <a href="{{ path('deputy_expenses', {'reportId': report.id}) }}" class="bold">
                        {% if reportStatus.expensesState['state'] == 'not-started' %}
                            {{ 'start' | trans({}, 'common') }}
                        {% else %}
                            {{ 'edit' | trans({}, 'common') }}
                        {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Gifts</td>
                <td class="numeric"></td>
                <td class="numeric">
                    {% if reportStatus.giftsState['state'] == 'not-started' %}
                        -
                    {% else %}
                        £{{ report.giftsTotalValue | money_format }}
                    {% endif %}
                    {# consider the case where section is done, but user say "no gifts" #}
                </td>
                <td class="numeric">
                    {% if not readyToBalance %}
                        -
                    {% else %}
                        £{{ (report.accountsOpeningBalanceTotal + report.moneyInTotal - report.moneyOutTotal - report.expensesTotal - report.giftsTotalValue) | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                   <a href="{{ path('gifts', {'reportId': report.id}) }}" class="bold">
                        {% if reportStatus.giftsState['state'] == 'not-started' %}
                            {{ 'start' | trans({}, 'common') }}
                        {% else %}
                            {{ 'edit' | trans({}, 'common') }}
                        {% endif %}
                    </a>
                </td>
            </tr>

        </tbody>

        {% if readyToBalance %}

            <tfoot>
                <tr>
                    <td>
                        <span class="bold">Balance after incoming and outgoing payments</span>
                    </td>
                    <td class="numeric" colspan="2"></td>
                    <td class="numeric bold">
                        <span class="bold">
                            £{{ (report.accountsOpeningBalanceTotal + report.moneyInTotal - report.moneyOutTotal - report.expensesTotal - report.giftsTotalValue) | money_format }}
                        </span>
                    </td>
                    <td></td>
                </tr>
            </tfoot>

        {% endif %}

    </table>

    {% if readyToBalance %}

        <h3 class="heading-medium">Balance differences</h3>

        <table class="push--ends">
            <thead class="visually-hidden">
                <tr>
                    <th>Section</th>
                    <th class="numeric"></th>
                    <th class="numeric"></th>
                    <th class="numeric">Balance</th>
                    <th>
                        <span class="visually-hidden">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Accounts closing balance ({{ report.endDate | date("j F Y") }})</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric">
                        £{{ report.accountsClosingBalanceTotal | money_format }}
                    </td>
                    <td class="numeric">
                        <a href="{{ path('bank_accounts', {'reportId': report.id}) }}" class="bold">
                            {{ 'edit' | trans({}, 'common') }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Report closing balance (see above)</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric">
                        £{{ (report.accountsOpeningBalanceTotal + report.moneyInTotal - report.moneyOutTotal - report.expensesTotal - report.giftsTotalValue) | money_format }}
                    </td>
                    <td class="numeric"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <span class="bold">Missing amount</span>
                    </td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric bold">
                        <span class="bold">
                            £{{ (report.accountsClosingBalanceTotal - (report.accountsOpeningBalanceTotal + report.moneyInTotal - report.moneyOutTotal - report.expensesTotal - report.giftsTotalValue)) | money_format }}
                        </span>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% endif %}

    <h3 class="heading-medium">More details</h3>

    <div class="text">
        <p>After you have entered all of Garth's income and outgoing payments, you should have a sum of money that matches the one you entered in the closing balance in bank accounts.</p>

        {% if not report.isTotalsMatch %}

            <p class="bold">The balance of income and outgoing payments doesn't match the balance of accounts, to rectify please check:</p>

            <ul class="list list-bullet">
                <li>The figures entered for opening and closing balances are correct</li>
                <li>All of Garth's incomings and outgoings correctly entered in the money in, money out, gifts and expenses sections</li>
            </ul>
        {% endif %}
    </div>

    {% if report.isDue %}

        <h3 class="heading-medium">Can't find the problem?</h3>

        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

            {{ form_input(form.balanceMismatchExplanation, 'balance.bad.explanation', {
                'labelText': 'balance.bad.form.explanation.label' | trans( {'%difference%': report.totalsOffset  | abs | money_format})
            }) }}

            {{ macros.saveAndContinueButton(form.save) }}

        {{ form_end(form) }}

    {% else %}

        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="button">Back to report overview</a>

    {% endif %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(report, 'balance') }}


{% endblock %}