{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-balance" %}
{% trans_default_domain translationDomain %}

{% set transOptions = {
    '%client%': report.client.firstname | e,
    '%moreless%': report.totalsOffset < 0 ? "less" : "more",
    '%pathToAccounts%': path('bank_accounts', {'reportId': report.id}),
    '%pathToMoneyOut%': path('money_out', {'reportId': report.id}),
} %}

{% set readyToBalance = reportStatus.balanceState['state'] != 'not-started' %}
{% set showBalanceCalculations = reportStatus.bankAccountsState['state'] != 'not-started' %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}
    {% if not readyToBalance %}
        <div class="alert-info panel panel-border-narrow" id="alert-not-started">
            <span class="icon icon-information"></span>
            <div class="alert-message">
                <p>
                     {% if report.hasSection('paDeputyExpenses') %}
                        {{ 'alerts.notStartedPA' | trans(transOptions) }}</p>
                     {% else %}
                        {{ 'alerts.notStarted' | trans(transOptions) }}</p>
                     {% endif %}
            </div>
        </div>
    {% else %}
        {% if report.isTotalsMatch %}
            <div class="alert-success panel panel-border-narrow" id="alert-balanced">
                <span class="icon icon-tick"></span>
                <div class="alert-message">
                    <p class="bold">{{ 'alerts.balanced' | trans }}</p>
                </div>
            </div>
        {% else %}
            <div class="alert{% if report.isDue %}-error{% endif %} panel panel-border-narrow behat-region-balance-bad"
                 id="alert-not-balanced">
                {% if report.isDue %}
                    <span class="icon icon-cross"></span>
                {% endif %}
                <div class="alert-message">
                    {% if report.isDue %}
                        <p class="bold">{{ 'alerts.notBalanced' | trans }}</p>
                    {% endif %}
                    <div class="data behat-region-unaccounted-for">
                        <span class="data-item bold-xlarge">
                            £{{ report.totalsOffset | abs | money_format }}
                        </span>
                        <span class="data-item bold-xsmall">{{ 'alerts.notBalancedSupport' | trans(transOptions) }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <h3 class="heading-medium">{{ 'balanceTable.heading' | trans }}</h3>

    <table>
        <thead>
        <tr>
            <th>{{ 'section' | trans({}, 'common') }}</th>
            <th class="numeric">{{ 'in' | trans({}, 'common') }}</th>
            <th class="numeric">{{ 'out' | trans({}, 'common') }}</th>
            <th class="numeric">{{ 'balance' | trans({}, 'common') }}</th>
            <th>
                <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
            </th>
        </tr>
        </thead>
        <tbody>

        <!-- SOME STARTED -->
        {% set partialBalance = 0 %}

        {# BANK ACCOUNTS #}
        {% set started = reportStatus.bankAccountsState['state'] != 'not-started' %}
        <tr>
            <td class="width-half">
                {{ 'balanceTable.accountsOpeningBalance' | trans }}
                {% if started %}
                    ({{ report.startDate | date("j F Y") }})
                {% endif %}
            </td>
            <td colspan="2"></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance + report.accountsOpeningBalanceTotal %}
                    £{{ partialBalance | money_format }}
                {% endif %}
            </td>
            <td class="numeric width-twentieth">

                <a href="{{ path('bank_accounts', {'reportId': report.id}) }}" class="bold">
                    {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                </a>
            </td>
        </tr>


        {% if report.hasSection('deputyExpenses') %}
            {# DEPUTY EXPENSES (LAY) #}
            {% set started = reportStatus.expensesState['state'] != 'not-started'%}
            <tr>
                <td>{{ 'balanceTable.deputyExpenses' | trans }}</td>
                <td></td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        £{{ report.expensesTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        {% set partialBalance = partialBalance - report.expensesTotal %}
                        £{{ partialBalance  | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    <a href="{{ path('deputy_expenses', {'reportId': report.id}) }}" class="bold">
                        {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                    </a>
                </td>
            </tr>
        {% endif %}

        {% if report.hasSection('paDeputyExpenses') %}
            {# FEES/EXPENSES (PA) #}
            {% set started = reportStatus.paFeesExpensesState['state'] != 'not-started' %}
            {% set feesAndExpensesTotal = report.feesTotal + report.expensesTotal %}
            <tr>
                <td>{{ 'balanceTable.paDeputyExpenses' | trans }}</td>
                <td></td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        £{{ feesAndExpensesTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        {% set partialBalance = partialBalance - feesAndExpensesTotal %}
                        £{{ partialBalance  | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    <a href="{{ path('pa_fee_expense', {'reportId': report.id}) }}" class="bold">
                        {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                    </a>
                </td>
            </tr>
        {% endif %}

        {# GIFTS #}
        {% set started = reportStatus.giftsState['state'] != 'not-started' %}
        <tr>
            <td>{{ 'balanceTable.gifts' | trans }}</td>
            <td></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    £{{ report.giftsTotalValue | money_format }}
                {% endif %}
            </td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance - report.giftsTotalValue %}
                    £{{ partialBalance  | money_format }}
                {% endif %}
            </td>
            <td class="numeric">
                <a href="{{ path('gifts', {'reportId': report.id}) }}" class="bold">
                    {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                </a>
            </td>
        </tr>


        {# MONEY IN #}
        {% set started = reportStatus.moneyInState['state'] != 'not-started' %}
        <tr>
            <td>{{ 'balanceTable.moneyIn' | trans }}</td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    £{{ report.moneyInTotal | money_format }}
                {% endif %}
            </td>
            <td></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance + report.moneyInTotal %}
                    £{{ partialBalance  | money_format }}
                {% endif %}
            </td>
            <td class="numeric">
                <a href="{{ path('money_in', {'reportId': report.id}) }}" class="bold">
                    {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                </a>
            </td>
        </tr>

        {# MONEY OUT #}
        {% set started = reportStatus.moneyOutState['state'] != 'not-started' %}
        <tr>
            <td>{{ 'balanceTable.moneyOut' | trans }}</td>
            <td></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    £{{ report.moneyOutTotal | money_format }}
                {% endif %}
            </td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance - report.moneyOutTotal %}
                    £{{ partialBalance  | money_format }}
                {% endif %}
            </td>
            <td class="numeric">
                <a href="{{ path('money_out', {'reportId': report.id}) }}" class="bold">
                    {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                </a>
            </td>
        </tr>

        </tbody>

        {# Report balance #}
        {# to show as soon as bank accounts are started (see DDPB-1790) #}
        {% if showBalanceCalculations %}

            <tfoot >
            <tr id="calculated_balance_foot">
                <td colspan="3">
                    <span class="bold">{{ 'balanceTable.footer' | trans }}</span>
                </td>
                <td class="numeric bold">
                        <span class="bold" id="calculated_balance_foot_value">
                            £{{ report.calculatedBalance | money_format }}
                        </span>
                </td>
                <td></td>
            </tr>
            </tfoot>

        {% endif %}

    </table>

    {% if readyToBalance %}

        <h3 class="heading-medium">
            {% if not report.isTotalsMatch %}
                {{ 'differenceTable.headingNotBalanced' | trans }}
            {% else %}
                {{ 'differenceTable.headingBalanced' | trans }}
            {% endif %}
        </h3>

        <table class="push--ends" id="calculated_balance_table">
            <thead class="visually-hidden">
            <tr>
                <th>{{ 'section' | trans({}, 'common') }}</th>
                <th colspan="2"></th>
                <th class="numeric">{{ 'balance' | trans({}, 'common') }}</th>
                <th>
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="width-half">{{ 'differenceTable.accountsClosingBalance' | trans }}
                    ({{ report.endDate | date("j F Y") }})
                </td>
                <td colspan="2"></td>
                <td class="numeric">
                    £{{ report.accountsClosingBalanceTotal | money_format }}
                </td>
                <td class="numeric width-twentieth">
                    <a href="{{ path('bank_accounts', {'reportId': report.id}) }}" class="bold">
                        {{ 'edit' | trans({}, 'common') }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>{{ 'differenceTable.reportClosingBalance' | trans }}</td>
                <td colspan="2"></td>
                <td class="numeric">
                    £{{ report.calculatedBalance | money_format }}
                </td>
                <td></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <span class="bold">{{ 'differenceTable.footer' | trans }}</span>
                </td>
                <td class="numeric bold">
                        <span class="bold">
                            £{{ report.totalsOffset | abs | money_format }}
                        </span>
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    {% endif %}

    <h3 class="heading-medium">{{ 'moreInfo.heading' | trans }}</h3>

    <div class="text">
        <p>{{ 'moreInfo.para1' | trans(transOptions) | raw }}</p>
        <p>{{ 'moreInfo.para2' | trans }}</p>
        <p>{{ 'moreInfo.para3' | trans }}</p>

        {% if readyToBalance and not report.isTotalsMatch %}

            <p class="bold">{{ 'moreInfo.para4' | trans(transOptions) }}</p>
            <p>{{ 'moreInfo.para5' | trans }}</p>

            <ul class="list list-bullet">
                <li>{{ 'moreInfo.listItem1' | trans }}</li>
                <li>{{ 'moreInfo.listItem2' | trans }}</li>
                <li>{{ 'moreInfo.listItem3' | trans(transOptions) | raw }}</li>
                <li>{{ 'moreInfo.listItem4' | trans(transOptions) | raw }}</li>
                <li>{{ 'moreInfo.listItem5' | trans(transOptions) | raw }}</li>
            </ul>
        {% endif %}
    </div>

    {% if report.isDue and readyToBalance and not report.isTotalsMatch %}
        <h3 class="heading-medium" id="cantFindTheProblem">{{ 'cantFind.heading' | trans }}</h3>

        <div class="text">
            <p>{{ 'cantFind.para1' | trans }}</p>
            <p>{{ 'cantFind.para2' | trans }}</p>
        </div>

        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {{ form_input(form.balanceMismatchExplanation, '', {
            'labelText': 'form.explanation.label' | trans
        }) }}

        {{ macros.saveAndContinueButton(form.save) }}

        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="button-link">
            {% if app.user.isDeputyOrg() %}
                {{ 'backToClientProfile' | trans({}, 'common') }}
            {% else %}
                {{ 'backToReportOverview' | trans({}, 'common') }}
            {% endif %}
        </a>

        {{ form_end(form) }}

    {% else %}

        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="button">
            {% if app.user.isDeputyOrg() %}
                {{ 'backToClientProfile' | trans({}, 'common') }}
            {% else %}
                {{ 'backToReportOverview' | trans({}, 'common') }}
            {% endif %}
        </a>

    {% endif %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(report, 'balance') }}


{% endblock %}