{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-balance" %}
{% trans_default_domain translationDomain %}

{% set transOptions = {
    '%client%': report.client.firstname | e,
    '%moreless%': report.totalsOffset < 0 ? "less" : "more"
} %}

{% set readyToBalance = report.status.balanceState['state'] != 'not-started' %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}
    {% if not readyToBalance %}
        <div class="alert-info panel panel-border-narrow" id="alert-not-started">
            <span class="icon icon-information"></span>
            <div class="alert-message">
                <p>
                    {{ ('alerts.notStarted' ~ app.user.getRoleForTrans) | trans(transOptions) }}
                </p>
            </div>
        </div>
    {% else %}
        {% if report.isTotalsMatch %}
            <div class="alert-success panel panel-border-narrow" id="alert-balanced">
                <span class="icon icon-tick"></span>
                <div class="alert-message">
                    <p class="bold">{{ 'alerts.balanced' | trans }}</p>
                </div>
            </div>
        {% else %}
            <div class="alert{% if report.isDue %}-error{% endif %} panel panel-border-narrow behat-region-balance-bad"
                 id="alert-not-balanced">
                {% if report.isDue %}
                    <span class="icon icon-cross"></span>
                {% endif %}
                <div class="alert-message">
                    {% if report.isDue %}
                        <p class="bold">{{ 'alerts.notBalanced' | trans }}</p>
                    {% endif %}
                    <div class="data behat-region-unaccounted-for">
                        <span class="data-item bold-xlarge">
                            £{{ report.totalsOffset | abs | money_format }}
                        </span>
                        <span class="data-item bold-xsmall">{{ 'alerts.notBalancedSupport' | trans(transOptions) }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {# Balance table #}
    {% include 'AppBundle:Report/Balance:_balance_table.html.twig' %}

    {% if readyToBalance %}
        {# Balance table #}
        {% include 'AppBundle:Report/Balance:_difference_table.html.twig' %}
    {% endif %}

    {# TODO use report.hasSection('moneyIn') || report.hasSection('gifts') || report.hasSection('deputyExpenses') to decouple #}
    {% if report.canLinkToBankAccounts %}
        {# If no transactions, don't display download CSV link #}
        {% if report.gifts is not empty or report.expenses is not empty or report.moneyTransactionsIn is not empty or report.moneyTransactionsOut is not empty %}
            <p class="text push--top">
                {{ 'download-transactions' | trans({ '%transactionsCsvPath%': path('report_transactions_csv', {reportId: report.id})}) | raw }}
            </p>
        {% endif %}
    {% endif %}

    <h3 class="heading-medium">{{ 'moreInfo.heading' | trans }}</h3>

    <div class="text">
        <p>{{ 'moreInfo.para1' | trans(transOptions) | raw }}</p>
        <p>{{ 'moreInfo.para2' | trans }}</p>
        <p>{{ 'moreInfo.para3' | trans }}</p>

        {% if readyToBalance and not report.isTotalsMatch %}

            <p class="bold">{{ 'moreInfo.para4' | trans(transOptions) }}</p>

            <details class="push--bottom">
                <summary>
                    <span class="summary">{{ 'moreInfo.whatToDo.title' | trans }}</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>{{ 'moreInfo.whatToDo.para1' | trans }}</p>
                    <ul class="list list-bullet">
                        <li>{{ 'moreInfo.whatToDo.listItem1' | trans }}</li>
                        <li>{{ ('moreInfo.whatToDo.listItem2' ~ app.user.getRoleForTrans) | trans }}</li>
                        <li>{{ ('moreInfo.whatToDo.listItem3' ~ app.user.getRoleForTrans) | trans(transOptions) }}</li>
                        {% if app.user and not app.user.isDeputyProf() %}
                            <li>{{ ('moreInfo.whatToDo.listItem4' ~ app.user.getRoleForTrans) | trans }}</li>
                        {% endif %}
                        <li>{{ 'moreInfo.whatToDo.listItem5' | trans(transOptions) | raw }}</li>
                    </ul>
                </div>
            </details>

        {% endif %}
    </div>

    {% if report.isDue and readyToBalance and not report.isTotalsMatch %}
        <h3 class="heading-medium" id="cantFindTheProblem">{{ 'cantFind.heading' | trans }}</h3>

        <div class="text">
            <p>{{ 'cantFind.para1' | trans }}</p>
            <p>{{ 'cantFind.para2' | trans }}</p>
        </div>

        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        {{ form_input(form.balanceMismatchExplanation, '', {
            'labelText': 'form.explanation.label' | trans
        }) }}

        {{ macros.saveAndContinueButton(form.save) }}

        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="button-link">
            {% if app.user.isDeputyOrg() %}
                {{ 'backToClientProfile' | trans({}, 'common') }}
            {% else %}
                {{ 'backToReportOverview' | trans({}, 'common') }}
            {% endif %}
        </a>

        {{ form_end(form) }}

    {% else %}

        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="button">
            {% if app.user.isDeputyOrg() %}
                {{ 'backToClientProfile' | trans({}, 'common') }}
            {% else %}
                {{ 'backToReportOverview' | trans({}, 'common') }}
            {% endif %}
        </a>

    {% endif %}

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'balance',
    } %}

    <script>
        $(document).ready(function() {
            var ga = new opg.Ga({'timeout': 250});
            ga.trackDownloadableLink($('#transactionsCsv'));
        });
    </script>

{% endblock %}
