{% set translationDomain = "ndr-assets" %}
{% trans_default_domain translationDomain %}

<h3 class="govuk-heading-m">{{ groupId | trans }}</h3>

<dl class="govuk-summary-list behat-region-list-accounts">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{ 'form.description.label' | trans }}
    </dt>
    <dd class="govuk-summary-list__key">
      {{ 'form.valuationDate.label' | trans }}
    </dd>
    <dd class="govuk-summary-list__key">
      {{ 'form.value.label' | trans }}
    </dd>
    <dd class="govuk-summary-list__actions">
        <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
    </dd>
  </div>

    {% for asset in assetsInGroup.items %}
        <div class="govuk-summary-list__row behat-region-asset-{{ asset.description | behat_namify }}">
            <dt class="govuk-summary-list__value">
                {{ asset.description | nl2br }}
            </dt>
            <dd class="govuk-summary-list__value">
                {% if asset.valuationDate %}
                    {{ asset.valuationDate | date('j F Y') }}
                {% else %}
                    -
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
                £{{ asset.value | money_format }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ path('ndr_asset_other_edit', {'ndrId': ndr.id, 'assetId': asset.id}) }}">
                {{ 'edit' | trans({}, 'common' ) }}
                </a>
                &nbsp;
                <a class="govuk-link behat-link-delete" href="{{ path('ndr_asset_delete', {'ndrId': ndr.id, 'assetId': asset.id}) }}">
                {{ 'remove' | trans({}, 'common' ) }}
                </a>
            </dd>
        </div>
    {% endfor %}

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Total amount
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__key">
            £{{ assetsInGroup.total | money_format }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
    </div>
</dl>
