{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% set hideEditLink = hideEditLink | default(false) %}

<div class="grid-row push--top">
    <div class="column-half">
        <h2 class="heading-medium flush--ends">Income you've already told us about</h2>
    </div>
    <div class="column-half text--right">
        {% if not hideEditLink  %}
            <a href="{{ path('money_in_step' , {'reportId': report.id, 'step': 1, 'from': 'summary'}) }}"
                class="bold-small move-quarter--up action-link behat-link-add">
                <span class="icon icon-plus"></span>
                Add item of income
            </a>
        {% endif %}
    </div>
</div>

{% for groupId, groupData in report.groupMoneyTransactionsByGroup(report.moneyTransactionsIn) %}

    <h3 class="heading-medium">{{ ('form.group.entries.' ~ groupId) | trans(transOptions) }}</h3>

    <dl class="govuk-summary-list behat-region-list-accounts">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Type
            </dt>
            <dd class="govuk-summary-list__key">
                Description
            </dd>
            {% if report.canLinkToBankAccounts %}
                <dd class="govuk-summary-list__key">
                    Bank account
                </dd>
            {% endif %}
            <dd class="govuk-summary-list__key numeric">
                Amount
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </dd>
            {% endif %}
        </div>

        {% for entry in groupData.entries %}
            <div class="govuk-summary-list__row behat-region-transaction-{{ entry.description | behat_namify }}">
                <dt class="govuk-summary-list__key width-fifth">
                    {{ ('form.category.entries.' ~ entry.category ~ '.label') | trans }}
                </dt>
                <dd class="govuk-summary-list__value width-quarter">
                    {{ entry.description | nl2br }}
                </dd>
                {% if report.canLinkToBankAccounts %}
                    <dd class="govuk-summary-list__value width-fifth">
                        {{ (entry.bankAccount) ? entry.bankAccount.nameOneLine : '-' }}
                    </dd>
                {% endif %}
                <dd class="govuk-summary-list__value numeric-small width-eighth">
                    £{{ entry.amount | money_format }}
                </dd>
                {% if not hideEditLink  %}
                    <dd class="govuk-summary-list__actions">
                        <a 
                            class="behat-link-edit govuk-link"
                        href="{{ path('money_in_step', {'reportId': report.id, 'step': 2, 'transactionId': entry.id, 'from': 'summary'}) }}">
                        {{ 'edit' | trans({}, 'common' ) }}
                        </a>
                        <a 
                            class="behat-link-delete push-half--left govuk-link" 
                            href="{{ path('money_in_delete', {'reportId': report.id, 'transactionId': entry.id}) }}">
                            {{ 'remove' | trans({}, 'common' ) }}
                        </a>
                    
                    </dd>
                {% endif %}
            </div>
        {% endfor %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                    <span class="bold-small">Total amount</span>
            </dt>
            <dd class="govuk-summary-list__value"></dd>
            {% if report.canLinkToBankAccounts %}
                <dd class="govuk-summary-list__value"></dd>
            {% endif %}
            <dd class="govuk-summary-list__value">
                    <span class="bold-small behat-region-{{ groupId | behat_namify }}-total">£{{ groupData.amountTotal | money_format }}</span>
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions"></dd>
            {% endif %}
        </div>
    </dl>

{% endfor %}

{# Total money in #}
<table class="check-your-answers push--top">
    <tr class="no-border">
        <td class="text--right">
            <span class="heading-medium">Total money in:</span>
        </td>
        <td class="numeric-small width-eighth">
            <span class="heading-medium">£{{ report.moneyInTotal | money_format }}</span>
        </td>
        {% if not hideEditLink  %}
            <td class="width-sixth"></td>
        {% endif %}
    </tr>
</table>
