{% set translationDomain = "report-money-in" %}
{% trans_default_domain translationDomain %}

<div class="border--thicker">
    <div class="grid-row push--top">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of items of income</h2>
        </div>
        <div class="column-half text--right">
            <a href="{{ path('money_in_step' , {'reportId': report.id, 'step': 1}) }}"
                class="bold-small move-quarter--up">
                <span class="icon icon-plus"></span>
                Add transaction
            </a>
        </div>
    </div>
</div>


{# debug #}
<ul>
{% for t in  report.transactionsIn%}
    {% if t.amounts.0 > 0 %}
    <li>{{ t.id }} | {{ t.category }} | {{ t.type }} |{{ t.amounts | join(' - ') }} | {{ t.moreDetails }} | </li>
    {% endif %}
{% endfor %}
</ul>


[...]
{# http://hzaiwi.axshare.com/#g=1&p=accounts_-_money_in_-_summary_overview #}