{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname | e,
    '%startDate%': report.startDate | date("j M Y"),
    '%endDate%': report.endDate | date("j M Y")
} %}

{% block htmlTitle %}{{ 'startPage.moneyIn.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'startPage.moneyIn.pageSectionTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'startPage.moneyIn.pageSectionDescription1' | trans(transOptions) }}</p>
        <p>{{ 'startPage.moneyIn.pageSectionDescription2' | trans(transOptions) }}</p>
        <p>{{ 'startPage.moneyIn.pageSectionDescription3' | trans(transOptions) }}</p>
    </div>

    <a href="{{ path('money_in_step', { 'reportId': report.id, 'step': 1 }) }}" class="button button-start behat-link-start">{{ 'startPage.moneyIn.startButton' | trans }}</a>

{% endblock %}
