{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname | e,
    '%startDate%': report.startDate | date("j M Y"),
    '%endDate%': report.endDate | date("j M Y"),
    '%moneyTransfersPath%': path('money_transfers', {reportId: report.id}),
    '%accountsPath%': path('bank_accounts', {reportId: report.id})
} %}

{% block htmlTitle %}{{ 'startPage.moneyIn.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'startPage.moneyIn.pageTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'startPage.moneyIn.pageSectionDescription1' | trans(transOptions) }}</p>
        <p>{{ 'startPage.moneyIn.pageSectionDescription2' | trans(transOptions) | raw }}</p>
        <p>{{ 'startPage.moneyIn.pageSectionDescription3' | trans }}</p>

        <h3 class="heading-small">{{ 'startPage.moneyIn.totalOrIndividualHeading' | trans }}</h3>
        <p>{{ 'startPage.moneyIn.totalOrIndividualPara' | trans }}</p>

        {% if report.bankAccounts is empty and report.type in ['102','102-4','102-5','102-4-5','102-6','102-4-6'] %}
            <h3 class="heading-small">{{ 'startPage.moneyIn.accountLinksHeading' | trans(transOptions) }}</h3>
            <p>{{ 'startPage.moneyIn.accountLinksPara1' | trans(transOptions) | raw }}</p>
        {% endif %}
    </div>

    <a href="{{ path('money_in_step', { 'reportId': report.id, 'step': 1 }) }}" class="button button-start behat-link-start">{{ 'startPage.moneyIn.startButton' | trans }}</a>

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'moneyIn',
    } %}

{% endblock %}
