{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}

{% set clientTransOptions = {'%client%': report.client.firstname | e } %}
{#{% set groupString = ('form.group.entries.' ~ transaction.group) | trans(clientTransOptions) %}#}
{% set category = transaction.category %}
{% set categoryString = ('form.category.entries.' ~ transaction.category ~ '.label') | trans(clientTransOptions) %}
{% set transOptions = clientTransOptions | merge({
    '%category%': categoryString,
    '%moneyTransfersPath%': path('money_transfers', {reportId: report.id})
}) %}

{% block htmlTitle %}{{ 'stepPage.moneyIn.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}
    {{ 'stepPage.moneyIn.pageTitle' | trans(transOptions) }}
    {% if step == 2 %} : {{ categoryString }}
    {% endif %}
{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'stepPage.moneyIn.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {id: 'account-form', novalidate: 'novalidate' } }) }}

    {% if step == 1 %}
        <div class="form-group form-group__checkbox-group" data-radio-toggle="1">
            <fieldset>
                {% for group, categories in categoriesGrouped %}

                    {% if categories | length > 1 %}
                        {% set dataTarget = 'group' ~ group ~ 'details' %}
                        {# category under a group #}
                        <fieldset class="form-group panel panel-border-narrow form-group__checkbox-group">
                            <legend class="heading-secondary">{{ ('form.group.entries.' ~ group) | trans({}, translationDomain) }}</legend>
                            {% for category in categories %}
                                {% for el in form.category %}
                                    {% if el.vars.value ==  category %}
                                        <div class="multiple-choice text">
                                            {{ form_widget(el) }}
                                            <label for="{{ el.vars.id }}">
                                                {{ ('form.category.entries.' ~ category ~ '.label') | trans({}, translationDomain) }}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </fieldset>
                    {% else %}
                        {# category not under a group#}
                        {% set category = categories.0 %}
                        {% for el in form.category %}
                            {% if el.vars.value == category %}
                                <div class="multiple-choice text">
                                    {{ form_widget(el) }}
                                    <label for="{{ el.vars.id }}" class="">
                                        {{ ('form.category.entries.' ~ category ~ '.label') | trans({}, translationDomain) }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                {% endfor %}
            </fieldset>
        </div>
    {% endif %}

    {% if step == 2 %}
        {{ form_input(form.description, 'form.description.' ~ (form.description.vars.required ? 'mandatory' : 'optional'), {
            'labelParameters' : transOptions
        }) }}

        {{ form_input(form.amount, 'form.amount', {
            'inputPrefix' : '£',
            'inputClass' : 'form-control-1-4 js-format-currency',
            'formGroupClass': ' form-group-value'
        }) }}

        {# form_known_date(form.createdAt, 'form.createdAt') #}

    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
