{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}

{% set categoryText = ('form.category.entries.' ~ transaction.category) | trans %}
{% set idText = ('form.id.entries.' ~ transaction.id ~ '.label') | trans %}
{% set transOptions = {'%client%': report.client.firstname, '%category%': categoryText, '%idText%': idText} %}

{% block htmlTitle %}{{ 'stepPage.moneyIn.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}
    {% if step == 1 %}
        {{ 'stepPage.moneyIn.pageSectionTitle' | trans(transOptions) }}
    {% else %}
        {{ 'stepPage.moneyIn.pageSectionTitleWithCategory' | trans(transOptions) }}
    {% endif %}
{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'stepPage.moneyIn.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'stepPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {id: 'account-form', novalidate: 'novalidate' } }) }}

    {% if step == 1 %}
        <p class="text">
            {{ 'stepPage.moneyIn.pageSectionDescription.step1' | trans(transOptions) }}
        </p>
        {{ form_checkbox_group(form.category, 'form.category', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.category.legend' | trans()
        }) }}
    {% endif %}

    {% if step == 2 %}
        {{ form_checkbox_group(form.id, 'form.id', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.id.legend' | trans({'%category%': categoryText})
        }) }}
    {% endif %}

    {% if step == 3 %}
        {{ form_input(form.moreDetails, 'form.moreDetails', {
            'labelParameters' : transOptions
        }) }}

        {{ form_input(form.amounts.0, 'form.amounts', {
            'inputPrefix' : '£',
            'inputClass' : 'form-control__number js-format-currency',
            'formGroupClass': ' form-group-value'
        }) }}

        {# form_known_date(form.createdAt, 'form.createdAt') #}

    {% endif %}

    {{ form_submit(form.save, '', {'labelText': 'stepPage.saveAndContinue' | trans({}, 'common')}) }}

    {{ form_end(form) }}

{% endblock %}
