{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-in" %}
{% trans_default_domain translationDomain %}

{% set categoryText = ('form.category.entries.' ~ transaction.category) | trans %}
{% set idText = ('form.id.entries.' ~ transaction.id ~ '.label') | trans %}
{% set transOptions = {'%client%': report.client.firstname, '%category%': categoryText, '%idText%': idText} %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}
    {% if step == 1 %}
        {{ 'stepPage.pageSectionTitle' | trans(transOptions) }}
    {% else %}
        {{ 'stepPage.pageSectionTitleWithCategory' | trans(transOptions) }}
    {% endif %}
{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'stepPage.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'stepPage.backLink' | trans) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {id: 'account-form', novalidate: 'novalidate' } }) }}

    {% if step == 1 %}
        <p class="text">
            {{ 'stepPage.pageSectionDescription.step1' | trans(transOptions) }}
        </p>
        {{ form_checkbox_group(form.category, 'form.category', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.category.legend' | trans(),
            'items': [
                {'labelClass': 'block-label'},
                {'labelClass': 'block-label'},
                {'labelClass': 'block-label'},
                {'labelClass': 'block-label'},
                {'labelClass': 'block-label'},
                {'labelClass': 'block-label'},
                {'labelClass': 'block-label'}
            ]
        }) }}
    {% endif %}

    {% if step == 2 %}
        {# biggs the list is dynamic, can we apply block-label globally ? #}
        {{ form_checkbox_group(form.id, 'form.id', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.id.legend' | trans({'%category%': categoryText}),
            'items': [
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            {'labelClass': 'block-label'},
            ]
        }) }}
    {% endif %}

    {% if step == 3 %}
        {{ form_input(form.moreDetails, 'form.moreDetails', {
            'labelParameters' : transOptions
        }) }}

        {{ form_input(form.amounts, 'form.amounts', {
            'inputPrefix' : '£',
            'inputClass' : 'form-control__number transaction-value',
        }) }}

        {{ form_known_date(form.createdAt, 'form.createdAt') }}

    {% endif %}

    {{ form_submit(form.save, '', {'labelText': 'stepPage.saveAndContinue' | trans({}, 'common')}) }}

    {% if skipLink %}
        <a href="{{ skipLink }}" class="button-link behat-link-step-skip">{{ 'stepPage.skipLink' | trans({}, 'common') }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}
