{% extends '@App/Layouts/application.html.twig' %}

{% set translationDomain = "admin" %}
{% trans_default_domain translationDomain %}
{% set page = 'satisfactionPage' %}

{% set navSection = 'metrics' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block supportTitleTop %}{{ (page ~ '.supportTitle') | trans }}{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    <div class="text">
        <p class="govuk-body">{{ (page ~ '.DescriptionPara') | trans }}</p>


        {{ form_start(form, {attr: {class: 'search', novalidate: 'novalidate' }}) }}

        {{ form_known_date(form.startDate, 'satisfactionPage.form.fromDate', {
            'hintText': (page ~ '.form.fromDate.hint') | trans
        }) }}<span class="govuk-visually-hidden">of satisfaction search period</span>

        {{ form_known_date(form.endDate, 'satisfactionPage.form.toDate', {
            'hintText': (page ~ '.form.toDate.hint') | trans
        }) }}<span class="govuk-visually-hidden">of satisfaction search period</span>

        <div class="govuk-form-group">
            {{ form_submit(form.submitAndDownload, (page ~ '.form.submitAndDownload'), {
                'buttonClass': 'behat-link-submit-and-download'
            }) }}
            <a href="{{ path('admin_stats') }}" class="govuk-link button-link">{{ 'homeForm.clear' | trans }}</a>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
