{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "client-contacts" %}
{% trans_default_domain translationDomain %}
{% set page = "addContact" %}
{% set translationPrefix = "form." %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}


{% block supportTitleTop %}
    {{ (page ~ '.supportTitle') | trans({'%fullName%': client.fullname | title}) }}
{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <fieldset>
        <legend class="govuk-heading-m">{{ 'form.contactHeading' | trans }}</legend>
        {{ form_input(form.firstName, 'form.firstName') }}
        {{ form_input(form.lastName, 'form.lastName') }}
        {{ form_input(form.jobTitle, 'form.jobTitle') }}
        {{ form_input(form.phone, 'form.phone') }}
        {{ form_input(form.email, 'form.email') }}
    </fieldset>

    <fieldset>
        <legend class="govuk-heading-m">{{ 'form.organisationHeading' | trans }}</legend>
        {{ form_input(form.orgName, 'form.orgName') }}
        {{ macros.addressFields(form, translationDomain, translationPrefix) }}
    </fieldset>



    {{ form_submit(form.save,'form.save', {'buttonClass': 'behat-link-save'}) }}

    <a href="{{ backLink }}" class="govuk-link button-link">{{ 'cancel' | trans({}, 'common') }}</a>

    {{ form_end(form) }}

{% endblock %}
