{% embed 'AppBundle:Components/Page:page-report.html.twig' with {
activeTab: "tab-safeguarding"
} %}

{% set translationDomain = "report-safeguarding" %}
{% trans_default_domain translationDomain %}

{% block bodyClasses %}safeguarding-page{% endblock %}
{% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block title %}{{ 'page.htmlTitle' | trans }}{% endblock %}


{% block pageBody %}

    {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
    transDomain: translationDomain,
    pageSectionTitle: 'page.pageSectionTitle'
    } %}

    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
    transDomain: translationDomain,
    pageSectionDescription: 'page.pageSectionDescription'
    } %}
      
    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'in-page-form' }}) }}
    
    {% include 'AppBundle:Components/Page:_sub-section-title.html.twig' with {
    transDomain: translationDomain,
    subSectionTitle: 'form.contact.subSectionTitle'
    } %}
    
    {{ form_checkbox_group(form.doYouLiveWithClient, 'doYouLiveWithClient', {
        'fieldSetClass' : 'inline do-you-live-radio',
        'legendClass' : 'form-label',
        'items': [
            {'labelClass': 'block-label', 'elementClass': '' },
            {'labelClass': 'block-label', 'elementClass': '' }
        ]
    }) }}
    <div id="safeguarding-content">
        {{ form_checkbox_group(form.howOftenDoYouVisit, 'howOftenDoYouVisit', {
            'legendClass' : 'form-label',
            'legendText' : 'Test',
            'vertical': true
        }) }}
        
        {{ form_checkbox_group(form.howOftenDoYouPhoneOrVideoCall, 'howOftenDoYouPhoneOrVideoCall', {
            'legendClass' : 'form-label',
            'vertical': true
        }) }}
        
        {{ form_checkbox_group(form.howOftenDoYouWriteEmailOrLetter,
            'howOftenDoYouWriteEmailOrLetter', {
            'legendClass' : 'form-label',
            'vertical': true
        }) }}
        
        {{ form_checkbox_group(form.howOftenDoesClientSeeOtherPeople, 
            'howOftenDoesClientSeeOtherPeople', {
            'legendClass' : 'form-label',
            'vertical': true
        }) }}
        
        {{ form_input(form.anythingElseToTell,'anythingElseToTell', { 'labelClass': 'required', 'inputClass': 'expanding' }) }}
        
        {{ form_checkbox_group(form.doesClientReceivePaidCare, 'doesClientReceivePaidCare', {
            'fieldSetClass' : 'inline does-client-receive-care',
            'legendClass' : 'form-label',
            'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
        
        {{ form_checkbox_group(form.howIsCareFunded, 'howIsCareFunded', {
            'fieldSetClass' : 'stacked',
            'legendClass' : 'form-label',
            'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
            
        {{ form_input(form.whoIsDoingTheCaring,'whoIsDoingTheCaring', { 'labelClass': 'required', 'inputClass': 'expanding' }) }}
        
        {{ form_checkbox_group(form.doesClientHaveACarePlan, 'doesClientHaveACarePlan', {
            'fieldSetClass' : 'inline does-client-receive-care',
            'legendClass' : 'form-label',
            'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
        
        {{ form_known_date(form.whenWasCarePlanLastReviewed, 'whenWasCarePlanLastReviewed') }}

    </div>

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.save,'form.save') }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}
    
    

    
    {{ form_end(form) }}
    
    {{form(form)}}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.radio-vertical-group').each(function(index, element) {
                new opg.RadioGroup(element);
            });
            new GOVUK.SelectionButtons('.form-group__checkbox-group :radio');
            new opg.RadioHide({
                radio:'.do-you-live-radio input[type=radio]',
                content: '#safeguarding-content'
            });
        });
    </script>

{% endblock %}

{% endembed %}