{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-client-benefits-check" %}
{% trans_default_domain translationDomain %}

{% set transOptions = {
    '%client%': report.client.firstname | striptags,
} %}

{% block htmlTitle %}{{ 'common.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'common.pageTitle' | trans(transOptions) }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(report, isMultiClientDeputy) }}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body">{{ 'common.tellUs' | trans(transOptions) }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ 'common.tellUsBullets.1' | trans(transOptions) }}</li>
                <li>{{ 'common.tellUsBullets.2' | trans(transOptions) }}</li>
            </ul>
        </div>
    </div>

    {{ macros.startSectionButton(path('client_benefits_check_step', { 'reportId': report.id, 'step': 1, 'reportOrNdr': reportOrNdr }), 'startPage.startButton' | trans) }}

    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'clientBenefitsCheck',
    } %}

{% endblock %}
