{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-client-benefits-check" %}
{% trans_default_domain translationDomain %}

{% set transOptions = {
    '%client%': report.client.firstname | striptags,
} %}

{% block htmlTitle %}{{ 'common.htmlTitle' | trans(transOptions, translationDomain) }}{% endblock %}
{% block pageTitle %}{{ 'common.pageTitle' | trans(transOptions, translationDomain) }}{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">{{ 'summaryPage.pageDescription' | trans(transOptions) }}</p>
            <p class="govuk-body govuk-!-font-weight-bold">{{ 'summaryPage.listedAnswers' | trans(transOptions) }}</p>
            <p class="govuk-body">{{ 'summaryPage.checkAnswers' | trans(transOptions) }}</p>
        </div>

        <div class="column-third">
            {{ macros.relatedSections(report, 'clientBenefitsCheck') }}
        </div>
    </div>

    {% include '@App/Report/ClientBenefitsCheck/_answers.html.twig' %}

    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'clientBenefitsCheck',
    } %}

{% endblock %}
