{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}

{% set clientTransOptions = {'%client%': report.client.firstname | e } %}
{% set groupString = ('form.group.entries.' ~ transaction.group) | trans(clientTransOptions) %}
{% set categoryString = ('form.category.entries.' ~ transaction.category ~ '.label') | trans(clientTransOptions) %}
{% set transOptions = clientTransOptions | merge({
    '%group%': groupString,
    '%category%': categoryString,
    '%moneyTransfersPath%': path('money_transfers', {reportId: report.id}),
    '%deputyExpensesPath%': path('deputy_expenses', {reportId: report.id}),
    '%paDeputyExpensesPath%': path('pa_fee_expense', {reportId: report.id}),
    '%giftsPath%': path('gifts', {reportId: report.id})
}) %}
{% if report.hasSection('deputyExpenses') %}
    {% set appendPA = '' %}
{% elseif report.hasSection('paDeputyExpenses') %}
    {% set appendPA = 'PA' %}
{% endif %}

{% block htmlTitle %}{{ 'stepPage.moneyOut.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}
    {{ 'stepPage.moneyOut.pageTitle' | trans(transOptions) }}{% if step != 1 %}: {% endif %}
    {% if step == 2 %}
        {% if transaction.group == "fees" %}
            {{ groupString }}
        {% elseif transaction.group == "accommodation" %}
            {{ transaction.group }}
        {% else %}
            {{ groupString | lower }}
        {% endif %}
    {% endif %}
    {% if step == 3 %}
        {% if categoryString == "TV services" or categoryString == "OPG's fees" %}
            {{ categoryString }}
        {% elseif categoryString == "Tax payments to HMRC" %}
            {{ categoryString|replace({'Tax': 'tax'}) }}
        {% elseif 'Cash' in categoryString %}
            {{ categoryString|replace({'Cash': 'cash'}) }}
        {% elseif 'Transfers' in categoryString %}
            {{ categoryString|replace({'Transfers': 'transfers'}) }}
        {% else %}
            {{ categoryString | lower }}
        {% endif %}
    {% endif %}
{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'stepPage.moneyOut.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {id: 'account-form', novalidate: 'novalidate' } }) }}

    {% if step == 1 %}
        <p class="text">
            {{ 'stepPage.moneyOut.pageSectionDescription.step1' | trans(transOptions) }}
        </p>
        {{ macros.notification('default', ('stepPage.moneyOut.pageSectionDescription.differentSections' ~ appendPA) | trans(transOptions) ) }}
        {{ form_checkbox_group(form.group, 'form.group', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.group.moneyOut.legend' | trans(transOptions),
            'formGroupClass': 'push--top'
        }) }}
    {% endif %}

    {% if step == 2 %}
        {{ form_checkbox_group(form.category, 'form.category', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.category.moneyOut.legend' | trans
        }) }}
    {% endif %}

    {% if step == 3 %}
        {{ form_input(form.description, 'form.description.' ~ (form.description.vars.required ? 'mandatory' : 'optional'), {}) }}

        {{ form_input(form.amount, 'form.amount', {
            'inputPrefix' : '£',
            'inputClass' : 'form-control-1-4 js-format-currency',
            'formGroupClass': ' form-group-value'
        }) }}

        {# form_known_date(form.createdAt, 'form.createdAt') #}

    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
