{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}

{% set clientTransOptions = {'%client%': report.client.firstname} %}
{% set groupString = ('form.group.entries.' ~ transaction.group) | trans(clientTransOptions) %}
{% set categoryString = ('form.category.entries.' ~ transaction.category ~ '.label') | trans(clientTransOptions) %}
{% set transOptions = clientTransOptions | merge({'%group%': groupString, '%category%': categoryString}) %}

{% block htmlTitle %}{{ 'stepPage.moneyOut.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}
    {% if step == 1 %}
        {{ 'stepPage.moneyOut.pageSectionTitle' | trans(transOptions) }}
    {% else %}
        {{ 'stepPage.moneyOut.pageSectionTitleWithCategory' | trans(transOptions) }}
    {% endif %}
{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'stepPage.moneyOut.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'stepPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {id: 'account-form', novalidate: 'novalidate' } }) }}

    {% if step == 1 %}
        <p class="text">
            {{ 'stepPage.moneyOut.pageSectionDescription.step1' | trans(transOptions) }}
        </p>
        {{ form_checkbox_group(form.group, 'form.group', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.group.moneyOut.legend' | trans(transOptions)
        }) }}
    {% endif %}

    {% if step == 2 %}
        {{ form_checkbox_group(form.category, 'form.category', {
            'legendClass' : 'form-label-bold',
            'legendText' : 'form.category.legend' | trans(transOptions),
        }) }}
    {% endif %}

    {% if step == 3 %}
        {{ form_input(form.description, 'form.description.' ~ (form.description.vars.required ? 'mandatory' : 'optional'), {
            'labelParameters' : transOptions
        }) }}

        {{ form_input(form.amount, 'form.amount', {
            'inputPrefix' : '£',
            'inputClass' : 'form-control__number js-format-currency',
            'formGroupClass': ' form-group-value'
        }) }}

        {# form_known_date(form.createdAt, 'form.createdAt') #}

    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
