{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {
    '%client%': report.client.firstname,
    '%startDate%': report.startDate | date("jS F Y"),
    '%endDate%': report.endDate | date("jS F Y")
} %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.moneyOut.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.moneyOut.pageSectionTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    {# Introduction text #}
    <div class="text">
        <p>{{ 'summaryPage.moneyOut.pageSectionDescription1' | trans(transOptions) }}</p>
        <p>{{ 'summaryPage.moneyOut.pageSectionDescription2' | trans(transOptions) }}</p>
        <p>{{ 'summaryPage.moneyOut.pageSectionDescription3' | trans(transOptions) }}</p>
    </div>

    {# Check answers text #}
    <h2 class="heading-small">{{ 'summaryPage.pageContent.weHaveListed' | trans(transOptions, 'common') }}</h2>
    <p class="text">{{ 'summaryPage.pageContent.checkCorrect' | trans(transOptions, 'common') }}</p>

    {# Return to overview link #}
    <p class="text--right flush--bottom">
        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="bold-small">
            {{ 'summaryPage.pageContent.returnToReport' | trans(transOptions, 'common') }}
        </a>
    </p>

    {# Items list #}
    {% include "AppBundle:Report/MoneyOut:_list.html.twig" %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(report, 'moneyOut') }}

{% endblock %}
