{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "user-activation-link-sent" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

  <div class="text">
    
    <p>{{ 'subtitle' | trans({'%tokenExpireHours%': tokenExpireHours})}}</p>

    <p>{{ 'didntReceive' | trans({'%senderEmail%': 'opgdeputyservice@digideps.dsd.io' }) }}</p>

    <p>{{ 'stillHavingProblems' | trans() }}
    	<a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian#org-contacts" target="_blank">{{ 'contactOPG' | trans }}</a>
    </p>
    
  </div>


{% endblock %}
