{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "user-activate-expired" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    <p class="text">{{ 'subtitle' | trans({'%tokenExpireHours%': tokenExpireHours})}}</p>

    <a href="{{ path('activation_link_send', {'token': token}) }}" class="behat-link-ask-us-to-send-new-link">{{ 'sendLink' | trans }}</a>

{% endblock %}
