{% extends 'AppBundle:Layouts:application.html.twig'%}

{% set translationDomain = "password-reset-expired" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    <p class="text">
        {{ 'subtitle' | trans({'%tokenExpireHours%': tokenExpireHours})}}
    </p>

    <a href="{{ path('password_forgotten') }}" class="behat-link-go-back-to-reset-password">{{ 'goBackLink' | trans }}</a>

{% endblock %}
