{% set translationDomain = translationDomain %}
{% trans_default_domain translationDomain %}

{# Newly attached document list #}

{% if report.unsubmittedDocuments | length > 0 %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">{{ (page ~ '.selectedDocuments') | trans }}</h2>
        </div>
    </div>

    <dl class="govuk-summary-list behat-region-new-document-list">
        <div class="govuk-summary-list__row behat-region-document-list">
            <dt class="govuk-summary-list__key">
                {{ (page ~ '.filename') | trans }}
            </dt>
            <dd class="govuk-summary-list__key">
                {{ (page ~ '.dateAttached') | trans }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
            </dd>
        </div>
        {% for document in report.unsubmittedDocuments %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    {{ document.fileName }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ document.createdOn | date("j F Y") }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a
                        class="govuk-link behat-link-delete-documents-button"
                        href="{{ path('delete_document', {'reportId':report.id, 'documentId': document.id, 'from': page}) }}">
                        {{ (page ~ '.deleteDocument') | trans }}
                    </a>
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}

{# Previously submitted documents #}

{% if page == 'attachPage' and report.submittedDocuments | length > 0 %}

    <h2 class="govuk-heading-m">{{ (page ~ '.documentListPrevious') | trans }}</h2>

    <dl class="govuk-summary-list behat-region-previous-submitted-document-list behat-region-document-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ (page ~ '.filename') | trans }}
            </dt>
            <dd class="govuk-summary-list__key">
                {{ (page ~ '.dateAttached') | trans }}
            </dd>
        </div>
        {% for document in report.submittedDocuments %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    {{ document.fileName }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ document.createdOn | date("j F Y") }}
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}
