{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-documents" %}
{% set page = "attachPage" %}

{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'stepPage.pageTitle' | trans }}{% endblock %}


{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <h2 class="govuk-heading-m">{{ (page ~ '.step1Heading') | trans }}</h2>

    <div class="govuk-inset-text">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ (page ~ '.selectHint1') | trans }}
                <br>
                {{ (page ~ '.selectHint2') | trans }}
            </div>
        </div>
    </div>

    {% if step == 1 %}
        <div class="push--bottom">
            <div class="govuk-form-group flush--bottom {% if not form.wishToProvideDocumentation.vars.valid %}govuk-form-group--error{% endif %}">
                {{ form_checkbox_group(form.wishToProvideDocumentation, 'form.wishToProvideDocumentation', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'legendClass' : 'govuk-fieldset__legend--m'
                }) }}
            </div>
        </div>

    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
