<div id="account-summary" class="summary-container">
    <h3 class="heading">Summary</h3>
    <div>
        <h4 class="heading">Accounts summary</h4>
        <table class="money">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th class="grey" scope="col">Opening balance</th>
                    <th class="" scope="col">Change</th>
                    <th class="grey " scope="col">Closing balance</th>
                </tr>
            </thead>
            <tbody>

            {% for account in odr.accounts %}
                <tr>
                    <td>
                        <div class="account-name">
                            {{ account.bank }} {{ account.accountTypeText }}
                        </div>
                        <div class="account-number">****{{ account.accountNumber }}
                            {% if account.requiresBankNameAndSortCode and account.sortCode %}
                               , {{ account.sortCode | split('', 2) | join('-') }}
                            {% endif %}
                            {% if account.isJointAccount =='yes' %}
                                <span class="account-closed">JOINT ACCOUNT</span>
                            {% endif %}
                            {% if account.isClosed %}
                                <span class="account-closed">ACCOUNT CLOSED</span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="numeric grey">£{{ account.openingBalance | money_format }}</td>
                    <td class="numeric ">£ {{ (account.closingBalance - account.openingBalance) | money_format }}</td>
                    <td class="numeric grey">£{{ account.closingBalance | money_format }}</td>
                </tr>
            {% endfor %}
                <tr class="totals">
                    <td>&nbsp;</td>
                    <td class="numeric">£{{ odr.accountsOpeningBalanceTotal | money_format }}</td>
                    <td>&nbsp;</td>
                    <td class="numeric reverse">£{{ odr.accountsClosingBalanceTotal | money_format}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4 class="heading">Balance after income and expenditure</h4>
        <table class="money">
            <tbody>
                <tr>
                    <td>Total of all opening balances:</td>
                    <td class="grey numeric">£{{ odr.accountsOpeningBalanceTotal | money_format }}</td>
                </tr>
                <tr>
                    <td>Total money in:</td>
                    <td class="grey numeric">£{{ odr.moneyInTotal | money_format}}</td>
                </tr>
                <tr>
                    <td>Total money out:</td>
                    <td class="grey numeric">£{{ odr.moneyOutTotal | money_format}}</td>
                </tr>
                <tr class="totals">
                    <td>&nbsp;</td>
                    <td class="numeric reverse">£{{ odr.calculatedBalance | money_format}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
