{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "odr-actions" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': odr.client.firstname | e } %}

{% block htmlTitle %}
    {{ 'stepPage.htmlTitle' | trans }}
{% endblock %}
{% block pageTitle %}
    {% if step == 1 %}
        {{ 'stepPage.gifts.pageSectionTitle' | trans }}
    {% else %}
        {{ 'stepPage.property.pageSectionTitle' | trans }}
    {% endif %}
{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'stepPage.backLink' | trans) }}
{% endblock %}

{% block supportTitleTop %}
<span class="heading-secondary">{{ 'stepPage.supportTitle' | trans }}</span>
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {# step 1 (gifts) #}
    {% if step == 1 %}

        <div class="text">
            <p>{{ 'stepPage.gifts.pageSectionDescription1' | trans(transOptions) }}</p>
            <p>{{ 'stepPage.gifts.pageSectionDescription2' | trans(transOptions) }}</p>

            <details class="push--bottom">
                <summary>
                    <span class="summary">{{ 'stepPage.gifts.hiddenText01.summary' | trans(transOptions) }}</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>{{ 'stepPage.gifts.hiddenText01.content.para01' |trans(transOptions) }}</p>
                    <p>{{ 'stepPage.gifts.hiddenText01.content.para02' |trans(transOptions)|raw }}</p>
                    <p>{{ 'stepPage.gifts.hiddenText01.content.para03' |trans(transOptions)|raw }}</p>
                </div>
            </details>
        </div>


        <div class="form-section push--bottom">
            <div class="form-group flush--bottom {% if not form.actionGiveGiftsToClient.vars.valid %}form-group-error{% endif %}">
                {{ form_checkbox_group(form.actionGiveGiftsToClient, 'form.actionGiveGiftsToClient', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'legendClass' : 'form-label-bold',
                    'legendText' : 'form.actionGiveGiftsToClient.label' | trans(transOptions),
                    'items': [
                        {'dataTarget': 'give-gifts-client-textarea' }
                    ]
                }) }}

                <div id="give-gifts-client-textarea" class="panel panel-border-narrow js-hidden">
                    {{ form_input(form.actionGiveGiftsToClientDetails, 'form.actionGiveGiftsToClientDetails', {
                        'labelParameters': transOptions,
                        'labelRaw': true
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    {# steps 2,3,4 (property) #}
    {% if step == 2 %}
        {{ form_checkbox_group(form.actionPropertyMaintenance, 'form.actionPropertyMaintenance', {
            'fieldSetClass' : 'inline paid-anything',
            'legendClass' : 'form-label',
            'legendText' : 'form.actionPropertyMaintenance.label' | trans(transOptions, translationDomain)
        }) }}
    {% endif %}

    {% if step == 3 %}
        {{ form_checkbox_group(form.actionPropertySellingRent, 'form.actionPropertySellingRent', {
            'fieldSetClass' : 'inline paid-anything',
            'legendClass' : 'form-label',
            'legendText' : 'form.actionPropertySellingRent.label' | trans(transOptions, translationDomain)
        }) }}

        <details class="text push--bottom">
            <summary>
                <span class="summary">{{ 'stepPage.property.selling.hiddenText01.summary' | trans(transOptions) }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <p>{{ 'stepPage.property.selling.hiddenText01.content.para01' |trans(transOptions) }}</p>
                <p>{{ 'stepPage.property.selling.hiddenText01.content.para02' |trans(transOptions)|raw }}</p>
                <p>{{ 'stepPage.property.selling.hiddenText01.content.para03' |trans(transOptions) }}</p>
                <p>{{ 'stepPage.property.selling.hiddenText01.content.para04' |trans(transOptions)|raw }}</p>
            </div>
        </details>
    {% endif %}

    {% if step == 4 %}
        {{ form_checkbox_group(form.actionPropertyBuy, 'form.actionPropertyBuy', {
            'fieldSetClass' : 'inline paid-anything',
            'legendClass' : 'form-label',
            'legendText' : 'form.actionPropertyBuy.label' | trans(transOptions, translationDomain)
        }) }}
    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {% if skipLink %}
        <a href="{{ skipLink }}" class="button-link behat-link-step-skip">{{ 'stepPage.skipLink' | trans({}, 'common') }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

