{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "ndr-debts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'editPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'editPage.pageTitle' | trans(transOptions) }}{% endblock %}


{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <p class="govuk-hint">{{ 'editPage.pageHint' | trans(transOptions, translationDomain) }}</span>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="push--bottom">
        {% for debt in form.debts %}
            <div class="{{ debt.moreDetails is defined ? ' js-details-expander ' : '' }}">
                {{ form_row(debt.debtTypeId) }}
                {{ form_input(debt.amount, 'amount', {
                    'inputPrefix' : '£',
                    'inputClass' : 'govuk-!-width-one-quarter js-format-currency',
                    'labelText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.label') | trans,
                    'hintText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.hint') | trans(transOptions)
                }) }}

                {% if debt.moreDetails is defined %}
                    <div class="govuk-form-group flush--bottom">
                        <div class="opg-indented-block flush--bottom js-hidden js-details-expandable">
                            {{ form_input(debt.moreDetails, 'moreDetails', {
                                'labelText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.moreInformations') | trans,
                                'hintText': ('form.entries.' ~ debt.debtTypeId.vars.value ~ '.moreInfoHint') | trans(transOptions)
                            }) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
