{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-lifestyle" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% set hideEditLink = hideEditLink | default(false) %}

<dl class="govuk-summary-list">
    {{ macros.summaryListHeaderQA(hideEditLink) }}
    <div class="govuk-summary-list__row behat-region-care-appointments">
        {% if report.lifestyle.careAppointments is null %}
            <dt class="govuk-summary-list__key">
                {{ 'form.careAppointments.label' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
            </dd>
        {% else %}
            <dt class="govuk-summary-list__key">
                {{ 'form.careAppointments.label' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.lifestyle.careAppointments | nl2br }}
            </dd>
        {% endif %}
        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a
                href="{{ path('lifestyle_step', {'reportId': report.id, 'step': 1, 'from': 'summary'}) }}"
                class="behat-link-care-appointments-edit govuk-link">
                    {{ 'edit' | trans({}, 'common')}}
                </a>
            </dd>
        {% endif %}
    </div>
    <div class="govuk-summary-list__row behat-region-does-client-undertake-social-activities">
        {% if report.lifestyle.doesClientUndertakeSocialActivities is null %}
            <dt class="govuk-summary-list__key">
                {{ 'form.doesClientUndertakeSocialActivities.label' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
            </dd>
        {% else %}
            <dt class="govuk-summary-list__key">
                {{ 'form.doesClientUndertakeSocialActivities.label' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.lifestyle.doesClientUndertakeSocialActivities | capitalize }}
            </dd>
        {% endif %}
        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{ path('lifestyle_step', {'reportId': report.id, 'step':2, 'from': 'summary'}) }}">
                    {{ 'edit' | trans({}, 'common')}}
                </a>
            </dd>
        {% endif %}
    </div>
    {% if report.lifestyle.doesClientUndertakeSocialActivities and (report.lifestyle.activityDetailsYes or report.lifestyle.activityDetailsNo) %}
        <div class="govuk-summary-list__row behat-region-activity-details">
            {% if report.lifestyle.doesClientUndertakeSocialActivities == 'yes' %}
                <dt class="govuk-summary-list__key">
                    {{ 'form.activityDetailsYes.label' | trans(transOptions) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.lifestyle.activityDetailsYes | nl2br }}
                </dd>
            {% else %}
                <dt class="govuk-summary-list__key">
                    {{ 'form.activityDetailsNo.label' | trans(transOptions) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.lifestyle.activityDetailsNo | nl2br }}
                </dd>
            {% endif %}
            {% if not hideEditLink %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{{ path('lifestyle_step', {'reportId': report.id, 'step':2, 'from': 'summary'}) }}">
                        {{ 'edit' | trans({}, 'common')}}
                    </a>
                </dd>
            {% endif %}
        </div>
    {% endif %}
</dl>
