{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-lifestyle" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageTitle' | trans }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p class="govuk-body">
            {{ 'startPage.pageSectionDescription' | trans(transOptions, translationDomain) }}
        </p>
    </div>

    {{ macros.startSectionButton(path('lifestyle_step', { 'reportId': report.id, 'step': 1 }), 'startPage.startButton' | trans ) }}

    {# Pagination #}
    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'lifestyle',
    } %}

{% endblock %}
