{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-lifestyle" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans }}{% endblock %}
{% block pageHeader %}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% if step == 1 %}
        {{ form_input(form.careAppointments, 'form.careAppointments', {
            'labelText': ('form.careAppointments.label') | trans(transOptions),
            label: {
                isPageHeading: true,
                caption: 'stepPage.supportTitle' | trans
            }
        }) }}
    {% endif %}

    {% if step == 2 %}
        <div class="govuk-form-group {% if not form.doesClientUndertakeSocialActivities.vars.valid %}error{% endif %}">
            {{ form_checkbox_group(form.doesClientUndertakeSocialActivities, 'form.doesClientUndertakeSocialActivities', {
                'useFormGroup': false,
                'legendText' : 'form.doesClientUndertakeSocialActivities.label' | trans(transOptions, translationDomain),
                legend: {
                    isPageHeading: true,
                    caption: 'stepPage.supportTitle' | trans
                },
                'items': [
                {'dataTarget': 'undertake-social-activities-yes-wrapper' },
                {'dataTarget': 'undertake-social-activities-no-wrapper' }
                ]
            }) }}

            <div id="undertake-social-activities-yes-wrapper" class="opg-indented-block js-hidden">
                {{ form_input(form.activityDetailsYes,'form.activityDetailsYes', {
                    'formGroupClass': 'flush--bottom',
                    'labelText': ('form.activityDetailsYes.label') | trans(transOptions)
                }) }}
            </div>

            <div id="undertake-social-activities-no-wrapper" class="opg-indented-block js-hidden">
                {{ form_input(form.activityDetailsNo,'form.activityDetailsNo', {
                    'formGroupClass': 'flush--bottom',
                    'labelText': ('form.activityDetailsNo.label') | trans(transOptions)
                }) }}
            </div>
        </div>
    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {% if skipLink %}
        <a href="{{ skipLink }}" class="govuk-link button-link behat-link-step-skip">{{ 'skipLink' | trans({}, 'common') }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}
