{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain "admin-settings" %}

{% set navSection = 'notifications' %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageTitle' | trans }}{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">{{ 'serviceNotifications.description' | trans }}</p>

            {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

                {{ form_input(form.content, 'serviceNotifications.form.content', {
                    inputClass: 'govuk-!-width-full'
                }) }}

                {{ form_checkbox_group(form.enabled, 'serviceNotifications.form.enabled', {
                    formGroupClass: 'govuk-radios--inline',
                    legendClass: 'govuk-fieldset__legend--m',
                }) }}

                {{ form_submit(form.save, 'serviceNotifications.form.save', {'buttonClass': 'behat-link-save'}) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
