{% set translationDomain = "report-money-transfer" %}
{% trans_default_domain translationDomain %}

<table class="check-your-answers columns-2 push-double--bottom">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>
                <span class="visuallyhidden">Actions</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="behat-region-no-transfers-to-add">
            <td>
                {{ 'existPage.form.noTransfersToAdd.label' | trans(transOptions)  }}
            </td>
            <td>
                {{ report.noTransfersToAdd ? 'No' : 'Yes' }}
            </td>
            <td class="change-answer">
                <a href="{{ url('money_transfers_exist', { 'reportId': report.id, 'from': 'summary' }) }}" class="action-link behat-link-edit">{{ 'summaryPage.edit'| trans }}</a>
            </td>
        </tr>
    </tbody>
</table>

{% if report.moneyTransfers | length > 0 %}
    <div class="grid-row">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of money transfers</h2>
        </div>
        <div class="column-half text--right">
            <a href="{{ path('money_transfers_step', { 'reportId': report.id, 'step': 1}) }}" class="bold-small move-quarter--up action-link behat-link-add">
                <span class="icon icon-plus"></span>
                {{ 'summaryPage.addButton' | trans }}
            </a>
        </div>
    </div>
{% endif %}

{% if report.moneyTransfers | length > 0 %}
    <table class="check-your-answers">
        <thead>
            <tr>
                <th>Transferred from</th>
                <th>Transferred to</th>
                <th class="text--right">Amount</th>
                <th>
                    <span class="visuallyhidden">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for transfer in report.moneyTransfers %}
                <tr class="behat-region-transfer-{{ transfer.accountFrom.accountNumber }}-{{ transfer.accountTo.accountNumber }}-{{ transfer.amount | behat_namify }}">
                    <td class="width-quarter">
                        {% set account = transfer.accountFrom %}
                        {% if account.requiresBankNameAndSortCode %}
                            {{ account.bank }}<br/>
                        {% endif %}
                        <p class="font-xsmall flush--ends">
                            {{ account.accountTypeText }}<br/>
                            Sort code: {{ account.sortCode }}<br/>
                            Account number: ****{{ account.accountNumber }}<br/>
                            Joint account: {{ account.isJointAccount == 'no' ? 'No' : 'Yes' }}<br/>
                        </p>
                    </td>
                    <td class="width-quarter">
                        {% set account = transfer.accountTo %}
                        {% if account.requiresBankNameAndSortCode %}
                            {{ account.bank }}<br/>
                        {% endif %}
                        <p class="font-xsmall flush--ends">
                            {{ account.accountTypeText }}<br/>
                            Sort code: {{ account.sortCode }}<br/>
                            Account number: ****{{ account.accountNumber }}<br/>
                            Joint account: {{ account.isJointAccount == 'no'? 'No' : 'Yes' }}<br/>
                        </p>
                    </td>
                    <td class="numeric-small">
                        £{{ transfer.amount | money_format }}
                    </td>
                    <td class="change-answer width-sixth soft-half--left hard--right">
                        <a href="{{ url('money_transfers_step', { 'reportId': report.id, 'transferId': transfer.id, 'step': 1 }) }}#pageBody" class="behat-link-edit action-link">{{ 'summaryPage.edit'| trans }}</a>
                        <a href="{{ path('money_transfers_delete', { 'reportId': report.id, 'transferId': transfer.id }) }}" class="push-half--left action-link behat-link-delete">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
