{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transfer" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

{% macro accountDetails(account) %}
    {% if account.requiresBankName %}
        {{ account.bank }}<br/>
    {% endif %}
    <p class="font-xsmall flush--ends">
        {{ account.accountTypeText }}<br/>
        {% if account.requiresSortCode %}
            Sort code: {{ account.sortCode }}<br/>
        {% endif %}
        Account number: ****{{ account.accountNumber }}<br/>
        Joint account: {{ account.isJointAccount == 'no' ? 'No' : 'Yes' }}<br/>
    </p>
{% endmacro %}

<dl class="govuk-summary-list columns-2 push-double--bottom">
    {{ macros.summaryListHeaderQA(hideEditLink) }}
    <div class="govuk-summary-list__row behat-region-no-transfers-to-add">
        <dt class="govuk-summary-list__key">
            {{ 'existPage.form.noTransfersToAdd.label' | trans(transOptions)  }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ report.noTransfersToAdd is not null ? (report.noTransfersToAdd ? 'No' : 'Yes') : '-' }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ url('money_transfers_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>
</dl>

{% if report.moneyTransfers | length > 0 %}
    <div class="grid-row">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of money transfers</h2>
        </div>
        <div class="column-half text--right">
            {% if not hideEditLink  %}
                <a href="{{ path('money_transfers_step', { 'reportId': report.id, 'step': 1}) }}" class="bold-small move-quarter--up action-link behat-link-add">
                    <span class="icon icon-plus"></span>
                    {{ 'summaryPage.addButton' | trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if report.moneyTransfers | length > 0 %}
    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Transferred from
            </dt>
            <dd class="govuk-summary-list__key">
                Transferred to
            </dd>
            <dd class="govuk-summary-list__key text--right">
                Amount
            </dd>
            {% if not hideEditLink %}
                <dd class="govuk-summary-list__actions">
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </dd>
            {% endif %}
        </div>

        {% for transfer in report.moneyTransfers %}
            <div class="govuk-summary-list__row behat-region-transfer-{{ transfer.accountFrom.accountNumber }}-{{ transfer.accountTo.accountNumber }}-{{ transfer.amount | behat_namify }}">
                <dt class="govuk-summary-list__value">
                    {{ _self.accountDetails(transfer.accountFrom) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ _self.accountDetails(transfer.accountTo) }}
                </dd>
                <dd class="govuk-summary-list__value numeric-small">
                    £{{ transfer.amount | money_format }}
                </dd>
                {% if not hideEditLink  %}
                    <dd class="govuk-summary-list__actions">
                        <a 
                            href="{{ url('money_transfers_step', { 'reportId': report.id, 'transferId': transfer.id, 'step': 1 }) }}" 
                            class="behat-link-edit govuk-link">
                            {{ 'edit' | trans({}, 'common') }}
                        </a>
                        <a 
                            href="{{ path('money_transfers_delete', { 'reportId': report.id, 'transferId': transfer.id }) }}" 
                            class="behat-link-delete push-half--left govuk-link">
                            {{ 'remove' | trans({}, 'common' ) }}
                        </a>
                    </dd>
                {% endif %}
            </div>
        {% endfor %}
    </dl>

{% endif %}
