{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain "admin-clients" %}
{% set page = 'clientUnarchived' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}

{% block pageTitle %}{% endblock %}

{% block pageContent %}

    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            {{ (page ~ '.alertSuccessTitle') | trans }}

        </h1>
        <div class="govuk-panel__body">
            {{ (page ~ '.alertSuccessMessage') | trans }}
        </div>
    </div>

    <div>
        <a href=" {{ path("admin_client_details", { id: id }) }}"
           class="govuk-link">{{ (page ~ '.clientDashboardLink') | trans }}</a>
    </div>

{% endblock %}
