{% set translationDomain = "popup-timeout" %}
{% trans_default_domain translationDomain %}


<div class="session-timeout-underlay">
</div>
<div id="timeoutPopup" data-role="timeout-popup" class="session-timeout js-session-timeout">
    <div class="session-timeout-dialog">

        <div id="page-section-title-container" class="page-section-title-container">
            <h1>{{ 'component.title' | trans }}</h1>
        </div>

        <p>{{ 'component.firstLine' | trans({
        '%inactiveFor%': (session_popup_show_after / 60) | round(2, 'floor'),
        '%loggedOutIn%': ((session_expires_seconds - session_popup_show_after) / 60) | round(2, 'floor')
        }) }}</p>

        <p>{{ 'component.secondLine' | trans }}</p>

        <form name="session-timeout-form" action="/logout">
            <button type="button" name="continue" class="button js-ok-button">OK</button>
            <button type="submit" name="subsmit" class="button-secondary">Sign out</button>
        </form>

    </div>
</div>

<script type="text/javascript">

    // instantiate object and attach events on page load
    $().ready(function () { // $DOM READY EVENT

        var sessionExpires = {{ session_expires_seconds|default(1500) }},
                sessionShowPopupMs = {{ session_popup_show_after|default(1200) }},
                keepAliveUrl = '{{ path('session-keep-alive') }}';

        new SessionTimeoutDialog({
            'element': $('#timeoutPopup'),
            'sessionExpiresMs': sessionExpires * 1000,
            'sessionPopupShowAfterMs': sessionShowPopupMs * 1000,
            'keepSessionAliveUrl': keepAliveUrl
        }).startCountdown();

    });

</script>
