{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}
{% set page = 'startPage' %}
{% set clientName = report.client.firstname %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <p class="text">{{ (page ~ '.description1') | trans(transOptions) }}</p>

    <details>
        <summary>
            <span class="summary">{{ (page ~ '.whatisMentalCapacitySummary') | trans }}</span>
        </summary>
        <div class="text opg-indented-block">
            <p>{{ (page ~ '.whatisMentalCapacityPara1') | trans(transOptions) }}</p>
            <p>{{ (page ~ '.whatisMentalCapacityPara2') | trans(transOptions)|raw }}</p>
        </div>
    </details>

    <details {% if '104' in report.type %}class="push--bottom"{% endif %}>
        <summary>
            <span class="summary">{{ (page ~ '.whatisdecisionSummary') | trans }}</span>
        </summary>
        <div class="text opg-indented-block">
            <p>{{ (page ~ '.whatisdecisionPara1' ~ append104) | trans(transOptions) }}</p>
            <p>{{ (page ~ '.whatisdecisionPara2' ~ append104) | trans(transOptions) }}</p>
            <ul class="list list-bullet">
                <li>{{ (page ~ '.whatisdecisionListItem1' ~ append104) | trans(transOptions) }}</li>
                <li>{{ (page ~ '.whatisdecisionListItem2' ~ append104) | trans(transOptions) }}</li>
                <li>{{ (page ~ '.whatisdecisionListItem3' ~ append104) | trans(transOptions) }}</li>
                {% if '104' not in report.type %}
                    <li>{{ (page ~ '.whatisdecisionListItem4' ~ append104) | trans(transOptions) }}</li>
                    <li>{{ (page ~ '.whatisdecisionListItem5' ~ append104) | trans(transOptions) }}</li>
                    <li>{{ (page ~ '.whatisdecisionListItem6' ~ append104) | trans(transOptions) }}</li>
                    <li>{{ (page ~ '.whatisdecisionListItem7' ~ append104) | trans(transOptions) }}</li>
                {% endif %}
            </ul>
        </div>
    </details>

    {% if '104' not in report.type %}
        <p class="text">{{ (page ~ '.description2') | trans }}</p>
    {% endif %}

    <a href="{{ path('decisions_mental_capacity', { 'reportId': report.id}) }}"
       class="button button-start behat-link-start">{{ (page ~ '.startButton') | trans }}</a>

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'decisions',
    } %}

{% endblock %}
