{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}
{% set page = 'summaryPage' %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = report.get104TransSuffix %}

{# Page Titles #}
{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}
    <div class="grid-row">
        <div class="column-two-thirds">
            {# Introduction text #}
            <p class="text">{{ (page ~ '.weAskAbout') | trans(transOptions) }}</p>

            {# Check answers text #}
            <h2 class="heading-small">{{ 'weHaveListed' | trans(transOptions, 'common') }}</h2>
            <p class="text">{{ 'checkCorrect' | trans(transOptions, 'common') }}</p>

            {# Missing questions alerts #}
            {% if status.decisionsState.state != 'done' and comingFromLastStep%}
                {{ macros.notification('notice', 'remindComplete' | trans(transOptions, 'common')) }}
            {% endif %}

            {% if status.decisionsState.state != 'done' and not comingFromLastStep%}
                {{ macros.notification('notice', 'canYouAnswer' | trans(transOptions, 'common')) }}
            {% endif %}
        </div>
        <div class="column-third">
            {{ macros.relatedSections(report, 'decisions') }}
        </div>
    </div>

    {# Items list #}
    {% include 'AppBundle:Report/Decision:_list.html.twig' with {
    'report': report,
    'transDomain': translationDomain
    } %}

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'decisions',
    } %}

{% endblock %}
