{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
<div class="section break-before">
    <h2 class="section-heading">Money in</h2>
    <div class="box" >
        <h3 class="label question bold">{{ 'summaryPage.moneyIn.hasMoneyIn.label' | trans(transOptions, translationDomain) }}</h3>

        <table class="checkboxes labelvalue inline">
            <tr>
                <td class="checkbox value"{% if report.moneyInExists == 'Yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">Yes</td>
                <td class="checkbox value"{% if report.moneyInExists == 'No' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">No</td>
            </tr>
        </table>

        {% if report.moneyInExists == 'No' %}
        <div class="labelvalue push-half--top">
            <div class="label">{{ 'summaryPage.moneyIn.reasonForNoMoneyIn.label' | trans(transOptions, translationDomain) }}</div>
            <div class="value">{{ report.reasonForNoMoneyIn | nl2br}}</div>
        </div>
    </div>
    {% else %}
</div>
{% include '@App/Report/Formatted/Accounts/_categories.html.twig' with {
    'type': 'in',
    'moneyType': 'moneyIn',
    'transactions': report.moneyTransactionsIn,
    'total':  report.getMoneyInTotal
}%}
    {% endif %}
</div>

<div class="section break-before">
    <h2 class="section-heading">Money out</h2>
    <div class="box" >
        <h3 class="label question bold">{{ 'summaryPage.moneyOut.hasMoneyOut.label' | trans(transOptions, translationDomain) }}</h3>

        <table class="checkboxes labelvalue inline">
            <tr>
                <td class="checkbox value"{% if report.moneyOutExists == 'Yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">Yes</td>
                <td class="checkbox value"{% if report.moneyOutExists == 'No' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">No</td>
            </tr>
        </table>

        {% if report.moneyOutExists == 'No' %}
        <div class="labelvalue push-half--top">
            <div class="label">{{ 'summaryPage.moneyOut.reasonForNoMoneyOut.label' | trans(transOptions, translationDomain) }}</div>
            <div class="value">{{ report.reasonForNoMoneyOut | nl2br}}</div>
        </div>
    </div>
    {% else %}
</div>
{% include '@App/Report/Formatted/Accounts/_categories.html.twig' with {
    'type': 'out',
    'moneyType': 'moneyOut',
    'transactions': report.moneyTransactionsOut,
    'total':  report.getMoneyOutTotal
}%}
    {% endif %}
</div>
