{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}

{% set page = 'checklistPage' %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.supportTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block pageContent %}
    <div class="grid-row">
        <div class="column-two-thirds">
            {% block supportTitleTop %}
                <span class="heading-secondary">{{ (page ~ '.pageTitle') | trans }}</span>
            {% endblock %}

            {# Breadcrumbs #}

            {% block breadcrumbs %}
                <div class="breadcrumbs hard--bottom">
                    <ol class="group">
                        <li><a href="{{ path('admin_client_search') }}">{{ 'clients' | trans({}, 'common') }}</a></li>
                        <li><a href="{{ path('admin_client_details', {'id' : report.client.id}) }}">{{ 'clientDetails' | trans({}, 'common') }}</a></li>
                    </ol>
                </div>
            {% endblock %}

            {% block helpline %}{% endblock %}

            <p class="flush--bottom">
                {{ 'client' | trans({}, 'common') }}:
                <span class="bold behat-region-fullName">{{ report.client.fullName }}</span>
            </p>
            <p>
                {{ 'courtOrderNumber' | trans({}, 'common') }}:
                <span class="bold behat-region-case-number">{{ report.client.caseNumber }}</span>
            </p>
            <p>
                {{ 'reportType' | trans({}, 'common') }}:
                <span class="bold behat-region-report-type-title">{{ ('reportTitles.' ~ report.reportTitle) | trans({}, 'report') }}</span>
            </p>
            <p class="flush--bottom behat-region-last-saved-by">
                {{ 'lastSavedBy' | trans({}, 'common') }}:
                {% if (checklist.lastModifiedBy is defined) and (checklist.lastModifiedBy is not empty) %}
                    <span class="bold behat-region-last-modified-by">{{ checklist.lastModifiedBy.fullName}}, {{ checklist.lastModifiedBy.roleFullName }}</span>
                {% else %}
                    <span class="bold behat-region-last-modified-by">{{ 'notSavedYet' | trans({}, 'common') }}</span>
                {% endif %}
            </p>
            <p>
                {{ 'lastSavedOn' | trans({}, 'common') }}:
                <span class="bold">{{ (checklist.lastModifiedOn) ? (checklist.lastModifiedOn | date("j F Y H:i")) : 'Not saved yet' }}</span>
            </p>
            {% if report.client.deletedAt %}
                <p>{{ 'dischargedOn' | trans({}, 'common') }}:
                    Discharged on: <span class="bold behat-region-discharged-on">{{ report.client.deletedAt | date("j M Y") }}</span></p>
            {% endif %}

            {% if (checklist.submittedBy is defined) and (checklist.submittedBy is not empty) %}
                <p class="flush--bottom behat-region-last-submitted-by">
                    {{ 'lastSubmittedBy' | trans({}, 'common') }}:
                    <span class="bold behat-region-last-modified-by">{{ checklist.submittedBy.fullName}}, {{ checklist.submittedBy.roleFullName }}</span>
                </p>
                <p>
                    {{ 'lastSubmittedOn' | trans({}, 'common') }}:
                    <span class="bold behat-region-last-modified-by">{{ (checklist.submittedOn) ? (checklist.submittedOn | date("j F Y H:i")) : '-' }}</span>
                </p>
            {% endif %}

            {# Attached documents #}

            {% if report.deputyDocuments is defined and (report.deputyDocuments is not empty)%}
                <details class="push--bottom">
                    <summary>
                        <span class="summary">Attached documents</span>
                    </summary>
                    <div class="opg-indented-block">
                        <div>
                            <table>
                                <thead>
                                    <th>{{ 'summaryPage.filename' | trans({}, 'report-documents') }}</th>
                                    <th class="text--right">{{ 'summaryPage.dateAttached' | trans({}, 'report-documents') }}</th>
                                </thead>
                                <tbody>
                                    {% for document in report.deputyDocuments %}
                                        <tr>
                                            <td>{{ document.fileName }}</td>
                                            <td class="numeric-small">{{ document.createdOn | date("j F Y H:i") }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </details>
            {% else %}
                <p>No attached documents</p>
            {% endif %}

            {{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-checklist-form' }}) }}

            {# Deputy and client information #}
            {% include 'AppBundle:Admin/Client/Report/partials:_deputy-and-client-info.html.twig' %}

            {# Decisions made over the reporting period #}
            {% include 'AppBundle:Admin/Client/Report/partials:_decisions-made.html.twig' %}

            {# People consulted #}
            {% include 'AppBundle:Admin/Client/Report/partials:_people-consulted.html.twig' %}

            {# Contact with client, care arrangements and care plan #}
            {% include 'AppBundle:Admin/Client/Report/partials:_contact-with-client.html.twig' %}

            {# Health & Lifestyle #}
            {% if report.hasSection('lifestyle') %}
                {% include 'AppBundle:Admin/Client/Report/partials:_health-and-lifestyle.html.twig' %}
            {% endif %}

            {# Assets and debts #}
            {% if report.hasSection('assets') or report.hasSection('debts') %}
                {% include 'AppBundle:Admin/Client/Report/partials:_assets-and-debts.html.twig' %}
            {% endif %}

            {# Money transfers, Money in and money out #}
            {% if report.hasSection('moneyInShort') or report.hasSection('moneyOutShort') or report.hasSection('gifts') or report.hasSection('deputyExpenses') or report.hasSection('paDeputyExpenses') %}
                {% include 'AppBundle:Admin/Client/Report/partials:_money-in-and-out.html.twig' %}
            {% endif %}

            {# Bonds - hidden for PA checklist #}
            {% if report.hasSection('bankAccounts') %} {# Assuming if it has bankAccounts, it should have bonds #}
                {% if report.hasSection('paDeputyExpenses') %}
                    {% include 'AppBundle:Admin/Client/Report/partials:_pa-fee-expenses.html.twig' %}
                {% else %}
                    {% include 'AppBundle:Admin/Client/Report/partials:_bonds.html.twig' %}
                {% endif %}
            {% endif %}

            {# Deputy costs #}
            {% if report.hasSection('profDeputyCosts') %}
                {% include 'AppBundle:Admin/Client/Report/partials:_prof-deputy-costs.html.twig' %}
            {% endif %}

            {# Deputy costs estimates #}
            {% if report.hasSection('profDeputyCostsEstimate') %}
                {% include 'AppBundle:Admin/Client/Report/partials:_prof-deputy-costs-estimate.html.twig' %}
            {% endif %}

            {# Next reporting period #}
            {% include 'AppBundle:Admin/Client/Report/partials:_next-reporting-period.html.twig' %}

            {# Declaration #}
            {% include 'AppBundle:Admin/Client/Report/partials:_declaration.html.twig' %}

            {# Lodging summary #}
            <h3 class="heading-medium underline" id="lodgingSummary">{{ (page ~ '.lodgingSummary.heading') | trans }}</h3>

            <ul class="list list-bullet text">
                <li>{{ (page ~ '.lodgingSummary.listItem1') | trans }}</li>
                <li>{{ (page ~ '.lodgingSummary.listItem2') | trans }}</li>
                <li>{{ (page ~ '.lodgingSummary.listItem3') | trans }}</li>
                <li>{{ (page ~ '.lodgingSummary.listItem4') | trans }}</li>
            </ul>

            <div class="form-section push--bottom">
                {{ form_input(form.lodgingSummary, (page ~ '.form.lodgingSummary'), {
                    'formGroupClass': 'explanation js-auto-size',
                }) }}
            </div>

            <div class="form-section push--bottom">
                {{ form_checkbox_group(form.finalDecision, (page ~ '.form.finalDecision'), {
                    'legendClass': 'bold'
                }) }}
            </div>

            {# Further information #}
            <h3 class="heading-medium underline" id="furtherInformation">{{ (page ~ '.furtherInfo.heading') | trans }}</h3>

            <p class="text">{{ (page ~ '.furtherInfo.para') | trans }}</p>

            <table class="push--bottom">
                <thead>
                    <tr>
                        <th>{{ (page ~ '.furtherInfo.infoProvided') | trans }}</th>
                        <th class="width-fifth">{{ 'savedBy' | trans({}, 'common') }}</th>
                        <th class="numeric">{{ 'dateSaved' | trans({}, 'common') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% if checklist.checklistInformation is not empty %}
                    {% set counter = 1 %}
                    {% for info in checklist.checklistInformation %}

                    <tr>
                        <td class="behat-region-information-{{ counter }}">{{ info.information | nl2br | raw }}</td>
                        <td class="behat-region-information-created-by-{{ counter }} align--top">{{ info.createdBy.fullname }}, {{ info.createdBy.roleFullName }}</td>
                        <td class="behat-region-created-on-{{ counter }} numeric no-wrap align--top">{{ info.createdOn | date("j F Y") }}</td>
                    </tr>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{{ (page ~ '.furtherInfo.noInfoReceived') | trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <div class="form-section push-double--bottom">
                {{ form_input(form.furtherInformationReceived, (page ~ '.form.furtherInformationReceived'), {
                    'formGroupClass': 'explanation js-auto-size',
                }) }}
                {{ form_submit(form.saveFurtherInformation, (page ~ '.form.saveFurtherInformation'), {
                    'buttonClass': 'button-secondary behat-link-save-further-information'
                }) }}
            </div>

            <div class="form-section push--bottom">
                {{ form_submit(form.save, (page ~ '.form.save'), {
                    'buttonClass': 'button-secondary push-half--right behat-link-save-progress'
                }) }}

                {{ form_submit(form.submitAndDownload, (page ~ '.form.submitAndDownload'), {
                    'buttonClass': 'behat-link-submit-and-download'
                }) }}
            </div>

            <a href="{{ path('admin_client_details', {'id': report.client.id}) }}">{{ (page ~ '.backToClientDetails') | trans }}</a>

            {{ form_end(form) }}
        </div>
        <div class="column-third">
            <aside class="opg-related-items js-sidebar" role="complementary">
                <h2 id="related-items-title" class="govuk-heading-m">{{ (page ~ '.heading.contents') | trans }}</h2>
                <nav role="navigation" aria-labelledby="related-items-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li><a href="#deputyAndClientInfo" class="govuk-link">{{ (page ~ '.heading.info') | trans }}</a></li>
                        <li><a href="#decisionsMade" class="govuk-link">{{ (page ~ '.heading.decisions') | trans }}</a></li>
                        <li><a href="#peopleConsulted" class="govuk-link">{{ (page ~ '.heading.contacts') | trans }}</a></li>
                        <li><a href="#visitsAndCare" class="govuk-link">{{ (page ~ '.heading.visitsAndCare') | trans }}</a></li>
                        {% if report.hasSection('lifestyle') %}
                            <li><a href="#lifestyle" class="govuk-link">{{ (page ~ '.heading.healthAndLifestyle') | trans }}</a></li>
                        {% endif %}
                        {% if report.hasSection('assets') or report.hasSection('debts') %}
                            <li><a href="#assetsAndDebts" class="govuk-link">{{ (page ~ '.heading.assetsAndDebts') | trans }}</a></li>
                        {% endif %}
                        {% if report.hasSection('moneyInShort') or report.hasSection('moneyOutShort') or report.hasSection('gifts') or report.hasSection('deputyExpenses') %}
                            <li><a href="#moneyInOut" class="govuk-link">{{ (page ~ '.heading.money') | trans }}</a></li>
                        {% endif %}
                        {% if report.hasSection('bankAccounts') %}
                            {% if report.hasSection('paDeputyExpenses') %}
                                <li><a href="#paFeesExpenses" class="govuk-link">{{ (page ~ '.heading.paFeeExpenses') | trans }}</a></li>
                            {% else %}
                                <li><a href="#bonds" class="govuk-link">{{ (page ~ '.heading.bonds') | trans }}</a></li>
                            {% endif %}
                        {% endif %}
                        {% if report.hasSection('profDeputyCosts') %}
                            <li><a href="#profDeputyCosts" class="govuk-link">{{ (page ~ '.heading.profDeputyCosts') | trans }}</a></li>
                        {% endif %}
                        {% if report.hasSection('profDeputyCostsEstimate') %}
                            <li><a href="#profDeputyCostsEstimate" class="govuk-link">{{ (page ~ '.heading.profDeputyCostsEstimate') | trans }}</a></li>
                        {% endif %}
                        <li><a href="#nextReportingPeriod" class="govuk-link">{{ (page ~ '.heading.nextPeriod') | trans }}</a></li>
                        <li><a href="#declaration" class="govuk-link">{{ (page ~ '.heading.declaration') | trans }}</a></li>
                        <li><a href="#lodgingSummary" class="govuk-link">{{ (page ~ '.lodgingSummary.heading') | trans }}</a></li>
                        <li><a href="#furtherInformation" class="govuk-link">{{ (page ~ '.furtherInfo.heading') | trans }}</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>

{% endblock %}
