{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin-clients" %}
{% set page = 'reportManageType' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_select(form.type, 'reportManageType.form.type') }}

    <p class="heading-small flush--ends">{{  'reportManage.currentDueDate' | trans }}</p>
    <p>
        {{ report.dueDate | date("j F Y") }}
        {% set dueDateDiffDays = report.dueDateDiffDays  %}
        {% if dueDateDiffDays < 0 %}
            <br/><span class="font-xsmall bold text-red">{{  'reportManage.overdueBy' | trans ({
                '%overdueDays%': report.dueDateDiffDays|abs,
                '%dueDays%': report.dueDateDiffDays
            }) }}
        </span>
        {% endif %}
    </p>

    <div class="form-group push--bottom {% if not form.dueDateChoice.vars.valid %}form-group-error{% endif %}">
        {{ form_checkbox_group(form.dueDateChoice, 'reportManage.form.dueDateChoice', {
            'legendClass' : 'form-label-bold',
            'useFormGroup': false,
            'items': [
                {},
                {},
                {},
                {},
                {'dataTarget': 'due-date-custom' }
            ]
        }) }}
        <div id="due-date-custom" class="opg-indented-block js-hidden">
            {{ form_known_date(form.dueDateCustom, 'reportManage.form.dueDateCustom') }}
        </div>
    </div>

    {{ form_submit(form.save, 'reportManageType.form.save', {'buttonClass': 'behat-link-save'}) }}

    {{ form_end(form) }}

{% endblock %}
