{% set describedby = '' %}
{% if 'govuk-js-character-count' in inputClass and element.vars.attr.maxlength is defined %}
    {% set displayCountdown = 'character' %}
{% endif %}
<div id="form-group-{{ element.vars.id }}"
     class="govuk-form-group{% if not element.vars.valid %} govuk-form-group--error{% endif %}{% if formGroupClass is defined %} {{formGroupClass}}{% endif %}{% if displayCountdown is defined %}govuk-character-count{% endif %}"

    {% if displayCountdown is defined %}
        {% set describedby = element.vars.id ~ '-info' %}
            data-module="govuk-character-count" data-maxlength="
        {{ element.vars.attr.maxlength }}"
    {% endif %}>

    {% if label.isPageHeading %}
        <h1 class="govuk-label-wrapper">
            {% if label.caption %}
                <span class="govuk-caption-xl">{{ label.caption }}</span>
            {% endif %}
            <label class="govuk-label govuk-label--xl {{ labelClass | default('') }}" for="{{ element.vars.id }}">
                {{ label.text }}
            </label>
        </h1>
    {% else %}
        <label for="{{ element.vars.id }}" class="govuk-label {{ labelClass | default('') }}">
           {{ label.text }}
        </label>
    {% endif %}

    {% if (hintText is defined) and (hintText is not empty) %}
        {% set describedby = element.vars.id ~ '-hint' %}
        <div class="govuk-hint" id="{{ element.vars.id }}-hint">
            {{ hintText }}
        </div>
    {% endif %}

    {% if hintListArray is defined and hintListArray is not empty %}
        <ul class="govuk-hint govuk-list govuk-list--bullet">
            {% for hintList in hintListArray %}
                <li>{{ hintList }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ form_errors(element) }}

    {% set inputType = multiline ? 'textarea' : 'input' %}
    {% if 'govuk-!-width' not in inputClass %}
        {% set inputClass = ' govuk-!-width-one-half ' ~ inputClass %}
    {% endif %}
    {% set class = element.vars.attr.class | default('') ~ ' govuk-' ~ inputType ~ ' ' ~ inputClass | default('') %}

    {% if (preInputText is defined) and (preInputText is not empty) %}
        <span class="opg-pre-input-text">{{ preInputText }}</span>
    {% endif %}

    {% if inputPrefix is defined and inputPrefix is not empty %}
        <span class="opg-input-prefix">{{ inputPrefix }}</span>
    {% endif %}

    {% set attr = { 'class': class, 'rows': '5', 'aria-describedby': describedby } %}
    {% if dataModule%}
        {% set attr = attr|merge({'data-module': dataModule}) %}
    {% endif %}
    {% if element.vars.valid %}
        {{ form_widget(element, {
            'attr': attr
        }) }}
    {% else %}
        {{ form_widget(element, {
            'attr': {
                'class': class ~ ' govuk-' ~ inputType ~ '--error',
                'aria-invalid': 'true',
                'rows': '5',
                'aria-describedby': describedby ~ ' ' ~ element.vars.id ~ '-error',
            }
        }) }}
    {% endif %}

    {% if displayCountdown is defined %}
        <div class="govuk-hint govuk-character-count__message" id="{{ element.vars.id }}-info">
            You can enter up to {{ element.vars.attr.maxlength }} characters
        </div>
    {% endif %}

</div>
