<div id="closing-summary" class="section">
    <h3>Totals summarised</h3>
    <div class="transaction">
        <div class="label">Opening balance</div>
        <div class="value">&pound;{{ report.accountsOpeningBalanceTotal | money_format }}</div>
    </div>
    <div class="transaction">
        <div class="label">Total for all money in:</div>
        <div class="value">&pound;{{ report.moneyInTotal | money_format}}</div>
    </div>
    <div class="transaction">
        <div class="label">Money out:</div>
        <div class="value">&pound;{{ report.moneyOutTotal | money_format}}</div>
    </div>
    <div class="transaction">
        <div class="label">Deputy expenses:</div>
        <div class="value">&pound;{{ report.getExpensesTotalValue | money_format}}</div>
    </div>
    <div class="transaction">
        <div class="label">Gifts:</div>
        <div class="value">&pound;{{ report.getGiftsTotalValue | money_format}}</div>
    </div>

    {% if report.type == '103'  %}
        <div class="transaction"></div>
    {% else %}
        <div class="transaction total">
            <div class="label">Balance after income and expenditure:</div>
            <div class="value">&pound;{{ report.calculatedBalance | money_format}}</div>
        </div>
    {% endif %}

</div>
