<h2 class="section-heading">Financial summary</h2>
<div id="closing-summary" class="section">
    <div class="box box-heading flush-half--bottom">
        <h3 class="flush--bottom">Totals summarised</h3>
    </div>

    <div class="box box-white">
        <table class="money">
            <tr>
                <td>Opening balance</td>
                <td class="grey numeric">&pound;{{ report.accountsOpeningBalanceTotal | money_format }}</td>
            </tr>
            <tr>
                <td>Total for all money in:</td>
                <td class="grey numeric">&pound;{{ report.moneyInTotal | money_format}}</td>
            </tr>
            <tr>
                <td>Money out:</td>
                <td class="grey numeric">&pound;{{ report.moneyOutTotal | money_format}}</td>
            </tr>
            <tr>
                {% if report.has106flag %}
                    <td>Deputy fees and expenses:</td>
                    <td class="grey numeric">&pound;{{ (report.getExpensesTotal + report.getFeesTotal) | money_format}}</td>
                {% else %}
                    <td>Deputy expenses:</td>
                    <td class="grey numeric">&pound;{{ report.getExpensesTotal | money_format}}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Gifts:</td>
                <td class="grey numeric">&pound;{{ report.getGiftsTotalValue | money_format}}</td>
            </tr>
            {% if report.type != '103'  %}
                <tr class="totals">
                    <td><span class="bold">Balance after income and expenditure:</span></td>
                    <td class="reverse numeric"><span class="bold">&pound;{{ report.calculatedBalance | money_format}}</span></td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
