<div id="money in">
    <h2 class="section-heading sub-title" id="working-out-title">{{ title }}</h2>

    <h3 class="fieldset-outer-title">Categories</h3>
    <div class="box contact-item no-contact">
        {% set categories = report.recordsPresent(moneyShortCategories) %}
        {% if categories | length == 0 %}
            None
        {% else %}
            {# display categories comma separated #}
            {% for c in categories %}
                {{ ('form.categoriesEntries.' ~ c.typeId ~ '.label') | trans(transOptions, "report-money-short") }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="financial-categories">
        <div class="category">
            <h3>{{ titleItems }}</h3>
            <ul class="transactions">
                {% for t in report.moneyTransactionsShortIn %}
                    <li class="transaction">
                        <div class="label">
                            {{ t.description }}
                            ({{ t.date | date("d / m / Y") }})
                        </div>
                        <div class="value">&pound;{{ t.amount | money_format }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="transaction total">
            <div class="label">Total</div>
            <div class="value">{{ report.totalValue(report.moneyTransactionsShortIn) | money_format }}</div>
        </div>
    </div>


</div>
