<div class="section">
    <h2 class="section-heading">{{ title }}</h2>

    <div class="box">
        <div class="labelvalue">
            <div class="label">Categories:</div>
            <div class="value">
                {% if categories | length == 0 %}
                    None
                {% else %}
                    {# display categories comma separated #}
                    {% for c in categories %}
                        {{ ('form.categoriesEntries.' ~ c.typeId ~ '.label') | trans(transOptions, "report-money-short") }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="box">
        <h3 class="label question bold">{{ existQuestion }}</h3>
        <table class="checkboxes labelvalue inline">
            <tr>
                <td class="value checkbox">{% if transactionsExist == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                <td class="value checkbox">{% if transactionsExist == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
            </tr>
        </table>

        {% if transactions | length %}
            <table class="labelvalue push--top">
                {% for t in transactions %}
                    <tr>
                        <td class="label">
                            {{ t.description }}
                            {% if t.date %}
                                (dated {{ t.date | date("d / m / Y") }})
                            {% endif %}
                        </td>
                        <td class="value text--right width-fifth">&pound;{{ t.amount | money_format }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    {% if transactions | length %}
        <div class="box">
            {# total value #}
            <table class="labelvalue">
                <tr>
                    <td class="label bold">Income Total Value</td>
                    <td class="value total width-fifth" id="assetsTotal">&pound;{{ report.totalValue(transactions) | money_format }}</td>
                </tr>
            </table>
        </div>
    {% endif %}
</div>
