<div id="money in">
    <h3 class="fieldset-outer-title">{{ title }}</h3>

    <div class="box">
        <h4>Categories: </h4>
        {% if categories | length == 0 %}
            None
        {% else %}
            {# display categories comma separated #}
            {% for c in categories %}
                {{ ('form.categoriesEntries.' ~ c.typeId ~ '.label') | trans(transOptions, "report-money-short") }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>


    {% if transactions | length %}
        <div class="financial-categories">
            <div class="category">
                <h3>{{ transactionsTitle }}</h3>
                <ul class="transactions">
                    {% for t in transactions %}
                        <li class="transaction">
                            <div class="label">
                                {{ t.description }}
                                ({{ t.date | date("d / m / Y") }})
                            </div>
                            <div class="value">&pound;{{ t.amount | money_format }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="transaction total">
                <div class="label">Total</div>
                <div class="value">{{ report.totalValue(transactions) | money_format }}</div>
            </div>
        </div>

    {% endif %}


</div>
