<div id="account-summary" class="summary-container">
    <h3 class="heading">Summary</h3>
    <div>
        <h4 class="heading">Accounts summary</h4>
        <table class="money">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th class="grey" scope="col">Opening balance</th>
                    <th class="" scope="col">Change</th>
                    <th class="grey " scope="col">Closing balance</th>
                </tr>
            </thead>
            <tbody>

            {% for account in report.accounts %}
                <tr>
                    <td>
                        <div class="account-name"> {{ account.bank }} {{ account.accountTypeText }}</div>
                        <div class="account-number">****{{ account.accountNumber }}
                            {% if account.requiresBankNameAndSortCode %}
                            , {{ account.sortCode | split('', 2) | join('-') }}
                            {% endif %}
                             {% if account.isClosed %}
                                <span class="account-closed">ACCOUNT CLOSED</span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="numeric grey">£{{ account.openingBalance | money_format }}</td>
                    <td class="numeric ">£ {{ (account.closingBalance - account.openingBalance) | money_format }}</td>
                    <td class="numeric grey">£{{ account.closingBalance | money_format }}</td>
                </tr>
            {% endfor %}
                <tr class="totals">
                    <td>&nbsp;</td>
                    <td class="numeric">£{{ report.accountsOpeningBalanceTotal | money_format }}</td>
                    <td>&nbsp;</td>
                    <td class="numeric reverse">£{{ report.accountsClosingBalanceTotal | money_format}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4 class="heading">Balance after income and expenditure</h4>
        <table class="money">
            <tbody>
                <tr>
                    <td>Total of all opening balances:</td>
                    <td class="grey numeric">£{{ report.accountsOpeningBalanceTotal | money_format }}</td>
                </tr>
                <tr>
                    <td>Total money in:</td>
                    <td class="grey numeric">£{{ report.moneyInTotal | money_format}}</td>
                </tr>
                <tr>
                    <td>Total money out:</td>
                    <td class="grey numeric">£{{ report.moneyOutTotal | money_format}}</td>
                </tr>
                <tr class="totals">
                    <td>&nbsp;</td>
                    <td class="numeric reverse">£{{ report.calculatedBalance | money_format}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
