{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}


        <tr>
            <td class="label">
                <span class="bold">{{ ('form.category.entries.' ~ transaction.category ~ '.label') | trans(transOptions, translationDomain) | raw }}</span>
                {% if transaction.description %}
                    <p class="flush--bottom">{{ transaction.description | nl2br }}</p>
                {% endif %}
            </td>
            <td class="value text--right width-fifth">&pound;{{ transaction.amount | money_format }}</td>
        </tr>
        {# {% if transaction.description %}
            <tr>
                <td colspan="2" class="hard noborder">
                    <div class="labelvalue soft-half--top">
                        <div class="label">More details about the other debts</div>
                        <div class="value">{{ transaction.description | nl2br }}</div>
                    </div>
                </td>
            </tr>
        {% endif %} #}


{# <li class="transaction">
    <div class="label">{{ ('form.category.entries.' ~ transaction.category ~ '.label') | trans(transOptions, translationDomain) | raw }}</div>
    <div class="value">&pound;{{ transaction.amount | money_format }}</div>
    {% if transaction.description %}
        <div class="description">
            {{ transaction.description | nl2br }}
        </div>
    {% endif %}
</li> #}
