{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}
{% set page = 'mentalCapacity' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageHeader %}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        <div class="govuk-form-group {% if not form.hasCapacityChanged.vars.valid %}govuk-form-group--error{% endif %}">
            {% set conditionalCapacityChanged %}
                {{ form_input(form.hasCapacityChangedDetails, (page ~ '.form.hasCapacityChangedDetails'), {
                    'labelClass': 'required',
                    'labelParameters': transOptions,
                    'hintText' : (page ~ '.form.hasCapacityChangedDetails.hint') | trans(transOptions, translationDomain)
            }) }}
            {% endset %}

            {{ form_checkbox_group(form.hasCapacityChanged, (page ~ '.form.hasCapacityChanged'), {
                'useFormGroup': false,
                'legendText' : (page ~ '.form.hasCapacityChanged.label' ~ append104) | trans(transOptions, translationDomain),
                legend: {
                    isPageHeading: true,
                    caption: (page ~ '.supportTitle') | trans
                },
                'items': [{'conditional': conditionalCapacityChanged}]
            }) }}
    </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {% if skipLink %}
        <a href="{{ skipLink }}" class="govuk-link button-link behat-link-step-skip">{{ 'skipLink' | trans({}, 'common') }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}
