{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "pa-profile" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}Settings - change password{% endblock %}
{% block pageTitle %}Change password{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}
{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'yourDetails.supportTitle' | trans }}</span>
{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsPASettings('settings-profile-password-edit') }}
{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate', class: '' } }) }}

    {{ form_input(form.current_password,'form.changeYourPassword.controls.currentPassword') }}
    {{ form_input(form.plain_password.first,'form.changeYourPassword.controls.newPassword',{'labelRaw': true}) }}
    {{ form_input(form.plain_password.second,'form.changeYourPassword.controls.confirmNewPassword') }}

    {{ form_submit(form.save,'form.editYourDetails.controls.save', {'buttonClass': 'behat-link-save'}) }}

    {{ form_end(form) }}
{% endblock %}