{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}

{% set page = 'checklistPage' %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.supportTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ (page ~ '.pageTitle') | trans }}</span>
{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="{{ path('admin_client_search') }}">{{ 'clients' | trans({}, 'common') }}</a></li>
            <li><a href="{{ path('admin_client_details', {'id' : report.client.id}) }}">{{ 'clientDetails' | trans({}, 'common') }}</a></li>
        </ol>
    </div>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    <p class="flush--bottom">
        {{ 'client' | trans({}, 'common') }}:
        <span class="bold behat-region-fullName">{{ report.client.fullName }}</span>
    </p>
    <p>
        {{ 'courtOrderNumber' | trans({}, 'common') }}:
        <span class="bold behat-region-case-number">{{ report.client.caseNumber }}</span>
    </p>
    <p class="flush--bottom behat-region-last-saved-by">
        {{ 'lastSavedBy' | trans({}, 'common') }}:
        {% if (checklist.lastModifiedBy is defined) and (checklist.lastModifiedBy is not empty) %}
            <span class="bold behat-region-last-modified-by">{{ checklist.lastModifiedBy.fullName}}, {{ checklist.lastModifiedBy.roleFullName }}</span>
        {% else %}
            <span class="bold behat-region-last-modified-by">{{ 'notSavedYet' | trans({}, 'common') }}</span>
        {% endif %}
    </p>
    <p>
        {{ 'lastSavedOn' | trans({}, 'common') }}:
        <span class="bold">{{ (checklist.lastModifiedOn) ? (checklist.lastModifiedOn | date("j F Y H:i")) : 'Not saved yet' }}</span>
    </p>

    {% if (checklist.submittedBy is defined) and (checklist.submittedBy is not empty) %}
        <p class="flush--bottom behat-region-last-submitted-by">
            {{ 'lastSubmittedBy' | trans({}, 'common') }}:
            <span class="bold behat-region-last-modified-by">{{ checklist.submittedBy.fullName}}, {{ checklist.submittedBy.roleFullName }}</span>
        </p>
        <p>
            {{ 'lastSubmittedOn' | trans({}, 'common') }}:
            <span class="bold behat-region-last-modified-by">{{ (checklist.submittedOn) ? (checklist.submittedOn | date("j F Y H:i")) : '-' }}</span>
        </p>
    {% endif %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-checklist-form' }}) }}

    {# Deputy and client information #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.info') | trans }}</h3>

    <div class="form-section push-half--bottom">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.reportingPeriodAccurate, (page ~ '.form.reportingPeriodAccurate'), {
                'fieldSetClass': 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <div class="panel panel-border-narrow push--bottom">
            <div>
                <p class="flush--bottom behat-region-court-date">
                    <strong class="bold">{{ 'courtOrderDate' | trans({}, 'common') }}:</strong> {{ report.client.courtDate | date("j M Y") }}
                </p>
                <p class="flush--bottom behat-region-expected-date">
                    <strong class="bold">{{ (page ~ '.expected') | trans }}:</strong> {{ report.client.expectedReportStartDate | date("j M Y") }} to {{ report.client.expectedReportEndDate | date("j M Y") }}
                </p>
                <p class="behat-region-submitted-date">
                    <strong class="bold">{{ (page ~ '.submitted') | trans }}:</strong> {{ report.startDate | date("j M Y") }} - {{ report.endDate | date("j M Y") }}
                </p>
            </div>
        </div>
    </div>

    <div class="form-section push-half--bottom">
        <div class="form-group-outer border-top soft--top">
            {{ form_checkbox(form.contactDetailsUptoDate, (page ~ '.form.contactDetailsUptoDate'), {
                'labelClass': 'text',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.contactDetails') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <table class="text">
                    <tbody>
                        <tr>
                            <th scope="row" class="bold">{{ 'firstNames' | trans({}, 'common') }}</th>
                            <td class="behat-region-checklist-client-firstname">{{ report.client.firstName }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bold">{{ 'lastName' | trans({}, 'common') }}</th>
                            <td class="behat-region-checklist-client-lastname">{{ report.client.lastName }}</td>
                        </tr>
                        <tr valign="top">
                            <th scope="row" class="bold">{{ 'address' | trans({}, 'common') }}</th>
                            <td>
                                <p>
                                    {% if report.client.address is not empty %}
                                        {{ report.client.address }}<br/>
                                    {% endif %}
                                    {% if report.client.address2 is not empty %}
                                        {{ report.client.address2 }}<br/>
                                    {% endif %}
                                    {% if report.client.county is not empty %}
                                        {{ report.client.county }}<br/>
                                    {% endif %}
                                    {% if report.client.postcode is not empty %}
                                        {{ report.client.postcode }}<br/>
                                    {% endif %}
                                    {% if report.client.country is not empty %}
                                        {{ report.client.country | country_name }}
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="bold">{{ 'phone' | trans({}, 'common') }}</th>
                            <td>{{ report.client.phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
    </div>

    <div class="form-section push-half--bottom">
        <div class="form-group-outer border-top soft--top">
            {{ form_checkbox(form.deputyFullNameAccurateInCasrec, (page ~ '.form.deputyFullNameAccurateinCasrec'), {
                'labelClass': 'text',
                'formGroupClass': 'flush--bottom'
            }) }}
        </div>
        <div class="panel panel-border-narrow push-half--top">
            <p><strong class="bold">{{ (page ~ '.deputysFullName') | trans }}:</strong> {{ report.submittedBy.fullName }}</p>
        </div>
    </div>

    {# Decisions made over the reporting period #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.decisions') | trans }}</h3>

    <div class="form-section">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.decisionsSatisfactory, (page ~ '.form.decisionsSatisfactory'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.decisionsSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/Decision:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>
    </div>

    {# People consulted #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.contacts') | trans }}</h3>

    <div class="form-section">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.consultationsSatisfactory, (page ~ '.form.consultationsSatisfactory'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.contactsSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/Contact:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>
    </div>

    {# Contact with client, care arrangements and care plan #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.visitsAndCare') | trans }}</h3>

    <div class="form-section">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.careArrangements, (page ~ '.form.careArrangements'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.deputysResponses') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/VisitsCare:_answers.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>
    </div>

    {# Assets and debts #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.assetsAndDebts') | trans }}</h3>

    <div class="form-section push--bottom">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.assetsDeclaredAndManaged, (page ~ '.form.assetsDeclaredAndManaged'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.assetsSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/Asset:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>
    </div>

    <div class="form-section">
        <div class="form-group-outer border-top soft--top">
            {{ form_checkbox_group(form.debtsManaged, (page ~ '.form.debtsManaged'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.debtsSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/Debt:_answers.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>
    </div>

    {# Money transfers, Money in and money out #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.money') | trans }}</h3>

    <div class="form-section push--bottom">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.openClosingBalancesMatch, (page ~ '.form.openClosingBalancesMatch'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details>
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.accountsBalances') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>

                    {% if report.previousReportData['financial-summary']['accounts'] %}

                        <h3 class="heading-medium">
                            {{ (page ~ '.closingBalancesPrevReport') | trans }}
                            {% if report.previousReportData['report-summary']['type'] == 'ndr' %}
                                ({{ report.previousReportData['report-summary']['type'] | upper }})
                            {% endif %}
                        </h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>{{ 'bankAccount' | trans({}, 'common') }}</th>
                                    <th class="numeric">{{ 'amount' | trans({}, 'common') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for previousAccount in report.previousReportData['financial-summary']['accounts'] %}
                                    <tr>
                                        <td>{{ previousAccount.nameOneLine }}</td>
                                        <td class="numeric-small">£{{ previousAccount.closingBalance | money_format }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="no-border">
                                    <td class="bold">{{ 'totalAmount' | trans({}, 'common') }}</td>
                                    <td class="numeric-small">
                                        <span class="bold">£{{ report.previousReportData['financial-summary']['closing-balance-total'] | money_format }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    {% else %}

                        <h3 class="heading-medium">{{ (page ~ '.closingBalancesPrevReportMissing') | trans }}</h3>

                    {% endif %}

                    <h3 class="heading-medium">{{ (page ~ '.openingBalances') | trans }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'bankAccount' | trans({}, 'common') }}</th>
                                <th class="numeric">{{ 'amount' | trans({}, 'common') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in report.bankAccounts %}
                                <tr>
                                    <td>{{ account.getNameOneLine() }}</td>
                                    <td class="numeric-small">£{{ account.openingBalance | money_format }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="no-border">
                                <td class="bold">{{ 'totalAmount' | trans({}, 'common') }}</span></td>
                                <td class="numeric-small">
                                    <span class="bold">£{{ report.accountsOpeningBalanceTotal | money_format }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    {% if report.previousReportData['financial-summary']['accounts'] %}

                        <table class="push--top">
                            <tbody>
                                <tr class="no-border">
                                    <td class="text--right">
                                        <span class="heading-medium">{{ (page ~ '.balanceDifference') | trans }}:</span>
                                    </td>
                                    <td class="numeric-small">
                                        <span class="heading-medium">£{{ (report.accountsOpeningBalanceTotal - report.previousReportData['financial-summary']['closing-balance-total']) | money_format }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    {% endif %}
                </div>
            </div>
        </details>
    </div>

    <div class="form-section push--bottom">
        <div class="form-group-outer border-top soft--top">
            {{ form_checkbox_group(form.accountsBalance, (page ~ '.form.accountsBalance'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.accountsBalanceSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Balance table #}
                    {% include 'AppBundle:Report/Balance:_balance_table.html.twig' with {
                        hideEditLink: true
                    } %}

                    {# Difference table #}
                    {% include 'AppBundle:Report/Balance:_difference_table.html.twig' with {
                        hideEditLink: true
                    } %}

                    {% if not report.totalsMatch %}
                        <h3 class="heading-medium">{{ 'form.explanation.label' | trans({}, 'report-balance') }}</h3>
                        <table class="check-your-answers columns-2 push--bottom">
                            {{ macros.summaryTableHeaderQA(true) }}
                            <tbody>
                                <tr>
                                    <td>{{ 'cantFind.reasonNotBalancing' | trans({}, 'report-balance') }}</td>
                                    <td>{{ report.balanceMismatchExplanation | nl2br }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </details>
    </div>

    <div class="form-section">
        <div class="form-group-outer border-top soft--top">
            {{ form_checkbox_group(form.moneyMovementsAcceptable, (page ~ '.form.moneyMovementsAcceptable'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details>
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.moneyTransfersSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/MoneyTransfer:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>

        <details>
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.moneyInSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/MoneyIn:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.moneyOutSummary') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    {# Questions and answers table #}
                    {% include 'AppBundle:Report/MoneyOut:_list.html.twig' with {
                        hideEditLink: true
                    } %}
                </div>
            </div>
        </details>

    </div>

    {# Bonds #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.bonds') | trans }}</h3>

    <div class="form-section push--bottom">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.bondAdequate, (page ~ '.form.bondAdequate'), {
                'fieldSetClass' : 'inline'
            }) }}
        </div>
    </div>

    <div class="form-section">
        <div class="form-group-outer border-top soft--top">
            {{ form_checkbox_group(form.bondOrderMatchCasrec, (page ~ '.form.bondOrderMatchCasrec'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>
    </div>

    {# Next reporting period #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.nextPeriod') | trans }}</h3>

    <div class="form-section push--bottom">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.futureSignificantFinancialDecisions, (page ~ '.form.futureSignificantFinancialDecisions'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.deputysResponses') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    <table class="check-your-answers columns-2 push--bottom">
                        {{ macros.summaryTableHeaderQA(true) }}
                        <tbody>
                            {# step 1 #}
                            <tr>
                                <td>
                                    {{ ('form.doYouExpectFinancialDecisions.label' ~ append104) | trans(transOptions, 'report-actions') }}
                                </td>
                                <td>
                                    {{ report.action.doYouExpectFinancialDecisions | capitalize }}
                                </td>
                            </tr>
                            {% if report.action.doYouExpectFinancialDecisions == 'yes' %}
                                <tr>
                                    <td>{{ ('form.doYouExpectFinancialDecisionsDetails.label' ~ append104) | trans(transOptions, 'report-actions') }}</td>
                                    <td>{{ report.action.doYouExpectFinancialDecisionsDetails | nl2br }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </details>
    </div>

    <div class="form-section">
        <div class="form-group-outer border-top soft--top">
            {{ form_checkbox_group(form.hasDeputyRaisedConcerns, (page ~ '.form.hasDeputyRaisedConcerns'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.deputysResponses') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    <table class="check-your-answers columns-2 push--bottom">
                        {{ macros.summaryTableHeaderQA(true) }}
                        <tbody>
                            {# Concerns about deputyship? #}
                            <tr>
                                <td>
                                    {{ 'form.doYouHaveConcerns.label' | trans(transOptions, 'report-actions') }}
                                </td>
                                <td>
                                    {{ report.action.doYouHaveConcerns | capitalize }}
                                </td>
                            </tr>
                            {% if report.action.doYouHaveConcerns == 'yes' %}
                                <tr>
                                    <td>{{ 'form.doYouHaveConcernsDetails.label' | trans(transOptions, 'report-actions') }}</td>
                                    <td>{{ report.action.doYouHaveConcernsDetails | nl2br }}</td>
                                </tr>
                            {% endif %}
                            {# Any other concerns? #}
                            <tr>
                                <td>
                                    {{ 'form.actionMoreInfo.label' | trans(transOptions, 'report-more-info') }}
                                </td>
                                <td>
                                    {{ report.actionMoreInfo | capitalize }}
                                </td>
                            </tr>
                            {% if report.actionMoreInfo == 'yes' %}
                                <tr>
                                    <td>{{ 'form.actionMoreInfoDetails.label' | trans(transOptions, 'report-more-info') }}</td>
                                    <td>{{ report.actionMoreInfoDetails | nl2br }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </details>
    </div>

    {# Declaration #}
    <h3 class="heading-medium underline">{{ (page ~ '.heading.declaration') | trans }}</h3>

    <div class="form-section">
        <div class="form-group-outer">
            {{ form_checkbox_group(form.caseWorkerSatisified, (page ~ '.form.caseWorkerSatisified'), {
                'fieldSetClass' : 'inline',
                'formGroupClass': 'push-half--bottom'
            }) }}
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ (page ~ '.revealTitle.deputysDeclaration') | trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <div>
                    <table class="check-your-answers columns-2 push--bottom">
                        {{ macros.summaryTableHeaderQA(true) }}
                        <tbody>
                            <tr>
                                <td>{{ 'declaration' | trans({}, 'report-declaration') }}</td>
                                <td>{{ ('agreedBehalfDeputy.' ~ report.agreedBehalfDeputy) | trans({}, 'report-declaration') }}</td>
                            </tr>
                            {% if (report.agreedBehalfDeputy == 'more_deputies_not_behalf') %}
                                <td>{{ 'partAgreedReason' | trans({}, 'report-declaration') }}</td>
                                <td>{{ report.agreedBehalfDeputyExplanation | nl2br }}</td>
                            {% endif %}
                            <tr>
                                <td>{{ 'declarationTime' | trans({}, 'report-declaration') }}</td>
                                <td>{{report.submitDate | date("H:i") }} {{report.submitDate | date("d/m/Y") }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'deputyName' | trans({}, 'report-declaration') }}</td>
                                <td>{{ report.submittedBy.fullname }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </details>
    </div>

    {# Lodging summary #}
    <h3 class="heading-medium underline">{{ (page ~ '.lodgingSummary.heading') | trans }}</h3>

    <ul class="list list-bullet text">
        <li>{{ (page ~ '.lodgingSummary.listItem1') | trans }}</li>
        <li>{{ (page ~ '.lodgingSummary.listItem2') | trans }}</li>
        <li>{{ (page ~ '.lodgingSummary.listItem3') | trans }}</li>
        <li>{{ (page ~ '.lodgingSummary.listItem4') | trans }}</li>
    </ul>

    <div class="form-section push--bottom">
        {{ form_input(form.lodgingSummary, (page ~ '.form.lodgingSummary')) }}
    </div>

    <div class="form-section push--bottom">
        {{ form_checkbox_group(form.finalDecision, (page ~ '.form.finalDecision'), {
            'legendClass': 'bold'
        }) }}
    </div>

    {# Further information #}
    <h3 class="heading-medium underline" id="furtherInformation">{{ (page ~ '.furtherInfo.heading') | trans }}</h3>

    <p class="text">{{ (page ~ '.furtherInfo.para') | trans }}</p>

    <table class="push--bottom">
        <thead>
            <tr>
                <th>{{ (page ~ '.furtherInfo.infoProvided') | trans }}</th>
                <th class="width-fifth">{{ 'savedBy' | trans({}, 'common') }}</th>
                <th class="numeric">{{ 'dateSaved' | trans({}, 'common') }}</th>
            </tr>
        </thead>
        <tbody>
        {% if checklist.checklistInformation is not empty %}
            {% set counter = 1 %}
            {% for info in checklist.checklistInformation %}

            <tr>
                <td class="behat-region-information-{{ counter }}">{{ info.information | nl2br }}</td>
                <td class="behat-region-information-created-by-{{ counter }} align--top">{{ info.createdBy.fullname }}, {{ info.createdBy.roleFullName }}</td>
                <td class="behat-region-created-on-{{ counter }} numeric no-wrap align--top">{{ info.createdOn | date("j F Y") }}</td>
            </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">{{ (page ~ '.furtherInfo.noInfoReceived') | trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="form-section push-double--bottom">
        {{ form_input(form.furtherInformationReceived, (page ~ '.form.furtherInformationReceived'), {
            'formGroupClass': 'explanation',
        }) }}
        {{ form_submit(form.saveFurtherInformation, (page ~ '.form.saveFurtherInformation'), {
            'buttonClass': 'button-secondary behat-link-save-further-information'
        }) }}
    </div>

    <div class="form-section push--bottom">
        {{ form_submit(form.save, (page ~ '.form.save'), {
            'buttonClass': 'button-secondary push-half--right behat-link-save-progress'
        }) }}

        {{ form_submit(form.submitAndDownload, (page ~ '.form.submitAndDownload'), {
            'buttonClass': 'behat-link-submit-and-download'
        }) }}
    </div>

    <a href="{{ path('admin_client_details', {'id': report.client.id}) }}">{{ (page ~ '.backToClientDetails') | trans }}</a>

    {{ form_end(form) }}

{% endblock %}
