{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'reportManage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="flush--bottom">{{ 'client' | trans({}, 'common') }}: <span class="bold">{{ report.client.fullName }}</span></p>
    <p>{{ 'courtOrderNumber' | trans({}, 'common') }}: <span class="bold">{{ report.client.caseNumber }}</span></p>

    <div id="form-group-report_edit_startDate" class="form-group ">
        <fieldset>
            <legend class="">
                <span class="form-label-bold text">
                    Reporting start date
                </span>
            </legend>
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label for="report_edit_startDate_day" class="required">Day</label>
                    <input type="number" id="report_edit_startDate_day" name="report_edit[startDate][day]" required="required" class="form-control js-limit-chars-2" min="0" max="31" pattern="[0-9]*">
                </div>

                <div class="form-group form-group-month">
                    <label for="report_edit_startDate_month" class="required">Month</label>
                    <input type="number" id="report_edit_startDate_month" name="report_edit[startDate][month]" required="required" class="form-control js-limit-chars-2" min="0" max="12" pattern="[0-9]*">
                </div>

                <div class="form-group form-group-year">
                    <label for="report_edit_startDate_year" class="required">Year</label>
                    <input type="number" id="report_edit_startDate_year" name="report_edit[startDate][year]" required="required" class="form-control js-limit-chars-4" min="0" max="2500" pattern="[0-9]*">
                </div>
            </div>
        </fieldset>
    </div>

    <div id="form-group-report_edit_startDate" class="form-group ">
        <fieldset>
            <legend class="">
                <span class="form-label-bold text">
                    Reporting end date
                </span>
            </legend>
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label for="report_edit_startDate_day" class="required">Day</label>
                    <input type="number" id="report_edit_startDate_day" name="report_edit[startDate][day]" required="required" class="form-control js-limit-chars-2" min="0" max="31" pattern="[0-9]*">
                </div>

                <div class="form-group form-group-month">
                    <label for="report_edit_startDate_month" class="required">Month</label>
                    <input type="number" id="report_edit_startDate_month" name="report_edit[startDate][month]" required="required" class="form-control js-limit-chars-2" min="0" max="12" pattern="[0-9]*">
                </div>

                <div class="form-group form-group-year">
                    <label for="report_edit_startDate_year" class="required">Year</label>
                    <input type="number" id="report_edit_startDate_year" name="report_edit[startDate][year]" required="required" class="form-control js-limit-chars-4" min="0" max="2500" pattern="[0-9]*">
                </div>
            </div>
        </fieldset>
    </div>

    <h2 class="heading-small">Mark sections as incomplete (optional)</h2>

    <div class="form-group">
        <div class="multiple-choice--smaller">
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Decisions</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Contacts</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Visists and care</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Current fees and expenses</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Estimated fees and expenses</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Gifts</label>
            </div>
             <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Actions you plan to take</label>
            </div>
             <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Any other information</label>
            </div>
             <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Accounts</label>
            </div>
             <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Money transfers</label>
            </div>
             <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Money in</label>
            </div>
             <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Money out</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Assets</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Debts</label>
            </div>
            <div class="multiple-choice">
                <input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">
                <label for="cb1">Supporting documents</label>
            </div>
        </div>
    </div>

    <p class="push--top">
        <a class="button" href="#" id="report_unsubmit_submit">Un-submit and mark as incomplete</a>
        <a class="button-link" href="#">Cancel</a>
    </p>

    <hr />

    {% trans_default_domain "registration" %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-form' }}) }}

    {{ form_known_date(form.startDate, 'startDate') }}

    {{ form_known_date(form.endDate, 'endDate') }}

    {{ form_submit(form.save,'unsubmit') }}

    {{ form_end(form) }}


    <hr />
    {{ dump(report.period) }}
    {{ dump(report.client.firstname) }}
    <hr />

{% endblock %}
