{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin-clients" %}
{% set page = 'reportManage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="flush--bottom">{{ 'client' | trans({}, 'common') }}: <span class="bold">{{ report.client.fullName }}</span></p>
    <p>{{ 'courtOrderNumber' | trans({}, 'common') }}: <span class="bold">{{ report.client.caseNumber }}</span></p>

    {{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-form' }}) }}

    <fieldset class="form-group">
        <legend>
            <h2 class="heading-small flush--top">{{ (page ~ '.form.markSections.legend') | trans }}</h2>
        </legend>
        {% for section in form.unsubmittedSection  %}
            {{ form_row(section.id) }}
            {{ form_checkbox(section.present, '', {
                'labelText': ('prevNextLinks.sections.' ~ section.id.vars.value) | trans({}, 'report-common'),
                'formGroupClass': 'multiple-choice--smaller',
            }) }}
        {% endfor %}
    </fieldset>

    <p class="heading-small flush--ends">{{  'reportManage.currentDueDate' | trans }}</p>
    <p>
        {{ report.dueDate | date("j M Y") }}
        <br/><span class="font-xsmall bold text-red">{{  'reportManage.overdueBy' | trans ({
                '%overdueDays%': report.dueDateDiffDays|abs,
                '%dueDays%': report.dueDateDiffDays
            }) }}
        </span>
    </p>

    <div class="form-group push-half--bottom">
        {{ form_checkbox_group(form.dueDateChoice, 'reportManage.form.dueDateChoice', {
            'legendClass' : 'form-label-bold',
            'items': [
                {},
                {},
                {},
                {},
                {'dataTarget': 'due-date-custom' }
            ]
        }) }}
    </div>

    <div id="due-date-custom" class="panel panel-border-narrow js-hidden">
        {{ form_known_date(form.dueDateCustom, 'reportManage.form.dueDateCustom') }}
    </div>



    {{ form_submit(form.save,'reportManage.form.unsubmit') }}

    <a href="{{ path('admin_client_details', {'id': report.client.id}) }}" class="button-link">{{ 'cancel' | trans({}, 'common') }}</a>

    {{ form_end(form) }}

{% endblock %}
