{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin-clients" %}
{% set page = 'reportManage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="flush--bottom">{{ 'client' | trans({}, 'common') }}: <span class="bold">{{ report.client.fullName }}</span></p>
    <p>{{ 'courtOrderNumber' | trans({}, 'common') }}: <span class="bold">{{ report.client.caseNumber }}</span></p>

    {{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-form' }}) }}

    {{ form_known_date(form.startDate, 'reportManage.form.startDate') }}

    {{ form_known_date(form.endDate, 'reportManage.form.endDate') }}

    <h2 class="heading-small">Mark sections as incomplete (optional)</h2>
    {% for section in form.unsubmittedSection  %}
        {{ form_row(section.id) }}
        {{ form_checkbox(section.present, '', {
            'fieldSetClass' : 'inline',
            'useFormGroup': false,
            'labelText': ('prevNextLinks.sections.' ~ section.id.vars.value) | trans({}, 'report-common'),
            'formGroupClass': 'form-group-compound',
        }) }}
    {% endfor %}

    {{ form_submit(form.save,'reportManage.form.unsubmit') }}

    <a href="#" class="button-link">{{ 'cancel' | trans({}, 'common') }}</a>

    {{ form_end(form) }}

    {#<div class="form-group">#}
        {#<div class="multiple-choice--smaller">#}
            {#<div class="multiple-choice">#}
                {#<input type="checkbox" id="cb1" name="checkboxes[1]" class="js-checkbox">#}
                {#<label for="cb1">Decisions</label>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}
