{% set translationDomain = "settings" %}

{% if client_validated %}
    <h3 class="heading-medium">Details we already have</h3>
    <p class="text">Once you've finished activating your account, you can edit these details by going to the "Deputyship details" section.</p>
{% endif %}

{% if form.firstname is defined %}
    {% if client_validated %}
        {{ form_widget(form.firstname, {'type': 'hidden'}) }}
        <p class="flush--bottom">
            <strong class="bold">{{ 'form.editYourDetails.controls.firstname.label' | trans({}, translationDomain) }}: </strong>
            {{ user.firstName }}
        </p>
    {% endif %}
{%  endif %}

{% if form.lastname is defined %}
    {% if client_validated %}
        {{ form_widget(form.lastname, {'type': 'hidden'}) }}
        <p class="flush--bottom">
            <strong class="bold">{{ 'form.editYourDetails.controls.lastname.label' | trans({}, translationDomain) }}: </strong>
            {{ user.lastname }}
        </p>
    {% endif %}
{% endif %}

{% if form.address1 is defined %}
    {% if form.addressPostcode is defined %}
        {% if client_validated %}
            {{ form_widget(form.addressPostcode, {'type': 'hidden'}) }}
            <p class="flush--bottom">
                <strong class="bold">{{ 'form.editYourDetails.controls.addressPostcode.label' | trans({}, translationDomain) }}: </strong>
                {{ user.addressPostcode }}
            </p>
        {% endif %}
    {% endif %}
{% endif %}

{% if form.email is defined %}
    {% if client_validated %}
        {{ form_widget(form.email, {'type': 'hidden'}) }}
        <p class="push--bottom">
            <strong class="bold">{{ 'form.editYourDetails.controls.email.label' | trans({}, translationDomain) }}: </strong>
            {{ user.email }}
        </p>
    {% endif %}
{% endif %}

{% if client_validated %}
    <h3 class="heading-medium">Further details needed</h3>
{% endif %}

{% if form.firstname is defined %}
    {% if user.firstName is empty or not client_validated %}
        {{ form_input(form.firstname, 'form.editYourDetails.controls.firstname') }}
    {% endif %}
{%  endif %}

{% if form.lastname is defined %}
    {% if user.lastname is empty or not client_validated %}
        {{ form_input(form.lastname, 'form.editYourDetails.controls.lastname') }}
    {% endif %}
{% endif %}

{% if form.jobTitle is defined %}
    {{ form_input( form.jobTitle, 'form.editYourDetails.controls.jobTitle') }}
{% endif %}

{% if form.address1 is defined %}
    {{ form_input( form.address1, 'form.editYourDetails.controls.address1') }}

    {{ form_input( form.address2, 'form.editYourDetails.controls.address2') }}

    {{ form_input( form.address3, 'form.editYourDetails.controls.address3') }}

    {% if form.addressPostcode is defined %}
        {% if user.addressPostcode is empty or not client_validated %}
            {{ form_input(form.addressPostcode, 'form.editYourDetails.controls.addressPostcode', { 'inputClass': 'form-control-1-4' }) }}
        {% endif %}
    {% endif %}

    {{ form_select( form.addressCountry, 'form.editYourDetails.controls.addressCountry') }}
{% endif %}

{% if form.phoneMain is defined %}
    {{ form_input( form.phoneMain,'form.editYourDetails.controls.phoneMain') }}
{% endif %}

{% if form.phoneAlternative is defined %}
    {{ form_input( form.phoneAlternative, 'form.editYourDetails.controls.phoneAlternative') }}
{% endif %}


{% if form.email is defined %}
    {% if user.email is empty or not client_validated %}
        {{ form_input(form.email, 'form.editYourDetails.controls.email') }}
    {% endif %}
{% endif %}

{% if form.removeAdmin is defined %}
    {{ form_checkbox_group( form.removeAdmin, 'form.editYourDetails.controls.removeAdmin', {'fieldSetClass' : 'inline'}) }}
{% endif %}
