{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% set translationDomain = "user-activate-expired" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page js-sign-in-page{% endblock %}

{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageHeader %}
    {{ parent() }}
{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block pageBody %}

    <p class="page-section-description">
        {{ 'subtitle' | trans({'%tokenExpireHours%': tokenExpireHours})}}
    </p>

    <a href="{{ path('activation_link_send', {'token': token}) }}" class="behat-link-ask-us-to-send-new-link">{{ 'sendLink' | trans }}</a>

{% endblock %}
