{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "settings" %}

{% block htmlTitle %}{{ 'htmlTitle.registration-details' | trans }}{% endblock %}
{% block pageTitle %}{{ 'h1Title.registration-details' | trans }}{% endblock %}

{% block progressBar %}
    {{ progress_bar_registration(user, 'user_details') }}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="behat-region-user-details">{{ 'headerInstructions' | trans }}</p>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% include 'AppBundle:User:_form_fields.html.twig' %}

    {{ form_submit(form.save,'form.editYourDetails.controls.save', {'buttonClass': 'behat-link-save'}) }}

    {{ form_end(form) }}

{% endblock %}