{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "user-details" %}

{% block htmlTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'h1Title' | trans }}{% endblock %}

{% block progressBar %}
    {{ progress_bar_registration(app.user, 'user_details') }}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="behat-region-user-details">{{ 'headerInstructions' | trans }}</p>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% include 'AppBundle:User:_form_fields.html.twig' %}

    {{ form_submit(form.save,'submit', {'buttonClass': 'behat-link-save'}) }}

    {{ form_end(form) }}

{% endblock %}
