{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "user-details" %}

{% block htmlTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'h1Title' | trans }}{% endblock %}

{% block progressBar %}
    {{ progress_bar_registration(app.user, 'user_details') }}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="behat-region-user-details">{{ 'headerInstructions' | trans }}</p>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.firstname,'firstname') }}

    {{ form_input(form.lastname,'lastname') }}

    {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_AD') %}
        {{ form_input(form.address1,'address1') }}

        {{ form_input(form.address2,'address2') }}

        {{ form_input(form.address3,'address3') }}

        {{ form_input(form.addressPostcode,'addressPostcode', { 'labelClass': 'required', 'inputClass': 'form-control__postcode' }) }}

        {{ form_select(form.addressCountry,'addressCountry') }}

        {{ form_input(form.phoneMain,'phoneMain') }}

        {{ form_input(form.phoneAlternative,'phoneAlternative') }}

    {% endif %}

    {{ form_submit(form.save,'submit', {'buttonClass': 'behat-link-save'}) }}

    {{ form_end(form) }}

{% endblock %}
