{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% trans_default_domain "user-details" %}

{% block htmlTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'h1Title' | trans }}{% endblock %}
{% block stepTitle %}{{ 'stepTitle' | trans }}{% endblock %}

{% block pageNavigation %}
    {{ progress_bar_registration(app.user, 'user_details') }}
{% endblock %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}

{% block pageBody %}

    <p class="behat-region-user-details">{{ 'headerInstructions' | trans }}</p>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.firstname,'firstname', { 'labelClass': 'required' }) }}

    {{ form_input(form.lastname,'lastname', { 'labelClass': 'required' }) }}

    {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_AD') %}
        {{ form_input(form.address1,'address1', { 'labelClass': 'required' }) }}

        {{ form_input(form.address2,'address2') }}

        {{ form_input(form.address3,'address3') }}

        {{ form_input(form.addressPostcode,'addressPostcode', { 'labelClass': 'required', 'inputClass': 'form-control__postcode' }) }}

        {{ form_select(form.addressCountry,'addressCountry', { 'labelClass': 'required' }) }}

        {{ form_input(form.phoneMain,'phoneMain', { 'labelClass': 'required' }) }}

        {{ form_input(form.phoneAlternative,'phoneAlternative', { 'labelClass': 'required' }) }}

    {% endif %}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.save,'submit', {'buttonClass': 'behat-link-save'}) }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}

{% endblock %}
