{% set translationDomain = "user-account" %}
{% trans_default_domain translationDomain %}

<nav id="account-sub-nav">
    <a href="{{ path('client_home') }}" class="active behat-link-client-details">{{ 'nav.client-details' | trans() }}</a>
    <a href="{{ path('user_view') }}" class="behat-link-deputy-details">{{ 'nav.deputy-details' | trans() }}</a>
    <a href="{{ path('user_password_edit') }}" class="behat-link-change-password">{{ 'nav.change-password' | trans() }}</a>
</nav>
