{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% set translationDomain = "password-sent" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page js-sign-in-page{% endblock %}

{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageHeader %}
    {{ parent() }}
{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block pageBody %}

    <p class="page-section-description">
        {{ 'subtitle' | trans()}}
    </p>

    <p class="page-section-description">
      {{ 'didntReceive' | trans() }} <a href="{{ path('password_forgotten') }}">{{ 'returnToResetPassword' | trans }}</a>
    </p>

     <p class="page-section-description">
      {{ 'stillHavingProblems' | trans() }}
      <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian#org-contacts" target=_blank">{{ 'contactOPG' | trans }}</a>
    </p>

    <a href="{{ path('login') }}" class="behat-link-return-to-login">{{ 'returnToSignIn' | trans }}</a>

{% endblock %}
