{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% set translationDomain = "password-forgotten" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page js-sign-in-page{% endblock %}

{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageHeader %}
    {{ parent() }}
{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block validationSummary %}
{#    {{ form_errors_list(form) }}#}
{% endblock %}


{% block pageBody %}

       {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
        transDomain: translationDomain,
        pageSectionDescription: 'subtitle' | trans()
        } %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.email,'form.email', { 'labelClass': 'required' }) }}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.submit,'form.submit', {'buttonClass': 'behat-link-login'}) }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}

    <a class="below-form-link behat-link-return-to-sign-in" href="{{ path('login') }}">{{ 'returnToSignIn' | trans }}</a>

{% endblock %}
