{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% set translationDomain = "password-reset-expired" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page js-sign-in-page{% endblock %}

{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageHeader %}
    {{ parent() }}
{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block pageBody %}

    <p class="page-section-description">
        {{ 'subtitle' | trans({'%tokenExpireHours%': tokenExpireHours})}}
    </p>

    <a href="{{ path('password_forgotten') }}" class="behat-link-go-back-to-reset-password">{{ 'goBackLink' | trans }}</a>

{% endblock %}
