{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = app.user.isDeputyPa() ? "pa-profile" : "user-details" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}
    {{ 'htmlTitle.change-password' | trans({}, app.user.isDeputyPa() ? "pa-profile" : "user-account") }}
{% endblock %}
{% block pageTitle %}
    {{ 'h1Title.change-password' | trans({}, app.user.isDeputyPa() ? "pa-profile" : "user-account") }}
{% endblock %}
{% block supportTitleTop %}
    {% if app.user.isDeputyPa() %}
        <span class="heading-secondary">{{ 'supportTitle.password' | trans }}</span>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if app.user.isDeputyPa() %}
        {{ macros.breadcrumbsPASettings("settings-profile-password-edit") }}
    {% else %}
        {{ macros.breadcrumbsSettings("password") }}
    {% endif %}
{% endblock %}


{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: '' } }) }}

    {{ form_input(form.current_password,'form.changeYourPassword.controls.currentPassword') }}
    {{ form_input(form.plain_password.first,'form.changeYourPassword.controls.newPassword',{'labelRaw': true}) }}
    {{ form_input(form.plain_password.second,'form.changeYourPassword.controls.confirmNewPassword') }}

    {{ form_submit(form.save,'form.editYourDetails.controls.save', {'buttonClass': 'behat-link-save'}) }}

    {{ form_end(form) }}

{% endblock %}