{% extends 'AppBundle:Layouts:application_new.html.twig'%}
{% set translationDomain = "password-sent" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

  	<div class="text">

		<p>{{ 'subtitle' | trans()}}</p>

		<p>{{ 'didntReceive' | trans() }} <a href="{{ path('password_forgotten') }}">{{ 'returnToResetPassword' | trans }}</a></p>

		<p>
		{{ 'stillHavingProblems' | trans() }}
			<a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian#org-contacts" target="_blank">{{ 'contactOPG' | trans }}</a>
		</p>

		<a href="{{ path('login') }}" class="behat-link-return-to-login">{{ 'returnToSignIn' | trans }}</a>

  	</div>


{% endblock %}
