{% extends 'AppBundle:Layouts:application.html.twig'%}

{% set translationDomain = "password-reset" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

  <p class="text">{{ 'subtitle' | trans }}</p>

  {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

  {{ form_input(form.password.first, 'form.password', { 'labelRaw': true } ) }}

  {{ form_input(form.password.second, 'form.password_confirm', { 'labelClass': 'required' } ) }}

  {{ form_submit(form.save, 'form.submit', {'buttonClass': 'behat-link-save'}) }}

  {{ form_end(form) }}

{% endblock %}



