{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% trans_default_domain "register" %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}

{% block pageBody %}

    <p class="page-section-description">{{ 'intro' | trans }}</p>
    <p class="page-section-description">{{ 'ifyoualready' | trans }} <a href="{{ path('login') }}">{{ 'signin' | trans }}</a>.</p>

    <section class="help-item">
      <h3 class="summary heading-medium">{{ 'moreThanOne' | trans }}</h3>
      <p class="content page-section-description">{{ 'moreThanOneDescription' | trans | raw }}</p>
    </section>

    {% set formClass = 'registration-form' %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: formClass } }) }}
        {{ form_input(form.firstname,'firstname', { 'labelClass': 'required' }) }}
        {{ form_input(form.lastname,'lastname', { 'labelClass': 'required' }) }}
        {{ form_input(form.email.first,'email.first', { 'labelClass': 'required' }) }}
        {{ form_input(form.email.second,'email.second', { 'labelClass': 'required' }) }}
        {{ form_input(form.postcode,'postcode', { 'labelClass': 'required' }) }}
        {{ form_input(form.clientFirstname,'clientFirstname', { 'labelClass': 'required' }) }}
        {{ form_input(form.clientLastname,'clientLastname', { 'labelClass': 'required' }) }}
        {{ form_input(form.caseNumber,'caseNumber', { 'labelClass': 'required' }) }}

        {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
        {{ form_submit(form.save,'save') }}
        {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.help-item').each(function(index,item) {
                opg.accordian({
                    target:item,
                    open: false
                });
            });
        });
    </script>
{% endblock %}
