{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% trans_default_domain "register" %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% set transOptions = {
    '%email%': email,
    '%linkStart%': '<a href="' ~ path('login') ~ '" target="_blank">',
    '%linkEnd%': '</a>',
} %}

{% block pageContent %}

    <h2 class="heading-medium flush--top">{{ 'thankyou.subheading' | trans }}</h2>

    <div class="text">
        
        <p>{{ 'thankyou.pageDescription1' | trans(transOptions) | raw }}</p>
        <p>{{ 'thankyou.pageDescription2' | trans(transOptions) | raw}}</p>
        <p>{{ 'thankyou.pageDescription3' | trans(transOptions) | raw }}</p>
        <p>{{ 'thankyou.pageDescription4' | trans(transOptions) | raw}}</p>
    </div>

{% endblock %}
