{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% trans_default_domain "register" %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'intro' | trans }}</p>
        <p>{{ 'ifyoualready' | trans }} <a href="{{ path('login') }}">{{ 'signin' | trans }}</a>.</p>
    </div>

    <section class="help-item">
      <h3 class="summary heading-medium">{{ 'moreThanOne' | trans }}</h3>
      <p class="content text">{{ 'moreThanOneDescription' | trans | raw }}</p>
    </section>

    {% set formClass = 'registration-form' %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: formClass } }) }}
        {{ form_input(form.firstname,'firstname', { 'labelClass': 'required' }) }}
        {{ form_input(form.lastname,'lastname', { 'labelClass': 'required' }) }}
        {{ form_input(form.email.first,'email.first', { 'labelClass': 'required' }) }}
        {{ form_input(form.email.second,'email.second', { 'labelClass': 'required' }) }}
        {{ form_input(form.postcode,'postcode', { 'labelClass': 'required' }) }}
        {{ form_input(form.clientFirstname,'clientFirstname', { 'labelClass': 'required' }) }}
        {{ form_input(form.clientLastname,'clientLastname', { 'labelClass': 'required' }) }}
        {{ form_input(form.caseNumber,'caseNumber', { 'labelClass': 'required' }) }}

        {{ form_submit(form.save,'save') }}

    {{ form_end(form) }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.help-item').each(function(index,item) {
                opg.accordian({
                    target:item,
                    open: false
                });
            });
        });
    </script>
{% endblock %}
