{% embed 'AppBundle:Components/Page:page-report.html.twig'%}

{% set translationDomain = "report-action" %}
{% trans_default_domain translationDomain %}

{% block bodyClasses %}action-page{% endblock %}
{% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}


{% block pageBody %}

    <p class="page-section-description">{{ 'page.pageSectionDescription' | trans({'%client%': report.client.firstname}, translationDomain) }}</p>
    
    {% block validationSummary %}
        {{ form_errors_list(form) }}
    {% endblock %}

    {% include 'AppBundle:Components/Page:_page-section-action.html.twig' with {
          transDomain: translationDomain
    } %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <h3 class="heading-medium">{{ 'form.contact.subSectionTitle' | trans({'%client%': report.client.firstname}, translationDomain)  }}</h3>

    <div class="form-section">
        {{ form_checkbox_group(form.doYouExpectFinancialDecisions, 'form.doYouExpectFinancialDecisions', {
            'fieldSetClass' : 'inline expect-financial-dec-radio',
            'legendClass' : 'form-label',
            'legendText' : 'form.doYouExpectFinancialDecisions.label' | trans({'%client%': report.client.firstname}, translationDomain),
            'hintText' : 'form.doYouExpectFinancialDecisions.hint' | trans({'%client%': report.client.firstname}, translationDomain),
            'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
         <div id="financial-decisions-textarea">
            {{ form_input(form.doYouExpectFinancialDecisionsDetails, 'form.doYouExpectFinancialDecisionsDetails', { 
                'labelClass': 'required', 
                'labelParameters': { '%client%': report.client.firstname },
                'inputClass': 'expanding' 
            }) }}
        </div>
    </div>

    <div class="form-section">
        {{ form_checkbox_group(form.doYouHaveConcerns, 'form.doYouHaveConcerns', {
            'fieldSetClass' : 'inline do-you-have-actions-radio',
            'legendClass' : 'form-label',
            'legendText' : 'form.doYouHaveConcerns.label' | trans({'%client%': report.client.firstname}, translationDomain),
            'hintText' : 'form.doYouHaveConcerns.hint' | trans({'%client%': report.client.firstname}, translationDomain),
            'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
        <div id="actions-details-textarea">
            {{ form_input(form.doYouHaveConcernsDetails, 'form.doYouHaveConcernsDetails', { 
                'labelClass': 'required', 
                'labelParameters': { '%client%': report.client.firstname },
                'inputClass': 'expanding' 
            }) }}
        </div>
    </div>

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.save,'form.save') }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}
    
    <script type="text/javascript">
        $(document).ready(function() {
            new GOVUK.SelectionButtons('.form-group__checkbox-group :radio');
            new opg.RadioHide({
                radio:'.expect-financial-dec-radio input[type=radio]',
                content: '#financial-decisions-textarea',
                hideOnYes: false
            });
            new opg.RadioHide({
                radio:'.do-you-have-actions-radio input[type=radio]',
                content: '#actions-details-textarea',
                hideOnYes: false
            });
        });
    </script>

{% endblock %}

{% block pageBodyFooterNav %}
    {% include 'AppBundle:Components:nextprevious.html.twig' with {
    'previousLink': path("actions" , {'reportId': report.id }),
    'previousLabel': 'Actions',
    'nextLink': path("contacts" , {'reportId': report.id }),
    'nextLabel': 'Contacts'
    } %}
{% endblock %}

{% endembed %}
