{% if app.user and (app.user.isDeputyProf() or app.user.isDeputyPa()) and report is defined  and report is not null %}
<div class="details-banner">
    <div class="details-content behat-region-client-details-banner">
        <p>
            <span class="bold">{{ 'clientName' | trans({}, 'client-profile') }} </span>{{ report.client.fullName | title }}
            <br><span class="bold">{{ 'courtOrderNo' | trans({}, 'client-profile') }}</span> {{ report.client.caseNumber }}
        </p>
    </div>
    {% endif %}
    <div class="opg-helpline">
        <h3>Helpline<br>
            {% if not app.user %}
                {{ 'helplineGeneral' | trans({}, 'common') }}<br/>
                <a href="mailto:{{ 'layDeputySupportEmail' | trans({}, 'common') }}" title="{{ 'layDeputySupportEmail' | trans({}, 'common') }}">{{ 'emailSupport' | trans({}, 'layout') }}</a>
            {% elseif app.user and app.user.isDeputyPA() %}
                {{ 'helplinePA' | trans({}, 'common') }}<br/>
                <a href="mailto:{{ 'paSupportEmail' | trans({}, 'common') }}" title="{{ 'paSupportEmail' | trans({}, 'common') }}">{{ 'emailSupport' | trans({}, 'layout') }}</a>
            {% elseif app.user and app.user.isDeputyProf() %}
                {{ 'helplineProf' | trans({}, 'common') }}<br/>
                <a href="mailto:{{ 'profSupportEmail' | trans({}, 'common') }}" title="{{ 'profSupportEmail' | trans({}, 'common') }}">{{ 'emailSupport' | trans({}, 'layout') }}</a>
            {% else %}
                {{ 'helpline' | trans({}, 'common') }}<br/>
                <a href="mailto:{{ 'layDeputySupportEmail' | trans({}, 'common') }}" title="{{ 'layDeputySupportEmail' | trans({}, 'common') }}">{{ 'emailSupport' | trans({}, 'layout') }}</a>
            {% endif %}
        </h3>
    </div>
{% if app.user and (app.user.isDeputyProf() or app.user.isDeputyPa()) and report is defined  and report is not null %}
</div>
{% endif %}
