{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% block htmlTitle %}{{ 'htmlTitle-ORG' | trans }}{% endblock %}
{% block pageTitle %}
    {{ 'pageTitle' | trans({}, 'client-profile') }} {{ report.client.fullname | title }}
{% endblock %}
{% block pageTitleClass %}heading-large flush--bottom behat-region-report-title{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="{{ path('org_dashboard') }}">Dashboard</a></li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}

    <p class="bold">{{ 'courtOrderNo' | trans({}, 'client-profile') }} {{ report.client.caseNumber }}</p>

    <div class="panel panel-admin hard">
        <div class="panel-heading">
          {% if report.isUnsubmitted %}
              <h2 class="heading-medium flush--bottom push--right"><i class="icon icon-important-small"></i> {{ 'incompleteReport' | trans() }}</h2>
          {% else %}
              <h2 class="heading-medium flush--bottom push--right">{{ 'currentReport' | trans() }}</h2>
          {% endif %}
        </div>
        <div class="panel-body soft-half">
        {% include 'AppBundle:Org/ClientProfile:_reportDetail.html.twig' with {
            report: report
        } %}
        </div>
    </div>

    {# if the report is unsubmitted, show the other active one #}
    {% if report.unSubmitDate %}
        <details class="panel panel-admin hard">
            <summary class="panel-heading flush--bottom">
                <span class="summary heading-medium">{{ ('currentReport') | trans }}</span>
            </summary>
            <div class="panel-body soft-half--top soft-half--sides">
                {% include 'AppBundle:Org/ClientProfile:_reportDetail.html.twig' with {
                    report: client.activeReport
                } %}
            </div>
        </details>
    {% endif %}

    {% include 'AppBundle:Org/ClientProfile:_notes.html.twig' with {
    notes: report.client.notes,
    } %}

    {% include 'AppBundle:Org/ClientProfile:_notes.html.twig' with {
    notes: report.client.notes,
    } %}

    {% include 'AppBundle:Org/ClientProfile:_contacts.html.twig' with {
    contacts: report.client.clientContacts,
    } %}

    {% include 'AppBundle:Org/ClientProfile:_reports.html.twig' with {
    reports: report.client.submittedReports,
    } %}

    {% include 'AppBundle:Org/ClientProfile:_client.html.twig' with {
    client: report.client,
    } %}

{% endblock %}
