{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "ndr-actions" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | striptags } %}

{% block htmlTitle %}
    {{ 'stepPage.htmlTitle' | trans }}
{% endblock %}
{% block pageTitle %}
    {% if step == 1 %}
        {{ 'stepPage.gifts.pageTitle' | trans }}
    {% else %}
        {{ 'stepPage.property.pageTitle' | trans }}
    {% endif %}
{% endblock %}


{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block supportTitleTop %}
<span class="heading-secondary">{{ 'stepPage.supportTitle' | trans }}</span>
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {# step 1 (gifts) #}
    {% if step == 1 %}

        <div class="text">
            <p class="govuk-body">{{ 'stepPage.gifts.pageSectionDescription1' | trans(transOptions) }}</p>
            <p class="govuk-body">{{ 'stepPage.gifts.pageSectionDescription2' | trans(transOptions) }}</p>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">{{ 'stepPage.gifts.hiddenText01.summary' | trans(transOptions) }}</span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">{{ 'stepPage.gifts.hiddenText01.content.para01' |trans(transOptions) }}</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>{{ 'stepPage.gifts.hiddenText01.content.listItem01' | trans }}</li>
                        <li>{{ 'stepPage.gifts.hiddenText01.content.listItem02' | trans }}</li>
                        <li>{{ 'stepPage.gifts.hiddenText01.content.listItem03' | trans }}</li>
                        <li>{{ 'stepPage.gifts.hiddenText01.content.listItem04' | trans(transOptions) }}</li>
                        <li>{{ 'stepPage.gifts.hiddenText01.content.listItem05' | trans(transOptions) }}</li>
                    </ul>
                    <p class="govuk-body">{{ 'stepPage.gifts.hiddenText01.content.para02' |trans(transOptions) }}</p>
                    <p class="govuk-body">
                        {{ 'stepPage.gifts.hiddenText01.content.para03.beforeMarkupText' |trans(transOptions) }}
                        <a href="{{ 'stepPage.gifts.hiddenText01.content.para03.link' |trans(transOptions) }}">
                            {{ 'stepPage.gifts.hiddenText01.content.para03.linkText' |trans(transOptions) }}
                        </a>
                        {{ 'stepPage.gifts.hiddenText01.content.para03.afterMarkupText' |trans(transOptions) }}
                    </p>
                </div>
            </details>
        </div>


        <div class="push--bottom">
            <div class="govuk-form-group flush--bottom {% if not form.actionGiveGiftsToClient.vars.valid %}govuk-form-group--error{% endif %}">
                {{ form_checkbox_group(form.actionGiveGiftsToClient, 'form.actionGiveGiftsToClient', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'legendClass' : 'govuk-label--s',
                    'legendText' : 'form.actionGiveGiftsToClient.label' | trans(transOptions),
                    'items': [
                        {'dataTarget': 'give-gifts-client-textarea' }
                    ]
                }) }}

                <div id="give-gifts-client-textarea" class="opg-indented-block js-hidden">
                    {{ form_input(form.actionGiveGiftsToClientDetails, 'form.actionGiveGiftsToClientDetails', {
                        'labelParameters': transOptions
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    {# steps 2,3,4 (property) #}
    {% if step == 2 %}
        {{ form_checkbox_group(form.actionPropertyMaintenance, 'form.actionPropertyMaintenance', {
            'fieldSetClass' : 'inline paid-anything',
            'legendClass' : 'form-label',
            'legendText' : 'form.actionPropertyMaintenance.label' | trans(transOptions, translationDomain)
        }) }}
    {% endif %}

    {% if step == 3 %}
        {{ form_checkbox_group(form.actionPropertySellingRent, 'form.actionPropertySellingRent', {
            'fieldSetClass' : 'inline paid-anything',
            'legendClass' : 'form-label',
            'legendText' : 'form.actionPropertySellingRent.label' | trans(transOptions, translationDomain)
        }) }}

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ 'stepPage.property.selling.hiddenText01.summary' | trans(transOptions) }}</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">{{ 'stepPage.property.selling.hiddenText01.content.para01' |trans(transOptions) }}</p>
                <p class="govuk-body">{{ 'stepPage.property.selling.hiddenText01.content.para02' |trans(transOptions) }}</p>
                <p class="govuk-body">{{ 'stepPage.property.selling.hiddenText01.content.para03' |trans(transOptions) }}</p>
                <p class="govuk-body">
                    <a href="{{ 'stepPage.property.selling.hiddenText01.content.para04.link' |trans(transOptions) }}">
                        {{ 'stepPage.property.selling.hiddenText01.content.para04.linkText' |trans(transOptions) }}
                    </a>
                </p>
            </div>
        </details>
    {% endif %}

    {% if step == 4 %}
        {{ form_checkbox_group(form.actionPropertyBuy, 'form.actionPropertyBuy', {
            'fieldSetClass' : 'inline paid-anything',
            'legendClass' : 'form-label',
            'legendText' : 'form.actionPropertyBuy.label' | trans(transOptions, translationDomain)
        }) }}
    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {% if skipLink %}
        <a href="{{ skipLink }}" class="govuk-link button-link behat-link-step-skip">{{ 'skipLink' | trans({}, 'common') }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}
