{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% trans_default_domain "signin" %}
{% if not isAdmin %}
    {% set page = 'signIn' %}
{% else %}
    {% set page = 'signInAdmin' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}
    {% if app.session.get('login-context') == 'password-create' %}
        {{ (page ~ '.pageTitleNewPassword') | trans }}
    {% elseif app.session.get('login-context') == 'password-update' %}
        {{ (page ~ '.pageTitleUpdatedPassword') | trans }}
    {% elseif app.session.get('login-context') == 'email-update' %}
        {{ (page ~ '.pageTitleUpdatedEmail') | trans }}
    {% else %}
        {{ (page ~ '.pageTitle') | trans }}
    {% endif %}
{% endblock %}

{% block pageContent %}

    {{ macros.notification('infoLink', {
        'textbeforemarkup': 'Get help paying deputy fees. Check whether you\'re eligible to ',
        'link': 'https://www.gov.uk/government/publications/deputy-fees-remission-or-exemption',
        'linktext': 'pay a reduced or no fee',
        'textaftermarkup': ''})
    }}

    {% if serviceNotificationContent is defined and serviceNotificationContent %}
        <div class="behat-region-service-notification">
            {{ macros.notification('info', serviceNotificationContent | nl2br) }}
        </div>
    {% endif %}

    {# Content gets injected here when manually signing out (login-from-logout) #}
    {% block loginHeader %}
    {% endblock %}

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {{ form_input(form.email,'signInForm.email') }}
    {{ form_input(form.password,'signInForm.password') }}
    {{ form_submit(form.login,'signInForm.signin', {'buttonClass': 'behat-link-login'}) }}

    {{ form_end(form) }}

    <a class="behat-link-forgotten-password" href="{{ path('password_forgotten') }}">{{ 'forgottenPassword' | trans }}</a>

{% endblock %}
