{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "settings" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle.change-email' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle.change-email' | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsSettings("settings-profile-email-edit") }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: ''} }) }}

        {{ form_input(form.current_email, 'form.changeEmail.currentEmail') }}

        {{ form_input(form.new_email.first, 'form.changeEmail.newAddress') }}
        {{ form_input(form.new_email.second, 'form.changeEmail.newAddress.confirm') }}

        {{ form_input(form.password, 'form.changeEmail.currentPassword') }}

        <div style="clear:both;display:inline-block;height:0px;" data-module="opg-toggleable-submit">
            {{ form_submit(form.save,'form.changeEmail.controls.save', {'buttonClass': 'behat-link-save'}) }}
        </div>

    {{ form_end(form) }}

{% endblock %}
