{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "settings" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ (app.user.isDeputyOrg() ? 'htmlTitle.pa-settings-page' : 'htmlTitle.settings-page') | trans }}{% endblock %}
{% block pageTitle %}{{ (app.user.isDeputyOrg() ? 'pageTitle.pa-settings-page'   : 'pageTitle.settings-page')   | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsSettings('settings') }}
{% endblock %}

{% block pageContent %}

    <h2 class="govuk-heading-m">{{ 'settings-page.subtitle' | trans }}</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Email
            </dt>
            <dd class="govuk-summary-list__value">
                {{ app.user.email }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{ path(app.user.isDeputyOrg() ? 'org_profile_email_edit' : 'user_show') }}">
                    Edit<span class="govuk-visually-hidden"> email</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Password
            </dt>
            <dd class="govuk-summary-list__value">
                ********
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ path(app.user.isDeputyOrg() ? 'org_profile_password_edit' : 'user_password_edit') }}">
                Edit<span class="govuk-visually-hidden"> password</span>
            </a>
            </dd>
        </div>
    </dl>

{% endblock %}
