{% set translationDomain = translationDomain %}
{% trans_default_domain translationDomain %}

<table class="check-your-answers columns-2 push-double--bottom">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>
                <span class="visuallyhidden">Actions</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="behat-region-paid-for-anything">
            <td>
                {{ 'stepPage.form.wishToUploadDocumentation.label' | trans(transOptions)  }}
            </td>
            <td>
                {{ report.wishToProvideDocumentation | capitalize }}
            </td>
            <td class="change-answer">
                <a href="{{ path('documents_step', { 'reportId': report.id, 'step': 1, 'from': 'summary' }) }}" class="behat-link-edit">{{ 'edit' | trans(transOptions,'common') }}</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="grid-row">
    {% if report.documents | length > 0 %}
    <div class="column-half">
        <h2 class="heading-medium flush--ends">{{ (page ~ '.documentList') | trans }}</h2>
    </div>
    <div class="column-half text--right">
        {% if page == 'summaryPage' %}
            <a href="{{ path('report_documents', { 'reportId': report.id, 'from': 'summary'}) }}" class="bold-small move-quarter--up action-link behat-link-add">
                <span class="icon icon-plus"></span>
                {{ 'summaryPage.addButton' | trans }}
            </a>
        {% endif %}
    </div>
    {% else %}
    <div class="column-half">
        <h2 class="heading-medium flush--ends">{{ (page ~ '.documentList') | trans }}</h2>
    </div>
    {% endif %}
</div>
<table class="check-your-answers">
    <thead>
    <th>{{ (page ~ '.filename') | trans }}</th>
    <th class="text--right">{{ (page ~ '.dateAttached') | trans }}</th>
    <th></th>
    </thead>
    <tbody class="behat-region-document-list">
    {% if report.documents | length > 0 %}
        {% for document in report.documents %}
            <tr>
                <td>{{ document.fileName }}</td>
                <td class="numeric-small">{{ document.createdOn | date("j F Y H:i") }}</td>
                <td class="change-answer width-sixth soft-half--left">
                    <a href="{{ path('delete_document', {'reportId':report.id, 'documentId': document.id}) }}" class="behat-link-delete-documents-button action-link">{{ (page ~ '.deleteDocument') | trans }}</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">{{ (page ~ '.noDocuments') | trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
