{% set translationDomain = translationDomain %}
{% trans_default_domain translationDomain %}

<div class="grid-row">
    <div class="column-half">
        <h2 class="heading-medium flush--ends">{{ (page ~ '.documentList') | trans }}</h2>
    </div>
    <div class="column-half text--right">
        {% if page == 'summaryPage' and report.wishToProvideDocumentation == 'yes' %}
            <a href="{{ path('report_documents', { 'reportId': report.id, 'from': 'summary'}) }}" class="bold-small move-quarter--up action-link behat-link-add">
                <span class="icon icon-plus"></span>
                {{ 'summaryPage.addButton' | trans }}
            </a>
        {% endif %}
    </div>
</div>
<table class="check-your-answers">
    <thead>
        <th>{{ (page ~ '.filename') | trans }}</th>
        <th class="text--right">{{ (page ~ '.dateAttached') | trans }}</th>
        <th><span class="visually-hidden">Actions</span></th>
    </thead>
    <tbody class="behat-region-document-list">
    {% for document in report.documents %}
        <tr>
            <td>{{ document.fileName }}</td>
            <td class="numeric-small">{{ document.createdOn | date("j F Y H:i") }}</td>
            <td class="change-answer width-sixth soft-half--left">
                <a href="{{ path('delete_document', {'reportId':report.id, 'documentId': document.id, 'from': page}) }}" class="behat-link-delete-documents-button action-link">{{ (page ~ '.deleteDocument') | trans }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
