{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-documents" %}
{% set page = "attachPage" %}

{% trans_default_domain translationDomain %}

{# Page Titles #}
{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'pageTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'stepPage.backLink' | trans) }}
{% endblock %}

{% block pageContent %}

    <h2 class="heading-medium">1. Select the file</h2>



    {{ form_start(form, {'attr': {'id': 'upload_form', 'class': 'push-double--bottom'}}) }}
    {{ form_input(form.file,'form.file', {
        'labelRaw': true,
        'labelText':  '' | trans ,
        'inputClass': 'no-border behat-link-choose-file' })
    }}

    <h2 class="heading-medium flush--top">2. Upload the file</h2>

    <div class="alert-info panel panel-border-narrow">
        <span class="icon icon-information"></span>
        <div class="alert-message">
            <p>Please be aware that uploading may take time depending on your internet connection. If more than 5 minutes have passed, please refresh this page and try again.</p>
        </div>
    </div>

    {{ form_submit(form.save, '', {'buttonClass': 'behat-link-attach-file', 'labelText': 'form.submitButton' | trans}) }}

    {{ form_end(form) }}


    {#<h2 class="heading-medium">Uploading progress</h2>#}
    {#<p>Please wait while your document is being uploaded.</p>#}
    {#<progress max="100" value="24" style="width: 50%"></progress>#}

    {% if report.documents | length > 0 %}
        {% include 'AppBundle:Report/Document:_list.html.twig'  with {
        'translationDomain': translationDomain,
        'page' : page
        } %}
        <a href="{{ nextLink }}" class="button push--top">Continue</a>
    {% endif %}

    <script>
        $(document).ready(function () {
            $('#upload_form').submit(function (e) {
                e.preventDefault();
                var fileElement = $('#report_document_upload_file');

                //check whether browser fully supports all File API
                if (window.File && window.FileReader && window.FileList && window.Blob && fileElement[0].files.length > 0) {
                    var fsize = fileElement[0].files[0].size;
                    if (fsize > {{ 15 * 1024 * 1024 }} ) {
                        window.location = '{{ path('report_documents', {'reportId': report.id, 'error': 'tooBig'}) }}';
                        return;
                    }
                }

                this.submit();
            });
        });
    </script>


{% endblock %}
