{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "report-documents" %}
{% trans_default_domain translationDomain %}
{% set page = "submitMoreDocumentsConfirm" %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.h1Title') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block linkBack %}
    <a href="{{ backLink }}" class="link-back behat-link-step-back">{{ 'editPage.backLink' | trans({},'common') }}</a>
{% endblock %}

{% block pageContent %}

    <p class="text"><strong class="bold">{{ (page ~ '.question') | trans }}</strong></p>
    {% include 'AppBundle:Report/Document:_list_submitted.html.twig'  with {
    'documents': report.submittedDocuments,
    'translationDomain': translationDomain,
    'page' : page,
    } %}


    <a href="{{ nextLink }}" class="button behat-link-confirm-cancel">{{ 'continue' | trans({}, 'common') }}</a>

    <a href="{{ backLink }}" class="button-link behat-link-confirm-cancel">{{ 'cancel' | trans({}, 'common') }}</a>

{% endblock %}

