{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transfer" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {# Introduction text #}
            <p>{{ 'summaryPage.weAskAbout' | trans(transOptions) }}</p>

            {# Check answers text #}
            <p><strong>{{ 'weHaveListed' | trans(transOptions, 'common') }}</strong></p>
            <p class="text">{{ 'checkCorrect' | trans(transOptions, 'common') }}</p>
        </div>
        <div class="govuk-grid-column-one-third">
            {{ macros.relatedSections(report, 'moneyTransfers') }}
        </div>
    </div>

    {# Items list #}
    {% include 'AppBundle:Report/MoneyTransfer:_list.html.twig' with {
    'report': report,
    'transDomain': translationDomain
    } %}

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'moneyTransfers',
    } %}

{% endblock %}
