{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-deputy-expenses" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

<dl class="govuk-summary-list">
    {{ macros.summaryListHeaderQA(hideEditLink) }}
    <div class="govuk-summary-list__row behat-region-paid-for-anything">
        <dt class="govuk-summary-list__key">
            {{ 'existPage.form.paidForAnything.label' | trans(transOptions)  }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ report.paidForAnything | capitalize }}
        </dd>
        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" href="{{ path('deputy_expenses_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>
</dl>

{% if report.expenses | length > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m flush--ends">List of expenses</h2>
        </div>
        {% if not hideEditLink %}
            <div class="govuk-grid-column-one-half text--right">
                <a href="{{ path('deputy_expenses_add', { 'reportId': report.id, 'from': 'summary'}) }}" class="govuk-link behat-link-add">
                    <strong>
                        <span class="icon icon-plus"></span>
                        {{ 'summaryPage.addButton' | trans }}
                    </strong>
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}

{% if report.expenses | length > 0 %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    Description of expense
                </th>
                {% if report.canLinkToBankAccounts %}
                    <th scope="col" class="govuk-table__header">
                        Bank account
                    </th>
                {% endif %}
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                    Amount
                </th>
                {% if not hideEditLink %}
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                {% endif %}
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            {% for expense in report.expenses %}
                <tr class="govuk-table__row behat-region-expense-{{ expense.explanation | behat_namify }}">
                    <td class="govuk-table__cell">
                        {{ expense.explanation }}
                    </td>
                    {% if report.canLinkToBankAccounts %}
                        <td class="govuk-table__cell">
                            {{ (expense.bankAccount) ? expense.bankAccount.nameOneLine : '-' }}
                        </td>
                    {% endif %}
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                            £{{ expense.amount | money_format }}
                    </td>
                    {% if not hideEditLink %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="{{ path('deputy_expenses_edit', { 'reportId': report.id, 'expenseId': expense.id }) }}" class="govuk-link behat-link-edit">{{ 'edit' | trans({}, 'common') }}</a>
                            <a href="{{ path('deputy_expenses_delete', { 'reportId': report.id, 'expenseId': expense.id }) }}" class="govuk-link govuk-!-margin-left-1 behat-link-delete">{{ 'remove' | trans({}, 'common' ) }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total amount</th>
                {% if report.canLinkToBankAccounts %}
                    <td class="govuk-table__cell"></td>
                {% endif %}
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <strong class="behat-region-expense-total">£{{ report.expensesTotal | money_format }}</strong>
                </td>
                {% if not hideEditLink %}
                    <td class="govuk-table__cell"></td>
                {% endif %}
            </tr>
        </tfoot>
    </table>
{% endif %}
