{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-deputy-expenses" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'addAnotherPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addAnotherPage.pageTitle' | trans }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addAnotherPage.supportTitle' | trans }}</span>
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_checkbox_group(form.addAnother, 'addAnotherPage.form.addAnother', {
        'fieldSetClass' : 'inline',
        'legendClass' : 'govuk-fieldset__legendl--s'
    }) }}

    {{ macros.addAnotherSaveButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
