{{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}

<h4 class="heading-medium">{{ 'form.description.heading' | trans({}, translationDomain) }}</h4>

{{ form_input(form.description,'form.description', { 'labelClass': 'required' }) }}

<h4 class="heading-medium">{{ 'form.clientInvolvedBoolean.heading' | trans({'%client%': report.client.firstname}, translationDomain) }}</h4>

{{ form_checkbox_group(form.clientInvolvedBoolean, 'form.clientInvolvedBoolean', {
    'fieldSetClass' : 'inline',
    'legendClass' : 'form-label',
    'labelParameters': { '%client%': report.client.firstname }
}) }}

{{ form_input(form.clientInvolvedDetails,'form.clientInvolvedDetails', {
    'labelClass': 'required',
    'labelParameters': { '%client%': report.client.firstname }
}) }}

{{ macros.saveAndContinueButton(form.save) }}

{{ form_end(form) }}
