{% set transOptions = {'%client%': report.client.firstname | e } %}

{{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}

<h4 class="heading-medium">{{ 'form.description.heading' | trans({}, translationDomain) }}</h4>

{{ form_input(form.description,'form.description') }}

<h4 class="heading-medium">{{ 'form.clientInvolvedBoolean.heading' | trans(transOptions, translationDomain) }}</h4>

{{ form_checkbox_group(form.clientInvolvedBoolean, 'form.clientInvolvedBoolean', {
    'fieldSetClass' : 'inline',
    'legendClass' : 'form-label',
    'labelParameters': transOptions
}) }}

{{ form_input(form.clientInvolvedDetails,'form.clientInvolvedDetails', {
    'labelClass': 'required',
    'labelParameters': transOptions
}) }}

{{ macros.saveAndContinueButton(form.save) }}

{{ form_end(form) }}
