{{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}

    {{ form_input(form.description,'form.description', { 'labelClass': 'required' }) }}

<div class="form-section push--bottom">

    <div class="form-group flush--bottom {% if not form.clientInvolvedBoolean.vars.valid %}error{% endif %}">

        {{ form_checkbox_group(form.clientInvolvedBoolean, 'form.clientInvolvedBoolean', {
            'fieldSetClass' : 'inline',
            'legendClass' : 'form-label',
            'legendText' : 'form.clientInvolvedBoolean.legend' | trans({'%client%': report.client.firstname}, translationDomain),
            'hintText' : 'form.clientInvolvedBoolean.hint' | trans({'%client%': report.client.firstname}, translationDomain),
            'items': [{'dataTarget': 'client-involved-details'}]
        }) }}

        <div id="client-involved-details" class="panel panel-border-narrow  js-hidden">
            {{ form_input(form.clientInvolvedDetails,'form.clientInvolvedDetails', {
                'labelClass': 'required',
                'hintText': 'form.clientInvolvedDetails.hint'| trans({'%client%': report.client.firstname}, translationDomain)
            }) }}</div>
    </div>
</div>

{{ form_submit(form.save, 'form.save', { 'buttonClass': '' }) }}

{{ form_end(form) }}


<script type="text/javascript">
    $(document).ready(function () {
        var showHideContent = new GOVUK.ShowHideContent();
        showHideContent.init();
    });
</script>