{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ 'existPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'existPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'existsPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        <div class="form-section push--bottom">
            <div class="form-group flush--bottom {% if not form.hasDecisions.vars.valid %}form-group-error{% endif %}">
                {{ form_checkbox_group(form.hasDecisions, 'existPage.form.hasDecisions', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'labelParameters': transOptions,
                    'legendClass' : 'form-label-bold text',
                    'items': [
                        {},
                        {'dataTarget': 'reason-for-no-decisions'}
                    ],
                    'formGroupClass': 'flush--bottom'
                }) }}

                <div id="reason-for-no-decisions" class="panel panel-border-narrow js-hidden">
                    {{ form_input(form.reasonForNoDecisions, 'existPage.form.reasonForNoDecisions', {
                        'labelClass': 'required',
                        'labelParameters': transOptions
                    }) }}
                </div>
            </div>
        </div>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ 'startPage.whatisdecisionSummary' | trans }}</span>
            </summary>
            <div class="text panel panel-border-narrow">
                <p>{{ ('startPage.whatisdecisionPara1' ~ append104) | trans(transOptions) }}</p>
                <p>{{ ('startPage.whatisdecisionPara2' ~ append104) | trans(transOptions) }}</p>
                <ul class="list list-bullet">
                    <li>{{ ('startPage.whatisdecisionListItem1' ~ append104) | trans(transOptions) }}</li>
                    <li>{{ ('startPage.whatisdecisionListItem2' ~ append104) | trans(transOptions) }}</li>
                    <li>{{ ('startPage.whatisdecisionListItem3' ~ append104) | trans(transOptions) }}</li>
                    {% if '104' not in report.type %}
                        <li>{{ ('startPage.whatisdecisionListItem4' ~ append104) | trans(transOptions) }}</li>
                        <li>{{ ('startPage.whatisdecisionListItem5' ~ append104) | trans(transOptions) }}</li>
                        <li>{{ ('startPage.whatisdecisionListItem6' ~ append104) | trans(transOptions) }}</li>
                        <li>{{ ('startPage.whatisdecisionListItem7' ~ append104) | trans(transOptions) }}</li>
                    {% endif %}
                </ul>
            </div>
        </details>

        {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
