{# Layout to extend for decisions subpages (decisioon CRUD + mental capacity so far) #}
{% extends 'AppBundle:Layouts:report_left_nav.html.twig' %}

{% block bodyClasses %}decisions js-report-decisions-input{% endblock %}
{% block htmlTitle %}{{ 'page.htmlTitle' | trans({}, translationDomain) }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans({}, translationDomain) }}{% endblock %}

{% block backLinktop %}{% endblock %}

{% block leftcontent %}
    {% set route = app.request.attributes.get('_route') %}
    <nav id="account-sub-nav">
        <a href="{{ path('decisions', {'reportId': report.id}) }}" class="{{ (route != 'mental_capacity') ? 'active':'' }} behat-link-decisions">{{ 'navLink' | trans({}, 'report-decisions') }}</a>
        <a href="{{ path('mental_capacity', {'reportId': report.id}) }}" class="{{ (route == 'mental_capacity') ? 'active':'' }} behat-link-mental-capacity">{{ 'navLink' | trans({}, 'report-mental-capacity') }}</a>
    </nav>
{% endblock %}
