{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}
    <p class="page-section-description">{{ 'page.pageSectionDescription' | trans }}</p>

    {% if report.decisions %}
        <p class="page-section-description">{{ 'page.pageSectionEditInfo' | trans }}</p>
    {% else %}
        {% include 'AppBundle:Report/Decision:_decisions_help.html.twig' %}
    {% endif %}

    {% include 'AppBundle:Components/ButtonBar:_add_button_bar.html.twig' with {
            'report': report,
            'section': 'decisions',
            'transDomain': translationDomain,
            'data': report.decisions
        } %}

    {% if decisions is not empty %}
        {% include 'AppBundle:Report/Decision:_decision_list.html.twig' with {
            'report': report,
            'decisions': decisions,
            'transDomain': translationDomain
            } %}
    {% else %}
        {% if report.reasonForNoDecisions is not empty %}
            {% include 'AppBundle:Report/Decision:_none_reason_description.html.twig' with {'report': report} %}
        {% else %}
            <div id="no-decision-reason-form-embed">{{ render(controller('AppBundle:Report/Decision:_noneReasonForm', { 'reportId': report.id, 'request': app.request })) }}</div>
        {% endif %}
    {% endif %}

{% endblock %}