{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}
{% set clientName = report.client.firstname %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = ('-4' in report.type) ? '-4' : (report.type == '104') ? '-104' : ''%}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <p class="text">{{ 'startPage.description1' | trans(transOptions) }}</p>

    <details>
        <summary>
            <span class="summary">{{ 'startPage.whatisMentalCapacitySummary' | trans }}</span>
        </summary>
        <div class="text panel panel-border-narrow">
            <p>{{ 'startPage.whatisMentalCapacityPara1' | trans(transOptions) }}</p>
            <p>{{ 'startPage.whatisMentalCapacityPara2' | trans(transOptions)|raw }}</p>
        </div>
    </details>

    <details {% if '-4' in report.type %}class="push--bottom"{% endif %}>
        <summary>
            <span class="summary">{{ 'startPage.whatisdecisionSummary' | trans }}</span>
        </summary>
        <div class="text panel panel-border-narrow">
            <p>{{ ('startPage.whatisdecisionPara1' ~ append104) | trans(transOptions) }}</p>
            <p>{{ ('startPage.whatisdecisionPara2' ~ append104) | trans(transOptions) }}</p>
            <ul class="list list-bullet">
                <li>{{ ('startPage.whatisdecisionListItem1' ~ append104) | trans(transOptions) }}</li>
                <li>{{ ('startPage.whatisdecisionListItem2' ~ append104) | trans(transOptions) }}</li>
                <li>{{ ('startPage.whatisdecisionListItem3' ~ append104) | trans(transOptions) }}</li>
                {% if '4' not in report.type %}
                    <li>{{ 'startPage.whatisdecisionListItem4' | trans(transOptions) }}</li>
                    <li>{{ 'startPage.whatisdecisionListItem5' | trans(transOptions) }}</li>
                    <li>{{ 'startPage.whatisdecisionListItem6' | trans(transOptions) }}</li>
                    <li>{{ 'startPage.whatisdecisionListItem7' | trans(transOptions) }}</li>
                {% endif %}
            </ul>
        </div>
    </details>

    {% if '4' not in report.type %}
        <p class="text">{{ 'startPage.description2' | trans }}</p>
    {% endif %}

    <a href="{{ path('decisions_mental_capacity', { 'reportId': report.id}) }}"
       class="button button-start behat-link-start">{{ 'startPage.startButton' | trans }}</a>

{% endblock %}
