{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{# Set page to summary page to allow correct translations to be pulled in#}
{% set page = 'summaryPage' %}

<table class="check-your-answers columns-2 push--bottom">
    {{ macros.summaryTableHeaderQA(hideEditLink) }}
    <tbody>
    {# How did you charge for your costs? #}
    <tr class="behat-region-how-changed">
        <td>
            {{ 'howCharged.form.profDeputyCostsHow.label' | trans(transOptions) }}
        </td>
        <td>
            {{ report.profDeputyCostsHowChargedFixed ? 'Fixed<br>' : '' | raw }}
            {{ report.profDeputyCostsHowChargedAssessed ? 'Assessed<br>' : '' | raw }}
            {{ report.profDeputyCostsHowChargedAgreed  ? 'Agreed<br>' : '' | raw}}
        </td>
        {% if not hideEditLink  %}
            <td class="change-answer">
                <a href="{{ path('prof_deputy_costs_how_charged', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
            </td>
        {% endif %}
    </tr>

    {# Have you charged in line with interim billing under Practice Direction 19B  #}
    {% if not report.hasProfDeputyCostsHowChargedFixedOnly %}
    <tr class="behat-region-has-interim">
        <td>
            {% if report.profDeputyCostsHasInterim is null %}<span class="error">{% endif %}
                {{ 'interimExists.form.profDeputyCostsHasInterim.label' | trans(transOptions) }}
                {% if report.profDeputyCostsHasInterim is null %}</span>{% endif %}
        </td>
        <td>
            {% if report.profDeputyCostsHasInterim is null %}
                <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
            {% else %}
                {{ report.profDeputyCostsHasInterim | capitalize }}
            {% endif %}
        </td>
        {% if not hideEditLink  %}
            <td class="change-answer">
                <a href="{{ path('prof_deputy_costs_inline_interim_19b_exists', {'reportId': report.id, 'from': 'summary'}) }}" class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
            </td>
        {% endif %}
    </tr>


        {% for ic in report.profDeputyInterimCosts %}
            <tr class="behat-region-interim-cost-{{ loop.index }}">
                <td>
                    Costs for interim {{ loop.index }}
                </td>
                <td>
                    £{{ ic.amount | money_format }}, paid {{  ic.date | date('d/m/Y') }}
                </td>
                {% if not hideEditLink  %}
                    <td class="change-answer width-sixth soft-half--left hard--right">
                        <a href="{{ path('prof_deputy_costs_inline_interim_19b', {'reportId': report.id, 'from': 'summary'}) }}" class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

    {% endif %}
    {# Fixed cost #}
    {% if report.hasProfDeputyCostsHowChargedFixedOnly or report.profDeputyCostsHasInterim == 'no'  %}
        <tr class="behat-region-fixed-cost-amount">
            <td>
                {{ (page ~ '.questionLabel.paidThisPeriod') | trans(transOptions) }}
            </td>
            <td>
                {% if report.profDeputyFixedCost is null %}
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                {% else %}
                    £{{ report.profDeputyFixedCost | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="change-answer">
                    <a href="{{ path('prof_deputy_costs_received', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>
    {% endif %}

    {% if not report.hasProfDeputyCostsHowChargedFixedOnly %}
        {# SCCO assessment #}
        <tr class="behat-region-scco-assessment-amount">
            <td>
                {{ 'amountToScco.form.profDeputyCostsAmountToScco.label' | trans }}
            </td>
            <td>
                {% if report.profDeputyCostsAmountToScco is null %}
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                {% else %}
                    £{{ report.profDeputyCostsAmountToScco | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="change-answer">
                    <a href="{{ path('prof_deputy_costs_amount_scco', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>
    {% endif %}
    </tbody>
</table>

<h2 class="heading-medium">{{ (page ~ '.breakdownOfAdditionalCosts') |  trans(transOptions) }}</h2>

<table class="check-your-answers columns-2 push--bottom">
    <thead>
    <tr>
        <th>{{ (page ~ '.item') |  trans }}</th>
        <th>{{ (page ~ '.amount') |  trans }}</th>
        {% if not hideEditLink %}
            <th class="change-answer">
                <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for otherCostTypeId in report.getProfDeputyOtherCostTypeIds %}
        {% set costRow = submittedOtherCosts[otherCostTypeId.typeId] %}
        <tr class="behat-region-breakdown-{{ otherCostTypeId.typeId | lower }}">
            <td>
                {{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.label') | trans }}
            </td>
            <td>
                {% if costRow['amount'] is null %}
                    -
                {% else %}
                    £{{ costRow['amount'] | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink %}
                <td class="change-answer width-sixth soft-half--left hard--right">
                    <a href="{{ path('prof_deputy_costs_breakdown', {'reportId': report.id, 'from': 'summary'}) }}"
                       class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>
        {# more details ("other" only) #}
        {% if costRow.hasMoreDetails and costRow.moreDetails %}
            <tr class="behat-region-breakdown-{{ otherCostTypeId.typeId | lower }}-details">
                <td>
                    {{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.moreInformationLabelSummary') | trans }}
                </td>
                <td>
                    {{  costRow.moreDetails | nl2br }}
                </td>
                {% if not hideEditLink %}
                    <td class="change-answer width-sixth soft-half--left hard--right">
                        <a href="{{ path('prof_deputy_costs_breakdown', {'reportId': report.id, 'from': 'summary'}) }}"
                           class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                    </td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}

    </tbody>
</table>


{% if report.profDeputyTotalCosts is not null %}
    <table class="check-your-answers columns-2 push--bottom">
        <tbody>
        {# empty line to have border. fix with CSS if simpler#}
        <tr>
            <td colspan="{{ hideEditLink ? 2 : 3 }}"></td>
        </tr>
        {# Total cost this period#}
        <tr class="behat-region-total-cost">
            <td>
                <strong class="bold">{{ (page ~ '.questionLabel.totalCosts') | trans(transOptions) }}</strong>
            </td>
            <td>
                <strong class="bold">£{{ report.profDeputyTotalCostsTakenFromClient | money_format }}</strong>
            </td>
            {% if not hideEditLink %}
                <td></td>
            {% endif %}
        </tr>
        {# Total cost taken from client #}
        <tr class="behat-region-total-cost-taken-from-client">
            <td>
                <strong class="bold">{{ (page ~ '.questionLabel.totaPaidThisPeriod') | trans(transOptions) }}</strong>
            </td>
            <td>
                <strong class="bold">£{{ report.profDeputyTotalCosts | money_format }}</strong>
            </td>
            {% if not hideEditLink %}
                <td></td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endif %}
