{% set translationDomain = "report-prof-deputy-costs" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = report.get104TransSuffix %}

{% set hideEditLink = hideEditLink | default(false) %}

<h2 class="heading-medium">{{ (page ~ '.weveListedYourAnswers') | trans }}</h2>

<p class="text">{{ (page ~ '.checkTheyreCorrect') | trans }}</p>

<table class="check-your-answers columns-2 push--bottom">
    {{ macros.summaryTableHeaderQA(hideEditLink) }}
    <tbody>
        {# How did you charge for your costs? #}
        <tr class="behat-region-how-changed">
                <td>
                    {{ 'howCharged.form.profDeputyCostsHow.label' | trans }}
                </td>
                <td>
                    {{ report.profDeputyCostsHowChargedFixed ? 'Fixed<br>' : '' | raw }}
                    {{ report.profDeputyCostsHowChargedAssessed ? 'Assessed<br>' : '' | raw }}
                    {{ report.profDeputyCostsHowChargedAgreed  ? 'Agreed<br>' : '' | raw}}
                </td>
            {% if not hideEditLink  %}
                <td class="change-answer">
                    <a href="{{ path('prof_deputy_costs_how_charged', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>


        {# Are there any remaining fees #}
        <tr class="behat-region-has-previous">
            <td>
                {% if report.profDeputyCostsHasPrevious is null %}<span class="error">{% endif %}
                {{ 'previousReceivedExists.form.profDeputyCostsHasPrevious.label' | trans(transOptions) }}
                {% if report.profDeputyCostsHasPrevious is null %}</span>{% endif %}
            </td>
            <td>
                {% if  report.profDeputyCostsHasPrevious is null %}
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                {% else %}
                    {{ report.profDeputyCostsHasPrevious | capitalize }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="change-answer">
                    <a href="{{ path('prof_deputy_costs_previous_received_exists', {'reportId': report.id, 'from': 'summary'}) }}" class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>

        {% for pc in report.profDeputyPreviousCosts %}
            <tr class="behat-region-prev-costs">
                <td>
                    Received for {{ pc.startDate | date('d/m/Y') }} - {{ pc.endDate | date('d/m/Y') }}
                    {#{{ 'previousReceivedExists.form.profDeputyCostsHasPrevious.label' | trans(transOptions) }}#}
                </td>
                <td>
                    £{{ pc.amount | money_format }}
                </td>
                {% if not hideEditLink  %}
                    <td class="change-answer width-sixth soft-half--left hard--right">
                        <a href="{{ path('prof_deputy_costs_previous_received', {'reportId': report.id, 'previousReceivedId': pc.id, 'from': 'summary'}) }}" class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                        <a href="{{ path('prof_deputy_costs_previous_received_delete', {'reportId': report.id, 'previousReceivedId': pc.id}) }}" class="action-link behat-link-delete">{{ 'remove' | trans({}, 'common' ) }}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        {# add another link #}
        {% if report.profDeputyPreviousCosts | length %}
            <tr class="behat-region-prev-costs">
                <td colspan="2">
                </td>
                {% if not hideEditLink  %}
                    <td class="change-answer width-sixth soft-half--left hard--right">
                        <a href="{{ path('prof_deputy_costs_previous_received', {'reportId': report.id, 'from': 'summary'}) }}" class="action-link behat-link-edit">Add another</a>
                    </td>
                {% endif %}
            </tr>
        {% endif %}


        {# Have you charged in line with interim billing under Practice Direction 19B  #}
        {% if not report.hasProfDeputyCostsHowChargedFixedOnly %}
            <tr class="behat-region-has-interim">
                <td>
                    {% if report.profDeputyCostsHasInterim is null %}<span class="error">{% endif %}
                    {{ 'interimExists.form.profDeputyCostsHasInterim.label' | trans(transOptions) }}
                    {% if report.profDeputyCostsHasInterim is null %}</span>{% endif %}
                </td>
                <td>
                    {% if report.profDeputyCostsHasInterim is null %}
                        <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                    {% else %}
                        {{ report.profDeputyCostsHasInterim | capitalize }}
                    {% endif %}
                </td>
                {% if not hideEditLink  %}
                    <td class="change-answer">
                        <a href="{{ path('prof_deputy_costs_inline_interim_19b_exists', {'reportId': report.id, 'from': 'summary'}) }}" class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                    </td>
                {% endif %}
            </tr>

            {% for ic in report.profDeputyInterimCosts %}
                <tr class="behat-region-prev-costs">
                    <td>
                        Costs for interim {{ loop.index }}
                    </td>
                    <td>
                        £{{ ic.amount | money_format }}, paid {{  ic.date | date('d/m/Y') }}
                    </td>
                    {% if not hideEditLink  %}
                        <td class="change-answer width-sixth soft-half--left hard--right">
                            <a href="{{ path('prof_deputy_costs_inline_interim_19b', {'reportId': report.id, 'from': 'summary'}) }}" class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        {% endif %}

        {# Fixed cost #}
        {% if report.hasProfDeputyCostsHowChargedFixedOnly or report.profDeputyCostsHasInterim == 'no'  %}
        <tr class="behat-region-fixed-cost-amount">
            <td>
                {{ (page ~ '.questionLabel.paidThisPeriod') | trans(transOptions) }}
            </td>
            <td>
                {% if report.profDeputyFixedCost is null %}
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                {% else %}
                    £{{ report.profDeputyFixedCost | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="change-answer">
                    <a href="{{ path('prof_deputy_costs_received', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>
        {% endif %}

        {# Total cost this period#}
        {%  if report.profDeputyTotalCosts is not null %}
            <tr class="behat-region-total-cost">
                <td>
                    <strong class="bold">{{ (page ~ '.questionLabel.totaPaidThisPeriod') | trans(transOptions) }}</strong>
                </td>
                <td>
                    <strong class="bold">£{{ report.profDeputyTotalCosts | money_format }}</strong>
                </td>
                {% if not hideEditLink  %}<td></td> {% endif %}
            </tr>
        {% endif %}

        {# SCCO assessment #}
        <tr class="behat-region-scco-assessment-amount">
            <td>
                {{ 'amountToScco.form.profDeputyCostsAmountToScco.label' | trans }}
            </td>
            <td>
                {%  if report.profDeputyCostsAmountToScco is null %}
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                {% else %}
                    £{{ report.profDeputyCostsAmountToScco | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="change-answer">
                    <a href="{{ path('prof_deputy_costs_amount_scco', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>
        <tr class="behat-region-scco-assessment-reason">
            <td>
                {{ 'amountToScco.form.profDeputyCostsReasonBeyondEstimate.label' | trans }}
            </td>
            <td>
                {% if report.profDeputyCostsReasonBeyondEstimate is null %}
                    <span>-</span>
                {% else %}
                    {{ report.profDeputyCostsReasonBeyondEstimate | nl2br }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="change-answer">
                    <a href="{{ path('prof_deputy_costs_amount_scco', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>
    </tbody>
</table>

<h2 class="heading-medium">{{ (page ~ '.breakdownOfAdditionalCosts') |  trans(transOptions) }}</h2>

<table class="check-your-answers columns-2 push--bottom">
    <thead>
        <tr>
            <th>{{ (page ~ '.item') |  trans }}</th>
            <th>{{ (page ~ '.amount') |  trans }}</th>
            {% if not hideEditLink %}
                <th class="change-answer">
                    <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for otherCostTypeId in report.getProfDeputyOtherCostTypeIds %}
        {% set costRow = submittedOtherCosts[otherCostTypeId.typeId] %}
        <tr class="behat-region-prev-costs">
            <td>
                {{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.label') | trans }}
            </td>
            <td>
                {% if costRow['amount'] is null %}
                    -
                {% else %}
                    £{{ costRow['amount'] | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink %}
                <td class="change-answer width-sixth soft-half--left hard--right">
                    <a href="{{ path('prof_deputy_costs_breakdown', {'reportId': report.id, 'from': 'summary'}) }}"
                       class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        </tr>
        {# more details ("other" only) #}
        {% if costRow.hadMoreDetails and costRow.moreDetails %}
            <td>
                {{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.moreInformationLabelSummary') | trans }}
            </td>
            <td>
                {{  costRow.moreDetails | nl2br }}
            </td>
            {% if not hideEditLink %}
                <td class="change-answer width-sixth soft-half--left hard--right">
                    <a href="{{ path('prof_deputy_costs_breakdown', {'reportId': report.id, 'from': 'summary'}) }}"
                       class="action-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                </td>
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
