{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{# Set page to summary page to allow correct translations to be pulled in#}
{% set page = 'summaryPage' %}

{# How did you charge for your costs? #}
    <tr class="behat-region-how-changed">
        <td>
            {{ 'howCharged.form.profDeputyCostsHow.label' | trans(transOptions) }}
        </td>
        <td>
            {{ report.profDeputyCostsHowChargedFixed ? 'Fixed<br>' : '' | raw }}
            {{ report.profDeputyCostsHowChargedAssessed ? 'Assessed<br>' : '' | raw }}
        </td>
        {% if not hideEditLink  %}
            <td class="change-answer">
                <a href="{{ path('prof_deputy_costs_how_charged', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit action-link">{{ 'edit' | trans({}, 'common' ) }}</a>
            </td>
        {% endif %}
    </tr>	