{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-prof-deputy-costs" %}
{% trans_default_domain translationDomain %}
{% set page = 'breakdown' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <h3 class="heading-small push-half--bottom">
        {{ 'otherCostsPage.pageSectionDescription' | trans(transOptions, translationDomain) }}
        <span class="form-hint text push-half--bottom">{{ 'otherCostsPage.pageHint' | trans(transOptions, translationDomain) }}</span>
    </h3>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {% for profDeputyOtherCost in form.profDeputyOtherCosts %}
        {{ dump(profDeputyOtherCost) }}
        {#<div class="{{ profDeputyOtherCost.moreDetails is defined ? ' js-details-expander ' : '' }}">#}
            {#{{ form_row(profDeputyOtherCost.profDeputyOtherCostsTypeId) }}#}
            {#{{ form_input(profDeputyOtherCost.amount, 'amount', {#}
                {#'inputPrefix' : '£',#}
                {#'inputClass' : 'form-control-1-4 js-format-currency',#}
                {#'labelText': ('form.entries.' ~ profDeputyOtherCost.profDeputyOtherCostTypeId.vars.value ~ '.label') | trans,#}
                {#'hintText': ('form.entries.' ~ profDeputyOtherCost.profDeputyOtherCostTypeId.vars.value ~ '.hint') | trans(transOptions),#}
                {#'labelRaw': true#}
            {#}) }}#}

            {#{% if profDeputyOtherCost.moreDetails is defined %}#}
                {#<div class="js-hidden">#}
                    {#{{ form_input(profDeputyOtherCost.moreDetails, 'moreDetails', {#}
                        {#'labelText': ('form.entries.' ~ profDeputyOtherCost.profDeputyOtherCostTypeId.vars.value ~ '.moreInformations') | trans,#}
                        {#'formGroupClass': 'panel panel-border-narrow',#}
                        {#'hintTe xt': ('form.entries.' ~ profDeputyOtherCost.profDeputyOtherCostTypeId.vars.value ~ '.moreInfoHint') | trans(transOptions),#}
                        {#'labelRaw': true#}
                    {#}) }}#}
                {#</div>#}
            {#{% endif %}#}
        {#</div>#}
    {% endfor %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
