{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-prof-deputy-costs" %}
{% trans_default_domain translationDomain %}
{% set page = 'interim' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <h2 class="heading-medium flush--ends text">{{ (page ~ '.pageSectionDescription01') | trans(transOptions) }}</h2>


    <div class="text">
        <p>{{ (page ~ '.pageSectionDescription02') | trans }}</p>
    </div>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% for ic in form.profDeputyInterimCosts %}
        <div class="form-section push--bottom">
            <p class="heading-medium">Interim {{ loop.index }}</p>
            {{ form_input(ic.amount, page ~ '.form.amount', {
                'inputPrefix' : '£',
                'inputClass' : 'form-control-1-4 js-format-currency',
                'labelClass' : 'form-label-bold',
                'formGroupClass': ' form-group-value'
            }) }}

            {{ form_known_date(ic.date, page ~ '.form.date') }}
        </div>
    {% endfor %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
