{% extends 'AppBundle:Layouts:application.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "odr-deputy-expenses" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': odr.client.firstname} %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(odr) }}{% endblock %}

{% block pageContent %}

    <div class="text">
        <p>{{ 'startPage.pageSectionDescription1' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription2' | trans(transOptions) }}</p>
        <p>{{ 'startPage.pageSectionDescription2' | trans(transOptions) }}</p>

        <details class="push--bottom">
            <summary>
                <span class="summary">{{ 'startPage.hiddenText01.summary' |trans }}</span>
            </summary>
            <div class="panel panel-border-narrow">
                <p>{{ 'startPage.hiddenText01.content.para01' |trans|raw }}</p>
            </div>
        </details>
        
    </div>

    <a href="{{ path('odr_deputy_expenses_exist', { 'odrId': odr.id}) }}" class="button button-start behat-link-start">{{ 'startPage.startButton' | trans }}</a>

{% endblock %}
