{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-contacts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% block htmlTitle %}{{ 'existPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'existPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'existsPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

        <div class="form-section push--bottom">
            <div class="form-group flush--bottom {% if not form.hasContacts.vars.valid %}form-group-error{% endif %}">
                {% set append104 = report.get104TransSuffix %}
                {{ form_checkbox_group(form.hasContacts, 'existPage.form.hasContacts', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'labelParameters': transOptions,
                    'legendClass' : 'form-label-bold text',
                    'hintText': ('existPage.form.hasContacts.hint' ~ append104) | trans,
                    'items': [
                        {},
                        {'dataTarget': 'reason-for-no-contact'}
                    ],
                    'formGroupClass': 'flush--bottom'
                }) }}

                <div id="reason-for-no-contact" class="panel panel-border-narrow js-hidden">
                    {{ form_input(form.reasonForNoContacts, 'existPage.form.reasonForNoContacts', {
                        'labelClass': 'required',
                        'labelParameters': transOptions
                    }) }}
                </div>
            </div>
        </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
