{% embed 'AppBundle:Components/Page:page-report.html.twig'%}

{% set translationDomain = "report-contacts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block bodyClasses %}safeguarding-page{% endblock %}
{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans }}{% endblock %}

{% block pageNavigation %}
<div class="breadcrumbs">
    <ol class="group">
        <li><a href="#">Deputy reports</a></li>
        <li><a href="#">Deputy report overview</a></li>
    </ol>
</div>
{% endblock %}


{% block pageBody %}

    {% block validationSummary %}
    {% endblock %}

    <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="link-back">Back</a>

    <p class="page-section-description">
        {{ 'startPage.pageSectionDescription1' | trans(transOptions) }}
    </p>
    <p class="page-section-description">
        {{ 'startPage.pageSectionDescription2' | trans(transOptions) }}
    </p>

    <div class="form-group button-bar">
        <a href="{{ path('contacts_exist', { 'reportId': report.id}) }}" class="button button-start">
            {{ 'startPage.startButton' | trans }}
        </a>
    </div>

{% endblock %}

{% block pageBodyFooterNav %}
{% endblock %}

{% endembed %}
