{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

{% if assets is not empty  %}
    <ul class="behat-region-list-assets report-list report-list--assets">
        {% for asset in assets %}
            <li id="asset-edit-{{ asset.id }}" class="report-list__item">

                <div class="report-list__item-header">
                    <h3>{{ asset.title }}</h3>
                      <a href="{{ url('asset_edit', { 'reportId': report.id, 'assetId': asset.id }) ~ '#asset-edit-' ~ asset.id }}"
                         class="js-report-list__item-edit-link report-list__item-edit-link behat-link-asset-{{ asset.description | behat_namify }}">{{ 'editLink'| trans }}</a>
                </div>
                <dl class="report-list__item-fields">
                    <div class="report-list__item-fields-row">
                        <dt class="report-list__item-fields-term">{{ 'value.label' | trans }}</dt>
                        <dd class="report-list__item-fields-description">{{ 'currencySymbol' | trans }}{{ asset.value | money_format }}</dd>
                    </div>
                    <div class="report-list__item-fields-row">
                        <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'description.label' | trans }}</dt>
                        <dd class="report-list__item-fields-description report-list__item-fields-description--block">{{ asset.description }}</dd>
                    </div>
                    {% if asset.valuationDate is not null %}
                        <div class="report-list__item-fields-row">
                            <dt class="report-list__item-fields-term">{{ 'valuationDate.label' | trans }}</dt>
                            <dd class="report-list__item-fields-description">{{ asset.valuationDate | date("d F Y") }}</dd>
                        </div>
                    {% endif %}
                </dl>
                
            </li>
        {% endfor %}
    </ul>
{% endif %}
