{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

{% if (showAddForm) %}
    {% set formContainerClass = '' %}
    {% set formClass = 'in-page-form' %}
{% else %}
    {% set formContainerClass = 'visuallyhidden' %}
    {% set formClass = '' %}
{% endif %}


{{ form_start(form, {attr: {novalidate: 'novalidate', class: formClass } }) }}

<div class="{{ formContainerClass }}"> {# Show the Add Form #}

    {% set subSectionTitleText = 'form.newAsset.subSectionTitleAdd' %}

    {% include 'AppBundle:Components/Page:_sub-section-title.html.twig' with {
    transDomain: translationDomain,
    subSectionTitle: subSectionTitleText
    } %}

    {{ form_select(form.title, 'form.newAsset.controls.title') }}
    {{ form_input(form.value, 'form.newAsset.controls.value', {
    'inputPrefix' : 'form.newAsset.controls.value.currencySymbol',
    'inputClass' : 'form-control__number'
    } ) }}
    {{ form_input(form.description, 'form.newAsset.controls.description', {inputClass: 'expanding'}) }}
    {{ form_known_date(form.valuationDate, 'form.newAsset.controls.valuationDate') }}

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}

    {{ form_submit(form.save,'form.newAsset.controls.save', { 'buttonClass': '' }) }}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
    transDomain: translationDomain,
    linkButtonLabel: 'form.newAsset.controls.cancel.label',
    linkClass: 'button-link',
    linkHref: path('assets', {'reportId': report.id})
    } %}

    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

</div>

{{ form_end(form) }}

