{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

{#
Component parameters
--------------------

showEditForm (true/false)
showDeleteConfirm (true/false)
form
#}
{% if (showEditLink is not defined) %}
{%     set showEditLink = true %}
{% endif %}

<ul class="behat-region-list-assets report-list report-list--assets">
    {% for asset in assets %}
        <li id="asset-edit-{{ asset.id }}" class="report-list__item">

            {% if (asset.id == app.request.get('id')) and (showEditForm) %}

                {% include 'AppBundle:Asset:_asset_edit_form.html.twig' with {
                'showDeleteConfirm': showDeleteConfirm,
                'form': form
                } %}

            {% else %}
                <div class="report-list__item-header">
                    <h3>{{ asset.title }}</h3>
                    {% if (showEditLink == true) %}
                        <a href="{{ url('assets', { 'reportId': report.id, 'id': asset.id, 'action': 'edit' }) ~ '#asset-edit-' ~ asset.id }}"
                           class="js-report-list__item-edit-link report-list__item-edit-link behat-link-asset-n{{ loop.index }}">{{ 'listing.editLink'| trans }}</a>
                   {% endif %}
                </div>
                <dl class="report-list__item-fields">
                    <div class="report-list__item-fields-row">
                        <dt class="report-list__item-fields-term">{{ 'listing.value' | trans }}</dt>
                        <dd class="report-list__item-fields-description">{{ 'listing.currencySymbol' | trans }}{{ asset.value | number_format(2, '.', ',') }}</dd>
                    </div>
                    <div class="report-list__item-fields-row">
                        <dt class="report-list__item-fields-term report-list__item-fields-term--block">{{ 'listing.description' | trans }}</dt>
                        <dd class="report-list__item-fields-description report-list__item-fields-description--block">{{ asset.description }}</dd>
                    </div>
                    {% if asset.valuationDate is not null %}
                        <div class="report-list__item-fields-row">
                            <dt class="report-list__item-fields-term">{{ 'listing.date' | trans }}</dt>
                            <dd class="report-list__item-fields-description">{{ asset.valuationDate | date("d F Y") }}</dd>
                        </div>
                    {% endif %}
                </dl>

            {% endif %}

        </li>
    {% endfor %}
</ul>
