{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

<div class="report-list-separator"></div>

{{ form_start(form, {attr: {novalidate: 'novalidate', class: 'no-data-form in-page-form' } }) }}

    <p class="page-section-description ">{{ 'no_assets.description'| trans }}</p>
    {{ form_checkbox(form.noAssetToAdd,'no_assets', { 'labelClass': 'required'}) }}

    {{ form_submit(form.saveNoAsset,'save') }}

{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function() {
        new GOVUK.SelectionButtons(":checkbox");
    });
</script>
