{# when loaded with AJAX, only return the "pageBody" block content #}
{% embed app.request.xmlHttpRequest  ? 
  'AppBundle:Layouts:ajaxPageBody.html.twig' :
  'AppBundle:Components/Page:page-report.html.twig' %}

    {% set translationDomain = "report-assets" %}
    {% trans_default_domain translationDomain %}
    
    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-assets-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans({'%client%':client.firstname}, translationDomain) }}{% endblock %}
    
    {% block pageBody %}
        
        {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'in-page-form' } }) }}

        <h3 class="heading-medium">{{ 'page.subSectionTitleAdd' | trans({}, translationDomain) }}</h3>

        {{ form_errors_list(form) }}


        {{ form_input(form.value, 'value', {
          'inputPrefix' : 'currencySymbol',
          'inputClass' : 'form-control__number'
          } ) }}
          {{ form_input(form.description, 'description', {inputClass: 'expanding'}) }}
          {{ form_known_date(form.valuationDate, 'valuationDate') }}

        {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
            transDomain: translationDomain,
            section: 'asset',
            showDelete: false
        } %}
        
        {{ form_end(form) }}
        
    {% endblock %}

{% endembed %}
