{% embed 'AppBundle:Components/Page:page-report.html.twig' %}
    
    {% set translationDomain = "report-assets" %}
    {% trans_default_domain translationDomain %}
    
    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-assets-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans({'%client%':client.firstname}, translationDomain) }}{% endblock %}
    
    {% block pageBody %}

        <p class="page-section-description">{{ 'page.pageSectionDescription' | trans({'%client%':client.firstname}, translationDomain) }}</p>


        {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'in-page-form', id: 'asset-form-add-select-title' } }) }}
        
          <h3 class="heading-medium">{{ 'page.subSectionTitleAdd' | trans({}, translationDomain) }}</h3>

          {{ form_select(form.title, 'title') }}

        
          {% include 'AppBundle:Components/ButtonBar:_start.html.twig' with {'divId': 'asset-add-title-next-group'} %}
            {{ form_submit(form.next,'form.newAsset.controls.next', { 'buttonClass': '' }) }}
            
            {% if showCancelLink %}
              {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
              transDomain: translationDomain,
              linkButtonLabel: 'cancel.label',
              linkClass: 'button-link',
              linkHref: path('assets', {'reportId': report.id})
              } %}
            {% endif %}

          {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

        {{ form_end(form) }}
        
        <script type="text/javascript">
            $(document).ready(function () {
                
                var bodyLeftContent = $("#pagebody-left-content"),
                    assetTitleTitle = $('#asset_title_title'),
                    urlToLoadPattern,
                    urlToLoad,
                    selectedTitle;
                
                // when the dropdown changes, replace the pagebody-left-content with the result of the next page (add-complete)
                assetTitleTitle.change(function(event) {
                    selectedTitle = $(event.target).val();
                    if (selectedTitle === '') {
                        return;
                    }
                    
                    urlToLoadPattern = '{{ path('asset_add_complete', {'reportId': report.id, 'title' : '--placeholder--'}) }}';
                    urlToLoad = urlToLoadPattern.replace('--placeholder--', selectedTitle);
                 
                    $.get(urlToLoad, function( html ) {
                        var $element = $(html);
                        
                        bodyLeftContent.text('').append($element);
                        $element.find('textarea').expanding();
                        $element.find('input')[0].focus();
                    });
                    
                });
            });
        </script>
        
    {% endblock %}

{% endembed %}
