{% embed 'AppBundle:Components/Page:page-report.html.twig' %}
    
    {% set translationDomain = "report-assets" %}
    {% trans_default_domain translationDomain %}

    {% set subSectionTitleText = 'page.subSectionTitleEdit' %}
    
    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-assets-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans({'%client%': report.client.firstname}, translationDomain) }}{% endblock %}
    
    {% block pageBody %}

        <p class="page-section-description">{{ 'page.pageSectionDescription' | trans({'%client%': report.client.firstname}, translationDomain) }}</p>
        <p class="page-section-description">{{ 'page.pageSectionEditInfo' | trans({'%client%': report.client.firstname}, translationDomain) }}</p>

        
        {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'in-page-form' } }) }}

            <h3 class="heading-medium">{{ subSectionTitleText | trans({}, translationDomain) }}</h3>
        
            {{ form_errors_list(form) }}
        
            {% include 'AppBundle:Asset/' ~ assetToEdit.type ~ ':_form_fields.html.twig' with {
                'form': form,
             } %}
    
            {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
                transDomain: translationDomain,
                section: 'asset'
            } %}


        {{ form_end(form) }}
        

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'previousLink': path("accounts_balance" , {'reportId': report.id }),
        'previousLabel': 'Balance accounts',
        'nextLink': path("actions" , {'reportId': report.id }),
        'nextLabel': 'Actions'
        } %}
    {% endblock %}

{% endembed %}
