{% set translationDomain = "client-profile" %}
{% trans_default_domain translationDomain %}
{% set page = "deputyDetails" %}
{% import '@App/Macros/macros.html.twig' as macros %}

<div class="govuk-accordion__section">

    <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
            <button class="govuk-accordion__section-button">
                {{ (page ~ '.heading') | trans }}
            </button>
        </h3>
    </div>

    <div class="govuk-accordion__section-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <dl>
                    <dt>
                        <strong class="govuk-!-font-weight-bold">{{ (page ~ '.name') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ deputy.firstname ~ " " ~ deputy.lastname }}
                    </dd>

                    <dt>
                        <strong class="govuk-!-font-weight-bold">{{ (page ~ '.address') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {% for addressPart in deputy.addressNotEmptyParts %}
                            {{ addressPart }}<br/>
                        {% endfor %}
                    </dd>
                </dl>
            </div>

            <div class="govuk-grid-column-one-half">
                <dl>
                    <dt>
                        <strong class="govuk-!-font-weight-bold">{{ (page ~ '.mainPhone') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ (deputy.phoneMain) ? deputy.phoneMain : '-' }}
                    </dd>

                    <dt>
                        <strong class="govuk-!-font-weight-bold">{{ (page ~ '.altPhone') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ (deputy.phoneAlternative) ? deputy.phoneAlternative : '-' }}
                    </dd>

                    <dt>
                        <strong class="govuk-!-font-weight-bold">{{ (page ~ '.mainEmail') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ (deputy.email1) ? deputy.email1 : '-' }}
                    </dd>

                    <dt>
                        <strong class="govuk-!-font-weight-bold">{{ (page ~ '.altEmail') | trans }}</strong>
                    </dt>
                    <dd class="push--bottom">
                        {{ (deputy.email2) ? deputy.email2 : '-' }}
                    </dd>
                </dl>
            </div>
        </div>

        {% set contactMessage = (page ~ '.contactMessage') | trans %}

        {% if app.user.isDeputyProf %}
            {% set email = (page ~ '.profEmail') | trans %}
        {% else %}
            {% set email = (page ~ '.paEmail') | trans %}
        {% endif %}

        {% set infoText = contactMessage ~ ' <a href="mailto:' ~ email ~ '">' ~ email ~ '</a>' %}

        <div class="moj-banner">
            {{ macros.icon('information', 'moj-banner__icon') }}
            <div class="moj-banner__message">
                <span class="moj-banner__assistive">information</span>
                {{ contactMessage }} <a href="mailto:{{ email }}?subject=Update deputy details&body=Change details for: {{ client.getFullname }} ({{ client.caseNumber }})">{{email}}</a>
            </div>
        </div>

    </div>

</div>
