{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-prof-current-fees" %}
{% trans_default_domain translationDomain %}
{% set page = 'existPage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}


{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <div class="push--bottom">
        <div class="govuk-form-group flush--bottom {% if not form.currentProfPaymentsReceived.vars.valid %}govuk-form-group--error{% endif %}">
            {{ form_checkbox_group(form.currentProfPaymentsReceived, 'existPage.form.hasFees', {
                'useFormGroup': false,
                'fieldSetClass' : 'inline',
                'legendClass' : 'govuk-fieldset__legend--s text push-half--bottom',
                'items': [
                {},
                ],
                'formGroupClass': 'flush--bottom'
            }) }}

        </div>
    </div>

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
