{% extends 'AppBundle:Layouts:moj_template.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set adLoggedAsDeputy = app.session.get('_adId') %}
{% set adName = app.session.get('_adFirstname') ~ ' ' ~ app.session.get('_adLastname') %}


{% trans_default_domain "layout" %}

{% block topOfPage %}{% endblock %}

{% block head %}
    <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block htmlTitle %}Deputy Report{% endblock %}

{% block cookieMessage %}
    <p>
        GOV.UK uses cookies to make the site simpler.
        <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
    </p>
{% endblock %}


{% block headerClass %}{% endblock %}

{% block insideHeader %}{% endblock %}

{% block proposition_content %}
    {% if app.user %}
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    {% endif %}
    <nav id="proposition-menu">
        <a href="/" id="proposition-name">{% block proposition_title %}Complete the deputy report{% endblock %}</a>
        {% if app.user %}
            <ul id="proposition-links" class="behat-region-navbar">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_homepage') }}"  class="behat-link-admin-homepage">{% trans %}nav.adminArea{% endtrans %}</a></li>
                    <li><a href="{{ path('casrec_upload') }}">{% trans %}Upload{% endtrans %}</a></li>
                    <li><a href="{{ path('admin_pa_upload') }}" class="behat-link-admin-upload-pa">{% trans %}Upload PA{% endtrans %}</a></li>
                    <li><a href="{{ path('admin_stats') }}">{% trans %}Stats{% endtrans %}</a></li>
                    <li><a href="{{path('account_settings')}}" class="behat-link-user-account user-account-link"  >{{ 'nav.userAccount' | trans }}</a></li>
                {% endif %}

                {% if is_granted('ROLE_AD') %}
                    <li><a href="{{ path('ad_homepage') }}">{% trans %}nav.adArea{% endtrans %}</a></li>
                    <li><a href="{{ path('admin_homepage') }}">{% trans %}nav.adminArea{% endtrans %}</a></li>
                    <li><a href="{{path('account_settings')}}" class="behat-link-user-account user-account-link"  >{{ 'nav.userAccount' | trans }}</a></li>
                {% endif %}

                {% if is_granted('ROLE_LAY_DEPUTY') %}
                    {% if adLoggedAsDeputy %}
                        <li style="color: white">
                            Logged as {{  adName }} (Assisted Digital)</li>
                    {% endif %}
                    <li><a href="{{path('account_settings')}}" class="behat-link-user-account user-account-link"  >{{ 'nav.userAccount' | trans }}</a></li>
                    {% if (app.user.hasDetails() and app.user.numberOfReports > 0) %}
                        <li><a href="{{path('reports', {'type': '102' })}}" class="behat-link-reports reports-link"  >{{ 'nav.reports' | trans }}</a></li>
                    {% endif %}
                {% endif %}
                {% if app.user.isDeputyPa() %}
                    <li>
                        <a href="{{path('pa_dashboard')}}" class="behat-link-pa-dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{path('pa_settings')}}" class="behat-link-pa-settings">Settings</a>
                    </li>
                {% endif %}
                <li><a href="{{path('logout')}}" class="behat-link-logout">{% trans %}logout{% endtrans %}</a></li>


            </ul>
        {% endif %}
    </nav>
{% endblock %}

{% block afterHeader %}{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="{{ feedbackUrl }}">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    {% block breadcrumbs %}{% endblock %}

    {% block linkBack %}{% endblock %}

    {% block helpline %}
    <div class="helpline">
        <h3>Helpline<br/>
            {% if app.user and app.user.isDeputyPa() %}
                {% trans %}helplinePA{% endtrans %}
            {% else %}
                {% trans %}helpline{% endtrans %}
            {% endif %}
        </h3>
    </div>
    {% endblock %}

    {% block progressBar %}{% endblock %}

    {% block validationSummary %}
        {% if form is defined %}
            {{ form_errors_list(form) }}
        {% endif %}
    {% endblock %}


    {% block notification %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="push--top">
                {{ macros.notification('success', flashMessage) }}
            </div>
        {% endfor %}
    {% endblock %}


    <h1 class="{% block pageTitleClass %}heading-xlarge{% endblock %} text">
        {% block supportTitleTop %}{% endblock %}
        {% block pageTitle %} Deputy report {% endblock %}
        {% block supportTitleBottom %}{% endblock %}
    </h1>

    {% block pageContent %}{% endblock %}

{% endblock %}



{% block footerTop %}{% endblock %}

{% block footerSupportLinks %}
    <li>
        <a href="{{path('terms')}}">{% trans %}Terms and Conditions{% endtrans %}</a>
    </li>
    <li>
        <a href="https://www.gov.uk/help/cookies">{{'Cookies' | trans()}}</a>
    </li>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ 'javascripts/application.js'| assetUrl }}"></script>
{% endblock %}

{% block bodyEnd %}

    {% block popups %}
        {% include 'AppBundle:Components/Resources:_popups.html.twig' %}
    {% endblock %}

{% endblock %}
