{% block topOfPage %}{% endblock %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{% block htmlTitle %}Deputy report{% endblock %}</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["{{ 'stylesheets/fonts-ie8.css' | assetUrl }}"]},
       c="{{ 'javascripts/webfont-debug.js' | assetUrl }}",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->


    <!--[if lt IE 9]>
      <script src="{{ 'javascripts/ie.js' | assetUrl }}" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('images/apple-touch-icon-152x152.png') }}">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('images/apple-touch-icon-120x120.png') }}">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('images/apple-touch-icon-76x76.png') }}">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/apple-touch-icon-60x60.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ asset('images/opengraph-image.png') }}">

    {%  if report is defined %}
      <meta name="reportId" content="{{ report.id }}">

    {% endif %}

    {% block stylesheets %}{% endblock %}

    {% block head %}{% endblock %}

    <script src="{{ '/javascripts/jquery.min.js' | assetUrl }}" type="text/javascript"></script>
  </head>

  <body class="{% block bodyClasses %}{% endblock %}">
      {% if ga is defined and ga is not null %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ga}}', 'auto');
            {% if app.user %}
                ga('set', '&uid','{{app.user.gaTrackingId()}}');
            {% endif %}

            {% if gaCustomUrl is defined %}
                ga('send', 'pageview', '{{gaCustomUrl}}');
            {% else %}
                ga('send', 'pageview');
            {% endif %}
        </script>
       {% endif %}

    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <div class="outer-block">
        <div class="inner-block">


        {% block cookieMessage %}{% endblock %}


        </div>
      </div>
    </div>
    <!--end global-cookie-message-->


    <header role="banner" id="global-header" class="with-proposition {% block headerClass %}{% endblock %}">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/images/gov.uk_logotype_crown.png" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
            {% block insideHeader %}{% endblock %}

        </div>

        <div class="header-proposition">
          <div class="content">
           {% block proposition_content %}{% endblock %}
          </div>
        </div>


      </div>
    </header>
    <!--end header-->


    <!--[if lte IE 6]><script>document.body.className = document.body.className.replace('js-enabled','');</script><![endif]-->
    {% block afterHeader %}{% endblock %}


    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar"></div>
      </div>
    </div>
    <!--end global-header-bar-->


    {% block beforeContent %}{% endblock %}

    <div id="wrapper" class="group">
      <a name="content"></a>
      <main id="content" role="main">
       {% block content %}{% endblock %}
   </main>
    </div>

    <footer class="group js-footer" id="footer">

      <div class="footer-wrapper">
       {% block footerTop %}{% endblock %}

        <div class="footer-meta">
          <div class="footer-meta-inner">
            <h2 class="visuallyhidden">Support links</h2>
            <ul>
              {% block footerSupportLinks %}{% endblock %}

              <li>
                Built by
                  <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian">the Office of the Public Guardian</a>
              </li>
            </ul>


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              <p>v {{ opg_docker_tag }}</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    {% block javascripts %}{% endblock %}

    <!--<![endif]-->

    {% block bodyEnd %}{% endblock %}

  </body>
</html>
