{% extends 'AppBundle:Layouts:application.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'startPage.moneyOut.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.moneyOut.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <p class="text">
        {{ 'startPage.moneyOut.pageSectionDescription1' | trans({'%client%': report.client.firstname}, translationDomain) }}
    </p>

    <a href="{{ path('money_out_short_category', { 'reportId': report.id}) }}" class="button button-start behat-link-start">{{ 'startPage.moneyOut.startButton' | trans }}</a>

{% endblock %}
