{% extends '@App/Layouts/application.html.twig' %}
{% import '@App/Macros/macros.html.twig' as macros %}

{% trans_default_domain "admin-organisations" %}
{% if isEditView %}
    {% set page = 'editPage' %}
{% else %}
    {% set page = 'addPage' %}
{% endif %}

{% set navSection = 'organisations' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block supportTitleTop %}
    <span class="govuk-caption-xl">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbsArray([
        { href: url('admin_homepage'), text: 'Admin' },
        { href: url('admin_organisation_homepage'), text: 'Organisations' },
        { text: (isEditView ? organisation.name : 'Add organisation') }
    ]) }}
{% endblock %}

{% block pageContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_input(form.name, 'form.name', {
        'labelClass': 'govuk-label--m'
    }) }}

    {% if not isEditView %}
        {% set emailIdentifierDomain %}
            {{ form_input(form.emailDomain, 'form.emailDomain', { inputPrefix: '@' }) }}
        {% endset %}

        {% set emailIdentifierAddress %}
            {{ form_input(form.emailAddress, 'form.emailAddress') }}
        {% endset %}

        {{ form_checkbox_group(form.emailIdentifierType, 'form.emailIdentifierType', {
            legendClass: 'govuk-fieldset__legend--m',
            items: [
                { conditional: emailIdentifierDomain },
                { conditional: emailIdentifierAddress, description: ('form.emailIdentifierType.domainHint' | trans) },
            ]
        }) }}
    {% endif %}

    {{ form_checkbox_group(form.isActivated, 'form.isActivated', {
        'legendClass': 'govuk-fieldset__legend--m'
    }) }}

    {{ form_submit(form.save, 'form.save') }}

    {{ form_end(form) }}

{% endblock %}
