{% set view = report.getClientBenefitsCheckReviewView %}
{% set l10n = view.l10n %}
{% set table1 = view.table1 %}
{% set table2 = view.table2 %}
{% set hasTable2 = view.hasTable2 %}

<h2 class="govuk-heading-m">
    {{ l10n.header | trans(transOptions, transDomain) }}
</h2>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title govuk-!-width-one-half">
            {{ l10n.question | trans(transOptions, transDomain) }}
        </h3>
        <h3 class="govuk-summary-card__title govuk-!-width-one-half">
            {{ l10n.answer | trans(transOptions, transDomain) }}
        </h3>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            {% for row in table1.rows %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        {{ row.cells.0.content | trans(transOptions, transDomain) }}
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-width-one-half">
                        {{ row.cells.1.content | trans(transOptions, transDomain) }}
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>
</div>

{% if hasTable2 %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title govuk-!-width-full">
                {{ l10n.table2Header | trans(transOptions, transDomain) }}
            </h3>
        </div>
        <div class="govuk-summary-card__content">
            <table class="govuk-table">
                {% if table2.header is not null %}
                    <thead>
                        <tr class="govuk-table__row">
                            {% for cell in table2.header.cells %}
                                <th scope="col" class="{{ cell.classNames }}">{{ cell.content | trans(transOptions, transDomain) }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                <tbody class="govuk-table__body">
                    {% for row in table2.rows %}
                        <tr class="govuk-table__row">
                            {% for cell in row.cells %}
                                {% if cell.header %}
                                    <th scope="row" class="{{ cell.classNames }}">
                                        {{ cell.content }}
                                    </th>
                                {% else %}
                                    <td class="{{ cell.classNames }}">
                                        {{ cell.content  | trans(transOptions, transDomain) }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
