<h2 class="govuk-heading-m">{{ ('startPage.pageTitle') | trans(transOptions,transDomain) }}</h2>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title govuk-!-width-one-half">
            Question
        </h3>
        <h3 class="govuk-summary-card__title govuk-!-width-one-half">
            Answer
        </h3>
    </div>

    <div class="govuk-summary-card__content">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">
                    {{ ('existPage.form.paidForAnything.label') | trans(transOptions,transDomain) }}
                </th>
                <td class="govuk-table__cell govuk-!-width-one-half">
                    {{ report.paidForAnything | capitalize }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% if report.paidForAnything == 'yes' and report.expenses | length > 0 %}
{% set total = 0 %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">
                List of expenses
            </h3>
        </div>

        <div class="govuk-summary-card__content">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">
                            {{ ('form.explanation.label') | trans(transOptions,transDomain) }}
                        </th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">
                            {{ ('form.amount.label') | trans(transOptions,transDomain) }}
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for expense in report.expenses %}
                        {% set total = total + expense.amount %}

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-!-width-two-thirds">
                                {{ expense.explanation }}
                            </td>
                            <td class="govuk-table__cell govuk-!-width-one-third">
                                &pound;{{ expense.amount | money_format }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header govuk-!-width-two-thirds">
                            Total amount
                        </td>
                        <td class="govuk-table__header govuk-!-width-one-third">
                            &pound;{{ total | money_format }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
