{% set text = view.text %}
{% set list = view.list %}

<h2 class="govuk-heading-m">
    {{ text.header }}
</h2>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title govuk-!-width-one-half">
            {{ text.question }}
        </h3>
        <h3 class="govuk-summary-card__title govuk-!-width-one-half">
            {{ text.answer }}
        </h3>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            {% for entry in list.entries %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        {{ entry.key }}
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-width-one-half">
                        {{ entry.value }}
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>
</div>
