{% extends '@App/Layouts/application.html.twig' %}

{% from '@App/Macros/macros.html.twig' import details %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}

{% set page = 'checklistPage' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block pageContent %}
    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ 'client' | trans({}, 'common') }}:
            </dt>
            <dd class="govuk-summary-list__value behat-region-fullName">
                {{ report.client.fullName }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ 'courtOrderNumber' | trans({}, 'common') }}:
            </dt>
            <dd class="govuk-summary-list__value behat-region-case-number">
                {{ report.client.caseNumber }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ 'reportType' | trans({}, 'common') }}:
            </dt>
            <dd class="govuk-summary-list__value behat-region-report-type-title">
                {{ ('reportTitles.' ~ report.reportTitle) | trans({}, 'report') }}
            </dd>
        </div>
        {% if report.client.deletedAt %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ 'dischargedOn' | trans({}, 'common') }}:
                </dt>
                <dd class="govuk-summary-list__value behat-region-discharged-on">
                    {{ report.client.deletedAt | date("j M Y") }}
                </dd>
            </div>
        {% endif %}
    </dl>

    <a name="anchor-lodging-checklist"></a>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-l govuk-!-margin-top-6">{{ 'checklistPage.heading.lodging.title' | trans }}</h2>
    <hr class="govuk-section-break govuk-section-break--xl govuk-!-margin-top-1 govuk-section-break--visible">

    <div class="govuk-grid-row behat-region-lodging-checklist">
        <div class="govuk-grid-column-two-thirds">
            {# Attached documents #}
            {% if report.deputyDocuments is defined and (report.deputyDocuments is not empty) %}
                {% include '@App/Admin/Client/Report/partials/_document-summary.html.twig' %}
            {% endif %}

            {{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-checklist-form' }}) }}

            {# Deputy and client information #}
            {% include '@App/Admin/Client/Report/partials/_deputy-and-client-info.html.twig' %}

            {# Decisions made over the reporting period #}
            {% include '@App/Admin/Client/Report/partials/_decisions-made.html.twig' %}

            {# People consulted #}
            {% include '@App/Admin/Client/Report/partials/_people-consulted.html.twig' %}

            {# Contact with client, care arrangements and care plan #}
            {% include '@App/Admin/Client/Report/partials/_contact-with-client.html.twig' %}

            {# Health & Lifestyle #}
            {% if form.satisfiedWithHealthAndLifestyle is defined %}
                {% include '@App/Admin/Client/Report/partials/_health-and-lifestyle.html.twig' %}
            {% endif %}

            {# Assets and debts #}
            {% if form.assetsDeclaredAndManaged is defined %}
                {% include '@App/Admin/Client/Report/partials/_assets-and-debts.html.twig' %}
            {% endif %}

            {# Client benefits check #}
            {% if form.clientBenefitsChecked is defined %}
                {% include '@App/Admin/Client/Report/partials/_client-benefits-check.html.twig' %}
            {% endif %}

            {# Money transfers, Money in and money out #}
            {% if form.openClosingBalancesMatch is defined %}
                {% include '@App/Admin/Client/Report/partials/_money-in-and-out.html.twig' %}
            {% endif %}

            {# PA fees and expenses #}
            {% if form.satisfiedWithPaExpenses is defined %}
                {% include '@App/Admin/Client/Report/partials/_pa-fee-expenses.html.twig' %}
            {% endif %}

            {# Bonds #}
            {% if form.bondAdequate is defined %}
                {% include '@App/Admin/Client/Report/partials/_bonds.html.twig' %}
            {% endif %}

            {# Deputy costs #}
            {% if form.paymentsMatchCostCertificate is defined %}
                {% include '@App/Admin/Client/Report/partials/_prof-deputy-costs.html.twig' %}
            {% endif %}

            {# Deputy costs estimates #}
            {% if form.nextBillingEstimatesSatisfactory is defined %}
                {% include '@App/Admin/Client/Report/partials/_prof-deputy-costs-estimate.html.twig' %}
            {% endif %}

            {# Next reporting period #}
            {% include '@App/Admin/Client/Report/partials/_next-reporting-period.html.twig' %}

            {# Declaration #}
            {% include '@App/Admin/Client/Report/partials/_declaration.html.twig' %}

            <a name="anchor-lodging-summary"></a>
            {{ form_input(form.lodgingSummary, (page ~ '.form.lodgingSummary'), {
                formGroupClass: 'js-auto-size',
                labelClass: 'govuk-label--m',
                inputClass: 'govuk-!-width-full',
                hasHintList: true,
            }) }}

            {{ form_checkbox_group(form.finalDecision, (page ~ '.form.finalDecision'), {
                classes: 'govuk-radios--small',
                legendClass: 'govuk-fieldset__legend--m',
            }) }}

            <a name="anchor-further-information"></a>
            {{ form_input(form.furtherInformationReceived, (page ~ '.form.furtherInformation'), {
                formGroupClass: 'js-auto-size',
                labelClass: 'govuk-label--m',
                inputClass: 'govuk-!-width-full',
            }) }}

            {% set contents %}
                {{ include('@App/Admin/Client/Report/partials/_further-information-table.html.twig', {
                    information: checklist.checklistInformation
                }) }}
            {% endset %}

            {{ details({
                summaryText: (page ~ '.furtherInfo.history') | trans({ '%count%': checklist.checklistInformation | length }),
                text: contents,
            }) }}

            {{ form_submit(form.saveFurtherInformation, (page ~ '.form.saveFurtherInformation'), {
                buttonClass: 'govuk-button--secondary behat-link-save-further-information'
            }) }}

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            {{ form_submit(form.save, (page ~ '.form.save'), {
                buttonClass: 'govuk-button--secondary behat-link-save-progress'
            }) }}

            {{ form_submit(form.submitAndContinue, (page ~ '.form.submitAndContinue'), {
                buttonClass: 'behat-link-submit-and-continue'
            }) }}

            {{ form_end(form) }}
        </div>
        {% if checklist.submittedOn and checklist.finalDecision == 'for-review' %}
            <div class="govuk-grid-column-one-third opg-sticky-menu">
                {% include '@App/Admin/Client/Report/sidebar/_statuses.html.twig' with {checklistDomain: 'lodging', syncStatus: syncStatus} %}
                {% include '@App/Admin/Client/Report/sidebar/_fullReview.html.twig' %}
                {% include '@App/Admin/Client/Report/sidebar/_backToTopLinks.html.twig' with {checklistDomain: 'lodging'} %}
            </div>
        {% else %}
            <div class="govuk-grid-column-one-third opg-sticky-menu">
                {% include '@App/Admin/Client/Report/sidebar/_statuses.html.twig' with {checklistDomain: 'lodging', syncStatus: syncStatus} %}
                {% include '@App/Admin/Client/Report/sidebar/_lodging.html.twig' %}
                {% include '@App/Admin/Client/Report/sidebar/_backToTopLinks.html.twig' with {checklistDomain: 'lodging'} %}
            </div>
        {% endif %}

    </div>

    {% if checklist.submittedOn and checklist.finalDecision == 'for-review' %}
        {% include '@App/Admin/Client/Report/fullReviewChecklist.html.twig' with {form: reviewForm, checklist: reviewChecklist} %}
    {% endif %}

{% endblock %}
