{%- macro checklist_radios(form, options) -%}
    {%- set name = options.name is defined ? options.name : form.vars.name -%}
    {%- set margin = options.margin is defined ? options.margin : 1 -%}

    <div
        id="form-group-{{ form.vars.id }}"
        class="govuk-form-group {% if not form.vars.valid %}govuk-form-group--error{% endif %} govuk-!-margin-bottom-{{ margin }}"
    >
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-hint">
                <strong>{{ ('checklistPage.form.' ~ name ~ '.qid') | trans({}, form.vars.translation_domain) }}</strong>
                <h3 class="govuk-fieldset__heading">
                    {{ ('checklistPage.form.' ~ name ~ '.label') | trans({}, form.vars.translation_domain) }}
                </h3>
            </legend>

            {{ form_errors(form) }}

            <div class="govuk-radios govuk-radios--small{% if form|length < 3 %} govuk-radios--inline{% endif %}">
                {%- for child in form %}
                    <div class="govuk-radios__item">
                        {{ form_widget(child, {'attr': {'class': 'govuk-radios__input'}}) }}
                        <label class="govuk-label govuk-radios__label" for="{{ child.vars.id }}">
                            {{ child.vars.label | trans({}, form.vars.choice_translation_domain)}}
                        </label>
                    </div>
                {% endfor -%}
            </div>
        </fieldset>
    </div>
{%- endmacro -%}

{%- macro checklist_checkbox(form, options) -%}
    {%- set margin = options.margin is defined ? options.margin : 1 -%}

    <div
        id="form-group-{{ form.vars.id }}"
        class="govuk-form-group {% if not form.vars.valid %}govuk-form-group--error{% endif %} govuk-!-margin-bottom-{{ margin }}"
    >
        <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-hint">
                <strong>{{ ('checklistPage.form.' ~ form.vars.name ~ '.qid') | trans({}, form.vars.translation_domain) }}</strong>
            </div>

            {{ form_errors(form) }}

            <div class="govuk-checkboxes__item">
                {{ form_widget(form, {'attr': {'class': 'govuk-checkboxes__input'}}) }}
                <label class="govuk-label govuk-checkboxes__label" for="{{ form.vars.id }}">
                    {{ ('checklistPage.form.' ~ form.vars.name ~ '.label') | trans({}, form.vars.translation_domain) }}
                </label>
            </div>
        </div>
    </div>
{%- endmacro -%}
