{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% trans_default_domain "admin-clients" %}
{% set page = 'reportManage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    <p class="flush--bottom">{{ 'client' | trans({}, 'common') }}: <span class="govuk-!-font-weight-bold">{{ report.client.fullName }}</span></p>
    <p class="govuk-body">{{ 'courtOrderNumber' | trans({}, 'common') }}: <span class="govuk-!-font-weight-bold">{{ report.client.caseNumber }}</span></p>

    {% if report.isSubmitted %}
        <p class="govuk-body">{{ (page ~ '.form.confirmation.submittedGuidance') | trans }}</p>
    {% else %}
        <p class="govuk-body">{{ (page ~ '.form.confirmation.activeGuidance') | trans }}</p>
    {% endif %}

    {{ form_start(form, {attr: {novalidate: 'novalidate', id: 'create-report-form' }}) }}

    <table class="push--bottom behat-region-report-review">
        <thead>
            <tr>
                <td>{{ (page ~ '.form.type.label') | trans }}</td>
                <td>{{ submitted.type }}</td>
                <td>
                    <a href="{{ url('admin_report_manage', { 'id': report.id, 'data': submitted }) }}">
                        {{ (page ~ '.form.confirmation.edit') | trans }}
                    </a>
                </td>
            </tr>
            {% if report.isSubmitted %}
                <tr>
                    <td>{{ (page ~ '.form.startDate.label') | trans }}</td>
                    <td>{{ submitted.startDate | date("j F Y")  }}</td>
                    <td>
                        <a href="{{ url('admin_report_manage', { 'id': report.id, 'data': submitted }) }}">
                            {{ (page ~ '.form.confirmation.edit') | trans }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{ (page ~ '.form.endDate.label') | trans }}</td>
                    <td>{{ submitted.endDate | date("j F Y")  }}</td>
                    <td>
                        <a href="{{ url('admin_report_manage', { 'id': report.id, 'data': submitted }) }}">
                            {{ (page ~ '.form.confirmation.edit') | trans }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{ (page ~ '.form.markSections.label') | trans }}</td>
                    <td>
                        {% for section in submitted.unsubmittedSectionsList | split(',') %}
                            {{ ('prevNextLinks.sections.' ~ section) | trans({}, 'report-common') }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url('admin_report_manage', { 'id': report.id, 'data': submitted }) }}">
                            {{ (page ~ '.form.confirmation.edit') | trans }}
                        </a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ (page ~ '.form.dueDateChoice.label') | trans }}</td>
                <td>{{ submitted.dueDate | date("j F Y") }}</td>
                <td>
                    <a href="{{ url('admin_report_manage', { 'id': report.id, 'data': submitted }) }}">
                        {{ (page ~ '.form.confirmation.edit') | trans }}
                    </a>
                </td>
            </tr>
        </thead>
    </table>

    {% if report.isSubmitted %}
        <div class="push--bottom">
            {{ form_checkbox_group(form.confirm, (page ~ '.form.confirmation'), {
                'fieldSetClass' : 'inline',
                'legendClass' : 'govuk-fieldset__legend--s text',
                'formGroupClass': 'flush--bottom'
            }) }}
        </div>
    {% endif %}

    {{ form_submit(form.save, 'reportManage.form.confirm') }}

    {{ form_end(form) }}

{% endblock %}
