{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-money-transfers" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'existPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'existPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'existsPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <div class="form-section push--bottom">
        {{ form_checkbox_group(form.hasDebts, 'existPage.form.exist', {
            'fieldSetClass' : 'inline',
            'legendClass' : 'form-label-bold text',
            'legendText' : 'existPage.form.exist.label' | trans(transOptions, translationDomain),
            'formGroupClass': 'flush--bottom'
        }) }}
    </div>

    {{ form_submit(form.save,'existPage.form.save') }}

    {{ form_end(form) }}

{% endblock %}
