{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-debts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <p class="text">
         {{ 'summaryPage.pageContent.weAskAbout' | trans(transOptions) }}
    </p>

    <h2 class="heading-small">{{ 'summaryPage.pageContent.weHaveListed' | trans(transOptions, 'common') }}</h2>

    <p class="text">{{ 'summaryPage.pageContent.checkCorrect' | trans(transOptions, 'common') }}</p>

    <p class="text--right flush--bottom">
        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="bold-small">Return to Report Overview</a>
    </p>

    <table class="check-your-answers push-double--bottom">
        <thead>
            <tr>
                <th class="border--thicker">Question</th>
                <th class="border--thicker">Answer</th>
                <th class="border--thicker">
                    <span class="visuallyhidden">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ 'existPage.form.exist.label' | trans(transOptions) }}
                </td>
                <td>
                    {{ report.hasDebts == 'yes' ? 'Yes': 'No' }}
                </td>
                <td class="change-answer">
                    <a href="{{ path('debts_exist', {'reportId': report.id, 'from': 'summary'}) }}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    {% if report.hasDebts == 'yes' %}

        <div class="border--thicker">
            <div class="grid-row">
                <div class="column-half">
                    <h2 class="heading-medium flush--ends">List of debts</h2>
                </div>
                <div class="column-half text--right">
                    <a href="{{ path('debts_edit', {'reportId': report.id, 'from': 'summary'}) }}" class="bold-small">Edit</a>
                </div>
            </div>
        </div>

        <table class="check-your-answers">
            <thead>
                <tr>
                    <th>Description</th>
                    <th class="numeric">Amount</th>
                </tr>
            </thead>
            <tbody>
            {% for debt in report.debts %}
                <tr>
                    <td> {{ ('form.entries.' ~ debt.debtTypeId ~ '.label') | trans(transOptions) }}</td>
                    <td class="numeric-small">£{{ debt.amount | money_format }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="no-border">
                    <span class="bold-small">Total amount</span>
                </td>
                <td class="no-border text--right">
                    <span class="bold-small">£7,800.00</span>
                </td>
            </tr>
            </tbody>
        </table>

        {% set debtOther = report.getDebtById('other') %}
        {% if debtOther.moreDetails %}
            <table class="check-your-answers push--top">
                <thead>
                    <tr>
                        <th class="border--thicker">Question</th>
                        <th class="border--thicker">Answer</th>
                        <th class="border--thicker">
                            <span class="visuallyhidden">Actions</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ 'summaryPage.moreAbout' | trans(transOptions | merge({'%amount%': debtOther.amount })) }}</td>
                        <td>{{ debtOther.moreDetails | nl2br }}</td>
                        <td class="change-answer">
                            <a href="{{ path('debts_edit', {'reportId': report.id, 'from': 'summary'}) }}">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {% include 'AppBundle:Components:nextprevious.html.twig' with {
    'previousLink': path("assets" , {'reportId': report.id }),
    'previousLabel': 'Assets',
    'nextLink': path("actions" , {'reportId': report.id }),
    'nextLabel': 'Actions'
    } %}

{% endblock %}
