{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-debts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% set hideEditLink = hideEditLink | default(false) %}

{# Page Titles #}
{% block htmlTitle %}{{ 'startPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'startPage.pageTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="grid-row">
        <div class="column-two-thirds">
            {# Introduction text #}
            <p class="text">
                 {{ 'summaryPage.weAskAbout' | trans(transOptions) }}
            </p>

            {# Check answers text #}
            <h2 class="heading-small">{{ 'weHaveListed' | trans(transOptions, 'common') }}</h2>
            <p class="text">{{ 'checkCorrect' | trans(transOptions, 'common') }}</p>

            {# Missing questions alerts #}
            {% if status.debtsState.state != 'done' and comingFromLastStep%}
                {{ macros.notification('notice', 'remindComplete' | trans(transOptions, 'common')) }}
            {% endif %}

            {% if status.debtsState.state != 'done' and not comingFromLastStep%}
                {{ macros.notification('notice', 'canYouAnswer' | trans(transOptions, 'common')) }}
            {% endif %}
        </div>
        <div class="column-third">
            {{ macros.relatedSections(report, 'debts') }}
        </div>
    </div>

    {# Questions and answers table #}
    {% include 'AppBundle:Report/Debt:_answers.html.twig' %}

    {# Pagination #}
    {% include 'AppBundle:Report:_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'debts',
    } %}

{% endblock %}
