{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "ndr-declaration" %}
{% set standardsLink = app.user.getStandardsLink %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li>
                <a href="{{ path('homepage') }}">{{ 'yourReports' | trans({'deputyFirstname': app.user.firstname, 'deputyLastname': app.user.lastname}, 'common' ) }}</a>
            </li>
            <li>
                <a href="{{ path('ndr_overview', {'ndrId': ndr.id}) }}"
                   class="behat-link-breadcrumbs-ndr-overview" data-action="report.overview">
                    {{ 'newDeputyReportOverview' | trans({}, 'common' ) }}
                </a>
            </li>
            <li>
                <a href="{{ path('ndr_review', {'ndrId': ndr.id}) }}"
                   class="behat-link-breadcrumbs-ndr-review" data-action="report.overview">
                    {{ 'reviewReport' | trans({}, 'common' ) }}
                </a>
            </li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}

    <div class="text">
        <p class="govuk-body">{{ 'page.descriptionPara01' | trans }}</p>
        <p class="govuk-body">{{ 'page.descriptionPara02' | trans }}</p>
        <p class="govuk-body">{{ 'page.descriptionPara03' | trans }}</p>
        <p class="govuk-body">{{ 'page.descriptionPara04.pre' | trans }}
            <a href= '{{ standardsLink }}' class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'page.descriptionPara04.link' | trans }}</a>
            {{ 'page.descriptionPara04.post' | trans }}
        </p>
    </div>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {{ form_checkbox(form.agree, 'agree', { 'labelClass': 'required' }) }}

    <div
        class="govuk-form-group push-half--bottom {% if not form.agreedBehalfDeputy.vars.valid %}govuk-form-group--error{% endif %}">
        {{ form_checkbox_group(form.agreedBehalfDeputy, 'agreedBehalfDeputy', {
            'useFormGroup': false,
            'fieldSetClass' : 'radio-agreed-behalf-deputy',
            'legendClass' : 'govuk-label--s',
            'items': [
                {},
                {},
                {'dataTarget': 'agreed-behalf-deputy-explanation-section' }
            ]
        }) }}

        <div id="agreed-behalf-deputy-explanation-section" class="opg-indented-block js-hidden">
            {{ form_input(form.agreedBehalfDeputyExplanation,'agreedBehalfDeputyExplanation') }}
        </div>

    </div>

    <div class="push--top">
        {{ macros.notification('important', 'unableToEditAfterSubmission' | trans) }}
    </div>

    <div class="govuk-form-group push-half--top">
        {{ form_submit(form.save,'save') }}
    </div>

    {{ form_end(form) }}

{% endblock %}
