{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% set isLayDeputy = not app.user.isDeputyOrg %}

{% if ndr.submitted == false %}
    {% if not ndrStatus.isReadyToSubmit %}
        {% set preview = true %}
        {% set page = 'ndr-preview' %}
    {% else %}
        {% set preview = false %}
        {% set page = 'ndr-review' %}
    {% endif %}
{% else %}
    {% set preview = false %}
    {% set page = 'ndr-submitted' %}
{% endif %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="{{ 'stylesheets/formatted-report.css' | assetUrl }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumbs %}
    {% if ndr.submitted == true %}
        <a id="back-to-reports" href="{{ backLink }}"
           class="govuk-link link-back behat-link-back-to-reports">{{ 'back' | trans({}, 'common' ) }}
        </a>
    {% else %}
        {{ macros.breadcrumbs(ndr, isMultiClientDeputy) }}
    {% endif %}
{% endblock %}

{% block pageContent %}


    <div class="push--bottom">
        {% if ndr.submitted == false %}
            <p class="govuk-body">{{ (page ~ '.para1') | trans() }}</p>
            <p class="govuk-body">{{ (page ~ '.para2') | trans() }}</p>
        {% endif %}

        {% include '@App/Ndr/Ndr/_review_buttons.html.twig' %}

    </div>

    <div>
        <span class="opg-text--secondary">{{ 'pdfDraftSentence' | trans() }}</span>
        {% include '@App/Ndr/Ndr/_pdf_download_link.html.twig' %}
    </div>


    <div class="push--bottom">
        <div class="opg-border--secondary">
            {% include '@App/Ndr/Formatted/formatted_body.html.twig' %}
        </div>
    </div>

    <div class="govuk-!-padding-bottom-5">
        {% include '@App/Ndr/Ndr/_pdf_download_link.html.twig' %}
    </div>


    {% include '@App/Ndr/Ndr/_review_buttons.html.twig' %}


{% endblock %}
