{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-documents" %}
{% set page = "attachPage" %}

{% trans_default_domain translationDomain %}

{# Page Titles #}
{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'pageTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <h2 class="heading-medium">{{ (page ~ '.selectHeading') | trans }}</h2>

    <div class="text">
        <p>{{ (page ~ '.selectHelp') | trans }}</p>
        <p>{{ (page ~ '.selectHint') | trans }}</p>
    </div>

    {{ form_start(form, {'attr': {'id': 'upload_form', 'class': 'push-double--bottom'}}) }}
    {{ form_input(form.files,'form.files', {
        'labelText':  '' | trans ,
        'labelClass': 'visually-hidden',
        'inputClass': 'no-border behat-link-choose-file' })
    }}

    <h2 class="heading-medium flush--top">{{ (page ~ '.uploadHeading') | trans }}</h2>

    <div class="js-hidden">
        {{ macros.notification('info', (page ~ '.uploadHint') | trans) }}
    </div>

    {{ form_submit(form.save, '', {'buttonClass': 'behat-link-attach-file js-uploading', 'labelText': 'form.submitButton' | trans}) }}

    {% set alertMessage %}
        <p>{{ (page ~ '.pleaseWait') | trans }}</p>
        <p>{{ (page ~ '.uploadHint') | trans }}</p>
    {% endset %}
    <div id="upload-progress" class="hidden">
        {{ macros.notification('loader', alertMessage) }}
    </div>

    {{ form_end(form) }}

    {% if report.isSubmitted %}
        {% include 'AppBundle:Report/Document:_list_submitted.html.twig'  with {
        'documents': report.submittedDocuments,
        'translationDomain': translationDomain,
        'page' : page,
        } %}
    {% elseif report.documents | length > 0 %}
        {% include 'AppBundle:Report/Document:_list.html.twig'  with {
        'translationDomain': translationDomain,
        'page' : page
        } %}
        <a href="{{ nextLink }}" class="button push--top behat-link-continue">{{ 'continue' | trans({}, 'common' ) }}</a>
    {% endif %}

{% endblock %}
