{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-documents" %}
{% set page = "attachPage" %}

{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'stepPage.pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <h2 class="heading-medium">{{ (page ~ '.step1Heading') | trans }}</h2>

    <div class="govuk-inset-text">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ (page ~ '.selectHint1') | trans }}
                <p>{{ (page ~ '.selectHint2') | trans }}</p>
            </div>
        </div>
    </div>

    {% if step == 1 %}
        <div class="form-section push--bottom">
            <div class="form-group flush--bottom {% if not form.wishToProvideDocumentation.vars.valid %}form-group-error{% endif %}">
                {{ form_checkbox_group(form.wishToProvideDocumentation, 'form.wishToProvideDocumentation', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'legendClass' : 'form-label-bold'
                }) }}
            </div>
        </div>

    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
