{% block confirm_form_widget %}
    {% spaceless %}
        {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
        {% if warning %}
            <div class="alert alert-danger">
                {{ warning }}
            </div>
        {% endif %}
        <div id="confirm-form">
            {{ form(form) }}
            &nbsp;&nbsp;
            <a href="{{ cancel_url }}">{{ cancel_link_text }}</a>
        </div>
    {% endspaceless %}
{% endblock %}
