{% set translationDomain = "client-profile" %}
{% trans_default_domain translationDomain %}
{% set page = "clientContacts" %}

<details class="panel panel-admin hard behat-region-client-profile-contacts">

    <summary class="panel-heading flush--bottom">
        <span class="summary heading-medium">{{ (page ~ '.heading') | trans }}</span>
    </summary>

    <div class="panel-body soft-half">

        <a href="{{ path('clientcontact_add', {'clientId': report.client.id}) }}" class="bold-small action-link right behat-link-add-contact-button">
            <span class="icon icon-plus"></span>
            {{ (page ~ '.addContact') | trans }}
        </a>

        {% if contacts %}

            <table>
                <thead>
                    <th>{{ (page ~ '.contactName') | trans }}</th>
                    <th>{{ (page ~ '.organisation') | trans }}</th>
                    <th>{{ (page ~ '.contactInfo') | trans }}</th>
                    <th><span class="visually-hidden">Actions</span></th>
                </thead>

                <tbody>
                 {% for contact in contacts %}
                    <tr class="align--top dont-break-out">
                        <td class="width-quarter">
                            <dl>
                                <dt class="visually-hidden">{{ 'name' | trans({}, 'common') }}</dt>
                                <dd>
                                    <strong class="bold">{{ contact.firstName }} {{ contact.lastName }}</strong>
                                </dd>
                                {% if contact.jobTitle != "" %}
                                    <dt class="visually-hidden">{{ 'role' | trans({}, 'common') }}</dt>
                                    <dd>{{ contact.jobTitle }}</dd>
                                {% endif %}
                            </dl>
                        </td>
                        <td class="width-third">
                            {% if
                                contact.orgName == "" and
                                contact.address1 == "" and
                                contact.address2 == "" and
                                contact.address3 == "" and
                                contact.addressPostcode == "" and
                                contact.addressCountry == ""
                            %}
                                -
                            {% else %}
                                <dl>
                                    <dt class="visually-hidden">{{ 'address' | trans({}, 'common') }}</dt>
                                    <dd>
                                        {% if contact.orgName %}
                                            {{ contact.orgName }}<br/>
                                        {% endif %}
                                        {% if contact.address1 %}
                                            {{ contact.address1 }}<br/>
                                        {% endif %}
                                        {% if contact.address2 %}
                                            {{ contact.address2 }}<br/>
                                        {% endif %}
                                        {% if contact.address3 %}
                                            {{ contact.address3 }}<br/>
                                        {% endif %}
                                        {% if contact.addressPostcode %}
                                            {{ contact.addressPostcode }}<br/>
                                        {% endif %}
                                        {% if contact.addressCountry %}
                                            {{ contact.addressCountry }}
                                        {% endif %}
                                    </dd>
                                </dl>
                            {% endif %}
                        </td>
                        <td class="width-third">
                            {% if contact.phone == "" and contact.email == "" %}
                                -
                            {% else %}
                                <dl>
                                    <dt>
                                        <strong class="bold">{{ 'phone' | trans({}, 'common') }}</strong>
                                    </dt>
                                    <dd class="push--bottom">
                                        {% if contact.phone == "" %}-{% else %}{{ contact.phone }}{% endif %}
                                    </dd>
                                    <dt>
                                        <strong class="bold">{{ 'email' | trans({}, 'common') }}</strong>
                                    </dt>
                                    <dd>{% if contact.email == "" %}-{% else %}{{ contact.email }}{% endif %}</dd>
                                </dl>
                            {% endif %}
                        </td>
                        <td class="width-eighth text--right hard--right">
                            <a href="{{ path('clientcontact_edit'  , {'id': contact.id}) }}" class="behat-link-edit-contact-button">{{ 'edit' | trans({}, 'common') }}</a>
                            <a href="{{ path('clientcontact_delete', {'id': contact.id}) }}" class="behat-link-delete-contact-button">{{ 'remove' | trans({}, 'common') }}</a>
                        </td>

                    </tr>
                 {% endfor %}
                </tbody>
            </table>

        {% else %}

            <p>{{ (page ~ '.noContacts') | trans }}</p>

        {% endif %}
    </div>

</details>
