{% set translationDomain = "report-balance" %}
{% trans_default_domain translationDomain %}
{% set showBalanceCalculations = report.status.bankAccountsState['state'] != 'not-started' %}

{% set transOptions = {
    '%client%': report.client.firstname | striptags,
    '%moreless%': report.totalsOffset < 0 ? "less" : "more"
} %}

{% set hideEditLink = hideEditLink | default(false) %}

<h3 class="govuk-heading-m">{{ 'balanceTable.heading' | trans }}</h3>

<table>
    <thead>
        <tr>
            <th>{{ 'section' | trans({}, 'common') }}</th>
            <th class="numeric">{{ 'in' | trans({}, 'common') }}</th>
            <th class="numeric">{{ 'out' | trans({}, 'common') }}</th>
            <th class="numeric">{{ 'balance' | trans({}, 'common') }}</th>
            {% if not hideEditLink %}
                <th>
                    <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        <!-- SOME STARTED -->
        {% set partialBalance = 0 %}

        {# BANK ACCOUNTS #}
        {% set started = report.status.bankAccountsState['state'] != 'not-started' %}
        <tr>
            <td class="width-half">
                {{ 'balanceTable.accountsOpeningBalance' | trans }}
                {% if started %}
                    ({{ report.startDate | date("j F Y") }})
                {% endif %}
            </td>
            <td colspan="2"></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance + report.accountsOpeningBalanceTotal %}
                    £{{ partialBalance | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="numeric width-twentieth">
                    <a href="{{ path('bank_accounts', {'reportId': report.id}) }}" class="govuk-!-font-weight-bold">
                        {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                    </a>
                </td>
            {% endif %}
        </tr>


        {% if report.hasSection('deputyExpenses') %}
            {# DEPUTY EXPENSES (LAY) #}
            {% set started = report.status.expensesState['state'] != 'not-started'%}
            <tr>
                <td>{{ 'balanceTable.deputyExpenses' | trans }}</td>
                <td></td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        £{{ report.expensesTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        {% set partialBalance = partialBalance - report.expensesTotal %}
                        £{{ partialBalance  | money_format }}
                    {% endif %}
                </td>
                {% if not hideEditLink  %}
                    <td class="numeric">
                        <a href="{{ path('deputy_expenses', {'reportId': report.id}) }}" class="govuk-!-font-weight-bold">
                            {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endif %}

        {% if report.hasSection('paDeputyExpenses') %}
            {# FEES/EXPENSES (PA) #}
            {% set started = report.status.paFeesExpensesState['state'] != 'not-started' %}
            {% set feesAndExpensesTotal = report.feesTotal + report.expensesTotal %}
            <tr>
                <td>{{ 'balanceTable.paDeputyExpenses' | trans }}</td>
                <td></td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        £{{ feesAndExpensesTotal | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        {% set partialBalance = partialBalance - feesAndExpensesTotal %}
                        £{{ partialBalance  | money_format }}
                    {% endif %}
                </td>
                {% if not hideEditLink  %}
                    <td class="numeric">
                        <a href="{{ path('pa_fee_expense', {'reportId': report.id}) }}" class="govuk-!-font-weight-bold">
                            {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endif %}

        {# GIFTS #}
        {% set started = report.status.giftsState['state'] != 'not-started' %}
        <tr>
            <td>{{ 'balanceTable.gifts' | trans }}</td>
            <td></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    £{{ report.giftsTotalValue | money_format }}
                {% endif %}
            </td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance - report.giftsTotalValue %}
                    £{{ partialBalance  | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="numeric">
                    <a href="{{ path('gifts', {'reportId': report.id}) }}" class="govuk-!-font-weight-bold">
                        {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                    </a>
                </td>
            {% endif %}
        </tr>


        {% if report.hasSection('profDeputyCosts') %}
            {% set started = report.status.profDeputyCostsState['state'] != 'not-started' %}
            <tr>
                <td>{{ 'balanceTable.profDeputyCosts' | trans }}</td>
                <td></td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        £{{ report.profDeputyTotalCosts | money_format }}
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if not started %}
                        -
                    {% else %}
                        {% set partialBalance = partialBalance - report.profDeputyTotalCosts %}
                        £{{ partialBalance  | money_format }}
                    {% endif %}
                </td>
                {% if not hideEditLink  %}
                    <td class="numeric">
                        <a href="{{ path('prof_deputy_costs', {'reportId': report.id}) }}" class="govuk-!-font-weight-bold">
                            {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endif %}


        {# MONEY IN #}
        {% set started = report.status.moneyInState['state'] != 'not-started' %}
        <tr>
            <td>{{ 'balanceTable.moneyIn' | trans }}</td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    £{{ report.moneyInTotal | money_format }}
                {% endif %}
            </td>
            <td></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance + report.moneyInTotal %}
                    £{{ partialBalance  | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="numeric">
                    <a href="{{ path('money_in', {'reportId': report.id}) }}" class="govuk-!-font-weight-bold">
                        {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                    </a>
                </td>
            {% endif %}
        </tr>

        {# MONEY OUT #}
        {% set started = report.status.moneyOutState['state'] != 'not-started' %}
        <tr>
            <td>{{ 'balanceTable.moneyOut' | trans }}</td>
            <td></td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    £{{ report.moneyOutTotal | money_format }}
                {% endif %}
            </td>
            <td class="numeric">
                {% if not started %}
                    -
                {% else %}
                    {% set partialBalance = partialBalance - report.moneyOutTotal %}
                    £{{ partialBalance  | money_format }}
                {% endif %}
            </td>
            {% if not hideEditLink  %}
                <td class="numeric">
                    <a href="{{ path('money_out', {'reportId': report.id}) }}" class="govuk-!-font-weight-bold">
                        {{ (started ? 'edit' : 'start') | trans({}, 'common') }}
                    </a>
                </td>
            {% endif %}
        </tr>

    </tbody>

    {# Report balance #}
    {# to show as soon as bank accounts are started (see DDPB-1790) #}
    {% if showBalanceCalculations %}

        <tfoot >
            <tr id="calculated_balance_foot">
                <td colspan="3">
                    <span class="govuk-!-font-weight-bold">{{ 'balanceTable.footer' | trans }}</span>
                </td>
                <td class="numeric govuk-!-font-weight-bold">
                        <span class="govuk-!-font-weight-bold behat-region-calculated-balance" id="calculated_balance_foot_value">
                            £{{ report.calculatedBalance | money_format }}
                        </span>
                </td>
                {% if not hideEditLink  %}
                    <td></td>
                {% endif %}
            </tr>
        </tfoot>

    {% endif %}

</table>
