{% extends 'AppBundle:Layouts:application.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "odr-income-benefits" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': odr.client.firstname} %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(odr) }}{% endblock %}

{% block pageContent %}

    {# Check answers text #}
    <h2 class="heading-small">{{ 'summaryPage.pageContent.weHaveListed' | trans(transOptions, 'common') }}</h2>
    <p class="text">{{ 'summaryPage.pageContent.checkCorrect' | trans(transOptions, 'common') }}</p>

    {# Missing questions alerts #}
    {% if validator.countMissing() > 0 and comingFromLastStep%}
        {% include 'AppBundle:Components/Alerts:_notification.html.twig' with {
            alertType: 'notice',
            message: 'summaryPage.pageContent.remindComplete' | trans(transOptions, 'common')
        } %}
    {% endif %}

    {% if validator.countMissing() > 0 and not comingFromLastStep%}
        {% include 'AppBundle:Components/Alerts:_notification.html.twig' with {
            alertType: 'notice',
            message: 'summaryPage.pageContent.canYouAnswer' | trans(transOptions, 'common')
        } %}
    {% endif %}

    {# Return to overview link #}
    <p class="text--right flush--bottom">
        <a href="{{ path('odr_overview', {'odrId': odr.id}) }}" class="bold-small">
            {{ 'summaryPage.pageContent.returnToReport' | trans(transOptions, 'common') }}
        </a>
    </p>

    {# Questions and answers table #}
    {% include 'AppBundle:Odr/IncomeBenefit:_answers.html.twig' %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(odr, 'incomeBenefits') }}

{% endblock %}



