{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-actions" %}
{% trans_default_domain translationDomain %}
{% set page = 'startPage' %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    <div class="text">
	    <p class="govuk-body">{{ (page ~ '.pageSectionDescription1' ~ append104) | trans(transOptions) }}</p>

	    <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ (page ~ '.hiddenText01.summary') | trans(transOptions) }}</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">{{ (page ~ '.hiddenText01.content.para01') |trans(transOptions) }}</p>
                <p class="govuk-body">{{ (page ~ '.hiddenText01.content.para02') |trans(transOptions) }}</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ (page ~ '.hiddenText01.content.listItem01') | trans(transOptions) }}</li>
                    <li>{{ (page ~ '.hiddenText01.content.listItem02') | trans(transOptions) }}</li>
                    <li>{{ (page ~ '.hiddenText01.content.listItem03') | trans(transOptions) }}</li>
                </ul>
                <p class="govuk-body">
                    {{ (page ~ '.hiddenText01.content.para03' ~ append104 ~ '.beforeMarkupText') |trans(transOptions) }}
                    <a href="{{ (page ~ '.hiddenText01.content.para03' ~ append104 ~ '.link') |trans(transOptions) }}">
                        {{ (page ~ '.hiddenText01.content.para03' ~ append104 ~ '.linkText') |trans(transOptions) }}
                    </a>
                    {{ (page ~ '.hiddenText01.content.para03' ~ append104 ~ '.afterMarkupText') |trans(transOptions) }}
                    {% if append104 == '-4' %}
                        <a href="{{ (page ~ '.hiddenText01.content.para03' ~ append104 ~ '.link2') |trans(transOptions) }}">
                            {{ (page ~ '.hiddenText01.content.para03' ~ append104 ~ '.linkText2') |trans(transOptions) }}
                        </a>
                        {{ (page ~ '.hiddenText01.content.para03' ~ append104 ~ '.afterMarkupText2') |trans(transOptions) }}
                    {%  endif %}
                </p>
            </div>
        </details>
	</div>

    {{ macros.startSectionButton(path('actions_step', { 'reportId': report.id, 'step': 1 }), (page ~ '.startButton') | trans ) }}

    {# Pagination #}
    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'actions',
    } %}

{% endblock %}
