{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

<h3 class="govuk-heading-m">{{ groupId | trans }}</h3>

<dl class="govuk-summary-list behat-region-list-accounts">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'form.description.label' | trans }}
        </dt>
        <dd class="govuk-summary-list__key">
            {{ 'form.valuationDate.label' | trans }}
        </dd>
        <dd class="govuk-summary-list__key">
            {{ 'form.value.label' | trans }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
            </dd>
        {% endif %}
    </div>

    {% for asset in assetsInGroup.items %}
    <div class="govuk-summary-list__row behat-region-asset-{{ asset.description | behat_namify }}">
        <dt class="govuk-summary-list__value">
            {{ asset.description | nl2br }}
        </dt>
        <dd class="govuk-summary-list__value">
            {% if asset.valuationDate %}
                {{ asset.valuationDate | date('j F Y') }}
            {% else %}
                -
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__value">
            £{{ asset.value | money_format }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a
                    class="govuk-link behat-link-edit"
                    href="{{ path('asset_other_edit', {'reportId': report.id, 'assetId': asset.id}) }}">
                    {{ 'edit' | trans({}, 'common' ) }}
                </a>
                &nbsp;
                <a
                    class="govuk-link behat-link-delete"
                    href="{{ path('asset_delete', {'reportId': report.id, 'assetId': asset.id}) }}">
                    {{ 'remove' | trans({}, 'common' ) }}
                </a>
            </dd>
        {% endif %}
    </div>
    {% endfor %}

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'totalAmount' | trans({}, 'common' ) }}
        </dt>
        <dd class="govuk-summary-list__key"></dd>
        <dd class="govuk-summary-list__key">
            £{{ assetsInGroup.total | money_format }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions"></dd>
        {% endif %}
    </div>
</dl>
