{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "org-dashboard" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block pageContent %}

    <form action="{{ path('org_dashboard') }}" method="GET" class="search-form push--ends">
        <fieldset>
            <legend class="visually-hidden">{{ 'search' | trans({}, 'common') }}</legend>
            <label for="search" class="search-label">{{ 'searchBy' | trans }}</label>
            <input type="text" id="search" name="q" value="{{ filters.q }}"
                   class="js-search-focus search-input form-control">
            <input id="search_submit" class="button flush--bottom push-half--right behat-link-search" type="submit" value="Search">
            {% if filters.q %}
                <a href="{{ path('org_dashboard', {'status': filters.status}) }}">{{ 'clearSearch' | trans({}, 'common') }}</a>
            {% endif %}
        </fieldset>

    </form>

    <div class="tabs push--ends">
        <div class="tabs-nav">
            <ul class="tabs-list" role="tablist">
                <li class="tab-item clients {{ not filters.status ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('org_dashboard', {'status': '', 'q': filters.q}) }}" role="tab" tabindex="0" aria-selected="true">
                        <span class="data-item bold-large">{{ counts.total }}</span>
                        <span class="data-item bold-xsmall">{{ 'tabClients' | trans }}</span>
                    </a>
                </li>
                <li class="tab-item unstarted {{ filters.status =='notStarted' ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('org_dashboard', {'status': 'notStarted', 'q': filters.q}) }}" role="tab" tabindex="0" class="behat-link-tab-unstarted">
                        <span class="data-item bold-large">{{ counts.notStarted }}</span>
                        <span class="data-item bold-xsmall">{{ 'notStarted' | trans({}, 'common') }}</span>
                    </a>
                </li>
                <li class="tab-item progress {{ filters.status =='notFinished' ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('org_dashboard', {'status': 'notFinished', 'q': filters.q}) }}" role="tab" tabindex="0" class="behat-link-tab-in-progress">
                        <span class="data-item bold-large">{{ counts.notFinished }}</span>
                        <span class="data-item bold-xsmall">{{ 'inProgress' | trans({}, 'common') }}</span>
                    </a>
                </li>
                <li class="tab-item ready {{ filters.status =='readyToSubmit' ? 'active' : '' }}" role="presentation">
                    <a href="{{ path('org_dashboard', {'status': 'readyToSubmit', 'q': filters.q}) }}" role="tab" tabindex="0"  class="behat-link-tab-ready">
                        <span class="data-item bold-large">{{ counts.readyToSubmit }}</span>
                        <span class="data-item bold-xsmall">{{ 'readyToSubmit' | trans({}, 'common') }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table class="push--bottom">
        <thead>
            <tr>
                <th scope="col">{{ 'client' | trans({}, 'common') }}</th>
                <th scope="col">{{ 'courtOrderNo' | trans({}, 'common') }}</th>
                <th scope="col">{{ 'reportDueDate' | trans({}, 'common') }}</th>
                <th scope="col" class="numeric">{{ 'reportStatus' | trans({}, 'common') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            {% set transOptions = {
                '%overdueDays%': report.dueDateDiffDays|abs,
                '%dueDays%': report.dueDateDiffDays
            } %}
            {% set clientRegionAppend = "" %}
            {% if report.status.status == 'readyToSubmit' %}
                {% if report.unSubmitDate is not empty and report.submitted == false %}
                    {% set clientRegionAppend = "-changes-needed" %}
                {% endif %}
            {% endif %}

            {% set linkToReportOverviewPage = path('report_overview', { 'reportId': report.id }) %}

            <tr class="behat-region-client behat-region-client-{{ report.client.caseNumber | upper }}{{ clientRegionAppend }}">
                <td>
                    <a href="{{ linkToReportOverviewPage }}" class="behat-link-pa-report-open behat-link-pa-report-{{ report.getPeriod() | behat_namify }}-open">{{ report.client.lastName | title | e }}, {{ report.client.firstName | title | e }}</a>
                </td>
                <td>
                    {{ report.client.caseNumber|upper }}
                </td>
                <td>
                    {% if report.dueDate is not null %}
                        <span>{{ report.dueDate | date("j M Y") }}</span><br>
                        {% if report.dueDateDiffDays < 0 %}
                            <span class="font-xsmall bold text-red">{{ 'overdue' | trans(transOptions) }}</span>
                        {% elseif report.dueDateDiffDays == 0 %}
                            <span class="font-xsmall bold">{{ 'dueToday' | trans }}</span>
                        {% elseif report.dueDateDiffDays <= 30 %}
                            <span class="font-xsmall">{{ 'dueIn' | trans(transOptions) }}</span>
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="numeric">
                    {% if report.status.status == 'notStarted' %}
                        <span class="status status-large not-started">{{ 'notStarted' | trans({}, 'common') }}</span>
                    {% elseif report.status.status == 'notFinished' %}
                        <span class="status status-large incomplete">{{ 'notFinished' | trans({}, 'common') }}</span>
                    {% elseif report.status.status == 'readyToSubmit' %}
                        {% if report.unSubmitDate is not empty and report.submitted == false %}
                            <span class="status status-large changesNeeded">{{ 'changesNeeded' | trans({}, 'common') }}</span>
                        {% else  %}
                            <span class="status status-large done'}}">{{ 'readyToSubmit' | trans({}, 'common') }}</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if filters.q and reports |length == 0 %}
        <p>{{ 'sorryNoResultsFor' | trans({}, 'common') }} "<strong class="bold">{{ filters.q }}</strong>"</p>
        <hr>
    {% endif %}

    {% include 'AppBundle:Components:paginator.html.twig' with {
        currentOffset: filters.offset,
        recordsPerPage: filters.limit,
        totalRecords: counts[filters.status ?: 'total'],
        routeName: 'org_dashboard',
        routeParams: {
            'status': filters.status,
            'q': filters.q
        },
        messages: {
            singlePage: '{0} Showing 0 clients|{1} Showing 1 client|]1,Inf[ Showing %count% clients',
            multiPage: 'Showing %from% &ndash; %to% of %total% clients'
        }
    } %}

{% endblock %}
