{% set translationDomain = "report-client-benefits-check" %}
{% trans_default_domain translationDomain %}

{% set transOptions = {
    '%client%': report.client.firstname | striptags,
} %}

<div class="section break-before" id="client-benefits-check-section">
    <h2 class="section-heading">{{ 'common.pageTitle' | trans(transOptions) }}</h2>

    <div class="box">
        <div class="labelvalue push-half--top">
            <h3 class="label question bold">{{ 'stepPage.pageTitle.1.mainTitle' | trans(transOptions) }}</h3>
            <div class="value">
                {{ clientBenefitsCheck.dateLastCheckedEntitlement ? clientBenefitsCheck.dateLastCheckedEntitlement  | date("m/Y") : clientBenefitsCheck.whenLastCheckedEntitlement }}
            </div>

            {% if clientBenefitsCheck.whenLastCheckedEntitlement == 'neverChecked' %}
                <div class="labelvalue push--top">
                    <div class="label">{{ 'reportReview.neverCheckedEntitlementTitle' | trans(transOptions)}}</div>
                    <div class="value">{{ clientBenefitsCheck.neverCheckedExplanation | nl2br }}</div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="box">
        <div class="labelvalue push-half--top">
            <h3 class="label question bold">{{ 'stepPage.pageTitle.2.mainTitle' | trans(transOptions) }}</h3>

            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="value checkbox" {% if clientBenefitsCheck.doOthersReceiveMoneyOnClientsBehalf == 'yes' %} aria-label="Selected">X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                    <td class="value checkbox" {% if clientBenefitsCheck.doOthersReceiveMoneyOnClientsBehalf == 'no' %} aria-label="Selected">X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                    <td class="value checkbox" {% if clientBenefitsCheck.doOthersReceiveMoneyOnClientsBehalf == 'dontKnow' %} aria-label="Selected">X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">{{ 'dontKnow' | trans({}, 'common' ) }}</td>
                </tr>
            </table>

            {% if clientBenefitsCheck.doOthersReceiveMoneyOnClientsBehalf == 'yes' %}
                <table class="labelvalue money push--top">
                    <tr>
                        <th>Type of payment</th>
                        <th>Person or organisation who received the money</th>
                        <th class="total-reporting">Total amount for reporting period</th>
                    </tr>
                    {% for money in clientBenefitsCheck.typesOfMoneyReceivedOnClientsBehalf %}
                        <tr>
                            <td class="label noborder">{{ money.moneyType }}</td>
                            <td class="label noborder">{{ money.whoReceivedMoney }}</td>
                            <td class="value text--right width-quarter">
                                {% if money.amount is null %} {{ 'form.moneyDetails.dontKnowCheckboxLabel' | trans(transOptions) }} {% else %}&pound;{{ money.amount | money_format }}&nbsp;{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if clientBenefitsCheck.doOthersReceiveMoneyOnClientsBehalf == 'dontKnow' %}
                <div class="labelvalue push--top">
                    <div class="label">{{ 'reportReview.dontKnowMoneyTitle' | trans(transOptions)}}</div>
                    <div class="value">{{ clientBenefitsCheck.dontKnowMoneyExplanation | nl2br }}</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
