{% if decisions | length > 0 or report.reasonForNoDecisions != "" %}
    <div class="section break-before" id="decisions-section">
        <h2 class="section-heading">Decisions made over the reporting period</h2>

        <div class="box" >
            <h3 class="label question bold">Have you made any significant decisions for {{ report.client.firstname }} during this reporting period?</h3>

            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="checkbox value"{% if report.significantDecisionsMade == 'Yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">Yes</td>
                    <td class="checkbox value"{% if report.significantDecisionsMade == 'No' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">No</td>
                </tr>
            </table>
        </div>

        {% if decisions | length == 0 %}
            <div class="box">
                <div class="labelvalue">
                    <div class="label">No decisions made:</div>
                    <div class="value">{{ report.reasonForNoDecisions | nl2br}}</div>
                </div>
            </div>
        {% else %}
            {% for decision in decisions %}
                <div class="box">
                    <div class="full-width">
                        <h3 class="flush--bottom">Deputy decision</h3>
                        <div class="labelvalue">
                            <div class="value">{{ decision.description }}</div>
                        </div>
                        <h3 class="flush--bottom">Was {{ client.firstName }} involved?</h3>
                        <div class="labelvalue">
                            <div class="value">{{ decision.clientInvolvedBoolean ? 'Yes' : 'No' }}</div>
                        </div>
                        <h3 class="flush--bottom">Client involvement</h3>
                        <div class="last labelvalue">
                            <div class="value">{{ decision.clientInvolvedDetails | nl2br }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
