{% if decisions | length > 0 or report.reasonForNoDecisions != "" %}
    <div class="section break-before" id="decisions-section">
        <h2 class="section-heading">Decisions made over the reporting period</h2>

        <div class="box" >
            <h3 class="label question bold">Have you made any significant decisions for {{ report.client.firstname }} during this reporting period?</h3>

            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="checkbox value"{% if report.significantDecisionsMade == 'Yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">Yes</td>
                    <td class="checkbox value"{% if report.significantDecisionsMade == 'No' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">No</td>
                </tr>
            </table>
        </div>

        <div class="box">
            {% if decisions | length == 0 %}
                <div class="labelvalue push-half--top">
                    <div class="label">No decisions made:</div>
                    <div class="value">{{ report.reasonForNoDecisions | nl2br}}</div>
                </div>
            {% else %}
                <div class="third-width push-half--top">
                    <h3 class="flush--bottom">Deputy decision</h3>
                </div>
                <div class="third-width push-half--top">
                    <h3 class="flush--bottom">Was {{ client.firstName }} involved?</h3>
                </div>
                <div class="third-width last push-half--top">
                    <h3 class="flush--bottom">Client involvement</h3>
                </div>

                {% for decision in decisions %}
                    <div class="full-width push-half--top">
                        <div class="third-width labelvalue">
                            <div class="value">{{ decision.description }}</div>
                        </div>
                        <div class="third-width labelvalue">
                            <div class="value">{{ decision.clientInvolvedBoolean ? 'Yes' : 'No' }}</div>
                        </div>
                        <div class="third-width last labelvalue">
                            <div class="value">{{ decision.clientInvolvedDetails | nl2br }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}
