{% set translationDomain = "report-prof-deputy-costs" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

<div class="section break-before" id="prof-deputy-costs-section">
    <h2 class="section-heading">{{ 'startPage.pageTitle'|trans(transOptions) }}</h2>
    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-how-charged>
            <h3 class="label question bold">{{ 'howCharged.form.profDeputyCostsHow.label'|trans(transOptions) }}</h3>
            <div class="value">
                {% if report.profDeputyCostsHowCharged %}
                    {{ ('howCharged.form.options.' ~
                    report.profDeputyCostsHowCharged) | trans }}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    </div>

    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-has-previous>
            <h3 class="label question bold">{{ 'previousReceivedExists.form.profDeputyCostsHasPrevious.label'|trans(transOptions) }}</h3>
            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="value checkbox"{% if report.profDeputyCostsHasPrevious == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">{{ 'yes' | trans({}, 'common') }}</td>
                    <td class="value checkbox"{% if report.profDeputyCostsHasPrevious == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">{{ 'no' | trans({}, 'common') }}</td>
                </tr>
            </table>

            {% if report.profDeputyCostsHasPrevious == 'yes' and report.profDeputyPreviousCosts is not empty %}
                {% for previous in report.profDeputyPreviousCosts %}
                    <div class="push-half--top" data-prof-deputy-costs-previous-item>
                        <dl class="labelvalue third-width first" id="report-start-date">
                            <dt class="label">Start date</dt>
                            <dd class="value">{{ previous.startDate | date("d / m / Y") }}</dd>
                        </dl>

                        <dl class="labelvalue third-width"  id="report-end-date">
                            <dt class="label">End date</dt>
                            <dd class="value">{{ previous.endDate | date("d / m / Y") }}</dd>
                        </dl>

                        <dl class="labelvalue third-width push--bottom last"  id="report-end-date">
                            <dt class="label">Amount</dt>
                            <dd class="value">£{{ previous.amount | money_format }}</dd>
                        </dl>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="dont-break">
        {% if
            report.hasProfDeputyCostsHowChargedFixedOnly or
            not report.profDeputyCostsHasInterim or
            (not report.profDeputyCostsHowCharged == 'fixed' and not report.profDeputyCostsHowCharged == 'assessed')
        %}
            <div class="box" data-prof-deputy-costs-fixed-cost>
                <h3 class="label question bold">{{ 'fixedCost.form.profDeputyFixedCost.label' | trans(transOptions) }}</h3>
                <div class="value">
                    £{{ report.profDeputyFixedCost | money_format }}
                </div>
            </div>
        {% else %}
            <div class="box" data-prof-deputy-costs-has-interim>
                <h3 class="label question bold">{{ 'interimExists.form.profDeputyCostsHasInterim.label'|trans(transOptions) }}</h3>
                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox"{% if report.profDeputyCostsHasInterim == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'yes' | trans({}, 'common') }}</td>
                        <td class="value checkbox"{% if report.profDeputyCostsHasInterim == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                        <td class="label">{{ 'no' | trans({}, 'common') }}</td>
                    </tr>
                </table>
            </div>
            {% if report.profDeputyCostsHasInterim == 'no' %}
                <div class="box" data-prof-deputy-costs-fixed-cost>
                    <h3 class="label question bold">{{ 'fixedCost.form.profDeputyFixedCost.label' | trans(transOptions) }}</h3>
                    <div class="value">
                        £{{ report.profDeputyFixedCost | money_format }}
                    </div>
                </div>
            {% elseif report.profDeputyCostsHasInterim == 'yes' %}
                <div class="box" data-prof-deputy-costs-interim-list>
                    <h3 class="label question bold">{{ 'interim.pageSectionDescription01' | trans(transOptions) }}</h3>
                    {% for j in range(0, 2) %}
                        <div data-prof-deputy-costs-interim-list-item>
                            <h4>Interim {{ j + 1 }}</h4>
                            <dl class="labelvalue half-width first">
                                <dt class="label">{{ 'interim.form.amount.label' | trans(transOptions) }}</dt>
                                {% if report.profDeputyInterimCosts[j] is defined %}
                                    <dd class="value">£{{ attribute(report.profDeputyInterimCosts, j).amount | money_format }}</dd>
                                {% else %}
                                    <dd class="value"></dd>
                                {% endif %}
                            </dl>

                            <dl class="labelvalue half-width push--bottom">
                                <dt class="label">{{ 'interim.form.date.label' | trans(transOptions) }}</dt>
                                {% if report.profDeputyInterimCosts[j] is defined %}
                                    <dd class="value">{{ attribute(report.profDeputyInterimCosts, j).date | date("d / m / Y") }}</dd>
                                {% else %}
                                    <dd class="value"></dd>
                                {% endif %}
                            </dl>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-amount-scco>
            <dl class="labelvalue push--bottom">
                <dt class="label bold">{{ 'amountToScco.form.profDeputyCostsAmountToScco.label' | trans(transOptions) }}</dt>
                <dd class="value">£{{ report.profDeputyCostsAmountToScco | money_format }}</dd>
            </dl>
            <dl class="labelvalue">
                <dt class="label">{{ 'amountToScco.form.profDeputyCostsReasonBeyondEstimate.label' | trans(transOptions) }}</dt>
                <dd class="value">{{ report.profDeputyCostsReasonBeyondEstimate | nl2br }}</dd>
            </dl>
        </div>
    </div>

    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-breakdown>
            <h3 class="label question bold">{{ 'breakdown.pageSectionDescription'|trans(transOptions) }}</h3>
            <table class="labelvalue money">
            {% for otherCostTypeId in report.getProfDeputyOtherCostTypeIds %}
                {% set costRow = report.generateActualSubmittedOtherCosts[otherCostTypeId.typeId] %}
                <tr>
                    <td class="label">{{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.label') | trans(transOptions) }}</td>
                    <td class="value total width-fifth">£{{ costRow['amount'] | money_format }}</td>
                </tr>
                {% if costRow.hasMoreDetails and costRow.moreDetails %}
                <tr>
                    <td class="label" data-prof-deputy-costs-breakdown-more-details>{{ ('breakdown.form.entries.' ~ otherCostTypeId.typeId ~ '.moreInformationLabelSummary') | trans(transOptions) }}</td>
                    <td class="value total width-half">{{ costRow['moreDetails'] | nl2br }}</td>
                </tr>
                {% endif %}

            {% endfor %}
            </table>
        </div>
    </div>

    <div class="dont-break">
        <div class="box" data-prof-deputy-costs-total>
            <h3 class="label question bold">Total costs paid this reporting period</h3>
            <div class="value">
                £{{ report.profDeputyTotalCosts | money_format }}
            </div>
        </div>
    </div>
</div>
