{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "prof-terms-use" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%userFirstname%': user.firstname}  %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block pageContent %}

    <div class="text">
        <h2 class="govuk-heading-m">
            {{ 'section01.heading' | trans(transOptions) }}
        </h2>

        <p class="govuk-body">{{ 'section01.para01' | trans(transOptions) }}</p>
        <p class="govuk-body">{{ 'section01.para02' | trans(transOptions) }}</p>
        <p class="govuk-body">{{ 'section01.para03' | trans(transOptions) }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'section01.listItem01' | trans(transOptions) }}</li>
            <li>{{ 'section01.listItem02' | trans(transOptions) }}</li>
        </ul>


        <h3 class="govuk-heading-s">
            {{ 'section02.heading' | trans(transOptions) }}
        </h3>

        <p class="govuk-body">{{ 'section02.para01' | trans(transOptions) }}</p>
        <p class="govuk-body">{{ 'section02.para02' | trans(transOptions) }}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'section02.listItem01' | trans(transOptions) }}</li>
            <li>{{ 'section02.listItem02' | trans(transOptions) }}</li>
            <li>{{ 'section02.listItem03' | trans(transOptions) }}</li>
            <li>{{ 'section02.listItem04' | trans(transOptions) }}</li>
            <li>{{ 'section02.listItem05' | trans(transOptions) }}</li>
        </ul>


        <h3 class="govuk-heading-s">
            {{ 'section03.heading' | trans(transOptions) }}
        </h3>

        <p class="govuk-body">{{ 'section03.para01' | trans(transOptions) }}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'section03.listItem01' | trans(transOptions) }}</li>
            <li>{{ 'section03.listItem02' | trans(transOptions) }}</li>
            <li>{{ 'section03.listItem03' | trans(transOptions) }}</li>
            <li>{{ 'section03.listItem04' | trans(transOptions) }}</li>
        </ul>

        <p class="govuk-body">{{ 'section03.para02' | trans(transOptions) }}</p>
        <p class="govuk-body">{{ 'section03.para03' | trans(transOptions) }}</p>
        <p class="govuk-body">{{ 'section03.para04' | trans(transOptions) }}</p>
    </div>

    {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'push--bottom' }}) }}

    {{ form_checkbox(form.agreeTermsUse, 'form.agreeTermsUse', { 'labelClass': 'required' }) }}

    <div class="govuk-form-group">
        {{ form_submit(form.save, 'form.save') }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block contactDetails %}
    {% include '@App/Layouts/_contact_details_prof.html.twig' %}
{% endblock %}
