{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}


<header class="page-report-header page-header group">

    <div class="page-header-titles">
        <h1 class="heading-large report-title">{{ report.period }} {{ 'report.header.report' | trans }}
            <div class="heading-large client-name">{{ client.fullname }}</div>
        </h1>
    </div>
    <div class="page-header-meta-data">
        <div class="report-meta-data">
            <div class="report-meta report-meta__label">{{ 'report.header.reportingPeriod' | trans }}</div>
            <span class="report-meta report-meta__data">{{ report.startDate | date("d F Y") }}
                {{ 'report.header.to' | trans }} {{ report.endDate | date("d F Y") }}</span>
        </div>
        {% if not report.isDue() %}
            <div class="report-meta-data">
                <span class="report-meta report-meta__label">{{ "report.header.dueDate" | trans }}</span>
                <span class="report-meta report-meta__data">{{ report.dueDate | date("d F Y") }}</span>
            </div>
        {% else %}
            {% include 'AppBundle:Components/Page:_page-section-warning.html.twig' with {
            transDomain: translationDomain,
            pageSectionWarning: '
            <span class="report-meta report-meta__label">' ~ ("report.header.dueDate" | trans) ~ '</span>
            <span class="report-meta report-meta__data report-meta__data--bold">' ~ (report.dueDate | date("d F Y")) ~ '</span>',
            iconClass: 'icon icon__notification'
            } %}
        {% endif %}

        {% if app.request.attributes.get('_route') == 'report_declaration' %}
            <a href="{{ path('report_overview', {reportId: report.id}) }}"
               class="report-go-back-link behat-link-report-preview-go-back">
                {{ 'page.goBackLink' | trans({}, 'report-declaration') }}
            </a>

        {% elseif report.isDue() and report_form_submit is defined %}
             {% include 'AppBundle:Components/PageHeader:_report-submit-form.html.twig' %}
        {% endif %}
    </div>

</header>