{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

<header class="page-report-header page-header group">

    <div class="page-header-titles">
        <h1 class="heading-large report-title">{{ report.period }} {{ 'report.header.report' | trans }}
            <div class="heading-large client-name">{{ client.fullname }}</div>
        </h1>
    </div>
    <div class="page-header-meta-data">
        <div class="report-meta-data">
            <div class="report-meta report-meta__label">{{ 'report.header.reportingPeriod' | trans }}</div>
            <span class="report-meta report-meta__data">{{ report.startDate | date("d F Y") }}
                to {{ report.endDate | date("d F Y") }}</span>
        </div>
        <div class="report-meta-data">
            <span class="report-meta report-meta__label">{{ 'report.header.dueDate' | trans }}</span>
            <span class="report-meta report-meta__data">{{ report.dueDate | date("d F Y") }}</span>
        </div>
          
        {% if app.request.attributes.get('_route') == 'report_declaration' %}
            <a href="{{ path('report_overview', {reportId: report.id}) }}">
                {{ 'page.goBackLink' | trans({}, 'report-declaration') }}
            </a>
        {% elseif report.isDue %}
            {# ADD HERE THE BUTTON "READY TO SUBMIT" #}
            {# <a href="{{ path('report_declaration', {reportId: report.id}) }}">Ready to submit</a> #}

            {{ form_start(report_form_submit, {attr: {novalidate: 'novalidate', class: 'page-report-submission-form' } }) }}
            {% if report.readyToSubmit() %}
                {{ form_input(report_form_submit.reviewed_n_checked, 'form.accountDetails.controls.accountNumber') }}
            {% else %}
                <div class="page-report-message">
                    Your report will be ready to submit when you've completed all tasks
                </div>
            {% endif %}
            {% set formSubmitLabel = 'report.header.form.controls.submit.label'|trans({}, translationDomain)|raw %}
            {{ form_submit(report_form_submit.submitReport, formSubmitLabel) }}

        {% endif %}
    </div>

</header>