<header class="page-report-header page-header group">

    <div class="page-header-titles">
        <h1 class="heading-large report-title">{{ report.period }} report
            <div class="heading-large client-name">{{ client.fullname }}</div>
        </h1>
    </div>
    <div class="page-header-meta-data">
        <div class="report-meta-data">
            <div class="report-meta report-meta__label">Reporting period:</div>
            <span class="report-meta report-meta__data">{{ report.startDate | date("d F Y") }} to {{ report.endDate | date("d F Y") }}</span>
        </div>
        <div class="report-meta-data">
            <span class="report-meta report-meta__label">Due date:</span>
            <span class="report-meta report-meta__data">{{ report.dueDate | date("d F Y")}}</span>
        </div>
        
        {# TO STYLE, just keep the "path" stuff #}
        <a href="{{ path('report-declaration', {reportId: report.id}) }}">Ready to submit</a>
    </div>
        
</header>