{% embed 'AppBundle:Components/Page:page-report.html.twig'%}

{% set translationDomain = "report-action" %}
{% trans_default_domain translationDomain %}

{% block bodyClasses %}action-page{% endblock %}
{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}


{% block pageBody %}


    {% block validationSummary %}
        {{ form_errors_list(form) }}
    {% endblock %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    <div class="form-section">
      <fiedset>
        <legend class="hidden">Future financial decisions</legend>
        {{ form_checkbox_group(form.doYouExpectFinancialDecisions, 'form.doYouExpectFinancialDecisions', {
            'fieldSetClass' : 'inline expect-financial-dec-radio',
            'legendClass' : 'form-label',
            'legendText' : 'form.doYouExpectFinancialDecisions.label' | trans({'%client%': report.client.firstname}, translationDomain),
            'hintText' : 'form.doYouExpectFinancialDecisions.hint' | trans({'%client%': report.client.firstname}, translationDomain),
            'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
        <div id="financial-decisions-textarea" class="hidden-detail">
          {{ form_input(form.doYouExpectFinancialDecisionsDetails, 'form.doYouExpectFinancialDecisionsDetails', {
              'labelClass': 'required',
              'labelParameters': { '%client%': report.client.firstname },
              'inputClass': 'expanding'
          }) }}
        </div>
    </fieldset>
    </div>

    <div class="form-section">
    <fieldset>
        <legend class="hidden">Concerns for future</legend>
        {{ form_checkbox_group(form.doYouHaveConcerns, 'form.doYouHaveConcerns', {
            'fieldSetClass' : 'inline do-you-have-actions-radio',
            'legendClass' : 'form-label',
            'legendText' : 'form.doYouHaveConcerns.label' | trans({'%client%': report.client.firstname}, translationDomain),
            'hintText' : 'form.doYouHaveConcerns.hint' | trans({'%client%': report.client.firstname}, translationDomain),
            'items': [
                {'labelClass': 'block-label', 'elementClass': '' },
                {'labelClass': 'block-label', 'elementClass': '' }
            ]
        }) }}
        <div id="actions-details-textarea">
            {{ form_input(form.doYouHaveConcernsDetails, 'form.doYouHaveConcernsDetails', {
                'labelClass': 'required',
                'labelParameters': { '%client%': report.client.firstname },
                'inputClass': 'expanding'
            }) }}
        </div>
    </fieldset>
    </div>

    {% include 'AppBundle:Components/ButtonBar:_start.html.twig' %}
    {{ form_submit(form.save,'form.save') }}
    {% include 'AppBundle:Components/ButtonBar:_end.html.twig' %}

    {{ form_end(form) }}

    <script type="text/javascript">
        $(document).ready(function() {
            new GOVUK.SelectionButtons('.form-group__checkbox-group :radio');
            new opg.RadioHide({
                radio:'.expect-financial-dec-radio input[type=radio]',
                content: '#financial-decisions-textarea',
                hideOnYes: false
            });
            new opg.RadioHide({
                radio:'.do-you-have-actions-radio input[type=radio]',
                content: '#actions-details-textarea',
                hideOnYes: false
            });
        });
    </script>

{% endblock %}

{% block pageBodyFooterNav %}
    {% include 'AppBundle:Components:nextprevious.html.twig' with {
    'previousLink': path("assets" , {'reportId': report.id }),
    'previousLabel': 'Assets',
    'nextLink': path("report_overview" , {'reportId': report.id }),
    'nextLabel': 'Report overview'
    } %}
{% endblock %}

{% endembed %}
