{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-actions" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}
{% set append104 = report.get104TransSuffix %}

{% block htmlTitle %}{{ 'stepPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'stepPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'stepPage.backLink' | trans) }}
{% endblock %}

{% block pageContent %}

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}

    {% if step == 1 %}
        <div class="form-section push--bottom">
            <div class="form-group flush--bottom {% if not form.doYouExpectFinancialDecisions.vars.valid %}form-group-error{% endif %}">
                {{ form_checkbox_group(form.doYouExpectFinancialDecisions, 'form.doYouExpectFinancialDecisions', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'legendClass' : 'form-label-bold',
                    'legendText' : ('form.doYouExpectFinancialDecisions.label' ~ append104) | trans(transOptions, translationDomain),
                    'hintText' : ('form.doYouExpectFinancialDecisions.hint' ~ append104 ) | trans(transOptions, translationDomain),
                    'items': [
                        {'dataTarget': 'financial-decisions-textarea' },
                        {},
                    ]
                }) }}

                <div id="financial-decisions-textarea" class="panel panel-border-narrow js-hidden">
                    {{ form_input(form.doYouExpectFinancialDecisionsDetails, 'form.doYouExpectFinancialDecisionsDetails', {
                        'labelText': ('form.doYouExpectFinancialDecisionsDetails.label' ~ append104) | trans(transOptions, translationDomain),
                        'labelClass': 'required',
                        'labelParameters': transOptions
                    }) }}
                </div>
            </div>
        </div>

        {% if not '-4' in report.type %}
            <details class="text push--bottom">
                <summary>
                    <span class="summary">{{ 'form.doYouExpectFinancialDecisions.hiddenText01.summary' | trans(transOptions) }}</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>{{ 'form.doYouExpectFinancialDecisions.hiddenText01.content.para01' |trans(transOptions) }}</p>
                    <p>{{ 'form.doYouExpectFinancialDecisions.hiddenText01.content.para02' |trans(transOptions)|raw }}</p>
                    <p>{{ 'form.doYouExpectFinancialDecisions.hiddenText01.content.para03' |trans(transOptions) }}</p>
                    <p>{{ 'form.doYouExpectFinancialDecisions.hiddenText01.content.para04' |trans(transOptions)|raw }}</p>
                </div>
            </details>
        {% endif %}

    {% endif %}

    {% if step == 2 %}
        <div class="form-section push--bottom">

            <div class="form-group flush--bottom {% if not form.doYouHaveConcerns.vars.valid %}form-group-error{% endif %}">
                {{ form_checkbox_group(form.doYouHaveConcerns, 'form.doYouHaveConcerns', {
                    'useFormGroup': false,
                    'fieldSetClass' : 'inline',
                    'legendClass' : 'form-label-bold',
                    'legendText' : 'form.doYouHaveConcerns.label' | trans(transOptions, translationDomain),
                    'hintText' : ('form.doYouHaveConcerns.hint' ~ append104)  | trans(transOptions, translationDomain),
                    'items': [
                        {'dataTarget': 'actions-details-textarea' },
                        {},
                    ]
                }) }}

                <div id="actions-details-textarea" class="panel panel-border-narrow js-hidden">
                    {{ form_input(form.doYouHaveConcernsDetails, 'form.doYouHaveConcernsDetails', {
                        'labelClass': 'required',
                        'labelParameters': transOptions
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    {{ macros.saveAndContinueButton(form.save) }}

    {% if skipLink %}
        <a href="{{ skipLink }}" class="button-link behat-link-step-skip">{{ 'stepPage.skipLink' | trans({}, 'common') }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

