{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-actions" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    {# Introduction text #}
    <p class="text">
         {{ 'summaryPage.pageContent.weAskAbout' | trans(transOptions) }}
    </p>

    {# Check answers text #}
    <h2 class="heading-small">{{ 'summaryPage.pageContent.weHaveListed' | trans(transOptions, 'common') }}</h2>
    <p class="text">{{ 'summaryPage.pageContent.checkCorrect' | trans(transOptions, 'common') }}</p>

    {# Missing questions alerts #}
    {% if report.action.missingInfo() and comingFromLastStep%}
        <div class="page-section-warning text flush--bottom" id="cannot-submit-warning">
            <span class="icon icon__notification"></span>
            <p>{{ 'summaryPage.pageContent.remindComplete' | trans(transOptions, 'common') }}</p>
        </div>
    {% endif %}

    {% if report.action.missingInfo() and not comingFromLastStep%}
    <div class="page-section-warning text flush--bottom" id="cannot-submit-warning">
        <span class="icon icon__notification"></span>
        <p>{{ 'summaryPage.pageContent.canYouAnswer' | trans(transOptions, 'common') }}</p>
    </div>
    {% endif %}

    {# Return to overview link #}
    <p class="text--right flush--bottom">
        <a href="{{ path('report_overview', {'reportId': report.id}) }}" class="bold-small">
            {{ 'summaryPage.pageContent.returnToReport' | trans(transOptions, 'common') }}
        </a>
    </p>

    {# Questions and answers table #}
    {% include 'AppBundle:Report/Action:_answers.html.twig' %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(report, 'actions') }}

{% endblock %}



