{% macro breadcrumbs(report) %}
    {% set isUserNdrEnabled = app.user.isNdrEnabled() %}
    {% set isOrgUser = app.user.isDeputyOrg() %}

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                {% if isOrgUser %}
                    <a href="{{ path('org_dashboard') }}" class="govuk-breadcrumbs__link">
                        {{ 'dashboard' | trans({}, 'common' ) }}
                    </a>
                {% else %}
                    <a href="{{ path('homepage') }}" class="govuk-breadcrumbs__link">
                        {{ 'yourReports' | trans({'deputyFirstname': app.user.firstname, 'deputyLastname': app.user.lastname}, 'common' ) }}
                    </a>
                {% endif %}
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {% if report.type == 'ndr' %}
                    <a href="{{ path('ndr_overview', {'ndrId': report.id}) }}"
                       class="govuk-breadcrumbs__link behat-link-breadcrumbs-ndr-overview"
                       data-action="report.overview">
                        {{ 'newDeputyReportOverview' | trans({}, 'common' ) }}
                    </a>

                {% else %}
                    <a href="{{ path('report_overview', {'reportId': report.id}) }}"
                       class="govuk-breadcrumbs__link behat-link-breadcrumbs-report-overview"
                       data-action="report.overview">
                        {% if isOrgUser %}
                            {{ 'clientProfile' | trans({}, 'common' ) }}
                        {% else %}
                            {{ 'deputyReportOverview' | trans({ 'startYear': report.startDate | date('Y'),'endYear': report.endDate | date('Y') }, 'common' ) }}
                        {% endif %}
                    </a>
                {% endif %}
            </li>
        </ol>
    </div>
{% endmacro %}

{% macro homepage() %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a href="{{ path('homepage') }}" class="govuk-breadcrumbs__link">
                    Your reports
                </a>
            </li>
        </ol>
    </div>
{% endmacro %}

{% macro breadcrumbsSettings(section) %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% if app.user.isDeputyOrg() %}
                <li class="govuk-breadcrumbs__list-item">
                    <a href="{{ path('org_dashboard') }}" class="govuk-breadcrumbs__link">
                        Dashboard
                    </a>
                </li>
                {% if 'settings' in section and section != 'settings' %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a href="{{ path('org_settings') }}" class="govuk-breadcrumbs__link">
                            Settings
                        </a>
                    </li>
                {% endif %}
                {% if 'team' in section and section != 'settings-team' %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a href="{{ path('org_team') }}" class="govuk-breadcrumbs__link">
                            User accounts
                        </a>
                    </li>
                {% endif %}
                {% if section == 'settings-profile-edit' %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a href="{{ path('org_profile_show') }}" class="govuk-breadcrumbs__link">
                            Your details
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="govuk-breadcrumbs__list-item">
                    <a href="{{ path('lay_home') }}" class="govuk-breadcrumbs__link">
                        Deputy reports
                    </a>
                </li>
                {% if 'settings' in section and section != 'settings' %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a href="{{ path('account_settings') }}" class="govuk-breadcrumbs__link">
                            Deputyship details
                        </a>
                    </li>
                {% endif %}
                {% if section == 'settings-profile-edit' %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a href="{{ path('user_show') }}" class="govuk-breadcrumbs__link">
                            Your details
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ol>
    </div>
{% endmacro %}

{% macro breadcrumbsArray(items) %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% for item in items %}
                <li class="govuk-breadcrumbs__list-item" {% if loop.last %}aria-current="page"{% endif %}>
                    {% if item.href is defined %}
                        <a class="govuk-breadcrumbs__link" href="{{ item.href }}">{{ item.text }}</a>
                    {% else %}
                        {{ item.text }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}

{% macro linkBackStep(backLink,stepPage) %}
    {% if backLink %}
        <a href="{{ backLink }}" class="govuk-back-link behat-link-step-back">{{ stepPage }}</a>
    {% endif %}
{% endmacro %}

{% macro saveAndContinueButton(button) %}
    <div class="custom-submit">
        {{ form_submit(button, '', {
            'labelText': 'saveAndContinue',
            'labelTranslationDomain': 'common',
            'buttonClass': 'govuk-button govuk-!-margin-right-1 behat-link-save-and-continue',
        }) }}
    </div>
{% endmacro %}

{% macro addAnotherSaveButton(button, labelText, buttonClasses) %}
    {% if labelText is null %}
        {% set labelText = 'continue' %}
    {% endif %}

    {% if buttonClasses is null %}
        {% set buttonClasses = 'govuk-button' %}
    {% endif %}

    <div class="custom-submit">
        {{ form_submit(button, '', {
            'labelText': labelText,
            'labelTranslationDomain': 'common',
            'buttonClass': buttonClasses ~ ' govuk-!-margin-right-1 behat-link-save-and-continue',
        }) }}
    </div>
{% endmacro %}

{% macro saveAndAddAnotherSaveButton(button) %}
    <div class="custom-submit">
        {{ form_submit(button, '', {
            'labelText': 'saveAndAddAnother' | trans({}, 'common'),
            'buttonClass': 'govuk-button govuk-button--secondary behat-link-save-and-add-another',
        }) }}
    </div>
{% endmacro %}

{% macro icon(type, extraClass = '') %}
    {% if type in ['arrow-up'] %}
        <svg role="presentation" focusable="false" class="opg-icon {{ extraClass }}" xmlns="http://www.w3.org/2000/svg"
             width="13" height="17" viewBox="0 0 13 17">
            {% if type == 'arrow-up' %}
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            {% endif %}
        </svg>
    {% else %}
        <span class="opg-icon opg-icon--{{ type }} {{ extraClass }}"></span>
    {% endif %}
{% endmacro %}


{% macro notification(alertType,message) %}
    {% if alertType is defined %}
        {% if alertType == 'notice' %}
            <div class="opg-alert opg-alert--notice">
                {{ _self.icon('notification', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message | nl2br }}</p>
                </div>
            </div>
        {% elseif alertType == 'success' %}
            <div class="opg-alert opg-alert--success">
                {{ _self.icon('tick', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message | nl2br }}</p>
                </div>
            </div>
        {% elseif alertType == 'error' %}
            <div class="opg-alert opg-alert--error">
                {{ _self.icon('cross', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message | nl2br }}</p>
                </div>
            </div>
        {% elseif alertType == 'info' %}
            <div class="opg-alert opg-alert--info">
                {{ _self.icon('information', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message }}</p>
                </div>
            </div>
        {% elseif alertType == 'info2Part' %}
            <div class="opg-alert opg-alert--info">
                {{ _self.icon('information', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message.textbeforemarkup }}
                        <br><br>{{ message.textaftermarkup }}</p>
                </div>
            </div>
        {% elseif alertType == 'infoLink' %}
            <div class="opg-alert opg-alert--info">
                {{ _self.icon('information', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        {{ message.textbeforemarkup }}<a
                            href="{{ message.link }}">{{ message.linktext }}</a>{{ message.textaftermarkup }}
                    </p>
                </div>
            </div>
        {% elseif alertType == 'fixture' %}
            <div class="opg-alert opg-alert--success">
                {{ _self.icon('tick', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <div class="behat-region-alert-message opg-alert__message">
                        <p class="govuk-body govuk-!-margin-bottom-0">{{ message }}</p>
                    </div>
                </div>
            </div>
        {% elseif alertType == 'preRegFixture' %}
            <div class="opg-alert opg-alert--success">
                {{ _self.icon('tick', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body">Created PreRegistration {% if message.coDeputyLastName is defined %} entries {% else %} entry {% endif %}</p>
                    <p class="govuk-body">{{ 'alert.instructions' | trans({}, 'admin-fixtures') }}</p>
                    <ul>
                        <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.caseNumber' | trans({}, 'admin-fixtures') }}: <strong>{{message.caseNumber}}</strong></li>
                        <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.clientLastName' | trans({}, 'admin-fixtures') }}: <strong>{{message.clientLastName}}</strong></li>
                        <br/>
                        <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.deputyFirstName' | trans({}, 'admin-fixtures') }}: <strong>{{message.deputyFirstName}}</strong></li>
                        <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.deputyLastName' | trans({}, 'admin-fixtures') }}: <strong>{{message.deputyLastName}}</strong></li>
                        <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.deputyPostCode' | trans({}, 'admin-fixtures') }}: <strong>{{ message.deputyPostCode }}</strong></li>
                        {% if message.coDeputyLastName is defined %}
                            <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.coDeputyFirstName' | trans({}, 'admin-fixtures') }}: <strong>{{ message.coDeputyFirstName }}</strong></li>
                            <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.coDeputyLastName' | trans({}, 'admin-fixtures') }}: <strong>{{ message.coDeputyLastName }}</strong></li>
                            <li class="govuk-body govuk-!-margin-bottom-0">{{ 'alert.coDeputyPostCode' | trans({}, 'admin-fixtures') }}: <strong>{{ message.coDeputyPostCode }}</strong></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% elseif alertType == 'courtOrderFixture' %}
            <div class="opg-alert opg-alert--success">
                {{ _self.icon('tick', 'opg-alert__icon') }}
                <p class="govuk-body">Created fixture {{ message.deputies|length > 1 ? 'deputies' : 'deputy' }}:</p>
                <p class="govuk-body">{{ 'alert.caseNumber' | trans({}, 'admin-fixtures') }}: <strong>{{ message.caseNumber}}</strong></p>

                <ul>
                    {% for deputy in message.deputies %}
                        <li>{{ 'alert.email' | trans({}, 'admin-fixtures') }}: <strong>{{ deputy.email }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
        {% elseif alertType == 'important' %}
            <div class="opg-alert opg-alert--important">
                {{ _self.icon('important-small', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message | nl2br }}</p>
                </div>
            </div>
        {% elseif alertType == 'loader' %}
            <div class="opg-alert opg-alert--info">
                {{ _self.icon('loader', 'opg-alert__icon') }}
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message | nl2br }}</p>
                </div>
            </div>
        {% else %}
            <div class="opg-alert">
                <div class="behat-region-alert-message opg-alert__message">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ message | nl2br }}</p>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="opg-alert">
            <div class="behat-region-alert-message opg-alert__message">
                <p class="govuk-body govuk-!-margin-bottom-0">{{ message | nl2br }}</p>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{# Related section links on the summary pages #}
{% macro relatedSections(report,section) %}
    {% set isOrgUser = app.user.isDeputyOrg() %}

    <div class="opg-related-items">
        <nav role="navigation">
            <ul class="govuk-list govuk-!-font-size-16">
                <li>
                    {% if report.type == 'ndr' %}
                        <a href="{{ path('ndr_overview', {'ndrId': report.id}) }}"
                           class="govuk-link" data-action="report.overview">
                            {{ 'newDeputyReportOverview' | trans({}, 'common' ) }}
                        </a>
                    {% else %}
                        <a href="{{ path('report_overview', {'reportId': report.id}) }}"
                           class="govuk-link" data-action="report.overview">
                            {% if isOrgUser %}
                                {{ 'clientProfile' | trans({}, 'common' ) }}
                            {% else %}
                                {{ 'deputyReportOverview' | trans({ 'startYear': report.startDate | date('Y'),'endYear': report.endDate | date('Y') }, 'common' ) }}
                            {% endif %}
                        </a>
                    {% endif %}
                </li>
                {% if (section_link_params(report, section, +1)) %}
                    <li>
                        <a href="{{ section_link_params(report, section, +1).link }}" class="govuk-link">
                            Next
                            section: {{ ('prevNextLinks.sections.' ~ section_link_params(report, section, +1).section) | trans({}, 'report-common') }}
                        </a>
                    </li>
                {% endif %}
                {% if report.type != 'ndr' %}
                    {% if report.hasSection('balance') %}
                        {% if section in ['gifts','deputyExpenses','paFeeExpense', 'moneyIn','moneyOut','bankAccounts','profDeputyCosts'] %}
                            <li>
                                <a href="{{ path('balance', {'reportId': report.id}) }}" class="govuk-link">
                                    Accounts balance check
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
{% endmacro %}

{# Question/Answer header for summary lists #}
{% macro summaryListHeaderQA(hideEditLink) %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'question' | trans({}, 'common') }}
        </dt>
        <dd class="govuk-summary-list__key">
            {{ 'answer' | trans({}, 'common') }}
        </dd>
        {% if not hideEditLink %}
            <dd class="govuk-summary-list__actions">
                <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
            </dd>
        {% endif %}
    </div>
{% endmacro %}

{% macro icon(type, svgClass) %}
    {% if type == 'success' %}
        <svg class="{{ svgClass }}" fill="currentColor" role="presentation" focusable="false"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
        </svg>
    {% endif %}

    {% if type == 'warning' %}
        <svg class="{{ svgClass }}" fill="currentColor" role="presentation" focusable="false"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"/>
        </svg>
    {% endif %}

    {% if type == 'startButton' %}
        <svg class="{{ svgClass }}" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
             role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
        </svg>
    {% endif %}

    {% if type == 'information' %}
        <svg class="{{ svgClass }}" fill="currentColor" role="presentation" focusable="false"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"/>
        </svg>
    {% endif %}
{% endmacro %}

{% macro details(options) %}
    <details class="govuk-details {{ options.classes is defined ? options.classes }}" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ options.summaryText }}</span>
        </summary>
        <div class="govuk-details__text">
            {% if options.text is defined %}
                {{ options.text }}
            {% endif %}
        </div>
    </details>
{% endmacro %}

{% macro startSectionButton(path, text) %}
    <a href={{ path }} role="button" draggable="false" class="govuk-button govuk-button--start behat-link-start"
       data-module="govuk-button">
        {{ text }}
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
             viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
        </svg>
    </a>
{% endmacro %}

{# transDomain and successHeading are optional arguments to support passing in a pre-translated string #}
{% macro successBanner(successText, transDomain, successHeading) %}
    <div class="moj-banner moj-banner--success">
        {{ _self.icon('success', 'moj-banner__icon') }}
        <div class="moj-banner__message">
            {% if successHeading is not null %}
                <h2 class="govuk-heading-m">
                    {% if transDomain is not null %}
                        {{ successHeading | trans({}, transDomain) }}
                    {% else %}
                        {{ successHeading }}
                    {% endif %}
                </h2>
            {% endif %}
            <span class="moj-banner__assistive">Success</span>
            {% if transDomain is not null %}
                {{ successText | trans({}, transDomain) | nl2br }}
            {% else %}
                {{ successText | nl2br }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{# transDomain and warningHeading are optional arguments to support passing in a pre-translated string #}
{% macro warningBanner(warningText, transDomain, warningHeading) %}
    <div class="moj-banner moj-banner--warning">
        {{ _self.icon('warning', 'moj-banner__icon') }}
        <div class="moj-banner__message">
            {% if warningHeading is not null %}
                <h2 class="govuk-heading-m">
                    {% if transDomain is not null %}
                        {{ warningHeading | trans({}, transDomain) }}
                    {% else %}
                        {{ warningHeading }}
                    {% endif %}
                </h2>
            {% endif %}
            <span class="moj-banner__assistive">Warning</span>
            {% if transDomain is not null %}
                {{ warningText | trans({}, transDomain) | nl2br }}
            {% else %}
                {{ warningText | nl2br }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{# transDomain and infoHeading are optional arguments to support passing in a pre-translated string #}
{% macro informationBanner(infoText, transDomain, infoHeading) %}
    <div class="moj-banner">
        {{ _self.icon('information', 'moj-banner__icon') }}
        <div class="moj-banner__message">
            {% if infoHeading is not null %}
                <h2 class="govuk-heading-m">
                    {% if transDomain is not null %}
                        {{ infoHeading | trans({}, transDomain) }}
                    {% else %}
                        {{ infoHeading }}
                    {% endif %}
                </h2>
            {% endif %}
            <span class="moj-banner__assistive">information</span>
            {% if transDomain is not null %}
                {{ infoText | trans({}, transDomain) | nl2br }}
            {% else %}
                {{ infoText | nl2br }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{# Shows the start date, end date and status of a report #}
{% macro reportDetails(report) %}
    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-padding-0">
                {{ 'reportingPeriod' | trans({}, 'report-overview') }}:
            </dt>
            <dd class="govuk-summary-list__value govuk-!-padding-0">
                {{ report.startDate | date("j F Y") }} to {{ report.endDate | date("j F Y") }}
            </dd>
        </div>
        <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key govuk-!-padding-0 {{ report.unSubmitDate ? 'orangeWarning' : '' }}">
                {{ 'dueDate' | trans({}, 'report-overview') }}:
            </dt>
            <dd class="govuk-summary-list__value govuk-!-padding-0">
                {{ report.dueDate | date("j F Y") }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-padding-0">
                {{ 'reportStatus' | trans({}, 'report-overview') }}:
            </dt>
            <dd class="govuk-summary-list__value govuk-!-padding-0">
                {{ ('status.' ~ report.status.status) | trans({}, 'report-overview') }}
            </dd>
        </div>
    </dl>
{% endmacro %}

{# Displays a standardised address input form #}
{% macro addressFields(formObject, transDomain, translationPrefix) %}

    <fieldset class="govuk-fieldset">

        {% if formObject.address is defined %}
            <div class="govuk-form-group">
                {% set formAddressLabel = translationPrefix ~ 'address.label' %}
                {% set formAddressContext = translationPrefix ~ 'address.context' %}
                {{ formAddressLabel | trans({}, transDomain) }}<span
                    class="govuk-visually-hidden">{{ formAddressContext | trans({}, transDomain) }}</span>
                {{ form_input(formObject.address, '') }}
            </div>
        {% endif %}

        {% if formObject.address1 is defined %}
            <div class="govuk-form-group">
                {% set formAddress1Label = translationPrefix ~ 'address1.label' %}
                {% set formAddress1Context = translationPrefix ~ 'address1.context' %}
                {{ formAddress1Label | trans({}, transDomain) }}<span
                    class="govuk-visually-hidden">{{ formAddress1Context | trans({}, transDomain) }}</span>
                {{ form_input(formObject.address1, '') }}
            </div>
        {% endif %}

        {% if formObject.address2 is defined %}
            <div class="govuk-form-group">
                {% set formAddress2Label = translationPrefix ~ 'address2.label' %}
                {% set formAddress2Context = translationPrefix ~ 'address2.context' %}
                {{ formAddress2Label | trans({}, transDomain) }}<span
                    class="govuk-visually-hidden">{{ formAddress2Context | trans({}, transDomain) }}</span>
                {{ form_input(formObject.address2, '') }}
            </div>
        {% endif %}

        {% if formObject.county is defined %}
            <div class="govuk-form-group">
                {% set formCountyLabel = translationPrefix ~ 'county.label' %}
                {{ formCountyLabel | trans({}, transDomain) }}
                {{ form_input(formObject.county, '') }}
            </div>
        {% endif %}

        {% if formObject.address3 is defined %}
            <div class="govuk-form-group">
                {% set formAddress3Label = translationPrefix ~ 'address3.label' %}
                {% set formAddress3Context = translationPrefix ~ 'address3.context' %}
                {{ formAddress3Label | trans({}, transDomain) }}<span
                    class="govuk-visually-hidden">{{ formAddress3Context | trans({}, transDomain) }}</span>
                {{ form_input(formObject.address3, '') }}
            </div>
        {% endif %}

        {% if formObject.address4 is defined %}
            <div class="govuk-form-group">
                {% set formAddress4Label = translationPrefix ~ 'address4.label' %}
                {% set formAddress4Context = translationPrefix ~ 'address4.context' %}
                {{ formAddress4Label | trans({}, transDomain) }}<span
                    class="govuk-visually-hidden">{{ formAddress4Context | trans({}, transDomain) }}</span>
                {{ form_input(formObject.address4, '') }}
            </div>
        {% endif %}

        {% if formObject.address5 is defined %}
            <div class="govuk-form-group">
                {% set formAddress5Label = translationPrefix ~ 'address5.label' %}
                {% set formAddress5Context = translationPrefix ~ 'address5.context' %}
                {{ formAddress5Label | trans({}, transDomain) }}<span
                    class="govuk-visually-hidden">{{ formAddress5Context | trans({}, transDomain) }}</span>
                {{ form_input(formObject.address5, '') }}
            </div>
        {% endif %}

        {% if formObject.postcode is defined %}
            <div class="govuk-form-group">
                {% set formPostcodeLabel = translationPrefix ~ 'postcode.label' %}
                {{ formPostcodeLabel | trans({}, transDomain) }}
                {{ form_input(formObject.postcode, '') }}
            </div>
        {% endif %}

        {% if formObject.addressPostcode is defined %}
            <div class="govuk-form-group">
                {% set formaddressPostcodeLabel = translationPrefix ~ 'addressPostcode.label' %}
                {{ formaddressPostcodeLabel | trans({}, transDomain) }}
                {{ form_input(formObject.addressPostcode, '') }}
            </div>
        {% endif %}

        {% if formObject.country is defined %}
            <div class="govuk-form-group">
                {% set formCountryLabel = translationPrefix ~ 'country.label' %}
                {{ formCountryLabel | trans({}, transDomain) }}
                {{ form_input(formObject.country, '') }}
            </div>
        {% endif %}

        {% if formObject.addressCountry is defined %}
            <div class="govuk-form-group">
                {% set formaddressCountryLabel = translationPrefix ~ 'addressCountry.label' %}
                {{ formaddressCountryLabel | trans({}, transDomain) }}
                {{ form_input(formObject.addressCountry, '') }}
            </div>
        {% endif %}

    </fieldset>
{% endmacro %}

{%- macro checkbox_group(formElement, options) -%}
    <div
        id="form-group-{{ formElement.vars.id }}"
        class="govuk-form-group {% if not formElement.vars.valid %}govuk-form-group--error{% endif %}"
    >
        <fieldset class="govuk-fieldset" aria-describedby="hint-{{ formElement.vars.id }}">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    {{ ('form.' ~ formElement.vars.name ~ '.label') | trans({}, formElement.vars.translation_domain) }}
                </h1>
            </legend>

            <div class="govuk-checkboxes">
                {% set translatedHint = ('form.' ~ formElement.vars.name ~ '.hint') | trans({}, formElement.vars.translation_domain) %}
                {% if translatedHint != ('form.' ~ formElement.vars.name ~ '.hint') %}
                    <div id="hint-{{ formElement.vars.id }}" class="govuk-hint">
                        {{ ('form.' ~ formElement.vars.name ~ '.hint') | trans({}, formElement.vars.translation_domain) }}
                    </div>
                {% endif %}

                {{ form_errors(formElement) }}

                {% for child in formElement %}
                    <div class="govuk-checkboxes__item">
                        {{ form_widget(child, {'attr': {'class': 'govuk-checkboxes__input'}}) }}
                        {{ form_label(child, null, {'label_attr': {'class': 'govuk-label govuk-checkboxes__label'}}) }}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{%- endmacro -%}

{%- macro radio_group(formElement, options) -%}
    <div
        id="form-group-{{ formElement.vars.id }}"
        class="govuk-form-group {% if not formElement.vars.valid %}govuk-form-group--error{% endif %}"
    >
        <fieldset class="govuk-fieldset" aria-describedby="hint-{{ formElement.vars.id }}">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    {{ ('form.' ~ formElement.vars.name ~ '.label') | trans({}, formElement.vars.translation_domain) }}
                </h1>
            </legend>

            <div class="govuk-radios {% if formElement.children < 3 %} govuk-radios--inline {% endif %}">
                {% set translatedHint = ('form.' ~ formElement.vars.name ~ '.hint') | trans({}, formElement.vars.translation_domain) %}
                {% if translatedHint != ('form.' ~ formElement.vars.name ~ '.hint') %}
                    <div id="hint-{{ formElement.vars.id }}" class="govuk-hint">
                        {{ ('form.' ~ formElement.vars.name ~ '.hint') | trans({}, formElement.vars.translation_domain) }}
                    </div>
                {% endif %}

                {{ form_errors(formElement) }}

                {% for child in formElement %}
                    <div class="govuk-radios__item">
                        {{ form_widget(child, {'attr': {'class': 'govuk-radios__input'}}) }}
                        {{ form_label(child, null, {'label_attr': {'class': 'govuk-label govuk-radios__label'}}) }}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{%- endmacro -%}

{%- macro edit_remove_links_dd(editPathName, editOptions, removePathName, removeOptions, editLinkContextText, removeLinkContextText) -%}
    <dd class="govuk-summary-list__value govuk-!-text-align-right">
        <span>
            <a
                href="{{ path('client_benefits_check_step', editOptions) }}"
                class="govuk-link"
            >
                {{ 'edit' | trans({}, 'common' ) }} <span class="govuk-visually-hidden">{{ editLinkContextText }}</span>
            </a>
        </span>
        <span>
            <a
                href="{{ path(removePathName, removeOptions) }}"
                class="govuk-link govuk-!-margin-left-1"
            >
                {{ 'remove' | trans({}, 'common' ) }} <span class="govuk-visually-hidden">{{ removeLinkContextText }}</span>
            </a>
        </span>
    </dd>
{%- endmacro -%}
