{# =================================================================== #}
{# Deputy and client information #}

{% macro caseNumber(caseNumber) %}
<div class="box" id="case-number">
    <dl class="labelvalue inline">
        <dt class="label bold bigger">Case number</dt>
        <dd class="value" id="caseNumber">{{ caseNumber }}</dd>
    </dl>
</div>
{% endmacro %}

{% macro deputyClientInfo(ndr, submittedBy, client, adLoggedAsDeputy) %}
<div class="box">
    <div id="deputy-details-subsection" class="half-width first">
        <h3 class="left">Deputy details</h3>

        {# for PROF users, deputy is always the named deputy #}
        {% set deputy = submittedBy.isDeputyOrg and client.getDeputy ? client.getDeputy : submittedBy %}
        <dl class="labelvalue cl">
            <dt class="label">First names</dt>
            <dd class="value behat-region-deputy-firstname">{{ deputy.firstname}}</dd>

            <dt class="label">Last name</dt>
            <dd class="value behat-region-deputy-lastname">{{ deputy.lastname}}</dd>

            <dt class="label">{{ 'address' | trans({}, 'common' ) }}</dt>
            <dd class="value address-value behat-region-deputy-address">
                {% if deputy.address1 is not empty %}
                    {{ deputy.address1 }}<br/>
                {% endif %}
                {% if deputy.address2 is not empty %}
                    {{ deputy.address2 }}<br/>
                {% endif %}
                {% if deputy.address3 is not empty %}
                    {{ deputy.address3 }}<br/>
                {% endif %}
                {% if deputy.address4 is not empty %}
                    {{ deputy.address4 }}<br/>
                {% endif %}
                {% if deputy.address5 is not empty %}
                    {{ deputy.address5 }}<br/>
                {% endif %}
                {% if deputy.addressPostcode is not empty %}
                    {{ deputy.addressPostcode }}<br/>
                {% endif %}
                {% if deputy.addressCountry is not empty %}
                    {{ deputy.addressCountry | country_name }}
                {% endif %}
            </dd>

            <dt class="label">Telephone number</dt>
            <dd class="value behat-region-deputy-phone">
                {% if deputy.phoneMain %}
                    {{ deputy.phoneMain }}
                {% else %}
                    {{ submittedBy.phoneMain  }}
                {% endif %}
                {% if deputy.phoneAlternative %}
                    <br/>{{ deputy.phoneAlternative }}
                {% endif %}
            </dd>
        </dl>
    </div>
    <div id="client-details-subsection" class="half-width">
        <h3>Client details</h3>

        <dl class="labelvalue">
            <dt class="label">First names</dt>
            <dd class="value">{{ client.firstname }}</dd>

            <dt class="label">Last name</dt>
            <dd class="value" id="ClientLastName">{{ client.lastname }}</dd>

            <dt class="label">{{ 'address' | trans({}, 'common' ) }}</dt>
            <dd class="value address-value">
                {% if client.address is not empty %}
                    {{ client.address }}<br/>
                {% endif %}
                {% if client.address2 is not empty %}
                    {{ client.address2 }}<br/>
                {% endif %}
                {% if client.address3 is not empty %}
                    {{ client.address3 }}<br/>
                {% endif %}
                {% if client.address4 is not empty %}
                    {{ client.address4 }}<br/>
                {% endif %}
                {% if client.address5 is not empty %}
                    {{ client.address5 }}<br/>
                {% endif %}
                {% if client.postcode is not empty %}
                    {{ client.postcode }}<br/>
                {% endif %}
                {% if client.country is not empty %}
                    {{ client.country | country_name }}
                {% endif %}
            </dd>

            <dt class="label">Telephone number</dt>
            <dd class="value">{{client.phone}}</dd>
        </dl>
    </div>
    {# TODO condition should be removed ? kept until not clarified. To remove after AD is removed #}
    {% if (ndr and not adLoggedAsDeputy) or not ndr %}
        <div class="full-width push-half--top">
            <dl class="labelvalue">
                <dt class="label">{{ 'email' | trans({}, 'common' ) }}</dt>
                <dd class="value behat-region-deputy-email">{{deputy.email}}</dd>
            </dl>
        </div>
    {% endif %}

</div>
{% endmacro %}

{# =================================================================== #}
{# Visits and care #}

{% macro careArrangements(visitsCare, transOptions, translationDomain) %}
<div class="dont-break">
    <h3>Care arrangements</h3>
    <div class="box" id="care-arrangements-subsection">
        <h3 class="label question bold">{{ 'form.doesClientReceivePaidCare.label' | trans(transOptions, translationDomain) }}</h3>

        <table class="checkboxes labelvalue inline">
            <tr>
                <td class="value checkbox"{% if visitsCare.doesClientReceivePaidCare == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                <td class="value checkbox"{% if visitsCare.doesClientReceivePaidCare == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
            </tr>
        </table>

        <div id="safeguarding-care-funding" class="labelvalue push-half--top">
            <h3 class="label question bold">If yes, how is the care funded?</h3>
            <table class="checkboxes labelvalue">
                <tr>
                    <td class="clean-cell">
                        <span class="checkbox value"
                            {% if visitsCare.doesClientReceivePaidCare == 'yes' and visitsCare.howIsCareFunded == 'client_pays_for_all' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                        </span>
                    </td>
                    <td class="label soft-half--bottom">{{ 'form.howIsCareFunded.choices.client_pays_for_all' | trans(transOptions, translationDomain) }}</td>
                </tr>
                <tr>
                    <td class="clean-cell">
                        <span class="checkbox value"
                            {% if visitsCare.doesClientReceivePaidCare == 'yes' and visitsCare.howIsCareFunded == 'client_gets_financial_help' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                        </span>
                    </td>
                    <td class="label soft-half--bottom">{{ 'form.howIsCareFunded.choices.client_gets_financial_help' | trans(transOptions, translationDomain) }}</td>
                </tr>
                <tr>
                    <td class="clean-cell">
                        <span class="checkbox value"
                            {% if visitsCare.doesClientReceivePaidCare == 'yes' and visitsCare.howIsCareFunded == 'all_care_is_paid_by_someone_else' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}
                        </span>
                    </td>
                    <td class="label hard--ends">{{ 'form.howIsCareFunded.choices.all_care_is_paid_by_someone_else' | trans(transOptions, translationDomain) }}</td>
                </tr>
            </table>
        </div>

        <div class="labelvalue push-half--top">
            <h3 class="label question bold">Who is doing the caring?</h3>
            <div class="value">{{ visitsCare.whoIsDoingTheCaring }}</div>
        </div>

    </div>
</div>
{% endmacro %}

{# =================================================================== #}
{# Deputy expenses #}

{% macro deputyExpenses(ndr,report) %}
<div class="dont-break">
    <div class="box">
        <h3 class="label question bold">
            {% if ndr %}
                Did you pay for anything for the client before you were given your court order?
            {% else %}
                Have you claimed any deputy expenses during this reporting period?
            {% endif %}
        </h3>

        <table class="checkboxes labelvalue inline">
            <tr>
                <td class="value checkbox"{% if report.paidForAnything == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                <td class="value checkbox"{% if report.paidForAnything == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
            </tr>
        </table>

        {% if report.paidForAnything == 'yes' %}
            <table class="labelvalue money push--top">
                {% for expense in report.expenses %}
                    <tr>
                        <td class="label noborder">{{ expense.explanation }}</td>
                        <td class="value text--right width-fifth">&pound;{{ expense.amount | money_format }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endmacro %}

{# generic macro for answers #}
{% macro answerSimple(param) %}
    <div class="dont-break">
        <div class="box">
            <h3 class="label question bold">{{ param.question }}</h3>
            <div class="value">{{ param.answer }}</div>
        </div>
    </div>
{% endmacro %}

{% macro answerYesNo(param) %}
    <div class="dont-break">
        <div class="box">
            <h3 class="label question bold">{{ param.question }}</h3>

            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="value checkbox"{% if param.answer == 'yes' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">{{ 'yes' | trans({}, 'common' ) }}</td>
                    <td class="value checkbox"{% if param.answer == 'no' %} aria-label=”Selected”>X{% else %}>&nbsp;{% endif %}</td>
                    <td class="label">{{ 'no' | trans({}, 'common' ) }}</td>
                </tr>
            </table>

            {% if param.showMoreDetailsWith | default(false) and param.answer == param.showMoreDetailsWith %}
                <div class="labelvalue push-half--top">
                    {% if param.moreDetailsLabel | default(false) %}
                        <h3 class="label question bold">{{ param.moreDetailsLabel }}</h3>
                    {% endif %}
                    <div class="value">{{ param.moreDetails | nl2br }}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
