{% trans_default_domain "report-transactions" %}

{{ form_errors_list(form) }}

{{ form_start(form, {attr: {novalidate: 'novalidate', class: 'expanding-transaction-table form-horizontal' }}) }}
    <div class="sections">
        {% for category, transactions in transactionsGrouped %}
        <div class="section">
            <div class="summary" id="{{ category }}">
                <div class="title">{{ ('form.categories.' ~ category)  | trans({'%client%': report.client.firstname}, 'report-transactions') | raw  }}</div>
                <div class="sub-total">£<span class="value">{{ transactions.amountTotal | money_format}}</span></div>
            </div>
            <div class="detail transactions detail-view">
                {% for id, transaction in transactions.entries %}
                    {% if formTransactions[id].moreDetails is defined %}
                    {%     set formGroupClass = 'form-group-compound' %}
                    {% else %}
                    {%     set formGroupClass = '' %}
                    {% endif %}
                    <div class="transaction">
                        {#access the element via ID, set from the model therefore matching#}
                        {{ form_row(formTransactions[id].id) }}
                        {{ form_row(formTransactions[id].type) }}

                        {% for a in formTransactions[id].amounts %}
                            {% set labelText =  loop.index == 1 ? ('form.entries.' ~ transaction.id ~ '.label') | trans({'%client%': report.client.firstname}, 'report-transactions') : '' %}
                            {{ form_input(a, 'form.entries.' ~ transaction.id, {
                                'inputPrefix' : '£',
                                'inputClass' : 'form-control__number transaction-value',
                                'labelText': labelText,
                                'formGroupClass': formGroupClass ~ ' form-group-value'
                            }) }}
                        {% endfor %}

                        <div class="add-transaction hidden">
                            <a href="#">{{ 'addAnother' | trans }}</a>
                        </div>

                        {% if formTransactions[id].moreDetails is defined %}
                            {{ form_input(formTransactions[id].moreDetails, '', {
                                'labelText': ('form.entries.' ~ transaction.id ~ '.moreInformations') | trans({'%client%': report.client.firstname}, 'report-transactions'),
                                'formGroupClass': 'form-group-combo-description',
                                'inputClass': 'expanding transaction-more-details'
                            }) }}
                        {% endif %}


                    </div>
                {% endfor %}
                <div class="sub-total">
                    Total {{ ('form.categories.' ~ category)  | trans({'%client%': report.client.firstname}, 'report-transactions') | lower | raw  }}:£<span class="value">{{ transactions.amountTotal | money_format }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="grand-total">
            {{ (subsection ~ '.grandtotal')| trans }}:
            <span class="currency">£</span>
            <span class="value behat-region-transaction-total">{{ transactionsTotal | money_format}}</span>
        </div>
    </div>

    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
        transDomain: translationDomain,
        showDelete: false,
        showCancel: false,
        section: 'account',
    } %}

{{ form_end(form) }}

<script>
    $( document ).ready(function() {
        new GOVUK.ExpandingTransactionTable('.expanding-transaction-table');
        new GOVUK.AutoSave({
            form: $('form.expanding-transaction-table'),
            statusElement: $('#save-status'),
            url: '{{ path('accounts_money_save_json', {'reportId': report.id, 'type': jsonEndpoint}) }}',
            preprocessor: GOVUK.moneyInOuPreprocessor
        });
        $('form.expanding-transaction-table button[type="submit"]').hide();

        $('.add-transaction').removeClass('hidden');

        $('input.transaction-value').on('blur', function (event) {
            GOVUK.formatCurrency(event.target);
        });

        GOVUK.accountTransactionExpander();
    });
</script>
