{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-accounts" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}
    <span id="save-status"></span>

    <h3 class="heading-medium flush--top">{{ 'moneyOut.pageSectionTitle' | trans({'%client%': report.client.firstname}, translationDomain) }}</h3>
    <p>{{ 'moneyOut.pageSectionDescription' | trans({
            '%client%': report.client.firstname,
            '%startDate%': '<span class="no-wrap">' ~ report.startDate | date("j F Y") ~ '</span>',
            '%endDate%': '<span class="no-wrap">' ~ report.endDate | date("j F Y") ~ '</span>',
            '%paragraphBreak%': '</p><p>',
        }) | raw }}</p>
    {% include 'AppBundle:Report/MoneyTransaction:_transactions.html.twig' with {
    transDomain: translationDomain,
    transactionsGrouped: report.groupByCategory(report.transactionsOut),
    transactionsTotal: report.getMoneyOutTotal,
    formTransactions: form.transactionsOut
    } %}

    {% include 'AppBundle:Components:nextprevious.html.twig' with {
    'previousLink': path("money_in" , {'reportId': report.id }),
    'previousLabel': 'Money in',
    'nextLink': path("balance" , {'reportId': report.id }),
    'nextLabel': 'Balance accounts'
    } %}

{% endblock %}

