{% set translationDomain = "report-pa-fee-expense" %}
{% trans_default_domain translationDomain %}

{% set hideEditLink = hideEditLink | default(false) %}

{% if report.hasFees == 'yes' %}

    {% set showDetailsColumn = false %}
    {% for fee in report.fees  %}
        {% if fee.moreDetails %}
            {% set showDetailsColumn = true %}
        {% endif %}
    {% endfor %}

    {# Items list heading #}
    <div class="govuk-grid-row behat-region-fees-list">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">List of deputy fees and expenses</h2>
        </div>
        {% if not hideEditLink %}
            <div class="govuk-grid-column-one-half text--right">
                <strong>
                    <a href="{{ path('pa_fee_expense_fee_edit', {'reportId': report.id, 'from': 'summary'}) }}" class="govuk-link behat-link-edit">{{ 'edit' | trans({}, 'common' ) }}</a>
                </strong>
            </div>
        {% endif %}
    </div>

    {# Items list table #}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    Categories of fees
                </th>
                {% if showDetailsColumn %}
                    <th scope="col" class="govuk-table__header">
                        Details
                    </th>
                {% endif %}
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                    Amount
                </th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            {% for fee in report.fees %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        {% set feeLabel = ('form.entries.' ~ fee.feeTypeId ~ '.label') | trans(transOptions) %}
                        {{ feeLabel }}
                    </td>
                    {% if showDetailsColumn %}
                        <td class="govuk-table__cell">
                            {% if fee.moreDetails %}
                                {{ fee.moreDetails | nl2br }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        £{{ fee.amount | money_format }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                    Total amount
                </th>
                {% if showDetailsColumn %}
                <td class="govuk-table__cell"></td>
                {% endif %}
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <strong>£{{ report.feesTotal | money_format }}</strong>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}
