{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-pa-fee-expense" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'editPage.htmlTitle' | trans(transOptions) }}{% endblock %}
{% block pageTitle %}{{ 'editPage.pageTitle' | trans(transOptions) }}{% endblock %}


{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <h3 class="govuk-heading-s push--bottom text">
        {{ 'editPage.pageSectionDescription' | trans(transOptions, translationDomain) }}
        {#<span class="form-hint text push-half--bottom">{{ 'editPage.pageHint' | trans(transOptions, translationDomain) }}</span>#}
    </h3>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {% for fee in form.fees %}
        {% set feeId = fee.feeTypeId.vars.value %}
        <div class="{{ fee.moreDetails is defined ? ' js-details-expander'  : '' }} inputs-right-aligned">
            {{ form_row(fee.feeTypeId) }}
            {{ form_input(fee.amount, 'amount', {
                'inputPrefix' : '£',
                'inputClass' : 'govuk-!-width-one-quarter js-format-currency',
                'labelText': ('form.entries.' ~ feeId ~ '.label') | trans
            }) }}

            {% if fee.moreDetails is defined %}
                {{ form_input(fee.moreDetails, 'moreDetails', {
                    'labelText': ('form.entries.' ~ feeId ~ '.moreInformations') | trans,
                    'formGroupClass': 'opg-indented-block hard--top js-hidden js-details-expandable'
                }) }}
            {% endif %}
        </div>
    {% endfor %}

    {{ macros.saveAndContinueButton(form.save) }}

    {{ form_end(form) }}

{% endblock %}
