{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}

    {{ form_input(form.explanation, 'form.explanation', { 'labelRaw': true }) }}
    {{ form_input(form.amount, 'form.amount', {
        'inputPrefix' : '£',
        'inputClass' : 'form-control-1-4 js-more-info js-format-currency'
    }) }}

    {% if report.bankAccounts is not empty and report.type in ['102','102-4'] %}
        {{ form_select(form.bankAccountId, 'form.bankAccount') }}
    {% endif %}

    {{ macros.saveAndContinueButton(form.saveAndContinue) }}

    {% if form.saveAndAddAnother is defined %}
        <span class="govuk-!-margin-left-3 govuk-!-margin-right-3"></span>

        {{ macros.saveAndAddAnotherSaveButton(form.saveAndAddAnother) }}
    {% endif %}

{{ form_end(form) }}
