{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-gifts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{% block htmlTitle %}{{ 'addPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addPage.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'addPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <p class="text">{{ 'addPage.pageSectionDescription' | trans(transOptions) }}</p>

    {% include 'AppBundle:Report/Gift:_form.html.twig' with {
	    'translationDomain': translationDomain,
	    'form': form
    } %}

{% endblock %}
