{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-gifts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{# Page Titles #}
{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'summaryPage.pageSectionTitle' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block pageContent %}

    {# Introduction text #}
    <div class="text">
        <p>{{ 'summaryPage.pageSectionDescription' | trans(transOptions) }}</p>
    </div>

    {# Check answers text #}
    <h2 class="heading-small">{{ 'summaryPage.pageContent.weHaveListed' | trans(transOptions, 'common') }}</h2>
    <p class="text">{{ 'summaryPage.pageContent.checkCorrect' | trans(transOptions, 'common') }}</p>

    {# Return to overview/client profile link #}
    {{ macros.returnToOverview(report) }}

    {# Items list #}
    {% include 'AppBundle:Report/Gift:_list.html.twig' with {
    'report': report,
    'transDomain': translationDomain
    } %}

    {# Pagination #}
    {{ macros.reportSectionPrevNext(report, 'gifts') }}



{% endblock %}
