{% set translationDomain = "ndr-declaration" %}
{% if app.user.isLayDeputy %}
    {% set standardsLink = "https://www.gov.uk/government/publications/opg-deputy-standards-guidance-for-lay-deputies/guidance-for-lay-deputies" %}
{% elseif app.user.isDeputyPa %}
    {% set standardsLink = "https://www.gov.uk/government/publications/opg-deputy-standards-guidance-for-public-authority-deputies/guidance-for-public-authority-deputies" %}
{% elseif app.user.isDeputyProf %}
    {% set standardsLink = "https://www.gov.uk/government/publications/opg-deputy-standards-guidance-for-professional-deputies/guidance-for-professional-deputies" %}
{% endif %}
{% set transOptions = {'%link_start%': '<a href="'~standardsLink~'" class="govuk-link" rel="noreferrer noopener" target="_blank">', '%link_end%': '</a>'} %}
{% trans_default_domain translationDomain %}
{% if ndr.submitted %}

<div class="section">
    <h2 class="section-heading">{{ 'page.pageTitle' | trans }}</h2>
    <div class="box behat-region-deputy-declaration">

        <p class="label">{{ 'page.descriptionPara01' | trans }}</p>
        <p class="label">{{ 'page.descriptionPara02' | trans }}</p>
        <p class="label">{{ 'page.descriptionPara03' | trans }}</p>
        <p class="label">{{ 'page.descriptionPara04' | trans(transOptions) | striptags('<a>') | raw }}</p>

        <dl class="labelvalue">
            <dt class="label">{{ 'declaration' | trans }}</dt>
            <dd class="value" id="declarationString">
                {{ ('agreedBehalfDeputy.' ~ ndr.agreedBehalfDeputy) | trans() }}
            </dd>
            {% if (ndr.agreedBehalfDeputy == 'more_deputies_not_behalf') %}
                <dt class="label">{{ 'partAgreedReason' | trans }}</dt>
                <dd class="value">{{ ndr.agreedBehalfDeputyExplanation | nl2br }}</dd>
            {% endif %}
            <dt class="label">{{ 'declarationTime' | trans }}</dt>
            <dd class="value">{{ndr.submitDate | date("H:i") }}&nbsp;&nbsp;&nbsp;{{ndr.submitDate | date("d/m/Y") }}</dd>
            <dt class="label">{{ 'submittedBy' | trans }}</dt>
            <dd class="value" id="statusDeputyName">{{ app.user.fullname }}</dd>
        </dl>
    </div>
</div>
{% endif %}
