{% set translationDomain = "ndr-declaration" %}
{% set standardsLink = app.user.getStandardsLink %}
{% trans_default_domain translationDomain %}
{% if ndr.submitted %}

<div class="section">
    <h2 class="section-heading">{{ 'page.pageTitle' | trans }}</h2>
    <div class="box behat-region-deputy-declaration">

        <p class="label">{{ 'page.descriptionPara01' | trans }}</p>
        <p class="label">{{ 'page.descriptionPara02' | trans }}</p>
        <p class="label">{{ 'page.descriptionPara03' | trans }}</p>
        <p class="label">{{ 'page.descriptionPara04.pre' | trans }}
            <a href= '{{ standardsLink }}' class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'page.descriptionPara04.link' | trans }}</a>
            {{ 'page.descriptionPara04.post' | trans }}
        </p>

        <dl class="labelvalue">
            <dt class="label">{{ 'declaration' | trans }}</dt>
            <dd class="value" id="declarationString">
                {{ ('agreedBehalfDeputy.' ~ ndr.agreedBehalfDeputy) | trans() }}
            </dd>
            {% if (ndr.agreedBehalfDeputy == 'more_deputies_not_behalf') %}
                <dt class="label">{{ 'partAgreedReason' | trans }}</dt>
                <dd class="value">{{ ndr.agreedBehalfDeputyExplanation | nl2br }}</dd>
            {% endif %}
            <dt class="label">{{ 'declarationTime' | trans }}</dt>
            <dd class="value">{{ndr.submitDate | date("H:i") }}&nbsp;&nbsp;&nbsp;{{ndr.submitDate | date("d/m/Y") }}</dd>
            <dt class="label">{{ 'submittedBy' | trans }}</dt>
            <dd class="value" id="statusDeputyName">{{ app.user.fullname }}</dd>
        </dl>
    </div>
</div>
{% endif %}
