{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% set hideEditLink = hideEditLink | default(false) %}

<dl class="govuk-summary-list">
    {{ macros.summaryListHeaderQA(hideEditLink) }}

    <div class="govuk-summary-list__row behat-region-categories">
        {% if not report.moneyInExists == 'No' %}
            <dt class="govuk-summary-list__key">
                <span class="error">
                    {{ 'summaryPage.moneyIn.hasMoneyIn.label' | trans(transOptions) }}
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
            </dd>
        {% else %}
            <dt class="govuk-summary-list__key">
                {{ 'summaryPage.moneyIn.hasMoneyIn.label' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.moneyInExists }}
            </dd>
        {% endif %}
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link behat-link-edit" id="moneyInExistsEdit" href="{{ path('does_money_in_short_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                    {{ 'edit' | trans({}, 'common') }}
                </a>
            </dd>
        {% endif %}
    </div>

    {% if report.reasonForNoMoneyIn %}
        <div class="govuk-summary-list__row behat-region-reason-no-money-in">
            <dt class="govuk-summary-list__key">
                {{ 'summaryPage.moneyIn.reasonForNoMoneyIn.label' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ report.reasonForNoMoneyIn | nl2br }}
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link behat-link-edit" href="{{ path('no_money_in_short_exists', { 'reportId': report.id, 'from': 'summary'}) }}">
                        {{ 'edit' | trans({}, 'common') }}
                    </a>
                </dd>
            {% endif %}
        </div>
    {% endif %}

    {% if report.moneyInExists == 'Yes' %}
        <div class="govuk-summary-list__row behat-region-categories">
            <dt class="govuk-summary-list__key">
                {{ 'form.categoriesIn.label' | trans(transOptions) }}
            </dt>
            <dd class="govuk-summary-list__value">
                {% set categories = report.moneyShortCategoriesInPresent %}
                {% if categories | length == 0 %}
                    None
                {% else %}
                    <ul class="govuk-list govuk-list--bullet">
                        {% for c in categories %}
                            <li>
                                {{ ('form.categoriesEntries.' ~ c.typeId ~ '.label') | trans(transOptions) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </dd>
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link behat-link-edit" href="{{ path('money_in_short_category', { 'reportId': report.id, 'from': 'summary' }) }}">
                        {{ 'edit' | trans({}, 'common') }}
                    </a>
                </dd>
            {% endif %}
        </div>
    {% endif %}
</dl>

{% if report.moneyInExists == 'Yes' %}
    <dl class="govuk-summary-list">
        {{ macros.summaryListHeaderQA(hideEditLink) }}
        <div class="govuk-summary-list__row behat-region-records-exist">

            {% if report.moneyTransactionsShortInExist is null or (report.moneyTransactionsShortInExist == "yes" and report.moneyTransactionsShortIn | length == 0) %}
                <dt class="govuk-summary-list__key">
                    <span class="error">
                        {{ 'summaryPage.moneyIn.moneyTransactionsShortInExist.label' | trans(transOptions) }}
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="error-message">{{ 'pleaseAnswer' | trans({}, 'common' ) }}</span>
                </dd>
            {% else %}
                <dt class="govuk-summary-list__key">
                    {{ 'summaryPage.moneyIn.moneyTransactionsShortInExist.label' | trans(transOptions) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ report.moneyTransactionsShortInExist | capitalize }}
                </dd>
            {% endif %}
            {% if not hideEditLink  %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link behat-link-edit" href="{{ path('money_in_short_one_off_payments_exist', { 'reportId': report.id, 'from': 'summary' }) }}">
                        {{ 'edit' | trans({}, 'common') }}
                    </a>
                </dd>
            {% endif %}
        </div>
    </dl>

    {% if report.moneyTransactionsShortIn | length > 0 %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">{{ 'summaryPage.moneyIn.listOfIncomeItems' | trans }}</h2>
            </div>
            {% if not hideEditLink  %}
                <div class="govuk-grid-column-one-half text--right">
                    <a class="govuk-link behat-link-add" href="{{ path('money_in_short_add', { 'reportId': report.id, 'from': 'summary'}) }}">
                        <strong>
                            <span class="icon icon-plus"></span>
                            {{ 'summaryPage.moneyIn.addButton' | trans }}
                        </strong>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if report.moneyTransactionsShortIn | length > 0 %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    {{ 'summaryPage.moneyIn.list.label.description' | trans }}
                </th>
                <th scope="col" class="govuk-table__header">
                    {{ 'summaryPage.moneyIn.list.label.date' | trans }}
                </th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                    {{ 'summaryPage.moneyIn.list.label.amount' | trans }}
                </th>
                {% if not hideEditLink  %}
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                        <span class="govuk-visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
                    </th>
                {% endif %}
            </tr>
            </thead>

            <tbody class="govuk-table__body">
            {% for tr in report.moneyTransactionsShortIn %}
                <tr class="govuk-table__row behat-region-transaction-{{ tr.description | behat_namify }}">
                    <th scope="row" class="govuk-table__header">
                        {{ tr.description }}
                    </th>
                    <td class="govuk-table__cell">
                        {{ tr.date ? tr.date | date("j F Y")  : '-' }}
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        £{{ tr.amount | money_format }}
                    </td>
                    {% if not hideEditLink  %}
                        <td class="govuk-table__cell">
                            <a href="{{ path('money_in_short_edit', { 'reportId': report.id, 'transactionId': tr.id }) }}"
                               class="behat-link-edit govuk-link">{{ 'edit' | trans({}, 'common') }}</a>
                            <a href="{{ path('money_in_short_delete', { 'reportId': report.id, 'transactionId': tr.id }) }}"
                               class="govuk-link govuk-!-margin-left-1 behat-link-delete">{{ 'remove' | trans({}, 'common' ) }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ 'summaryPage.moneyIn.list.label.totalAmount' | trans }}</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <strong class="behat-region-transaction-total">£{{ report.totalValue(report.moneyTransactionsShortIn) | money_format }}</strong>
                </td>
                {% if not hideEditLink  %}
                    <td class="govuk-table__cell"></td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endif %}
