{% extends '@App/Layouts/application.html.twig'%}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'startPage.moneyIn.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'startPage.moneyIn.pageTitle' | trans }}{% endblock %}


{% block breadcrumbs %}{{ macros.breadcrumbs(report) }}{% endblock %}

{% block notification %}
    {{ macros.notification('info', 'startPage.notification' | trans)}}
{% endblock %}

{% block pageContent %}

    <p class="govuk-body">
        {{ 'startPage.moneyIn.pageSectionDescription1' | trans(transOptions, translationDomain) }}
    </p>

    {{ macros.startSectionButton(path('does_money_in_short_exist', { 'reportId': report.id}), 'startPage.moneyIn.startButton' | trans) }}

    {# Pagination #}
    {% include '@App/Report/_nextprevious.html.twig' with {
        'report': report,
        'sectionId': 'moneyInShort',
    } %}

{% endblock %}
